<plugin>
    <nom>Publication d'un article sous forme d'album photo</nom>
    <auteur>Equipe de d&eacute;veloppement d'Eva</auteur>
    <version>0.1</version>
    <etat>stable</etat>
    <description>
    {{{Publication d'un article sous forme d'album photo}}}
    
    {{Int&eacute;ret de ce plugin}}<br />
    - Publier une s&eacute;rie de photographies dans un article <br />
    - Permettre le passage d'une photographie &agrave; une autre par un simple clic de souris<br />
    - Afficher les miniatures des photographies &agrave; afficher<br />
    - Afficher chaque photographie en plein &eacute;cran par un simple clic<br />

    {{Mise en place de ce plugin}}<br />
    - Activer le plugin en cochant la case ci-contre, puis valider<br />
    - Suivre la proc&eacute;dure de mise en place de l'album photo d&eacute;critre dans l'aide d'Eva<br />
    </description>
    <prefix>article_album_photo</prefix>
    <categorie>squelette</categorie>
</plugin>
