<plugin>
	<nom>Publication d&#8217;un article sous forme d&#8217;album photo</nom>
	<slogan>Publiez vos séries de photos sur une même page/slogan>
	<auteur>Equipe de d&#233;veloppement d&#8217;Eva</auteur>
	<version>0.1</version>
	<etat>stable</etat>
	<description>
{{Int&#233;ret de ce plugin}}
- Publier une s&#233;rie de photographies dans un article 
- Permettre le passage d&#8217;une photographie &#224; une autre par un simple clic de souris
- Afficher les miniatures des photographies &#224; afficher
- Afficher chaque photographie en plein &#233;cran par un simple clic

{{Mise en place de ce plugin}}
- Activer le plugin en cochant la case ci-contre, puis valider
- Suivre la proc&#233;dure de mise en place de l&#8217;album photo d&#233;critre dans l&#8217;aide d&#8217;Eva
	</description>
	<prefix>article_album_photo</prefix>
	<categorie>squelette</categorie>
	<necessite id="spip" version="[2.0.0;2.1.99]" /> 
</plugin>
