<plugin>
	<nom>jayceeWeb : site Web pour JCEF</nom>
	<auteur>[St&eacute;phane GAUTREAU - F&eacute;d&eacute;ration Poitou-Charentes ->http://www.jce-poitoucharentes.org/Votre-site-web-JCE-avec-SPIP-rub36.html]
_ 2007-2008 Licence GNU/GPL.
	</auteur>
	<version>2.0</version> <!-- version du plugin, pas de SPIP -->
	<etat>stable</etat>

	<description>
	<multi>
	SPIP-JayceeWeb propose des fonctionnalit&eacute;s communautaires et des th&egrave;mes pour la gestion de site de Jeunes Chambres Economiques Locales et R&eacute;gionales.
		[fr]
	SPIP-JayceeWeb propose des fonctionnalit&eacute;s communautaires et des th&egrave;mes pour la gestion de site de Jeunes Chambres Economiques Locales et R&eacute;gionales.
		[en]
	SPIP-JayceeWeb gives some community features and some themes to manage LMO and RMO web sites.
	</multi>
	</description>
	<lien>http://www.jce-poitoucharentes.org/Votre-site-web-JCE-avec-SPIP-rub36.html</lien> <!-- URI de documentation -->
	
	<options>mes_options_jayceeWeb.php</options>
	<prefix>jayceeWeb</prefix>
	<install>base/jayceeWeb_upgrade.php</install>

	<necessite id='CFG' version='[1.0;1.13)' />

</plugin>
