<plugin>
	<nom>SPIP-JayceeWeb JCEF-JCI</nom>
	<auteur>[Stéphane GAUTREAU - Fédération Poitou-Charentes ->http://www.jce-poitoucharentes.org/Votre-site-web-JCE-avec-SPIP-rub36.html]
_ 2007-2008 Licence GNU/GPL.
	</auteur>
	<version>0.7</version> <!-- version du plugin, pas de SPIP -->
	<etat>stable</etat>

	<description>
<multi>
SPIP-JayceeWeb propose des fonctionnalités communautaires et des thèmes pour la gestion de site de Jeunes Chambres Economiques Locales et Régionales.
	[fr]
SPIP-JayceeWeb propose des fonctionnalités communautaires et des thèmes pour la gestion de site de Jeunes Chambres Economiques Locales et Régionales.
	[en]
SPIP-JayceeWeb gives some community features and some themes to manage LMO and RMO web sites.
</multi>

		<lien>http://www.jce-poitoucharentes.org/Votre-site-web-JCE-avec-SPIP-rub36.html</lien> <!-- URI de documentation -->
	</description>
	
	<options>mes_options_jayceeWeb.php</options>
	<prefix>jayceeWeb</prefix>
	<install>base/jayceeWeb_upgrade.php</install>

	<necessite id='CFG' version='[1.0;1.1)' />
	<necessite id='session' version='[1.0;1.1)' />
	

</plugin>
