/* CSS Document */
.bandeau_haut {min-height: 50px; background: #6262A4;}

.nav_bandeau{float: right; min-width: 150px; max-width : 45%;color:#EEEEEE ;font-size:1.2em}

.nav_raccourci, .nav_langue {margin-right:5px; text-align:right;}
.nav_langue {line-height:1.6em;}
.nav_langue ul,.nav_raccourci ul {padding:0 5px 0 0;  margin : 5px 0px; line-height: 1em;}
.nav_langue li,.nav_raccourci li  {display:inline;list-style:none; }
.nav_langue li a,.nav_raccourci li a {color:#EEEEEE ; text-decoration:none; padding:0 2px 0 2px;font-weight: bold;}
.nav_langue li a:hover,.nav_raccourci li a:hover {color:#AAAAAA ; text-decoration:none;}
.nav_langue li.on { font-size:1.25em;font-weight: bold;}
.nav_raccourci li.auteur a{font-weight: normal;}
.nav_raccourci li.auteur a:hover{text-decoration:underline;}

.raccourci_bandeau {}

.identite_site {}
.site_logo { margin:10px 5px 5px 10px; float:left;}
.site_nom  {background: #6262A4;padding:10px 0 0 10px; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
/*.site_nom h1 {font-size:200%; margin:0px;}*/
.site_nom h1 a {color:#EEEEEE; text-decoration:none;}
.site_nom h1 a:hover {color:#AAAAAA;}
.site_nom h2 {font-size:2em;line-height: 1em; margin:0px; color:#EEEEEE;display:inline}

.bandeau_bas {min-height: 50px; text-align: center; background-image: url(../images/banniere.gif); background-repeat: repeat-x;}
a .bandeau_bas  {display:inline}

.bandeau_chemin {
	background: #DDDDEF;
	padding: 0px 10px 0px 10px;
	margin: 0 0 20px 0;
	text-align: left;
	font: 1.1em/1em Verdana,Helvetica,Arial,sans-serif;
	color: #6262A4;
	font-weight: bold;
	height: 22px;
}
* html .bandeau_chemin,*+html .bandeau_chemin{height: 23px;}

.bandeau_chemin a {color: #6262A4;}
.bandeau_chemin a:hover {color: #808080; text-decoration:none;}

.chemin {padding-top: 5px; }

.recherche_chemin {float: right; width : 160px}
