/* Intitule (h1) de chaque page */
.intitule_page {margin: 5px 0px 20px 0px; color: #808080; font-size: 2.4em; font-weight: bold;}

/* Boutons de changements de look d'une page */
.bouton_page a {display: block; float: right; margin: -5px 10px 0px 0px; padding: 0px; border: 0px; width: 24px; height: 24px;}
.bouton_page a:hover {border: 1px solid #6262A4;}

/* Styles generiques des pages de type plan
   ----------------------------------------
	- Plan de site
	- Agenda annuel
	- Galerie chronologique
	- Breves
	- herbier
*/ 
.plan { margin-top: 30px;}
.plan h2 {
	display:inline;
	font-weight:bold;
	margin: 0.5em 0px 0 0px;
	font-size:1.9em;
	line-height:1.4em;
}
.plan h2 a { padding-left:15px }
.plan h2 a:hover {
	background-image:url(../images/puce0.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: none;
}
.plan .objet_date {color: #990000;}
.plan ul { list-style-type: none; padding: 0px 0px 0px 20px; margin: 0px;}
.plan li {line-height: 1.4em; padding-left:10px;}
.plan a.objet_titre{color: #6262A4; padding: 0px 0px 0px 10px; font-size: 1.1em;}
.plan a.objet_titre:hover {
	background-image:url(../images/puce-n0.gif);
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: underline;
}
/* Styles specifiques de la page Breves */
.plan a.titre#breve{color: #808080;}
/* Styles specifiques de la page Herbier */
.plan hr {border:0px solid #FFFFFF;	border-top: 1px solid #6262A4; margin-left: 10px; margin-right: 10px;}
.plan .description {color: #808080; font-size: 11px; margin-left: 20px;	margin-top: 0px;}
.plan a img {float: right; margin-left: 10px; margin-right: 10px; border: 4px solid #F0F0FA;}
.plan a:hover img {border-color: #6262A4;}
.plan#herbier_panorama a img {float: left;	margin: 10px 10px; border: 4px solid #F0F0FA;}
.plan#herbier_panorama a:hover img {border-color: #6262A4;}
.bouton_page a#herbier_liste {background: url(../images/herbier_liste.gif); background-repeat: no-repeat; float: right;}
.bouton_page a#herbier_panorama {background: url(../images/herbier_panorama.gif); background-repeat: no-repeat; float: right;}

/* Styles generiques des pages de type rubrique et article
   -------------------------------------------------------
	- Rubrique
	- Article
	- Evenement
	- Album
*/ 
/* Styles generiques des cartouches pour article (inclus evenement, album) et forum */
.cartouche {
	color: #6262A4;
   	font-weight: bold;
	text-align: right;
	margin: 0px 10px 10px 10px;
	padding: 0px;
	/*border-left: 1px solid #6262A4;*/
	/*border-bottom: 1px solid #6262A4;*/
	/*width: 200px;*/
	float: right;}

/* Styles generiques des descriptions pour rubrique et article (inclus evenement, album) */
.description {margin: 10px;	font-size: 1.2em; line-height: 1em;}
.description li {margin-left: 10px;	line-height: 1.4em;}
.description a {text-decoration: none;}
.description a:hover {text-decoration: underline;}
.description h3 {color: #6262A4; font-weight: bold;	font-size: 1.6em; margin: 1em 0em 0.5em 0em;}
.description p {font-size: 1em;}
.description .notes {margin: 10px 0px 20px 0px; padding-top: 10px; font-size: 1em; border-top: 1px dotted;}

/* Styles generiques des portfolios: images et documents pour rubrique et article (inclus evenement, album) */
.portfolio {clear: both; margin-top: 20px;	padding-top: 2px;}
.portfolio h2 {font-size: 1.9em; line-height: 1em; font-weight: bold; margin: 10px;}
.portfolio a img {margin: 10px 10px; border: 4px solid #F0F0FA;}

.portfolio dl {width: 115px; height: 11em; text-align: center; margin: 10px; float: left;}
.portfolio dt { font-weight: bold; }
.portfolio dt a img {border: 0px}
.portfolio dd {margin: 0; padding: 0;}

/* Styles de base specifiques a la rubrique */
.rubrique {/*border: 2px solid #990000;*/ background: #FFFFFF; margin: 0px 0px 20px 0px; padding-bottom: 10px;}
.rubrique a.titre {
	display: block;
	font-size: 2em;
	line-height: 1.2em;
	color: #990000;
	background: #FFFFFF;
	/*border-right: 2px solid #990000;*/
	border-bottom: 2px solid #990000;
	padding: 1px 0px;
	margin-right: 50%;
	margin-left: 10px;
	text-align: left;
	font-weight: bold;}
.rubrique a.titre:hover {/*color: #990000; background: #FFFFFF;*/ text-decoration: none;}
/* Styles de la description, specifiques de la page rubrique */
.rubrique .description a {color: #990000;}
.rubrique .description .notes {border-top: 1px dotted #990000;}
/* Styles du portfolio specifiques de la page rubrique */
.rubrique .portfolio {border-bottom: 2px solid #990000;}
.rubrique .portfolio h2 {color: #990000;}
.rubrique .portfolio a:hover img {border-color: #990000;}
.rubrique .portfolio dt a:hover img {border: 0px;}

#erreur404 {border-top: 0px; }

/* Styles de base specifiques des pages article, evenement, album... */
.article {/*border: 2px solid #6262A4; */background: #FFFFFF; margin: 0px 0px 20px 0px;	padding-bottom: 10px;}
.article .titre {/*background: #6262A4; */}
.article .titre h1 {color: #6262A4; line-height: 1.2em; font-size: 2em; font-weight: bold; margin: 0px 10px 5px; border-bottom: 2px solid #6262A4; padding-bottom: 5px;}
.article .surtitre {/*background: #6262A4; */color: #6262A4; line-height: 1.2em; font-size: 1.6em; font-weight: bold; margin: 0px; padding-left: 10px;}
.article .soustitre {float: left; /*background: #FFFFFF; */color: #6262A4; line-height: 1em; font-size: 1.4em; font-weight: bold; font-style: italic; margin: 0px; padding: 5px 0px 0px 10px;}
.article .image .spip_logos {float: left;}
/* Styles des boutons de fonction des pages article, evenement, album... */
a.fonction {/*background: #6262A4;*/display: block; float: right; width: 24px; height: 24px; margin-right: 10px;}
#imprimer {background-image: url(../images/article_imprimer.gif); background-repeat: no-repeat;}
#commenter {background-image: url(../images/article_commenter.gif); background-repeat: no-repeat;}
#creer_pdf {background-image: url(../images/article_pdf.gif); background-repeat: no-repeat;}
#voir_commentaires {background-image: url(../images/article_commentaires.gif); background-repeat: no-repeat;}
/* Styles de la description, specifiques aux pages article */
.article .description a {color: #6262A4;}
.article .description .chapo {color: #6262A4; margin: 10px 0px 0px 0px; font-style: italic;}
.article .description .lien_site {margin: 10px 0px 20px 0px; padding-top: 10px; font-size: 1em; border-top: 1px dotted #6262A4;}
.article .description .ps {margin: 10px 0px 20px 0px; padding-top: 10px; font-size: 1em; border-top: 1px dotted #6262A4;}
.article .description .notes {border-top: 1px dotted #6262A4;}
/* Styles du portfolio specifiques des pages article, evenement, album... */
.article .portfolio {/*border-top: 2px solid #6262A4;*/}
.article .portfolio h2 {color: #6262A4; border-bottom: 2px solid #6262A4; padding: 0 0 5px 20px;}
.article #documents_joints.portfolio h2 {background:url(../images/portfolio_documents.gif) top left no-repeat; }
.article #images_jointes.portfolio h2 {background:url(../images/portfolio_images.gif) top left no-repeat; }
.article .portfolio a:hover img {border-color: #6262A4;}

#edito.article {border: 2px solid #808080; background-color: #EEEEEE; padding: 5px 10px; text-align: justify;}
#edito.article .titre, #edito.article .surtitre, #edito.article .soustitre {/*background-color: #000000; */color: #6262A4}
#edito.article .titre h1 {border: 0}
#edito.article .image .spip_logos {float: right;}
#edito.article a.fonction {display: none; }
#edito.article .cartouche {/*border: none; text-align: right; */color: #000000; font-size: 1.2em}
/*
#edito.article .cartouche a {display:none;}
#edito.article .cartouche .auteur_cartouche {display:none;}
*/

#evenement.article .cartouche {text-align: left; font-size: 1.2em; float: left;}

/* Hack IE6 : sur-titre, titre, sous-titre de l'article invisible */
* html .article, * html #edito.article,
* html .article .surtitre, * html #edito.article .surtitre, 
* html .article .titre, * html #edito.article .titre,
* html .article .soustitre, * html #edito.article .soustitre   {height : 1px;} 
 
/* Hack IE7 : sur-titre, titre, sous-titre de l'article invisible */
*+html .article, *+html #edito.article,
*+html .article .surtitre, *+html #edito.article .surtitre, 
*+html .article .titre, *+html #edito.article .titre,
*+html .article .soustitre, *+html #edito.article .soustitre {height : 1px;}  

/* Syles des commentaires de l'article */
.commentaires {/*border: 2px solid #6262A4; */padding: 0 0 10px 0; margin: 0 0 20px 0;}
.commentaires h2 {background:url(../images/commentaires.gif) top left no-repeat; 
	font-size: 1.9em; line-height: 1.2em; font-weight: bold; color: #6262A4; border-bottom: 2px solid #6262A4; padding: 0 0 5px 20px; margin: 0 10px 10px;}
.commentaires .message {border-top: 1px dotted #6262A4; margin: 0px 10px 10px; padding-top: 10px;}
.commentaires #n1.message {border-top: 0}
.commentaires .message .gravatar{float:left}
.commentaires .message .cartouche_simple{margin-left: 50px; font-size: 1.1em; color: #6262A4;}
.commentaires .message .texte{margin-left : 50px; padding-top: 5px;font-size:1.2em;}

/* Syles des peitions de l'article */
* html #signer_petition.petition {padding-bottom: 30px;}
#articles-freres.petition {background: #EEEEEE; }


/* Styles generiques des messages d'erreur
   -------------------------------------------------------
	- Avertissement
	- Information
	- Erreur
*/ 
.message_erreur { margin-top: 30px;	font-size: 1.2em; font-weight: bold; color: red;}

/* FIN DES STYLES REVUS */


.sommaire {margin: 0px; width: 100%;}


.derniers-articles {
	/*
  background: #FFFFFF;
	margin: 0px 0px 20px;
	padding: 0px 0px 10px 0px;
	*/
}


#visualisation .detail {
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	padding: 1px;
	background: #6262A4;
	color: #FFFFFF;
	font-size: 1.2em;
	font-weight:normal;
	line-height:1em;
}

.en-tete {
	color: #FFFFFF;
	font-size: 1.9em; line-height:1em;  /* A Verifier : déjà utilisé dans article.html : "Images jointes à cet article" */
	font-weight: bold;
	margin: 0px 10px 10px 0px;
	padding-top:10px;
}
#articles_recents, #article_rubrique, #articles_auteur, #reponse_suite_article {  /* Mettre de l'ordre dans les dénominations */
	padding-left:10px;
	padding-bottom:1px;
	padding-top:1px;
	margin-right:0px;
	background-color: #6262A4;
	font-size : 2em;
	line-height:1.4em;
	}
/*#article_rubrique {
	padding-top: 0px ;
	padding-left:10px}*/
#forum {
	color: #990000;
	font-size: 1.9em;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}
#docu_rubrique {color: #990000;}
#img_rubrique{color: #990000;}


.annonce {       /* utilise dans le modele mod_intro_article */
	background: #FFFFFF;
	margin-bottom: 10px;
	padding: 0px 0px 10px 0px;
	border : 2px solid #6262A4;
}
.annonce a {
	color: #990000;
	text-decoration: none;
	/*font-size:1.2em;*/
}
.annonce a:hover {
	text-decoration: underline;
}
.annonce .image .spip_logos {
	float: left;
}

.annonce .mere {
	color: #990000;
	font-weight: bold;
	padding: 10px 10px 5px 10px;
	font-size: 1.2em;
}

.annonce .surtitre {
	color: #6262A4;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	padding-top: 5px;
}
.annonce a.titre {
	display: block;
	color: #6262A4;
	font-size: 1.6em;
	line-height:1em;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
	padding-top: 5px;
}
.annonce a.titre:hover {
	text-decoration: underline;
}
.annonce .soustitre {
	color: #6262A4;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	padding-top: 5px;
}
.annonce .introduction {
	color: #000000;
	margin: 10px 10px 0px 10px;
	font-size:1.2em;
	line-height : 1.1em;
}
.annonce a.suite {
	text-align: right;
	display: block;
}

/* content --> documents joints (aux articles et aux rubriques) */
#content .doc {
	padding: 10px; 
	color: #990000;
	background: #FFFFFF;
	margin: 0px;
}

#content .doc .spip_logos {
	margin: 5px 0px 0px 0px;
	border:0px;
}

#content .doc a {
	display:block;
	margin: 0px 0px 5px 0px;
}

/* content --> images jointes (aux articles et aux rubriques) */
#content .doc .vignette {
	font-size: 1em;
	margin: 10px;
	padding: 10px 0px 10px 0px;
	border:0px;
}

#content .doc ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	color: #000000;
}

/* mise en forme du formulaire de petition */  /*Mise en forme utilisée aussi pour "les articles dans la meme rubrique" */
/*.petition {
	border: 2px solid #6262A4;
	padding: 10px;
	margin: 0px 0px 10px 0px;
}
#signer_petition{font-size:1.2em;}

.petition .en-tete {
	color: #6262A4;
	font-size: 1.9em;
	margin: 0px 0px 5px 0px;
}
*/

#articles-freres { background: #EEEEEE; }
#articles-freres .en-tete{font-weight: normal ;}
#articles-freres ol {color: #6262A4;font-size:1.3em;line-height:1em;}
#articles-freres .frere a {  /* lien vers les articles frères sauf l'article en cours */
	color: #6262A4;
	font-weight: bold;
}
#articles-freres .frere a:hover {text-decoration: underline;}
#articles-freres .frere .date {	color: #990000;}
#articles-freres .en-cours { /* affichage du titre de l'article en cours (sans lien) */
	color: #808080;
}

#signatures {
	background: #EEEEEE;
}

#signatures td {
	border: 1px solid #6262A4;
	margin: 0px;
	padding: 2px 5px 2px 5px;
	empty-cells: hide;
	font-size: 1.2em;
	line-height:1.1em;
}
#signatures thead {
	background: #6262A4;
	font-weight: bold;
	color: #FFFFFF;
}

/* ~~~~~~~~~~~~ forum ~~~~~~~~~~~~ */
.forum {
	border: none;
	padding: 0px;
	margin: 0px;
	/*font-size: 100%;*/
}
.forum a.article-forum {
	font-size: 1.4em;
	font-weight: bold;
}

.forum_fils {margin-left : 20px;}

/*.visualisation {
	border: 1px solid #6262A4;
	margin: 10px 0px 0px 0px;
}
.visualisation .titre {
	border-bottom: 1px solid #FFFFFF;
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	padding: 2px 10px 2px 10px;
	background: #6262A4;
}
.visualisation .texte {padding: 10px;font-size:1.3em;}*/




/* ~~~~~~~~~~~~ galerie/albums ~~~~~~~~~~~~ */
/*.galerie {
	font-size: 24px;*/ 							/* ?????????   A VERIFIER*/ 
/*	margin: 0px;
}
.galerie-album .galerie-album{
	font-size: 12px;
	padding: 0px 0px 10px 0px;
	border-top: 2px solid #6262A4;
}*/
#planche.galerie-album  {min-height: 500px; _height: 220px;}
* html #planche.galerie-album, *+html #planche.galerie-album  {height: 220px;}

.galerie-album  .vignette {
	display: block;
	float: left;
	width: 220px;
}
.galerie-album  .vignette .spip_logos {
	padding: 10px;
	display: block;
	background: #EEEEEE;
	border-left: 2px solid #6262A4;
	border-right: 2px solid #6262A4;
	border-bottom: 2px solid #6262A4;
}
.galerie-album   a.titre {
	display: block;
	color: #6262A4;
	/*font-size: 130%;*/
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
	padding-top: 5px;
}

.galerie-album   a.titre:hover {
	text-decoration: underline;
}
.galerie-album .introduction {
	color: #000000;
	margin: 10px 10px 0px 10px;
}
.galerie-album .texte {
	display: block;
	float: left;
	margin: 10px;
}
.galerie-album a.suite {
	text-align: right;
	display: block;
	padding-right : 25px;
}

/* ~~~~~~~~~~~~ album ~~~~~~~~~~~~ */
.album_menu a:hover {text-decoration: none !important;}

.album_menu {
   	margin-top:25px;
   	padding-top:10px;
   	padding-bottom:10px;
   	border-top:2px #6262A4 solid;
   	width:100%;
	color: #6262A4;
	font-family: Courier, monospace;
}

.album_vignette {
	width: 100%;
	text-align: center;
}

.album_vignette a:hover {text-decoration: none !important;}

* html .album_vignette a.image-vignette, *+html .album_vignette a.image-vignette {/*hack pour ie : permet de creer le fond bleu des vignettes et l'espacement entre elles*/
	background-color: #E0E0E0;
	padding: 0px;
	margin: 5px;
	height: 100px;
}
/*style valable pour ff, equivalent au style precedent pour ie*/

.album_vignette table{
	text-align: center;
	margin : auto;
}

.album_vignette TD{
	background-color: #E0E0E0; 
	height : 130px ;
	width : 130px;
	padding : 5px;
	margin :0px;
}

/* ~~~~~~~~~~~~ auteur ~~~~~~~~~~~~ */
.auteur {}

.indentation {padding-left: 30px;}
.redimensionnement {/*font-size: 11px;*/}

/* ~~~~~~~~~~~~ Recherche ~~~~~~~~~~~~ */ 
.elements-trouves {
	color: #990000;
	/*font-size: 150%;*/
	font-weight: bold;
	margin: 0px 0px 15px 0px;
	padding: 0px;
	text-decoration: underline;
}

