/* Menus des rubriques et raccourcis inseres dans les colonnes extra et navigation */
/* Navigation dans les rubriques - arborescence deroulante */
.menu_rub1{width: 100%; padding:0px; font-size: 1.2em;}

.menu_rub1 ul.menulist,
.menu_rub1 ul.menulist ul{
	 background:#6262A4;
	 border:1px solid #808080;
	 border-bottom: 0px;
	 list-style:none;
	 z-index: 500;
	 margin:0px;
	 padding:0px;
	 width:178px;
	 line-height:1.2em;
	 /*_width:180px;*/}
.menu_rub1 ul.menulist ul{position:absolute; top:-1px; left:178px;}
.menu_rub1 ul.menulist li{
	 position:relative;
	 margin:0px;
	 padding:0px;
	 border-bottom: 1px solid #808080;}
.menu_rub1 ul.menulist li ul{ display:none; }
.menu_rub1 ul.menulist li:hover>ul{ display:block; }

.menu_rub1 ul.menulist a{
	 display:block;
	 _width: 100%;
	 color:#FFFFFF;
	 text-decoration:none;
	 padding: 5px;}
.menu_rub1 ul.menulist a:hover{background:#323284; color:#FFFFFF;}

.menu_rub1 ul.menulist li.smenu {
        background-image: url(../images/arrow.gif) !important;
        background-position: 171px;
        background-repeat: no-repeat;}
.menu_rub1 ul.menulist li.smenu:hover, ul.menulist li.smenu>a:hover {
        background-image: url(../images/arrowb.gif) !important;
        background-position: 168px;
        background-repeat: no-repeat;}

/* Navigation dans les rubriques - arborescence depliee */
.menu_rub2 {background: #B0B0B0; font-size: 1.5em; width: 100%; padding: 5px 0px;}
.menu_rub2 a.item_normal {color: #FEFEFE; font-weight: bold;}
.menu_rub2 a.item_normal:hover {color: #606070; text-decoration: none;}
.menu_rub2 a.item_selecte {color: #606070; font-weight: bold;}
.menu_rub2 a.item_selecte:hover {color: #606070; text-decoration: none;}
.menu_rub2 ul {padding-left:15px; margin:0px; line-height: 95%;}
.menu_rub2 li {margin:0.7em 0em 0.5em 0em;	padding:0px; font-size:0.85em;	list-style-type:none;}

/* Navigation dans les rubriques - arborescence accordeon a ouverture automatique */
.menu_rub3 {width: 100%; padding:0px; font-size: 1.2em;}

.menu_rub3 .cache {padding-left:10%; width : 90%; background : none; display: none;}
* html .menu_rub3 .cache {width : 100%;}
.menu_rub3 .cache a{display : block; background: #6262A4; border-top: 1px solid #CFE0FF;}
.menu_rub3 .cache a.on{background: #323284;}

.menu_rub3 ul.menulist{
	 background:none;
	 border: 0px;
	 list-style:none;
	 z-index: 500;
	 margin:0px;
	 padding:0px;
	 line-height:1.2em}
.menu_rub3 ul.menulist li{
	 position:relative;
	 margin:0px;
	 padding:0px;
	 border-bottom: 1px solid #CFE0FF;}

.menu_rub3 ul.menulist a{
	 display:block;
	 _width: 100%;
	 color:#FFFFFF;
	 background:#6262A4;
	 text-decoration:none;
	 padding: 5px;}
.menu_rub3 ul.menulist a:hover{background:#323284; color:#FFFFFF;}
.menu_rub3 ul.menulist a.on{background:#323284; color:#FFFFFF;}

/* Bloc de menus des raccourcis de navigation*/
.nav2 {border: 1px solid #6262A4; background: #E0E0E0; font-size: 1.2em; width: 178px;}

.nav2 ul {padding: 0px; margin : 0px}
.nav2 li {
	border: #6262A4 solid 1px;
	margin: 10px;
	list-style: none;
	background: #6262A4;
	color: #F0F0FA;
	line-height: 1.4em;}
.raccourci_nav1 {text-align: center;}
.raccourci_nav1 a {color: #F0F0FA; display: block; width: 100%;}
.raccourci_nav1 a:hover{background: #F0F0FA; color: #6262A4; text-decoration: none;}

.nav2 .auteur{  
	margin: 17px 10px;
	padding-top: 3px;
	padding-bottom: 2px;
	background: #F0F0FA;
	color: #6262A4;
	border: 1px solid #6262A4;
	text-align: center;}
.nav2 .auteur a{color: #990000;}
.nav2 .auteur a:hover{ text-decoration: underline;}
