/***************************************/
/* Spip Info - Janvier 2009	           */
/***************************************/
/* Mises en forme des INCLURE, MODELES */
/* et autres boites ponctuelles        */
/***************************************/


/* 
	APPARENCE GENERALE 
	------------------
*/

	.box{
		background: none transparent;
		color:#797977;
		font-size:0.9em;
		margin:10px auto 0px auto;
		padding:0 10px 10px 10px;
		overflow:hidden;
	}

	/* boites en #extra */
	
	#extra .box {
		float:left;
		width: 320px;
		margin: 0px 24px 0px 0px;
		padding: 15px 0px 10px 0px;
		color:#000;
	}
	
	/* Ombre de pied de boite */
	
	.box_footer {
		display:block;
		width: 290px;
		height: 16px;
		margin: 0px 0px 40px 0px;
		padding:0px;
		background: transparent url(#CHEMIN{images/bg_box_ombre_bottom.gif}) scroll no-repeat center top;
		clear:both;
	}
	
	/* Couleurs des boites */
	
	.blue_box {
		border-top: 6px solid #0B7599;
		background: transparent url(#CHEMIN{images/bg_x_blue_box.png}) scroll repeat-x left top;
	}
			.blue_box h2 {
				color: #0B7599;
			}
			
	
	.orange_box {
		border-top: 6px solid #FF962F;
		background: transparent url(#CHEMIN{images/bg_x_orange_box.png}) scroll repeat-x left top;
	}
			.orange_box h2 {
				color: #FF962F;
			}
			
			
	.pink_box {
		border-top: 6px solid #EB4654;
		background: transparent url(#CHEMIN{images/bg_x_pink_box.png}) scroll repeat-x left top;
	}
			.pink_box h2 {
				color: #EB4654;
			}
			
	/*titres de toutes les boites*/
	
	.box h2{
		background:none transparent;
		font-size:1.4em;
		font-weight:bold;
		margin:0px 24px 15px 24px;
		padding:0px;
		text-decoration:none;
	}
	.box h3{
		color:#666;
		font-size:1.2em;
		margin: 4px 24px;
	}
	.box p {
		margin: 4px 24px;
	}
	.box ul {
		margin: 4px 24px;
	}
	.box li {
		
	}
	.box .linksmore {
		text-align:right;
		margin: 4px 24px;
	}
	.box .linksmore a {
		float:right;
		font-weight:bold;
		font-size:0.9em;
		padding-left: 15px;
		background: transparent url(#CHEMIN{images/puce.gif}) scroll no-repeat left center;
	}

	/* formualaires Ã  l'interieur des boites */
	.box fieldset, .box form{
		border:0;
		margin:4px 24px;
		padding:0;
		width:95%;
	}
	.box label{
		display:block;
		float:none;
		width:auto;
		font-size:0.9em;
	}
	.box input{
		width:65%;
		margin: 0px;
		padding: 3px 2px;
		height: 24px;
		line-height:26px;
		float:left;
		font-size: 1.2em;
		border:1px solid #0B7599;
	}
	.box input.submit { /* bouton standard */
		background:#FFF;
		border:1px solid #0B7599;
		color: #000;
		text-transform:uppercase;
		font-size:1em;
		font-weight:normal;
		font-family:Verdana, Arial, Helvetica, sans-serif;
        width:auto;
        float:left;
        padding: 0px;
        margin: 0px;
		line-height:normal;
	}
	.box input.submit_image { /* bouton en image */
		display:block;
		width:32px;
		height:32px;
		border:0px none;
		background: none transparent;
		margin: -2px 0px 0px 17px;
	}

	
/*
	BOITE RECHERCHE (toute page)
	----------------------------
*/
	.boxsearch { 
        width:163px;
        height: 43px;
		padding-top: 9px;
		background: none transparent;
		position:absolute;
		left:715px;
		top:140px;
	}
	.boxsearch label { 
		display:block;
		width:113px;
		height:16px;
		background: transparent url(#CHEMIN{images/rechercher.png}) scroll no-repeat 1px top;
        margin-bottom: 4px;
		
		/* Adjust IE */
		*margin-top: 4px;
		*position: relative;
		*left: -20px;
	}
	.boxsearch label span { 
		display:none;
	}
	.boxsearch input {
		background:#FFF;
		border:1px solid #0B7599;
		color:#666;
		font-size:0.9em;
		padding: 0px 2px;
		width:108px;
		height:auto;
		line-height: normal;
        float:left;
	}
	.boxsearch input.submit {
		background:none transparent;
		border:0px none;
		color: #FFF;
		text-transform:uppercase;
		font-size:1em;
		font-weight:normal;
		font-family:Verdana, Arial, Helvetica, sans-serif;
        width:auto;
        float:left;
        padding: 0px;
        margin: -2px 0px 0px 0px;
		line-height:normal;
		
		/* Adjust IE */
		*margin-left: 2px;
	}
	

/* 
	RACCOURCIS DU PIED DE PAGE (toute page)
	---------------------------------------
*/
	.boxshorcutfooter{
		background:#FFF;
		margin: 0px;
		padding:0px auto;
		text-align:center;
		font-size:0.8em;
	}
	.boxshorcutfooter h2{
		display:none;
	}
	.boxshorcutfooter ul{
		background:none transparent;
		margin: 0px;
		padding: 0px;
	}
	.boxshorcutfooter li {
		display:inline;
		background:none transparent;
		margin: -10px 10px;
		padding:0px;
		font-style:italic;
	}
	.boxshorcutfooter a, 
	.boxshorcutfooter a:visited{
		padding:0px;
		background:transparent;
		font-style:italic;
	}
	.boxshorcutfooter a:hover, 
	.boxshorcutfooter a:active{

	}
	


/*
	BOITES DE LIENS
	---------------
*/
	
	 
	 /* "SITES UTILES" (page contenu - #extra) */
	.boxlinks ul {
		margin: 0px 24px;
		padding:0px;
	}
	.boxlinks ul li {
		margin: 5px 0px;
		padding:0px;
		background: none transparent;
	}
	.boxlinks ul li a{
		margin: 0px;
	}
	.boxlinks ul li span {
		display:block;
		clear:both;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:0.9em;
		margin: 0px;
		padding:0px;
	}

	.boxlinks p.pagination {
		display:block;
		margin: 15px auto;
		padding:0px 25px;
		float:none;
		text-align: center;
	}
	.boxlinks p.pagination a {
		display:block;
		width: auto;
		height: 28px;
		line-height: 28px;
	}
		.boxlinks p.pagination a:hover {
			text-decoration:underline;
		}
	.boxlinks p.pagination a span {
		display:block;
		padding: 0px;
	}
	.boxlinks p.pagination a.precedent {
		background: transparent url(#CHEMIN{images/pagin_precedent.png}) scroll no-repeat left 4px;
		padding: 0px 25px 0px 35px;
	}
	.boxlinks p.pagination a.suivant {
		background: transparent url(#CHEMIN{images/pagin_suivant.png}) scroll no-repeat right 4px;
		padding: 0px 35px 0px 25px;
	}
	
	
	
	/* LES SITES OFFICIELS (Entête - toute page) */
	.box_sites_officiels {
		position:absolute;
		right: 0px;
		top: 35px;
	}
	.box_sites_officiels h2 {
		display:none;
	}
	.box_sites_officiels ul {
		text-align:left;
	}
	.box_sites_officiels ul li {
		border-bottom: 1px solid #CCC;
		padding-left: 65px;
		margin:0px;
	}
	.box_sites_officiels ul li.spip {
		background: transparent url(#CHEMIN{images/logo_mini_spip_net.gif}) scroll no-repeat left 5px;
	}
	.box_sites_officiels ul li.spip_contrib {
		background: transparent url(#CHEMIN{images/logo_mini_spip_contrib.gif}) scroll no-repeat left 5px;
	}
	.box_sites_officiels ul li a:link,
	.box_sites_officiels ul li a:visited,
	.box_sites_officiels ul li a:active { 
		color: #444;
		text-decoration:none;		
	}
	.box_sites_officiels ul li a:hover {
		text-decoration:underline;
	}
	

/*
	BOITES "DANS LA MEME RUBRIQUE"
	-------------------------------
*/

	.dans_la_meme_rubrique {
		width:929px;
		height:47px;
		margin:0px;
		padding:0px;
		background: transparent url(#CHEMIN{images/bg_dans_la_meme_rubrique.jpg}) scroll no-repeat center top;
		position:absolute;
		top: 205px;
		left: 24px;
	}
	.dans_la_meme_rubrique ul {
		margin: 7px 0px 0px 5px;
		padding:0px;
		float:left;
	}
	.dans_la_meme_rubrique ul li {
		display: inline;
		background: none transparent;
		padding: 0px 8px 0px 4px;
		border-right: 1px solid #FFF;
	}
	.dans_la_meme_rubrique ul li:last-child {
		border:0px none;
	}
	.dans_la_meme_rubrique ul li a:link,
	.dans_la_meme_rubrique ul li a:visited,
	.dans_la_meme_rubrique ul li a:active {
		color:#FFF;
		text-decoration:none;			
		font-family: Verdana, Arial, Helvetica, sans-serif;
	} 
	.dans_la_meme_rubrique ul li a:hover {
		text-decoration:underline;	
	}
	.dans_la_meme_rubrique p.pagination {
		display:block;
		float:right;
	}
	.dans_la_meme_rubrique p.pagination a {
		display:block;
		width: 24px;
		height: 24px;
		margin:4px;
		float:left;
	}
	.dans_la_meme_rubrique p.pagination a span {
		display:none;
	}
	.dans_la_meme_rubrique p.pagination a.precedent {
		background: transparent url(#CHEMIN{images/pagin_precedent.png}) scroll no-repeat left top;
	}
	.dans_la_meme_rubrique p.pagination a.suivant {
		background: transparent url(#CHEMIN{images/pagin_suivant.png}) scroll no-repeat left top;
	}
	
