/***************************************/
/* Spip Info - Janvier 2009	           */
/***************************************/
/* Mises en forme spécifiques de la    */
/* page d'accueil du site              */
/***************************************/

/*
	REAJUSTEMENT DE STRUCTURE
	-------------------------
*/
	.page_sommaire #conteneur {
		background:transparent url(../images/bg_x_conteneur.gif) scroll no-repeat center 201px;
	}


/*
	PRESENTATION SITE
	Zone de bandeau vert
	--------------------
*/
	#presentation_site {
		margin: 0px;
		padding: 0px;
		background:transparent url(../images/bg_x_bandeau_vert.jpg) scroll repeat-x left top;
		width: 969px;
		height: 201px;
		color:#FFF;
		overflow:hidden;
	}
	#presentation_site .text {
		float:left;
		margin: 30px 12px 0px 24px;
		padding: 0px;
		width: 60%;
	}
		#presentation_site .text p {
			font-weight: bold;
			margin: 4px 0px;
			font-size:1.1em;
		}
		#presentation_site .text p span.specif {
			font-weight: normal;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:0.8em;	
		}
	#presentation_site .main_links {
		float:right;
		width: 321px;
		margin: 25px 24px 0px 0px;
	}
		#presentation_site .main_links li {
			padding:0px;
			margin:5px 0px 25px 0px;
			background:none transparent;
		}
		#presentation_site .main_links li a {
			display:block;
			font-family: Garamond, "Times New Roman", Times, serif;
			font-size:2.1em;
			color:#FFF;
			text-decoration:none;
			padding: 7px 0px 7px 75px;
		}
		#presentation_site .main_links li a span.descriptif_rapide {
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:0.4em;
			font-weight:normal;
			display:block;
			clear:both;
			margin: 5px 0px 0px 0px;
		}
		#presentation_site .main_links li.telecharger_spip a {
			background: transparent url(../images/logo_telecharger_spip.png) scroll no-repeat left top;
			filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/squelettes/images/logo_telecharger_spip.png', sizingMethod='scale');
		}
		#presentation_site .main_links li.essayer_spip a {
			background: transparent url(../images/logo_essayer_spip.png) scroll no-repeat left top;		
			filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/squelettes/images/logo_essayer_spip.png', sizingMethod='scale');
		}
		
/*
	LISTING DES FONCTIONNALITES
	(Listes à puces - 2 colonnes)
	-----------------------------
*/
	#listing_fonctionnel {
		margin:0px;
		padding: 56px 0px;
		width: 969px;
		overflow:hidden;
	}
	#listing_fonctionnel ul.gauche,
	#listing_fonctionnel ul.droite {
		float:left;	
		display:block;
		margin:0px 0px 0px 92px;
		font-weight:bold;
		font-size:1.1em;
		color:#024D66;
	}


/*
	BOITES DE RACCOURCIS CONTENUS
	-----------------------------
*/
	.page_sommaire  #boxes {
		margin: 0px;
		padding: 0px 0px 34px 0px;
		width: 969px;
		overflow:hidden;
	}
	.page_sommaire  #boxes .box_footer { 
		width:291px;
		height: 196px;
		float:left;
		clear:none;
		margin: 0px 0px 0px 24px;
		padding: 0px 0px 16px 0px;
		background: transparent url(../images/bg_box_ombre_bottom.gif) scroll no-repeat center bottom;
		overflow:hidden;
	}
	.page_sommaire  #boxes .box {
		margin: 0px;
		height: 196px;
		
		/* Adjust IE */
		*height: 180px;
	}
	.page_sommaire  #boxes .box h2 {
		margin:10px 5px 15px 10px;
	}
	.page_sommaire  #boxes .box p {
		margin:5px 10px 5px 10px;
		color:#000;
	}
	.page_sommaire  #boxes .box ul {
		margin:5px 10px 5px 10px;
	}
	.page_sommaire  #boxes .box ul li {
		line-height:normal;
	}
	.page_sommaire  #boxes .box ul li span.description {
		font-family:Georgia, "Times New Roman", Times, serif;
	}
	

/*
	AVERTISSEMENT IE6
	-----------------
*/
	#ie6_warning {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		background-color: #C00;
		color: #FFF;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:0.8em;
		line-height:normal;
		padding: 2px;
	}
	#ie6_warning h1 {
		text-align:center;
		margin:2px auto;
	}
	#ie6_warning p {
		margin: 2px;
	}
	#ie6_warning a {
		font-weight: bold;
		color:#FFF;
		text-decoration:underline;
	}