/***************************************/
/* Spip Info - Janvier 2009	           */
/***************************************/
/* RESET CSS PAR DEFAUT et APPELS DES  */
/* FEUILLES DE STYLES DU SITE          */
/***************************************/


@charset "iso-8859-1";

@import url(_elements.css);
@import url(structure.css);
@import url(navigation_elements.css);
@import url(form.css);
@import url(boxes.css);
@import url(account.css);
@import url(publication_methods.css);
@import url(search.css);

/* Thèmes graphiques additionnels */
@import url(page_accueil.css);

/* COMMON STYLES */
/*reset d'un certain nombre de styles css par defaut*/
* {
	border: 0;
	font-style: normal;
	margin: 0;
	padding: 0;
	text-decoration: none;
}


/*CSSEditor|structure,global|Zone extÃ©rieure|notext*/
body {
	background:#CCC url(../images/bg_x_body.jpg) scroll repeat-x left top;
	font-family: Georgia, Times, serif;
	font-size:14px;
	line-height:150%;
}

/*CSSEditor|content,image|Apparence des images|notext,noizimedia*/
img {
	border:0;
	vertical-align: bottom;
}

.clear {
	border:0;
	clear: both;
	height:0;
	line-height:0;
	visibility: hidden;
}
