<plugin>
	<nom>AnythingSlider pour Aveline</nom>
	<auteur>[Joseph->http://www.spip-contrib.net/Joseph]</auteur>
	<icon>img/aveline-anythingslider.png</icon>
	<licence>GNU/GPL</licence>
	<version>0.2.0</version>
	<etat>test</etat>
	<description>Noisettes pour Aveline utilisant le plugin jQuery [AnythingSlider->https://github.com/ProLoser/AnythingSlider/wiki].</description>
	<lien>http://www.spip-contrib.net/?article3784</lien>
	<prefix>aveline_anythingslider</prefix>
	<categorie>squelette</categorie>
	<necessite id="aveline" version="[1.2.16;]" />
	<necessite id="anythingslider" />
</plugin>