/* screen stylesheet */
/*
    CREDITS
    - global resetting : http://clagnut.com/blog/1287/

    SIZES
    browser default : 16px
    body : 75% = 12px
    10px = 83% of 12 px

	a few hacks were integrated for ie of course (sigh)

*/

/* --------------------------------------------------- */
/* generic declarations */
* { margin:0; padding:0 }
body {
    font:75% arial, helvetica, sans-serif; color:#000000;
    background:url(/v4/photos/body_bg.gif) center top repeat-y #C2C2C2;
}

ul,ol,blockquote {
    padding-left:20px;
    margin-left:0;
}
h1, h2, h3, h4, h5, h6, p, blockquote,
 form, ul, ol, dl, fieldset, address {
    margin-bottom: 0.5em;
}
ul ul { margin-bottom:0; }

h1,h2,h3,h4 { font-size:150%; font-weight:normal; font-family:Tiresias,'Trebuchet','Trebuchet MS',Arial,Helvetica,sans-serif;margin:0;}

a:link { text-decoration:underline; color:#005AFF; }
a:visited { text-decoration:underline; color:#002D80; }
a:hover, a:active, a:focus { background-color:#ffffff; text-decoration:underline; }

blockquote { font-style:italic; }
blockquote em { font-style:normal; }


q { font-style:italic; quotes: '\0000ab\0000a0' '\0000a0\0000bb' '\00201c\0000a0' '\0000a0\00201d'; }

code { font-size:110%; }

/* end generic declarations */

/* --------------------------------------------------- */
/* layout : top-down */


div#header {
    background:#505050; color:#ffffff; padding:2px;
}

div#header a:link, div#header a:visited, div#header a:hover, div#header a:active, div#header a:focus {
	background:transparent;
	color:#ffffff;
}

div#container { text-align:center; }

div#container h1 { text-align:left; margin:1em auto 0.5em auto; width:460px; font-size:200%; }
div#content, div#footer { text-align:left; margin:auto; width:460px; }
div#content { margin-top:0.5em; }
div#longdesc p { text-indent:20px; }
p.backtopic { text-align:right; }

div#photos img { padding:2px; background:#ffffff; border:1px solid #000000; }

div#footer { border-top:1px solid #C2C2C2; font-size:86%; margin:2em auto; }
div#footer * { color:#777777; }

a:link.rss, a:visited.rss, a:hover.rss, a:active.rss, a:focus.rss {
	text-decoration:none; color:#ffffff;
	background:#ff6600 !important;
	border-top:1px solid #FF9136; border-left:1px solid #FF9136;
	border-bottom:1px solid #9E0000; border-right:1px solid #9E0000;
	font-size:60%; font-family:verdana,arial,helvetica, sans-serif; padding:0 3px;
}


/* end layout */

/* --------------------------------------------------- */
/* forums */


div#forums { margin-top:3em; }

html>body div#forums ul.forum-total, html>body div#forums ul.forum-total>li {
    list-style:none; padding-left:0; margin-left:0;
}
div#forums li {
    display:block; list-style:none;
    padding:0.8em 0.8em 0 0.8em;margin-bottom:1em;
    border-top:1px solid #C2C2C2;

}

div#forums li ul li {
	display:list-item;
	list-style-type:disc;
	list-style-image: url("/v4/img/puce-trans.png");
	background:transparent;
    padding:0 20px 0 0; margin-bottom:0;
    border:none;
}
div#forums li ol li {
	display:list-item;
	list-style:decimal;
	background:transparent;
    padding:0 0 0 20px; margin-bottom:0;
    border:none;
}

div#forums h3 a:link.forum, div#forums h3 a:visited.forum { color:#000000; text-decoration:none; }
div#forums h3 a:hover.forum, div#forums h3 a:active.forum, div#forums h3 a:focus.forum  { color:#000000; text-decoration:underline; }

div.texte_forum { padding-left:25px; padding-right:50px; } /* gravatar-enabled */
html>body div.texte_forum { margin-top:-25px; padding-top:25px; }

p.repondre {
    text-align:right; padding:3px 0;
}


/* end forums */

/* --------------------------------------------------- */
/* languages */
a[hreflang]:after { content:" ("attr(hreflang)")"; color:#888888; font-style:italic; }
*[lang=fr] a[hreflang~=fr]:after, *[xml\:lang=fr] a[hreflang~=fr]:after {
    content:"";
}
*[lang=en] a[hreflang~=en]:after, *[xml\:lang=en] a[hreflang~=en]:after {
    content:"";
}


/* end languages */
