html{margin:0;padding:0;}
body{margin:0 auto;padding:0;text-align:center;font-size:76%;font-family:"Myriad Pro","Lucida Grande","Luxi sans",Lucida,"Lucida Sans Unicode",helvetica,arial,sans-serif;}
#contperso{position:absolute;top:0;width:100%;height:2em;clear:both;float:left;z-index:10;border-bottom:1px solid #AAA;}
#perso{position:relative;width:70em;margin:0 auto;padding:0.3em 1em;text-align:left;}
#page{width:70em;margin:3em auto 1em;text-align:left;border:1px solid #CCC;}
#metaz{position:relative;width:70em;margin:0 auto;text-align:left;border-bottom:1px solid #CCC;}
#menus{ position:relative;clear:both;float:left;width:68em;margin:0 auto;padding:0 0 0 2em;background:#111;z-index:10;}
#menus ul{position:relative;margin:0;padding:0;list-style:none;line-height:normal;}
#menus ul li{position:relative;float:left;z-index:1000;}
#menus ul li a{float:none !important;display:block;}
#menus ul li ul{display:none;}
#menus a{display:block;width:auto;background:#111;padding:0.5em 1em 0.4em 0.4em;text-decoration:none;font-weight:bold;color:#FFF;}
#menus ul li ul li a{display:block;width:12.5em;background:#111;padding:0.5em;text-decoration:none;font-weight:bold;color:#FFF;}
#menus a:hover{color:#333;background:#FB5;}
#menus a.PageCourante{color:#333;background:#CCC;padding:0.4em;}
#menus a:hover.PageCourante {color:#333;background:#FB5;}
#menus ul li:hover a{text-decoration:none;}
#menus ul li:hover ul{display:block;width:12em;position:absolute;z-index:999;left:0;}
#menus ul li ul li:hover ul{display:block;position:absolute;z-index:999;}
#menus ul li:hover ul li a{display:block;}
#menus ul li ul li:hover ul li{display:block;background:#CCC;color:#F60;} 
#menus ul li:hover ul li:first-child{border-top:1px solid #2A2A2A;}
#menus ul li:hover ul li{border-bottom:1px solid #2A2A2A;}
#entete{position:relative;width:70em;clear:both;background:#FFF url(images/speciale.png) no-repeat 55em 0.5em;} 
#chemin{position:relative;width:70em;clear:both;border-top:1px solid #CCC;}
#gauche{position:relative;width:18%;float:left;clear:left;}
#central{position:relative;width:55%;float:left;}
#droite{position:relative;width:27%;float:left;}
#info{position:relative;width:70em;margin:0 auto 1em;text-align:left;border:1px solid #CCC;}
#contpied{clear:both;float:left;z-index:10;width:100%;}
#pied{position:relative;width:70em;margin:0 auto;text-align:left;}
/*Elements & selecteurs*/
a{text-decoration:none;}
a:link{color:#900;}
a:visited{color:#910;}
a:hover{color:#c33;}
a:active,.a:focus{color:#000;}
a[hreflang]:after{content:"\0000a0[" attr(hreflang) "]";color:#999;background:transparent;font-size:x-small;}
abbr,acronym{text-transform:uppercase;font-size:85%;letter-spacing:.1em;}
abbr[title],acronym[title],dfn[title]{cursor:help;border-bottom:1px solid black;}
.art_sommaire_petit_cont2{margin-top:1em;border-top:1px solid #CCC;padding-top:1em;}
.art_petit_liste {float:left;position:relative;}
.art_petit_liste li {width:16.2em;float:left;clear:none;float:right;}
.art_petit_liste li:first-child{float:left;width:16em;padding-right:1em;margin-right:1em;border-right:1px solid #CCC;}
.backcolor1{background:#DDD;}
.backcolor2{background:#CCC;}
.backcolor3{background:#900;}
.backcolor4{background:#666;}
.backcolor5{background:#111;}
big{font-size:125%;line-height:80%;}
blockquote{font-style:italic;color:#333;}
blockquote:before{content:"\ab\2005";font-size:7em;color:#FAA;display:block;position:absolute;left:2px;}
blockquote:after{content:"\bb\2005";font-size:7em;color:#FAA;display:inline-block;}
.blockimage{}
.blocklang {position:relative;float:left;width:auto;padding:0;vertical-align:middle;}
.blocktexteall{padding:0.5em 2em;border:1px solid #CCC;}
.blocktextelr{padding:2em;border-left:1px solid #CCC;border-right:1px solid #CCC;}
.blocktextemenus{padding:0.5em 0.5em 0.5em 2em;border-bottom:1px solid #CCC;}
.blocktextebottom{padding:2em;border-bottom:1px solid #CCC;}
.blocktexte{padding:2em;}
.blocktextepetit{padding:0.5em 2em;}
.calendoss{width:3.5em;padding:0.3em;float:right;margin-left:0.5em;text-align:center;border:1px solid #CCC;text-transform:uppercase;}
.calendossnj{font-size:0.6em;}
.calendossm{font-size:0.6em;}
.calendossj{margin:-0.2em auto;font-size:2.1em;font-weight:bold;color:#900;letter-spacing:-0.05em;text-transform:lowercase;}
.calendossa{margin:-0.2em auto;font-size:0.950em;font-weight:bold;letter-spacing:0.10em;color:#900;}
.caractencadre-spip{color:#F60;font-weight:bold;}
.caractencadre2-spip{color:#009;font-weight:bold;}
.cartouche{margin-bottom:2em;}
.cartouche .spip_logos{float:right;margin-left:16px;margin-bottom:4px;}
.cartouche p{margin:0;padding:0;clear:left;}
.cartouche .soustitre{margin-top:0.80em;}
.cartouche .traductions{font-size:0.90em;}
.chapo{margin-bottom:1.50em;line-height:1.40em;font-weight:bold;}
.chapo:first-letter{font-size:1.5em;color:#900;display:block;margin-right:0.2em;vertical-align:text-top;}
cite,em,dfn{font-style:italic;}
code{font-size:110%;line-height:80%;}
.color1{color:#333;}
.color2{color:#333;}
.color3{color:#CCC;}
.color4{color:#CCC;}
.color5{color:#FFF;}
del{text-decoration:line-through;}
.ferg{text-align:left;}
.ferc{text-align:center;}
.ferd{text-align:right;}
.ferj{text-align:justify;}
.formulaire_recherche label{display:none;}
.formulaire_spip {border:0 none;clear:both;margin-bottom:0.5em;padding:0;text-align:left;}
.formulaire_spip label{font-weight:normal;font-style:normal;text-align:left;position:relative;}
hr{display:none;}
h1,h2,h3,h4,h5,h6{margin:0;}
h4.color1 {border-bottom:1px solid #CCC;margin-bottom:0.5em;font-weight:900;}
h4.color2 {border-bottom:1px solid #CCC;padding-top:1em;margin-bottom:0.5em;font-weight:900;}
hr{height:1px;background-color:#CCC;border:none;margin-bottom:0.9em;}
#hierarchie{clear:both;margin-bottom:1em;font-size:0.96em;border-bottom:1px solid #CCC;}
.hyperlien{display:block;background:#EEE;padding:0.50em 1em;font-weight:bold;}
.info-publi{margin:1em 0;}
.invisible{position:absolute;top:-3000em;height:1%;display:none;}
ins,dfn{border-bottom:1px solid #666;}
kbd,samp,pre,tt,var,input[type='text'],input[type='password'],textarea{/*font-size:100%;font-family:mono-space,monospace;*/}
:lang(fr){quotes:'\ab\2005' '\2005\bb' '\2039\2005' '\2005\203a';}/*Pour faire sobre. Il faut chercher les autres chez Tripoli*/
.meta-publi {width:100%; clear:both;border-bottom:1px solid #CCC;padding:0 0 0.5em ;text-align:right;margin:0 0 1em;}
.meta-publi-petit {width:100%; clear:both;padding:0 0 0.5em ;text-align:right;}
.nettoyeur{clear:both;height:0;margin:0;padding:0;border:0;line-height:1px;font-size:1px;}
.notes{clear:both;font-size:0.90em;}
.on{font-weight:bold;}
p+p{}
p{line-height:140%;color:#444;margin:0;}
p+h1,p+h2,p+h3,p+h4,p+h5,p+h6{margin:0.66em 0 0.33em;font-weight:400;}
p.petit{font-size:0.8em;line-height:120%;}
p.pagination{margin-top:1em;padding-top:0.5em;clear:both;text-align:right;font-size:0.90em;color:#666;border-top:1px solid #CCC;}
.pagination .on{font-weight:bold;color:#666;}
.ps, .notes{margin-bottom:2em;line-height:1.40em;}pre{white-space:pre;}
pre *{font-size:100%;white-space:pre;}
small,sup,sub{font-size:85%;}
sub{vertical-align:sub;}
sup, .super{font-size:0.7em;text-transform:none;vertical-align:0.3em;letter-spacing:1px;}
.spip_modele{float:right;display:block;padding:1em;border:1px solid;width:180px;}
.surtitre, .soustitre{font-size:1.10em;color:#555;font-weight:bold;}
.texte{line-height:1.60em;}
.texteencadre-spip{float:right;text-align:justify;background:#EEE;border:2px solid #CCC;margin:0.5em 0 0.5em 1em;padding:.5em;width:50%;}
.texte h1,.texte h2,.texte h3 + table.spip {margin-top:1em;}
.texte h1,.texte h2,.texte h3 + table.spip caption{margin-top:2em;}
.texte h1{font-size:1.6em;margin:0.7em 0 0.4em;}
.texte h2{font-size:1.8em;margin:0.7em 0 0.5em;}
h2{font-size:1.8em;font-weight:100;margin:0.7em 0 0.5em;}
.texte h3{font-size:1.4em;margin:0.7em 0 0.6em;}
.texte h3 + .spip_code{margin-top:1.5em;}
.texte h4{font-size:1.3em;margin:0.7em 0 0.7em;}
.texte h5{font-size:1.2em;margin:0.7em 0 0.8em;}
.texte h6{font-size:1em;margin:0.7em 0 1em;}
.texte hr{display:block;background:black;color:black;width:100%;height:1px;border:none;}
.texte ol{margin-left:2em;}
.texte p + p{margin-top:0.5em;}
.texte p{font-size:1em;line-height:1.36em;text-align:justify;}
.texte ul li ul li{margin-left:1em;}
.unpeubig {position:absolute;font-size:7em;font-weight:100;text-align:center;left:2em;}
.widgetsleft {left:0.5em;top:0.5em;position:absolute;width:auto;height:1em;z-index:200;}
.widgets {right:2em;top:2em;position:absolute;width:auto;height:1em;z-index:200;}
.widgetspetit {right:2em;top:0.5em;position:absolute;width:auto;height:1em;z-index:200;}
.widgetsrecherche {right:2em;top:2em;position:absolute;width:auto;height:1em;z-index:200;}
.widgets a, #menus .widgets a:hover{background:transparent;width:1em;border-right:none;}
.widgets img:hover{background:transparent;}
.widgetspetit,.widgets img,#perso img {vertical-align:middle;}
.widgets ul{position:relative;margin:0;padding:0;list-style:none;line-height:normal;}
.widgets ul li{position:relative;float:left;z-index:1000;}
/*Formulaires*/
input,select,button{cursor:pointer;}
input[type='text'],input[type='password']{cursor:text;}
input[type='hidden']{display:none;}
textarea,input[type='text'],input[type='password'],select{}
legend {font-weight:bold;color:#900;text-align:left;}
label{font-style:italic;text-align:left;}
fieldset{border:none/*1px solid #ccc*/;text-align:left;}
textarea:hover,input[type='text']:hover,input[type='password']:hover,select:hover{}
textarea:focus,input[type='text']:focus,input[type='password']:focus,select:focus{}
fieldset ul li {width:100%;float:left;clear:both;}
#formulaire_inscription2 {}
#formulaire_inscription2 form fieldset ul li {margin-bottom:0.5em;}
#formulaire_inscription2 form fieldset ul li input {float:right;}
#formulaire_inscription2 form p input {float:right;}
#formulaire_inscription2 form fieldset ul li textarea {float:right;}
#formulaire_inscription2 form fieldset ul li .radio  {float:left;}
#formulaire_menu_lang {width:25em;position: absolute;right:1em;top:-1.8em;z-index:10000;}
#formulaire_menu_lang label {color:#FFF;width:14em;text-align:right;margin-right:1em;position:relative;float:left;}
#formulaire_menu_lang select {width:10em;position: relative;float:right;}
#formulaire_recherche{width:17em;position:absolute;right:-1em;top:-1.8em;text-align:right;}
/*images*/
img, .spip_logos{padding:0;border:none;margin:0;}
#pied img{vertical-align:middle;}
.spip_documents_left{float:left;margin-right:15px;margin-bottom:0px;clear:left;margin-top:0px;margin-left:0px;display:block;border :0;line-height :10%;}
.spip_documents{}
.spip_documents p{}
.spip_documents_center{display:block;clear:both;width:100%;margin:1em auto;}
.spip_documents_right{float:right;margin-left:15px;margin-bottom:5px;}
.spip_doc_titre{margin-right:auto;margin-left:auto;font-weight:bold;font-size:0.90em;}
.spip_doc_descriptif{clear:both;margin-right:auto;margin-left:auto;font-size:0.90em;}
/*Listes*/
ol{list-style-type:decimal;}
ul{margin:0;padding:0;list-style:none;}
.menu{clear:both;text-align:left;}
.menu p{margin:0;padding:0;}
.menu ul{margin:0;padding:0;list-style:none;}
.menu ul li{margin:0;padding:0;}
.menu ul li ul{margin-left:1em;border:0;}
.menu ul li li{padding:0;border:0;}