<plugin>
<nom><multi>[fr]ZPresse[en]ZPress[es]ZPrensa</multi></nom>
<auteur> [speciale->http://www.luis-speciale.net] pour Zpip</auteur>
<licence><a href='http://creativecommons.org/licenses/by/2.5/' rel='licence'>Creative Commons Attribution 2.5 License</a></licence>
<version>1.0</version>
<description><multi>[fr]Un th&egrave;me de presse basique.[en]A press basic template.[es]Un tema b&aacute;sico de prensa.</multi></description>
<icon>vignette.jpg</icon>
<etat>stable</etat>
<prefix>theme</prefix>
<categorie>theme</categorie>
<utilise id="Z" version="[1.2.0;]" />
</plugin>