<plugin>
  <nom>EVA-lang</nom>
  <auteur>Olivier Gautier
  </auteur>
  <version>4.0</version>
  <etat>dev</etat>
  <description>
  Ce plugin ne sert à rien, si ce n'est regrouper ici les fichiers de langue d'EVA
  pour pouvoir les passer dans la moulinette Salvatore afin de faciliter le travail des traducteurs.
  Il faut noter que les fichiers de langue EVA-web n'ont pas un format standart et ne peuvent
  pas passer dans Salvatore d'origine.
  </description>
  <prefix>evalang</prefix>
  <categorie>squelette</categorie>
	<salvatore module="eva" reference="fr" />
</plugin>
