<plugin>
	<nom>Web-TV</nom>
	<slogan>Un ensemble de squelettes orientés web-TV</slogan>
	<version>0.2.1</version>
	<prefix>webtv</prefix>
	<etat>dev</etat>
	<auteur>[Pierre Rudloff->mailto:rudloff.p@gmail.com]</auteur>
	<description>
Ces squelettes fournissent une base pour cr&#233;er une web-tv avec SPIP. Ils sont bas&#233;s sur ceux de [tvcampus.net->http://www.tvcampus.net/].

Il suffit de rajouter une vid&#233;o &#224; un article pour qu'elle apparaisse dans le lecteur. Le lecteur utilise la balise [video->http://en.wikipedia.org/wiki/HTML_video] de HTML5. Il ne lit donc que les vid&#233;os au format Ogg et n'est compatible qu'avec Firefox 3.5 ou plus r&#233;cent (ou Safari/Chrome si les vid&#233;os sont en MP4. Vous pouvez aussi publier les vid&#233;os dans les deux formats et le navigateur choisira celle qui lui convient). Si vous affichez la page avec un navigateur qui ne g&#232;re pas HTML5, un lecteur Flash devrait se charger. Le lecteur peut lire les vid&#233;os en MP4 ou FLV.

Le squelette comprend aussi un flux RSS (podcast.html) qui fait aussi office de podcast compatible iTunes (&#224; condition de publier les vid&#233;os dans un format compatible), ainsi qu'un Sitemap Google (sitemap.html) pour r&#233;f&#233;rencer les vid&#233;os sur Google Video.

Le CSS est basique pour vous permettre de l'&#233;diter &#224; votre guise, mais il n'est s&#251;rement pas tr&#232;s utilisable tel quel. 
	</description>
	<lien>https://contrib.spip.net/Squelettes-pour-web-tv</lien>
	<necessite id="SPIP" version="[2.1.0;2.1.99]" />
	<categorie>squelette</categorie>
</plugin>
