/**
 * Configuration de la grille
 *
 * Définition des breakpoints, gouttières, etc.
 **/

// Type de grille
// Normale : gridle
// Flexbox : gridle-flex
@import "gridle/gridle/gridle-flex";

// Paramètres de la grille
$settings : (
  context : 12,
  gutter-width : 20px,
  gutter-height: 20px,
  direction : ltr
);
@include gridle_setup($settings);

// Définition des breakpoints
@include gridle_register_state(mobile, (
    max-width : 479px
));
@include gridle_register_state(tablet, (
    min-width : 480px,
    max-width : 959px
));
@include gridle_register_state(tablet-up, (
    min-width : 480px
));
@include gridle_register_state(desktop, (
    min-width : 960px,
    max-width: 1199px
));
@include gridle_register_state(desktop-up, (
    min-width : 960px
));
@include gridle_register_state(desktop-large, (
    min-width : 1200px
));

// Go go go
@include gridle_init();