/**
 * Configuration de la grille utilisée
 *
 * http://gridle.org/
 *
 * Définition des breakpoints, des gouttières, etc.
**/

/**
 * Driver : type de grille
 * - gridle : normale
 * - gridle-flex : flexbox
**/
@import "frameworks/gridle/gridle/gridle-flex";


/**
 * Settings : paramètres généraux de la grille
**/
$grid-settings : (
  context : 12,
  gutter-width : 20px,
  gutter-height: 0,
  gutter-left: 10px,
  gutter-right: 10px,
  gutter-top: 0,
  gutter-bottom: 0,
  direction : ltr,
  states-classes: false
);
@include gridle_setup($grid-settings);


/**
 * States : définition des breakpoints
 * Il est possible de surcharger les paramètres de la grille pour chaque state
**/
@include gridle_register_state(mobile, (
  max-width : 479px,
  gutter-width: 10px
));
@include gridle_register_state(tablet, (
  min-width : 480px,
  max-width : 959px
));
@include gridle_register_state(tablet-up, (
  min-width : 480px
));
@include gridle_register_state(desktop, (
  min-width : 960px,
  max-width: 1199px
));
@include gridle_register_state(desktop-up, (
  min-width : 960px
));
@include gridle_register_state(large, (
  min-width : 1200px,
  gutter-width: 30px
));


/**
 * Initialisation
 * Nécessaire pour l'utilisation de mixins
**/
@include gridle_init();
