/**
 * Les mixins utilisées dans le projet
**/

// Afficher la grille horizontale (pour le dev)
@mixin debug_rythm() {
  @if $debug_rythm {
    $baseline: base-spacing-math() / (base-spacing-math() * 0 + 1);
    $baseline_desktop: base-spacing-math($shevy-desktop) / (base-spacing-math($shevy-desktop) * 0 + 1);
    $baseline_large: base-spacing-math($shevy-large) / (base-spacing-math($shevy-large) * 0 + 1);
    // base
    background-image: url("//basehold.it/i/#{$baseline}");
    // bureaux
    @include gridle_state( desktop ) {
      background-image: url("//basehold.it/i/#{$baseline_desktop}");
    }
    // large
    @include gridle_state( large ) {
      background-image: url("//basehold.it/i/#{$baseline_large}");
    }
  }
}