/**
 * Configuration du rythme vertical
 *
 * Définition des breakpoints, des gouttières, etc.
 *
 * [FIXME] Pour les variantes des breakpoints, est-ce qu'il faut à chaque fois *tout* redéfinir
 * ou juste les propriétés qui changent ?
**/


/* Base */
$shevy: (
  base-font-size: $typo-font-size,
  base-line-height: $typo-line-height,
  base-font-scale: (2.5, 2.1, 1.8, 1.5, 1.25, 1),
  margin-bottom: true,
  proximity: false,
  proximity-factor: .85
);

/* Sur bureaux */
$shevy-desktop: (
  base-font-size: $typo-font-size * 1.2,
);

/* Sur bureaux larges */
$shevy-large: (
  base-font-size: $typo-font-size * 1.33,
);
