
/**
 * Mises aux couleurs du thème pour les éléments de base
 */

body {
	color: $couleur-texte;
	font-family: $typo-font-text;
	font-size: $typo-font-size-fluid;
}

// Titres
@include headings; // font-size, line-height, margin-bottom
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $typo-font-heading;
}
.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

// Liens
a {
	color: $couleur-lien;
	text-decoration:none;

	&:hover {
		text-decoration:underline;
	}
	&:focus {
		background-color: $couleur-lien !important;
		color: white !important;
		outline: 0;
	}
	&:visited {
		color: $couleur-lien;
	}
}
.link-block-wrapper{
	position:relative;

	a {
		position:inherit;

		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
		}
	}
}

// Rythme vertical
p, dl, pre, ol, ul, figure, blockquote, table {
	margin-bottom: $bs;
}

// Listes
ul, ol {
	list-style: none;
}

ul.spip {
    list-style: square;
}
ol.spip {
	list-style: decimal;
}

// Trait de séparation
hr {
	border-style: dotted;
}

// Citations
blockquote {
}

/* Cacher du texte de façon accessible */
/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
/* Afficher un texte précédemment caché */
.visually-visible {
  position: static !important;
  height: initial; width: initial;
  overflow: visible;
  clip: initial;
}