/**
 * Définition des variables du projet
 *
**/

/* Palette de couleur */
$couleur-rouge: #d44423;
$couleur-beige: #c7b698;
$couleur-beige-clair: #e8e0d1;
$couleur-sombre: #322c20;

/* Palette fonctionnelle */
$couleur-texte: black;
$couleur-lien: $couleur-beige;

/* Variables de typographie */
$typo-font-size: 1rem;
$typo-line-height: 1.5;

/* Familles de polices */
$typo-font-text: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Verdana", sans-serif, sans; // Texte principal
$typo-font-heading: "Arial Black", "Arial Bold", "Gadget", sans-serif, sans; // Titres
$typo-font-alt: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Georgia", serif;; // Textes alternatifs (par ex. chapos, sous-titre etc.)
