/**
 * Définition des variables du projet
 *
 * Voir aussi les fichiers xxx-settings.scss
**/

/* Palette de couleur */
$couleur-rouge: #d44423;
$couleur-beige: #c7b698;
$couleur-beige-clair: #e8e0d1;
$couleur-sombre: #322c20;

/* Palette fonctionnelle */
$couleur-texte: black;
$couleur-lien: $couleur-beige;

/* Variables de typographie */
$typo-font-size: 1em; // = taille du texte définie dans Tinytypo
$typo-line-height: 1.5;
//$typo-margin-vertical: 1em; // Laisser Shevy s'occuper du rythme vertical
$typo-font-text: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Verdana", sans-serif, sans; // Famille du texte principal
$typo-font-heading: "Arial Black", "Arial Bold", "Gadget", sans-serif, sans; // Familles des titres
$typo-font-alt: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Georgia", serif;; // Familles des textes alternatifs (par ex. chapos, sous-titre etc.)
