<plugin>
	<nom>Zpip-dist HTML5</nom>
	<slogan><multi>[fr]Zpip-dist HTML 5 pour SPIP 3 + Z-core[en]Zpip-dist HTML 5 for SPIP 3 + Z-core</multi></slogan>
	<auteur>Loiseau2nuit, davux, Matthieu Marcillaud, C&#233;dric Morin, Romy T&ecirc;tue, Collectif SPIP</auteur>
	<icon>img/z5.png</icon>
	<licence>GNU/GPL</licence>
	<version>2.0-dev</version>
	<etat>dev</etat>
	<description>
		<multi>
			[fr]ZKTX, squelette HTML5, responsive et optimis&eacute; SEO pour SPIP 3 + Z-core
			[en]ZKTX : HTML5 skeleton for SPIP 3 + Z-core, Responsive and SEOptimized
		</multi>
	</description>
	<lien>http://nutzme5.loiseau2nuit.net/z5bp.html</lien>
	<prefix>zktx</prefix>
	<options>zktx_options.php</options>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[3.0-dev;]" />
	<necessite id="Zcore" version="[2.0.0-dev;]" />
</plugin>
