<plugin>
	<nom>ScolaSpip</nom>
	<slogan>Un squelette pour un site d'&#233;tablissement scolaire</slogan>
	<auteur>CRDP de l'acad&#233;mie de Versailles</auteur>
	<version>1.14.3</version>
	<etat>stable</etat>
	<licence>GNU/GPL</licence>
	<description>
Plugin-Squelette pour site d'&#233;tablissement.
_ Le plugin ScolaSpip permet de configurer l'habillage de votre site et ses couleurs.
	</description>
	<lien>https://contrib.spip.net/spip.php?article2935</lien>
	<prefix>ScolaSpip</prefix>
	<fonctions>scolaspip_fonctions.php</fonctions>
	<options>scolaspip_options.php</options>
	<bouton id='Scola_Accueil_config' parent='configuration'>
		<icone>images/scolaspip.png</icone>
		<titre>Configurer Scola-Spip</titre>
		<url>cfg</url>
		<args>cfg=scolaspip_accueil</args>
	</bouton>
	<bouton id='scolaspip_bando' parent='bando_squelette'>
		<icone>images/scolaspip.png</icone>
		<titre>Configurer Scola-Spip</titre>
		<url>cfg</url>
		<args>cfg=scolaspip_accueil</args>
	</bouton>  
	<pipeline>
	   	<nom>affiche_droite</nom>
	   	<action>droite</action>
   		<inclure>scolaspip_pipelines.php</inclure>
	</pipeline>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<necessite id="pb_selection" version="[0.3.1;]" />
	<necessite id="cfg" version="[1.7.6;]" />
	<utilise id="evamentions" version="[1.0;]" />
	<utilise id="agenda" version="[0.18;]" />
	<utilise id="palette" version="[1.0;]" />
	<utilise id="Player" version="[0.67;]" />
	<utilise id="Splickr" version="[0.3;]" />
	<utilise id="Thickbox1" version="[0.3;]" />
	<utilise id="Crayons" version="[1.1;]" />
</plugin>
