<plugin>
	<nom>Sarka-SPIP Arclite</nom>
	<auteur><a href='http://digitalnature.ro/projects/arclite'>digitalnature</a>, adapt&#233; pour Sarka-SPIP par Eric Lupinacci</auteur>
	<licence>GPL</licence>
	<version>0.1.0</version>
	<slogan>Th&#232;me Sarka-SPIP 3, &#233;l&#233;gant en 3 colonnes</slogan>
	<description>
Adaptation libre pour le squelette Sarka-SPIP du th&#232;me Arclite. Il est pr&#233;vu pour un layout fixe de 960 pixels de large.
	</description>
	<icon>vignette.png</icon>
	<etat>stable</etat>
	<prefix>theme_sarka_arclite</prefix>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>