<plugin>
	<nom>Sarka-SPIP Arclite</nom>
	<auteur><a href='http://digitalnature.ro/projects/arclite'>digitalnature</a> adapt&eacute; pour Sarka-SPIP par Eric Lupinacci</auteur>
	<licence><a href='http://www.opensource.org/licenses/gpl-license.php' rel='licence'>GPL</a></licence>
	<version>0.1</version>
	<description>
Adaptation libre pour le squelette Sarka-SPIP du th&egrave;me Arclite. Il est pr&eacute;vu pour un layout fixe de 960 pixels de large.
	</description>
	<icon>vignette.png</icon>
	<etat>stable</etat>
	<prefix>theme_sarka_arclite</prefix>
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>