button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

form {
  margin: 0 0 2em 0; }

.formulaire_spip {
  /* elements du formulaire */
  /* choix */
  /* reponses succes/erreur */
  /* Explications */
  /* Remarques importantes */
  /* Fieldset */
  /* boutons */ }
  .formulaire_spip .boutons,
  .formulaire_spip .titrem,
  .formulaire_spip .legend {
    margin: 0; }
  .formulaire_spip > p,
  .formulaire_spip fieldset > p {
    margin: 0 !important;
    padding: 0.2em 1em; }
  .formulaire_spip .editer {
    list-style: none;
    margin: 0 0 1em 0;
    clear: both;
    overflow: hidden; }
  .formulaire_spip .fieldset,
  .formulaire_spip .saisie_explication {
    padding: 0;
    border: none;
    background: none; }
  .formulaire_spip .editer.afficher {
    overflow: hidden;
    margin-bottom: 0.8em; }
  .formulaire_spip input.text,
  .formulaire_spip input.password,
  .formulaire_spip input.date,
  .formulaire_spip input[type=text],
  .formulaire_spip input[type=password],
  .formulaire_spip input[type=search],
  .formulaire_spip textarea,
  .formulaire_spip select {
    font-size: 1em;
    font-family: inherit;
    padding-left: 0.3em;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.075);
    height: 2.5em;
    line-height: 2.5em; }
  .formulaire_spip input.placeholder,
  .formulaire_spip textarea.placeholder {
    color: rgba(255, 255, 255, 0.75); }
  .formulaire_spip label {
    display: block;
    margin-bottom: 0.5em; }
  .formulaire_spip select::-ms-expand {
    display: none; }
  .formulaire_spip textarea {
    overflow: auto;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit; }
  .formulaire_spip .erreur {
    background-color: #FBE3E4; }
  .formulaire_spip .erreur_message {
    display: block;
    color: #8A1F11;
    font-weight: bold; }
  .formulaire_spip .erreur input.text,
  .formulaire_spip .erreur input.password,
  .formulaire_spip .erreur textarea {
    border: 2px solid #FBC2C4; }
  .formulaire_spip .obligatoire .label {
    font-weight: bold; }
  .formulaire_spip .choix {
    overflow: hidden;
    margin: 0.3em 0;
    display: flex;
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start; }
  .formulaire_spip .choix .radio,
  .formulaire_spip .choix .checkbox {
    display: inline-block; }
  .formulaire_spip .choix label {
    display: inline-block;
    font-weight: normal;
    text-transform: none;
    margin: 0;
    padding-left: 0.5em; }
  .formulaire_spip .choix label.on {
    font-weight: bold !important; }
  .formulaire_spip .reponse_formulaire,
  .formulaire_spip .error, .formulaire_spip .success, .formulaire_spip .notice {
    border: 1px solid;
    font-weight: normal;
    padding: 0.5em;
    min-height: 24px;
    margin-bottom: 1em;
    margin-top: 1em; }
  .formulaire_spip .reponse_formulaire_ok {
    color: #264409;
    border-color: #C6D880;
    background-color: #E6EFC2; }
  .formulaire_spip .reponse_formulaire_erreur {
    color: #8A1F11;
    border-color: #FBC2C4;
    background-color: #FBE3E4; }
  .formulaire_spip .saisie_explication .explication {
    background: #F0F0F0;
    font-size: 100%;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.6em; }
  .formulaire_spip p.explication {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-weight: normal;
    font-style: italic;
    margin-top: -0.5em;
    margin-bottom: 0.5em; }
  .formulaire_spip .explication * {
    margin: 0 !important; }
  .formulaire_spip .attention {
    display: block;
    margin-bottom: 1em;
    font-weight: normal; }
  .formulaire_spip input.submit,
  .formulaire_spip input.reset,
  .formulaire_spip input.button {
    width: auto; }
  .formulaire_spip fieldset {
    border: 0;
    width: auto;
    padding: 0;
    margin: 1.5em 0; }
  .formulaire_spip h2.legend,
  .formulaire_spip h3.legend,
  .formulaire_spip legend {
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    font-size: 125%;
    display: block;
    margin: 0 0 0.75em 0; }
  .formulaire_spip fieldset .editer-groupe {
    padding-left: 2em;
    border-left: 1px solid rgba(255, 255, 255, 0.075); }
  .formulaire_spip .saisie_date label {
    display: inline-block;
    margin-right: 1.5em; }
  .formulaire_spip .boutons {
    margin: 1em 0 0 0;
    clear: both;
    padding: 1em 0;
    text-align: right; }
  .formulaire_spip .boutons-left {
    text-align: left; }
  .formulaire_spip .boutons-center {
    text-align: center; }
  .formulaire_spip .boutons.noborder {
    margin-top: 0; }

a.button,
.formulaire_spip button,
.formulaire_spip input[type=submit],
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: rgba(255, 255, 255, 0.075);
  border: none;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 2em;
  line-height: 2em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 1em; }
  a.button:last-child,
  .formulaire_spip button:last-child,
  .formulaire_spip input[type=submit]:last-child,
  .button:last-child {
    margin-right: 0; }
  a.button:hover, a.button:active,
  .formulaire_spip button:hover,
  .formulaire_spip button:active,
  .formulaire_spip input[type=submit]:hover,
  .formulaire_spip input[type=submit]:active,
  .button:hover,
  .button:active {
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff !important; }

input[type=text]:focus, input[type=password]:focus, input[type=search]:focus, textarea:focus, select:focus {
  border-color: rgba(204, 204, 204, 0.3); }

/* Bouton de validation */
/* Pour IE, qui grossit le bouton submit */
input[type="submit"], input[type="reset"] {
  font-size: inherit; }

/*# sourceMappingURL=forms.css.map */
