<plugin>
    <nom>Diaporama pour EVA</nom>
    <slogan>Publication d&#8217;un article sous forme de diaporama</slogan>
    <auteur>Michel Fraisse, Samuel Bocharel, Laurent Jullien, Equipe de d&#233;veloppement d&#8217;Eva</auteur>
    <licence></licence>
    <version>0.1.0</version>
    <etat>stable</etat>
    <description>
    Pour publier un article sous forme de diaporama:
- Activer le plugin en cochant la case ci-contre, puis valider
- S&#8217;assurer que le mot cl&#233; diaporama existe et l&#8217;ajouter aux articles voulus.
    </description>
    <prefix>article_diaporama</prefix>
    <categorie>squelette</categorie>
    <necessite id="spip" version="[2.0.0;2.1.99]" />
</plugin>
