<plugin>
    <nom>Publication d'un article sous forme de diaporama</nom>
    <auteur>Michel Fraisse, Samuel Bocharel, Laurent Jullien, Equipe de d&eacute;veloppement d'Eva</auteur>
    <version>0.1</version>
    <etat>stable</etat>
    <description>
    {{{Publication d'un article sous forme de diaporama}}}
    
    {{Int&eacute;ret de ce plugin}}<br />
    - 

    {{Mise en place de ce plugin}}<br />
    - Activer le plugin en cochant la case ci-contre, puis valider<br />
    - S'assurer que le mot cl&eacute; diaporama existe et l'ajouter aux articles voulus.<br />
    </description>
    <prefix>article_diaporama</prefix>
</plugin>
