/* **************** GRILLE ***************** */
.size1of10 { width: 10%; }
.size3of10 { width: 30%; }

/* **************** INDEX ALPHABETIQUE ***************** */
.index { padding: 0; margin: 0; text-align: left; }
.index .lien_index { padding: 0 2px; margin-right: 2px; text-decoration: none; }
.index .lien_index:hover,
.index .lien_index:active { text-decoration: underline; }
.index .on { font-weight: bold; }
.lettrine { margin: 1em 0 0; padding: 0 }

/* **************** PAGE PREFIXES ***************** */
#prefixes {margin-top : 2em; }

/* **************** PAGE DEPOTS ***************** */
#depots {margin-top : 2em;}
#depots .item-depot { float: none; position: relative; }
#depots .item-depot .logo { float: left; padding-right: 1em; }
#depots .item-depot .unit {padding-right : 1em; }
#depots .item-depot .lastUnit { padding-right : 0; }

/* **************** PAGE STATISTIQUES ***************** */
#statistiques {margin-top : 2em; }

/* **************** PAGE PLUGIN ***************** */
.liste.branches {float: left;}
.branches .liste-items {border-top: 0;}
.branches .liste-items .item {padding: 0 0 0 22px; border-bottom: 0; font-weight: bold; background: url("img/branche_ok-16.gif") no-repeat left center;}
.branches .liste-items .item:hover {background-color: transparent; }

.paquet {margin-top: 30px; float: left; width: 100%;}

.liste.actions {float: right;}
.actions .liste-items {border-top: 0;}
.actions .liste-items .item {padding: 0; border-bottom: 0;}
.actions .liste-items .item:hover {background-color: transparent;}
