
/* Formulaires - styles communs */
label{
	display:block;
	font-weight:bold;
}
textarea, input[type=text], input.text, select{
	font-size:1em;
	line-height:$typo-line-height;
	width:100%;
}


/* Formulaire fournis par SPIP */
.formulaire_spip{
	clear:both;
	
	ul{
		margin:0;
	}
	.editer{
		list-style:none;
		
		.erreur_message{
		}
	}
	/*.editer{
		// À partir des moyens grands on met deux champs par ligne
		@include media($bp-medium-up){
			float:left;
			width:50%;
		}
	}
	.saisie_textarea{
		clear:both;
	}*/
	.boutons{
		clear:both;
		border-top:1px solid black;
		margin-top:1em;
		padding:1em;
		text-align:center;
	}
}

