 code {
	color: #fff;
	font-family: "courier new", helvetica, "times new roman", monospace;
	  font-size: small;
 color: #444;
	  background: #F4f4f4;
	  border: 1px solid #ccc;
	  padding: 1px;
	  padding-left: 25px;

	  width: 470px;
	  margin: 2px auto;
	  white-space: nowrap;
}

.texte {
	font-size: 9pt;
	line-height: 16px;
	color: #524636;
	margin: 0 55px 0 10px;
	padding: 2px 0 12px 15px;
	text-align: justify;
}

.spip_puce { list-style-position: outside; }


.post .tag {
	font-family:Tahoma;
	color:#969594;
	text-transform:uppercase;
	font-size:10px;
	line-height:14px;
    position:relative;
    float:left;
    width:467px;
	margin: 10px 10px 7px 13px;
	padding: 3px 5px 0px 35px;
	height:21px;
	background: url(./pic/tag.jpg) no-repeat;
	font-weight:bold;
}

.post .tag a:link, .post .postdata a:visited {
    color:#969594;
    text-decoration:none;
    border-bottom: 0px solid #E2E3D5;
}

.post .tag a:hover {
    color:#524636;
    text-decoration:none;
}




