 body { 
	font-family: Verdana, Arial, sans-serif;;
	margin:0; 
	padding:0;
	background: url(pic/bg.jpg);
}

a:link, a:visited {
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

form {
padding:0;
margin:0;
display:inline;
}
 
#bigwrapper {
	width:520px;
	margin:20px auto 500px auto;
	overflow:hidden;
	position:relative;
	background-color:;
}

#header h1 {
	position:relative;
	float:left;
	display:block;
	margin:80px 0 0 20px;
	font-weight:bold;
	font-size:35px;
	line-height:35px;
	color:#FFF;
	text-transform:uppercase;
}

#header h1 a:link, #header h1 a:visited {
    color:#FFF;
}

#header h1 a:hover {
    color:#97BBD7;
    text-decoration:none;
}

#Search input {
	padding:0;
	margin:0;
}

#Search {
	text-align:center;
	padding:5px 0 0 0;
	margin:0;
}

#header {
	position:relative;
	margin:0;
	background-color:#444;
	width:100%;
	height:120px;
	height:118px;
	background: url(./pic/1.jpg) no-repeat;
}

#footer {
	position:relative;
	margin:0;
	width:100%;
	height:8px;
	float:left;
	background: url(./pic/5.jpg);
}

#footer p {
	font-size:10px;
	line-height:10px;
	text-align:center;
	color:#FFF;
	padding:10px 0 0 0;
	margin:0 0 0 22px;	
}

#footer p a:link, #footer p a:visited {
    color:#FFF;
}

#topbar {
	position:relative;
	margin:0;
	width:100%;
	overflow:hidden;
	float:left;
	background-color:;
}

#redline {
	position:relative;
    height:34px;
	background-color:#3F3629;
	text-align:left;
	background: url(./pic/2.jpg) no-repeat;
}

#redline p {
	font-size:10px;
	line-height:10px;
	color:#EEE;
	text-transform:uppercase;
	padding:10px 0 0 0;
	margin:0 0 0 22px;	
	display:block;
	position:relative;
	float:left;
}

#redline p a:link, #redline p a:visited {
	color:#EEE;
	text-decoration:none;

}

#redline p a:hover {
	color:#99B3CE;

}

#redline .where {
    color:#99B3CE;
}

#topbarmenuwrapper, #bottombarmenuwrapper {
    position:relative;
    float:left;
    width:520px;
    padding:9px 0px 12px 7px;
    text-align:center;
    font-size:12px;
    background: url(./pic/3.jpg);
}


#bottombarmenuwrapper {
    padding:0 0 25px 0;
}



.barmenuleft {
	position:relative;
	width:150px;
	float:left;
	vertical-align:bottom;
	margin-right:2px;
	padding:0px 0px 0px 27px;
}

.barmenuright {
	position:relative;
	width:150px;
	float:left;
	vertical-align:bottom;
	margin-right:2px;
	padding:0px 0px 0px 0px;
}


.barmenuright2 {
	position:relative;
	width:150px;
	float:left;
	vertical-align:bottom;
	padding:0px 23px 0px 0px;
}

#bottombarmenuwrapper h3, #topbarmenuwrapper h3 {
	font-family:Tahoma;
	font-size:10px;
	line-height:21px;
	color:#fff;
	text-transform:uppercase;
	margin:5px 0 0 2px;
	display:block;
	background: url(./pic/menu1.jpg) no-repeat;

}

#bottombarmenuwrapper h3 a:link, #topbarmenuwrapper h3 a:link, #bottombarmenuwrapper h3 a:hover, #topbarmenuwrapper h3 a:hover, #bottombarmenuwrapper h3 a:visited, #topbarmenuwrapper h3 a:visited {
	color:#EEE;
	text-decoration:none;
}

#bottombarmenuwrapper ul, #topbarmenuwrapper ul {
	padding:0;
	margin:0;
}

#bottombarmenuwrapper ul li, #topbarmenuwrapper ul li {
	list-style:none;
	display:block;
	position:relative;
	line-height:24px;
	
}

#bottombarmenuwrapper .textwidget, #topbarmenuwrapper .textwidget  { 
margin-top:5px; 
}

#wp-calendar {
	width:100%;
	text-align:center;
	border-collapse: collapse;
}

#wp-calendar caption, #wp-calendar th {
	color:#3F3629;
	padding:4px;
}

#wp-calendar td {
	padding:1px;
	border:none;
}

#wp-calendar caption {
	font-weight:bold;
}

#wp-calendar #today {
	font-weight:bold;
	color:#3F3629;
}

#wp-calendar a {
	color:#3F3629;
	text-decoration:underline;
}

#topbarmenuwrapper img, #bottombarmenuwrapper img {
border:0;
}

#bottombarmenuwrapper ul li a:link, #topbarmenuwrapper ul li a:link, #bottombarmenuwrapper ul li a:visited, #topbarmenuwrapper ul li a:visited {
	font-family:Tahoma;
	display:block;
	position:relative;
	line-height:21px;
	height:100%;
	color:#969594;
	text-decoration:none;
	background: url(./pic/menu2.jpg) no-repeat;
	margin:5px 0 0 2px;
	font-size:10px;
	font-weight:bold;
	text-transform:uppercase;
}

#bottombarmenuwrapper ul li a:hover, #topbarmenuwrapper ul li a:hover {
	color:#99B3CE;
	background: url(./pic/menu3.jpg) no-repeat;
}

#recentcomments li {
line-height:24px;
border-bottom:1px solid #666;
display:block;
}

#bottombarmenuwrapper ul li a:visited.rsswidget, #bottombarmenuwrapper ul li a:link.rsswidget, #topbarmenuwrapper ul li a:visited.rsswidget, #topbarmenuwrapper ul li a:link.rsswidget, #bottombarmenuwrapper #recentcomments li a:link, #bottombarmenuwrapper #recentcomments li a:visited, #topbarmenuwrapper #recentcomments li a:link, #topbarmenuwrapper #recentcomments li a:visited {
border:0;
display:inline;
line-height:auto;
}

#bottombarmenuwrapper #recentcomments li a:hover, #topbarmenuwrapper #recentcomments li a:hover, #bottombarmenuwrapper ul li a:hover.rsswidget, #topbarmenuwrapper ul li a:hover.rsswidget {
text-decoration:underline;
color:#000;
}



.post {
	width:100%;
	overflow:hidden;
	float:left;
	margin: 0 30px 0 0;
	padding:10px 35px 0px 15px;
	background: url(./pic/4.jpg);

}

.post p, .post ul {
	font-size:9pt;
	line-height:16px;
	color:#524636;
	margin:0 55px 0 10px;
	padding: 2px 0 12px 15px;
	text-align: justify;
}

.form {

	width:439px;
	overflow:hidden;
	float:left;
	margin: 0 30px 0 0;
	padding:30px 35px 30px 0px;
	font-size:12px;
	line-height:16px;
	color:#524636;

}

#form p {
	padding:0px 0px 0px 0px;
}

.form a:hover {
    color:#BB3C07;
    border-bottom: 1px dotted #E2E3D5;
    text-decoration:none;
}

.form a {
	color:#649BD1;
    text-decoration:none;
    border-bottom: 1px dotted #E2E3D5;
}

.formh3 {
	font-size:12px;
	font-weight:bold;
}

.postsnav {
	font-family:Tahoma;
	position:relative;
	width:100%;
	overflow:hidden;
	float:left;
	margin: 0 30px 0 0;
	padding:30px 35px 30px 0px;
	font-size:12px;
	color:#000;
	text-align:center;
	background: url(./pic/4.jpg);
}

.postsnav a:link, .postsnav a:visited {
color:#000;
}

.post ul {
	border-left:5px solid #666;
	padding:20px 0 20px 50px;
	margin:-20px 0 0 0;
	display:block;
	position:relative;
	float:left;
	width:95%;
}

.post ul li ul {
    border:0;
    padding-left:20px;
}

.post p a:link, .post p a:visited, .post ul a:link, .post ul a:visited {
	color:#649BD1;
    text-decoration:none;
    border-bottom: 1px dotted #E2E3D5;
	font-weight:bold;
}

.post p a:hover, .post ul a:hover {
    color:#BB3C07;
    border-bottom: 1px dotted #E2E3D5;
    text-decoration:none;
}

.post .posth3 {
	font-size:22px;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	line-height:35px;
    color:#524636;
	text-transform:none;
	margin:0px 20px 0 10px;
	padding:0 0 5px 15px;
	font-weight:bold;
	
}

.post .posth3 a:link, .post .posth3 a:visited {
    color:#524636;
    border-bottom: 1px solid #E2E3D5;
}

.post .posth3 a:hover {
    color:#BB3C07;
    text-decoration:none;
    border-bottom: 1px solid #E2E3D5;
}

.post .posth2 {
	font-size:18px;
	line-height:20px;
	color:#ddd;
	text-transform:uppercase;
	margin:0 20px 0 10px;
	padding:0 0 0 15px;
	font-weight:bold;
	
}

.post blockquote {
	font-family: verdana;
	margin:-10px 20px 0px 7px;
	display:block;
	position:relative;
	float:left;
	z-index:5;
	width:95%;
	background: url(./pic/quote.jpg) 40% no-repeat;
	font-weight:bold;
}

.post blockquote p {
	font-size:12px;
	line-height:16px;
	border:0;
	color:#649BD1;
	padding:15px 0 15px 55px;
	
}

.post h1 {
	font-size:20px;
	line-height:30px;
	color:#3F3629;
	text-transform:uppercase;
	margin:-20px 20px 0 0;
	padding:15px 0 5px 15px;
}

.post h2 {
	font-size:16px;
	line-height:25px;
	color:#3F3629;
	text-transform:uppercase;
	margin:-20px 20px 0 0;
	padding:15px 0 5px 15px;
}

.post h3 {
	font-size:14px;
	line-height:20px;
	color:#3F3629;
	text-transform:uppercase;
	margin:0px 20px 0 0;
	padding:15px 0 5px 15px;
}

.post p {
	text-align: justify;
}

.post .postdata {
	font-family:Tahoma;
	color:#969594;
	text-transform:uppercase;
	font-size:10px;
	line-height:14px;
    position:relative;
    float:left;
    width:467px;
	margin: 10px 10px 7px 13px;
	padding: 3px 5px 0px 35px;
	height:21px;
	background: url(./pic/comment2.jpg) no-repeat;
	font-weight:bold;
}

.post .postdata a:link, .post .postdata a:visited {
    color:#969594;
    text-decoration:none;
    border-bottom: 0px solid #E2E3D5;
}

.post .postdata a:hover {
    color:#524636;
    text-decoration:none;
}





#commentbar {
	position:relative;
	height:30px;
	text-align:left;
	overflow:hidden;
}

#commentbar p {
	font-size:10px;
	line-height:10px;
	text-transform:uppercase;
	padding:10px 0 0 0;
	margin:0 0 0 22px;
	font-weight:bold;	
}

#commentwrapper {
    position:relative;
    float:left;
    width:100%;
	margin: 0 30px 0 0;
	padding:0px 0px 30px 40px;
    background: url(./pic/4.jpg);
}

.commenteven, .commentodd {
    position:relative;
    float:left;
    width:439px;
}

.commentodd {
    background-color:#9CBD55;
    color:#465A1E;
}

.commentoddh {
    position:relative;
    float:left;
    width:439px;
	height:2px;
	background: url(./pic/com1h.jpg) no-repeat;
	margin:10px 0 0 0;
}

.commentoddb {
    position:relative;
    float:left;
    width:439px;
	height:2px;
	background: url(./pic/com1b.jpg) no-repeat;
}

.commentevenh {
    position:relative;
    float:left;
    width:439px;
	height:2px;
	background: url(./pic/com2h.jpg) no-repeat;
	margin:10px 0 0 0;
}

.commentevenb {
    position:relative;
    float:left;
    width:439px;
	height:2px;
	background: url(./pic/com2b.jpg) no-repeat;
}

.commenteven {
    background-color:#637F2B;
    color:#B0D55F;
}

.commentcontent1 {
    margin:0px 10px 0px 10px;
}

.commentcontent2 {
    margin:0px 10px 10px 10px;
}

.commentcontent1 p {
	font-size:12px;
	line-height:16px;
    color:#465A1E;
}

.commentcontent2 p {
	font-size:12px;
	line-height:16px;
    color:#B0D55F;
}

.commentcontent1 p a:link, .commentcontent1 p a:visited {
    color:#fff;
}

.commentcontent1 blockquote {
    margin:0 0 0 10px;
    border-left:3px solid #3F3629;
    padding:0 0 0 5px;
    background-color:#DDD;
}

.commentcontent1 .commentinfo {
    color:#fff;
    font-size:10px;
    line-height:10px;
    text-transform:uppercase;
    font-weight:bold;
}




.commentcontent2 p a:link, .commentcontent2 p a:visited {
    color:#fff;
}

.commentcontent2 blockquote {
    margin:0 0 0 10px;
    border-left:3px solid #3F3629;
    padding:0 0 0 5px;
    background-color:#DDD;
}

.commentcontent2 .commentinfo {
    color:#fff;
    font-size:10px;
    line-height:10px;
    text-transform:uppercase;
    font-weight:bold;
}

#comment {
    width:100%;
}

.small {
	font-size:10px;
    color:#AEA789;
    text-transform:uppercase;
}

.barmenubas {
	position:relative;
	width:100%;
	height:9px;
	overflow:hidden;
	float:left;
	margin: 0 30px 0 0;
	padding:0px 35px 0px 0px;
	background: url(./pic/9.jpg) no-repeat;
}

.footerx {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color:#726D64;
	font-size:11px;
}

.footerx a:link, .footerx a:visited{
	color:#726D64;
}

.footerx a:hover {
	color:#fff;
}

.test {
    position:relative;
    float:right;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color:#332C26;
	font-size:10px;
	height:33px;
	overflow:hidden;
	margin: 0px 20px 0 30px;
	padding:0px 35px 0px 0px;
}

.post img {
    border-bottom: 1px solid #AEAD9F;
    border-top: 1px solid #E2E3D5;
    border-right: 1px solid #AEAD9F;
    border-left: 1px solid #E2E3D5;
    padding:8px 8px 8px 8px;
    margin: -3px 0px -5px 0px;
    background-color:#F7F7F7;
}

.post .vignettegauche {
    border-bottom: 1px solid #AEAD9F;
    border-top: 1px solid #E2E3D5;
    border-right: 1px solid #AEAD9F;
    border-left: 1px solid #E2E3D5;
    padding:8px 8px 8px 8px;
    margin: 7px 10px 0px 0px;
    background-color:#F7F7F7 !important;
    float:left;
}

.post .vignettedroite {
    border-bottom: 1px solid #AEAD9F;
    border-top: 1px solid #E2E3D5;
    border-right: 1px solid #AEAD9F;
    border-left: 1px solid #E2E3D5;
    padding:8px 8px 8px 8px;
    margin: 7px 5px 0px 10px;
    background-color:#F7F7F7 !important;
    float:right;
}

#post img a:hover {
    background-color:#969594 !important;
}

