
/* -------------------------------------------------------
   STYLE ALTERNATIF - 1
   Fluide, elastique et zoomable :
   	- largeur du bandeau et colonne centrale s'etirent avec la fenetre
   	- mais la largeur totale est maintenue 
   		- au minimum de 700px (sauf dans IE/WIN 5 et 6 ; 7 = OK)
   		- au maximum 66em  (sauf dans IE/WIN 5 et 6 ; 7 = OK)
   		- dans tous les cas, des marges gauche et droite de 5%
   	- la largeur des menus gauche et droite reste fixe
   	- convient aussi bien pour une fenetre de 800px que 1280px de large
 ------------------------------------------------------- */
/*body { padding: 0 20px  !important; } */
#page
{
	width: 90%;
	min-width: 600px;
	max-width: 66em;
}
#menu-principal { width: 740px; max-width: 60em;}
