/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body {
	behavior: url(csshover.htc); /* WinIE behavior call */
	background: #f7f7f7;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1em;
	color: #000;
}

img, table { margin: 0; padding: 0; border: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */

#page {
	position: relative;
	background: #d0d0d0;
	width: 1000px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	}

#conteneur { 
	position: relative;
	min-height: 650px;
	text-align: left;
	border: none;
	margin-top: 5px;
	margin-left: 250px;
	padding-top: 0;
	padding-left: 0;
	margin-right: 0;
	}

.page_sommaire #conteneur {padding-top: 0;}
.page_sommaire #hierarchie {display: none;}

#conteneur #contenu {
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
	float: left;
	width: 750px;
	min-height: 20em;
}


.page_article #conteneur #contenu, .page_forum #conteneur  #contenu  {
	color: black;
	width: 740px;
	border: none;
	float: left;
	margin: 5px 0 0 0;
	padding: 0;
	background-image: url(images/ArtWindTopLarge.jpg);
	background-position : top left;
	background-color: #FFF;
	background-repeat: no-repeat;
	text-align: justify;
	border-radius: 12px;
	-moz-border-radius: 12px;
	}

#navigation {
	margin: 0;
	padding: 0;
	border: none;
	position: absolute;
	top: 218px;
	left: 0;
	z-index: 2;
	width: 230px;
	text-align: center;
}

/* Blocs du contenu (c-a-d. la colonne principale) */
#contenu .contre-encart {
	max-width: 1300px;
	margin: 0;
	padding: 5px 0 0 0;
	border: none;
	float: left;
	width: 500px;
}


.page_rubrique #sommaire-rub,.page_mot #sommaire-rub {
	color: black;
	width: 732px;
	margin-top: 10px;
	padding-bottom: 1em;
	padding-right: 0.5em;
	background-image: url(images/ArtWindTopLarge.jpg);
	background-position : top left;
	background-color: #FFF;
	background-repeat: no-repeat;
	text-align: justify;
	border-radius: 12px;
	-moz-border-radius: 12px;
	}
	
#contenu .encart {
	position: absolute;
	top: -5px;
	right: 0;
	width: 230px;
	padding: 0;
	border: none;
	margin: 0 10px 0 0;
}

.page_plan #contenu .encart {
	float: right;
	width: 20%;
	padding: 0;
	width: 13em;
	border: none;
	margin: 0 0 0 0;
}

.page_plan #contenu .encart .syndic, .page_plan #contenu .encart .breves{
	border-radius: 12px;
	-moz-border-radius: 12px;
	}
	
.page_plan #contenu .contre-encart {
	margin: 10px;
	padding: 0 0 0 0;
	border: none;
	width: 500px;
	float: left;
}
/* Entete */
#entete {
	margin: 0;
	padding: 0;
	background-color: none;
	height: 188px;
	background: url(images/banniere.jpg);
}
#entete #nom_site_spip, #entete a .spip_logos {
	display: block;
	margin:  0 auto;
	background-color: none;
	border: none;
	font-weight: bold;
	font-size: 1.5em; 
}
#entete a { text-decoration: none; color: white;}
#entete #nom_site_spip {text-align: center;}
#entete #nom_site_spip, #entete a:hover  .spip_logos { 
	color: #white; }
#barre .formulaire_recherche { 
	position :absolute;
	right : 10px;
	top : 192px;
}

#barre {
	width: 1000px;
	background: #e78301;
	height: 30px;
	margin: 0;
	padding: 0;
	border: none;
}

#barre ul {
	margin: 0;
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: white;
	white-space: nowrap;
}

#barre li {
	margin: 0;
	padding: 5px 0.8em 0 0.8em;
	border: none;
	list-style-type: none;
	display: block;
	float: left;
}

#barre li a {
	text-decoration: none;
	color: white;
}

#barre li:hover {
	height: 25px;
	color: #e78301;
	background-color: white;
}
#barre li.image-barre:hover {
	height: 25px;
	color: #e78301;
	background-color: #e78301;
}

#barre li:hover a { 
	color: #e78301;
	background-color: white;
}
#barre li.image-barre:hover a { 
	color: #e78301;
	background-color: #e78301;
}
/* Fil d'Ariane */
#hierarchie {
	width: 90%;
	margin: 0 0 2em 0;
	font-size: 0.77em; }

/* Pied de page */
#pied small { font-size: 0.77em; }
#pied img { vertical-align: middle; }
#pied {
	width: 100%;
	clear: both;
	background: #e78301;
	height: 30px;
	text-align: center;
	margin-top: 4em;
	border: none;
}

#pied ul {
	border: none;
	vertical-align: middle;
	padding-top: 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFF;
	white-space: nowrap;
}

#pied li {
	margin: 0;
	border: none;
	padding-right: 2em;
	height: 1.2em;
	list-style-type: none;
	display: inline;
}

#pied li a {
	text-decoration: none;
	color: #FFF;
}

#pied a:hover { 
	font-weight: bold;
	background-color: transparent;
	height: 1.2em;
}
/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: none; height: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour les menus et la navigation */
body, #navigation, .encart, .formulaire_spip {
	font-family: Verdana, Tahoma, Arial, sans-serif; }

/* Typo pour le contenu */
#contenu {
	font-family: "Trebuchet MS", Helvetica, sans-serif; }

/* Typo pour les citations et extraits introductifs */
q, blockquote, .liste-articles li .texte, h3.spip, .voirskel {
	font-family: Georgia, Times, serif; }


/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

/*  Habillage general des menus de navigation
---------------------------------------------- */
div#menu {
	width: 230px;
	padding-top: 5px;
	padding-bottom: 10px;
	margin: 10px;
	font-size: 0.77em;
	font-weight: bold;
	background-image: url(images/ArtWindTop.jpg);
	background-position : top left;
	background-color: #fff;
	background-repeat: no-repeat;
	border-radius: 12px;
	-moz-border-radius: 12px;
}
div#menu .menu-titre { background: transparent; color:#FFF;}
div#menu ul {margin: 0; padding: 0; width: 230px; 
  border: none;}
div#menu>ul {padding-top: 4px;}
div#menu li {position: relative; list-style: none; margin: 0;
  border-bottom: solid 1px black; height: auto;}
div#menu ul.level1>li, div#menu ul.level1 li>a {color: black; border-bottom: none;}
div#menu ul.level1>li:hover, div#menu ul.level1 li:hover>a {background: #000; color: white;}
div#menu ul.level2>li, div#menu ul.level3 li, div#menu ul.level2>li>a, div#menu ul.level3 li a{color: #000; background: white;}
div#menu ul.level2 li:hover, div#menu ul.level3 li:hover, div#menu ul.level2 li:hover>a, div#menu ul.level3 li:hover>a {background: #000; color: white;}

div#menu li a {display: block; padding: 0.25em 0 0.25em 0.5em;
  text-decoration: none; width: auto; height: auto; }
div#menu ul.level3 li a {width: auto;}
div#menu>ul a {width: auto;}
div#menu ul.level2 {position: absolute; top: 0; left: 230px; width: 180px; display: none; background-color: #fff; border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;}
div#menu ul.level3 {position: absolute; top: -1px; left: 181px; width: 180px; display: none; margin-left: -1px; background-color: #fff; border-top: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;}
div#menu ul.level1 li.submenu:hover ul.level2 {display:block;}
div#menu ul.level2 li.submenu:hover ul.level3 {display:block;}

.rubriques, .breves, .syndic, .forums, .divers {
	min-width: 10em;
	margin: 10px 0 0 0;
	padding-top: 3px;
	padding-bottom: 1em;
	font-size: 0.77em;
	border-radius: 12px;
	-moz-border-radius: 12px;
}

.une li{
	background-image: url(images/ArtWindTopCentre.jpg);
	background-position : top-left;
	background-color: #FFF;
	background-repeat: no-repeat;
}

.menu-titre {
	padding: 3px 0.4em 10px 0.4em;
	text-align: center;
	font-weight: bold;
}

.menu li {height: 1.5em;}

#navigation p, .encart p { margin: 0; padding: 0.2em 0.7em; text-align: left;  }
#navigation ul, .encart ul { margin: 0; padding: 0.2em 0; text-align: left; list-style: none; }
#navigation li, .encart li { margin: 0; padding: 0 0.7em; }

#calendar a {font-weight: bold;}

/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.menu {
	background-image: url(images/ArtWindTop.jpg);
	background-position : top-left;
	background-color: #fff;
	background-repeat: no-repeat;
}


.menu li a {
	text-decoration: none;
	color: #000000;
}

.menu li:hover {
	background-color: #000000;
}
.menu li:hover a{
	color: #ad0073;
	background-color: #000000;
}
.rubriques {
	color: black;
	margin-bottom: 1.5em;
	padding-right: 0.5em;
	background-color: #FFF;
	background-repeat: no-repeat;
}
.rubriques .menu-titre { background: transparent; color:#000;}

.breves {
	padding-bottom: 1em;
	padding-right: 0.5em;
	background-image: url(images/ArtWindTop.jpg);
	background-position : top-left;
	background-color: #FFF;
	color: black;
	background-repeat: no-repeat;
}
.breves .menu-titre { background: transparent; color:#FFF;}

.meme-rub {
	width: 224px;
	margin: 10px;
	padding-top: 0;
	padding-bottom: 1em;
	padding-right: 0.5em;
	background-image: url(images/ArtWindTop.jpg);
	background-position : top-left;
	background-color: #FFF;
	color: black;
	font-size: 0.77em;
	background-repeat: no-repeat;
	border-radius: 12px;
	-moz-border-radius: 12px;
}
.meme-rub .menu-titre { background: transparent;color:#FFF; }

.liste-articles {
	color: black;
	padding-top: 0px;
	padding-bottom: 1em;
	padding-right: 0.5em;
	background-image: url(images/ArtWindTopCentre.jpg);
	background-position : top-left;
	background-color: #FFF;
	background-repeat: no-repeat;
	border-radius: 12px;
	-moz-border-radius: 12px;
}

.liste-articles .texte { color: black;}
.liste-articles .menu-titre { background: transparent; color:#FFF; }
.liste-une ul li{
	display: block;
	padding-top: 1.5em;
	background-image: url(images/ArtWindTopCentre.jpg);
	background-position : top-left;
	background-color: #FFF;
	background-repeat: no-repeat;
	border-radius: 12px;
	-moz-border-radius: 12px;
}


.syndic {
	color: black;
	padding-right: 0.5em;
	background-image: url(images/ArtWindTop.jpg);
	background-position : top-left;
	background-color: #FFF;
	background-repeat: no-repeat;
}
.syndic .menu-titre { background: transparent; color:#FFF;}

.forums { background: transparent; 
color: black;
background-image: url(images/ArtWindTop.jpg);
	background-position : top-left;
	background-color: #FFF;
	background-repeat: no-repeat;
	}
	
.forums .menu-titre { background: transparent; color:#FFF;}

.divers {
	background-image: url(images/ArtWindTop.jpg);
	background-position : top-left;
	background-color: #FFF;
	background-repeat: no-repeat;
}
.divers .menu-titre { background: transparent; color:#FFF;}

#hierarchie {color: #000;}

/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */

/*  Cartouche et titraille
---------------------------------------------- */

.cartouche { 
	margin: 0 1.5em 0 1.5em;
}

.cartouche .titre {
	font-size: 1.27em;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	}
	
#contenu .surtitre, #contenu .soustitre { font-size: 0.82em;  text-align: center;}
#contenu .liste-articles .surtitre, #contenu .liste-articles .soustitre { font-size: 1em;  text-align: left;}
.cartouche .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px; }

.cartouche p { margin: 0; padding: 0; clear: left; text-align: left;}
.cartouche small { font-size: 0.71em; color: black;}

.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }


/*  Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
	margin: 1.5em;
	font-weight: bold;
	line-height: 1.4em; }

.lien {
	background: #EEE;
	margin: 1em;
	margin-bottom: 1.5em;
	padding: 0.82em;
	border: 1px solid #CCC;
	font-size: 0.82em;
	font-weight: bold; }

.texte p { margin: 1em; color: black; font-size: 0.96em ; text-align: justify;}

.ps, .notes {
	margin: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
.ps { font-size: 0.82em; }
.notes { clear: both; font-size: 0.77em; }
.ps h2, .notes h2 { font-size: 1.19em; font-weight: bold; }

/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_portfolio h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }

#document_actif { margin-top: 1em; }

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints {
	margin: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }
#documents_joints ul { margin: 0; padding: 0; list-style: none; }
#documents_joints li { margin-bottom: 0.4em; }
#documents_joints #logodoc {float: right; margin-top: -20px;}
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles ul { margin: 0; padding: 0; list-style: none; }
.liste-articles li { margin-bottom: 1em; padding-left: 1em; clear: both; }
.liste-articles h2 {text-align: center;}
.liste-articles li .titre {
	font-size: 1.03em;
	font-weight: bold; }

.liste-articles li .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
	clear: right; }

.liste-articles li p { margin: 0; padding: 0; }

.liste-articles li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-articles li small {
	display: block;
	font-size: 0.71em; }

.liste-articles li .texte {
	margin-top: 5px;
	margin-bottom: 2em;
	border: 1px solid #CCC;
	padding: 0.9em;
	font-size: 0.82em;
	line-height: 1.4em; }
	
.liste-une ul { margin: 0; padding: 0; list-style: none; }
.liste-une li { margin-bottom: 1em; clear: both; }

.liste-une li .titre,.surtitre {
	color: black;
	font-size: 1.03em;
	font-weight: bold; }

.une h3,p {
	text-align: center; }

.liste-une li .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
	clear: right; }

.liste-une li p { margin: 0; padding: 0; }

.liste-une li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-une li small {
	color: black;
	display: block;
	font-size: 0.71em; }

.liste-une li .texte {
	color: black;
	margin-top: 5px;
	margin-bottom: 2em;
	padding: 0.9em;
	font-size: 0.82em;
	line-height: 1.4em; }

.pagination { font-size: 0.90em; }

/*  ------------------------------------------
/*  Habillage specifique du plan du site
/*  ------------------------------------------ */

.page_plan .cartouche { display: none; }

.page_plan #contenu h2 {
	clear: both;
	background: #EEE;
	border: 1px solid #CCC;
	padding: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center; }

.page_plan #contenu .contre-encart ul {
	display: block;
	clear: left;
	margin-top: 0;
	margin-bottom: 1em;
	padding-top: 0; }
	
.page_plan #contenu .encart {
	position: static;
	float: right;
	width: 25%;
	padding: 0;
	border: none;
	margin: 0 1em 1em 1em;
}
	
.page_plan #contenu .contre-encart li {}

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

.formulaire_spip { text-align: left; font-size: 0.77em; }
.formulaire_spip p { margin: 0.5em 0; padding: 0; }

.formulaire_spip fieldset {}
.formulaire_spip legend {}

.formulaire_spip label {}
.formulaire_spip .forml { width: 99%; font-family: inherit; font-size: inherit; }

/* Boutons */
.spip_bouton { text-align: right; }
.spip_bouton input { float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; }
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }

/* Previsualisation du message */
fieldset.previsu { padding: 1em; }

/* Formulaire de login au forum */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs */
ul.choix_mots { float: left; width: 47%; margin: 0; padding: 0; list-style: none; } 
ul.choix_mots label { display: inline; }

/* Formulaire de recherche */
.formulaire_recherche label { display: none; }

/*  ------------------------------------------
/*  Habillage des forums
/*  ------------------------------------------ */

.forum-repondre, .forum-decompte {
	clear: both;
	margin-top: 2.5em;
	padding-top: 2px;
	border-top: 2px solid #CCC;
	font-size: 0.88em;
	font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 1em; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; text-decoration: none;}
.forum-chapo small {color: #333;}
.forum-texte { margin: 0; padding: 0.5em 1em 0 1em; color: #black; font-size: 0.82em; }
.forum-texte .forum-lien {}
.forum-texte .forum-repondre-message { margin: 0; padding: 1px 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: none; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; font-size: 0.88em; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a { text-decoration: none; color: #e78301; }
a:hover { 
	background-color: #e78301; 
	color: white; }
td.today {border: 1px solid black;}

/* * Couleurs des liens de Spip */
a.spip_note {text-decoration: none; color: #e78301;} /* liens vers notes de bas de page */
a.spip_in {text-decoration: none; color: #e78301;} /* liens internes */
a.spip_out {text-decoration: none; color: #e78301;} /* liens sortants */
a.spip_url {text-decoration: none; color: #e78301;} /* liens url sortants */
a.spip_glossaire {text-decoration: none; color: #e78301;} /* liens vers encyclopedie */
.on { font-weight: bold;} /* liens exposes */
a.spip_note:hover {color: white;
        background-color: #e78301;} /* liens vers notes de bas de page */
a.spip_in:hover {color: white;
        background-color: #e78301;} /* liens internes */
a.spip_out:hover {color: white;
        background-color: #e78301;} /* liens sortants */
a.spip_url:hover {color: white;
        background-color: #e78301;} /* liens url sortants */
a.spip_glossaire:hover {color: white;
        background-color: #e78301;} /* liens vers encyclopedie */
.on:hover { font-weight: bold;} /* liens exposes */