<plugin>
	<nom>Squelette IENSP-ac-lyon</nom>
	<auteur>
Stephane Kus
	</auteur>
	<licence>
		GPL v3
	</licence>
	<version>1.1</version>
	<etat>stable</etat>
	<icon>images/IENSP.png</icon>
	<description>
{{Ce plugin active ou d&eacute;sactive le squelette IENSP-ac-lyon}} :

_ Consulter l'article [Squelettes IENSP-ac-lyon->http://www.spip-contrib.net/Squelettes-IENSP-ac-lyon-pour-SPIP-2-1] pour conna&icirc;tre les nouveaut&eacute;s et correctionset pour apprendre &agrave; installer, configurer et utiliser le squelette.

Cette version est compatible avec SPIP 2.0 et SPIP 2.1.
	</description>
	<lien>[->http://www.spip-contrib.net/Squelettes-IENSP-ac-lyon-pour-SPIP-2-1]</lien>

	<prefix>IENSP-ac-lyon</prefix>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;]" />
</plugin>
