<plugin>
	<nom>Squelette IENSP-ac-lyon</nom>
	<slogan>Squelette personnalisable avec barre de navigation, menu déroulant en CSS, annuaire des sites</slogan>
	<auteur>Stephane Kus</auteur>
	<licence>GPL v3</licence>
	<version>1.2.0</version>
	<etat>stable</etat>
	<icon>images/IENSP.png</icon>
	<description>
Ce plugin active ou d&#233;sactive le squelette IENSP-ac-lyon : [site exemple->http://www2.ac-lyon.fr/centres/delay/]

Consulter la documentation pour conna&#238;tre les nouveaut&#233;s et corrections, et pour apprendre &#224; installer, configurer et utiliser le squelette.
	</description>
	<lien>https://contrib.spip.net/Squelettes-IENSP-ac-lyon-pour-SPIP-2-et-3</lien>
	<prefix>ienspaclyon</prefix>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;3.0.1]" />
</plugin>
