/**
 * Déclaration des polices fontface
 *
 * Ajoutez les votres puis déclarez les familles dans base/_settings.scss
 */

/*
@font-face {
  font-family: 'Spip';
  src: url('../fonts/spip/spip-regular.woff2') format('woff2'),
       url('../fonts/spip/spip-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*/