<plugin>
    <nom>Squelette Sarka-SPIP pour spip 1.9.2</nom>
    <auteur>
        SarkAFeeK (Toufik), SarkALeoN (Sylvain), SarkARchimeD (Xavier), SarkASmeL (Eric)<br />
        &copy; 2007 - Distribu&eacute; sous licence GPL
    </auteur>
    <version>1.9.2</version>
    <etat>stable</etat>

    <description>
	{{Ce plugin active ou d&eacute;sactive le squelette Sarka-SPIP }} : <br />
	Il vous suffit de cocher ou d&eacute;cocher la case ci-contre.<br />

	Consulter la rubrique [Sarka-Doc->http://www.sarka-spip.com/spip.php?rubrique136] pour apprendre &agrave; installer et configurer le squelette<br /><br />
   </description>
    <lien>[Site Sarka-SPIP->http://www.sarka-spip.com]</lien>

    <prefix>SarkaSpip</prefix>
    <fonctions>sarkaspip_fonctions.php</fonctions>
    <options>sarkaspip_options.php</options>
</plugin>