<plugin>
    <nom>Squelette Sarka-SPIP 2</nom>
    <auteur>
        SarkAFeeK (Toufik), SarkALeoN (Sylvain), SarkARchimeD (Xavier), SarkASmeL (Eric)<br />
        &copy; 2007 - Distribu&eacute; sous licence GPL
    </auteur>
    <version>2.0.0</version>
    <etat>stable</etat>

    <description>
	{{Ce plugin active ou d&eacute;sactive le squelette Sarka-SPIP }} : <br />
	Il vous suffit de cocher ou d&eacute;cocher la case ci-contre.<br />

	Consulter la rubrique [Sarka-Zone->http://www.sarka-spip.com/spip.php?rubrique156] pour apprendre &agrave; installer le squelette et la rubrique
	[Sarka-Doc->http://www.sarka-spip.com/spip.php?rubrique136] pour apprendre &agrave; le configurer et &agrave; l'utiliser.
	<br /><br />
	Cette version est compatible avec SPIP 1.9.2 au minimum.
	<br /><br />
   </description>
    <lien>[Site Sarka-SPIP->http://www.sarka-spip.com]</lien>

    <prefix>SarkaSpip</prefix>
    <fonctions>sarkaspip_fonctions.php</fonctions>
    <options>sarkaspip_options.php</options>
</plugin>