/* CSS Document */
	body {
		font-family: Verdana, arial, helvetica, sans-serif;
		font-size: .7em;
		margin-left: 30px;
	}
	
	h1 {
		font-size: 100%;
	}
	
	h2 {
		font-size: 100%;
	}

	/* liens normaux */
	a {
		text-decoration: none;
		color: #7f7f7f; /* gris */
	}

	a.selected {
		background-color: #004080;
		border-left: 3px solid #324C48;
		color: #e6e6e6;
		font-weight: bold;
		font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	}

	/* liens orange */
	a.link {
		color: #ff8000;
	}
	/* liens visites par le navigateur */
	a:visited.link {
		color: #808080;
	}
	/* liens marques "vu" */
	a.vu {
		color: #7f7f7f;
	}

	/* liens "descriptif" */
	a.desc {  
		margin-left: 50px;  
		border-left: dotted 1px grey;  
		font-size: 9px;
		display: block;  
		margin-bottom: 4px;  
	}

	/* barre de titre */
	div.top {
		margin-left: -25px;
		padding: .1em 1em;
		color: white;
		background: transparent url(sedna.gif);
		height: 30px;
		font: bold small 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	}
	div.top a {
		color: #eeeeee;
	}
	
	/* marge avec menus et liste des sites */
	div.marge {
		float: right;
		width: 20%;
		background-color: #eeeeee;
		margin: 0;
		padding: 0;
	}
	
	div.marge a {
		display: block;
		padding: 1px .5em;
		border-top: 1px dotted;
	}
	div.marge a:hover {
		background-color: #4280eb;
	color: #ffffff;
	font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	font-weight: bolder;
}

	div.milieu {
		width: 75%;
	}

	ul {
		margin:0;
		padding:0;
		list-style: none;
		list-style-image: none;
	
}

	.date {
		margin-left: -25px;
		border: 1px hidden #191919;
		color: #e6e6e6;
		width: 6em;
		padding: .25em 1em;
	font-size: x-small;
	background: #7f7f7f;
	list-style: inside inherit url(puce.gif) none;
	text-align: left;
	font-weight: bold;
}
					
	.site {
		margin:.4em 0 .2em 0;
		padding: .1em .5em;
		color: white;
	font-weight: bold;
	background: transparent url(sedna.gif);
	border-bottom: thin solid #cccccc;
}
	.site a {
		background-color: transparent;
		color: white;
	border-top-color: #4c4c4c;
}
	#total_articles {
		float: right;
		margin-right: 50px;
		border-bottom: 2px solid #999;
	}
