div.desc {
	display: block;
}

#desc_afficher {
		background-color: #004080;
		border-left: 3px solid #324C48;
		color: #e6e6e6;
		font-weight: bold;
		font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
}
