
	body {
		font-family: Verdana, arial, helvetica, sans-serif;
		
	font-size: .7em;
	margin-left: 60px;
	padding: 0;
	margin: 0;
	text-align: justify;
	}
	
	h1  {
 	font-size: 1.2em;
 	font-weight: bold;
	}
	
	h2 {
 	font-size: 1.0em;
 	font-weight: bold;
	}

	a.selected {
	text-decoration: none;
	border-bottom: 1px dotted;
	padding-bottom: 1px;
	color: #77a;
	}
	a {
	padding-bottom: 1px;
	color: #333333;
	text-decoration: none;
	background-color: transparent;
	}	
	a.link {
	border-bottom: 1px dotted;
}
	a:visited.link {
	border-bottom: 1px dotted;
}
	a.vu {
		color: #cccccc;
	}

	div.top  {text-shadow: 2px 2px 3px grey;	color: #FFFFFF;	font-size: 14px;	font-weight: bold;	text-decoration: none;
	border: 0;
	overflow: hidden;
	z-index: 110;	background: url(title.gif) repeat-x;
	overflow: hidden;
	height: 31px;
    padding: .1em 1em;
}
	div.marge {
		float: right;
		width: 150px;
		background-color: #eeeeee;
		margin: 0;
		padding: 0;
	}
	
	div.marge a {
		display: block;
		padding: 0 .5em;;
	}

	ul {
		margin:0;
		padding:0;
		list-style: none;
		list-style-image: none;
	}

	.date {
	font: 11px "Lucida Grande";
	position: fixed;
	color: gray;
	display: block;
	padding: 7px 0 0 20px;
	height: 2em;
	color: gray;
	
	margin-left: 200px;
		
		padding: .25em 1em;
}
	
					
	.site {
 	font-size: 1.2em;
 	font-weight: bold;
	}

	.site a {
		background-color: transparent;
		color: white;
	}
	#total_articles {
		float: right;
		margin-right: 50px;
		border-bottom: 2px solid #999;
	}
