<plugin>
	<nom> <!-- Nom du plugin -->
	Gestion des mentions l&eacute;gales
	</nom>
	<auteur>
    Samuel Bocharel, &eacute;quipe de d&eacute;veloppement Eva-WEB.<br/>
	 <a rel="Eva-web" target="_blank" href="http://eva-web.edres74.net">http://eva-web.edres74.net</a><br/>
    Cette r&eacute;alisation est mise &agrave; disposition sous licence GNU GPL.
    <br />&nbsp;<br /><div style="text-align:center;"><a rel="licence" target="_blank" href="http://www.april.org/gnu/gpl_french.html"><img alt="Licence GNU GPL" style="border-width:0" width="80" height="100" src="http://www.fsf.org/graphics/philosophical-gnu-sm.jpg"/></a></div>
	</auteur>
	<version>
	0.4
	</version>
    <version_base>0.1</version_base>
	<etat>
	stable
	</etat>
	<description>
    Permet de g&eacute;rer les informations li&eacute;es &agrave;  la page de mentions l&eacute;gales avec les squelettes eva-web 3.0<br/>
	</description>
	<fonctions>eva_mentions_fonctions.php</fonctions>
    <prefix>
    eva_mentions
    </prefix>
    <pipeline>
        <nom>ajouter_boutons</nom>
        <action>AjouterBoutons</action>
		<inclure>eva_mentions_pipeline.php</inclure>
    </pipeline>
</plugin>
