<plugin>
	<nom>Gestion des mentions l&#233;gales</nom>
	<slogan>G&#233;rer la page de mentions l&#233;gales avec eva-web 3.0</slogan>
	<auteur>Samuel Bocharel, &#233;quipe de d&#233;veloppement Eva-WEB</auteur>
	<lien>http://eva-web.edres74.net</lien>
	<licence>GNU/GPL</lien>
	<version>0.4.0</version>
	<version_base>0.1</version_base>
	<etat>stable</etat>
	<description>
Permet de g&#233;rer les informations li&#233;es &#224; la page de mentions l&#233;gales avec les squelettes eva-web 3.0
	</description>
	<prefix>eva_mentions</prefix>
	<fonctions>eva_mentions_fonctions.php</fonctions>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>AjouterBoutons</action>
		<inclure>eva_mentions_pipeline.php</inclure>
	</pipeline>
    	<categorie>squelette</categorie>
	<necessite id="spip" version="[1.9.2;1.9.3]" /> 
</plugin>
