/* ---------------------------------------------------------- */
/*                                                            */
/*  Feuille de style des squelettes par defaut pour SPIP 2.0  */ 
/*                                                            */
/* ---------------------------------------------------------- */


/* ------------------------------------------ */
/*  Typographie generale (style transversaux) */
/* ------------------------------------------ */
html { font-size: 100%; } /* Cf.: http://pompage.net/pompe/definir-des-tailles-de-polices-en-CSS/ */
body { font-size: 0.8125em; font-family: Helvetica; color: #000; }

/* Titraille / Intertitres */
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; font-size: 1em; font-family: inherit; }
h1 { font-size: 25px; color: #000; }
h2 { font-size: 1em; font-weight: normal; color: #000; }
h2 a, h2 a:focus, h2 a:hover, h2 a:active { color: #003; }
h3 { border-style:none; border-width:medium; font-family: inherit; font-size: 20px; font-weight: bold; padding: 10px 20px 8px 10px;}
h3.spip {} /* Cf.: spip_style.css */
h4 { font-size: 18px; border: 1px solid #B9B9B9; padding: 0.6em; background: url('img_itwx/listArrow.png') no-repeat right center;}
h4 a {}
h7 { padding:10px 10px; font-size: 1.4em; font-family: inherit;  }
h7 a:hover { text-decoration: none;}
hr.spip {} /* Cf.: spip_style.css */

/* Autres enrichissements typo */
strong { font-weight: bold; }
em { font-style: italic; }
abbr, acronym { border-bottom: 1px dotted; cursor: help; }
small { font-size: 0.90em; color: #666; }
dfn { font-weight: bold; color: #666; }
del { text-decoration: line-through; }
ins { color: red !important; text-decoration: none; }
sup, sub { font-size: .8em; font-variant: normal; }

/* Listes */
ul.spip {} /* Cf.: spip_style.css */
ol.spip {} /* Cf.: spip_style.css */
dl {}
dt {}
dd {}

/* Citations, code et poesie */
cite {}
q {}
blockquote {}
blockquote.spip {} /* Cf.: spip_style.css */
blockquote.spip_poesie {} /* Cf.: spip_style.css */
.spip_code {} /* Cf.: spip_style.css */
.spip_cadre {} /* Cf.: spip_style.css */
address {}

/* Tableaux */
table.spip {} /* Cf.: spip_style.css */

/* Logos, documents et images */
img { margin: 0; padding: 0; border: 0px none; }
.spip_logos {} /* Cf.: spip_style.css */
.spip_documents {} /* Cf.: spip_style.css */
.spip_documents_center {} /* Cf.: spip_style.css */
.spip_documents_left {} /* Cf.: spip_style.css */
.spip_documents_right {} /* Cf.: spip_style.css */
.spip_doc_titre {} /* Cf.: spip_style.css */
.spip_doc_descriptif {} /* Cf.: spip_style.css */


/* ------------------------------------------ */
/*           Disposition des blocs            */
/* ------------------------------------------ */
body { background: #FFF url('img_itwx/pinstripes.png'); margin: 0; padding: 0; text-align: center; }

#page { position: relative; width: 100%; margin: 0 auto; text-align: left; }

#entete { background: #FFF; width: 100%; margin-top: -1em; margin-bottom: -1em; border-bottom: 0px solid #8B6F92; }
#entete a.accueil { display: block; width: 100%; }
#entete a.accueil img.spip_logos { vertical-align: bottom; line-height: 0em; }
#entete a.accueil #nom_site_spip { vertical-align: bottom; font-size: 2.2em; font-family: Georgia, Times, serif; font-weight: normal; }
#entete .formulaire_menu_lang { position: absolute; right: 0; top: 0.90em; display: block; width: 30%; } /*Cf.: spip_formulaires.css*/

#conteneur { clear: both; float: left; width: 100%; overflow: hidden; }
#contenu { background: #FFF url('img_itwx/pinstripes.png') repeat x; }
#ticket { background: #FFF url('img_itwx/pinstripes.png') repeat x; margin: 0.7em;}

#page .site-descript {line-height: 1em; color: #000;}

#navigation { float: right; width: 30%; margin-top: 1em; overflow: hidden; }
#extra { float: right; clear: right; width: 30%; margin-top: 1em; overflow: hidden; }

#pied { clear: both; width: 100%; margin: 0; padding: 0.40em 0; border-top: 1px solid #8B6F92; text-align: center; font-size: 0.90em; }
#pied img { vertical-align: middle; }

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0px none; line-height: 1px; font-size: 1px }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }

.boutonfb { float:right; text-align:right; margin-right:15px; margin-left: 20px; margin-bottom: -0.6em; font-size: 13px; }

/* ------------------------------------------ */
/*          Habillage des navigations         */
/* ------------------------------------------ */

/* Navigation Entete */
#lign-som { 
	width: 100%; 
	height: 44px; 
	background: url('img_itwx/toolbar.png') repeat-x; 
	margin-bottom: -2px;
	font-weight: bold; }
#lign-som, #lign-som a { 
	color: #FFF;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none; }
#lign-som #gauche { 
	float: left; 
	width: 18%;
	overflow: hidden;
	background: url('img_itwx/backButton.png');
	background-repeat: no-repeat; 
	height: 23px;
	font-size: 12px;
	margin-left: 4px;
	margin-top: 6px;
	padding-top: 7px;
	padding-left: 18px; }
#lign-som #lign-droite { clear: both; float: right; width: 70%; overflow: hidden; }
#lign-som #centre { float: left; width: 58%; height: 24px; text-align: center; font-size: 20px; padding-top: 10px; }
#lign-som #droite {
	float: right;
	width: 84px;
	clear: right;
	text-align: right;
	font-size: 12px;
	margin-top: 6px;
	margin-right: 4px;
    position: auto;
    overflow: hidden;
    text-align: center;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    background: url('img_itwx/toolButton.png');
	background-repeat: no-repeat; }
  
/*  Bouton navigation vers les rubriques  */
.boutonwhite ul { }
.boutonwhite ul li {}
.boutonwhite ul li a, .boutonwhite ul li a:visited { 
	display: block; 
	width: auto;
	border-top: 4px solid #585858; border-left: 4px solid #797979;border-right: 4px solid #797979;border-bottom: 4px solid #888888;
	border-radius : 11px; -moz-border-radius: 11px; 
	background: url('img_itwx/boutonwhite_bg.png');
	text-align: center; 
	font-size: 20px;
	color:#000000;
	padding: 6px;
	text-decoration: none;}
.boutonwhite ul li a:hover, .boutonwhite ul li a[selected], .boutonwhite ul li a:active, .boutonwhite a:focus  { 
	display: block; 
	width: auto;
	border-bottom: 4px solid #585858; border-left: 4px solid #797979;border-right: 4px solid #797979;border-top: 4px solid #888888;
	border-radius : 11px; -moz-border-radius: 11px; 
	background: url('img_itwx/boutongray_bg.png'); 
	color:#FFFFFF; 
	text-decoration: none;}

.listwhite { clear: both; margin-top: 1em; text-align: left; padding: 0;}
.listwhite ul { 
	margin-left: 10px; margin-right: 10px; 
	padding: 0; 
	list-style: none; 
 }       
.listwhite ul li { padding-bottom: 10px;  }


/* Habillage listes & pagination */
#group {
	height: 20px;
	background: url('img_itwx/fondbar.png');
	border-top: 1px solid #B9B9B9;
	border-bottom: 1px solid #B9B9B9;
	margin-bottom: 0em;
	font-size: 17px;
	padding: 1px 0 2px 0; 
	text-align:	center;
	font-weight: bold;
	color: #FFF;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none; }
#grouplist {
	height: 20px;
	background: url('img_itwx/listGroup.png');
	border-top: 1px solid #7d7d7d;
	border-bottom: 1px solid #B9B9B9;
	margin-bottom: 0em;
	font-size: 17px;
	padding: 1px 0 2px 0; 
	text-align:	center;
	font-weight: bold;
	color: #FFF;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none; }
#pagin {
	height: ;
	background: url('img_itwx/listsousGroup.png');
	line-height: 1.20em;
	border-top: 1px solid #7d7d7d;
	border-bottom: 0px solid #B9B9B9;
	margin-bottom: 0em;
	font-size: 17px;
	padding: 1px 0 2px 0; 
	text-align:	center;
	font-weight: bold;
	color: #FFF;
	text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none; }
#list-group li { font-size: 1em; text-align: center; font-weight: none; }

/* ------------------------------------------ */
/*       Habillage des articles et breves     */
/* ------------------------------------------ */

.cartouche { margin-bottom: 0; padding: 0.5em; }
.cartouche .spip_logos { float: right; margin-left: 0px; margin-bottom: 0.5em;}
.cartouche p { margin: 0; padding: 0; clear: left; }
.surtitre, .soustitre { font-size: 0.90em; color: #666; text-transform: uppercase; letter-spacing: 0.10em; }
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre { margin-top: 0.50em; margin-bottom: 0.30em; }
.cartouche .traductions { font-size: 0.90em; }

.site-descript { margin-bottom: 1.50em; line-height: 0.4em; font-size: 1.2em; font-weight: bold; color: #FFF; padding: 0 0.5em 0 0.5em ; }
.site-descript a, .site-descript a:hover, .site-descript a:active { color: #FFF;}

.chapo { margin-bottom: 0; line-height: 1.20em; font-size: 1.2em; font-weight: bold; color: #333; padding: 0.5em; }
.texte { line-height: 1.10em; font-size: 1.3em; padding: 0.5em; text-align: justify;  }
.hyperlien { display: block; background: #FFF url('img_itwx/listArrow.png') no-repeat right center; border: 0px solid #354F71; margin-left: 0.7em; margin-right: 0.7em; margin-bottom: 2em; padding: 1em; font-weight: bold; color: #3F5C85; }
.hyperlien a: hover { color: #000; background: #194fdb;}
.ps, .notes { margin:1.5em; line-height: 1.40em; text-align: justify; }
.notes { clear: both; font-size: 0.90em; }

.texte embed { width: 323px; height: 220px;}
.texte object { width: 323px; height: 220px;}
.texte emb { width: 300px;}

abbr.published { border: 0px none; }

/* Portfolio */
#documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
#documents_portfolio .spip_logos { margin: 6px 3px 0 3px; border: 4px solid #DDD; }
#documents_portfolio a.on .spip_logos { border-color: #F57900; }
#documents_portfolio a:focus .spip_logos,
#documents_portfolio a:hover .spip_logos,
#documents_portfolio a:active .spip_logos { border-color: #8B6F92; }


/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 2.50em; margin-right: 1em; text-align: right; font-weight: bold; text-decoration: underline; }
.rep-mess { clear: both; margin-top: -0.2em; margin-bottom: -1.2em; margin-left: 1.5em; text-align: left; font-weight: normal; text-decoration: underline; font-size: 1.3em; }
.rep-mess a:hover {text-decoration:none}

#lignforum { width: auto; background: #fff url('img_itwx/listForum.png') no-repeat right center; border: 1px solid #B9B9B9; margin: 0.5em; padding: 0.52em; }
a #lignforum, a:visited #lignforum { display: block; color: #000; text-decoration: none;}
a:hover #lignforum, a:focus #lignforum, a[selected] #lignforum, a:active #lignforum{ 
	display: block;
    background-color: #194fdb;
    color: #FFFFFF;
	text-decoration:none }


#incforum { clear: both; width: auto; text-align: left;  margin-left: 0.5em; margin-right: 0.5em;}
#total { block:display; clear: both; float:left; width:50%; overflow: hidden; height: 46px; text-align: left; color: #000; }
#total #afficher { block:display; clear: both; float:right; width:50%; overflow: hidden; background: ; text-align: right; color: #000; margin-top: -2.5em; }
.note { margin:0.5em; }

/* Habillage des forums */
ul.forum { display: block; clear: both; margin: 0.5em; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.50em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; color: #333; }
.forum-texte { margin: 0; padding: 0.50em 1em; color: #333; }
.forum-texte .hyperlien {}
.forum-texte .repondre { margin: 0; padding: 0.10em 0; text-align: right; }

/* Bords */
.forum-message { border: 1px solid #A4A4A4; margin: 0; padding: 0; margin-bottom: 1em; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border-left:0px none; border-right:0px none; border-top:0px none; border-bottom:1px dotted #B8B8B8; margin:0; background: #B0BCC4; padding-left:6px; padding-right:6px; padding-top:3px; padding-bottom:2px; font-size: 1em; }
ul ul .forum-chapo { background: #B9C4CA; font-size: 1em;}
ul ul ul .forum-chapo { background: #C7CFD3; font-size: 1em;}
ul ul ul ul .forum-chapo { background: #D9DEE1; font-size: 1em;}
ul ul ul ul ul .forum-chapo { background: #F8F9FA; font-size: 1em;}
ul ul ul ul ul ul .forum-chapo { background: #FFF; font-size: 1em;}

/* Habillage des petitions
---------------------------------------------- */
#signatures { clear: both; margin: 0 0 2em 0; padding: 0; background: none; }
#signatures table { width: 100%; margin: 1em 0 0 0; }
#signatures thead { text-align: center; color: #555; }
#signatures td { padding: 0.50em; border: 2px solid #FEFEFE; vertical-align: top; }
#signatures td.signature-date { background: #E4F0F0; text-align: center; white-space: nowrap; }
#signatures td.signature-nom { background: #ECF4F4; text-align: center; }
#signatures td.signature-nom small { display: block; }
#signatures td.signature-message { background: #F4F8F8; }
#signatures .formulaire_recherche { margin: 1em 0; text-align: right; } /*Cf.: spip_formulaires.css*/
#signatures .formulaire_recherche input.text { width: 10em; text-align: left; } /*Cf.: spip_formulaires.css*/


/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Habillage general des menus de navigation */
.menu { clear: both; margin-bottom: 0em; text-align: left; padding: 0;}
.menu p { margin: 0.20em 0; padding: 0.20em 0.10em; }
.menu ul { margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #DDD; background: #FFF; }
.menu a { }
          
.menu ul li { margin: 0; padding: 0.20em; border-top: 1px solid #DDD; }
.menu ul li ul { margin-left: 0em; border: 0px none; }
.menu ul li li { padding: 0; border: 0px none; }

/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.90em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

/* Rubriques */
.rubriques ul { border: 0px none; }
.rubriques ul li { background: #EEE; border: 0px none; }

.ispip_formulaire_recherche { margin-bottom: 2em; } /*Cf.: spip_formulaires.css*/

/* Listes d'articles et extraits introductifs */
.articles ul a, .articles ul a:visited { color: #000; text-decoration: none;}
.articles ul a:hover, .articles ul a:focus, .articles ul a[selected], .articles ul a:active{ 
	display: block;
    background-color: #194fdb ;
    color: #FFFFFF; }
.articles ul li { clear: both; padding: 0; background: url('img_itwx/listArrow.png') no-repeat right center; }
.articles ul li h3 { margin: 0;}
.articles ul li h7 { margin: 0.30em 0; margin-bottom: 0.1em; font-weight: normal; font-size: 23px; line-height: 1.8em;}
.articles .spip_logos { float: right; clear: right; margin: 0; padding: 8px 24px 2px 5px;}
.articles ul li .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.articles ul li .introduction { margin-top: 0; line-height: 1.1em; font-size: 1.4em; font-weight: bold; padding: 0 20px 0 10px; }
.articles ul li a, .articles ul li a:visited { color: #000; text-decoration: none;}
.articles ul li a:hover, .articles ul li a:focus, .articles ul li a[selected], .articles ul li a:active{ 
	display: block;
    background-color: #194fdb;
    color: #FFFFFF; }

/* Couleurs des liens
---------------------------------------------- */
a { color: #000; text-decoration: none; }
a:focus, a:hover { color: #000; text-decoration: underline; }
