<plugin>
	<nom>iTwX Classique</nom>
	<slogan>Jeux de squelettes pour Smartphone</slogan>
	<icon>img_itwx/iTwX_classique48.png</icon>
	<version>2.3.7</version>
	<etat>test</etat>
	<description>
		<multi>
		[fr]Le plugin iTwX propose un jeux de squelettes adapt&#233;s pour tout type de Smartphone. Pour proc&#233;der &#224; l'installation voir [les consignes->http://twxdesign.com/spip.php?article5] d'installation.
		</multi>
	</description>
	<auteur>Seds [TwX Design->http://twxdesign.com]</auteur>
	<lien>https://contrib.spip.net/iTwX-Mobile</lien>
	<prefix>itwx_2_3_7_classic</prefix>
	<chemin dir='' />
	<necessite id="SPIP" version="[2.1.0;2.1.99]" />
	<categorie>squelette</categorie>
</plugin>
