<plugin>
<nom>iTwX Classique</nom>
<icon>img_itwx/iTwX_classique48.png</icon>
<version>2.3.7</version>
<etat>test</etat>
<description>
<multi>
[fr]Le plugin iTwX propose un jeux de squelettes adapt&eacute;s pour tout type de Smartphone. Pour proc&eacute;der &agrave; l'installation voir <a href="http://twxdesign.com/spip.php?article5">les consignes</a> d'installation.
</multi>
</description>
<auteur><!-- Auteur du plugin -->
Seds &amp; [TwX Design->http://twxdesign.com].
</auteur>

<prefix>itwx_2_3_7_classic</prefix>
<chemin dir='' />
<categorie>squelette</categorie>
</plugin>
