.logo-institution{position:absolute;right:10px;top:10px;}
body .menuder ul{display:none;}
#menuhorizontal{position:relative;margin:0 auto;}
#menuhorizontal .recherche{position:absolute;right:.3em;top:.3em;}
#menuhorizontal .menuder{max-width:580px;}
body .formulaire_recherche input.text{width:150px;}
body .formulaire_recherche input.submit,body .formulaire_recherche label{display:none;}
.extra1 .menu.rubriques ul .item{list-style:none;}
.bouton_sommaire:hover,.breves h3.h3{cursor:pointer;}
#mozaique{width:200px;margin:0 ;}
#mozaique table tr td{padding:0;}
