
/* Configuration neatienne (un peu plus facile à prononcer et à écrire que nietzschéenne) */
$visual-grid:true;

/* Configuration hashgridesque */
$default-column-count: 12;
$default-column-width: em(60px);
$default-gutter-width: em(20px);
$default-vertical-rhythm: 1.5em;
