
/* Tous les .container quelques soient les écrans */
.container{
	@include outer-container;
	padding:0 1em;
	
	@include media($bp-large-up){
		padding:0;
	}
}

/* Configuration hashgridesque */
$default-column-count: 12;
$default-column-width: flex-grid(1);
$default-gutter-width: flex-gutter();
$default-vertical-rhythm: 24px;
$default-vertical-guide-color: rgba(white,0);

@include hashgrid{
	@include setgrid(1);
}

