/*  conteneur du menu*/
#menu {
position:absolute;
top:130px;
width:48em;
background-color:#82ADE2; /* couleur de fond du menu */
float:left; /* ajout version 0.8.0.8 - a tester */
}

ul.menu li ul{
  display:none;
}

ul.menu li:hover>ul{
  display:block;
}
/* menu racine */
ul.menu{
  margin:0px;
  padding:0px;
  list-style:none;
  float:left;
  font:10px tahoma;
  text-align:left;
}
/* style du trait de séparation */
ul.menu hr{
 margin-right: 4px;
 margin-left: 4px;
}
ul.menu li{
  float:left;
  display:block;
  padding:2px 1px; /* espace entre les entêtes des menus */
}
/* cadre autour d'une entrée de menu */
ul.menu li a{
  display:block;
  padding:0px 10px; /* laisser le 1er paramètre à 0 pour ne pas déformer le tableau d'accueil
                       et jouer sur le second pour centrer le menu dans le cadre d'accueil
					   (j'ai pas trouvé d'autre moyen...) */
  border:1px solid #CCCCCC;
  color:#000000;
  text-decoration:none
}
/* état lors du survol d'une entrée de menu */
ul.menu li a:hover{
  border-top-color:#F0F0F0;
  border-left-color:#F0F0F0;
  border-right-color:#999999;
  border-bottom-color:#999999;
}

/* Les sous menu */
ul.menu ul{
	position:absolute;
	border:1px solid #CCCCCC;
	background:#90B5D3;
	font:12px arial;
	list-style:none;
	margin:0px;
	padding:0px;
	width:160px;
	z-index:1;
	vertical-align: middle;
}

/* état d'un sous menu survolé */
ul.menu ul a:hover{

	background:#E5EFF8;
}
/* les sous sous menu */
ul.menu ul ul{
  top:-2px;
  left:158px;
  z-index:2;
}

ul.menu ul li{
  position:relative;
 
  float:none;
  margin:0px;
  padding:0px;
  _display:inline;
}

ul.menu ul li a{
  display:block;
  margin:0px;
  padding:0px;
  width:160px;
  border:none;
}
.fleche {
  position: relative;
  float:right;
  margin:-10px 3px 0px 0px;
  _margin:-15px 3px 0px 0px;
}

