<plugin>
	<nom>SpipClear Z</nom>
	<slogan>Un site &#224; la dotclear en Spip version Z</slogan>
	<auteur>James, Ben, Eric Lupinacci et Bruno</auteur>
	<licence>&#169; 2009 - GNU/GPL</licence>
	<version>3.2.1</version>
	<version_base>0.2</version_base>
	<etat>dev</etat>
	<prefix>spipclear</prefix>
	<description>
		SpipClear est con&#231;u pour transformer un site en blog ou carnet web. Pour cela, il s'inspire de DotClear, un syst&#232;me de gestion de blog d&#233;velopp&#233; en php par Neokraft.net.
	</description>
	<icon>images/spipclear-128.png</icon>
	<options>spipclear_options.php</options>
	<fonctions>spipclear_fonctions.php</fonctions>
	<install>base/spipclear_upgrade.php</install>
	<pipeline>
		<nom>zengarden_activer_theme</nom>
		<inclure>spipclear_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_champs_extras</nom>
		<inclure>spipclear_pipelines.php</inclure>
	</pipeline>
	<pipeline><nom>spipclear_top_fin</nom></pipeline>
	<necessite id="SPIP" version="[2.1.0;2.1.99]" />
	<necessite id='Z' version='[1.1.1;1.7.15]' />
	<necessite id="CalendrierMini" version="[0.3;]" />
	<necessite id='noizetier' version='[0.8.1;]' />
	<necessite id="cextras" version="[0.7;]" />
	<categorie>squelette</categorie>
</plugin>
