<plugin>
	<nom>SpipClear Z</nom>
	<auteur>La SpipClear Team : James, Ben, Eric et b_b
_ &#169; 2010 - Licence GNU/GPL</auteur>
	<version>3.0</version>
	<version_base>0.1</version_base>
	<etat>dev</etat>
	<prefix>spipclear</prefix>
	<description>SpipClear est une adpatation pour SPIP de DotClear.</description>
	<lien></lien>
	<icon>images/spipclear-128.png</icon>
	<options>spipclear_options.php</options>
	<fonctions>spipclear_fonctions.php</fonctions>
	<install>base/spipclear_upgrade.php</install>
	<pipeline>
		<nom>zengarden_activer_theme</nom>
		<inclure>spipclear_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.1;]" />
	<utilise id="cfg" version="[1.10.4;]" />
	<necessite id="CalendrierMini" version="[0.3;]" />
	<necessite id='Z' version='[1.1.1;]' />
	<necessite id='noizetier' version='[0.8.1;]' />
	<categorie>squelette</categorie>
</plugin>
