/* Personnalisations SpipClear */

#content .post img.logo { float: right; margin: 0 0 5px 5px; }

#content #formulaire_forum { background: transparent; }
#content #formulaire_forum input.submit { color: inherit; }
#content table.spip_barre a img { background: #f5f5f5; border: 1px solid #ddd; }
#content table.spip_barre a:hover img { background: #e0e0e0; border: 1px solid #afafaf; }

#calendar table caption { margin-top: 1em; }

/* spipclear Z */

.post-tags { list-style: none; margin: 0.5em 0; }
.post-tags .item { display: inline; }
.formulaire_login ul li input.password { width: 15em; border: 1px inset; }