<plugin>
	<nom>Squelette Rutherfordiumy</nom>
	<slogan>Pour les sites de type blog</slogan>
	<version>1.0.0</version>
	<etat>stable</etat>
  	<auteur>[Anthony Mathieu (OpenStudio)->http://www.openstudio.fr/]), [d'apr&#233;s le th&#232;me Rutherfordiumy->http://www.paddsolutions.com/wpmag/rutherfordiumy/], [chez Padd Solutions->http://www.paddsolutions.com/]</auteur>
  	<licence>GNU/GPL</licence>
  	<description>
	Un squelette 2 colonnes, noir et bleu. Con&#231;u pour fonctionner avec le th&#232;me du m&#234;me nom.
  	</description>
	<lien></lien>
  	<icon>vignette.jpg</icon>
	<prefix>squelette_rutherfordiumy</prefix>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.10;3.0.99]" />
	<utilise id="menus" version="[0.9.4;]"/>
	<utilise id="gravatar" version="[1.3.2;]" />
	<utilise id="Z" version="[1.2.0;]" />
	<pipeline>
  		<nom>insert_head</nom>
  		<action>insertion_in_head</action>
  		<inclure>squelette_rutherfordiumy_pipelines.php</inclure>
 	</pipeline>
</plugin>



