body {
  font-family:    "Luxi sans", "Lucida Grande", Lucida, "Lucida Sans Unicode", sans-serif;
  background:     #FFFFFF;
  font-size:      em($body-font-size, $_base-font-size)*0.9;
  @include media($bp-medium-up) {
    font-size: em($body-font-size, $_base-font-size)*0.95;
  }
  @include media($bp-large-up) {
    font-size: em($body-font-size, $_base-font-size);
  }
  font-weight:    normal;
  line-height:    $typo-line-height;
  color:          $couleur-texte;
  text-rendering: geometricPrecision;
}

html.rtl * {
  // pas d'italique pour les langues RTL
  font-style: normal !important;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight: 900;
  line-height: 1.1;
  color:       $couleur-gris1;
}

h1, .h1 {
  font-size: $body-font-size*2;
}

h2, .h2 {
  font-size: $body-font-size*1.5;
}

h3, .h3 {
  font-size: $body-font-size*1.25;
}

h4, .h4 {
  font-size: $body-font-size*1.125;
}

h5, .h5,
h6, .h6 {
  font-size: $body-font-size;
}

a {
  text-decoration: none;
  color:           $couleur-lien;
  &:visited {
    color: $couleur-lien;
  }
  &:hover {
    text-decoration: underline;
    color:           $couleur-lien-hover;
    border-color:    $couleur-lien-hover;
    outline:         0;
  }
  &:focus {
    background-color: $couleur-lien !important;
    border-color:     $couleur-lien !important;
    color:            white !important;
    svg * {
      fill: white !important;
    }
  }
}

pre,
code,
kbd,
samp,
var,
tt {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}