/* bidouilles coins arrondis */
/* GENERAL */

/* proprietes communes  aux 4 coins */
#hautgauche, #hautdroit, #basgauche, #basdroit {
height: 18px; width: 18px;
background-repeat: no-repeat;
font-size:1px; /* correction d'un bug IE */
}

/* proprietes specifiques a chaque coin */
#hautgauche {
background: url(./images/banner-tleft.gif);
}

#hautgauchelarge {
padding-left: 10px;
padding-top: 4px;
background: url(./images/banner-tleft.gif);
background-repeat: no-repeat;
}

#hautgauchelarge h2 {
font-size:150%;
}

#hautdroit {
float: right;
background: url(./images/banner-tright.gif);
}

#basdroit {
float: right;
background: url(./images/banner-bright.gif);
}

#basgauche {
background: url(./images/banner-bleft.gif);
}

/* coins colonne */

/* proprietes communes  aux 4 coins */
#col-hautgauche, #col-hautdroit, #col-basgauche, #col-basdroit {
height: 18px; width: 18px;
background-repeat: no-repeat;
font-size:1px; /* correction d'un bug IE */
}

/* proprietes specifiques a chaque coin */
#col-hautgauche {
background: url(./images/banner-tleft.gif);
}

#col-hautgauchelarge {
padding-left: 10px;
padding-top: 4px;
background: url(./images/banner-tleft.gif);
background-repeat: no-repeat;
}

#col-hautgauchelarge h2 {
font-size:150%;
}

#col-hautdroit {
float: right;
background: url(./images/banner-tright.gif);
}

#col-basdroit {
float: right;
background: url(./images/banner-bright.gif);
}

#col-basgauche {
background: url(./images/banner-bleft.gif);
}


/* coins une */

/* proprietes communes  aux 4 coins */
#une-hautgauche, #une-hautdroit, #une-basgauche, #une-basdroit {
height: 18px; width: 18px;
background-repeat: no-repeat;
font-size:1px; /* correction d'un bug IE */
}

/* proprietes specifiques a chaque coin */
#une-hautgauche {
background: url(./images/banner-tleft.gif);
}

#une-hautgauchelarge {
padding-left: 10px;
padding-top: 4px;
background: url(./images/banner-tleft.gif);
background-repeat: no-repeat;
}

#une-hautgauchelarge h2 {
font-size:150%;
}

#une-hautdroit {
float: right;
background: url(./images/banner-tright.gif);
}

#une-basdroit {
float: right;
background: url(./images/banner-bright.gif);
}

#une-basgauche {
background: url(./images/banner-bleft.gif);
}


/* coins contact */

/* proprietes communes  aux 4 coins */
#contact-hautgauche, #contact-hautdroit, #contact-basgauche, #contact-basdroit {
height: 18px; width: 18px;
background-repeat: no-repeat;
font-size:1px; /* correction d'un bug IE */
}

/* proprietes specifiques a chaque coin */
#contact-hautgauche {
background: url(./images/banner-tleft.gif);
}

#contact-hautgauchelarge {
padding-left: 10px;
padding-top: 4px;
background: url(./images/banner-tleft.gif);
background-repeat: no-repeat;
}

#contact-hautgauchelarge h2 {
font-size:150%;
}

#contact-hautdroit {
float: right;
background: url(./images/banner-tright.gif);
}

#contact-basdroit {
float: right;
background: url(./images/banner-bright.gif);
}

#contact-basgauche {
background: url(./images/banner-bleft.gif);
}


/* coins fil */

/* proprietes communes  aux 4 coins */
#fil-hautgauche, #fil-hautdroit, #fil-basgauche, #fil-basdroit {
height: 18px; width: 18px;
background-repeat: no-repeat;
font-size:1px; /* correction d'un bug IE */
}

/* proprietes specifiques a chaque coin */
#fil-hautgauche {
background: url(./images/banner-tleft.gif);
}

#fil-hautgauchelarge {
padding-left: 10px;
padding-top: 4px;
background: url(./images/banner-tleft.gif);
background-repeat: no-repeat;
}

#fil-hautgauchelarge h2 {
font-size:150%;
}

#fil-hautdroit {
float: right;
background: url(./images/banner-tright.gif);
}

#fil-basdroit {
float: right;
background: url(./images/banner-bright.gif);
}

#fil-basgauche {
background: url(./images/banner-bleft.gif);
}


/* coins rub */

/* proprietes communes  aux 4 coins */
#rub-hautgauche, #rub-hautdroit, #rub-basgauche, #rub-basdroit {
height: 18px; width: 18px;
background-repeat: no-repeat;
font-size:1px; /* correction d'un bug IE */
}

/* proprietes specifiques a chaque coin */
#rub-hautgauche {
background: url(./images/banner-tleft.gif);
}

#rub-hautgauchelarge {
padding-left: 10px;
padding-top: 4px;
background: url(./images/banner-tleft.gif);
background-repeat: no-repeat;
}

#rub-hautgauchelarge h2 {
font-size:150%;
}

#rub-hautdroit {
float: right;
background: url(./images/banner-tright.gif);
}

#rub-basdroit {
float: right;
background: url(./images/banner-bright.gif);
}

#rub-basgauche {
background: url(./images/banner-bleft.gif);
}



