body {
  font-family:  Arial, Helvetica, sans-serif;
  margin : 0px 0px 0px 0px;
  background-color: #DDDDDD;
  /* background-image : url(./icones/esp_mem.gif);*/
}

#entete {
        
}

/* Ligne de Menu */

#navcontainer {
        margin: 10px;
}

#navlist
{
text-align:left;
padding: 3px 0;
margin-left: 0;
border-bottom: 1px solid #00A259;
font: bold 14px Verdana, sans-serif;
}

#navlist li
{
list-style: none;
margin: 0;
display: inline;
}

#navlist li a
{
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #00A259;
border-bottom: none;
background: #FFF;
text-decoration: none;
}

#navlist li a:link { color: #8CC63F; }
#navlist li a:visited { color: #8CC63F; }

#navlist li a:hover
{
color: #00A160;
background: #E7F2D7;
border-color: #FFF;
}

#navlist li a#current
{
background: #BBBBBB;
border-bottom: 1px solid #8EC738;
color: #FFF;
}

