/* bien regler la marge (bugs IE) */

body {
  font-family:  Arial, Helvetica, sans-serif;
  margin : 0px 0px 0px 0px;
  background-color: #8CC63F;
}

#page {
  width: 1000px;
  text-align: left;
  margin: 1em auto;
  padding-top: .5em;
  background-color: white;
}

a { text-decoration: none; color: #505050; }
a:hover { text-decoration: none; color: #00A259;  }
a.spip_out { text-decoration: none; color: #a02020; }
a.spip_in, a.spip_url { text-decoration: none; color: #8a2011; }
a.spip_glossaire { text-decoration: none; color: #20a020; }

.chapo {
  font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: justify;
  font-size: 105%;
        margin-top: 0.6em;
        margin-bottom: 0.6em;
}
.texte, .texte p.spip {
  font-family: Georgia, Garamond, Times, serif;
  text-align: justify;
}
.ps {
  font-family: Georgia, Garamond, Times, serif;
  text-align: justify;
  font-size: 85%;
}
.notes {
  font-family: Georgia, Garamond, Times, serif;
  text-align: left;
  font-size: 80%;
}



/* entete */

#entete {
        margin: 30px 10px 30px 10px; 
  background-color: #FFF;
}

#citation {
        margin: 0 0 0 640px;
        font-size: 70%;
        color: #008B8B;
        text-align: center; 
        position: relative;
        top: 0px;
}

#citation p.spip {
margin-bottom:0;
margin-top:0;
}

.rond {
  -webkit-border-radius: 2ex;
  -moz-border-radius: 2ex;
}

.maj {
        font-size: 78%;
        color: #A9A9A9;
  margin-left: 10px;
}

.logo_ecolo {
        position: absolute;
        top: 20px;
        left: 20px;
}

.campagne {
        position: absolute;
        top: 20px;
        left: 200px;
}

.h1,h2 {
        color: #CC6600;
  font-size: 180%;
  font-weight: bold;
        margin-left: 10px ;
}

/* Ligne de Menu */

#navcontainer {
        margin: 10px;
}

#navlist
{
text-align:left;
padding: 3px 0;
margin-left: 0;
border-bottom: 1px solid #00A259;
font: bold 14px Verdana, sans-serif;
}

#navlist li
{
list-style: none;
margin: 0;
display: inline;
}

#navlist li a
{
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #00A259;
border-bottom: none;
background: #FFF;
text-decoration: none;
}

#navlist li a:link { color: #8CC63F; }
#navlist li a:visited { color: #8CC63F; }

#navlist li a:hover
{
color: #00A160;
background: #E7F2D7;
border-color: #FFF;
}

#navlist li a#current
{
background: #8EC738;
border-bottom: 1px solid #8EC738;
color: #FFF;
}



/*
 * Disposition a l'ecran
 */

#principal {
  font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

#plan {
  font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

#navigation {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.encart {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#principal {
  /*colonne principale*/
  margin: 30px 25% 46px 1%;
  width: 73%;
/*  background-color: #FFF; */
}

.contenu {
        margin-bottom: 10px;
}

#navigation {
  /*colonne de droite */
  margin: 15px 10px 30px 0 ;
  float:right;
  width: 22%;
  background-color: #FFF;
}

#une {
        float: left;
        width: 49%;
        margin: 0px 3px 10px 0px;
  background-color: #FFF;
}

#fil {
        float: left;
        width: 49%;
        margin: 0px 3px 46px 3px;
  background-color: #FFF;
}

#rub {
        float: left;
        width: 49%;
        margin: 0px 3px 46px 3px;
  background-color: #FFF;
}

#coord {
        float: left;
        width: 49%;
        margin: 0px 3px 46px 3px;
  background-color: #FFF;
}

#intro {
        margin: 0px 3px 46px 3px;
  background-color: #FFF;
}

#liste {
        margin: 0px 3px 46px 3px;
  background-color: #FFF;
}

#liste_une {
        margin: 0px 3px 46px 3px;
  background-color: #FFF;
}

#liste_perm {
        margin: 0px 3px 46px 3px;
  background-color: #FFF;
}

#docs_rub {
        margin: 0px 3px 46px 3px;
  background-color: #FFF;
}

#fil_info {
        margin: 0px 3px 46px 3px;
  background-color: #FFF;
}

#bas {
        clear: both;
        width: 100%;
        text-align: center;
  margin-top: 30px;
}

.docs {
        width: 48%;
        margin: 2px;
        padding: 2px;
        height: 80px;
        border: dashed 1px #E7F2D7;
}


.liste-rub li {
        text-align: center;
        margin: 0 3px 0 0;
        padding: 1px;
        display: inline;
        width: 90%;
        border: 1px solid #DDD;
}

.liste-articles {
        clear: left;
        margin: 2px;
        padding: 3px;
  background-color: #FFF;
}

/*Formatage du menu dans la colonne de gauche*/

.menu {
  border: 1px solid #999;
  margin-bottom: 16px;
        padding: 2px;
/*  text-align: center; */
}

.menu ul {
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#even-agenda {
float:right;
background:#eee;
margin: 1.2em;
padding: 1em;
}

#even-agenda ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
        font-size: 1em;
}

.menu-item {
        font-size: 0.8em;
}

.menu-item li {
  list-style: none;
}

form.recherche {
  /*formulaire de recherche de la colonne de gauche*/
  margin:0px;
  padding:3px;  /*emp?he que la zone de saisie touche les bordures du menu*/
}




/*
 * Ici les styles pour le contenu
 */

.contenu h3.spip {
  text-align: center; 
  margin-top: 2em; 
  margin-bottom: 1.4em; 
  font-size: 1.15em; 
  font-weight: bold;
}

.contenu h3 {
  margin-top: 2px; 
  margin-bottom: 2px; 
}

.contenu h1,h2 {
        color: #CC6600;
  font-size: 110%;
  font-variant: small-caps;
        margin-bottom: 4px;
        margin-left: 10px;
  margin-top: 0px;
}

.contenu h1,h2.titre-extrait {
  font-size: 160%;
  font-weight: bold;
}
.contenu h1,h2.titre-texte {
  font-size: 190%;
  font-weight: bold;

}
.contenu .surtitre {
  font-size: 100%;
  font-weight: bold;

}
.contenu .detail {
  font-size: 80%;
  color: #303030;
}
.extrait {
  border-top: dashed 1px #E7E749;
  padding: 0.5em;
  font-size: 85%;
}
.membres {background-color: #DDD;}
.forum li {
  list-style: none;
}



/* Divers */


.logo_left {
        float: left;
        margin: 3px;
}

.logo_right {
        float: right;
        margin: 3px;
}


/* Images typographiques (via image_typo), URL a revoir... */
.format_png { behavior: url(win_png.htc); }

/* modeles par defaut */
.spip_modele { float: right; display: block; border: 1px dotted #666; width: 180px; }

/* Barre de raccourcis typographiques */
table.spip_barre { width: 100%; }

table.spip_barre a img {
  background: #FDA;
  padding: 3px;
  border: 1px outset #999; }
table.spip_barre a:hover img {
  background: #FFF;
  border: 1px solid #999; }

table.spip_barre input.barre { width: 100%; background: #EEE; }

/* * Couleurs des liens de Spip */
a.spip_note {} /* liens vers notes de bas de page */
a.spip_in { color: #900; } /* liens internes */
a.spip_out { color: #009; } /* liens sortants */
a.spip_url { color: #009; } /* liens url sortants */
a.spip_glossaire { color: #060; } /* liens vers encyclopedie */
.on { font-weight: bold; color: #000; } /* liens exposes */

.spip_surligne { background-color: #FFFF66; }

.pied {
        float: right;
        margin: 4px;
}


.padbord {
        border: none;
}

.spip_bouton {
        text-align:center;
/*        clear: both; */
        font-size: 0.8em;
        margin: 0.5em;
}

