#navigation {
	    display:none;
}

#bas {
	    display:none;
}

#entete {
	    display:none;
}

#navcontainer {
	    display:none;
}

.spip-admin-float {
	    display:none;
}

.logo_ecolo {
	    display:none;
}

.a ultralien_menu {
	    display:none;
}

#principal {
width: 21cm;
}
