h1,h2,h3,h4 {
	margin-top: 0em;
	margin-bottom: 0em;
}

body {
background-color:lightgreen;
}

div#entete {
background-color:green;
text-align:center;
}

#contenu  {
     font-family : Verdana, Arial, Helvetica, sans-serif;
     font-style : normal;
     font-weight : normal;
     text-decoration : none;
     text-align : justify;
     background-color : #ccffcc;
     padding : 2%;
     border-color : #ffff99;
     border-style : solid;

}
#contenu h1{
         text-align : center;
	font-size: 120%;
	font-weight: normal;
}

#contenu h2{
         text-align : center;
	font-size: 110%;
	font-weight: normal;
}

.menu {
	border: 1px solid #a0a0a0;
	border-top: 0px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 16px;
}
.menu ul {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 4px;
	list-style: none;
}
.menu ol {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 4px;
	list-style: none;
}

.menu-titre {
	margin: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-size: 90%;
	height:45px ;
	text-align:center;
	
}

.menu-titre a {
	margin: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-size: 90%;
	text-decoration: none;
	text-align:center;

}


div#pieddepage {

}

.encart {
	float: left;
	/*width: 14em;*/
	width: 30%;
	margin-left: 2%;
	/*margin-left: 2em;*/
	margin-top: 0em;
	margin-bottom: 1em;
	margin-right: 0px;
	background-color : #dddddd;
	height:280px;
	border-top: 1px solid #a0a0a0;
	border-bottom: 1px dashed #d0d0d0;

}


.encart li {
font-family:arial, sans-serif;
font-size:80%;
color:black;
background-color:transparent;
text-align:left;
margin-left:0px;
margin-right:0px;
list-style-type:none;
}
.encart a{
color:black;
background-color:transparent;
text-decoration: none;
}



.alaligne {
  clear:both;
}