/********************************************************************/
/*  ULTRALIENS - CSS                                                */
/*  License Creative Commons BY                                     */
/*  http://creativecommons.org/licenses/by/2.0/fr/                  */
/*  01 f?rier 2006 - V1.1                                          */
/*  Gr?ory Cl?ent - YellowPimento - http://www.yellowpimento.com  */
/*  Plus d'info : http://www.ultraliens.com                         */
/********************************************************************/


/*=== Style g??al de l'ultralien ===*/
#ultraliens{
	width:300px;
	position: absolute;
	visibility : hidden;
	border: 5px solid #8CC63F;
	padding: 3px;
	font-family: Verdana, Arial;
	font-size: 0.9em;
	background: #FFF;
    /* ne modifiez pas ces deux lignes qui permettent le non affichage de l'ultralien par d?aut */
	top:0;
	left:-999em;
}

/*=== Titre de l'ultralien ===*/
#ultraliens h1{
	margin:0 0 0 15px;
	font-size:9pt;
	color:#00A259;
	text-align:left;
	font-weight:bold;
	border-bottom:1px solid #00A259;
}
/* Si vous avez besoin d'un style pr?is pour chaque fonction, le javascript est d??g??
#ultraliens h1.ultralien_suite{
	....
}
*/

/*=== Contenu de l'ultralien (balise title du <a> ===*/
#ultraliens p{
	padding:0 2px 2px 15px;
	margin:3px 0 0;
	font-size:9pt;
	color:#00A259;
	text-align:left;
}
/* Si vous avez besoin d'un style pr?is pour chaque ultralien, le javascript est d??g??
#ultraliens p.ultralien_suite{
	....
}
*/


/*=== D?ors de l'ultralien ===*/

/* Comportement des d?ors (ic?es) */
/* Libre ?vous d'en modifier la taille ou l'emplacement */
#ultraliens div{
	position:absolute;
	top:1px;
	left:1px;
	width:16px;
	height:16px;
}
#ultraliens div.ultralien_menu{
	background:url(menu.gif) no-repeat;
}
#ultraliens div.ultralien_fonction{
	background:url(fonction.gif) no-repeat;
}
#ultraliens div.ultralien_auteur{
	background:url(auteur.gif) no-repeat;
}
#ultraliens div.ultralien_source{
	background:url(source.gif) no-repeat;
}
#ultraliens div.ultralien_reference{
	background:url(reference.gif) no-repeat;
}
#ultraliens div.ultralien_exemple{
	background:url(exemple.gif) no-repeat;
}
#ultraliens div.ultralien_courriel{
	background:url(courriel.gif) no-repeat;
}
#ultraliens div.ultralien_complement{
	background:url(complement.gif) no-repeat;
}
#ultraliens div.ultralien_traduction{
	background:url(traduction.gif) no-repeat;
}
#ultraliens div.ultralien_pub{
	background:url(pub.gif) no-repeat;
}
#ultraliens div.ultralien_acronyme{
	background:url(acronyme.gif) no-repeat;
}
#ultraliens div.ultralien_multimedia{
	background:url(multimedia.gif) no-repeat;
}
#ultraliens div.ultralien_site{
	background:url(site.gif) no-repeat;
}



/* cas particulier pour une ouverture dans une nouvelle fen?re */
#ultraliens div.ultralien_externe{
	background:url(externe.gif) no-repeat;
	top:1px;
	left:188px;
}

