// ------------------------------
// Palette de couleurs

$couleur-gris1: #333333;
$couleur-gris2: #424242;
$couleur-gris3: #444444;
$couleur-gris4: #838383;
$couleur-gris5: #f0edf0;
$couleur-gris6: #f8f6f8;

/*$couleur-nav-origine: #e30e6f;*/
$couleur-nav: #c91869;
$couleur-nav-alt: #a50758;
$couleur-nav-active: #c01d70;
$couleur-nav-fleche: #c8c8c8;
$couleur-nav-fleche-hover: #e30e6f;

// ------------------------------
// Couleurs de l'interface

$couleur-fond-page: $couleur-gris6;

$couleur-texte: $couleur-gris3;
$couleur-texte-gris: lighten($couleur-gris3, 6%); // #4444444 -> #535353

$couleur-lien: #db1762;
$couleur-lien-hover: #A11752;

$couleur-fond-boussole: #333;