/* @override 
	http://essentialclair.ydikoi.net/themes/theme_essential_clair/habillage.css
	http://essentialclair.ydikoi.net/plugins/essential_clair/habillage.css */


/* @group Disposition des blocs */

/* Disposition des blocs */
body {
	min-height: 700px;
}
#conteneur{
	width: 700px !important;
}
#page {
	margin-right: auto;
	margin-left: auto;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 700px !important;
}

/* @group Navigation */

#navigation {
	margin-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	display: inline-block;
	width: 700px;
}

#navigation .liste, #navigation .tags, #navigation .menu.rubriques, #navigation #formulaire_recherche, #navigation .formulaire_inscription, #navigation fieldset {
	vertical-align: top;
	bottom: 0;
	display: inline-block;
	width: 265px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#navigation .noisette, #navigation .noisette_nuage .tags {
	display: inline-block;
	max-width: 190px;
	vertical-align: top;
}

#navigation .noisette .liste {
	width: 165px;
}

#navigation .noisette .liste ul {
	list-style-type: disc;
	list-style-position: inside;
	padding: 0;
}



/* @end */

#nav {
	position: absolute;
	top: 0;
}

#contenu {
	width: 600px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 50px;
	padding-left: 50px;
}

#contenu li.item.hentry{
	margin-bottom: 30px;
}

#contenu .liste.sites, #contenu .liste.breves {
	padding-left: 10px;
	padding-right: 10px;
}

.menu-liste {
	margin: 0 0 0 -10px;
	padding: 0;
}

#contenu .liste.articles, .contenu-principal, .comment-form {
	padding: 15px;
}

.pagination.selecteur_archives {
	text-align: left;
	position: relative;
	float: right;
	top: -60px;
}

.meta-publi {
	margin-bottom: 15px;
	clear: both;
}



#formulaire_contact {
	padding-left: 0 !important;
	width: 90%;
	margin: 10px auto;
}

.formulaire_signature {
	padding-left: 0 !important;
	width: 90%;
	margin: 10px auto;
}

.formulaire_signature ul {
	padding-left: 0 !important;
}

#comments, .comments {
	width: 90%;
	margin-left: 50px;
}

#pied {
	margin-top: 20px;
	padding: 3px;
	clear: both;
}

.liste.articles p.pagination {
	width: 100%;
	text-align: right;
}

.comment.hreview {
	margin-top: 10px;
	margin-bottom: 20px;
	border-top: 1px solid silver;
}

#formulaire_forum {
	margin-top: 30px;
}

ul>li> .date{
	margin-left: -20px;
	display: inline;
	position: absolute;
}
/* @end */




/* @group Couleurs de blocs & co */

/* Couleurs de blocs & co */

body {
	background-color: white;
	color: gray;
}

#contenu {

}

blockquote {
	border: 1px solid gray !important;
	width: 80%;
	margin-right: auto !important;
	margin-left: auto !important;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* @end */

/* @group Polices */

body {
	font: 0.88em "Lucida Grande", Lucida, Verdana, sans-serif;
}

p{
	color: #514d4d;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

a, a.spip_in {
	color: #514d4d;
	text-decoration: none;
}

#nom_site_spip a {
	font: 44px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: silver;
}

#slogan_site_spip{
	color: silver;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
.liste.articles, #contenu,#navigation, .contenu-principal, .comment-form {
	font-size: 13px;
}

.liste.articles a,#contenu a,#navigation a, .contenu-principal a {
}

#contenu h2 {
	display: none;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#contenu h1{
	font: 24px "Lucida Grande", Lucida, Verdana, sans-serif;
	margin-left: -60px;
	border-bottom: 1px solid #e4e3e3;
	color: #d3d2d2;
}



#pied, #pied a {
	font-size: 11px;
	color: gray;
}



/* @end */

/* @group Nav (menu) */

/* Navigation */

.menu, #nav{
	display: block;
	padding: 15px 0px;
}

.menu h2, #nav h2, #navigation h2 {
	font-size: 24px;
	color: #f8f8f8;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	margin-top: 0;
}



#nav ul.menu-liste {list-style:none;}
#nav ul.menu-liste li.menu-entree {display:inline;}
#nav a,
#nav a,
#nav a:hover{
	display: inline-block;
	padding: 4px 10px 3px;
	font-size: 13px;
	line-height: 18px;
	margin: 2px 3px;
	font-weight: 800;
	text-transform: uppercase;
	color: silver;
}
.menu a:hover, #nav a:hover{
	color: gray;
}
.menu a:on,#nav a:on{
	text-decoration: underline;
	line-height: 120%;
}



/* @end */

/* @group Titres & co */


.page_plan #contenu h2, .page_plan #contenu h3 {
	margin-left: 20px;
}



.liste.articles h3 a,.liste.articles h2 a  {
	margin-bottom: 0;
	font: 24px "Lucida Grande", Lucida, Verdana, sans-serif;
	display: block;
}

.liste-items h3 .spip_logos {
	margin-right: 5px;
	float: left;
}



/* @end */

/* @group Listes */

.liste.articles ul {
	list-style-type: none;
	padding: 0;
}

#navigation ul {
	padding-left: 20px;
}



/* @end */
/* @group Articles */

#hierarchie {
	display: none;
}

.cartouche abbr.published {
	color: #d3d2d2;
}

.cartouche .surtitre {
	font-weight: bold;
}

.cartouche h1 {
	color: gray !important;
}

.cartouche img.spip_logos {
	float: left;
	padding: 0 10px 5px 0;
}

.chapo {
	font-weight: bold;
}

#documents_portfolio {
	text-align: center;
	padding: 10px;
}

 .comment-form, .formulaire_signature {
	padding: 10px;
	margin-top: 10px;
}

.avatar {
	float: left;
	margin-right: 10px;
	clear: both;
}

#comments ul.forum {
	list-style-type: none;
}



/* @end */

/* @group Images
 */

.spip_documents img {
	-moz-box-shadow: 0 0 4px #280404;
	-webkit-box-shadow: 0 0 4px #280404;
	box-shadow: 0 0 4px #280404;
	border: 1px solid #f4f4f3;
}
.boutons.spip-admin.actions.modererforum {
	clear: both;
	padding-bottom: 30px;
}
/* @end */

/* @group Formulaire contact
 */
}

/* @end */