<plugin>
    <nom>Essential (clair)</nom>
    <version>1.0.0</version>
    <auteur>[ydikoi->http://www.ydikoi.net]</auteur>
	<licence>Creative Commons by-sa</licence>
    <slogan>Squelette minimaliste pour blog, autour de ses fonctions essentielles : &#233;crire, partager, communiquer</slogan>
    <description>Un squelette de blog monocolone en noir & blanc (& versions de gris)</description>
	<lien>http://contrib.spip.net/ydikoi</lien>
 	<icon>vignette.png</icon>
 	<prefix>EssentialClair</prefix>
    <etat>stable</etat>
    <necessite id="Z" version="[1.7.0;]" />
	<utilise id="menus" />
    
    <categorie>squelette</categorie>
</plugin>