<plugin>
	<nom>Essential (clair)</nom>
	<version>1.0.2</version>
	<auteur>[ydikoi->http://www.ydikoi.net]</auteur>
	<licence>Creative Commons by-sa</licence>
	<slogan>Squelette minimaliste pour blog, autour de ses fonctions essentielles : &#233;crire, partager, communiquer</slogan>
	<description>Un squelette de blog monocolone en noir & blanc (& versions de gris)</description>
	<lien>http://contrib.spip.net/article4463</lien>
	<icon>vignette.png</icon>
	<prefix>EssentialClair</prefix>
	<etat>stable</etat>
	<necessite id="SPIP" version="[2.0.0;3.1.99]" />
	<necessite id="Z" version="[1.7.0;]" />
	<utilise id="menus" version="[0.8.20;]" />

	<categorie>squelette</categorie>
</plugin>