<plugin>
 	<nom>Squelette Epona</nom>
	<auteur>
	[Marcopol->mlebas@labeille.net]

		- &#169; 2006 Distribue sous licence GNU/GPL
	</auteur>
	<version>3.2.3</version>
	<etat>test</etat>
	<description>
	Ce squelette, sous licence GPL, s’applique à un site à partir de la version SPIP 1.9. il :

- n’exige qu’un changement de Logo pour être personnalisé,
- propose des options (agenda, album...),
- peut mettre en place les options automatiquement,
- les pages sont imprimables et conformes W3C
- fonctionne en Français, Anglais et Espagnol
- est extensible (langues ou nouvelles pages) par simple ajout de fichiers
	[Site officiel et mode d'emploi->http://spip-epona.org/spip.php?article33]
	</description>
	<fonctions> <!-- fichier fonctions charge a chaque recalcul (comme l'ancien mes_fonctions.php) !! ne surtout pas l'appeler mes_fonctions -->
	epona_fonctions.php
	</fonctions>
	<options> <!-- fichier fonctions charge a chaque recalcul (comme l'ancien mes_fonctions.php) !! ne surtout pas l'appeler mes_fonctions -->
	epona_options.php
	</options>
	<prefix>epona</prefix>
</plugin>