#calendar { text-align: center; border: 1px dotted #ccc; padding: 2px; padding-top: 0.5em; }
#calendar table { width: 100%; margin: 0 auto; padding: 0; }
#calendar caption { padding: 0.5em 0; font-weight: bold; }
#calendar th { background: #ccc; font-weight: normal; color: #666; }
#calendar th abbr { border: none; cursor: help; }
#calendar td { margin: 0; padding: 0; border: none; text-align: center; background: #ddd; line-height: 1.6em; }
#calendar td.horsperiode { background: #ececec; color: #ccc; }
#calendar td.occupe { background: #ececec; }
#calendar td a { text-decoration: none; display: block; }
#calendar td span { color: #aaa; }
#calendar td a:hover { color: #fff; }