/* Images et documents */

img { border: none; }

.spip_documents img {
	padding: 4px;
	border: 1px solid #ccc; }

.spip_documents_center {
	display: block;
	clear: both;
	text-align: center;
	margin: 1em auto; }

.spip_documents_portfolio { clear: both; }
.spip_documents_portfolio img { margin: 2px; }
	
/* Album photos flickr */
ul.flickr { margin: 0; padding: 0; list-style: none; }
ul.flickr li { clear: none; width: 230px; float: left; margin: 0; padding: 0; min-height: 245px; }
ul.flickr li img { padding: 4px; border: 1px solid #ccc; }
ul.flickr li p { width: 200px; margin: 0 !important; padding: 0; }