/* modification des couleurs du theme principal */

body { background-color: #799FCF; }

#header {
background: no-repeat url(header-blue.png) center top #799FCF; 
}

ul.menu li.current_page_item a,
ul.menu li.current_page_item a:hover {
color: #799FCF;
}

h2 a:hover, h2 span a:hover {
color: #799FCF;
}

a {
color: #799FCF;
}

.itemtext a:visited {
color: #799FCF;
}

.item .itemtext {
padding-bottom: 48px;
background: url(../images/separateur-spip-party-blue.jpg) bottom right no-repeat;
}

.comments .itemtext {
padding: 0;
background: #fff;
}