/*
modification des couleurs du thème principal
*/


/*- Page Structure */

body {
        background-color: #913D92;
}

#header {
        background: no-repeat url(header-purple.jpg) center top #913D92; 
}

ul.menu li.current_page_item a,
ul.menu li.current_page_item a:hover {
        color: #bd1a8d;
}

h2 a:hover, h2 span a:hover {
        color: #800040;
}

a {
        color: #913D92;
}

.itemtext a:visited {
        color: #800080;
}

.item .itemtext {
        padding-top: 48px;
        background: url('../images/separateur-spip-party-purple.jpg') top right no-repeat;
        }

.comments .itemtext {
        padding: 0;
        background: white;
}

