/* modification des couleurs du theme principal */

body { background-color: #F0C44F; }

#header {
background: no-repeat url(header-apero.jpg) center top #F0C44F; 
}

ul.menu li.current_page_item a,
ul.menu li.current_page_item a:hover {
color: #F0C44F;
}

h2 a:hover, h2 span a:hover {
color: #ff8000;
}

a {
color: #ff8000;
}

.itemtext a:visited {
color: #ff8000;
}

.item .itemtext {
padding-bottom: 60px;
background: url(../images/separateur-spip-party-yellow.jpg) bottom right no-repeat;
}

.comments .itemtext {
padding: 0;
background: #fff;
}

#calendar td a:hover { background-color: #F0C44F; }