/* mise en page globale des tableaux */
table.spip {
    border:1px solid;
    border-collapse:collapse;
    font-family:Verdana,Arial,Sans,sans-serif;
    font-size:0.9em;
    margin:auto auto 1em;
}

table.spip th, table.spip td {
    padding:3px;
    text-align:left;
    vertical-align:middle;
}


/* Entete de tableau */
table.spip tr.row_first {
    background-color:#FCF4D0;
}


/* Alternance de lignes gris clair, gris foncé */
table.spip tr.row_even {
    background-color:#F0F0F0;
}

table.spip tr.row_odd {
    background-color:#D0D0D0;
}
