/*********************************************************
* CSS screen - deco
* 
* name:     wundernerd is fluid - luv iaaai
*
* date:     2006.09.12
* author:   erational <http://www.erational.org>
* version:  0.3
* licence:  GPL
*
**********************************************************/


/****************** global style ******************/
body {
  font-family:  Verdana, Arial, sans-serif; 
  color: #000;
  background: #fff url(../img/banner_bg.png) repeat-x top left;;  
}

#page {}
#main {}

#banner {  
  margin: 0;
  padding: 0;
  height: 100px; /* IE */   
}

#content {}
#sidebar {}


/***************** usual tags ******************/
a { 
  color: #698fe5;
  text-decoration: none;
}
a.suite {
  display: block;
  margin-bottom:1.6em;
  text-decoration: underline;
  padding: 2px 0 8px 19px;
  background: transparent url(../img/puce_link.png) no-repeat center left;
  border-bottom: 1px dashed #5f7b86;
}

a:hover {
    color: #46b9f0;
}
img {
  border: 0;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", "Trebuchet", Arial, Verdana, sans-serif;
}

h1 { 
  font-size: 1.5em;
  font-weight:normal;
  padding: 0.2em 0; 
}

h2 {
  font-size: 1.26em;
  margin: 0;  
}

h3 {
  font-size: 1.2em;
  margin: 10px 0 0 0;  
  padding: 2px;
}

h4 {
  font-size: 1.1em;
  margin: 1.2em 0 0.2em 0;
}

hr {  clear: both;  visibility: hidden;  margin: 0;} 

form {
  margin: 0 0 10px 0;
}

label {
   font-weight: bold;
   display: block;
}

label.full {
  display: block;
}

/***************** spip class ******************/
.spip_surligne {
	background: yellow;
}

a.spip_out {
	background: url(../img/spip_out.png) right center no-repeat;
	padding-right: 15px;
	border-bottom: 1px solid;
}

p.spip {
  margin: 1.2em 0;
}

.spip-admin-float {}
.spip-admin-boutons {}



.spip_documents_center {
  text-align: center;
  margin: 0 0 15px 0;
}

.spip_doc_titre {
  text-align: center;
  margin:5px auto;
}

.spip_documents_left {
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}

.spip_documents_right {
  float: right;
  padding-left: 8px;
  padding-bottom: 8px; 
}

.spip_logos {
  margin-right: 10px;
  margin-bottom: 10px;
}

.on { /* pagination current */
  font-weight: bold;
}

/***************** main block: banner **********************/
#banner h1 {
  display:none;
}

#banner .banner_main {
  position:absolute;
  z-index:3;
}


#banner .banner_extra {
  position:absolute;
  /*width: 90%; 
  text-align:right;
  z-index:2;  
  margin:0 auto;*/
  top:0;
  right:5%;
}

#banner_print {
  display: none;
}


/***************** main block: interface ******************/
#interface {
    position: absolute;
    top: 2px;
    left: 218px;
    font-size:0.94em;
}

#interface ul, #interface  ul li {
  display:inline;
	margin:0;
	padding:0;
}

#interface ul li {
  margin-right: 0.6em;
}

#interface a:hover {
  text-decoration: underline;
}


/***************** main block: searchengine ******************/
#searchengine {
    margin: 3px 0 0 0;
    float: right;
    /*position: absolute;
    text-align: right;
    width: 760px;
    top: 13px;   
    margin: 0 auto;*/
}

#searchengine form,#searchengine input, #searchengine label{
  margin: 0;
  padding: 0;
}


/***************** main block: navbar ******************/
#navbar {
   margin: 0;   
   padding: 0;   
}

#navbar a {
  color: #454141;  
  text-decoration: none; 
}

#navbar a.current {
  color:#6C777A;
}

#navbar a:hover {
  color: #dc4e23;  
}

#navbar ul {
  margin: 4px; 
  padding: 0; 
  list-style: none;	
}

#navbar ul li { 
  margin: 0;   
  display: inline;
  /*text-transform: uppercase;*/
  color: #00536d;
  font-weight: bold;
  border-left: 1px solid #ccc;
  padding: 0 4px 0 8px;
}
#navbar ul li.current {
  background: #D4E3D4;
  padding: 4px 8px;
}


#navbar ul li:first-child { 
  border-left: 0px solid #fff;
}


/***************** main block: path ******************/
#path {
  padding: 2px 2px 2px 0;  
  font-size: 0.95em;
}

/***************** main block: post ******************/
#post {  
}

#post h1 a {
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 1.2em;  
  color: #000;
  padding: 0 0 0 9px;
  border-left:5px solid #ffdc02;
  text-align: left;
  line-height: 1.2em; 
}

#post h1 a:hover {
  color: #dc4e23;;
  border-left:5px solid #ff4902;
}

#post h2 a {
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 1.0em;  
  color: #000;
  padding: 0 0 0 9px;
  border-left:5px solid #58fd32;
  text-align: left;
  line-height: 1.2em; 
}

#post h2 a:hover {
  color: #666;
  border-left:5px solid #37be18;
}

#post fieldset {
  background: #f6f8f9;
}


.printer {
  text-align: right;
  margin-bottom: 9px;
}

.pagination {
  margin: 9px 0;
}
.surtitre {
  font-weight: bold;
}
.titre {
  margin: 32px 0 22px 0;
}
.soustitre {
  font-weight: bold;
}
.chapo {
  margin: 5px 0;
  font-style: italic;
}
.ps {}
.hypertxt {
  /*text-align:right;*/
  margin-bottom: 4px;
}

.keyword {
  margin: 0 0 0.2em 0.4em;
  padding: 8px;
  text-align: left;
  background:#eee;
  float: right;
}
/*
.keyword a {
  color: #7a7a7a;  
}
.keyword a:hover {
  color: #2d2c2c;
}
*/

.keyword ul, .keyword  ul li {  
  list-style: none;
	margin:0;
	padding:0;
}

.keyword ul li a {
  margin-left: 0.1em; 
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px dashed #7a7a7a;
  color: #7a7a7a; 
}
.keyword ul li a:hover {
  color: #2d2c2c;
  background: #eee;
}


.intercal {
  /* alternative: using <hr class='intercal'> but IE sucks with ugly border (http://dhtmldev.com/content/view/13/27/)
  visibility: visible;*/
  clear: none;
  height: 55px;  
  border:none;   
} 
/***************** main block: rubrique ******************/
ul.list_arrow {
  float: left;
}

ul.list_arrow li {
  list-style-image: url(../img/puce_arrow.png);
  list-style-type: circle;  
}

.logorub {
  float: left;
  margin:0 10px 10px 0;
}
/***************** main block: rubrique syndication ******************/
a.syndication {
  display:block;
  background:#eee;
  margin:0 0 10px 0;
  padding:8px 2px;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
}

a.syndication:hover {
  background:#ddd;
  border-right:1px solid #aaa;
  border-bottom:1px solid #aaa;
}

.bicol {
  float:left;
  width:43%;
  /*margin:0 20px 0 0;*/
}

.item_syndic {
  padding: 8px;
  background: #fafafa;
  margin: 0 20px 20px 0;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
}

/***************** main block: sites ******************/
.encadreur {
  border:1px solid #ccc;
  margin-bottom: 9px;
  padding: 5px;  
  /*background: #eee;*/
}

.encadre {  
  background: #fafafa;
  padding:5px !important;
  margin: 0 -5px !important;  
}


/***************** main block: forum ******************/
#forum {
  
}

.forum_item {
  margin: 10px 0;    
}

.forum_odd { background: #e9f4f7;}
.forum_even{ background: #fff;}

.forum_title {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #DDF3FA;
}

.forum_reply {

}

.indent {
  margin-left: 50px;
}

.forum-intro {

}


/***************** main block: footer ******************/
#footer {
  text-align: center;
  font-size: 0.9em;
}
#footer ul {
	margin:0;
	padding:0;
}
#footer ul li {
	display:inline;
	margin:0;
	padding:0;
}

#footer a { 
  margin: 0 7px;   
  text-decoration: none;
  color: #777;
}

#footer a:hover {    
  color: #333;
}

#footer_print  {
  display: none;
}

/***************** sidebar block ******************/
#sidebar {
  border-left: 2px solid #AEDBE9;
  padding: 1em 0 0 11px;
  font-size: 0.90em;  
}

h2.actu  span, h2.agenda  span, h2.web  span, h2.breve  span ,
h2.lien  span, h2.rubrique  span,  h2.recherche span, h2.wiki span{
	display:none;
}

#sidebar h2 {
  height: 40px; 
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #AEDBE9;
}
h2.actu { background: transparent url(../img/icon_actu.png) no-repeat top left; }
h2.web  { background: transparent url(../img/icon_web.png) no-repeat top left; }
h2.breve{ background: transparent url(../img/icon_breve.png) no-repeat top left; }
h2.lien { background: transparent url(../img/icon_lien.png) no-repeat top left; }
h2.agenda     { background: transparent url(../img/icon_agenda.png) no-repeat top left; }
h2.rubrique   { background: transparent url(../img/icon_rubrique.png) no-repeat top left; }
h2.recherche  { background: transparent url(../img/icon_recherche.png) no-repeat top left; }
h2.wiki { background: transparent url(../img/icon_wiki.png) no-repeat top left; }

#sidebar h3 {
  display:none;
}

#sidebar a { 
  color: #000;
}

#sidebar a:hover { 
  color: #f30;
}


#sidebar ul {
  margin:2px; 	
  padding: 0; 
  list-style: none; 
}


#sidebar ul li { 
  margin: 0; 
  padding: 2px 0;
}

#sidebar ul li.current { 
  background: #ddf3fa;
  padding: 2px; 
}

#sidebar label {
  display: none;  
}

#sidebar form {
  margin: 0.5em 0;   
}

#partners {
  display: block;
  margin: 20px 0 0 0;
  text-align: center;
}

#extra_tools {}

.creative {
  display: block;
  margin: 25px 0;
  text-align:center;
}

#sidebar .meta {
  color: #777;
}



/*********************** style deco text ************************/
h2.article {
  margin: 16px 0 0 0;
}

.date {
  color: #6d6d6d; 
  margin: 5px 0; 
}


a.bigger {
  font-weight:bold;
  display:block;
}

.license {
  font-size: 0.9em;
  color: #6d6d6d;
}

.tip {
  font-size: 0.8em;
}

.erreur {
  color: #f00;
}
.ok {
  color: #090;
}

.smaller {
  font-size: 0.9em;
}

/************************ page: sommaire ***************************/
ul.discrete {
  list-style:none;
  margin: 0;
  padding: 0;
}
ul.discrete li{
  margin: 0;
  padding: 0;
}

.homepage_col {
  width: 160px; /*48%;*/
  float: left;
  margin: 0;
  padding:0 0.8em 0 0;
  line-height: 180%;
}
.homepage_col ul.discrete {
  margin: 0 0 2.2em 0;
}

.homepage_col h2 a {
  color: #000;
}

.homepage_col h2 a:hover {
  color: #46b9f0;
}

/************************ page: recherche ***************************/
ul.search {
  list-style:none;
}

ul.search li{
  margin: 0 0 10px 0;
}
/************************ page: recherche avance***************************/
.search_advanced {
  border: 1px dashed #aaa;
  padding: 10px;
  margin: 10px 0;
}

/************************ page: mot ***************************/
a.extra {
  text-decoration: none; 
  background:#FFFBBB;  
  border: 1px solid #F8E04C;
  padding: 4px 6px;
}
a.extra:hover {
  background:#FFFEEF;
}

/************************ page: article archive ***************************/
.warning {
  margin: 5px;
  padding: 15px 15px 15px 60px;
  background: #fff url(../img/but_warning.png) no-repeat 5px 5px;
}

.congratulation {
  margin: 5px;
  padding: 15px 15px 15px 60px;
  background: #fff url(../img/but_congratulation.png) no-repeat 5px 5px;
}


.spacer {clear:both;}

