/*********************************************************
* CSS screen - layout
* 
* name:     beautifullisa - 2 cols fluid 
*
* date:     2006.10.11
* author:   erational <http://www.erational.org>
* version:  0.4
* licence:  GPL
*
**********************************************************/

body {
  font: x-small sans-serif;
  margin: 0;
  padding: 0;   
  text-align: center; /* IE bug */
}

#page {
  font-size: 127%;
	padding: 0;
	margin: 0 auto;
	width: 90%;
	text-align: left; /* IE bug */
}

#navbar {
  text-align: center;
}

#main{
  margin: 0;
  float: left;
	width: 67%; 
	margin:0;	
}


#content { /* col 1 */
  float: left; 
	margin: 0;
}

#post{ /* inside col 1 */
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}

#sidebar{ /* col 2 */
  float:right;
	width: 30%;
	margin: 0;
}

/* debug mode */
/*
#page { background: lightblue; }
#main { background: pink; }
#content { background: teal; }
#post  { background: rgb(204,255,102); }
#sidebar { background: yellow; }
#navbar { background: orange; }
*/
