/*********************************************************
* CSS print - deco
* 
* name:     wundergeek upgrade
*
* date:     2006.09.04
* author:   erational <http://www.erational.org>
* version:  0.1
* licence:  GPL
*
**********************************************************/

body {  font-size: 90%;}
.noprint {  display: none;}

/************* layout for print ****************/
#content {
  margin:  0;
  padding: 0;
}

#post{	
	width: 98%;  
}

.spip-admin-float {
  display: none;
}

/****************** global style ******************/
body {
  font-family:  serif, Verdana, Arial, sans-serif; 
  color: #000;
  background: #fff;
}

#page {}

#main {}

#banner {}

#content {}
#sidebar { display:none;}

/***************** usual tags ******************/
a { 
  color: #006ea2;
  text-decoration: none;
}

a.suite {
  display:none;
}

a:hover {
    color: #46b9f0;
}
img {
  border: 0;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", "Trebuchet", Arial, Verdana, sans-serif;
}

h1 { 
  font-size: 1.3em;
  font-weight:normal;
  padding: 0.2em 0;   
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
  margin: 10px 0 0 0;
}

hr {
  clear: both;
  visibility: hidden;  
} 

form {
  margin: 0 0 10px 0;
}

label {
   font-weight: bold;
}

/***************** spip class ******************/
.spip_surligne {
	background: yellow;
}

a.spip_out {
	border-bottom: 1px solid;
}

p.spip {
  margin: 4px 0 2px 0;
}

.spip-admin-float {
  display: none;
}

.spip_documents_center {
  text-align: center;
}
.spip_documents_left {
  margin-right: 8px;
  margin-bottom: 8px;
}
.spip_documents_right {
  margin-left: 8px;
  margin-bottom: 8px;
}

/***************** main block: banner **********************/
#banner h1 {
  display:none;
}


/***************** main block: interface ******************/
#interface {
    position: absolute;
    top: 2px;
    left: 218px;
    font-size:0.94em;
}

#interface ul, #interface  ul li {
  display:inline;
	margin:0;
	padding:0;
}

#interface ul li {
  margin-right: 0.6em;
}

#interface a:hover {
  text-decoration: underline;
}


/***************** main block: searchengine ******************/
#searchengine {
  display: none;
}

/***************** main block: navbar ******************/
#navbar {
  display: none;
}
/***************** main block: path ******************/
#path {
  margin: 13px 0 0;
  padding: 2px 7px;
  border-bottom:1px solid #f8e04b;
  font-size: 0.9em;
}

/***************** main block: post ******************/
#post {
  padding: 7px; 
  height: 100%; /* Fix IE bug layout: otherwise if contextual menu bigger than content, content take whole width */   
}

#post h1 {
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 1.6em;  
  color: #fc3b40; 
}

.printer {
  display: none;
}

.surtitre {}
.titre {
  margin: 32px 0 22px 0;
}
.soustitre {}
.chapo {}
.ps {}
.hypertxt {
  margin-bottom: 5px;
}

.keyword {  
  margin: 0 0 0.2em 0.4em;
  padding: 8px;
  text-align: left;
  border:1px solid #aaa;
  float: right;
}


.keyword ul, .keyword  ul li {
  display:inline;
	margin:0;
	padding:0;
}

.keyword ul li a {
  margin-left: 0.1em; 
  padding-right: 5px;
  border-right: 1px solid #ddd;
}
.keyword ul li a:hover {
  text-decoration: underline;
}

hr.intercal {
  visibility: visible;
  border:0 solid #fff;  
  height: 35px; 
} 

.pagination {
  display: none;
}

/***************** main block: post > context ******************/
#context { display: none;
}
/***************** main block: syndication ******************/
#syndication {
  padding: 5px 20px 15px 20px;
  border:1px dashed #ccc;
  background: #fff;
}


/***************** main block: forum ******************/
#forum {
  display: none;
}


/***************** main block: footer ******************/
#footer {
  text-align: center;
  font-size: 0.9em;
}
#footer ul {
	display: none;
}

#footer a { 
  margin: 0 7px;   
  text-decoration: none;
  color: #aaa;
}

#footer a:hover {    
  color: #666;
}

#footer a img {
  border:5px solid #eee;
}
#footer a:hover img {
  border:5px solid #bbb;
}

.footerpartner {
  width:400px;
  margin: 2px auto;
} 

.footerleft {
  float: left;
  width:200px;
}

#footer_print  {
  display: none;
}

/***************** sidebar block ******************/


/*********************** style deco text ************************/
h2.article {
  margin: 16px 0 0 0;
}

.date {
  color: #6d6d6d; 
  margin-bottom: 10px; 
}

a.bigger {
  font-weight:bold;
  display:block;
}

.tip {
  font-size: 0.8em;
}

.erreur {
  color: #f00;
}
.ok {
  color: #090;
}

/************************ page: recherche ***************************/
ul.search {
  list-style:none;
}

ul.search li{
  margin: 0 0 10px 0;
}
/************************ page: article archive ***************************/
#warning {
  margin: 5px;
  padding: 15px 15px 15px 60px;
  background: #fff url(../img/but_warning.png) no-repeat 5px 5px;
}

#congratulation {
  margin: 5px;
  padding: 15px 15px 15px 60px;
  background: #fff url(../img/but_congratulation.png) no-repeat 5px 5px;
}


