/* 
   Tableaux 
   (fichier origine: dist/spip-style.css )
*/
table.spip {
	margin: auto;
	margin-bottom: 1em;
	border: 1px solid;
	border-collapse: collapse; 
}
table.spip caption {
	caption-side: top; /* bottom pas pris en compte par IE */
	text-align: center;
	margin: auto;
	padding: 3px;
	font-weight: bold; 
}
table.spip tr.row_first { background: #FFC; }
table.spip tr.row_odd { background: #DDD; }
table.spip tr.row_even { background: #EEE; }
table.spip th, table.spip td { padding: 3px; text-align: left; vertical-align: middle; }

/* minical calendrier */
#calendar caption, #calendar caption a   {
  background:#00536D;
  color: #fff;
}
td.occupe {  background:#fff; font-weight:bold;}
td.libre  {  }
td.horsperiode {  background: #AEDBE9; color: #AEDBE9;}
