<plugin>
	<nom> <!-- Nom du plugin -->
	Icones p&#233;dagogiques  pour SPIP 2 &amp; Porte plume
	</nom>
	<auteur><!-- Auteur du plugin -->
Olivier Gautier &amp; Michel Fraisse

&#169; 2009 - Distribu&#233; sous licence GNU/GPL
	</auteur>
	<lien>[Faudra r&#233;diger une doc sur Spip-Contrib->http://www.spip-contrib.net/]</lien>
	<version>
	0.1
	</version>
	<etat>
	dev
	</etat>
	<description>
Rajoute des boutons &#224; au porte plume afin d'ins&#233;rer des icones p&#233;dagogiques
	<prefix> 
	iconespedago
	</prefix>
	<icon>
	img_pack/iconespedago.png
	</icon>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines -->
	<pipeline>
		<nom>pre_typo</nom>
		<inclure>iconespedago.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.0.3;]" />
	<necessite id="porte_plume" version="[1.2.2;]" />
</plugin>
