/* BALISES COURANTES */

body {

}

a {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

a:link {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	display: inline;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6, h7 {

}

form {
	margin: 0px;
	padding: 0px;
}

input {
	margin: 3px 0px;
	padding: 0px;
}

div {
 clear : both;
}

br {
	padding: 0px;
	margin: 0px;
}

img {
	border: 0px none;
}

p {
	padding: 0px;
	margin: 0px;
}

/* BALISES SPÉCIFIQUES */

#Body {
	margin-top: 50px;
}

#Page {
	margin-right: 20%;
	margin-left: 20%;
}

#Header {
	margin: 0px;
	padding: 0px;
}

#Content {
	margin: 0px;
	padding: 0px;
}

.CacherSimple {
	display: none;
}