/* CSS Document */

#Body {
  	font: 0.8em "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	background-color: #EEEEEE; 
	margin: 0px;
	padding: 0px;
}

#Page {

}


hr {
	display: none;
}

a:link, a:active, a:visited {
	color: #888888;
	text-decoration: none;

}

a:hover {
	color: #333333;
	text-decoration: none;
}

ul {
	font-size: 0.8em;
	line-height: 135%;
	color: #888888;
	padding: 0px;
	margin: 0px 0px 0px 20px;
}

li {
	list-style-type: circle;
	padding: 0px;
	margin: 0px;
	list-style-position: inside;
}

span {
	color: #AAAAAA;
}

h1, h2, h3, h4, h5, h6 {
	color: #888888;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1em;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.pointsepa {
	background-image: url("../_imgs2/EEEEEE/PointSepa_EEEEEE.png");
	background-repeat: no-repeat;
	background-position: center top;
	display: block;
	height: 20px;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}



.CacherGauche {
	display: none;
}

#Header {
	background-color: #FFFFFF;
	height: 157px;
	margin-left: 160px;
}

#Header h2 {
	position: absolute;
	z-index: 100;
	left: 190px;
	top: 50px;
}

.CoinRechercheGauche {
	background-color: #EEEEEE;
	background-image: url("../_imgs2/EEEEEE/arrondi.png");
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	height: 20px;
	width: 21px;
	float: right;
}

.CoinRechercheDroite {
	background-color: #EEEEEE;
	background-image: url("../_imgs2/EEEEEE/arrondi.png");
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 20px;
	width: 21px;
	float: right;
}

.Recherche {
	background-color: #EEEEEE;
	width: 200px;
	margin: 0px;
	padding: 0px;
	float: right;
}

.Interface {
	font-size: 1em;
	text-align: center;
	margin: 10px;
}

.Recherche form {
	margin: 10px 0px 0px;
	font-size: 0.8em;
	color: #888888;
	text-align: center;
}

.Recherche form input {
	font-size: 1em;
	color: #AAAAAA;
	border: thin solid #AAAAAA;
	padding: 3px;
}

.RechercheBas {
	margin: 0px;
	padding: 0px;
	height: 20px;
	display: block;
	background-color: #EEEEEE;
	width: auto;
}

.RechercheBasGauche {
	background-color: #EEEEEE;
	float: left;
	height: 20px;
	width: 21px;
	background-image:   url("../_imgs2/EEEEEE/arrondi_inverse.png");
	background-repeat: no-repeat;
	background-position: left bottom;
}

.RechercheBasDroite {
	background-color: #EEEEEE;
	float: right;
	height: 20px;
	width: 21px;
	background-image:   url("../_imgs2/EEEEEE/arrondi_inverse.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}

.HeaderCoinBas {
	height: 20px;
	position: relative;
	top: 137px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
}

.HeaderCoinBasGauche {
	background-color: #EEEEEE;
	height: 20px;
	width: 21px;
	background-image:   url("../_imgs2/EEEEEE/arrondi.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 0px;
	padding: 0px;
	display: block;
	position: absolute;
	left: 0px;
}

.HeaderCoinBasDroite {
	background-color: #EEEEEE;
	height: 20px;
	width: 21px;
	background-image:   url("../_imgs2/EEEEEE/arrondi.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	margin: 0px;
	padding: 0px;
	display: block;
	position: absolute;
	right: 0px;
}



#Content {

}

.ContentCoinHautDroite {
	background-color: #EEEEEE;
	height: 20px;
	width: 21px;
	position: absolute;
	top: 157px;
	right: 20px;
	background-image:   url("../_imgs2/EEEEEE/arrondi_inverse.png");
	background-repeat: no-repeat;
	background-position: left top;
}



/* CSS Colonne Gauche ///////////////////////////////////*/

#ColGauche {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
}

.ColGaucheCoin {
	height: 20px;
	display: block;
}


.ColGaucheSeparation {
	height: 10px;
	display: block;
}


/* CSS Colonne Themes ///////////////////////////////////*/

#ColThemes {
	width: 180px;
	position: absolute;
	left: 170px;
	top: 157px;
}

.ColGaucheCoinDroiteHaut {
	background-color: #EEEEEE;
	background-image: url("../_imgs2/EEEEEE/arrondi_inverse.png");
	background-repeat: no-repeat;
	background-position: right top;
	float: right;
	height: 20px;
	width: 21px;
}

.ColGaucheCoinDroiteBas {
	background-color: #EEEEEE;
	background-image: url("../_imgs2/EEEEEE/arrondi_inverse.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	float: right;
	height: 20px;
	width: 21px;
}


.EncartBlanc {
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	color: #333333;
}

.EncartBlancHaut {
	background-image: url("../_imgs2/EEEEEE/arrondi_inverse.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 20px;
	display: block;
}

.EncartBlancMilieu {

}

.EncartBlancMilieu ul {
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

.EncartBlancMilieuGaucheHaut {
	background-color: #FFFFFF;
	display: block;
	height: 20px;
}


.EncartBlancMilieuCoinGaucheHaut {
	background-color: #EEEEEE;
	background-image: url("../_imgs2/EEEEEE/arrondi.png");
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	height: 20px;
	float: left;
	width: 21px;
}

.EncartBlancMilieuGaucheBas {
	background-color: #FFFFFF;
	display: block;
	height: 20px;
}

.EncartBlancMilieuCoinGaucheBas {
	background-color: #EEEEEE;
	background-image: url("../_imgs2/EEEEEE/arrondi.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	display: block;
	height: 20px;
	float: left;
	width: 21px;
}



.EncartBlancBas {
	background-image: url("../_imgs2/EEEEEE/arrondi_inverse.png");
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	height: 20px;
	width: 21px;
	float: right;
}



/* CSS Inscrits ///////////////////////////////////*/

#Inscrit {
	background-color: #FFFFFF;
	margin-left: 350px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 40px;
}

#Inscrit p {
	margin: 0px;
	padding: 0px;
}

.Compteur {
	margin: 0px;
	padding: 0px 10px;
	color: #444444;
	font-size: 0.9em;
	line-height: 135%;
	text-align: center;
}

.InscritRetrait {
	margin: 10px 0px 0px;
	padding: 0px 20px;
	color: #666666;
	font-size: 0.9em;
	line-height: 135%;
	text-align: justify;
}

.InscritRetrait img {
	margin-left: 20px;
}

.InscritSousRetrait {
	margin: 0px 10px 0px 20px;
	padding: 0px 0px 0px 10px;
	color: #444444;
	font-size: 0.9em;
	line-height: 135%;
	background-image: url("../_imgs2/EEEEEE/Puce_EEEEEE.png");
	background-repeat: no-repeat;
	background-position: 0px 2px;
}


div.Formulaire  {
	font-size: 0.8em;
	margin: 0px;
	padding: 7px 20px;
	text-align: left;
	line-height: 145%;
}


div.Separation {
	margin: 0px;
	padding: 0px;
	height: 20px;
	display: block;
	background-color: #FFFFFF;
	background-image: url(../_imgs2/EEEEEE/PointSepa_EEEEEE.png);
	background-repeat: no-repeat;
	background-position: center top;
}

div.SeparationGauche {
	background-image: url("../_imgs2/EEEEEE/arrondi.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
	width: 21px;
	height: 20px;
	display: block;
	background-color: #EEEEEE;
}

div.SeparationDroite {
	background-image: url("../_imgs2/EEEEEE/arrondi.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	float: right;
	width: 21px;
	height: 20px;
	display: block;
	background-color: #EEEEEE;
}


/* CSS Mentions ///////////////////////////////////*/

.Mentions {
	margin-left: 400px;
	margin-top: 0px;
	margin-bottom: 40px;
	margin-right: 90px;
	height: 30px;
}


.MentionHautDroite  {
	background-image: url("../_imgs2/EEEEEE/arrondi_inverse.png");
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	height: 20px;
	width: 21px;
	background-color: #EEEEEE;
}

.MentionHautGauche  {
	background-image: url("../_imgs2/EEEEEE/arrondi_inverse.png");
	background-repeat: no-repeat;
	background-position: right top;
	float: left;
	height: 20px;
	width: 21px;
	background-color: #EEEEEE;

}

.MentionBody  {
	font-size: 0.8em;
	color: #444444;
	background-color: #FFFFFF;
	padding-top: 10px;
	margin-right: 21px;
	margin-left: 21px;
	text-align: center;
}

.MentionBodyBasDroite  {
	background-image: url("../_imgs2/EEEEEE/arrondi.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	float: right;
	height: 20px;
	width: 21px;
	background-color: #EEEEEE;
}

.MentionBodyBasMilieu {
	height: 20px;
	background-color: #FFFFFF;
}


.MentionBodyBasGauche  {
	background-image: url("../_imgs2/EEEEEE/arrondi.png");
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
	height: 20px;
	width: 21px;
	background-color: #EEEEEE;

}


/* CSS FORMULAIRE ///////////////////////////////////*/

.spip_forms {
	margin: 0px auto;
	width: 320px;
}

.spip {
	padding: 0px;
	margin: 0px;
	color: #666666;
}

.spip_forms form {
	padding: 0px;
	margin: 0px;
}

.spip_forms form label {
}


.spip_forms form textarea {
	background-color: #EEEEEE;
	border: thin solid #CCCCCC;
}

.spip_forms form input {
	background-color: #EEEEEE;
	border: thin solid #CCCCCC;
}

.fondo {
	background-color: #EEEEEE;
	border: thin solid #CCCCCC;
}


.spip_form_erreur { font-weight: bold; color: red; border: 1px solid red; margin: 1px; padding: 1px; }
.spip_form_ok { font-weight: bold; border: 1px solid #808080; margin: 1px; padding: 1px; }








