<plugin>
  <nom>
    <!-- Nom du plugin -->
    Bones Dotspip </nom>
  <auteur>
    <!-- Auteur du plugin -->
    Izo
    _ &copy; 2005-2007 - Distribu&eacute; sous licence GPL </auteur>
  <version>
    <!-- Version du plugin -->
    1.0 </version>
  <etat>
    <!-- Etat du plugin, au choix : dev (developpement), test, stable, experimental -->
    stable </etat>
  <description> Squelette de base semblable à la dist qui utilise les themes graphiques de Dotclear 1.X
    
    Documentation: [->http://www.spip-contrib.net/Bones-DotSpip] </description>
  <icon>bones.png</icon>
  <prefix> bones </prefix>
  <categorie>squelette</categorie>
  <necessite id='SPIP' version='[1.9207;]' />
  <options>bones_options.php</options>
</plugin>
