<plugin>
	<nom>Zpip-dist+BoostStrap</nom>
	<slogan>DEV ONLY.DO NOT USE IN PRODUCTION.<multi>[fr]Squelettes Z pour SPIP (Zpip)[en]Z skeletons for SPIP (Zpip)</multi></slogan>
	<auteur>Matthieu Marcillaud, C&#233;dric Morin, Romy T&ecirc;tue, Collectif SPIP</auteur>
	<icon>img/z-dist-32.png</icon>
	<licence>GNU/GPL</licence>
	<version>0.1.0-dev</version>
	<etat>dev</etat>
	<description>
		<multi>
			[fr]Squelettes par défaut pour Z-core, modulaires et exemplaires.
			[en]Skeleton like <code>squelettes-dist/</code> of SPIP, with an optimized organization and modularity.
		</multi>
	</description>
	<prefix>ZBoot</prefix>
	<options>z_options.php</options>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[3.0.0;]" />
	<necessite id="Zcore" version="[2.0.0;]" />
	<necessite id="lesscss" version="[0.7.0;]" />

	<chemin dir="bootstrap" type='public'/>
	<chemin dir="./" />
</plugin>
