<plugin>
	<nom> <!-- Nom du plugin -->
	Rubrique agenda pour EVA-web 4.1
	</nom>
	<auteur>

	Olivier Gautier, &eacute;quipe de d&eacute;veloppement EVA-web.

	</auteur>

	<licence>

	[GNU GPL->http://www.april.org/gnu/gpl_french.html]

	</licence>

	<lien>

	[Site EVA-web->http://www.eva-web.edres74.ac-grenoble.fr/spip.php?article35]

	</lien>
	<version>
	1.1
	</version>
	<etat>
	stable
	</etat>

	<description>

	Affichage d'une rubrique sous forme d'agenda.<br />

	La rubrique s'affiche sous forme d'agenda lorsqu'on lui joint le mot cl&eacute; <strong>agenda</strong>.<br />

	Les articles sont inscrits dans l'agenda en leurs attribuant une date de r&eacute;daction ant&eacute;rieure correspondant &agrave; la date de l'&eacute;v&egrave;nement concern&eacute;.

	</description>

	<prefix>

	eva_agenda

	</prefix>
	<categorie>squelette</categorie>

</plugin>