<plugin>
	<nom>Squelette Avenir du littoral</nom>
	<slogan>Pour des sites internet à la structure hi&#233;rarchique simple</slogan>
	<categorie>squelette</categorie>
	<auteur>[Jean-Marie->http://www.yaou.org/]</auteur>
	<version>1.0.0</version>
	<lien>https://contrib.spip.net/Squelette-Avenir-du-littoral</lien>
	<licence>CC-by-nc-sa</licence>
	<prefix>adl</prefix>
	<etat>stable</etat>
	<description>Squelette du site [Avenir du littoral->http://www.trebeurden.org/littoral/]: monolingue XHTML, Menu Javascript, Colonne unique</description>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
</plugin>
