<plugin>
	<nom>Gribouille 2</nom>
	<slogan>Un Wiki pour SPIP</slogan>
	<auteur>Fil</auteur>
	<version>0.1.2</version>
	<etat>test</etat>
	<prefix>gribouille</prefix>
	<categorie>squelette</categorie>
	<description>
	Ce plugin s'utilise avec les crayons, le plugin qui permet d&#8217;&#233;diter les contenus sans passer par l&#8217;espace priv&#233;. Gr&#226;ce &#224; l&#8217;API des autorisations, on peut l&#8217;ouvrir en &#233;criture &#224; tous les visiteurs, ou (au choix) &#224; l&#8217;ensemble des r&#233;dacteurs/visiteurs enregistr&#233;s du site Si la gestion des r&#233;visions est activ&#233;e, Gribouille l&#8217;utilise pour suivre les modifications des pages. Il est compatible avec l&#8217;ensemble des plugins de SPIP (acc&#232;s restreint, thickbox, boutonstexte, Autorit&#233;, etc.)
	</description>
	<lien>https://contrib.spip.net/Gribouille</lien>
	<fonctions>gribouille_fonctions.php</fonctions>
	<options>gribouille_options.php</options>
	<pipeline>
		<nom>styliser</nom>
		<inclure>gribouille_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>prepare_recherche</nom>
		<inclure>gribouille_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>gribouille_autoriser.php</inclure>
	</pipeline>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/gribouille.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.0.6;2.1.99]" />
	<necessite id="cfg" version="[1.14.1;]" />
	<necessite id="saisies" version="[1.42.11;]" />
	<necessite id="spip_bonux" version="[1.8.0;]" />
	<necessite id="crayons" version="[1.5.0;]" />
</plugin>
<plugin spip="[3.0.0;3.0.99]">
	<nom>Gribouille 2</nom>
	<slogan>Un Wiki pour SPIP</slogan>
	<auteur>Fil</auteur>
	<version>0.1.2</version>
	<etat>test</etat>
	<prefix>gribouille</prefix>
	<description>
	Ce plugin s'utilise avec les crayons, le plugin qui permet d&#8217;&#233;diter les contenus sans passer par l&#8217;espace priv&#233;. Gr&#226;ce &#224; l&#8217;API des autorisations, on peut l&#8217;ouvrir en &#233;criture &#224; tous les visiteurs, ou (au choix) &#224; l&#8217;ensemble des r&#233;dacteurs/visiteurs enregistr&#233;s du site Si la gestion des r&#233;visions est activ&#233;e, Gribouille l&#8217;utilise pour suivre les modifications des pages. Il est compatible avec l&#8217;ensemble des plugins de SPIP (acc&#232;s restreint, thickbox, boutonstexte, Autorit&#233;, etc.)
	</description>
	<lien>https://contrib.spip.net/Gribouille</lien>
	<fonctions>gribouille_fonctions.php</fonctions>
	<options>gribouille_options.php</options>
	<pipeline>
		<nom>styliser</nom>
		<inclure>gribouille_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>prepare_recherche</nom>
		<inclure>gribouille_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>autoriser</nom>
		<inclure>gribouille_autoriser.php</inclure>
	</pipeline>
	<categorie>squelette</categorie>
	<necessite id="cfg" version="[1.14.1;]" />
	<necessite id="saisies" version="[1.42.11;]" />
	<necessite id="crayons" version="[1.5.0;]" />
	<necessite id="revisions" version="[1.1.0;]" />
	<necessite id="spip_bonux" version="[1.8.0;]" />
</plugin>
