<plugin>
	<nom>Un annuaire de site</nom>
    <auteur>[Pierre KUHN->http://pierre.beau-lieu-bec.org]
	&copy; 2009</auteur>
    <licence>Distribué sous licence GPL</licence>
    <version>0.1</version>
    <description>
    [fr] Faire un annuaire de site suivant votre théme
    </description>
    <etat>dev</etat>
	<icon>img/annuaire.jpg</icon>
    <prefix>annuaire</prefix>
    <bouton id='annuaire' parent='configuration'>
	<icone>img/annuaire.png</icone>
		<titre>Configurer Annuaire</titre>
		<url>cfg</url>
		<args>cfg=annuaire</args>
	</bouton>

	<necessite id='SPIP' version='[2.0;]' />
	<necessite id="cfg" version='[1.12.5;]' />
	<necessite id="notation" version='[0.6.5;]' />
	<utilise id="palette" version='[1.2.1;]' />
</plugin>
