
/* corp du texte principal et fond arrière*/
body{
background:#f5e7e1;
color:#555;
}

/* les liens */
a:visited, a{
color: #769599;
}

.spip_surligne {
background: #f5e7e1;
}




/* les liens survollé par le mulot */
a:hover {
	color: #000;
}

/* le fond derrière les cadres (peut ajouter une ombre aux cadres)*/
#container{
	background:#f5e7e1;
}

/* le fond derrière les textes (encore)*/
#surcontent{
	background:#CDA261;
}

/* L'en-tête et son fond plus une image saisonnière derrière le logo en option */
#header{
	background:#E6C0B1;
/*  background-image:url(../../squelettes/images/fond/automne/automne.jpg);  */
}

/* La couleur des H3 et H5, respectivement Titre et descriptif */
#header h3{
	color: #555;
}
#header h5 a{
	color: #FFF;
}

/* le fond derrière le menu horizontal */
#menu{
	background:#CDA261;
/*  background-image:url(../../squelettes/images/fond/automne/automne.jpg);  */
}

/* le fond derrière les bulles */
ul#nav li{
	background:#fff;
}
ul#nav li.oui{
background:#efd8cf;
}

/* Heu... c'est quoi ce css déjà? */
ul#nav a{	
	color:#666;
}

	
/* Heu... c'est quoi ce css déjà? */	
ul#nav li.active a,ul#nav a:hover{
	color:#000;
	}
	
/* Fond grande Boite Centrale */
#content{
	background:#efd8cf;
	}
	
/* Fond du pied de page + couleur du texte syndication*/
#footer{
	background:#E6C0B1;
	color:#fff;
	}
	
/* Les couleurs des bouton RSS, ical, vcard, geo, ok... */
.button {
	border-color: #ededf5 #dcdcec #7f7fb9 #9797c7;
	background-color: #CDA261;
	color:#fff;
	}
.button a {color:#fff;
	}

/* Les couleurs de fond des boites  */
.grande_boite{
	background:#fff;	
}

.boite{
	background:#fff;
	}

/* le fond derrière les miniatures  */

#minipics li{
	background:#FFF;
	}
	


/* les deux x2 cellules/boites en haut et en bas avec le titre coloré*/

#cel li h4,#celbas li h4{
	color:#fff;
	background:#CDA261;
	}
/* Des liens d'une autre couleur dans les deux x2 même cellules/boites*/
#cel li h4 a,#celbas li h4 a{
	color:#fff;
	}
/* Des textes dans les deux x2 même cellules/boites*/
#cel li p, #celbas li p{
	background:#fff;
}
	
/* les icônes. Voyez dans le source des pages pour savoir qui correspond à quoi */
.icone_fleche{
	background:url(../../squelettes/images/icones/automne/automne_bulle.gif);
}
.icone_filter{
	background:url(../../squelettes/images/icones/automne/automne_filter.gif);
}
.icone_photo{
	background:url(../../squelettes/images/icones/automne/automne_camera_unmount.gif);
}
.icone_forum{
	background:url(../../squelettes/images/icones/automne/automne_idea.gif);
}
.icone_menu{
	background:url(../../squelettes/images/icones/automne/automne_contents2.gif);
}
.icone_agenda{
	background:url(../../squelettes/images/icones/automne/automne_xfcalendar.gif);
}
.icone_stats{
	background:url(../../squelettes/images/icones/automne/automne_dialog-information.gif);
}
.icone_article{
	background:url(../../squelettes/images/icones/automne/automne_document.gif);
}
.icone_zip{
	background:url(../../squelettes/images/icones/automne/automne_zip.gif);
}
.icone_juk{
	background:url(../../squelettes/images/icones/automne/automne_audio-x-generic.gif);
}
.icone_post{
	background:url(../../squelettes/images/icones/automne/automne_redhat-email.gif);
}
.icone_membre{
	background:url(../../squelettes/images/icones/automne/automne_emblem-people.gif);
}
.icone_recherche{
	background:url(../../squelettes/images/icones/automne/automne_edit-find.gif);
}
.icone_site{
	background:url(../../squelettes/images/icones/automne/automne_internet-web-browser.gif);
}
.icone_gis{
	background:url(../../squelettes/images/icones/automne/automne_punaise.gif);
}
.icone_arbre{
	background:url(../../squelettes/images/icones/automne/automne_logoeco.gif);
}
.premier{
	background:url(../../squelettes/images/icones/automne/automne_go-top.gif);
}
.dernier{
	background:url(../../squelettes/images/icones/automne/automne_go-bottom.gif);
}



.repondre a{
	background:url(../../squelettes/images/icones/automne/automne_undo.gif);
}
.cadenas {
background: url(../../squelettes/images/icones/automne/automne_emblem-lock.gif);
}


.icone_arbre,.cadenas,.repondre a,.icone_gis,.icone_site,.icone_fleche,.icone_post,.icone_membre,.icone_filter,.icone_article,.icone_photo,.icone_forum,.icone_stats,.icone_menu,.icone_agenda,.icone_zip,.icone_juk,.icone_recherche{
	background-repeat:no-repeat;
}

/* les fonds des forums */

.discussion{
	background:#fff;
}
.avatar{
	background:#fff;
}
.interne{
	background:#f5e7e1;
}
.interforum,.interforumgrand{
	background:#f5e7e1;
}


/* les membres et leurs icônes */

.membres li a,.legende li,.forum li a{
	background-repeat: no-repeat;
}
.forum li a{
	background-image:url(../../squelettes/icones/48x48/forum.gif);
}
.auteur a,.leg_aut{
	background-image:url(../../squelettes/images/icones/bleu.gif);
color:#5890d8;
}
.visiteur a,.leg_vis{
	background-image:url(../../squelettes/images/icones/vert.gif);
color:#009900;
}
.modo a,.leg_mod{
	background-image:url(../../squelettes/images/icones/orange.gif);
color:#FF9900;
}
.attente a,.leg_att{
	background-image:url(../../squelettes/images/icones/noir.gif);
color:#000;
}

/* les class spip modifiees */

/* alignements des docs dans l article */

.spip_surligne{
color:#ff9900;
}

/* le quote (citation) via balise <quote> */

blockquote.spip{
	background: #fff;
	background-image: url(../../squelettes/images/icones/automne/automne_quote.gif);
	background-repeat:no-repeat;
	background-position:10px -6px;
	border: 2px dashed #f5e7e1;
}

/* les formulaires */

fieldset .focus {	
	background: #ecedf4;
}

/* les tableaux */

table.spip tr.row_first {
	background-color: #CDA261;
	color: #fff
	}
table.spip tr.row_odd {
	background-color: #f9f2ef;
}
table.spip tr.row_even {
	background-color: #f5e7e1;
}



/* Minical */

#calendar{
	/*border-top: 1px solid #F0F0F0;*/
}

#calendar table th{
	color: #CDA261;
	background: transparent;
}

#calendar table td a{
	display: block;
	background: #f5e7e1;
	color: #CDA261;
	font-weight: bold;
	text-decoration: none;
}

#calendar table td.today{
	border: 1px solid #CDA261;
}

#calendar table td a:hover{
	background: #d8a9c0;
	color: #8a08c0;
}

#calendar table td.today a:hover{
	border: 1px solid #8a08c0;
}


/* Class du Bouton Changement de Saisons */

.printemps{
	background: #9DBA00;
	}
	
.ete{
	background: #5DA7C5;
	}
	
.automne{
	background: #CDA261;
	}
	
.hiver{
	background: #666666;
	}
/* met le texte en vert, en gris, en blanc, en pale */	
.vert, .vert a, .vert a:hover, .vert a:visited {
	color:#090;
	}
.gris, .gris a, .gris a:hover .gris a:visited {
	color: #999;
	}
.blanc, .blanc a, .blanc a:hover .blanc a:visited{
	color:#fff;
	}
.pale, .pale a, .pale a:hover .pale a:visited{
	color:#888;
}
.rouge, .rouge a, .rouge a:hover, .rouge a:visited{
	color:red;
}
