html,body{
	margin: 0;
	}

body{	
	font: 0.8em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
		clear:both;
	overflow: scroll !important;
	overflow: visible;
	}

p{
	margin:0;
	padding: 8px 10px;
	}

	
.gras{
	letter-spacing: 0.1em;
	font-weight:bold;
	}

h1,h3,h4{
	padding: 3px 0 2px 30px;
	margin:0px;
}

h1{
	margin:6px;
}


ul{	padding: 0px;
	margin:0px;
	}


.boite h4,.discussion h4,.grande_boite h4{
	padding: 3px 3px 3px 28px;
	position:relative;	
		}

img,.noborder{
	border:0;
}
a:visited,a{
	text-decoration: none;	
}
a:hover{
	text-decoration: underline;
}

a:visited.spip_in ,a:visited.spip_out ,a.spip_in  ,a.spip_out {
	border-bottom: 1px dashed;
	text-decoration: none;
}

a:hover.spip_in ,a:hover.spip_out {
	border-bottom: 1px solid;
	text-decoration: none;
}




.png, .format_png {
behavior: url("squelettes/css/win_png.htc");
}

/* positionnement */
.logodroite{
	float:right;
	margin:10px 15px 0 20px;
	padding:0;
}
.minilogogauche{
	float:left;
	margin:0;
	padding:0;
}

.logogauche{
	float:left;
	margin:2px 5px;
	padding:0;
}

.droite{
	float:right;
	padding:0 10px;
}
.txt_droite{
float:right;

}
.gauche{
	float:left;
padding:0 10px;
}
.centre{
	padding:8px;
	text-align:center;
}

.milieu img{
vertical-align: middle;
display: inline-block;
}


form h4{
padding:8px;
position:relative;	
}


form p.centre{ 
margin-left:-8px;
margin-right:-8px;
}




.splickrbox{
margin:6px 0 6px 6px;
overflow:hidden;
}
.splickrbox table td, .splickrbox table{

border-spacing:0px;
padding:0;
}

/* position colonne */
.coldroit{
display:inline;
	float:right;
	width:245px;
	margin: 0;
	padding: 0;
	}
#colgau{
	float:left;
	display:inline;
	width:490px;
	margin: 0;
	padding: 0;
	}


/* boites */
.grande_boite{
clear:left;
	width:480px;
	padding: 8px 0;
	margin: 6px 0 6px 10px;
	}

.boite{	
	margin:6px 10px 6px 0;
	width:235px;
	}

	
/* invisibilite sauf navigateur type lynx et matériels pour malvoyants*/
.none, .cool{
display:none;
}

/* un peu inclassable */
.spacer{
	clear:both;
	width:100%;
	height:0px;
	visibility:hidden;
}
body .spip-admin-float { 
position: absolute;
right: 20px;
top: 20px;
margin: 0 auto;
 }

/* englobe tout. Permet d'ajouter des choses ou des fonds à droite, à gauche, au dessus et en dessous du surcontent. */
#container{
	width:780px;
	margin: 10px auto;	
	}
/* englobe le content et le pied de page mais pas le header. Permet de placer des choses sous le header. */
#surcontent{
	width:747px;
	margin: 0 auto;
	}	
/* englobe les boites et les deux colonnes. */
#content{
	clear:left;
	width:747px;
	}


h1{
	font-size: 1.2em;
	}
.grande_boite h1{
padding: 3px 3px 3px 35px;
}


h2{
font-size:1.1em;
padding: 6px 3px 0 3px;
margin: 0px;
}


h4{
font-size:1.15em;
}

/* En tete */

#header{
behavior: url("squelettes/css/win_png.htc");
	width:747px;
	margin: 0 auto;
	height:130px;
}


#nom_site_spip{
	margin: 30px 0 0 20px;	
	}

#header h3{
	font-size: 1.2em;
	margin: 0 0 5px 0;
		}
.logo_bas{
height:23px;
}

#menu{
	width:747px;
	background:no-repeat;
	padding:3px 0 0 0;
	}
	
	
ul#nav, ul#nav li{
	list-style-type:none;
	margin:0;
	padding:0;
}
ul#nav{
	padding-left:14px;
}
ul#nav li{
	float:left;
	width:90px;
	padding:1px 0;
	margin:0 3px 0 0;
	height:20px;
	text-align:center;
	}
ul#nav a{	
	float:left;
	width:90px;
	text-decoration:none;
	padding:2px 0;
}
ul#nav li.oui{
padding:3px 0 1px 0;
margin:3px 3px 0 0;

}
.raye{
	text-decoration:line-through;
}

.petite_liste{
padding: 0 10px;
list-style-type:none;
}

.grande_liste{
padding: 7px 5px;
list-style-type:none;
}

.liste_plane li{
list-style-type:none;
display:inline;
margin:2px 10px;
}

	
#footer{
	font-size: 0.8em;	
	clear:left;
	padding:5px 0;
	margin:5px 10px;
	text-align:center;
	height:auto;
	width:726px;
}



.footp{
	padding:6px 20px 14px 60px;
	
	}




.button{
font-size: 0.8em;	
	margin: 1px 5px;
	padding: 0px 4px 0 14px;
	-moz-border-radius:3px;
}
	
.button a, .button a:hover{
text-decoration: none;
}


.rss{
	background-image: url(../../squelettes/images/icones/rss.gif);
	background-repeat: no-repeat;

}

.ical,.hcal{
	background-image: url(../../squelettes/images/icones/ical.gif);
	background-repeat: no-repeat;

}

.microgeo{
	background-image: url(../../squelettes/images/icones/geo.gif);
	background-repeat: no-repeat;

}

.vcard{
	background-image: url(../../squelettes/images/icones/vcard.gif);
	background-repeat: no-repeat;

}






/* les miniatures */

#minipics{
	float:left;
	display:inline;
	clear:both;
	margin:0 0 0 3px !important;
	margin:0;
	padding:0;    
	}
#minipics ul{
        list-style-type: none;
        display:inline;
        padding:0;    
		margin:0;
        clear:both;
}
#minipics li{	
	display:block;
	width:100px;
	padding:8px 4px;
	margin:6px 0 8px 12px !important;
	margin:6px 0 8px 9px;
	float:left;
	}
#minipics li p{
	margin:4px;
	padding:0;
	  clear:both;
	}
#minipics li img{
	display:block;
	margin:3px auto;
		}	
#minipics li.transparent a:hover img{
	filter:alpha(opacity=100)!important;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity:1.00;opacity:1; 
}
#minipics li.transparent a img{
	filter:alpha(opacity=70)!important;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity: .7; opacity:.7; background:#fff;
}




/* les div minipics */


.logorond{	
	padding:4px 7px;
	margin:8px;
	background:#fff;
	width:inherit!important;
	width:95px;
	text-align:center;
}	
.textepics{
		width:340px;	
}
.transpa{
	filter:alpha(opacity=15)!important;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=15);
	-moz-opacity: .15; opacity:.15; background:#fff;
position:relative;
}
.plusbas{
	position:absolute;	
	text-align:center;
	line-height:1.8em;
	width:48px;
}




/* les deux x2  cellules */

#cel,#celbas{
	float:left;
	display:inline;
	}
#cel ul,#celbas ul{
	list-style-type: none;
	margin:0;
	padding:0;
	clear:both;
}

.anim{
float:left;
display:inline;
margin:0;
padding:0;
}

.petite_boite{
	width:235px;
	float:left;
	display:inline;
	margin:  6px 0 6px 10px;
	padding:0;
	}

#cel li h4,#celbas li h4{
	word-spacing: 0.1em;
	display:block;
	-height:1%;
	width: 205px;
	}



/* la grande photo */
.photo{
	position:relative;
	text-align:left;
	width:450px;
	margin:0 auto 0 auto;	
	padding:4px 0;
}
.photo img{
	width:450px;
	border:1px solid #60566a;
	
}
#exif img{
	cursor:help;
	display: block; 
	}
#exif a span{
	position:absolute;
	left:-900px;
	visibility:hidden;
}
#exif a:hover span{
	visibility:visible;
	position:absolute;
	top:20%;
	left:22%;
	width:50%;
	background:#FFF;
	color:#000;
	padding:5px 15px 5px 15px;
	border:3px solid #c4c4de;
	cursor:text;
	text-decoration: none;
	background:#FFF;
	filter:alpha(opacity=70)!important;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity:.7; opacity:.7; -moz-border-radius:12px;
}


/* les icônes */
.icone_fleche{
	right: 25px;
	margin:5px 5px 0 0;

}
.icone_site,.icone_fleche,.icone_post,.icone_membre,.icone_filter,.icone_article,.icone_photo,.icone_forum,.icone_stats,.icone_menu,.icone_agenda,.icone_zip,.icone_juk,.icone_recherche{
	position:relative;
	height:22px;	
	padding: 4px;
}


/* thickbox nyroceros nyroceros 2 */


#TB_window {
		-moz-border-radius:10px;	
}

#TB_secondLine {
   -moz-border-radius:0 0 10px 10px;	
}


/* le plugin gis  */


#map,#formMap{
margin:7px;
}

/* les forums */

.discussion{
	padding: 5px 0 0 0px;
	margin: 6px 10px;
	width:726px;
}
.avatar{
	float:left;
	width:120px;
}



.interforumgrand{
float:right;
margin:3px 7px 0 4px;
padding:5px;
width:560px;
z-index:2;
}
.interforumgrand p{
pading: 0;
}
.carte{
float:left;
padding:15px 0 5px 10px;
width:100px;
}
.avatar img{
width:70px;
height:70px;
}

.cadenas a{
padding:1px 1px 1px 19px;
margin:0;

}

.capitale{
text-transform: capitalize;
}

/* les membres */

ul.membres,ul.legende{
padding:0 5px 5px 5px;
margin:0px;
text-transform: capitalize;
}
ul.forum{
padding:0;
}
.forum li a{
padding: 0 20px 10px 33px;
margin: 10px 0; 
font-weight:bold;
letter-spacing: 0.1em;
}
.membres li,.legende li,.forum li{
list-style-type: none;
display:inline;

}
.membres li a,.legende li{
	padding: 0 5px 0 16px;
}


.repondre a,.dernier a,.premier a{
	padding: 6px 0 10px 24px;
	font-weight:bold;
	letter-spacing: 0.1em;
	font-size:120%;	
}


/* les class spip modifiees */

/* alignements des docs dans l article */

.spip_surligne{
font-weight:bold;
}

.spip_documents{
text-align: center;
}
.spip_documents_center{
	margin: 10px 0 2px 4px; 
	}

.spip_documents_left{
	margin: 10px 15px 2px 5px; 
	
}
.spip_documents_right{
	margin: 10px 5px 2px 15px; 
	
}

/* le quote (citation) via balise <quote> */

blockquote.spip{
	width: 92%;
	margin:3%;	
	padding:25px 5px 0 5px;
	}
	

/* les formulaires */

fieldset, form {
    position :relative;
    top :0;
    padding :0 8px;
	border: none;
	margin: 0;
	}



.text, .password  {

		width: 445px!important;
		width: 435px;
		margin:0 0 10px 0;
		}
#texte, #message, #description_site, #bio, #pgp{
			width: 445px!important;
			width: 435px;
			}
.saisie_titre,.saisie_texte,.saisie_url_site,.saisie_nom_site,.saisie_message {
	   list-style-type: none;	
}		
fieldset ul{
padding:0;
margin:0;
}
	
.reponse_formulaire, .spip_encadrer{
	padding:0 8px;
}


.formulaire_crayon{
background:#fff;
border: 1px solid #ccc;
padding: 4px;
width: auto;
}


.form_rech{	
	padding: 0 0 0 35px ;
}

.grand, .form450{
	margin : 0;
	float : right;
	width:440px;
}
.moyen {
	width:280px;
	margin : 0 7px ;
}
.petit {
}
/* L'agenda */

.date {
width : 120px;
float : left;
margin : 5px;
}

.txt {
width : 314px;
float : right;
margin : 5px;
}

/* les tableaux */

table.spip { 
margin:5px; 
text-align:center;
width: 97% !important;
width: 95%;
font: 0.8em;
}

table.spip tr {
	width:auto;
	-moz-border-radius:6px;	
	padding: 2px;
	}

/* menu */

.open {
       display: block;
	   list-style-type: none;
       padding: 0 3px 0 10px;
       margin: 0 0 0 10px;
}

.closed {
       display: none;
}

li img, li img a:hover  {
       vertical-align: middle;
}	   
   
.li {
       list-style-type: none;
       padding: 0px;
}


/* Minical */

#calendar table{
	width: 90%;
	font-size: 0.9em;
	text-align: center;
	margin: 0 auto 5px;
	border-collapse: collapse;
}

#calendar table caption{
	margin: 0 auto;
}

#calendar table td{
	width: 14%;
	line-height: 2em;
	border: 1px solid #EEE;

}

#calendar span{
	display: none;
}
.etroit{
padding:0 6px;
margin:0px;
}

/* Class du Bouton Changement de Saisons */

.printemps, .ete, .automne, .hiver{
	padding: 0pt 2px;
	}
.interne {
padding:3px 5px 5px 4px;
margin:8px 5px;
}

.carte_auteur {
padding:3px 5px 5px 4px;
margin:8px 5px;
float:right !important;
display:inline;
/* cela empechera IE de dépasser */
}




/* Formulaire spip - gestion des erreurs. */

#email_message_auteurnew, #sujet_message_auteurnew, #texte_message_auteurnew{
width: 445px!important;
width: 435px;
}

.formulaire_spip ul{
padding:0;
margin:0;
}
.formulaire_spip li{
list-style-type: none;
}
/* Champs obligatoires */
.formulaire_spip li.obligatoire {}
.formulaire_spip li.obligatoire label {}

/* Previsualisation du message */
.formulaire_spip fieldset.previsu { margin-bottom: 2em; padding: 1em; border: 2px dashed #F57900; }
.formulaire_spip fieldset.previsu legend { padding: 0 0.50em; font-weight: bold; color: #F57900; }
.formulaire_spip fieldset.previsu li { padding: 3px; border: none; }
.previsu button {background: #F57900;}

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; font-size: 1.20em; list-style-type: none;}
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; list-style-type: none;}
fieldset.reponse_formulaire.reponse_formulaire legend { color: #F57900; } /* Preciser la couleur des legend et du fond pour IE/Win */

/* * Erreurs */
.formulaire_spip li.erreur .erreur_message { display: block; color: #C30; font-weight: bold; }
.formulaire_spip li.erreur input.text, .formulaire_spip li.erreur textarea { background-color: #FCC; border-style: solid; border-color: #C30; }
.reponse_formulaire_erreur { margin: 0; color: #C30; font-weight: bold; }

/* * OK */
.reponse_formulaire_ok { margin: 0; color: #53AD20; font-weight: bold; }


.loading {
background: #fff url(../../squelettes/images/patience.gif) no-repeat center 30%; 
filter:alpha(opacity=70)!important;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity:7.00;
	opacity:0.7; 
}
