 /* Styles specifiques pour la noisette Rainette */ 
 #noisette_rainette.noisette .contenu .texte .maj {text-align: center;} 
 #noisette_rainette.noisette .contenu .texte .resume {text-align: center; font-size: 1.2em; font-weight: bold;margin: 10px 0} 
 #noisette_rainette.noisette .contenu .texte .resume ul{font-weight: normal; margin-top: 5px;font-size: 0.9em;} 
 #noisette_rainette.noisette .contenu .texte .resume li{} 
 #noisette_rainette.noisette .contenu .texte .temperature {font-size: 2em; font-weight: bold; margin: 0 5px} 
 #noisette_rainette.noisette .contenu .texte .previsions {font-size: 1.3em;} 
 #noisette_rainette.noisette .contenu .texte .temperature img {float:left} 
 #noisette_rainette.noisette .contenu .texte .temperature p {padding: 30px 0 0 90px;} 
 #noisette_rainette.noisette .contenu .texte .liens {text-align: center;} 
 .pave-prevision {overflow: hidden; float: left; width: 240px;} 
 .conteneur_selection {overflow: hidden; float: left; width: 240px;}

noisette .contenu {margin-bottom: 5px; padding: 0;} 
 .noisette .contenu.mixte {padding: 5px 0 0;} 
 .noisette .contenu h2 a.titre_bloc {display: block; margin: 0px; padding: 1px; font-size: 1.25em; line-height: 1.5em; font-weight: bold; text-align: center;}
 .noisette .contenu .liste ul {margin: 0px; padding: 0px; list-style-type: none;} 
 .noisette .contenu h2.titre, .noisette .contenu h2 a.titre, .noisette .contenu .liste li .titre {display: block; padding: 0px 0px 5px 10px; margin: 0px 5px;font-weight: bold; text-decoration: none;}
 .noisette .contenu .date_bloc {margin-left: 30%; padding: 1px; font-size: 0.9em; text-align: center;}
 .noisette .contenu div.introduction, .noisette .contenu a.introduction {display: block; margin: 0px 5px; padding:0px 0px 5px 10px;} 
 .noisette .contenu a.introduction:hover{color:#808080;} 
 .noisette .contenu div.introduction * {margin: 0px;} 
 .noisette .contenu .liste {margin: 0px; padding: 5px 0px;} 
 .noisette .contenu .texte {margin: 0px; padding: 5px; line-height: 1.1em;} 
 .noisette .contenu .texte p {margin:0.7em 0em; padding:0px;} 
 .noisette .contenu .notes p {margin: 0px;} 
 .noisette .contenu h3 {padding: 3px 0px; line-height: 1.1em;} 
 .noisette .contenu  a {} 
 .noisette .contenu a:hover {} 
 .noisette .contenu strong {} 
 .noisette .contenu blockquote, .noisette .contenu code {margin : 2px;}
 
 
 
 