/* corp du texte principal et fond arrière*/
body{
background:#f6fbdb;
color:#555;
}

/* les liens */
a:visited, a{
color: #ab6b55;
}

/* les liens survollé par le mulot */
a:hover {
	color: #000;
}

/* le fond derrière les cadres (peut ajouter une ombre aux cadres)*/
#container{
	background:#f6fbdb;
}

/* le fond derrière les textes (encore)*/
#surcontent{
	background:#9DBA00;
}

/* L'en-tête et son fond plus une image saisonnière derrière le logo en option */
#header{
	background:#C5E41C;
	background-image:url(../images/fonds/printemps_haut.jpg);
}

/* La couleur des H3 et H5, respectivement Titre et descriptif */
#header h3{
	color: #555;
}
#header h5 a{
	color: #FFF;
}

/* le fond derrière le menu horizontal */
#menu{
	background:#9DBA00;
	background-image:url(../images/fonds/printemps_bas.jpg);
}

/* le fond derrière les bulles */
ul#nav li{
	background:#fff;
}

/* Heu... c'est quoi ce css déjà? */
ul#nav a{	
	color:#666;
}
/* met le texte en vert, en gris, en blanc, en pale */	
.vert{
	color:#009900;
	}
.gris{
	color: #999999;
	}
.blanc,.blanc a{
	color:#fff;
	}
.pale,.pale a{
	color:#888;
}
	
/* Heu... c'est quoi ce css déjà? */	
ul#nav li.active a,ul#nav a:hover{
	color:#000;
	}
	
/* Fond grande Boite Centrale */
#content{
	background:#edf7b7;
	}
	
/* Fond du pied de page + couleur du texte syndication*/
#footer{
	background:#C5E41C;
	color:#fff;
	}
	
/* Les couleurs du bouton rss */
.rss-button {
	border-color: #ededf5 #dcdcec #7f7fb9 #9797c7;
	background: #9DBA00;
	color:#fff;
	}

/* Les couleurs de fond des boites  */
.grande_boite{
	background:#fff;	
}

.boite{
	background:#fff;
	}

/* le fond derrière les miniatures  */

#minipics li{
	background:#FFF;
	}

/* les deux x2 cellules/boites en haut et en bas avec le titre coloré*/

#cel li h4,#celbas li h4{
	color:#fff;
	background:#9DBA00;
	}
/* Des liens d'une autre couleur dans les deux x2 même cellules/boites*/
#cel li h4 a,#celbas li h4 a{
	color:#fff;
	}
/* Des textes dans les deux x2 même cellules/boites*/
#cel li p, #celbas li p{
	background:#fff;
}
	
/* les icônes. Voyez dans le source des pages pour savoir qui correspond à quoi */
.icone_fleche{
	background:url(../images/icones/printemps/printemps_bulle.gif);
}
.icone_filter{
	background:url(../images/icones/printemps/printemps_filter.gif);
}
.icone_photo{
	background:url(../images/icones/printemps/printemps_camera_unmount.gif);
}
.icone_forum{
	background:url(../images/icones/printemps/printemps_idea.gif);
}
.icone_menu{
	background:url(../images/icones/printemps/printemps_contents2.gif);
}
.icone_agenda{
	background:url(../images/icones/printemps/printemps_xfcalendar.gif);
}
.icone_stats{
	background:url(../images/icones/printemps/printemps_dialog-information.gif);
}
.icone_article{
	background:url(../images/icones/printemps/printemps_document.gif);
}
.icone_zip{
	background:url(../images/icones/printemps/printemps_zip.gif);
}
.icone_juk{
	background:url(../images/icones/printemps/printemps_audio-x-generic.gif);
}
.icone_post{
	background:url(../images/icones/printemps/printemps_redhat-email.gif);
}
.icone_membre{
	background:url(../images/icones/printemps/printemps_emblem-people.gif);
}
.icone_recherche{
	background:url(../images/icones/printemps/printemps_edit-find.gif);
}
.icone_site{
	background:url(../images/icones/printemps/printemps_internet-web-browser.gif);
}
.premier{
	background:url(../images/icones/printemps/printemps_go-top.gif);
}
.dernier{
	background:url(../images/icones/printemps/printemps_go-bottom.gif);
}

.icone_gis{
	background:url(../images/icones/printemps/printemps_punaise.gif);
}
.icone_arbre{
	background:url(../images/icones/printemps/printemps_logoeco.gif);
}

.repondre a{
	background:url(../images/icones/printemps/printemps_undo.gif);
}
.cadenas {
background: url(../images/icones/printemps/printemps_emblem-lock.gif);

}
.icone_arbre,.cadenas,.repondre a,.icone_gis,.icone_site,.icone_fleche,.icone_post,.icone_membre,.icone_filter,.icone_article,.icone_photo,.icone_forum,.icone_stats,.icone_menu,.icone_agenda,.icone_zip,.icone_juk,.icone_recherche{
	background-repeat:no-repeat;
}
/* les fonds des forums */

.discussion{
	background:#fff;
}
.avatar{
	background:#fff;
}
.interne{
	background:#edf7b7;
}
.interforum,.interforumgrand{
	background:#edf7b7;
}
/* les membres et leurs icônes */

.membres li a,.legende li,.forum li a{
	background-repeat: no-repeat;
}
.forum li a{
	background-image:url(../icones/48x48/forum.gif);
}
.auteur a,.leg_aut{
	background-image:url(../images/icones/bleu.gif);
color:#5890d8;
}
.visiteur a,.leg_vis{
	background-image:url(../images/icones/vert.gif);
color:#009900;
}
.modo a,.leg_mod{
	background-image:url(../images/icones/orange.gif);
color:#FF9900;
}
.attente a,.leg_att{
	background-image:url(../images/icones/noir.gif);
color:#000;
}

/* les class spip modifiees */

/* alignements des docs dans l article */

.spip_surligne{
color:#ff9900;
}

/* le quote (citation) via balise <quote> */

blockquote.spip{
	background: #fff;
	background-image: url(../images/icones/printemps/printemps_quote.gif);
}

/* les formulaires */

fieldset .focus {	
	background: #ecedf4;
	color: #000;
}

/* les tableaux */

table.spip tr.row_first {
	background-color: #9DBA00;
	}
table.spip tr.row_odd {
	background-color: #e1f286;
}
table.spip tr.row_even {
	background-color: #edf7b7;
}


/* Thickbox 2 */

#TB_overlay {
	position: absolute;
	z-index:100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	min-height:100%;
	background-color:#9DBA00;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

#TB_window {
	position: absolute;
	background: #fff;
	z-index: 102;
	color:#000;
	display:none;
	text-align:left;
	vertical-align: middle;
	-moz-border-radius:10px 10px 0 0;	
}

#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  padding:0px 205px 10px 10px;
  color:#666;
   -moz-border-radius:0 0 10px 10px;	
}

#TB_HideSelect{
z-index:99;
position:absolute;
top: 0;
left: 0;
background-color:#fff;
border:none;
filter:alpha(opacity=0);
-moz-opacity: 0;
opacity: 0;
}


/* Minical */

#calendar table th{
	color: #9DBA00;
	background: transparent;
		
}

#calendar table td a{
	display: block;
	background: #edf7b7;
	color: #9DBA00;
	font-weight: bold;
	text-decoration: none;
}

#calendar table td.horsperiode{
color:#fff;
}

#calendar table td.today{
	border: 1px solid #9DBA00;
}

#calendar table td a:hover{
	background: #ebda1d;
	color: #E38A1D;
}




/* Class du Bouton Changement de Saisons */

.printemps{
	background: #9DBA00;
	}
	
.ete{
	background: #5DA7C5;
	}
	
.automne{
	background: #CDA261;
	}
	
.hiver{
	background: #666666;
	}