/* corp du texte principal et fond arrière*/
body{
background:#f6fbdb;
color:#555;
}

/* les liens */
a:visited, a{
color: #ab6b55;
}

/* les liens survollé par le mulot */
a:hover {
	color: #000;
}

/* le fond derrière les cadres (peut ajouter une ombre aux cadres)*/
#container{
	background:#f6fbdb;
}

/* le fond derrière les textes (encore)*/
#surcontent{
	background:#9DBA00;
}

/* L'en-tête et son fond plus une image saisonnière derrière le logo en option */
#header{
	background:#C5E41C;
/*  background-image:url(../../squelettes/images/fond/printemps/printemps.jpg);  */
}

/* La couleur des H3 et H5, respectivement Titre et descriptif */
#header h3{
	color: #555;
}
#header h5 a{
	color: #FFF;
}

/* le fond derrière le menu horizontal */
#menu{
	background:#9DBA00;
/*  background-image:url(../../squelettes/images/fond/printemps/printemps_bas.jpg);  */
}

/* le fond derrière les bulles */
ul#nav li{
	background:#fff;
}

ul#nav li.oui{
background:#edf7b7;
}

/* Heu... c'est quoi ce css déjà? */
ul#nav a{	
	color:#666;
}


	
/* Heu... c'est quoi ce css déjà? */	
ul#nav li.active a,ul#nav a:hover{
	color:#000;
	}
	
/* Fond grande Boite Centrale */
#content{
	background:#edf7b7;
	}
	
/* Fond du pied de page + couleur du texte syndication*/
#footer{
	background:#C5E41C;
	color:#fff;
	}
	
/* Les couleurs des bouton RSS, ical, vcard, geo, ok... */
.button {
	border-color: #ededf5 #dcdcec #7f7fb9 #9797c7;
	background-color: #9DBA00;
	}
.button a {color:#fff;
	}

/* Les couleurs de fond des boites  */
.grande_boite{
	background:#fff;	
}

.boite{
	background:#fff;
	}

/* le fond derrière les miniatures  */

#minipics li{
	background:#FFF;
	}

/* les deux x2 cellules/boites en haut et en bas avec le titre coloré*/

#cel li h4, #celbas li h4, #cel li h4 a, #celbas li h4 a{
	color:#fff;
	background:#9DBA00;
	}

/* Des textes dans les deux x2 même cellules boites*/
#cel li p, #celbas li p{
	background:#fff;
}
	
/* les icônes. Voyez dans le source des pages pour savoir qui correspond à quoi */
.icone_fleche{
	background:url(../../squelettes/images/icones/printemps/printemps_bulle.gif);
}
.icone_filter{
	background:url(../../squelettes/images/icones/printemps/printemps_filter.gif);
}
.icone_photo{
	background:url(../../squelettes/images/icones/printemps/printemps_camera_unmount.gif);
}
.icone_forum{
	background:url(../../squelettes/images/icones/printemps/printemps_idea.gif);
}
.icone_menu{
	background:url(../../squelettes/images/icones/printemps/printemps_contents2.gif);
}
.icone_agenda{
	background:url(../../squelettes/images/icones/printemps/printemps_xfcalendar.gif);
}
.icone_stats{
	background:url(../../squelettes/images/icones/printemps/printemps_dialog-information.gif);
}
.icone_article{
	background:url(../../squelettes/images/icones/printemps/printemps_document.gif);
}
.icone_zip{
	background:url(../../squelettes/images/icones/printemps/printemps_zip.gif);
}
.icone_juk{
	background:url(../../squelettes/images/icones/printemps/printemps_audio-x-generic.gif);
}
.icone_post{
	background:url(../../squelettes/images/icones/printemps/printemps_redhat-email.gif);
}
.icone_membre{
	background:url(../../squelettes/images/icones/printemps/printemps_emblem-people.gif);
}
.icone_recherche{
	background:url(../../squelettes/images/icones/printemps/printemps_edit-find.gif);
}
.icone_site{
	background:url(../../squelettes/images/icones/printemps/printemps_internet-web-browser.gif);
}
.premier{
	background:url(../../squelettes/images/icones/printemps/printemps_go-top.gif);
}
.dernier{
	background:url(../../squelettes/images/icones/printemps/printemps_go-bottom.gif);
}

.icone_gis{
	background:url(../../squelettes/images/icones/printemps/printemps_punaise.gif);
}
.icone_arbre{
	background:url(../../squelettes/images/icones/printemps/printemps_logoeco.gif);
}

.repondre a{
	background:url(../../squelettes/images/icones/printemps/printemps_undo.gif);
}
.cadenas {
background: url(../../squelettes/images/icones/printemps/printemps_emblem-lock.gif);

}
.icone_arbre,.cadenas,.repondre a,.icone_gis,.icone_site,.icone_fleche,.icone_post,.icone_membre,.icone_filter,.icone_article,.icone_photo,.icone_forum,.icone_stats,.icone_menu,.icone_agenda,.icone_zip,.icone_juk,.icone_recherche{
	background-repeat:no-repeat;
}
/* les fonds des forums */

.discussion{
	background:#fff;
}
.avatar{
	background:#fff;
}
.interne{
	background:#edf7b7;
}
.interforum,.interforumgrand{
	background:#edf7b7;
}
/* les membres et leurs icônes */

.membres li a,.legende li,.forum li a{
	background-repeat: no-repeat;
}
.forum li a{
	background-image:url(../../squelettes/icones/48x48/forum.gif);
}
.auteur a,.leg_aut{
	background-image:url(../../squelettes/images/icones/bleu.gif);
color:#5890d8;
}
.visiteur a,.leg_vis{
	background-image:url(../../squelettes/images/icones/vert.gif);
color:#009900;
}
.modo a,.leg_mod{
	background-image:url(../../squelettes/images/icones/orange.gif);
color:#FF9900;
}
.attente a,.leg_att{
	background-image:url(../../squelettes/images/icones/noir.gif);
color:#000;
}

/* les class spip modifiees */

/* alignements des docs dans l article */

.spip_surligne{
color:#ff9900;
}

/* le quote (citation) via balise <quote> */

blockquote.spip{
	background: #fff;
	background-image: url(../../squelettes/images/icones/printemps/printemps_quote.gif);
		background-repeat:no-repeat;
	background-position:10px -6px;
	border: 2px dashed #edf7b7;
}

/* les formulaires */

fieldset .focus {	
	background: #ecedf4;
	color: #000;
}

/* les tableaux */

table.spip tr.row_first {
	background-color: #9DBA00;
	color: #fff
	}
table.spip tr.row_odd {
	background-color: #e1f286;
}
table.spip tr.row_even {
	background-color: #edf7b7;
}





/* Minical */

#calendar table th{
	color: #9DBA00;
	background: transparent;
		
}

#calendar table td a{
	display: block;
	background: #edf7b7;
	color: #9DBA00;
	font-weight: bold;
	text-decoration: none;
}

#calendar table td.horsperiode{
color:#fff;
}

#calendar table td.today{
	border: 1px solid #9DBA00;
}

#calendar table td a:hover{
	background: #ebda1d;
	color: #E38A1D;
}




/* Class du Bouton Changement de Saisons */

.printemps{
	background: #9DBA00;
	}
	
.ete{
	background: #5DA7C5;
	}
	
.automne{
	background: #CDA261;
	}
	
.hiver{
	background: #666666;
	}
	
	
/* met le texte en vert, en gris, en blanc, en pale */	
.vert, .vert a, .vert a:hover, .vert a:visited {
	color:#090;
	}
.gris, .gris a, .gris a:hover .gris a:visited {
	color: #999;
	}
.blanc, .blanc a, .blanc a:hover .blanc a:visited{
	color:#fff;
	}
.pale, .pale a, .pale a:hover .pale a:visited{
	color:#888;
}
.rouge, .rouge a, .rouge a:hover, .rouge a:visited{
	color:red;
}