.rtop,.rbottom,div#menu,div#header,div#footer{display: none}

a:link, a:visited {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  }

a:link:after, a:visited:after {
  color: #777;
  content: " [" attr(href) "] ";
  font-size: 70%;
  }
