#header,.chemin,.none,#menu,.coldroit,#footer,.spip-admin-float,.spip-admin-boutons{
display: none
}

h1, h2, h3, h4 {
page-break-after:avoid;
}
p {
orphans: 3;
}
a {
text-decoration: none;
color: #000;
}
a.spip_out:after {
content: "";
}
a.spip_in:after {
content: "";
}
html,body{
	margin: 0;
}

body{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	color: #000;
	font-size: 12px;
	line-height: 11px;}
