/* alignement à revoir entre footer left et right */
#footer .left {
    min-height: 7em;
    padding: 2em;
    text-align: left;
}

li.articles {display:inline; list-style-type:none;}
li.articles:before {content:" | ";}
li.articles:first-child:before {content:"";}
#header:before {content: normal;}
.lien{text-decoration:underline;cursor: pointer; }