div#slideshow-wrap{
	margin:0;
}
#slideshow-wrap {
    margin: 0 0 10px;
}
#slideshow {
    background: url("../img/bg-slideshow.png") no-repeat scroll center top transparent;
    height: 353px;
    margin: 0 auto;
    padding: 5px;
    width: 940px;
}
#slideshow h2 {
    display: none;
}
#slideshow-box {
    height: 353px;
    position: relative;
}
#slideshow-box .list {
    height: 312px;
    overflow: hidden;
    width: 100%;
}
#slideshow-box .item {
    height: 312px;
    width: 940px;
}
#slideshow img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
#slideshow-controller {
    bottom: 10px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 940px;
    z-index: 99999;
}
#slideshow-controller span {
    display: block;
}
#slideshow-controller button {
    background: url("../img/button-slideshow-pages.png") no-repeat scroll right top transparent;
    border: 0 none;
    height: 9px;
    margin: 0 1px;
    padding: 0;
    width: 9px;
}
#slideshow-controller button span {
    display: none;
}
#slideshow-controller button.jqc-active {
    background-position: left top;
}
.jcarousel-container {
    position: relative;
}
.jcarousel-clip {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 2;
}
.jcarousel-list {
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    z-index: 1;
}
.jcarousel-list li, .jcarousel-item {
    float: left;
    list-style: none outside none;
    margin: 0 15px 0 0;
}
.jcarousel-next {
    display: none;
    z-index: 3;
}
.jcarousel-prev {
    display: none;
    z-index: 3;
}
.jcarousel-container-horizontal {
    height: 161px;
    padding: 41px 0 0;
    width: 950px;
}
.jcarousel-clip-horizontal {
    height: 161px;
    margin: 0 0 0 42px;
    width: 866px;
}
.jcarousel-item a, .jcarousel-item a:visited {
    display: block;
    float: left;
    height: 161px;
    width: 161px;
}
.jcarousel-next-horizontal {
    background: url("../img/button-carousel-next.png") no-repeat scroll left top transparent !important;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 107px;
    width: 25px;
}
.jcarousel-next-disabled-horizontal, .jcarousel-next-disabled-horizontal:hover, .jcarousel-next-disabled-horizontal:active {
    cursor: default;
}
.jcarousel-prev-horizontal {
    background: url("../img/button-carousel-prev.png") no-repeat scroll 0 0 transparent !important;
    cursor: pointer;
    height: 25px;
    left: 10px;
    position: absolute;
    top: 107px;
    width: 25px;
}
.jcarousel-prev-disabled-horizontal, .jcarousel-prev-disabled-horizontal:hover, .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}
.widget_special {
    color: #979797;
    line-height: 16px;
    margin: 0 0 10px;
}
.widget_special p {
    background: url("../img/bg-widget-special.png") repeat-x scroll left bottom transparent;
    height: 78px;
}
.widget_special .read-more {
    background: none repeat scroll 0 50% transparent;
    display: block;
    height: 19px;
    margin-bottom: 0;
    padding: 0;
}
.widget_special .read-more a {
    background: none repeat scroll 0 0 #9F9F9F;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    float: left;
    font: 11px/19px 'Lora',serif;
    height: 19px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    width: 68px;
}
.widget_special .read-more a:hover {
    text-decoration: underline;
}
#footbar a {
    color: #736E6E;
    text-decoration: none;
}
#footbar a:hover {
    text-decoration: underline;
}
#footbar .bar {
    float: left;
    margin: 0 30px 0 0;
}
#footbar .bar-1 {
    width: 315px;
}
#footbar .bar-2 {
    width: 315px;
}
#footbar .bar-3 {
    margin: 0;
    width: 260px;
}
#footbar .title {
    color: #000000;
    display: block;
    font: bold 16px/20px 'Lora',serif;
    margin: 0 0 10px;
    padding: 0;
    text-transform: uppercase;
}
#footbar .widget {
    line-height: 16px;
}
#footbar .widget ul {
    display: block;
    margin: 0;
    padding: 0;
}
#footbar .widget li {
    display: block;
    margin: 0;
    padding: 0 0 20px;
}
#footbar .widget_tweets a {
    color: #397EC2;
    font-style: italic;
    text-decoration: none;
}
#footbar .widget_tweets a:hover {
    text-decoration: underline;
}
#footbar .widget_ads .title {
    border: 0 none;
    margin: 0;
}
