/* styles thickbox */

.tbpodcast {
	margin-left: auto;
	margin-right: auto;
}

.tbtexte {
	text-align: justify;
	padding: 5px;
	float: right;
	border: 1px solid #cccccc;
	height: 110px;
	font: x-small/normal 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	width: 280px;
	margin-top: 0;
	margin-right: 5px;
	margin-bottom: 0;
}

.tbimage {
	padding: 5px;
	border: 1px solid #cccccc;
	float: left;
	margin: 0 0 0 5px;
	width: 110px;
	height: 110px;
}

