/* styles thickbox */

.tbpodcast {
	margin-left: auto;
	margin-right: auto;
}

.tbtexte {
	text-align: justify;
	padding: 5px;
	border: 1px solid #cccccc;
	font: x-small/normal 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	margin: 0 5px;
}

.tbimage {
	padding: 5px;
	border: 1px solid #cccccc;
	float: left;
	margin: 10px;
	background: #e6e6e6;
}

