/* fr : Style de base*/
/* en : Basic style*/
/* fr : Voila le truc */

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #330000;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #660000;
}
a:hover {
	text-decoration: underline;
	color: #330033;
}
a:active {
	text-decoration: none;
	color: #660033;
}
html{
	background: repeat;
}

body{
	font-family : Trebuchet MS, Verdana, Arial, sans-serif;
	font-size : 10pt;
	margin-right: 50px;
	margin-left: 50px;
	color: #ffffff;
	background: black repeat url(grid.png);

}

h1 {
	color: purple;
	font: x-large Trebuchet MS, Verdana, Bitstream Vera Sans, Arial, Helvetica, sans-serif;
	text-align: center;
}

acronym{
	cursor : help;
}

pre{
	margin : 0%;
}

/* fr : Voila le truc */
/* en : Here is the trick*/

/* fr : Ce DIV agit egalement en tant que conteneur */
/* en : This DIV also acts as a container*/
.upperleft{
	width : 100%;
	margin-left : auto;
	margin-right : auto;

	background-color : #C0C0C0;
	background-image : url('upperleft.png');
	background-repeat : no-repeat;
	background-position : top left;
}

.upperright{
	background-image : url('upperright.png');
	background-repeat : no-repeat;
	background-position : top right;
}

.lowerleft{
	background-image : url('lowerleft.png');
	background-repeat : no-repeat;
	background-position : bottom left;
}

.lowerright{
	background-image : url('lowerright.png');
	background-repeat : no-repeat;
	background-position : bottom right;
	padding : 3% 3% 3% 3%;
}

/* style portail */
h1,h2,h3,h4 {
	margin-top: 0em;
	margin-bottom: 0em;
	font-family: Trebuchet MS, Verdana, Bitstream Vera Sans, Arial, Helvetica, sans-serif;
}

div#entete {
background-color: transparent;
text-align:center;
	color: #ffffff;
	font-family: Trebuchet MS, Verdana, Bitstream Vera Sans, Arial, Helvetica, sans-serif;
}

#contenu  {
     font-family : Verdana, Arial, Helvetica, sans-serif;
     font-style : normal;
     font-weight : normal;
     text-decoration : none;
     text-align : justify;
     padding : 2%;
     border-style : solid;
	border-color: transparent;
	border-top-color: transparent;
}
#contenu h1{
         text-align : center;
	font-size: 120%;
	font-weight: normal;
}

#contenu h2{
         text-align : center;
	font-size: 110%;
	font-weight: normal;
}

.menu {
	border: 1px none #a0a0a0;
	padding: 0px;
	margin: 0px;
	margin-bottom: 16px;
	border-top-style: none;
}
.menu ul {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 4px;
	list-style: none;
}
.menu ol {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 4px;
	list-style: none;
}

.menu-titre {
	margin: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 2px;
	height:45px ;
	text-align:center;
	font: medium Trebuchet MS, Verdana, Bitstream Vera Sans, Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}

.menu-titre a {
	margin: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-size: 90%;
	text-decoration: none;
	text-align:center;

}


div#pieddepage {

}

.encart {
	float: left;
	/*width: 14em;*/
	width: 30%;
	margin-left: 2%;
	/*margin-left: 2em;*/
	margin-top: 0em;
	margin-bottom: 1em;
	margin-right: 0px;
	height: 200px;
	border-bottom: dashed transparent;
	border-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
}


.encart li {
font-family:arial, sans-serif;
font-size:80%;
color:black;
background-color:transparent;
text-align:left;
margin-left:0px;
margin-right:0px;
list-style-type:none;
}
.encart a{
color:black;
background-color:transparent;
text-decoration: none;
}



.alaligne {
  clear:both;
}
