.calendrier-table-large {
	margin: 20px auto;
	width: 90%;
}
/* la barre de navigation */
div.navigation-calendrier {
	color: #FFF;
	background-color: #C1D6FA;
	font-family: verdana, arial, sans, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	margin-bottom: 10px;
}
.calendrier-moztop8 {
	-moz-border-radius: 8px 8px 0 0;
}
div.navigation-calendrier img {
	border: 0;
	vertical-align: middle;
	margin: 1px;
}
.calendrier-opacity {
	-moz-opacity: 0.3;
	filter: alpha(opacity=30);
}
.calendrier-png {
	width: 12px;
	height: 12px;
/* URL a revoir */
	behavior: url(win_png.htc);
}
/* le calendrier sur 3 mois */
.calendrier-cadreagenda {
	width: 100%;
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0;
	background-color: #FFF;
	margin-top: -10px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
}
a.calendrier-annee {
	background: #AAA;
	padding: 3px;
	margin: 1px;
	font-family: verdana, arial, sans, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFF;
	-moz-border-radius: 5px;
}
a.calendrier-annee:hover {
	color: #000;
	background-color: #FFF;
}
.calendrier-tripleagenda {
	vertical-align: top;
	width: 33%;
}
.calendrier-titre {
	padding: 5px;
	text-align: center;
	font-weight: bold;
}
.calendrier-arial10 {
	font-family: Arial, Sans, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.calendrier-arial11 {
	font-family: Arial, Sans, sans-serif;
	font-size: 11px;
}
.calendrier-agenda {
	margin-left: 1px;
	margin-top: 1px;
	padding: 1px;
	text-align: center;
	background-color: #FFF;
	-moz-border-radius: 5px;
}
/* le calendrier par mois*/
.calendrier-th {
	width: 14%;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Sans, sans-serif;
}
.calendrier-td {
	width: 14%;
	vertical-align: top;
	background-color: #E5EFF8;
}
.calendrier-helvetica16 {
	font-family: arial, helvetica, sans-serif;
	/*font-size: 16px;
*/
	font-size: 10px;
	color: #000;
}
.calendrier-evenement {
	padding: 2px;
	margin-top: 2px;
}
.calendrier-evenement a {
	color: black;
}
a span.survol {
	display: none;
}
a:hover .calendrier-verdana10 span.survol {
	display: block;
	position: absolute;
	top: auto;
	left: auto;
	width: 400px;
	padding: 5px;
	z-index: 100;
	text-decoration: none;
	color: #333;
	background: white;
	border: solid 1px #15a6f7;
	font: 10px Verdana, sans-serif;
	text-align: left;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-radius-topright: 8px;
	border-radius-bottomright: 8px;
	border-radius-topleft: 8px;
	border-radius-bottomleft: 8px;
	filter: alpha(opacity=80);
	opacity: 0.9;
	-moz-opacity: 0.9;
}
/* le calendrier par semaine et par jour */
.calendrier-verdana10 {
	font-family: Verdana, Arial, Sans, sans-serif;
	font-size: 10px;
}
.calendrier-td-centre {
	width: 550px;
	padding-left: 25px;
	padding-right: 25px;
	vertical-align: top;
}
.calendrier-jour {
	position: relative;
	color: #999;
	background-color: #FFF;
	border: 1px solid #AAA;
}
.calendrier-heurepile {
	position: absolute;
	margin-left: 2px;
	margin-right: 2px;
	border-top: 1px solid #CCC;
	font-weight: bold;
}