/* ========================================
      Le bloc central de la page sommaire
   ========================================*/


/***********/
/* onglets */
/***********/
.cadre-une {
	margin-top: -27px;
	/margin-top: -3px;
}
ul.onglets {
	padding: 0px;
	margin: 5px 0 4px 0px;
	text-align: left;
}
ul.onglets li {
	list-style: none;
	display: inline;
}
ul.onglets li a {
	background-color: #82ade2;
	color: #000;
	padding: 5px 14px 5px 14px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	-moz-border-radius: 8px 8px 0px 0px;
}
ul.onglets li a:hover {
	color: #2368A3;
}
ul.onglets li a.active {
	background-color: #336699;
	color: #fff;
	cursor: default;
	outline: none;
}
.contenu {
	padding: 10px;
}
/* autres onglets */
#contenu_2, #contenu_3, #contenu_4, #contenu_5 {
	display: none;
}
/********************************/
/* Articles de la page sommaire */
/********************************/
#laune .spip_logos {
	float: left;
	margin-right: 5px;
}
/* cadre */
#laune {
	color: white;
	background-color: #336699;
	padding: 10px;
	text-align: left;
	overflow: auto;
}
/* article a la une */
#laune .fragment {
	margin-top: 10px;
	padding: 0;
	color: #000000;
}
#laune .fragment a {
	color: #FFFFFF;
}
#laune .titre {
	font-size: 20px;
	margin: 0 0 0 60px;
	color: #FFFFFF;
}
#laune .rubrique {
	font-size: 12px;
	margin: 5px 5px 5px 60px;
	color: #FFFFFF;
}
#laune .texte {
	font-size: 12px;
	margin: 20px 20px 20px 5px;
	border: 0;
	color: #FFFFFF;
}
#laune .texte a {
	font-size: 14px;
	float: right;
}
/* autres articles recents */
#laune .titre-autres {
	font-size: 11px;
	font-weight: bold;
	margin-left: 5px;
}
#laune .rubrique-autres {
	font-size: 10px;
	margin-left: 10px;
}
#laune ul.anchors {
	list-style: none;
	margin: 0;
	padding: 0;
}
#laune ul.anchors li a {
	width: 245px;
	margin: 0px 10px 10px 0;
	display: block;
	color: #000;
	background: #C1D6F1;
	height: 45px;
}
#laune ul.anchors li a:hover {
	background: #224466;
	color: #FFF;
}
#laune ul.anchors .tabs-selected {
	display: none;
}
.anchors li {
	float: left;
	margin: 0;
}
@media projection, screen {
.tabs-hide {
	display: none;
}
}
@
/* styles importants  pour l'impression */
media print {
.anchors {
	display: none;
}
}
/***************************/
/* la page du plan du site */
/***************************/
#cadre-plan {
	background-color: #336699;
	padding: 5px;
	text-align: left;
}
#cadre-plan img {
	float: left;
}
.titre-secteur {
	padding: 15px 0 0 0;
	margin-left: 50px;
	font-size: 16px;
	font-weight: bold;
}
.titre-secteur a {
	color: #000;
}
.plan-rubrique {
	font-size: 14px;
	list-style-type: square;
	color: #FDA328;
	margin: 0 0 5px 0;
	font-weight: bold;
}
.plan-rubrique a {
	color: #000;
}
.plan-article {
	font-size: 12px;
	list-style-type: disc;
	color: #FDA328;
	font-weight: normal;
}
.plan-article a {
	color: #fff;
}
.plan-article a:hover {
	color: #FDA328;
}