img#boutonForum{
  float: right;
  margin: 0 10px;
}

#forum-site {
	margin: 0 auto;
	width: 730px;
}
#ariane-forum {
	margin: 10px 0;
	padding: 10px;
	color: #006699;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	border: 2px solid #006699;
	background: #D1D7DC;
}
#ariane-forum a {
	color: #006699;
}
table.forum {
	border: 2px solid #006699;
	text-align: left;
	width: 100%;
	background: white;
	padding: 1px;
	border-spacing: 1px;
}
table.forum a, table a:link, table a:visited {
	color: #657a8c;
}
table.forum a:hover {
	color: #ff8000;
	text-decoration: underline!important
}
table.forum tr {
}
table.forum th {
	text-align: center;
	padding: 10px;
	font-size: 14px;
	background-color: #006699;
	color: white;
}
table.forum tr.rub-forum {
	background-color: #d1d7dc;
}
table.forum tr.rub-forum td {
	padding: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	text-transform: uppercase;
}
table.forum tr.art-forum {
	background-color: #efefef;
}
table.forum tr.art-forum td.logo {
  margin: 0 0 0px 5px;
	text-align: center;
	font-size: 10px;
	width: 120px;
}
table.forum tr.art-forum td.logo1 {
  margin: 0 0 0px 5px;
	text-align: center;
	font-size: 10px;
	width: 120px;
	color: white;
}
table.forum tr.art-forum td.titre-rub {
  padding: 0 0 10px 10px;
	text-align: left;
	font-size: 14px;
}
table.forum tr.art-forum td.titre-rub p{
  padding: 0 0 0 10px;
  font-size: 12px;
  margin: 0;
}
table.forum tr.art-forum td {
	text-align: center;
	vertical-align=middle;
	color: #657a8c;
}
table.forum tr.art-forum td a {
	font-weight: bold;
}
#forum-site .descriptif {
	font-size: 12px;
	color: black;
	text-align:left;
	margin: 10px;
}
#forum-site .texte {
	font-size: 12px;
	color: black;
	text-align:left;
	margin: 10px;
	background-color: #E0E0E0;
	border: none;
}
#boutonG {
	float:left;
	margin-top: 10px;
}
#boutonD {
	float:right;
	margin-top: 10px;
}
table.forum tr.art-forum td.sujet{
  text-align:left;
  font-size: 12px;
  padding-left: 10px;
  vertical-align: top;
}
table.forum tr.art-forum td.sujet .titre {
	margin: 5px 0 15px 0;
	font-size: 18px;
	font-weight: bold;
	font-family: georgia;
}
table.forum tr.art-forum td.sujet1{
  text-align:left;
  font-size: 14px;
  padding: 5px 0 0 10px;
  color: white;
  vertical-align: top;
}
