/* ======================================================================
  ======================================================================
        Styles généraux sauf pour
          - le menu (voir menu.css)
          - le bloc central de la page d'accueil (voir alaune.css)
          - la page agenda (voir agenda.css)
  ======================================================================
   ======================================================================*/
html, body {
	margin: 0;
	padding: 0;
}
html {
	overflow-y: scroll;
}
body {
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}
div#contenu {
	padding: 0px 10px 0px 10px;
}
div#navigation, div#contenu, div#extra {
	margin-bottom: 10px;
}
#ombre-gauche {
	background: url(../images/ombre-gauche.gif) repeat-y scroll left center;
	margin: 0 auto;
	width: 984px;
}
#ombre-droite {
	background: url(../images/ombre-droite.gif) repeat-y scroll right center;
	width: 984px;
}
/* ======================================================================
                          LES COULEURS
   ======================================================================*/
body {
	background-color: #E2E2E2;
}
div#conteneur {
	background-color: #FFFFFF;
}
div#entete {
	background-color: #336699;
}
a:link, a:visited {
	color: #000099;
}
a:hover {
	color: #2368A3;
}
.spip_surligne {
	background-color: #ECA742;
}
.identification {
	background: #EFEFEF;
	border-color: #FFFFFF;
}
.identification a {
	color: #000000;
}
/*********************************************/
/*    Les cadres latéraux                    */
/*********************************************/
div.cadre-vert h1.cadre {
	background-color: #A7D37F;
}
div.cadre-vert .texte {
	background-color: #DCEECC;
	border-color: #A7D37F;
}
div.cadre-rouge h1.cadre {
	background-color: #EE9D90;
}
div.cadre-rouge .texte {
	background-color: #F8D8D3;
	border-color: #EE9D90;
}
div.cadre-bleu h1.cadre {
	background-color: #82ADE2;
}
div.cadre-bleu .texte {
	background-color: #DAE6F6;
	border-color: #82ADE2;
}
div.cadre-jaune h1.cadre {
	background-color: #F9E95D;
}
div.cadre-jaune .texte {
	background-color: #FDF6B9;
	border-color: #F9E95D;
}
div.cadre-gris h1.cadre {
	background-color: #c1c1c1;
}
div.cadre-gris .texte {
	background-color: #e9e9e9;
	border-color: #C1C1C1;
}
div.cadre-marron h1.cadre {
	background-color: #ECA742;
}
div.cadre-marron .texte {
	background-color: #F5CE94;
	border-color: #ECA742;
}
.formulaire_recherche input.text, #ps {
	background-color: #EFEFEF;
}
/*********************************************/
/*    Les pages rubrique et article          */
/*********************************************/
#cadre-rubrique {
	background-color: #336699;
	color: #FFFFFF;
}
#cadre-rubrique a, #cadre-titre-article a {
	color: #B0B0B0;
}
#cadre-rubrique a:hover, #cadre-titre-article a:hover {
	color: #FFFFFF;
}
.cadre-articles-rubrique, .cadre-sous-rubrique {
	border-color: #C4CCD4;
}
#cadre-titre-article {
	background-color: #336699;
	color: #FFFFFF;
}
#cadre-article {
	border-color: #C4CCD4;
	background-color: #FFFFFF;
}
.caractencadre-spip {
	color: #FF0000;
}
#chapeau {
	color: #777879;
}
#cadre-telechargement {
	border-color: #C4CCD4;
	background-color: #E6E6E6;
}
/*********************************************/
/*    Les tableaux                           */
/*********************************************/
table.spip, table.spip td {
	border-color: #000000;
}
table.spip tr.row_first {
	color: #000000;
	background-color: #82ADE2;
}
table.spip tr.row_even {
	background-color: #E5EFF8;
}
table.spip tr.row_odd {
	background-color: #CCCCFF;
}
/*********************************************/
/*    Les forums                             */
/*********************************************/
.forum-thread {
	border-color: #C4CCD4;
}
.titre-message, #formulaire_forum div, .formulaire_spip.formulaire_forum {
	background-color: #82ADE2;
}
.forum_reponse {
	border-color: #C4CCD4;
}
.forum_reponse .titre-message {
	background-color: #E5EFF8;
}
#formulaire_forum div#previsu, #formulaire_forum div#previsu .forum-message, #formulaire_forum div#previsu .forum-chapo {
	background-color: #BBCCDD;
}
#formulaire_forum input.barre {
	background-color: #E5EFF8;
	color: #4f4f4f;
}
/*********************************************/
/*    La page contact                        */
/*********************************************/
#formulaire-contact {
	background-color: #E5EFF8;
	border-color: #C4CCD4;
}
.alerte {
	color: #FF0000;
}
.texte-retour1 {
	color: #303030;
}
.texte-retour2 {
	color: #303030;
}
.valeur2 {
	color: #000000;
	border-color: #C4CCD4;
	background-color: #FFFFFF;
}
.valeur3 {
	color: #000000;
	border-color: #C4CCD4;
	background-color: #FFFFFF;
}
/*********************************************/
/*    Le mini-calendrier                     */
/*********************************************/
.small_mini {
	color: #999999;
	border-color: #82ADE2
}
.calendar_head_mini {
	background-color: #82ADE2;
	color: #FFFFFF;
}
.calendar_this_month {
	background-color: #E5EFF8;
}
.calendar_not_this_month {
	background: #DFDFDF;
	color: #FFFFFF;
}
.calendar_this_day {
	background-color: #B1C3D9;
	color: #000000;
}
.calendar_mini_event {
	background-color: #FFFFCC;
	border-color: #666666;
}
#entete-evenement, #nouvel-evenement {
	background-color: #82ADE2;
}
div.navigation-calendrier {
	color: #FFFFFF;
	background-color: #C1D6FA;
}
/* ======================================================================
                          LE RESTE
   ======================================================================*/
/* les liens */
a {
	text-decoration: none;
}
a.spip_out {
	padding-right: 14px;
	background: transparent url(../images/spip_out.gif) no-repeat scroll right center;
}
.mail{
	padding-right: 18px;
	background: transparent url(../images/mail.gif) no-repeat scroll right center;
}
/* les images */
img {
	margin: 0;
	padding: 0;
	border: none;
}
.spip_documents {
	text-align: center;
}
.spip_documents_center {
	width: 100%;
	margin: auto;
	display: block;
}
.spip_documents_left {
	float: left;
	margin: 2px 15px 2px auto;
}
.spip_documents_right {
	float: right;
	margin: 10px auto 10px 15px;
}
.spip_doc_titre {
	font-weight: bold;
	font-size: 1em;
	margin: auto;
}
.spip_doc_descriptif {
	clear: both;
	font-size: 0.8em;
	margin: auto;
}
/* les encadres */
.texteencadre-spip {
	width: 80%;
	margin: auto;
}
/* pour retrouver le flux normal d'affichage */
.nettoyeur {
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	height: 0;
	line-height: 1px;
	font-size: 1px;
	visibility: hidden;
}
#espace {
	clear: both;
	height: 50px;
}
.identification {
	float: left;
	margin: 5px;
	border-width: 2px;
	border-style: inset;
}
.identification a {
	font-size: 11px;
	padding: 3px;
}
#formulaire_recherche {
	float: right;
}
/**************/
/* le bandeau */
/**************/
div#entete {
	position: relative;
}
div#bandeau {
	text-align: left;
	font-size: 0.1px;
/*pour virer la marge autour des images*/
}
div#bandeau img {
	display: block;
/*pour supprimer l'espace sous les images avec IE */
	float: left;
/*pour récupérer l'alignement des images après display: block */
}
#titrepage {
	position: absolute;
	top: 25px;
	left: 350px;
}
/***********/
/* le pied */
/***********/
#pied {
	font-size: 10px;
	padding: 5px 0;
}
#pied img {
	margin: 0 10px 0 10px;
}
#credits {
	float: right;
	margin: -10px 5px 0 0;
}
/**************************************************************/
/* habillage des cadres de couleur communs a toutes les pages */
/**************************************************************/
h1.cadre {
	padding: 8px 0;
	font-weight: bold;
	font-size: 11px;
	margin: 0;
}
h1.cadre img {
	margin: -35px 0 0 -15px;
	float: left;
	z-index: 100;
}
h1.cadre img.a-droite {
	margin: -35px -15px 0 -15px;
	float: right;
}
div.texte {
	font-size: 11px;
	text-align: left;
	padding: 5px;
	border-width: 0 2px 2px 1px;
	border-style: solid;
	margin: 0 0 20px 0;
}
div.texte .spip_logos {
	float: left;
}
.sans-bord .texte {
	border: none;
}
.sans-fond .texte {
	background-color: transparent !important;
}
/*******************************************/
/* habillage spécifiques à certains cadres */
/*******************************************/
/* formulaire recherche */
.formulaire_recherche label {
	font-size: 12px;
}
.formulaire_recherche input.text {
	padding-left: 25px;
	background: url(../images/loupe.gif) no-repeat;
}
/* cadre de saisie du login */
.formulaire_login .spip_logos {
	float: right;
}
#formulaire_login ul li {
	list-style: none;
	margin-left: -40px;
	margin-top: 10px;
	/margin-top: 5px;
}
#var_login {
	width: 140px;
}
#password {
	width: 140px;
}
.choix {
	font-size: 10px
}
.formulaire_login .boutons {
	text-align: center;
}
div#liensilogue a {
	display: block;
	text-align: center;
	margin: 5px 0 5px 0;
	font-weight: bold;
}
/* cadre acces-direct */
.texte#acces-direct {
	font-size: 12px;
	font-weight: bold;
	padding-left: 20px;
}
/* cadre evenements */
.texte#evenements ul {
	padding-left: 10px;
	margin: 0;
}
.texte#evenements li {
	font-size: 11px;
	font-weight: bold;
	list-style: none;
	margin-bottom: 10px;
}
.texte#evenements li a {
	font-size: 12px;
	font-weight: bold;
	display: block;
	padding-left: 20px;
}
/* cadre top */
.texte#top5 ul {
	padding-left: 10px;
	margin: 0;
}
.texte#top5 li {
	list-style: none;
	margin-bottom: 5px;
}
.texte#top5 li a {
	font-size: 11px;
	font-weight: bold;
}
.popularite {
	margin-left: 80px;
}
/* cadre sur le web */
.titre-site {
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0 5px 5px;
}
.descriptif-site {
	font-size: 10px;
	margin: 0px 5px 5px 10px;
}
.texte#sites li {
	margin: 0 0 2px -20px;
	font-size: 10px;
	list-style: square;
}
/***************************************************/
/* les styles communs aux pages rubrique et article */
/****************************************************/
.cadre-chemin {
	text-align: left;
	font-size: 10px;
	margin: 0px 0px 10px 0px;
	padding: 0 5px;
}
.cadre-chemin img {
	margin: 0 2px 0 4px;
}
/* 2 styles specifiques pour les cadres "derniers articles" et "meme rubriques" */
.titre-article-cadre {
	margin: 0px 0px 5px 5px;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}
.date-auteur-cadre {
	margin: 0 5px 15px 20px;
}
/********************/
/* la page rubrique */
/********************/
#cadre-rubrique {
	padding: 5px;
}
.logorub {
	position: relative;
	float: left;
	margin: 0px 10px 0px 10px;
}
#titre-rubrique {
	text-align: left;
	font-size: 18px;
	font-family: Tahoma;
}
#descriptif-rubrique {
	font-size: 14px;
}
#texte-rubrique {
	font-size: 12px;
}
.texte-insert {
	font-size: 12px;
	margin: 10px 0 0 0;
	font-weight: bold;
	font-style: italic;
}
.cadre-articles-rubrique {
	border-width: 2px;
	border-style: solid;
	text-align: left;
	font-size: 12px;
	margin: 5px 0px 10px 10px;
	padding: 0 5px;
}
.titre-articles-rubrique {
	font-size: 12px;
	font-weight: bold;
	margin-top: 15px;
}
.introduction-articles-rubrique {
	font-size: 12px;
	margin: 20px 0px 10px 25px;
}
.introduction-articles-rubrique a {
	font-size: 12px;
	float: right;
}
.auteur-articles-rubrique {
	text-align: right;
	font-size: 10px;
	margin: 5px;
}
.cadre-sous-rubrique {
	border-width: 1px;
	border-style: solid;
	text-align: left;
	font-size: 12px;
	margin: 5px 0px 10px 20px;
	padding: 0 5px;
}
.titre-sous-rubrique {
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0 10px 5px;
}
.descriptif-sous-rubrique {
	font-size: 12px;
	margin: 0px 25px 5px 25px;
}
.nombre-articles-rubrique {
	text-align: right;
	font-size: 10px;
	margin: 0 5px 5px 5px;
}
.titre-site {
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0 5px 5px;
}
.descriptif-site {
	font-size: 10px;
	margin: 0px 5px 5px 10px;
}
/*******************/
/* la page article */
/*******************/
#cadre-titre-article {
	padding: 5px;
}
#cadre-article {
	border-width: 1px;
	border-style: solid;
	background-color: #ffffff;
}
#titre-article {
	text-align: left;
	font-size: 18px;
	font-family: Tahoma;
}
#descriptif-article {
	font-size: 14px;
	margin: 0px 5px 0 10px;
}
#auteur-article {
	text-align: right;
	font-size: 10px;
	margin: 5px;
}
#imprime-article {
	font-size: 10px;
	margin: 0 0 15px 10px;
	text-align: left;
}
#imprime-article img {
	vertical-align: middle;
}
#texte-article {
	text-align: left;
	font-size: 12px;
	margin: 0px 5px;
	text-indent: 10px;
}
#augmenter {
	height: 24px;
	width: 24px;
	border: 0;
	float: right;
	margin: 5px;
}
#diminuer {
	height: 24px;
	width: 24px;
	border: 0;
	float: right;
	margin: 5px;
}
#chapeau {
	color: #777879;
}
#notes {
	padding: 0 0 0 10px;
	font-size: 10px;
}
#ps {
	padding: 10px;
	font-size: 12px;
	text-align: left;
}
#site {
	padding: 10px 5px 10px 20px;
	font-size: 12px;
}
#cadre-telechargement {
	border-width: 1px;
	border-style: solid;
	text-align: left;
	font-size: 10px;
	margin: 10px;
}
#cadre-telechargement td {
	width: 280px;
}
.titre-doc {
	font-size: 12px;
	font-weight: bold;
}
.texte-doc {
	font-size: 10px;
	text-align: left;
	margin: 5px;
}
.texte-doc ul {
	list-style-type: none;
}
#cadre-telechargement ul {
	margin: 10px 5px 5px 0;
	padding: 0;
}
#cadre-telechargement ul li {
	font-size: 10px;
	margin: 0 0 0 10px;
}
#cadre-telechargement .spip_logos {
	float: left;
	margin-right: 5px;
}
#haut {
	font-size: 10px;
	text-align: right;
}
#haut a:after {
   content: "\0000a0\2934";
   font-weight: bold;
   font-size:14px;
}

/**********************************/
/* les tableaux dans les articles */
/**********************************/
table.spip {
	margin: 5px auto 20px auto;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	font-size: 12px;
}
table.spip td {
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
}
table.spip caption {
	font-weight: bold;
	font-size: 14px;
}
table.spip tr.row_first {
	text-align: center;
}
/***************************/
/* les forums des articles */
/***************************/
#forum-article {
	text-align: left;
	font-size: 12px;
	margin: 0px 5px;
}
#forum-article img#forum {
	float: left;
}
#repondre-article {
	font-size: 14px;
	margin: 0 0 20px 40px;
}
#repondre-article img {
	margin-right: 10px;
}
.forum-thread {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	margin: 20px 0 0 0;
	text-align: left;
}
.titre-message {
	padding: 5px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
}
.auteur-message {
	font-size: 12px;
	font-weight: normal;
	float: right;
}
.texte-message {
	margin: 5px 5px 5px 20px;
	text-align: left;
	font-size: 12px;
}
.reponse {
	text-align: right;
}
.reponse a {
	font-size: 12px;
	font-weight: normal;
}
.decal-reponse {
	margin-left: 10px;
}
.forum_reponse {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}
/******************************/
/* les pages forum et message */
/******************************/
#cadre-titre-article h1 {
	text-align: center;
	font-size: 16px;
}
#formulaire_forum {
	text-align: left;
	font-size: 12px;
}

#formulaire_forum div#previsu li {
	list-style-type: none;
}
#formulaire_forum div#previsu li a {
	display: block;
}
#formulaire_forum li {
	margin-bottom: 10px;
	list-style-type: circle;
}
#formulaire_forum ul li label {
	font-weight: bold;
}
#formulaire_forum input.barre {
	font-size: 11px;
	width: 350px;
	border: 0;
}
/*******************/
/* la page contact */
/*******************/
#formulaire-contact {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	margin: 20px;
	font-size: 12px;
}
ul#item  li {
	list-style: none;
	text-align: left;
	margin-bottom: 10px;
}
ul#item ul li {
	margin: 0;
}
ul#item li .liste {
	float: left;
	width: 100px;
}
ul#item ul li input {
	display: inline;
	margin: 5px 5px 0 100px;
}
ul#item textarea {
	margin: -20px 0 0 100px;
}
ul#item li input#envoi {
	margin: 0px 0 0 150px;
}
.alerte {
	font-weight: bold;
}
.texte-retour1 {
	text-align: left;
}
.valeur1 {
	font-weight: bold;
}
.texte-retour2 {
	text-align: left;
}
.valeur2 {
	font-size: 14px;
	width: 50%;
	margin: auto;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}
.valeur3 {
	width: 80%;
	margin: auto;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	text-align: left;
}
/********************/
/* la page trombino */
/********************/
.pagination-trombino {
	text-align: center;
	margin: 10px;
}
.trombino td {
	vertical-align: top;
}
.centrage {
	margin: 0 auto;
}
.ombre {
	float: left;
	background: url(../images/ombre.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px;
	padding: 0px;
}
.boite {
	position: relative;
	bottom: 8px;
	right: 8px;
}
.nom-photo {
	clear: both;
	font-size: 12px;
	font-weight: bold;
}
.adresse-photo {
	margin: 5px 0 5px 0;
	font-size: 10px;
	font-weight: bold;
}
.texte-photo {
	font-size: 10px;
	font-style: italic;
}
.texte-photo p.spip {
	margin: 0;
}
/********************/
/* la page annuaire */
/********************/
#signatures {
	text-align: left;
	text-indent: 0;
}
li.saisie_message textarea {
	width: 400px
}
#signatures li {
	background: #EEEEEC;
	border: 2px solid #BABDB6;
	clear: both;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	min-height: 90px;
	padding: 0.8em 0.8em 0.8em 30px;
	list-style: none;
}
#signatures li h3 {
	font-size: 12px;
}
#signatures li p.url {
	font-size: 10px;
}
#signatures li p.message {
	border: 1px solid #CFCFCF;
	padding: 5px;
}
#signatures li .spip_logos {
	display: block;
	float: right;
	margin-left: 1em;
}
#signatures li h3 {
	font-weight: bold;
}
.form-signature {
	border: 0;
	font-size: 11px;
	text-align: left;
	padding: 5px;
	margin: 0 0 20px 0;
}
/*****************************/
/* styles pour le calendrier */
/*****************************/
#mois {
	font-weight: bold;
	font-size: 10px;
	text-align: center;
}
.small_mini {
	font-size: 11px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.calendar_head_mini {
	text-align: center;
	font-size: 10px;
}
.calendar_this_day {
	font-weight: bold;
	border: 1px solid;
}
.calendar_mini_event {
	display: block;
	border-width: 1px;
	border-style: solid;
}
#entete-evenement {
	margin-top: 10px;
	padding: 2px 0;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	-moz-border-radius: 8px 8px 0 0;
/*bords arrondis que pour mozilla*/
}
.liste-evenements {
	font-size: 9px;
	margin: 2px 0 2px 0;
}
#nouvel-evenement {
	padding: 1px 0;
	margin: 10px auto 10px auto;
	width: 80%;
	/width: 100%;
/* pour IE qui ne comprend pas margin: auto !*/
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	-moz-border-radius: 8px;
/*bords arrondis que pour mozilla*/
}
/*************************/
/* adaptation de plugins */
/*************************/
/******************************/
/* galeries de photos "diapo" */
/******************************/
.diaporama {
	width: 520px;
	text-indent: 0px;
}
.diapo_vignettes_right {
	width: 200px;
}
.diapo_vignettes_left {
	width: 200px;
}
.diapo.diapo_petit {
	text-align: center;
	width: 300px;
}
/**********************/
/* lecteur multimédia */
/**********************/
.radiobox {
	margin: auto;
}