/* ==================
    Menu horizontal
  ==================*/

#menu {
	background-color: #336699;
	width: 100%;
	z-index: 100;
}
ul#menu li ul {
	display: none;
}
ul#menu li:hover>ul {
	display: block;
}
/* menu racine */
ul#menu {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
}
ul#menu li {
	float: left;
	display: block;
	padding: 2px 1px;
}
/* cadre autour d'une entrée de menu */
ul#menu li a {
	display: block;
	padding: 0px 10px;
	border: 1px solid #bbbbbb;
	color: #ffffff;
	text-decoration: none
}
ul#menu li a.on {
	color: #000000;
	background-color: #bbccdd;
}
/* état lors du survol d'une entrée de menu */
ul#menu li a:hover {
	border-color: #224466;
}
#menu li:hover > a {
	background: #224466;
}
/* Les sous menu */
ul#menu ul {
	position: absolute;
	background-color: #2368A3;
	font-size: 10px;
	font-weight: normal;
	list-style: none;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	width: 150px;
	z-index: 100;
	vertical-align: middle;
	line-height: 20px;
	border: 1px solid #bbbbbb;
}
ul#menu ul ul {
	padding: 0px;
}
ul#menu ul li {
	position: relative;
	float: none;
	padding: 0px;
	_display: inline;
}
ul#menu ul li a {
	display: block;
	padding: 3px 5px 3px 10px;
	width: 135px;
	border: none;
}
/* état d"un sous menu survolé */
ul#menu ul a:hover {
	color: white;
	background-color: #0b3f6a;
}
/* pour les flèches */
ul#menu ul img {
	position: relative;
	float: right;
	margin: -12px 5px 0px 0px;
	_margin: -17px 5px 0px 0px;
}
/* hack pour Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
ul#menu ul img {
	margin: 5px 5px 0px 0px;
}
}

/* position des sous sous menu */
ul#menu ul ul {
	top: 0px;
	left: 145px;
}

/* ==================
    Menu vertical
  ==================*/

#menuV ul {
	list-style: none;
	margin: 5px 0 0 0;
	padding: 0px;
}
#menuV ul li {
	padding: 0 0 2px 20px;
	vertical-align: bottom;
	min-height: 16px;
}
#menuV ul ul {
	margin-left: -15px;
	padding: 0 0 0 5px;
}
#menuV ul.rubriques li {
	background: url(../images/rubnormal.png) no-repeat;
}
#menuV ul.rubriques li.on {
	background: url(../images/rubexpose.png) no-repeat;
}
#menuV ul.articles li {
	background: url(../images/artnormal.png) no-repeat;
}
#menuV ul.articles li.on {
	background: url(../images/artexpose.png) no-repeat;
}
#menuV li.on>a {
	font-weight: bold;
}


