div.nicetitle{
	color: #cf281d;
	font-size: 10px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	background: #ccc;
	padding: 4px;
	position: absolute;
	top: 0;
	left: 0}

div.nicetitle p{
	margin: 0;
	padding: 0 3px;}

div.nicetitle p.destination{
	color: #fff;
	font-size: 10px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-align: left;
	padding-top: 3px}
