/* open sans */
@font-face {
	font-family: "Open Sans";
	font-style:normal;
	font-weight:800;
	src: url("../webfonts/opensans-extrabold-webfont.woff2") format("woff2"),
		url("../webfonts/opensans-bold-webfont.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style:italic;
	font-weight:800;
	src: url("../webfonts/opensans-extrabolditalic-webfont.woff2") format("woff2"),
		url("../webfonts/opensans-bolditalic-webfont.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style:normal;
	font-weight:700;
	src: url("../webfonts/opensans-bold-webfont.woff2") format("woff2"),
		url("../webfonts/opensans-bold-webfont.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style:italic;
	font-weight:700;
	src: url("../webfonts/opensans-bolditalic-webfont.woff2") format("woff2"),
		url("../webfonts/opensans-bolditalic-webfont.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style:normal;
	font-weight:400;
	src: url("../webfonts/opensans-regular-webfont.woff2") format("woff2"),
		url("../webfonts/opensans-regular-webfont.woff") format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style:italic;
	font-weight:400;
	src: url("../webfonts/opensans-italic-webfont.woff2") format("woff2"),
		url("../webfonts/opensans-italic-webfont.woff") format("woff");
}
