<plugin>
	<nom>Squelette SoyezCreateur pour spip 1.9.2</nom>
	<auteur>
	[Jacques->http://www.spip-contrib.net/_Jacques-PYRAT_] 
_ &copy; 2006 - Distribu&#233; sous licence GNU/GPL
	</auteur>
	<lien>[Exemple d'utilisation et documentation->http://www.pyrat.net/]</lien>
	<version>1.9.2</version>
	<etat>test</etat>
    <description>
	Ce plugin active ou d&eacute;sactive le squelette {{SoyezCreateur}}.
	</description>
	<prefix>SoyezCreateurs</prefix>
    <options>soyezcreateurs_options.php</options>
</plugin>