<plugin>
	<nom>Sarka-SPIP Rose by R.A</nom>
	<auteur><a href='http://www.univers-passions.fr'>_Univers-Passions_</a></auteur>
	<licence><a href='http://creativecommons.org/licenses/by-nc-sa/2.0/fr/' rel='licence'>CC-by-nc-sa</a></licence>
	<version>0.1.0</version>
	<slogan>Th&#232;me Sarka-SPIP 3 avec une dominante de rose</slogan>
	<description>Une adaptation du th&#232;me Easter en rose avec un layout fixe de 1024 pixels.</description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme_sarka_rosebyra</prefix>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>
