<plugin>
	<nom>Sarka-SPIP Rose by R.A</nom>
	<auteur><a href='http://www.univers-passions.fr'>_Univers-Passions_</a></auteur>
	<version>0.1</version>
	<description>Une adaptation du th&eacute;me Easter. Layout fixe 1024px.</description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme_sarka_rosebyra</prefix>
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>
