<plugin>
	<nom>ZKTX</nom>
	<slogan><multi>[fr]Squelettes complets SPIP 3 + Z-core[en]Full 'Z like' template for SPIP 3</multi></slogan>
	<auteur>Loiseau2nuit</auteur>
	<icon>img/zktx-128.png</icon>
	<licence>GNU/GPL</licence>
	<version>1.0.0</version>
	<etat>dev</etat>
	<description>
		<multi>
			[fr]ZKTX, squelette HTML5 pour SPIP 3 + Z-core. Inspirés de ZPIP, de BoilerPlate, Initializ'r et de tous ceux qui ont bien voulu partager leurs connaissances vers le template ultime :-)
			[en]ZKTX : HTML5 skeleton for SPIP 3 + Z-core. Inspired by ZPIP, BoilerPlate, Initializ'r and all those who shared their knowledge, leading to the perfect template :-)
		</multi>
	</description>
	<lien>http://nutzme5.loiseau2nuit.net/zktx-pour-spip</lien>
	<categorie>squelette</categorie>
	<prefix>zktx</prefix>
	<fonctions>zktx_fonctions.php</fonctions>
	<options>zktx_options.php</options>
	<necessite id="SPIP" version="[3.0.0;3.1.99]" />
	<necessite id="Zcore" version="[2.0.0;]" />
  	<necessite id="saisies" version="[1.14.0;]" />
	<!-- necessite id="pb_couleur_rubrique" version="[2.1.1;]" / -->
	<necessite id="cextras" version="[2.0.0;]" />
	<necessite id="varicelle" version="[0.1.6;]" />
	<utilise id="skiplink" version="[1.1.0;]" />
	<utilise id="comments" version="[3.0.2;]" />
	<utilise id="metas" version="[1.4.0;]" />
	<utilise id="menus" version="[0.9.2;]" />
</plugin>