<plugin>
	<nom>Squelette SoyezCreateurs pour spip 1.9.2</nom>
	<auteur>
	[Jacques->http://www.spip-contrib.net/_Jacques-PYRAT_] 
_ &copy; 2006 - Distribu&#233; sous licence CC-By-SA
	</auteur>
	<lien>[Exemple d'utilisation et documentation->http://www.pyrat.net/]</lien>
	<version>1.9.2</version>
	<etat>test</etat>
    <description>
	Ce plugin active ou d&eacute;sactive le squelette {{SoyezCreateurs}}.
	
	[Configuration->.?exec=cfg&cfg=soyezcreateurs]
	</description>
	<prefix>SoyezCreateurs</prefix>
    <options>soyezcreateurs_options.php</options>
	<pipeline>
		<nom>ajouter_onglets</nom>
		<action>ajouterOnglets</action>
		<inclure>soyezcreateurs_pipelines.php</inclure>
	</pipeline>
	<chemin dir='' />
</plugin>