<plugin>
	<nom>
		<multi>
			[fr]Squelette MediaSPIP Blog
			[en]MediaSPIP Blog skeleton
		</multi>
	</nom>
	<auteur>kent1</auteur>
	<licence>GNU/GPL</licence>
	<version>0.1.1</version>
	<etat>test</etat>
    <description>
    	<multi>
    		[fr]Squelette de type blog pour les plateformes MediaSPIP
			[en]Blog skeleton for MediaSPIP platforms
		</multi>
	</description>
	<prefix>skel_mediablog</prefix>
	<options>skel_mediablog_options.php</options>
	<necessite id="saisies" version="[1.42.11;]" />
	<necessite id="cfg" version="[1.14.1;]" />
	<necessite id="mediaspip_core" />
	<utilise id="porte_plume" />
	<utilise id="nospam" version="[0.6.0;]" />
	<utilise id="CalendrierMini" version="[0.3.0;]" />
	<categorie>squelette</categorie>
</plugin>
