<plugin>
  <nom>
    <!-- Nom du plugin -->
    Bones Dongola </nom>
  <auteur>
    <!-- Auteur du plugin -->
    [Izo->http://www.aucuneid.net]
    _ &copy; 2008 - Distribu&eacute; sous licence GPL </auteur>
  <version>
    <!-- Version du plugin -->
    1.0 beta</version>
  <etat>
    <!-- Etat du plugin, au choix : dev (developpement), test, stable, experimental -->
    dev </etat>
  <description> Squelette de base semblable à la dist qui utilise le framework CSS tripoli (beta)</description>
  <icon>bones.png</icon>
  <prefix> bones </prefix>
  <necessite id='SPIP' version='[1.9207;]' />
</plugin>
