/* Couleurs et design des boutons d'admin */

.spip-admin-bloc {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	background-color: transparent;
	font-size: 10px;
	}
	
a.spip-admin-boutons {
	border: none;
	text-decoration: none;
	text-align: left;
	margin: 0;
	padding: 0 0 0 13px;
	font-family: helvetica,arial,sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #fff;
	color: #9A9999;
	display: block;
	background: url(css/images/puce-admin-normal.gif) left 3px no-repeat;	
	}

a:hover.spip-admin-boutons {
	background: #FFFFFF url(css/images/puce-admin-survol.gif) left 3px no-repeat;
	color: #1D4D9E;
	text-decoration: none;
	border: none;	
	}

a:active.spip-admin-boutons {
	background-color: #FFFFFF;
	text-decoration: none;
	border: none;
	}