/*
	Squelette sous licence GPL.
	Inspire des logos de IZO et du site [cent20.net] de Vincent Robert
	lui-même modifier du squelette [maiis.net] de Pierre Basson inspiré
	du site [alistapart.com].
	
	Ecrit en CSS par merzok

*/

/*	
	Structure
*/

body
{
	color: #666;
	font-size: 12px;
	font-family: verdana, lucida, arial, helvetica, sans-serif;
	line-height: 18px;
	background-image: url("../images/fond.gif");
}

#contenant
{
	background-repeat: repeat-y;
	background-attachment: scroll;
	margin-left: -30%;
	padding: 0;
	position: absolute;
	top: 0;
	left: 50%;
	width: 700px
}

#contenu
{
	background-image: url("../images/contenu.gif");
	background-repeat: repeat-y;
	padding: 5px 250px 25px 25px;
}

#pied
{
	background-image: url("../images/pied.gif");
	background-repeat: no-repeat;
	text-align: center;
	margin: 0 0 0;
	position: absolute;
	width: 700px;
	height: 40px
}

/*
	Liens
*/

a:link, a:visited
{
	color: #cf281d;
	text-decoration: none;
	background: transparent
}

a:hover, a:active
{
	color: #cf281d;
	text-decoration: underline;
	background: transparent
}

/*
	Bandeau
*/

.bandeau
{
	line-height: 18px;
	background-image: url("../images/bandeau.gif");
	background-repeat: no-repeat;
	height: 240px
}

#entete .bandeau ul
{
	text-align: center;
	list-style-type: none;
	margin: 0 25px;
	padding: 190px 0 0;
	width: auto;
	clear: left;
	border: 0
}

#entete .bandeau ul li
{
	text-align: center;
	display: block;
	margin: 0;
	padding: 0;
	float: left;
	border-bottom: medium none
}

#entete .bandeau ul li a
{
	color: white;
	font-weight: bold;
	line-height: 21px;
	text-decoration: none;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0 0;
	text-align: center;
	letter-spacing: 1px;
	display: block;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 22px;
	float: left
}

html>#entete .bandeau ul li a
{
	font-size: 12px
}

#entete .bandeau ul li a:active
{
	font-size: 12px;
	font-weight: bold;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0 0
}

#entete .bandeau ul li a:hover, #entete .bandeau ul li a:focus
{
	font-size: 12px;
	font-weight: bold;
	background: transparent
}

body#accueil #entete .bandeau li#menu_accueil a, body#rubriques #entete .bandeau li#menu_rubriques a, body#article #entete .bandeau li#menu_article a, body#podcast #entete .bandeau li#menu_podcast a, body#apropos #entete .bandeau li#menu_apropos a
{
	color: #c3281e;
	font-size: 12px;
	font-weight: bold;
	background: #fff;
	border-top: 2px solid;
	border-bottom: 2px solid white
}

/*
	Arborecence
*/

#entete .bandeau .arborescence
{
	color: #aaa;
	font-weight: normal;
	float: left;
	clear: left
}

#entete .bandeau .arborescence a:link, #entete .bandeau .arborescence a:visited
{
	color: #aaa;
	font-weight: normal;
	text-decoration: none
}

#entete .bandeau .arborescence a:hover, #entete .bandeau.arborescence a:active
{
	color: #666;
	font-weight: normal;
	text-decoration: none
}

/*
	Espace prive
*/

.espaceprive
{
	font-weight: normal;
	float: right
}
.espaceprive a:link, .espaceprive a:visited
{
	color: #cf5725;
	text-decoration: none
}

.espaceprive a:hover, .espaceprive a:active
{
	color: #cf5725;
	text-decoration: underline
}

/*
	Selection
*/

#selection
{
	font: 8pt/11pt arial, sans-serif;
	position: absolute;
	width: 200px
}

#selection ul
{
	list-style-type: none;
	margin-top: 5px
}

/*
	Typographie
*/

h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
	letter-spacing: 0;
	margin: 5px 0 2px
}

h1
{
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px
}

h4
{
	font-size: 10px;
	line-height: 14px;
	margin: 0
}


/*
	Spip
*/

.logo_rubrique
{
	clear: both
}