<plugin>
	<nom>Gestion des habillages pour EVA-Web 4.1</nom>
	<slogan>G&#233;rer les habillages d&#8217;EVA</slogan>
	<auteur>
Olivier Gautier, Samuel Bocharel, &#233;quipe de d&#233;veloppement EVA-web.
Thomas Delhomenie pour l&#8217;am&#233;lioration de la page des r&#232;gles CSS.
	</auteur>
	<licence>GNU/GPL</licence>
	<version>1.1.0</version>
	<version_base>0.5</version_base>
	<etat>stable</etat>
	<description>Gestion automatique des habillages d&#8217;EVA-web 4.1 par un administrateur du site.</description>
	<lien>http://www.eva-web.edres74.ac-grenoble.fr/spip.php?rubrique7</lien>
	<prefix>eva_habillage</prefix>
	<options>eva_habillage_mes_options.php</options>
	<install>eva_habillage_install.php</install>
	<bouton id="eva_habillage" parent="configuration">
		<icone>img_pack/eva3.gif</icone>
		<titre>Habillages d&#8217;EVA-WEB</titre>
  	</bouton>
	<bouton id="eva_habillage_bando" parent="bando_squelette">
		<icone>img_pack/eva3_24.gif</icone>
		<titre>Habillages d&#8217;EVA-WEB</titre>
		<url>eva_habillage</url>
	</bouton>
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>eva_habillage_pipeline.php</inclure> 
	</pipeline>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
</plugin>

