div#contenu {
	float: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
div#page {
 	width: 90%;
	margin: 0 5% 10px 5%;
}
div#navigation {
	width: 0;
}
div#extra {
	width: 0;
}
div#calendrier{
 width: 98%;
 margin: auto;
}
.fc-event-title{
display: block;
}
.calendrier-couleur1{
background-color: red;
border-color: red;
color: #fff;
}


.calendrier-couleur-bleu{
background-color: blue
}