/*Feuille de style de base pour eva-web 3.0*/
/****************************************
	BODY
****************************************/
body {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	margin:10px;
	padding:0;
	text-align:center;
	behavior: url(csshover2.htc);
	background: #c9c url(images/degrade-violet.png) repeat-x;
	/*background: #606;*/
	}

a img {
	border:none;
	}
img {
	vertical-align:middle;
	}
a {
	color:#f6c;
	text-decoration:none;
	}
a:hover {
	color:#606;
	text-decoration:none;
	}
.nettoyeur {
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
	height: 0;
	line-height: 1px;
	font-size: 1px;
	overflow: hidden;
	}
.erreur {
	color:#F60;
	font-weight:bold;
	}
/****************************************
	PAGE
****************************************/
div#Page {
	width:750px;
	margin:auto;
	background:#f6c url(images/degrade-noir-rose.png) repeat-x ;
	border:1px solid #606;
	text-align:left;
	z-index:1;
	}
/****************************************
	ENTETE
****************************************/
div#Entete {
	position:relative;
	/*background:url(images/entete.png) no-repeat right bottom;*/
	background:#cf6 url(images/degrade-vert.png) repeat-x;
	/*Pour afficher une images en fond dans l'en-tête, commenter la ligne ci-dessus et décommenter la ligne background:url*/
	height:150px;
	border-bottom:1px solid #606;
	z-index:2;
	}
div#Entete h1 {
	position:relative;
	top: 25px;
	margin:0;
	padding:0 10px;
	font-size:140%;
	line-height:22px;
	color:#606;
	}
div#Entete h1 img {
	position:relative;
	padding: 10px 0 0 0;
	margin:0;
	vertical-align:middle;
	}
div#Entete h1 span {
	padding:2px;
	}
div#Entete h1 a {
	color:#606;
	text-decoration:none;
	}
div#Entete h1 a:hover {
	text-decoration:none;
	}
div#Entete h2 {
	position:absolute;
	right:0;
	bottom:10px;
	margin:0 10px;
	padding:0;
	color:#f6c;
	font-size:110%;
	}
div#Entete h2 span {
	padding:2px;
	}
div#Entete h2 img {
	position:relative;
	vertical-align:middle;
	}
/****************************************
	ENTETE
		ul.liens
****************************************/
div#Entete ul.liens {
	position:absolute;
	background:#6c3;
	margin:0;
	padding:4px 0;
	width:100%;
	border-bottom:1px solid #606;
	font-size:70%;
	color:#fff;
	text-align:right;
	}
div#Entete ul.liens li {
	position:relative;
	display:inline;
	margin:0;
	padding:0 10px;
	list-style-type:none;
	border-left:1px solid #fff;
	z-index:5;
	}
div#Entete ul.liens li.premier {
	border-left:none;
	}
div#Entete ul.liens a {
	padding:2px 5px;
	color:#fff;
	text-decoration:none;
	}
div#Entete ul.liens li.on a {
	color:#ccc;
	}
div#Entete ul.liens a:hover {
	color:#606;
	text-decoration:none;
	border-top:3px solid #606;
	}

/****************************************
	ENTETE
		Arborescence
****************************************/
div#Arborescence {
	position:relative;
	padding:2px;
	background:#edfe9f;
	border-bottom:1px solid #606;
	font-size:70%;
	color:#606;
	}
div#Arborescence span {
	font-size:70%;
	font-weight:bold;
	}
div#Arborescence a {
	color:#606;
	text-decoration:none;
	}
div#Arborescence a:hover {
	color:#F60;
	}
div#Arborescence strong {
	color:#999;
	}
div#Arborescence em {
	color:#999;
	}

/****************************************
	ENTETE
		diaporama
****************************************/
div#EnteteDiaporama {
		position:relative;
margin:10px 20px;
	border:1px solid #606;
	padding:5px;
background:#c9c url(images/degrade-violet1.png) repeat-x;
	z-index:2;
	}
div#EnteteDiaporama h1 {
	display:none;
	}
div#EnteteDiaporama h2 {
	position:relative;
	margin:0;
	padding:0;
	color:#fff;
	font-size:16px;
	}
div#EnteteDiaporama h2 span {
	}
div#EnteteDiaporama h2 img {
	position:relative;
	padding-right:10px;
	}
div#BoutonDiaporama {
	position:relative;
	float:right;
	z-index:3;
	}
div#EnteteDiaporama div.precedent {
	}
div#EnteteDiaporama div.suivant {
	}
div#BoutonDiaporama a {
	position:relative;
	display:block;
	float:left;
	width:30px;
	height:30px;
	color:#606;
	text-decoration:none;
	}
div#BoutonDiaporama a.precedent {
	background: url(images/precedent.gif) center top no-repeat;
	}
div#BoutonDiaporama a.precedentpremier {
	background: url(images/precedent_premier.gif) center top no-repeat;
	}
div#BoutonDiaporama a.suivant {
	background: url(images/suivant.gif) center top no-repeat;
	}
div#BoutonDiaporama a.suivantdernier {
	background: url(images/suivant_dernier.gif) center top no-repeat;
	}
div#BoutonDiaporama a span {
	position:absolute;
	display:block;
	right:1400px;
	width:200px;
	padding:10px;
	background:#F7F7F7;
	border:1px solid #606;
	font-weight:bold;
	cursor:pointer;
	z-index:5;
	}
div#BoutonDiaporama a:hover span, div#BoutonDiaporama a.sfhover span {
	top:25px;
	right:15px;
	}
div#BoutonDiaporama span em {
	font-weight:normal;
	display:block;
	text-align:right;
	}
div#BoutonDiaporama span img {
	position:relative;
	float:left;
	margin:0 4px 2px 0;
	}
/****************************************
		CONTENEUR
****************************************/
div#Conteneur {
	}
div#ConteneurSeul {
	position:relative;
	margin:10px;
	}
div#ConteneurSeul div#Contenu {
	position:relative;
	width:auto;
	float:none;
	margin:10px;
	}
div#ConteneurSeul div#Menu {
	display:none;
	}
/****************************************
	CONTENU
****************************************/
div#Contenu {
	position:relative;
	width:490px;
	float:right;
	margin-right:10px;
	text-align:justify;
	color:#606;
	}
div#Contenu h2 {
	position:relative;
	margin:0;
	padding:0;
	color:#B3B3B3;
	font-size:110%;
	
	}
div#Contenu h2 span {
	}
div#Contenu h2 img {
	position:relative;
	vertical-align:center;
	padding-right:10px;
	}
/****************************************
	CONTENU
		Titre des articles, breves, 
****************************************/
.Titre {
	position:relative;
	padding:5px 0;
	margin:0;
	background:none;
	zoom:1;
	}
.Titre img {
	position:relative;
	float:left;
	}
.Titre h4.surtitre, .Titre h4.soustitre {
	margin:0;
	padding:0;
	font-size:1em;
	font-weight:bold;
	
	}
.Titre h4.soustitre {
	}
.Titre h2 {
	position:relative;
	margin:0;
	padding:0;
	font-size:110%;
	font-weight:bold;
	color:#606;
	}
.Titre h2:first-letter {
	color:#f6c;
	}
/****************************************
	CONTENU
		(Affichage des dates, auteurs, ...)
****************************************/
#AuteursDates {
	float:right;
	position:relative;
	width:160px;
	margin: 10px 0 0 10px;
	background-color:#ffe7f7;
	border:1px solid #606;
	font-size:70%;
	z-index:5;
	}
#AuteursDates div{
	padding: 0 10px;
	}
/****************************************
	CONTENU
		(chapo, texte, lien, divers ...)
****************************************/
.chapo {
	position:relative;
	margin:10px 0;
	padding:1px 10px;
	color:#f6c;
	font-weight:bold;
	}
.chapo strong, .chapo b {
	color:#666;
	}
.texte {
	position:relative;
	margin:10px 0;
	}
.texte a {
	color:#f6c;
	text-decoration:none;
	}
.texte a:hover {
	color:#606;
	text-decoration:none;
	}
.lien {
	position:relative;
	margin:20px 0;
	padding:4px;
	border:1px solid #606;
	}
.lien:first-letter {
	color:#f6c;
	}
.divers {
	position:relative;
	margin:10px 0;
	border:1px solid #606;
	}
.divers h4 {
	margin:0;
	padding:4px;
	background:#c9c;
	font-weight:bold;
	}
.divers h4:first-letter {
	color:#f6c;
	}
.divers div.contenu {
	padding:2px 4px;
	font-size:80%;
	background:#FFF;
	}
div.contenu ul {
	margin:0 ;
	padding:0;
	list-style-type:none;
	}
h3 {
	font-size:105%;
	margin:20px 0;
	padding:2px 4px;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	color:#606;
	zoom:1;
	}
h3:first-letter {
	color:#f6c;
	}
h3 a {
	text-decoration:none;
	}
h3 em.date {
	color:#999;
	font-size:70%;
	}
.suite {
	text-align:right;
	font-size:70%;
	}

/****************************************
	CONTENU
		(listes d'éléments, blocs ...)
****************************************/
h3.titre {
	margin:0;
	padding:5px;
	background:#c9c url(images/degrade-violet1.png) repeat-x;
	border:none;
	font-size:110%;
	}
h3.titre a {
	color:#606;
	}
h4.titre {
	margin:0;
	padding:5px;
	background:#c9c url(images/degrade-violet1.png) repeat-x;
	border:none;
	font-size:110%;
	}
h4.titre a {
	color:#606;
	}
.bloc {
	border:1px solid #606;
	margin:10px 0;

	}
div#Contenu ul {
	margin:0 ;
	padding:0 0 10px;
background:#fff;
	list-style-type:none;
	}
div#Contenu ul li {
	margin:0;
	padding:10px;
	font-size:90%;
	color:#606;
	}
div#Contenu ul li img {
	margin:0 5px 0 0;
	}
div#Contenu ul li em {
	font-size:80%;
	font-weight:normal;
	}
div#Contenu ul li.un {
	background:#FFF;
	}
div#Contenu ul li.deux {
	background:#fff4fb;
	}
/****************************************
	CONTENU
		Articles, breves, ...
****************************************/
.bloc2  {
	position:relative;
	margin:10px 0 ;
	padding:0 10px;
	border:1px solid #606;
	background:#FFF;
	}
.bloc2 h3.titre {
	margin: 10px 0;
	padding:0;
	background:none;
	border:none;
	font-size:110%;
	}
.bloc2 h3.titre a {
	color:#606;
	}
.bloc2 img.spip_logos {
	position:relative;
	float:left;
	margin:0 5px 2px 0px;
	}
/****************************************
	CONTENU Edito
****************************************/
.edito  {
	position:relative;
	margin:10px 0 ;
	padding:0 10px;
	border:1px solid #606;
	background:#FFF;
	}
.edito h3.titre {
	margin: 10px 0;
	padding:0;
	background:none;
	border:none;
	font-size:110%;
	color:#606;
	}
.edito h3.titre a {
	color:#f90;
	}
.edito img.spip_logos {
	position:relative;
	float:left;
	margin:0 5px 2px 0px;
	}
/****************************************
	CONTENU 
		Album Photo
****************************************/
div#Photo img {
	padding:5px;
	margin:10px 10px 0 0;
	background:#666;
	}
ul#AlbumVignettes {
	position:relative;
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
	}
ul#AlbumVignettes li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
	}
ul#AlbumVignettes li a img {
	position:relative;
	margin:4px;
	padding:3px;
	background:#fff;
	}
ul#AlbumVignettes li.on a img {
	background:#606;
	}
ul#AlbumVignettes li a:hover img {
	background:#606;
	}
/****************************************
	CONTENU
		#Forum
****************************************/
#Forum {
	position:relative;
	}
#Forum * {
	position:relative;
	zoom:1;
	}
#Forum .bouton {
	text-align:right;
	}
#Forum .bouton a {
	padding:2px;
	margin:0 2px;
	border:1px solid #606;
	background:#fff;
	color:#606;
	font-size:12px;
	}
#Forum .bouton a:hover {
	background:#606;
	color:#fff;
	text-decoration:none;
	}
#Forum ul.forum {
	margin:0;
	padding:0;
	}
#Forum ul.forum ul {
	margin:0;
	padding:0;
	background: url(images/fond_forum.gif) top left repeat-y;
	}
#Forum ul.forum li {
	margin:0 0 40px;
	padding:0;
	list-style-type:none;
	}
#Forum ul.forum li li {
	margin:0;
	padding:0 0 0 40px;
	background: url(images/fond_forum_arrondit.gif) top left no-repeat;
	}
#Forum ul.forum div.titre h4 {
	position:relative;
	padding:2px;
	margin:0;
	background:#c9c url(images/degrade-violet1.png) repeat-x;
	border-left:1px solid #606;
	border-right:1px solid #606;
	border-top:1px solid #606;
	}
#Forum ul.forum div.titre .auteur {
	position:relative;
	padding:2px 2px 2px 20px;
	margin:0;
	background:#FAFAFA;
	border-left:1px solid #606;
	border-right:1px solid #606;
	font-size:12px;
	}
#Forum ul.forum div.texte {
	position:relative;
	margin:0;
	}
#Forum ul.forum div.contenu {
	position:relative;
	padding:4px;
	margin:0;
	border-left:1px solid #606;
	border-right:1px solid #606;
	border-bottom:1px solid #606;
	font-size:12px;
	}
#Forum ul.forum div.contenu p {
	position:relative;
	padding:0;
	margin:4px 0;
	}
#Forum ul.forum li.message {
	}
#Forum ul.forum li.reponse {
	}
/****************************************
		Plan
****************************************/

ul#Plan li.article{
	padding:3px;
	list-style-type: none;
	}
.BlocPlan {
	position:relative;
   width:220px;
	float:right;
   padding:0;
   margin:10px;
   }
/****************************************
		RECHERCHER
****************************************/
/*   form#FormRecherche   */
#FormRecherche {
	padding:10px 5px;
	margin:0;
	background:#F7F7F7;
	border:1px solid #606;
	}
#FormRecherche p {
	text-align:right;
	padding:5px 5px 0;
	margin:0;
	}
#FormRecherche p.erreur {
	text-align:center;
	}
#FormRecherche form.formrecherche {
	padding:0;
	margin:10px;
	text-align:center;
	}
/*   lments de formulaire   */
input.formrecherche {
	width:400px;
	padding:5px;
	border:1px solid #B3B3B3;
	background:#FFF;
	color:#666;
	}
/****************************************
		MENU
****************************************/
div#Menu {
	float:left;
	width:220px;
	padding:10px;
	margin:0px;
	}
/****************************************
	MENU ul#Sommaire (menu principal)
****************************************/
ul#Sommaire {
	border:1px solid #606;
	background:#ffe7f7  url(images/degrade-rose.png) repeat-x;
	padding:5px 0px;
	margin:0;
	list-style-type:none;
	}
ul#Sommaire ul {
	padding:2px;
	margin:0;
	list-style-type:none;
	}
ul#Sommaire ul ul {
	padding:0;
	margin:0;
	border-left:none;
	}
ul#Sommaire li {
	position:relative;
	padding:0 5px;
	margin: 5px;
	border:1px solid #FFF;
	background-color:#FFF;
	}
ul#Sommaire ul li {
	position:relative;
	padding:0;
	margin:2px 0 5px 10px;
	}
ul#Sommaire ul ul li {
	position:relative;
	padding:0 0 0 20px;
	margin:2px 0;
	}
ul#Sommaire a {
	display:block;
	padding:0 0 2px;
	color:#c9c;
	font-weight:bold;
	text-align:left;
	text-decoration:none;
	}
ul#Sommaire a:hover {
	color:#606;
	}
ul#Sommaire a.on {
	color:#606;
	}
ul#Sommaire ul a {
	padding:0;
	border-bottom:none;
	font-size:80%;
	text-align:left;
	}
ul#Sommaire ul a:hover {
	border-bottom:none;
	color:#606;
	}
ul#Sommaire ul a.on {
	border-bottom:none;
	color:#606;
	}
ul#Sommaire ul ul a {
	font-size:80%;
	font-weight:normal;
	}	
/****************************************
	MENU bloc
****************************************/
div#Menu h3.titre {
	margin:0;
	padding:4px;
	background:#c9c url(images/degrade-violet1.png) repeat-x;
	color:#606;
	font-size:105%;	
	}
div#Menu h3:first-letter {
	color:#f6c;
	}
div#Menu .bloc ul{
	position:relative;
	margin:0;
	padding:0 0 10px;
	zoom:1;
	list-style-type:none;
background:#FFF;	
	}
div#Menu .bloc ul li {
	padding:5px;
	margin:0;
	font-size:90%;
	color:#B3B3B3;
	}
div#Menu .bloc ul li.un {
	background:#FFF;	
	}	
div#Menu .bloc ul li.deux{
	background:#fff4fb;	
	}	

div#Menu .bloc ul li a.on{
	color:#FF6600;
	}	
div#Menu .bloc ul li.on strong {
	color:#999;
	}
div#Menu .bloc ul li em {
	font-weight:normal;
	font-size:70%;
	}
div#Menu .bloc ul li img{
	padding: 0 5px 0 0;
	}	
div#Menu .bloc ul a {
	font-weight:bold;
	text-decoration:none;
	}
div#Menu .bloc ul a:hover {
	border-bottom:none;
	text-decoration:none;
	}
/****************************************
		.MenuPagination   
*****************************************/
.MenuPaginationHaut {
	border-bottom:1px solid #B3B3B3;
	margin:0;
	padding:0;
	font-size:11px;
	}
.MenuPaginationBas {
	border-top:1px solid #B3B3B3;
	margin:0;
	padding:0;
	font-size:11px;
	}
/****************************************
		#Pied
****************************************/
ul#Pied {
	position:relative;
	margin:0;
	padding:4px 0;
	border-top:1px solid #606;
	font-size:70%;
	text-align:center;
	color:#fff;
background:#606;
	}
ul#Pied li {
	position:relative;
	display:inline;
	margin:0;
	padding:0 10px;
	list-style-type:none;
	border-left:1px solid #fff;
	}
ul#Pied li.premier {
	border-left:none;
	}
ul#Pied a {
	padding:2px 5px;
	color:#f6c;
	text-decoration:none;
	}
ul#Pied li.on a {
	color:#f6c;
	}
ul#Pied a:hover {
	color:#fff;
	text-decoration:none;
	border-bottom:3px solid #fff;
	}
ul#Pied p a:hover {
	color:#fff;
	border-bottom:none;}
/****************************************
		#Logo-Pied
****************************************/
#Logo-Pied {
	position:relative;
	margin:0;
	padding:0;
	border-top:1px solid #606;
	font-size:10px;
	text-align:center;
background:#cf6 url(images/degrade-vert.png) repeat-x;
	}
#Logo-Pied ul {
	position:relative;
	display:inline;
	margin:0;
	padding:0 15px;
	}
#Logo-Pied li {
	display:inline;
	list-style-type:none;
	padding:3px 10px;
	}
#Logo-Pied a:hover {
	text-decoration:none;
	}	
/****************************************
		Formulaires
****************************************/
form {
	margin:0;
	padding:0;
	width:100%;
	}
fieldset {
	margin:10px 0;
	border:1px solid #606;
	}
legend {
	color:#fff;
	font-weight:bold;
	}
textarea {
	width:98%;
	margin:0 auto;
	}
label {
	font-weight:bold;
	}
/****************************************
		SPIPforml
****************************************/

.formulaire {
	margin: 0 0 10px 0;
	padding: 5px;
	font-size:12px;
}
.forml {
	padding:2px;
	background-color:#abc8e0;
	border:1px solid #606;
	font-size:12px;
	}
.formulaire_ecrire_auteur {
    text-align: left;
}
.formulaire_ecrire_auteur .forml {
    width: 98%;
} 
.formulaire_forum {
	text-align:left;
}
.formulaire_forum .forml{
	width:100%;
}
.spip_bouton {
	display:block;
	margin:0;
	font-size:12px;
	}
/** Zone de texte login ecrire*/
#var_login {
	width: 170px;
}
.forml:focus {
	background-color:#f0f6fb;
	}
.spip-admin {
}
a.spip_url { }
a.spip_in { }
a.spip_out { }
a.spip_glossaire { }
img.spip_puce {
	vertical-align:top;
	}
p.spip_note { }
.spip_puce {
	list-style-position: inside;
	border-width: 0px;
}
.spip_code {
	font-family: "Courier New", Courier, monospace;
	font-size:12px;
	}
textarea.spip_cadre {
	width:100%;
	border:1px dashed #606;
	background:#F7F7F7;
	color:#606;
	font-family: "Courier New", Courier, monospace;
	font-size:12px;
	}
.spip_cadre {
	width:95%;
	background:#FFF;
	padding:5px;
	margin:10px 0;
	}
.spip_documents{
	font-size : 70%;
}
.spip_documents_center{
	margin: auto; 
	text-align: center;
	width: 80%;
}
.spip_documents_left{
	float: left;
	margin-right: 15px; 
	text-align: center;
}
.spip_documents_right{
	float: right;
	margin-left: 15px; 
	text-align: center;
}
table.spip {
	margin:20px auto;
	border-collapse:collapse;
}
table.spip th {
	padding: 4px;
	border: 1px solid #666;
	text-align:center;
	vertical-align: middle;
	color:#666;
	background:#999;
	color:#FFF;
}
table.spip td {
	padding: 2px;
	border: 1px solid #999;
	text-align: left;
	vertical-align: middle;
}
table.spip caption{
	caption-side: top; /* bottom pas pris en compte par IE */
	text-align:center;
	margin:5px auto;
	padding: 3px;
	font-weight: bold;
	font-size : 70%;
}
table.spip tr.row_first {
}
table.spip tr.row_odd {
	background:#ffe7f7;
	border: 1px solid #666;
}
table.spip tr.row_even {
	background:#FFF;
	border: 1px solid #666;
}
hr {
	display:block;
	height:2px;
	margin:30px 100px;
	padding:0;
	border:solid #999;
	border-width:0 10px;
	background:#606;
	color:#606;
	}
b.spip { }
i.spip { }
blockquote.spip {
	position:relative;
	display:block;
	margin:20px 0 20px 30px;
	padding:2px 5px;
	background:#F7F7F7;
	zoom: 1;
	}
blockquote.spip p {
	padding:0;
	margin:5px 0;
	}
.forml { width: auto ; background-color: #FFF;}

.spip_encadrer {
	width : 95%;
	background-color: #FFF;
	padding: 5px;
	border: 1px #666 solid;
}

div.spip_poesie {
	margin-bottom: 5px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #999;
}
div.spip_poesie div {
	text-indent: -60px;
	margin-left: 60px;
}
.reponse_formulaire {
	font-weight: bold;
	font-size: 110%;
	color: red;
}
.spip_surligne {
	background:#FC0;
	color:#000;
	}
/** Images typographiques (via image_typo)*/
.image_typo {
	behavior:  url("win_png.htc");
}
/** Barre de raccourcis*/
a.spip_barre img {
	border: 1px solid #a96;
	padding: 3px;
	background-color: #FDA;
}
a.spip_barre:hover img {
	border: 1px solid #606;
	background-color: #f8f8f4;
}