@import "../../stylesbleu.css";

#wraper {
	margin:0;
	text-align: center;
	padding-bottom: 40px;
}

#wraperinner {
	position: relative;
	width: 100%;
	min-width: 600px;
	text-align: left;
}

#right {
	right:0;
	left: auto;
}

#left {
	left:0;
	right: auto;
}