/*a:after {
	content: ' [' attr(href) '] ';
}
*/

html, body {
	background-color: #FFFFFF;
	background-image: none;
	color: #000000;
	font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
}

.navstuff, .retourtop, .flottant, #right, #left, #header, #xiti, .spip-admin, #artrecents, #menuhaut {
	display: none !important;
}

#wraper, #middle, #content, #footer, #footer span {
	background: transparent;
	background-image: none;
	border: 0 none !important;
	margin: 0px !important;
	padding: 0px !important;
	width: 100% !important;
	height: auto !important;
}

#footer {
	margin-top: .5em !important; 
	border-top: solid 1px #999 !important;
}

#wraperinner {
	width: 100% !important;
}

#content h1, #content h2 {
	margin-right: 0px;
	margin-left: 0px;
	page-break-after: avoid;
}

.spip_out {
	padding-right: 0px;
	background-image:    none;
}
.surtitre {
	top:0em;	
}
.soustitre {
	top:-1em;
}

.surtitre span, .soustitre span {
	border: 0 none;
}

.datepublication {
	border: 0 none;
	top:0em;
}
