

/*
* ======================================================================
* LO QUE HABÍA EN EL TYPOGRAPHIE.CSS ORIGINAL
* ======================================================================
*/


/*
 * Correction des styles HTML par defaut
 */

.structure {
	display: none;
}

h1,h2,h3,h4 {
	margin-top: 0em;
	margin-bottom: 0em;
	font-size: 100%;
	font-weight: normal;
}

/*
 * Styles generaux
 */


.chapo {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: justify;
	font-size: 105%;
}
.texte, .texte p.spip {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	font-size: 85%;
	color: #333333;
}

.texte100 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	font-size: 100%;
	color: #333333;
}

.ps {
	text-align: justify;
	font-size: 85%;
}
.notes {
	text-align: left;
	font-size: 80%;
}

/*
 * Ici les styles pour le contenu
 */

.contenu h1,h2 {
	font-size: 120%;
	font-weight: bold;
}
.contenu h1,h2.titre-extrait {
	font-size: 160%;
	font-weight: bold;
}
.contenu h1,h2.titre-texte {
	font-size: 190%;
	font-weight: bold;
}
.contenu .surtitre {
	font-size: 110%;
	font-weight: bold;
	font-variant: small-caps;
}
.contenu .detail {
	font-size: 80%;
	color: #303030;
}
.extrait {
	border: groove 2px #a0a0a0;
	padding: 4px;
	font-size: 85%;
}


/*
 * Disposition a l'ecran
 */

#principal {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

#plan {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

#navigation {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.encart {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


/*
* ======================================================================
* LO QUE HABÍA EN EL HABILLAGE.CSS ORIGINAL
* ======================================================================
*/



/*
 * Mise en page des textes (bordures...)
 */

.ps {
	padding-top: 0.6em;
	margin-top: 0.6em;
	border-top: 1px dashed #404040;
}
.notes {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	border-top: 1px solid #a0a0a0;
	padding: 1.5em;
}

/*
 * Habillage des menus et de la navigation
 */

.menu {
	border: 1px solid #a0a0a0;
	border-top: 0px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 16px;
}
.menu ul {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 4px;
	list-style: none;
}
.menu ol {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 4px;
	list-style: none;
}
.menu-titre {
	border-top: 1px solid #a0a0a0;
	border-bottom: 1px dashed #d0d0d0;
	margin: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-size: 90%;
}
.menu-item {
	margin: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 80%;
}

/* Des couleurs specifiques selon les types de menus */

.general		{ background-color: #f8f8e8; text-align:center; }
.general .menu-titre 	{ background-color: #fcfcf0; }

.rubriques 		{ background-color: #eaffea; text-align:right; }
.rubriques .menu-titre	{ background-color: #f2fff2; }

.breves 		{ background-color: #ffeaea; }
.breves .menu-titre	{ background-color: #fff2f2; text-align:center; }

.divers 		{ background-color: #eaeaff; }
.divers .menu-titre	{ background-color: #f2f2ff; text-align:center; }

.forums 		{ background-color: #e8f8f8; }
.forums .menu-titre	{ background-color: #f0fcfc; text-align:center; }


/*
 * Styles pour le contenu (c-a-d. la colonne principale)
 */

.contenu {
	margin: 15px;
}
.contenu .detail .important {
	color: #a02020;
}
.liste-articles {
	margin-top: 1em;
	margin-bottom: 1em;
	clear: left;
}
.contenu .forum-repondre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 90%;
	font-weight: bold;
	margin-top: 0.6em;
}


/*
 * Disposition a l'ecran : colonnes, encarts, cartouches
 */

#principal {
	position: absolute;
	left: 30%;
	/*left: 18em;*/
	margin: 0px;
	padding: 0px;
	/*margin-right: 2em;*/
	margin-right: 3%;
	margin-top: 1.5em;
}

#plan {
	position: absolute;
	left: 2em;
	margin: 0px;
	padding: 0px;
	margin-right: 2em;
	margin-top: 2em;
}

#navigation {
	position: absolute;
	left: 0px;
	width: 24%;
	/*width: 14em;*/
	padding: 0px;
	margin: 0px;
	/*margin-left: 1.8em;*/
	margin-left: 3%;
	margin-top: 1.5em;
}

.encart {
	float: right;
	/*width: 14em;*/
	width: 34%;
	margin-left: 4%;
	/*margin-left: 2em;*/
	margin-top: 1em;
	margin-bottom: 0em;
	margin-right: 0px;
}

.cartouche {
	padding-top: 1em;
	border-top: 2px solid #404040;
	margin-bottom: 0em;
}


/*
 * Habillage des petitions
 */

.signatures {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}
.signatures td, .signatures th {
	-moz-border-radius: 0.4em;
}
.signatures-titre {
	clear: right;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding: 0.5em;
	margin: 0px;
}
.signature-date {
	white-space: nowrap;
	background: #e4f0f0;
	padding: 0.5em;
}
.signature-nom {
	font-weight: bold;
	background: #ecf4f4;
	padding: 0.2em;
	text-align: center;
}
.signature-message {
	font-size: 85%;
	background: #f4f8f8;
	padding: 0.4em;
	text-align: justify;
}


/*
 * Formulaires
 */





.spip_bouton {
	border: 2px solid #404040;
	padding: 3px;
	background: silver;
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
}


/*
* ======================================================================
* LO QUE HABÍA EN EL SPIP_STYLE.CSS ORIGINAL
* ======================================================================
*/



.spip_code { }

p.spip_note { }

h3.spip {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	margin-top : 40px;
	margin-bottom : 40px;
	padding: 0em;
}

.spip_puce {
	list-style-position: inside;
	border-width: 0px;
}

table.spip {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #999999;
	border-collapse:collapse;
}

table.spip caption{
	caption-side: top; /* bottom pas pris en compte par IE */
	text-align: center;
	margin-left: auto;                                                       
	margin-right: auto;
	padding: 3px;
	font-weight: bold;
	font-family: Verdana,Arial,Sans,sans-serif;
	font-size : 70%;
}

table.spip tr.row_first {
	background-color: #FCF4D0;
}

table.spip tr.row_odd {
	background-color: #d0d0d0;
}

table.spip tr.row_even {
	background-color: #F0F0F0;
}

table.spip td {
	padding: 3px;
	text-align: left;
	vertical-align: middle;
}

hr.spip { }
b.spip { }
i.spip { }
blockquote.spip {
	margin-left : 40px;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-right: 0px;
	border : solid 1px #aaaaaa;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
}


.spip_encadrer {
	font-family: helvetica, arial, sans-serif;
	width : 95%;
	background-color: #FFFFFF;
	padding: 5px;
	border: 1px #666666 solid;
}

.spip_cadre {
	width : 95%;
	background-color: #FFFFFF;
	padding: 5px;
	margin-top: 10px;
}

div.spip_poesie {
	margin-bottom: 5px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #999999;
}
div.spip_poesie div {
	text-indent: -60px;
	margin-left: 60px;
}

form.formrecherche { 
	margin-top: 5px;
	margin-bottom: 5px;
}
input.formrecherche {
	width: 95%;
	background-color: #FFDDAA;
}

.reponse_formulaire {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 110%;
	color: red;
}

.spip_surligne { background-color: #FFFF66; }


/*
 *  Images typographiques (via image_typo)
 */
.image_typo {
	behavior: url("win_png.htc");
}


/*
 * Barre de raccourcis
 */

a.spip_barre img {
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #aa9966;
	border-bottom: 1px solid #aa9966;
	padding: 3px;
	background-color: #FFDDAA;
}
a.spip_barre:hover img {
	border: 1px solid #808080;
	padding: 3px;
	background-color: #f8f8f4;
}

