<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin>
	<nom>Squelette modulaire BLiP pour spip 1.9</nom>
	<auteur>Mogwa&#239; , cent20</auteur>
	<version>2.2</version>
	<etat>stable</etat>
    <description>
	{{Ce plugin active ou d&eacute;sactive le squelette BLiP }} : <br />
		
	Il vous suffit de cocher ou d&eacute;cocher la case ci-contre ;-D <br />

	{{Installer le squelette }} : <br />Apr&egrave;s avoir activ&eacute; le plugin, faire : <br />
	Configuration > Configurer BliP > Installer le squelette BliP.

	{{Configurer ou personnaliser le squelette}} : <br />
	Consulter la [documentation->http://www.cent20.net/spip.php?rubrique76]<br /><br />
	    
	{{D&eacute;sinstaller le squelette}} : <br />Configuration > Configurer BliP > Maintenance > D&eacute;sinstaller ¨le squelette BliP  (d&eacute;sactivez ensuite le plugin).</description>

	<prefix>BliP</prefix>
	<pipeline>
		<nom>ajouter_boutons</nom>
		<action>ajouterBouton</action>
		<inclure>blip_pipeline.php</inclure>
	</pipeline>
	<pipeline>
		<nom>ajouter_onglets</nom>
		<action>ajouterOnglets</action>
		<inclure>blip_pipeline.php</inclure>
	</pipeline>
	<categorie>squelette</categorie>
</plugin>
