.formulaire_forum { text-align: center; }
.formulaire_forum label { display: block; }
.formulaire_forum fieldset { border: 0; }
.formulaire_forum fieldset legend { display: none; }
.formulaire_forum textarea,
.formulaire_forum input { padding: 3px 6px 3px 6px; background-color: #fff; border: 1px solid #fff; font-style: italic; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; font-family: 'Rosario', sans-serif; color: #333; font-size: 12px; line-height: 15px; position: relative; z-index: 6; text-align: center; width: 400px; max-width: 400px; min-width: 400px; }
.formulaire_forum textarea { text-align: left; }
.formulaire_forum .saisie_texte_info,
.formulaire_forum .forum_saisie_texte_info { display: none; }
.formulaire_forum input { margin: 0 0 10px 0 }
#formulaire_forum .boutons { text-align: center; }
.formulaire_forum .submit { background-color: #3cb5c7; border: 1px solid #3cb5c7; width: 135px; min-width: 145px; max-width: 145px; }
.formulaire_forum .submit:hover { cursor: pointer; background-color: #80c3cd; border: 1px solid #80c3cd; }
.formulaire_forum .erreur_message { font-weight: bold; }
.formulaire_forum fieldset.previsu legend { display: block; color: #333; font-weight: bold; }
.formulaire_forum fieldset.previsu .comment-meta { display: none; }

.bouton_action_post,.bouton_action_post > div {display: inline;}