@import 'css/libs/vars';
@import 'css/libs/functions';
@import 'css/libs/mixins';
@import 'css/libs/skel';

#banner .inner {
	& > * { margin-left:300px; }
	& > .logo { margin-left:0; }
	.logo .spip_logo {
		float:left;
		border-radius: 100%;
		width: 230px;
		top: -40px;
		position:relative;
	}
}

/** admin */
#spip-admin.spip-admin-bloc,
#spip-admin.spip-admin-float {
	z-index:10001;
}