@import 'css/libs/vars';
@import 'css/libs/functions';
@import 'css/libs/mixins';
@import 'css/libs/skel';

@include skel-breakpoints((
	xlarge: '(max-width: 1680px)',
	large: '(max-width: 1280px)',
	medium: '(max-width: 980px)',
	small: '(max-width: 736px)',
	xsmall: '(max-width: 640px)',
	xxsmall: '(max-width: 360px)'
));

#header {
	h1 .spip_logo {
		margin-right:1em;
		border-radius: 100%;
		vertical-align: middle;
		border: 1px solid rgba(255,255,255,.5);
	}

	.menu_lang {
		margin-right:10em;
		line-height:1em;
		margin-top:1em;
		a {
			padding: 0;
			text-transform: none;
			opacity:.8;
			&:hover, &:active {
				text-decoration:underline;
				opacity:1;
			}
			&.on {
				opacity:1;
			}
			& + a {
				margin-left:1em;
			}
		}
	}
}

#banner .inner {
	& > * { margin-left:310px; }
	& > .logo { margin-left:0; }
	.logo .spip_logo {
		float:left;
		border-radius: 100%;
		width: 250px;
		top: -50px;
		position:relative;
	}
	@include breakpoint(small) {
		& > * { margin-left:200px; }
		.logo .spip_logo {
			width: 150px;
			top: -20px;
		}
	}
	@include breakpoint(xsmall) {
		text-align:center;
		& > * { margin-left:0; }
		.logo .spip_logo {
			float:none;
		}
	}
}

/** admin */
#spip-admin.spip-admin-bloc,
#spip-admin.spip-admin-float {
	z-index:10001;
	right: 35%;
	top: 15px;
	.spip-admin-boutons {
		border-radius:5px;
		background-color:rgba(255, 255, 255, .05);
		border: 1px solid rgba(255, 255, 255, .2);
		color:white;
	}
	@include breakpoint(xsmall) {
		display:none;
	}
}