<plugin>
    <!-- Nom du plugin -->
    <nom> Vert2008 </nom>

    <!-- Auteur du plugin -->
    <auteur> Jacques Pyrat, Marc Héron, Kristof Leray _ &copy; 2007 - Distribu&#233; sous licence GNU/LGPL</auteur>
    <version> 0.1 </version>
    <etat>dev</etat>
    <icon></icon>
    <description> Configuration du squelette des verts</description>
    <!-- URI de documentation -->
    <lien>http://www.baupin2008.fr/</lien>

    <!-- précise le prefixe utilisé pour toutes les fonctions du plugin, en général le nom du plugin -->
    <prefix>Vert2008</prefix>

    <pipeline>
       <!-- voir la page sur doc.spip.org, pour connaitre l'ensemble des pipeline -->
       <nom>ajouter_boutons</nom>
       <!-- chemin du fichier contenant la fonction -->
       <inclure>vert_pipelines.php</inclure>
   </pipeline>


   <chemin dir='' />

   <bouton id='mon_bouton_1' parent=>
       <icone>images/xml-valid-24.png</icone>
       <titre>Valider le site</titre>
       <url>w3c_go_home</url> <!-- nom de l'exec, facultatif, par defaut prend l'id -->
       <args>type=resume&id=1</args>
   </bouton>

</plugin>