<plugin>
  <nom>Alternatives</nom>
  <auteur>
    [Andr&#233; Vincent->http://andre-vincent.info] - &#169; 2006 - Licence GNU/GPL   
  </auteur>
  <version>1.9.1.3</version>
  <etat>stable</etat>
  <description>
    <multi>
      Select this template to make it the default template of your site.
      [fr]
      S&#233;lectionner ce squelette pour l'activer comme squelette par d&#233;faut de votre site.
    </multi>
  </description>
  <lien>http://stages.alternatives.ca/spip.php?article73</lien>
  <prefix>alternatives</prefix>
</plugin>