body {
	background-color: white;
	background-image: none;
}

#entete       /* bandeau - banner */
{
	background-image: url(img/aj-bandeau.jpg);
	height: 140px; /* hauteur du contenu (pour tous les navigateurs) */
}

#entete a.nom-site,
#entete a.nom-site:link,  
#entete a.nom-site:visited
{
	font-family: Verdana, 'Bitstream Vera Sans', Tahoma, "Lucida Grande", "Lucida Sans", Arial, 'Helvetica Neue', Helvetica, Lucida, Geneva, sans-serif;
	color: #EDDF5C;
	background-image: none;
}

#entete a.nom-site:hover
{
	background-image: url(img/aj-bandeau-hover.jpg);
}

#entete .nom-site span  /* on cache le nom du site  */
{
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#bloc-contenu { border: 0; padding: 0; }

#encart, #menu-rubriques { top: 150px; }

/* -------------------------------------------------------
   Changement de couleur de fond pour les menus de navigation
 ------------------------------------------------------- */


/* COULEURS des menus et edito */
.menu-item,
.menu-titre-special, 
.menu-titre,
.menu ul li a, 
.menu ul li b,
.edito h3 { background-color: #AD0C10; }

/* rouge fonce extrait de l'image du bandeau */
.menu ul li { border-top: 1px solid white; }

/* separateur : meme couleur que fond de BODY */
.menu ul li a, 
.menu ul li b,
.edito h3,
.signatures td { background-image: url(img/titre-coin.gif); }

/* background */
.menu ul li li a, 
.menu ul li li a:visited,
.menu li span ,
li.annonce { background-color: white; }

.menu ul li a:hover,
.menu ul li li a:hover,
.menu ul li li a.article:hover { background-color: white; }

.menu ul li li a.lienon { background-color: #EDBFC1; }

.menu ul li li a.article { background-color: white; }

/* -------------------------------------------------------
   Autres changement de couleur et typo
 ------------------------------------------------------- */

#bloc-contenu h3 a,
h3.spip,
h1.titre-article { color: #AD0C10; }

h3.spip
{
	border-color: #6CC;
	border-width: 0 0 1px 0;
	border-style: solid;
}

h1.titre-article
{
	font-family: Georgia, Bookman, Palatino, "Times New Roman", Times, serif;
	font-size: 2.2em;
	font-weight: normal;
	line-height: 1em;
}

#bloc-contenu h3 a
{
	font-size: 1.5em;
	font-family: Georgia, Bookman, Palatino, "Times New Roman", Times, serif;
	font-weight: normal;
}

#bloc-contenu h3.edito-titre 
{
	font: 1.2em/1.4 Verdana, "Trebuchet MS", "Lucida Grande", "Lucida Sans", Tahoma, Arial, 'Helvetica Neue', Helvetica, Geneva, Lucida, sans-serif;
}

#plan .plan-rubrique h3 { background-color: #6CC; }

