 /*  SPIP en español . marzo 2006    */
/*   estilos basados en un diseño de luka cvrk: solucija.com 


*/


body {
  margin: 0;
  padding: 0;
  font: 0.7em Tahoma, Sans-Serif;
  line-height: 1.5em;
  color: #5F6062;
  background-color: #fff;
}

a { 
	color: #4B6D99;
	background: inherit; 
	text-decoration: none;
}

	a:hover {
		color: #494949;
		background: inherit;
	}

h2 { 
	font: bold 140% Arial, Sans-Serif; 
	letter-spacing: -1px; 
	margin: 0 0 2px 0;
	padding: 0; 
	color: #494949; 
//	background: #FFF;
}


p {	
	margin: 0 0 5px 0;
	padding: 0;
}

img {
	border: none;
}

.image {
	float: right;
	margin: 0 0 0 10px;
}

/* content */

.content { 
	margin: 20px auto;
	width: 760px; 
	background: #fff;
	color: #565656;
}
.top {
	height: 35px;
}

.logo {	
	width: 186px; 
	float: left; 
	padding: 0 0 0 4px;
}

.top_links { 
	float: right; 
	padding: 3px 7px 0 0;
	text-align: right; 
	width: 325px;
}

	.top_links a {
		margin: 0 5px 0 5px;
	}

.header_top { 
	height: 6px;
	background: #3C6491 url(cabeceratop.gif) no-repeat top left;  //#3C6491 url(headertop.gif) no-repeat top left;
	color: #FFF;
}

.header { 
	height: 50px; 
	background: #3C6491 url(bigarrow2.gif) no-repeat center left; //#3C6491 url(bigarrow.gif) no-repeat center left;
	color: #E8F2FF;
	padding: 10px 0 0 50px;
}

.header a {
	color: #FFF;
	background: inherit;
}

.header h2 {
	color: #FFF;
	background: #3C6491;
}

.header_bottom { 
	height: 6px;
	background: #3C6491 url(cabecerabottom.gif) no-repeat bottom left;
	color: #FFF;
	margin: 0 0 10px 0;
}

.search {
	float: right;
	padding: 10px 10px 0 0;
}

.right { 
	float: right; 
	margin: 0px 0 10px 0;
	width: 570px; 
}

.right h2 {
	padding: 0;
	margin: 8px 0 4px 0;
}

.left {
	float: left;
	width: 160px;
	margin: 3px 0 10px 0;
}

.menu {
	margin: 0 0 15px 0;
}

/* footer and copyright styling */

.footer { 
	clear: both; 
	text-align: center; 
	color: #c0c0c0;
	background: #FFF url(spip-agua.png) no-repeat center right;
	padding: 10px 0 0 0;
	border-top: 1px solid #eee; 
}

.footer a {
	margin: 0 5px 0 5px;
}

.copyright a {
	color: #808080;
	background: #FFF;
	margin: 0;
}

/* lists styling */

ul { 
	margin: 0; 
	padding : 0; 
	list-style : none; 
}
	
	.menu li { 
		border-bottom: 1px solid #CFD7E1;
		line-height: 28px;
		margin: 0;
		padding: 0 0 0 5px;
	}
	
	.right li { 
		padding: 0 0 0 10px;
		background: #FFF url(square.gif) no-repeat center left;
		color: #565656;
	}
	
	.right li a {
		background: #FFF;
		color: #4B6D99;
	}

		.menu li a {
			background: #FFF url(arrow.gif) no-repeat center left;
			color: #3C6491;
			padding: 0 0 0 10px;			
		}

			.menu li a:hover {
				background: #FFF url(arrowhover.gif) no-repeat center left;
				color: #494949;
			}
			
	
		
.date { text-align: right;}

.info {
 background: url(horizontaldotted.gif) repeat-x bottom left;
}


.more { text-align: right; background: #FFF url(more.gif) no-repeat center left; }

/* form styling */

form { margin: 0; }

form.search {
	padding: 0; 
	margin: 0; 
}

textarea.text { 
	height: 150px; 	
	width: 90%; 
	border: 1px solid #ccc; 
	background: #fff; 
	color: #000;
	padding: 3px;
}

	textarea.text:hover { 
		border: 1px solid #eee; 
		background: #FFFFF4; 
		color: #000;
	}

input.field { 
	border: 1px solid #ccc; 
	background-color: #FFF; 
	width: 200px; 
	color: #000;
}

	input.field:hover { 
		border: 1px solid #eee; 
		background: #FFFFF4; 
		color: #000;
	}

input.text { 
	margin: 0; 
	width: 105px;
	border: 1px solid #7591B5;
	background: #FFF;
	color: #000; 
	padding: 2px;
}

	input.text:hover { 
		background: #f5f5f5;
		color: #000;	
	}

input.searchbutton { 
	margin: 0; 
	font-size: 100%; 
	font-family: Arial, Sans-serif; 
	border: 0; 
	background: #3C6491; 
	color: #E8F2FF; 
	padding: 1px; 
	font-weight: bold; 
}

input.button { 
	background: #3C6491; 
	color: #FFFFFF;
	border: none;
}

.comments { 
	padding: 10px 10px 8px 10px; 
	margin: 0 0 7px 0; 
	background: #f8f8f8; 
	color: #000;
	border-top: 1px solid #e6e6e6;
}

.commentsbox { 
	padding: 8px 0 10px 10px;
	margin: 20px 0 10px 0; 
	background: #f4f4f4; 
	color: #000;
}

.commentsbox h2 {
	color: #494949;
	background: #F4F4F4;
}


/* grey rounded box */

.gbtop {
	background: #f4f4f4 url(greyboxtop.gif) no-repeat;
	color: #5F6062;
	height: 6px;
}

.gb, .chapo {
	background: #f4f4f4 url(greyboxbottom.gif) no-repeat bottom left;
	color: #5F6062;
	padding: 10px 13px 10px 13px;
	margin: 0 0 10px 0;
	min-height: 75px;
}

.gb h2 {
	color: #494949;
	background: #f4f4f4;
	padding: 0;
	margin: 0;
}

/* templates list styling */

.template {
	background: #f2f2f2;
	color: #000;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	height: 70px;
	padding: 10px;
	margin: 5px 0 2px 0;
}

.leftimg {
	float: left;
	border: 3px solid #FFF;
	margin: 0 15px 0 0;
	width: 80px;
	height: 60px;
}

.templatebutton {
	padding: 2px 7px 2px 7px;
	margin: 0 4px 0 0;
	background: #FFFFF4; 
	color: #000;
	text-decoration: none;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.templatebuttonorange {
	padding: 2px 7px 2px 7px;
	margin: 0 4px 0 0;
	background-color: #31D46D;
	color: #FFF;
	text-decoration: none;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.list {
	padding-left: 44px;
	margin: 0 0 17px 10px;
	background: #FFFFFF url(downloads.gif) repeat-y;
	color: #5F6062;
}

.rightimg {
	float: right;
	margin: 0 15px 5px 10px;
}

.code {
	background: #FFFFF4;
	color: #747474;
	padding: 15px;
	border: 1px solid #eee;
}

/* AGREGADOS */
div.reference {
	font-size: 10px;
	line-height: 11px;
	color: #aaa;
	margin-bottom: 3px;
	padding: 0px;
}

div.reference a {
	color: #aaa;
	text-decoration: none;
}

div.reference a:hover {
	color: #cb0206;
}

.nom {
	font-variant: small-caps;
}


#chapo p.spip {
	font-style: italic;
}
.chapo, .articleContent, p.spip {
	text-align: justify;
	font-size: 104%;
}
div.spip_code, pre, blockquote.spip, .spip_cadre {
	border: 1px solid #82a1cd;
	background-color: white;
	margin: 0.7em;
	padding: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	overflow: auto;
	clear: both;
	white-space: nowrap;
	text-align: left;
}
blockquote.spip, div.spip_code {
	white-space: normal;
}
span.spip_code {
	border: 1px solid #82a1cd;
	background-color: white;
	padding-left: 0.3em;
	padding-right: 0.3em;
	text-align: left;
	line-height: 1.4em;
}
.spip_puce {
	margin-top: 0.7em;
}
#notes {
	margin-left: 10%;
	margin-right: 10%;
	font-size: 0.9em;
	margin-top: 2em;
	padding: 0.35em;
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	border: 1px solid #2e62aa;
	background-color: #e0e8f2;
	text-align: justify;
}
p.spip_note {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}
table.spip {
	margin: auto;
	border-spacing: 0;
	border-collapse: collapse;
	border: hidden;
	vertical-align: middle;
}
table.spip tr.row_first {
	background-color: #2e62aa;
	text-align: center;
	color: white;
}
table.spip td {
	padding: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
table.spip tr.row_odd {
	background-color: #e0e8f2;
}
table.spip tr.row_even {
	background-color: white;
}
table.spip tr td {
	text-align: left ;//important ;
}
/** DOCUMENTS JOINTS **/
#documents img {
	border: 0;
	display: block;
	margin: auto;
}
#documents dd {
	float: left;
}
#documents dd a {
	display: block;
}

/** Documents inclus dans le texte */
.spip_documents_center{
	margin: auto; 
	text-align: center;
	width: 80%;
}

.spip_documents_left{
	float: left;
	margin-right: 15px; 
	text-align: center;
}

.spip_documents_right{
	float: right;
	margin-left: 15px; 
	text-align: center;
}

/** AUTEURS **/
.auteur_logo, .profil_logo {
	float: right;
	margin-left: 1em;
}
.auteur_logo .spip_logos {
	max-height: 80px;
	max-width: 80px;
}
.auteur_nom {
	margin-right: 2em;
}
.auteur_nom h4 {
	margin-top: 0;
	font-family: Verdana, "Bitstream Vera Sans", Helvetica, Arial, sans-serif;
	display: inline;
}
.auteur_nom, .auteur_site {
	display: inline;
}
.auteur_bio, .profil_texte {
	margin-right: 1em;
	margin-left: 1em;
}
.auteur_ecrire_switch {
	margin-top: 0.5em;
	display: block;
}
.auteur_ecrire pre {
	white-space: pre;
}
.auteur_form {
	margin-top: 0.8em;
	margin-bottom: 0;
}



.form_destacado {

		padding: 10px;

		margin: 0 0 20px 0;

		background: #A9D4F2;

		color: #246088;

		border-top: 1px solid #4A8EBC;

		border-bottom: 1px solid #4A8EBC;

	}


.bloquecitos {

		border: 1px solid #eee;

		padding: 8px;	

		margin: 0 0 10px 0;

	}
	

.bloquecitos:hover {
		border: 1px solid #ccc;

}

		
.detacado_box {

		background: #f4f4f4;

		color: #000;

		border: 1px solid #ccc;

		padding: 10px;

	}


#destacado1 {
	clear: both;
	margin: 0 auto;
	margin-bottom: 13px;
	padding: 10px;
	background: #3C6491 url(degrade.png) repeat-x top left;
	color: #FFF;
}

#destacado1 a{ 
		
	color: #FFF;
	text-decoration: underline;
}


#destacado1 a:hover{ 
		
	color: #CCC;
	text-decoration: underline;
}

#destacado1 h2, h3 {
	color: #FFF;
	//border-bottom: 2px solid #FFF;
}

#destacado1 a.h2 {
border-bottom: 2px solid #FFF; 
}

#caja_izquierda { 
	float: left;
}

#caja_derecha {

	float: right;
}

#caja_derecha, #caja_izquierda {
	width: 255px;
	margin: 5px 0px 5px 0px;

	padding: 5px 13px 20px 10px;

	border-top: 1px solid #DDD;

	border-bottom: 1px solid #DDD;

	background: #eee url(lijevo.gif) repeat-x;

	color: #5D5D5D;

	line-height: 1.5em;

}




#caja_derecha p, #caja_izquierda p {

	margin: 0px;

	font-size: 90%;

}


#caja_derecha h3, #caja_izquierda h3 {
	font-size: 12pt;	
	color: #3C6491; //#6882A5;
}
#caja_derecha a, #caja_izquierda a {

	display: block;

	height: 12px;

	padding-bottom: 4px;

	margin-bottom: 2px;

	border-bottom: 1px solid #ccc;

}


.pagination {background: #f2f2f2;color:#666;padding: 4px 2px 4px 7px;border: 1px solid #ddd;margin: 8px 0 1.5em}

	.pagination p {position:relative;text-align:right}

	.pagination p a:link, .pagination p a:visited, .pagination p a:hover, .pagination p a:active {text-decoration:none;background:#fff;padding:2px 5px;border: 1px solid #ccc}

	.pagination p a:hover {background:#A9D4F2;color:#fff}

	.pagination p span {text-decoration:none;background:#fff;padding:2px 5px;border: 1px solid #ccc;color:#ccc}

	.pagination * {margin:0}

	.pagination h4 {margin-top:-1.45em;padding:0;border:none}


.datum {

	padding-top: 2px;

	height: 30px;

	margin: 5px 0 6px 0;

	border-top: 1px solid #eee;

	font-size: 80%;

	text-transform: uppercase;	

	color: #808080;

}


c
