<plugin>
	<nom> <!-- Nom du plugin -->
	Sarka SPIP
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	[Sylvain Bell&eacute;go->http://sylvain.bellego.free.fr/]
_ Juillet 2006 - Distribu&eacute; sous licence GNU/GPL.
	</auteur>
	<version>1.2.1c11</version>
	<etat>stable</etat>
	<description>
	Habillage tr&egrave;s complet. Voir [le site officiel->http://sarka-spip.com] pour en apprendre plus.
	</description>
	<prefix>sarka</prefix>
</plugin>