/**
 * Modules : formulaires
**/

/**
 * =====================================================
 * Styles en commun à tous les formulaires (SPIP ou pas)
 * =====================================================
 */

// Label
label {
	display: block;
	font-weight: bold;
	margin-bottom: $bs/2;
}

// Tous les inputs
input,
textarea,
select {
	margin: 0;
	font-size: 1em;
	line-height: $bs;
}

// Les inputs avec un cadre (+chosen)
textarea,
input[type=text],
input[type=password],
input[type=email],
input[type=telephone],
select,
[class*=chosen-container] .chosen-single {
	width: 100%;
	max-width: 100%;
	background-color:white;
	border: $bs/3/8 solid grey;
	border-radius: 3px;

	&:focus {
		background-color: white;
		border-color: color(texte);
	}
}

// les inputs sur une seule ligne (+ chosen)
input.text,
input[type=text],
input[type=password],
input[type=email],
input[type=telephone],
select,
[class*=chosen-container] .chosen-single {
	height: $bs*2;
  padding-left: $bs/2;
  padding-right: $bs/2;
}

// Les boutons
button,
input.submit,
input[type=submit] {}

// Textareas
textarea {}

// Fieldsets
fieldset {
	legend {}
}

// Chosen
[class*=chosen-container] {
  .chosen-single {
    // flèche
    div b {}
  }
}

/**
 * ===========================
 * Formulaire fournis par SPIP
 * ===========================
 */
.formulaire_spip {
	clear: both;

	// Message de retour
	.reponse_formuaire {
		&_ok {}
		&_erreur {}
	}

	// Tous les messages d'explication (en dehors et à l'intérieur des saisies)
	.explication {}

	// Conteneur des saisies
	.editer-groupe {}

	// Conteneur d'une saisie
	.editer {
		margin-bottom: $bs;

		// Obligatoire
		&.obligatoire {}

		// En erreur
		&.erreur {}
		.erreur_message {}

		// Explication dans une saisie
		.explication {}
	}

	// Choix : radio, checkbox
	.choix {
		label {
			display: inline;
			font-weight: normal;
		}
	}

	// Boutons du formulaire
	.boutons{
		padding: $bs;
		text-align:center;
	}
}


/**
 * ===========================
 * Des formulaires SPIP précis
 * ===========================
 */

// .formulaire_contact {