/**
 * Formulaires - styles communs
**/


label{
	display:block;
	font-weight:bold;
}
textarea, input[type=text], input.text, select {
	width: 100%;
	max-width: 100%;
	margin: 0;
	background-color:white;
	border: bs(1)/3/8 solid grey;
	border-radius:3px;
	font-size:1em;
	line-height: bs(1);

	&:focus{
		background-color: white;
		border-color: $couleur-texte;
	}
}


/* Formulaire fournis par SPIP */
.formulaire_spip{
	clear: both;

	.editer-groupe {}
	.editer {
		margin-bottom: bs(1);

		&.erreur {}
		.erreur_message {
		}
	}
	.choix{
		label{
			display: inline;
			font-weight: normal;
		}
	}
	.boutons{
		padding: bs(1);
		text-align:center;
	}
}
