/**
 * Illustrations et galeries
**/

// Toutes les images
img {
  max-width: 100%;
  height: auto;
}

// Images SPIP et variantes (<dl>)
.spip_documents {
  margin-top: 0;
  margin-bottom: $bs * 2;
  text-align: center;

  // Flottantes
  &_left,
  &_right {}
  @include g-state(tablet-up) {
    &_left,
    &_right {
      max-width: 50%;
    }
    &_left {
      float: left;
      padding-right: $bs;
    }
    &_right {
      float: right;
      padding-left: $bs;
    }
  }

  // Centrées
  &_center {}

}

// La balise conteneur de l'image (sans classe... youpi)
.spip_documents dt:first-of-type {
  margin-bottom: $bs/2;
}

// Titre, descriptif et cie
[class^=spip_doc_] {
  width: auto !important; // Obligé, taille en dur dans le HTML ...
  margin-bottom: $bs/2;
  margin-left: 0;
}

// Titre (<dt>)
.spip_doc_titre {}

// Descriptif (<dd>)
.spip_doc_descriptif {}

// Crédits (<dd>)
.spip_doc_credits {}