/**
 * Module : Liens qui prennent couvrent tout leur conteneur
 */

 .link-block-wrapper{
	position: relative;

	a {
		position: inherit;

		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
		}
	}
}