/**
 * Module : listes
 */

// Mixin de reset
@mixin list-none() {
	list-style: none;
	margin-left: 0;

	li:before {
		content: '';
	}
}

/**
 * Listes d'objets utilisées dans les trucs Z
 */
// Conteneur général
.liste {

	// =========
	// Variantes
	// =========

	&.articles {}
	&.rubriques {}
	&.evenements {}
}

// Titre de la liste
.titre-liste{}

// Les items
.liste-items {
	@extend .list-none;

	.item {
	}
}
