@import url('pulldownmenu.css');

div#rollupmenu {
	position: absolute;
	left: 52%;
	margin-left: -230px;
}

div.submenu {
	filter: alpha(opacity=80);
	opacity: 0.8;
}

ul.forie-pulldownmenu li {
	line-height: 9px;
	margin: 0px;
	padding: 2px;
}

div.navibar span {
	text-align: left !important;
}

div.quote li {
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}
