div.navibar {
	width: 740px;
	background-color: #444;
	padding: 4px 10px;
	color: black;
	margin: 0px auto;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
}

div.navibar a {
	font-family: Verdana, "Bitstream Vera Sans", Sans-Serif;
	font-size: 9px;
	text-decoration: none;
	padding: 2px 7px;
}

div.navibar a:link {
	color: #777;
}

div.navibar a:visited {
	color: #888;
}

div.navibar a:hover {
	border-bottom: 2px solid #aaa;
}

div#leftcolumn ul#quickmenu {
	margin: 0px;
	padding: 0px;
	}

ul#quickmenu li {
	list-style-type: none;
	list-style-image: none;
	margin: 0px;
}

ul#quickmenu li span {
	color: #555;
	font-family: Verdana, "Bistrtream Vera Sans", Sans-Serif;
	font-size: x-small;
	letter-spacing: 2px;
	display: block;
	width: 160px;
	background-color: #fafafa;
	border-top: 1px solid #ddd;
	margin: 0px;
	padding: 4px 9px 4px 9px;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}

ul#quickmenu li a {
	color: #555;
	font-family: Verdana, "Bistrtream Vera Sans", Sans-Serif;
	font-size: x-small;
	text-decoration: none;
	letter-spacing: 2px;
	display: block;
	width: 160px;
	background-color: #eee;
	border-top: 1px solid #ddd;
	margin: 0px;
	padding: 4px 10px;
}

ul#quickmenu li a:hover {
	border-left: 4px solid #555;
	border-right: 4px solid #555;
	padding-left: 6px;
	padding-right: 6px;
	color: black;
}
