div#rollupmenu {
	width: 620px;
	height: 100px;
	margin-left: auto;
	margin-right: 10px;
	position: relative;
	z-index: +1;
	background-color: transparent;
}

ul.pulldownmenu {
	position: absolute;
	line-height: 1em;
	width: 620px;
	margin: 0px;
	display: inline;
	top: 45px;
	right: 0px;
	opacity: 0.8;
}

ul.pulldownmenu>li {
	width: 120px;
	font-size: 9px;
	text-transform: uppercase;
	font-family: Verdana, "Bitstream Vera Sans", Sans-Serif;
	text-align: left;
	display: block;
	float: right;
	margin: 0px !important;
}

ul.pulldownmenu a {
	color: white;
	font-weight:bold;
	display: block;
	text-decoration: none;
	margin: 0px;
	padding: 0px 5px 18px 5px;
	border-left: 1px dotted white;
}

ul.pulldownmenu a:hover {
	border-left: 4px solid #555;
	padding: 0px 5px 16px 2px;
	color: white;
}

ul.pulldownmenu ul a {
	padding: 4px 8px 4px 8px;
	border: 0px;
}

ul.pulldownmenu ul a:hover {
	padding: 4px;
	border-left: 4px solid #555;
	border-right: 4px solid #555;
	background-color: transparent;
	color: #aaa;
}



div.submenu {
	left: 0px;
	position: relative;
	text-align: left;
	padding: 0px;
	background-color: #2e5795;
	
	text-transform: none;
	color: white;
	overflow: visible;
	z-index: +1;
}

div.submenu ul {
	margin: 0px;
	padding: 0px;
	border-left: 1px dotted #777;
	border-right: 1px dotted #777;
}

div.submenu li {
	list-style-type: none;
	list-style-image: none;
}

div.submenu a {
	display:block;
	padding: 4px;
}

div.submenu a:hover {
	background-image: none;
	background-color: #fcc24f;
	color: black;
}

div#menu1Container, 
div#menu2Container, 
div#menu3Container,
div#menu4Container, 
div#menu5Container,  {
	visibility: hidden; /* kdyz neumi/je vyplej javascript */
}
