body {  
	position: relative;
	margin: 10px auto; 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	color: #CC6600; 
	background-color:#FEF6E8;
	width: 760px;
}

a {
	text-decoration: none;
	color:#4682B4;
}

a:hover {
	color:red;
	text-decoration: none;
}

a:link {
	color:#4682B4;
	text-decoration: none;
}


a[href^="mailto:"]{
	background-image: url(../images/icon_mail.gif);
	padding-right: 25px;
	background-position: right;
	background-repeat: no-repeat;
}


a.accueil {
	display: block;
	padding: 10px 5px 0px 0;
	padding /**/: 10px 10px 5px 0;
	color: #CC6600;
	font-size: 13px;
	text-decoration: none; 
	text-align:justify;
}

a.chapo {
	color: #CC6600;
	text-decoration: none; 
	display: block;
}

.chapo {
	text-align:justify;
	font-style: italic;
}

.knowmore, a.knowmore {
	padding: 10px 10px 15px 10px;
	color: red;
}

.description {
   margin: 1px;
   color: #ffffff; 
   font-size: 15px;
   font-weight: 700;
}

.fielderror{ 
	color: red;
}

.fieldreq { 
	color: #CC6600;
}

.forml { width: 100% ; background-color: #FFDDAA;}


#content form{
	text-align:right;
	margin: 20px 130px 0px 0px;
}

#content #formLivre form{
	width:95%;
	margin:auto;
	text-align:left;
}

.spip_encadrer{
	border-color: #cc6600;
}

#page, #page_sommaire {
	position: relative;
	margin: 0px auto; 
}

#header {
	display: block;
	margin: 0px;
	width: 100%;
	height: 128px;
	background: url(../images/top-2.png);
}

#footer {
	position: relative; 
	height: 48px;
	background: url(../images/bottom.png);
	background-repeat: no-repeat; 
}

#footer #knowmore, #footer #knowmore a, #footer #knowmore a:hover, #footer #knowmore a:link {
	color: #ffffff; 	
}

#footer #knowmore {
	text-align: right;
	padding: 30px 20px
}

#news{
	float:left;
	padding: 10px 0px 0px 10px; 
	border-left: 2px solid #204883;
	width:298px; /*A cause de la bordure de 2px*/
	height: 334px;
	overflow: auto;
	background-color: #fff6e2;
}

#anim{
	float:right; 
	width:450px; 
	height: 344px;
}

.clear{
	clear: both;
}

#position {
	border-top: 1px solid #82a1cd;
	border-bottom: 1px solid #82a1cd;
}

#content{
	border-left: 2px solid #204883;
	border-right: 2px solid #5281bd;
	padding: 15px 15px;
	background-color: #fff6e2;
	}

.texte{
	text-align: justify;
}

h1 {  
	font-size: 36px; 
	margin: 0px; 
	padding: 0px;
	line-height: 36px; 
	width: 95%; 
	border-color: black black #0099FF; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 1px; 
	border-left-width: 0px
}

h2 {  
	font-size: 24px; 
	margin: 20px 0px 10px 0px; 	
	padding: 0px;
	line-height: 24px; 
	border-color: black black #0099FF; 
	width: 100%; 
	border-style: dashed; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 2px; 
	border-left-width: 0px; 
	color: #4682B4;
}

h3 {  
	font-size: 18px;
	margin: 20px 0px 10px 0px; 
	padding: 0px; 
	line-height: 18px; 
	width: 100%; 
	border-color: black black #66CCFF; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 1px; 
	border-left-width: 0px; 
	color: #4682B4;
}

h4 {  
	font-size: 16px; 
	margin: 0px; 
	padding: 0px; 
	line-height: 18px;
}

h5 {  
	font-size: 12px; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px; 
	padding-top: 0px; 
	padding-right: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px; 
	line-height: 14px;
}

h6 {  
	font-size: 9px; 
	margin: 0px; 
	padding: 0px; 
	line-height: 11px;
}

br {  
	margin-top: 1px; 
	margin-right: 0px; 
	margin-bottom: 1px;
	margin-left: 0px; 
	padding-top: 0px; 
	padding-right: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px}

hr {  
	font-size: 2px; 
	line-height: 2px; 
	height: 2px; 
	border-color: black black red; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 2px; 
	border-left-width: 0px;
}

ul.plan-rubriques {
	padding-left:0px;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:3px;
}
 
li.plan-rubriques {
	list-style:none;
	margin-left:30px;
	margin-top:5px;
	margin-bottom:3px;
}

.spip_documents{
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

.spip_documents_center {
	text-align: center;
	padding: 10px 0px;
}

table, table.spip {
	text-align: justify;
	margin-top : 3px;
	margin-bottom : 3px;
	padding: 0em;
}

table.spip {
	width: 98%;
}

table.spip tr.row_first {background-color: #FFFFFF}
table.spip tr.row_odd {background-color: #FFFFFF}
table.spip tr.row_even {background-color: #e5f0fa}

blockquote.spip {
	margin-left : 40px;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-right: 0px;
	border : solid 1px #aaaaaa;
	background-color: #ffffff;
	padding: 5px;
}

#about,#about2, #about3 {
	display:block;
	font-size: 10px; 
}

#header #titre-site, #header #titre-url{
	display: none;
}




