/* Tableaux */
table.spip {
	max-width:       99%;
	margin-right:    auto;
	margin-left:     auto;
	margin-bottom:   $typo-margin-vertical;
	border-collapse: collapse;
	border-spacing:  0;
	line-height:     normal;
}

table.spip caption {
	caption-side: top; /* bottom pas pris en compte par IE */
	text-align:   center;
	margin-right: auto;
	margin-left:  auto;
	font-weight:  bold;
}

table.spip tr:nth-child(odd) {
	background: white;
}

table.spip tr:not(even) {
	background: #f9f9f9;
}

table.spip th, table.spip td {
	padding:    0.20em 0.40em;
	text-align: left;
	border:     1px solid #ccc;
}

table.spip th {
	background:     #eee;
	vertical-align: top;
	font-weight:    bold;
}

table.spip td {
	vertical-align: top;
}

table.spip td.numeric {
	text-align: right;
}

/* ajax */
/* loading ajax */
.bugajaxie {
	display: none;
}

.ariaformprop,
.ajaxbloc {
	position: relative;
}

.ariaformprop .image_loading,
.ajaxbloc .image_loading {
	position: absolute;
	top:      0;
	right:    0;
}

/* Modeles par defaut */
.spip_modele {
	float:   right;
	display: block;
	width:   25%;
	border:  1px dotted #666;
}

.spip_documents {
	margin-bottom: $typo-margin-vertical;
	text-align:    center;
	font-size:     90%;
	.spip_doc_titre {
		margin: 0.8em auto 0 auto;
	}
}

@media print {
	.pagination {
		display: none;
	}
	.spip-admin,
	#spip-admin {
		display: none;
	}
}

/* Boutons action */
.bouton_action_post,
.bouton_action_post > div {
	display: inline;
}

/* pas de bouton fullscreen dans la barre typo sur le front */
.markItUpTabs a.fullscreen {
	display: none;
}

.spip_surligne {
	background:  #6f6f6f;
	color:       white;
	font-weight: bold;
	padding:     0px 2px;
}

/* documents */
.spip_documents {
	text-align: center;
	@include text-block();
}

.spip_documents_center {
	clear:        both;
	width:        100%;
	margin-left:  auto;
	margin-right: auto;
}

span.spip_documents_center {
	display: block;
	//margin-top: 1em;
}

.spip_documents_left {
	float:        left;
	margin-right: 1em;
}

.spip_documents_right {
	float:       right;
	margin-left: 1em;
}

.spip_doc_titre, .spip_doc_descriptif {
	margin-left:  auto;
	margin-right: auto;
}

.spip_doc_descriptif {
	clear: both;
}

@include media($bp-medium) {
	.spip_documents_left,
	.spip_documents_right {
		float:       none;
		margin-left: 0;
		text-align:  center;
	}
}

.spip_documents .oembed {
	background: none;
	padding:    0;
	border:     none;
}

/* Barre de raccourcis typographiques */
table.spip_barre {
	width: 100%;
}

table.spip_barre a img {
	background: #FDA;
	padding:    3px;
	border:     1px outset #999;
}

table.spip_barre a:hover img {
	background: #FFF;
	border:     1px solid #999;
}

table.spip_barre input.barre {
	width:      100%;
	background: #EEE;
}

//br.autobr {
//	display: none;
//}