body {
	background-color: #000000;
	padding: 0px;
	margin: 0%;
}

#Cadre {
	position:absolute;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px; /* moitié de la hauteur */
	margin-left: -200px; /* moitié de la largeur */
	min-height: 400px;
}

#Conteneur {
	height: 400px;
	width: 400px;
}

.menusom {
	float: left;
	height: 190px;
	width: 190px;
	padding-top: 10px;
	padding-right: 10px;
}


#BlocTitre4 {
	float: left;
	height: 190px;
	width: 190px;
	margin-bottom: 19px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: .8em;
	text-align: left;
}

#BlocTitre4 h2 {
	font-size: 1.2em;
	color: #0000FF;
	margin: 0px;
	padding: 0px;
}

#BlocTitre4 a:link, #BlocTitre4 a:active, #BlocTitre4 a:visited {
	font-size: 0.8em;
	color: #0000FF;
	text-decoration: underline;
}

#BlocTitre4 a:hover {
	font-size: 0.8em;
	color: #CCC;
	text-decoration: underline;
}

#BlocTitre2 {
	float: left;
	height: 190px;
	width: 190px;
	margin-bottom: 19px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: .8em;
	text-align: left;
}

#BlocTitre2 h2 {
	font-size: 1.2em;
	color: #FF0000;
	margin: 0px;
	padding: 0px;
}

#BlocTitre2 a:link, #BlocTitre2 a:active, #BlocTitre2 a:visited {
	font-size: 0.8em;
	color: #FF0000;
	text-decoration: underline;
}

#BlocTitre2 a:hover {
	font-size: 0.8em;
	color: #CCC;
	text-decoration: underline;
}

#BlocTitre2 li {
	list-style-image: url(../_imgs/puce_rouge.gif);
	font-size: .8em;
	margin: 0px;
	padding: 0px;
}

#BlocTitre3 {
	float: left;
	height: 190px;
	width: 190px;
	margin-bottom: 19px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: .8em;
	text-align: left;
}

#BlocTitre3 h2 {
	font-size: 1.2em;
	color: #00FF00;
	margin: 0px;
	padding: 0px;
}

#BlocTitre3 a:link, #BlocTitre3 a:active, #BlocTitre3 a:visited {
	font-size: 0.8em;
	color: #00FF00;
	text-decoration: underline;
}

#BlocTitre3 a:hover {
	font-size: 0.8em;
	color: #CCC;
	text-decoration: underline;
}

#BlocTitre3 li {
	list-style-image: url(../_imgs/puce_verte.gif);
	font-size: .8em;
	margin: 0px;
	padding: 0px;
}

#BlocTitre4 ul, #BlocTitre2 ul, #BlocTitre3 ul {
	margin: 0px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 20px;
}

#BlocTitre4 li {
	list-style-image: url(../_imgs/puce_bleu.gif);
	font-size: .8em;
	margin: 0px;
	padding: 0px;
}

#Menu {
	float: left;
	width: 190px;
	height: 190px;
}

.menubouton {
	float: left;
	height: 90px;
	width: 90px;
	margin-right: 5px;
	margin-bottom: 5px; 
}

#ColDroiteTexte {
	width: 200px;
	height: 400px;
	float: right;
	background-color: #FFFFFF;
}

#ColDroiteTexte4 {
	width: 200px;
	height: 400px;
	float: right;
	background-color: #0000FF;
}

#ColDroiteTexte2 {
	width: 200px;
	height: 400px;
	float: right;
	background-color: #FF0000;
}

#ColDroiteTexte3 {
	width: 200px;
	height: 400px;
	float: right;
	background-color: #000;
	text-align: center;
}

#ColDroiteTexte3 form {
	width: 180px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	text-align: left;
	color: #00FF00;
}

#ColDroiteTexte3 input, #ColDroiteTexte3 textarea {
	border: 1px solid #00FF00;
	width: 100%;
	color: #00FF00;
	background-color: #000000;
}

#ColDroiteArt {
	width: 190px;
	height: 400px;
	float: right;
}

#ColDroiteArticle {
	width: 200px;
	height: 400px;
	float: right;
}

#ColDroiteArticle img {

}

#ColDroiteSite {
	width: 200px;
	height: 400px;
	float: right;
	/* border: 1px solid #FFFFFF; */
}

#ThemeTitre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	height: 15px;
}

.BtnTravaux {
	width: 200px;
	height: 190px;
	/* border: 1px solid #99FF00; */
	display: block;
	min-height: 190px;
}

div.floatleft {
	float: left;
	margin-left: 5px;
}

div.SepaArt {
	width: 200px;
	height: 5px;
	display: block;
}

div.SepaMot {
	width: 200px;
	height: 5px;
	display: block;
}

.Reponses {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FF0000;
}
