/*  Entete -  ajout boussole  */
#boussole {  text-align: center; width: 330px; margin: 5px auto; padding: 0px;height: 160px; ;
	border: 1px inset #CCC; background: #fafaff; -moz-border-radius: 1em; }
#boussole a  { display: table-cell; width: 47px; height: 70px; float: left; 
	margin: 0px 0px 2px 0; padding: 0px 0px 0px 0; vertical-align: top; text-align: center; font-size: 10px;
	border: none; text-decoration: none; behavior: url(win_png.htc); }
#boussole a .spip_logos {margin:6px 0px 2px 3px; padding: 0;}