<plugin>
	<nom>SPIP logo - Thème</nom>
	<version>1.0.1</version>
	<etat>dev</etat>
	<auteur>cym</auteur>
	<licence>GPL</licence>
	<prefix>spiplogo_theme</prefix>
	<description>du gris pour la neutralité...</description>
	<icon>spip.png</icon>
	<!-- nom d'affichage pour zen-garden -->
	<utilise id="spipr" version="[0.1.0-dev;]" />
	<!-- surcharger ces plugins, si activé depuis SVP -->
	<utilise id="spipr_dist" version="[0.2.0-dev;]" />
	<utilise id="bootstrap" version="[1.0.0;]" />
	<categorie>theme</categorie>
</plugin>
