.liste-items .renvoi-article,.liste-items .document,.mots-article,.spip_logos{
    margin:0.5ex;
    padding:0.5ex;
    width:30%;
    text-align:center;
    clear:none;
}
.liste-items .document{width:180px;
}
.liste-items .retour-non, .liste-items .retour-oui{
    float:left;
    } 
.liste-items .retour-oui{
    clear:both}
.liste-items .retour-oui{
    clear:none}