<plugin>
	<nom>Squelette "collezion"</nom>
	<slogan>Pr&#233;senter facilement une collection d'objets</slogan>
	<auteur>[Ma&#239;eul Rouquette->http://www.maieul.net]</auteur>
	<licence>2009 - GPL</licence>
	<version>2.1.1</version>
	<version_base>0.5</version_base>
	<etat>stable</etat>
	<description>
Le squelette &#171; Collezion &#187; est une adaptation en Z du squelette &#171; [collection->http://contrib.spip.net/Squelette-collection,3148] &#187;. Il a donc les m&#234;mes fonctionalit&#233;s, mais distingue le fond de la forme selon le principe des squelettes Z. Ainsi l&#8217;ensemble des th&#232;mes de ZPIP sont utilisables.

L&#8217;id&#233;e est de pr&#233;senter une collection d&#8217;objets physiques, comme par exemple des schtroumpfs en latex.
	</description>
	<prefix>collection</prefix>
	<options>collection_options.php</options>
	<fonctions>collection_fonctions.php</fonctions>
	<necessite id="CFG" version="[1.13;]" />
	<necessite id="critere_mots" />
	<necessite id="saisies" version="[1.0;]" />
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<necessite id="spip_bonux" />
	<utilise id="ThickBox2" />
	<utilise id="tablesorter" />
	<necessite id="Z" />
	<utilise id="sondages" />
	<utilise id="skiplink" />
	<utilise id="pages" />
	<install>base/collection_upgrade.php</install>
	<lien>https://contrib.spip.net/Squelette-Collezion</lien>
	<categorie>squelette</categorie>
</plugin>
