<plugin>
    <nom>Squelette Blog’n Glop</nom>
    <slogan>Squelette de mise en page simple pour des sites de type « blog »</slogan>
    <auteur>[El Murciélago->http://spipistrelle.clinamen.org], [Denis Chenu->http://shnoulle.gsill.net]</auteur>
    <licence>&#169; 2009-2011 - GNU/GPL</licence>
    <version>2.0.2</version>
    <etat>test</etat>
    <icon>blognglop.png</icon>
    <description>Squelette Blog'n Glop version Plugin.

	Pour personnaliser le plugin, vous pouvez consulter la documentation du squelette.

	Pour une configuration plus facile, ce squelette utilise les plugins [config (cfg)->http://contrib.spip.net/?rubrique575] et [palette->http://contrib.spip.net/?rubrique1118]</description>
    <lien>https://contrib.spip.net/?rubrique322</lien>

    <prefix>blognglop</prefix>

    <fonctions>blognglop_fonctions.php</fonctions>
    <options>blognglop_options.php</options>
    
    <categorie>squelette</categorie>
    <necessite id="SPIP" version="[2.0.0;2.0.99]" />
    <utilise id="cfg" version="[1.10.2;]" />
    <utilise id="palette" version="[1.2.1;]" />
</plugin>
