<plugin>
	<nom>Sarka-SPIP Spring</nom>
	<auteur><a href='http://www.zest.shizuka.fr'>_Shizuka_</a></auteur>
	<licence><a href='http://creativecommons.org/licenses/by/2.5/' rel='licence'>Creative Commons Attribution 2.5</a></licence>
	<version>0.1.0</version>
	<slogan>Th&#232;me Sarka-SPIP 3 pour le printemps</slogan>
	<description>Un th&#232;me original de la s&#233;rie des 4 saisons en layout fixe de 1024 pixels. Les colonnes peuvent se placer aussi bien &#224; gauche qu'&#224; droite.</description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme_sarka_spring</prefix>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>