<plugin>
<nom>distroy</nom>
<version>2.0.0</version>
<etat>test</etat>
<icon>icon.png</icon>
<description>Du pass&eacute; faisons table rase. Projet de destruction de la dist de SPIP.</description>
<auteur>[romy.tetue.net->http://romy.tetue.net] - 2011</auteur>
<licence>GNU/GPL</licence>
<prefix>distroy</prefix>
<necessite id="SPIP" version="[2.1.0 dev;)" />
<necessite id="basecss" version="[2.0.0;]" />
</plugin>