<plugin>
<nom>distroy</nom>
<version>2.1.3</version>
<etat>test</etat>
<icon>prive/icon.png</icon>
<description>Du pass&eacute; faisons table rase. Projet de destruction des squelettes par d&eacute;faut de SPIP, vous savez, ceux de la &laquo;&nbsp;<acronym title="distribution">dist</acronym>&nbsp;&raquo;...</description>
<auteur>[romy.tetue.net->http://romy.tetue.net] - 2011</auteur>
<licence>GNU/GPL</licence>
<prefix>distroy</prefix>
<necessite id="SPIP" version="[2.1.0 dev;)" />
<necessite id="basecss" version="[2.0.3;]" />
</plugin>