/* ------------------------------------------ */
/*                                            */
/*           MOODBOARD CSS by haploos         */
/*               Licence GNU/GPL              */
/*       http://haplooswebdesign.free.fr      */
/*                                            */
/* ------------------------------------------ */


/* -------------------------- */
/*         SPIP LAYOUT        */
/* -------------------------- */

.page { width: 940px; }
.texte { text-align: justify; }

.page_sommaire .page,
.page_articles .page,
.page_rubriques .page,
.page_rubrique .page { padding-left: 2%; padding-right: 2%; width: inherit;  }

.page_sommaire .wrapper,
.page_articles .wrapper,
.page_rubriques .wrapper,
.page_rubrique .wrapper { width: 80%; }

.page_sommaire .aside,
.page_articles .aside,
.page_rubriques .aside,
.page_rubrique .aside { width: 18%; }

.page_sommaire #formulaire_recherche,
.page_articles #formulaire_recherche,
.page_rubriques #formulaire_recherche,
.page_rubrique #formulaire_recherche { right: 3%; }

.page_about .wrapper { width: 100%; }

.footer .colophon { width: 60%; }
.footer .generator { color: #AAAAAA; float: right; margin-bottom: 0; text-align: right; width: 40%; }
.generator a { color: #AAAAAA; }
.generator a:focus,
.generator a:hover,
.generator a:active { color: #990000; }


/* -------------------------- */
/*     MOODBOARD STYLE        */
/* -------------------------- */


/* NO SCRIPT
----------------------------- */
.noscript_mb {
	border: 2px dashed #F57900;
	font-size: 18px;
	line-height: 24px;
	margin: 2em 4% 6em;
	padding: 0.75em;
	text-align: center;
}


/* FEED
----------------------------- */
.feed_mb  { margin: 5px 0; }
.logo_feed_mb { vertical-align: text-bottom; }
.text_feed_mb {}


/* INFOBAR
----------------------------- */
.infobar_md {
	margin: 0 0 1.5em;
	padding: 0 10px;
}
.content_infobar_md {
	float: left;
	padding: 4px 0;
	width: 100%;
}

.tri_mb {
	float: left;
	margin-top: 5px;
	min-width: 216px;
	text-align: left;
	width: 50%;
}
.pagination_mb {
	float: right;
	margin-top: 5px;
	min-width: 216px;
	text-align: right;
	width: 50%;
}

/* .page_sommaire */
.page_sommaire .pagination_mb {
	float: left;
	text-align: center;
	width: 100%;
}
.page_sommaire .pagination_mb a {
	background: #EED;
	text-decoration: none;
}
.page_sommaire .pagination_mb a:focus,
.page_sommaire .pagination_mb a:hover,
.page_sommaire .pagination_mb a:active {
	background-color: #900;
	color: #FFF;
	text-decoration: none;
}
.page_sommaire .pagination_mb .on {
	background: none repeat scroll 0 0 #222222;
	color: #FFFFFF;
	font-weight: bold;
}
.page_sommaire .pagination_mb a, .page_sommaire .pagination_mb .on {
	margin: 0 1px;
	padding: 0.2em 0.5em;
}
.page_sommaire .pagination_mb .sep { display: none; }


/* PINS
----------------------------- */
#articles_mb {}
#pins_mb { list-style-type: none; margin: 0 0 2em; position: relative;}

/* .pin_mb */
.pin_mb { background: none repeat scroll 0 0 #F8F8F8; border-radius: 3px 3px 3px 3px; box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); cursor: pointer; display: none; width: 236px; }
.pin_mb a { color: #333333; display: inline-block; width: 236px;}
.pin_mb a:focus, .pin_mb a:hover, .pin_mb a:active { background-color: #FFFFFF; border-radius: 3px 3px 3px 3px; color: #333333; display: inline-block; opacity: 0.85; text-decoration: none; width: 236px; }
.pin_mb h2 { font-family: Arial,Helvetica,sans-serif; font-size: 0.9em; font-variant: small-caps; line-height: 1.2em; margin: 15px; text-align: left; width: 216px; }
.pin_mb h3 { color: #6F777D; font-size: 0.7em; margin: 0 15px 15px; text-align: left; width: 206px;}
.pin_mb small { border-top: 1px solid #E7E7E7; color: #AAAAAA; display: inline-block; font-size: 0.68em; margin: 0; padding: 4px 15px 8px; text-align: left; width: 206px;}

/* .logo_pin_mb */
.logo_pin_mb { display: inline-block; margin: 0; padding: 0; width: 236px; }
.logo_pin_mb img { border-bottom: 1px solid rgba(0, 0, 0, 0.1); border-radius: 3px 3px 0 0; display: block; margin: 0 auto; padding: 0; width: 236px; }
.logo_pin_mb img:hover {}

/* .text_pin_mb */
.text_pin_mb { display: inline-block; margin: 0; padding: 0; width: 236px; }


/* BOARDS
----------------------------- */
#rubriques_mb {}

/* .boards_mb */
.boards_mb { margin: 0 auto; position: relative;}

/* .board_mb */
.board_mb { height: 249px; width: 236px; }
.board_mb a { padding: 10px; width: 216px;}
.board_mb a:focus, .board_mb a:hover, .board_mb a:active { border-radius: 3px 3px 3px 3px; width: 216px; }

/* .text_board_mb */
.text_board_mb { display: block; height: auto; margin: 0 3px 6px; position: relative; text-align: center; }
.text_board_mb h2 { font-size: 18px; font-weight: bold; margin: 0; }

/* .logo_board_mb */
.logo_board_mb { clear: both;
	height: 146px;
	overflow: hidden;
	position: relative;
	width: 216px; }
.logo_board_mb img { border-radius: 3px 3px 3px 3px; display: block; margin: 0 auto;}

/* .thumbs_board_mb */
.thumbs_board_mb { height: 51px; margin: 4px 0 0;}
.thumbs_board_mb ul {}
.thumbs_board_mb ul li:first-child { margin-left: 0; }
.thumbs_board_mb ul li { display: inline;
	float: left;
	height: 51px;
	margin-left: 4px;
	position: relative;
	width: 51px; }
.thumbs_board_mb img { border-radius: 3px 3px 3px 3px; }

/* .hovermask_mb */
.hovermask_mb {
	border-radius: 3px 3px 3px 3px;
	bottom: 0;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.33) inset;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 80;
}


/* ARCHIVES
----------------------------- */
.archives_mb { float: left; margin-bottom: 1em; }
.archives_mb h2 { font-weight: bold; margin-bottom: 0.5em; }
.archives_mb h3 { font-style: italic; margin-bottom: 0; }
.archives_mb ul { margin: 0 0 1em 1em; }
.archives_mb ul li { list-style-type: none; }
.archives_mb ul li ul { list-style-type: none; }
.archives_mb ul li ul li { list-style-type: none; }
.archives_mb ul li ul li ul { list-style-type: none; }
.archives_mb ul li ul li ul li { line-height: normal; list-style-type: circle; margin-left: 1.2em; }


/* FOOTER
----------------------------- */
.topreturn_mb {
	display: none;
	position: fixed;
	right: 5%;
	bottom: 0;
	white-space: nowrap;
	z-index: 100;
}
.button_topreturn_mb {
	background-color: #990000;
	border: 0 none;
	border-radius: 0.3em 0.3em 0 0;
	font-weight: bold;
	margin: 0;
	opacity: 0.7;
	padding: 0.4em 1em;
}
.topreturn_mb a {
	border-radius: 0.3em 0.3em 0 0;
	color: #FFFFFF;
	opacity: 0.7;
	text-decoration: none;
}
.topreturn_mb a:focus,
.topreturn_mb  a:hover,
.topreturn_mb a:active {
	background-color: #990000;
	text-decoration: none;
}


/* -------------------------- */
/*        AFFICHAGE           */
/*     SUR PETIT ECRAN        */
/* -------------------------- */

@media (max-width: 640px) {

/* HEADER
----------- */
.header { padding-right: 0; }


/* INFOBAR
----------- */
.tri_mb {
	text-align: center;
	width: 100%;
}
.pagination_mb {
	text-align: center;
	width: 100%;
}

/* WRAPPER
----------- */
.wrapper {
	height: auto !important;
	max-width: 100% !important;
}
.content img {
	height: auto !important;
	max-width: 100% !important;
}
.texte { text-align: left; }
.spip_documents_right { max-width: 100% !important; }
.spip_documents_left { max-width: 100% !important; }
.spip_documents_center { max-width: 100% !important; }


/* PINS
----------- */
#pins_mb { margin: 0 0 2em !important;}


/* .pin_mb */
.pin_mb { width: 236px !important; }
.pin_mb a { width: 236px !important;}
.pin_mb a:focus, .pin_mb a:hover, .pin_mb a:active { width: 236px !important; }
.pin_mb h2 { margin: 15px !important; width: 216px !important; }
.pin_mb h3 { margin: 0 15px 15px !important; width: 206px !important;}
.pin_mb small { margin: 0 !important; padding: 4px 15px 8px !important; width: 206px !important;}

/* .logo_pin_mb */
.logo_pin_mb { margin: 0 !important; padding: 0 !important; width: 236px !important; }
.logo_pin_mb img { height: inherit !important; margin: 0 auto !important; padding: 0 !important; width: 236px !important; }
.logo_pin_mb img:hover {}

/* .text_pin_mb */
.text_pin_mb { margin: 0 !important; padding: 0 !important; width: 236px !important; }


/* BAORDS
----------- */
.text_board_mb h2 { margin: 0 !important; }


/* FOOTER
----------------------------- */
.topreturn_mb { display: inherit !important; }

}

/* end */