<plugin>
	<nom>jayceeWeb Thème 2006 JCEF</nom>
	<auteur>[Stéphane GAUTREAU - Fédération Poitou-Charentes ->http://www.jce-poitoucharentes.org/Votre-site-web-JCE-avec-SPIP-rub36.html]
_ 2007-2008 Licence GNU/GPL.
	</auteur>
	<version>0.1</version> <!-- version du plugin, pas de SPIP -->
	<etat>stable</etat>

	<description>
<multi>
Charte graphique pour jayceeWeb 
	[fr]
Charte graphique pour jayceeWeb 
	[en]
Theme for jayceeWeb
</multi>

		<lien>http://www.jce-poitoucharentes.org/Votre-site-web-JCE-avec-SPIP-rub36.html</lien> <!-- URI de documentation -->
	</description>
	<prefix>jayceeWebTheme_2006jcef</prefix>
</plugin>
