<plugin>
	<nom>
	Gestionnaire de podcasts
	</nom>
	<auteur>
    Samuel Bocharel, &eacute;quipe de d&eacute;veloppement Eva-WEB.<br/>
	 <a rel="Spip-edu" target="_blank" href="http://eva-web.edres74.net">http://eva-web.edres74.net</a><br/>
    Cette r&eacute;alisation est mise &agrave; disposition sous licence GNU GPL.
    <br />&nbsp;<br /><div style="text-align:center;"><a rel="licence" target="_blank" href="http://www.april.org/gnu/gpl_french.html">
    <img alt="Licence GNU GPL" style="border-width:0" width="80" height="100" src="http://www.fsf.org/graphics/philosophical-gnu-sm.jpg"/>
    </a></div>
    Merci &agrave; Philippe P. de Cr&eacute;teil de me surcharger de travail, c'est pour la bonne cause...
	</auteur>
	<version>
	0.4
	</version>
    <version_base>0.1</version_base>
	<etat>
	dev
	</etat>
    <description>
    Podcasting
    </description>
	
    <prefix>
    evapodcast
    </prefix>
    
    <necessite id='spip' version='[1.9.3;]' /> 
    
    <bouton id='eva_podcast_admin' parent='naviguer'>
        <icone>img_pack/podcast.gif</icone>
        <titre>Podcasting</titre>
    </bouton>
    
</plugin>
