<plugin>
	<nom> <!-- Nom du plugin -->
	Gestion des habillages pour EVA-Web 4.1
	</nom>
	<auteur>
	Olivier Gautier, Samuel Bocharel, &eacute;quipe de d&eacute;veloppement EVA-web.
	Thomas Delhomenie pour l'am&eacute;lioration de la page des r&egrave;gles CSS.
	</auteur>
	<licence>
	[GNU GPL->http://www.april.org/gnu/gpl_french.html]
	</licence>
	<version>
	1.1
	</version>
	<version_base>
	0.5
	</version_base>
	<etat>
	stable
	</etat>
	<description>
	Gestion automatique des habillages d'EVA-web 4.1 par un administrateur du site.
	</description>
	<lien>
	[Documentation sur le site eva-web.edres74.ac-grenoble.fr->http://www.eva-web.edres74.ac-grenoble.fr/spip.php?rubrique7]
	</lien>
	<prefix>
	eva_habillage
	</prefix>
	<options> <!-- fichier charge a chaque hit --> 
	eva_habillage_mes_options.php
	</options>
	<install>
	eva_habillage_install.php
	</install>
	<pipeline>
	<nom>ajouter_boutons</nom>
	<action>AjouterBoutons</action>
	<inclure>eva_habillage_pipeline.php</inclure>
	</pipeline>
	<pipeline>
	<nom>declarer_tables_interfaces</nom>
	<inclure>eva_habillage_pipeline.php</inclure> 
	</pipeline>
</plugin>
