<plugin>
	<nom>
  		Squelette Alternatives 2
	</nom>
	<auteur>
		[Andr&#233; Vincent->http://andre-vincent.info] - &#169; 2006-2008 - Licence GNU/GPL   
	</auteur>
	<version>
		2.0beta2
	</version>
	<etat>
		test
	</etat>
	<description>
	  <multi>
		Activate this plugin to enable {{Alternatives}} as the default template of your site.
	[fr]
		Activer ce {plugin} pour s&#233;lectionner le squelette {{Alternatives}} pour votre site.
	  </multi>
	</description>
	<lien>
		[Documentation : www.stages.alternatives.ca->www.stages.alternatives.ca/rubrique28.html]
	</lien>
	<options>
		alternatives_options.php
	</options>
	<prefix>
		alternatives
	</prefix>
	<necessite id='SPIP' version='[2.0.0 dev;]' />
</plugin>