<plugin>
    <nom>Publication d'une s&eacute;rie d'articles sous forme de livre</nom>
    <auteur>Equipe de d&eacute;veloppement d'Eva</auteur>
    <version>0.1</version>
    <etat>test</etat>
    <description>
    {{{Publication d'une s&eacute;rie d'articles sous forme de livre}}}
    
    <u>Int&eacute;ret de ce plugin</u><br />
    - Publier les articles d'une rubrique sous forme de livre<br />
    - Permettre le passage d'un article à un autre par un simple clic de souris grâce à la pr&eacute;sence de boutons "article suivant", "article pr&eacute;c&eacute;dent", "premier article" et "dernier article"<br />

    <u>Mise en place de ce plugin</u><br />
    - Activer le plugin en cochant la case ci-contre, puis valider<br />
    - Suivre la proc&eacute;dure de mise en place du livre d&eacute;crite dans l'aide d'Eva<br />
    </description>
    <prefix>rubrique_en_diaporama</prefix>
</plugin>