<plugin>
	<nom>Eva livre pour EVA-web</nom>
	<slogan>Publication d&#8217;une s&#233;rie d&#8217;articles sous forme de livre</livre>
	<auteur>Equipe de d&#233;veloppement d'Eva</auteur>
	<licence>GNU/GPL</licence>
	<version>0.1.0</version>
	<etat>stable</etat>
	<description>	
{{Int&#233;ret de ce plugin}}
- Publier les articles d&#8217;une rubrique sous forme de livre
- Permettre le passage d'un article à un autre par un simple clic de souris gr&#226;ce &#224; la pr&#233;sence de boutons "article suivant", "article pr&#233;c&#233;dent", "premier article" et "dernier article"

{{Mise en place de ce plugin}}
- Activer le plugin en cochant la case ci-contre, puis valider
- Suivre la proc&#233;dure de mise en place du livre d&#233;crite dans l&#8217;aide d&#8217;Eva
	</description>
	<prefix>livre</prefix>
	<categorie>squelette</categorie>
	<necessite id="spip" version="[1.9.2;2.0.99]" />
</plugin>
