.home_selected { padding:0.1em 0 0 0; border-bottom: 1px solid #dadada; margin: 0 0 1.2em 0; }

.cc {padding:2px 0 2px 18px;background: transparent url(images/pix_puce_cc.png) no-repeat 0 50% }


.select_content { float: left; padding: 0 0.7em 0.4em 0.7em; }

.select_thumb img { float: left; padding: 0; margin: 0.2em 1em 1em 0; border: 1px solid #999; }

.select_title { font: 700 12px georgia, serif; padding: 0 0 0.3em 0; }

.select_title a { color: #224970; }

.select_title a:hover { color: #000; }


.ad_block {border:0 ;margin-left: auto; margin-right: auto;}

.ad250 a {padding-bottom:0.5em}

.span-15 {width:960px;}
.span-11 {width:450px;}
.span-12 {width:270px;background-color:#EEEEEE;padding:4px;}
.column_rss {float:left;width:310px;padding:0.2em}

.column_rss ul {padding:0;margin:0}
.column_rss li {list-style: none;padding:0.2em;margin:0.2em}
.column_rss a.site {text-transform: uppercase; font-size: 0.8em; line-height: 1.8em; font-weight: bold; padding: 0 0 0.6em 0; letter-spacing: 0.1em; color: #224970;}

#menu li span.home { background: url(images/bg/home.png) no-repeat; }

#menu li span.about { background: url(images/bg/info.png) no-repeat; }

#menu li span.archives { background: url(images/bg/hourglass.png) no-repeat; }

#menu li span.subscribe { background: url(images/bg/favourite.png) no-repeat; }

#menu li span.contact { background: url(images/bg/mail.png) no-repeat; }

#menu li span.calendar { background: url(images/bg/calendar.png) no-repeat; }

.archive_post_block .descrip { border-bottom: 1px solid #dadada; border-top: 1px solid #dadada; margin: 0 0 1em 0; background: #f3f9ff; padding: 0.5em 0.7em 0 0.7em; }

.archive_post_block {
		position: relative;
		

	}


.day-date {
		position: absolute; top: -2px; left: -45px;
		background: transparent url(images/bg/bgBotDate.gif) no-repeat bottom center;
		width: 40px; color: #adbcc4;
		font-family: Helvetica, Arial, Geneva, sans-serif;
		margin: 0; padding: 0;
		}
.day-date span {
		display: block; text-align: center; font-weight: bold;
		}
.day-date .day {
		text-shadow: 2px 2px 2px #ccc;
		background: transparent url(images/bg/bgTopDate.gif) no-repeat top center;
		font-size: 1.5em; padding: 8px 0 0 0;
		}
.day-date .month {}

.archive_ical { padding: 0.5em 1.5em; margin: 0; border-bottom: 1px solid #dadada; background: url(images/bg/ical.png) no-repeat 0 8px; color: #666; }

.docus {border:0 ;margin-top:1em;margin-left: 3em;}

/* pour les événements */

ul.reven li { padding: 0 0 0.2em 20px; margin: 0 0 0.5em 0; border-bottom: 1px solid #dadada; background: url(images/bg/clock.gif) no-repeat 0 3px; }

ul.reven { list-style: none; list-style-image: url(foo.gif); margin: 0; }

ul.reven li a { color: #224970; }
ul.reven li a:hover { color: #000; background: #eee; }


#licence {clear:both;padding:4px; margin:2em 0 0 0;font-size:0.85em; background:#fff; color:#444; border:2px solid #c6b4c4}
#licence p, #licence h1 {margin:10px 0 1em 0; padding:0 16px;}
#licence h1 {color:#bbb;}
#licence a {color:#ac8eaa}
#licence img {float:right;}
#licence span {font-weight:bold}

#licence.contrat {position:fixed;top:0; left:0; margin:0; padding:0; width:100%; height:100%; z-index:10000;text-align:center; color:#fff ;background-color:#222; filter : alpha(opacity=90);-moz-opacity : 0.9;opacity : 0.9; }
#licence.contrat img {display:none;}
#licence.contrat h1 {color:#fff}



