<plugin>
	<nom>Squelette Mon m&eacute;diap&ocirc;le</nom>
	<auteur>Valery Xavier Lentz, Jean-S&eacute;bastien Barboteu</auteur>
	<version>1.0</version>
	<etat>stable</etat>
	<icon></icon>
    
	<description>
{{Ce plugin active le squelette The Morning After }} issu d'un th&egrave;me
Wordpress de [Arun Kale->http://themasterplan.in/]<br />
</description>

	<lien>[The Morning After->https://contrib.spip.net/The-Morning-After]</lien>
	<prefix>the_morning_after</prefix>
</plugin>
