<plugin>
  <nom>EVA-WEB 4.1</nom>
  <slogan>Distribution des squelettes EVA-WEB 4 pour SPIP 2</slogan>
  <auteur>Equipe Eva-dev, Aide &#224; la traduction : Eric Le Jan</auteur>
  <lien>http://eva-web.edres74.net</lien>
  <licence>GNU/GPL</licence>
  <version>1.2</version>
  <etat>stable</etat>
  <description>
Un squelette de portail d&#8217;Etablissement, destin&#233;e &#224; une &#233;cole, un &#233;tablissement du second degr&#233;, mais aussi une association, un individuel afin de mettre en place un site web collaboratif proposant diff&#233;rents mod&#232;les de publication (article, livre-album, portfolio, activit&#233;s, fichiers ...)</description>
  <icon>images/logo_eva3_fb.png</icon>
  <prefix>evasquelettes</prefix>
  <pipeline>
        <nom>affiche_gauche</nom>
        <action>AfficheGauche</action>
        <inclure>evasquelettes_pipeline.php</inclure>
  </pipeline>
  <categorie>squelette</categorie>
  <necessite id="spip" version="[2.0.0;2.1.99]" /> 
</plugin>
