
/*
 * layout
 */
/* body { background:#0F66A2; color:#eee; } */
/* .page { width:100%; max-width:100%; margin:0; } */
.content { width:70%; float:left; }
/* #nav { background-color:#4396D1; } */
/* .menu-conteneur, .row { width:980px; padding:0; margin:0 auto; } */

/*
 * contenu
 */
.breadcrumb { font-size:70%; color:#918781; }
.breadcrumb a { color:#918781; }
.breadcrumb a:hover { color:#c85000; }

.publication { font-size:80%; }

.planche-contact dl.liste-items { min-width:150px; width:auto; }
dd.vignette, dd.texte { margin:0; }
.planche-contact dl.liste-items dd.texte { padding:0; width:100%; bottom:0; }


/*
 * in situ
 */
.composition_insitu_site .content, .composition_insitu_site .aside { width:100%; margin:0; }

.editer_choixlogo .choix { float:left; margin:0 14px 0 0; }

.insitu { width:960px; height:660px; margin:0 0 60px; position:relative; }
.insitu .logo { position:absolute; }
.insitu img { max-width:100%; height:auto; }

.spipnet { background:url('images/spip.png'); }
.insitu.spipnet .logo { top:80px; left:50%; margin-left:-200px; width:400px; text-align:center; }
.spipnet1 { background:url('images/spip1.png'); }
.insitu.spipnet1 .logo { top:50px; left:10px; }

.programmer { background:url('images/programmer.png'); }
.insitu.programmer .logo { width:305px; top:125px; left:20px; }

.contrib { background:url('images/contrib.png'); }
.insitu.contrib .logo { width:105px; top:50px; left:10px; }

.plugins { background:url('images/plugins.png'); }
.insitu.plugins .logo { width:250px; top:75px; left:700px; }

.code { background:url('images/code.png'); }
.insitu.code .logo { width:140px; top:60px; left:120px; }

/*
 * aside
 */
.aside .item a.on { color:#492207; }



/* Styler le menu */

/* les 2 menus pour les distinguer lors du debug */
#nav.nav,
.menu-conteneur.navbar-inner {
	
}
/*.menu-conteneur.navbar-inner {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #222;
	border-image: none;
	border-style: solid;
	border-width: 1px 0;
}*/
/* .nav li a { padding:.8em .4em; margin:0; background:none; border-radius:0; } */
/* .nav li.on a { background:#68A5D1; } */

ul.menu-liste.menu-items {}
li.menu-entree.item {}

/*li.menu-entree.item a {
	border-right: 1px solid #222;
	display: block;
	float: left;
	padding: 0.5em 1em;
	text-decoration: none;
}

li.menu-entree.item.on a {
	background: none repeat scroll 0 0 #eed;
	color: #222;
	font-weight: normal;
}

li.menu-entree.item a {
	border-right: 1px solid #222;
	display: block;
	float: left;
	padding: 0.5em 1em;
	text-decoration: none;
}*/

/*
 * Positionnement du fond et du logo
 */
.rubrique_insitu_site .cadre {
	display:block;
	position:relative;
	width:960px;
	height:660px;
}
.rubrique_insitu_site .fond {
	position: absolute;
	top:1px;
	left:1px;
	width:960px;
	height:660px;
}
/*.rubrique_insitu_site .logo {
	position:absolute;
	top:40px;
	left:255px;
	width: 450px;
	height: 180px;
}*/


/*
 * lesliens
 */
a { color:#c85000; }
a:hover, a:active, a:focus { color:#7C3100; }