/* Styler le menu */

/* les 2 menus pour les distinguer lors du debug */
#nav.nav,
.menu-conteneur.navbar-inner {
	/ *background-color:cyan */
}
.menu-conteneur.navbar-inner {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #222;
	border-image: none;
	border-style: solid;
	border-width: 1px 0;
}

ul.menu-liste.menu-items {}
li.menu-entree.item {}

li.menu-entree.item a {
	border-right: 1px solid #222;
	display: block;
	float: left;
	padding: 0.5em 1em;
	text-decoration: none;
}

li.menu-entree.item.on a {
	background: none repeat scroll 0 0 #eed;
	color: #222;
	font-weight: normal;
}

li.menu-entree.item a {
	border-right: 1px solid #222;
	display: block;
	float: left;
	padding: 0.5em 1em;
	text-decoration: none;
}

.planche-contact {
	border:1px dotted orange;
}
