
/*
 * layout
 */
.content { width:70%; float:left; }

/*
 * contenu
 */
.breadcrumb { font-size:70%; color:#918781; }
.breadcrumb a { color:#918781; }
.breadcrumb a:hover { color:#c85000; }

.publication { font-size:80%; }

.planche-contact dl.liste-items { width:auto; }

/* Styler le menu */

/* les 2 menus pour les distinguer lors du debug */
#nav.nav,
.menu-conteneur.navbar-inner {
	/*background-color:cyan */
}
/*.menu-conteneur.navbar-inner {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #222;
	border-image: none;
	border-style: solid;
	border-width: 1px 0;
}*/

ul.menu-liste.menu-items {}
li.menu-entree.item {}

/*li.menu-entree.item a {
	border-right: 1px solid #222;
	display: block;
	float: left;
	padding: 0.5em 1em;
	text-decoration: none;
}

li.menu-entree.item.on a {
	background: none repeat scroll 0 0 #eed;
	color: #222;
	font-weight: normal;
}

li.menu-entree.item a {
	border-right: 1px solid #222;
	display: block;
	float: left;
	padding: 0.5em 1em;
	text-decoration: none;
}*/

/*
 * Positionnement du fond et du logo
 */
.rubrique_insitu_site .cadre {
	display:block;
	position:relative;
	width:960px;
	height:660px;
}
.rubrique_insitu_site .fond {
	position: absolute;
	top:1px;
	left:1px;
	width:960px;
	height:660px;
}
.rubrique_insitu_site .logo {
	position:absolute;
	top:40px;
	left:255px;
	width: 450px;
	height: 180px;
}


/*
 * lesliens
 */
a { color:#c85000; }
a:hover, a:active, a:focus { color:#7C3100; }