body{
background:#f5f5f9;
color:#555;
}
a:visited, a{
color: #6a6cb6;
}
a:hover {
	color: #000;
}

/* un peu inclassable */

#container{
	background:#f5f5f9;
}
#surcontent{
	background:#a1a4c3;
}

/* En tete */

#header{
	background:#acb2d2;
	background-image:url(../IMG/jpg/aquarelle.jpg);
}
#header h3{
	color: #555;
}
#header h5 a{
	color: #FFF;
}
#menu{
	background:#a1a4c3;
	background-image:url(../IMG/jpg/peinture.jpg);
}
ul#nav li{
	background:#fff;
}

ul#nav a{	
	color:#666;
}
	
.vert{
	color:#009900;
	}
.gris{
	color: #999999;
	}
	
ul#nav li.active a,ul#nav a:hover{
	color:#000;
	}

#content{
	background:#e3e5ef;
	}
#footer{
	background:#c5c5df;
	color:#fff;
	}
.blanc,.blanc a{
	color:#fff;
	}
	
.rss-button {
	border-color: #ededf5 #dcdcec #7f7fb9 #9797c7;
	background: #a6a6ce;
	color:#fff;
	}
	
/* boites */
.grande_boite{
	background:#fff;	
}

.boite{
	background:#fff;
	}

/* les miniatures */

#minipics li{
	background:#FFF;
	}
	
.pale,.pale a{
	color:#888;
}

/* les deux x2  cellules */

#cel li h4,#celbas li h4{
	color:#fff;
	background:#bdbfd5;
	}
	
#cel li h4 a,#celbas li h4 a{
	color:#fff;
	}

#cel li p, #celbas li p{
	background:#fff;
}
	
/* les icônes */
.icone_fleche{
	background:url(../icones/32x32/fleche.gif);
}
.icone_filter{
	background:url(../icones/22x22/filter.gif);
}
.icone_photo{
	background:url(../icones/22x22/camera.gif);
}
.icone_forum{
	background:url(../icones/22x22/ksmiletris.gif);
}
.icone_menu{
	background:url(../icones/22x22/eog.gif);
}
.icone_agenda{
	background:url(../icones/22x22/1day.gif);
}
.icone_stats{
	background:url(../icones/22x22/knewstuff.gif);
}
.icone_article{
	background:url(../icones/22x22/ark_selectall.gif);
}
.icone_zip{
	background:url(../icones/22x22/package.gif);
}
.icone_juk{
	background:url(../icones/22x22/juk.gif);
}
.icone_post{
	background:url(../icones/22x22/text_left.gif);
}
.icone_membre{
	background:url(../icones/22x22/gaim.gif);
}
.icone_recherche{
	background:url(../icones/22x22/find.gif);
}
.icone_site{
	background:url(../icones/22x22/netbeans.gif);
}
.premier{
	background:url(../icones/32x32/top.gif);
}
.dernier{
	background:url(../icones/32x32/bottom.gif);
}
.repondre a{
	background:url(../icones/32x32/undo.gif);
	background-repeat: no-repeat;
}
.icone_site,.icone_fleche,.icone_post,.icone_membre,.icone_filter,.icone_article,.icone_photo,.icone_forum,.icone_stats,.icone_menu,.icone_agenda,.icone_zip,.icone_juk,.icone_recherche{
	background-repeat:no-repeat;
}

/* les forums */

.discussion{
	background:#fff;
}
.avatar{
	background:#fff;
}
.interne{
background:#ecedf4;
}
.interforum,.interforumgrand{
background:#ecedf4;
}
.cadenas {
background: url(../icones/22x22/authenticate.gif);
background-repeat: no-repeat;
}

/* les membres */

.membres li a,.legende li,.forum li a{
	background-repeat: no-repeat;
}
.forum li a{
	background-image:url(../icones/48x48/forum.gif);
}
.auteur a,.leg_aut{
	background-image:url(../icones/16x16/bleu.gif);
color:#5890d8;
}
.visiteur a,.leg_vis{
	background-image:url(../icones/16x16/vert.gif);
color:#009900;
}
.modo a,.leg_mod{
	background-image:url(../icones/16x16/orange.gif);
color:#FF9900;
}
.attente a,.leg_att{
	background-image:url(../icones/16x16/noir.gif);
color:#000;
}

/* les class spip modifiees */

/* alignements des docs dans l article */

.spip_surligne{
color:#ff9900;
}

/* les formulaires */

fieldset .focus {	
	background: #ecedf4;
	color: #000;
}

/* les tableaux */

table.spip tr.row_first {
	background-color: #bdbfd5;
	}
table.spip tr.row_odd {
	background-color: #e5e5f1;
}
table.spip tr.row_even {
	background-color: #f5f5f9;
}






















