
/* corp du texte principal et fond arrière*/
body{
background:#e9e9f2;
color:#555;
}
/* les liens */
a:visited, a{
color: #3c2ca0;
}
/* les liens survollé par le mulot */
a:hover {
	color: #000;
}


/* le fond derrière les textes */
#container{
	background:#e9e9f2;
}
/* le fond derrière les textes (encore)*/
#surcontent{
	background:#666666;
}

/* L'en-tête et son fond plus une image saisonnière derrière le logo en option */
#header{
	background:#CCCCCC;
	background-image:url(../IMG/jpg/aquarelle.jpg);
}

/* La couleur des H3 et H5, respectivement Titre et descriptif */
#header h3{
	color: #555;
}
#header h5 a{
	color: #FFF;
}
/* le fond derrière le menu horizontal */
#menu{
	background:#666666;
	background-image:url(../IMG/jpg/peinture.jpg);
}
/* le fond derrière les bulles */
ul#nav li{
	background:#fff;
}

/* Heu... c'est quoi ce css déjà? */
ul#nav a{	
	color:#666;
}
/* met le texte en vert, en gris, en blanc, en pale */	
.vert{
	color:#009900;
	}
.gris{
	color: #999999;
	}
.blanc,.blanc a{
	color:#fff;
	}
.pale,.pale a{
	color:#888;
}
	
/* Heu... c'est quoi ce css déjà? */	
ul#nav li.active a,ul#nav a:hover{
	color:#000;
	}
/* Fond grande Boite Centrale */
#content{
	background:#e4e3e8;
	}
/* Fond du pied de page + couleur du texte syndication*/
#footer{
	background:#CCCCCC;
	color:#fff;
	}
	
/* Les couleurs du bouton rss */
.rss-button {
	border-color: #ededf5 #dcdcec #7f7fb9 #9797c7;
	background: #666666;
	color:#fff;
	}

/* Les couleurs de fond des boites  */
.grande_boite{
	background:#fff;	
}

.boite{
	background:#fff;
	}

/* le fond derrière les miniatures  */

#minipics li{
	background:#FFF;
	}
	


/* les deux x2 cellules/boites en haut et en bas avec le titre coloré*/

#cel li h4,#celbas li h4{
	color:#fff;
	background:#666666;
	}
/* Des liens d'une autre couleur dans les deux x2 même cellules/boites*/
#cel li h4 a,#celbas li h4 a{
	color:#fff;
	}
/* Des textes dans les deux x2 même cellules/boites*/
#cel li p, #celbas li p{
	background:#fff;
}
	
/* les icônes. Voyez dans le source des pages pour savoir qui correspond à quoi */
.icone_fleche{
	background:url(../icones/32x32/fleche.gif);
}
.icone_filter{
	background:url(../icones/22x22/filter.gif);
}
.icone_photo{
	background:url(../icones/22x22/camera.gif);
}
.icone_forum{
	background:url(../icones/22x22/ksmiletris.gif);
}
.icone_menu{
	background:url(../icones/22x22/eog.gif);
}
.icone_agenda{
	background:url(../icones/22x22/1day.gif);
}
.icone_stats{
	background:url(../icones/22x22/knewstuff.gif);
}
.icone_article{
	background:url(../icones/22x22/ark_selectall.gif);
}
.icone_zip{
	background:url(../icones/22x22/package.gif);
}
.icone_juk{
	background:url(../icones/22x22/juk.gif);
}
.icone_post{
	background:url(../icones/22x22/text_left.gif);
}
.icone_membre{
	background:url(../icones/22x22/gaim.gif);
}
.icone_recherche{
	background:url(../icones/22x22/find.gif);
}
.icone_site{
	background:url(../icones/22x22/netbeans.gif);
}
.premier{
	background:url(../icones/32x32/top.gif);
}
.dernier{
	background:url(../icones/32x32/bottom.gif);
}
.repondre a{
	background:url(../icones/32x32/undo.gif);
}
.icone_site,.icone_fleche,.icone_post,.icone_membre,.icone_filter,.icone_article,.icone_photo,.icone_forum,.icone_stats,.icone_menu,.icone_agenda,.icone_zip,.icone_juk,.icone_recherche{
	background-repeat:no-repeat;
}

/* les fonds des forums */

.discussion{
	background:#fff;
}
.avatar{
	background:#fff;
}
.interne{
	background:#e4e3e8;
}
.interforum,.interforumgrand{
	background:#e4e3e8;
}
.cadenas {
background: url(../icones/22x22/authenticate.gif);
background-repeat: no-repeat;
}

/* les membres et leurs icônes */

.membres li a,.legende li,.forum li a{
	background-repeat: no-repeat;
}
.forum li a{
	background-image:url(../icones/48x48/forum.gif);
}
.auteur a,.leg_aut{
	background-image:url(../icones/16x16/bleu.gif);
color:#5890d8;
}
.visiteur a,.leg_vis{
	background-image:url(../icones/16x16/vert.gif);
color:#009900;
}
.modo a,.leg_mod{
	background-image:url(../icones/16x16/orange.gif);
color:#FF9900;
}
.attente a,.leg_att{
	background-image:url(../icones/16x16/noir.gif);
color:#000;
}

/* les class spip modifiees */

/* alignements des docs dans l article */

.spip_surligne{
color:#ff9900;
}

/* les formulaires */

fieldset .focus {	
	background: #ecedf4;
	color: #000;
}

/* les tableaux */

table.spip tr.row_first {
	background-color: #666666;
	}
table.spip tr.row_odd {
	background-color: #c2c6c1;
}
table.spip tr.row_even {
	background-color: #e4e3e8;
}


/* Thickbox 2 */

#TB_overlay {
	background-color:#666666;
}
			
#TB_window {
	background: #fff;
	color:#000000;
}

#TB_secondLine {
  color:#666666;
}
	
#TB_HideSelect{
background-color:#fff;
}
