html,body{
	margin:5px 0;
	}

body{
	
	font:76% "Trebuchet MS",arial,sans-serif;
	clear:left;
	text-align:center;
	}

p{
	margin: 0;
	padding: 1px 7px 0.7em;
	}
.gras{
	letter-spacing: 0.1em;
	font-weight:bold;
	}

h1,h2,h3,h4{
	padding: 0 0 0 30px;
	margin:0;
}

.boite h4,.discussion h4,.grande_boite h4,.grande_boite h1{
	padding: 0 0 0 28px;
	position:relative;	
	}

img{
	border:0;
}
a:visited, a{
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* positionnement */
.logodroite{
	float:right;
	margin:10px 15px 0 20px;
	
}
.minilogogauche{
	float:left;
	margin:0;
	padding:0;
}

.logogauche{
	float:left;
	margin:0 5px;
}
.droite{
	float:right;
padding:0 10px;
}
.gauche{
	float:left;
padding:0 10px;
}
.centre{
	text-align:center;
		
}
form h4{
padding:8px;
position:relative;	
}
.splickrbox{
margin:9px;
}



/* position colonne */
.coldroit{
	float:right;
	width:244px;
	display:inline;}
#colgau{
	float:left;
	display:inline;
}

	
/* invisibilite sauf lynx */
.none{
display:none;
}

/* un peu inclassable */
.spacer{
	clear:both;
	width:241px;
	visibility:hidden;
	height:0px;
}
#container{
	width:747px;
	margin:0 auto;
	text-align: left;
}

h1{
	font-size: 1.2em;
	}
h4{
font-size:1.15em;
}

/* En tete */

#header{
	background-repeat:no-repeat;
	background-position:right;
	height:98px;
	width:747px;
}
#header h3{
	font-size: 12px;
	position:relative;
	left:100px;
	font-weight: 600;
	bottom:20px;
	}
#header h5 a{
	font-size: 34px;
	position:relative;
	padding: 0 20px;
	margin:0;
	font-weight: 900;
text-decoration: none;}		


#compte{
position:relative;
top:130px;
text-align:right;
}
#menu{
	width:100%;
	background-repeat:no-repeat;
	background-position:right;
	padding:3px 0 0 0;
	height:22px;
	}
ul#nav, ul#nav li{
	list-style-type:none;
	margin:0;
	padding:0;
}
ul#nav{
	padding-left:14px;
}
ul#nav li{
	float:left;
	width:90px;
	padding:1px 0;
	margin:0 3px 0 0;
	height:20px;
	text-align:center;
	}
ul#nav a{	
	float:left;
	width:90px;
	text-decoration:none;
	padding:2px 0;
}

.raye{
	text-decoration:line-through;
}
.petite_liste{
padding: 0 20px;
}

#content{
	clear:left;
	padding:4px 8px;
	}
#footer{
	clear:left;
	padding:5px 0;
	margin:5px;
	text-align:center;
	font: bold 90%;
	height:auto;
}


.rss-button {
	border: 1px solid;
	padding: 0 3px;
	font: bold 10px verdana,sans-serif;
	text-decoration: none;
	margin: 0 5px;
	cursor:pointer;
}


/* boites */
.grande_boite{
	clear:left;
	width:474px;
	padding: 5px 0 0 0px;
	margin: 8px 2px;
	}
.grande_boite > text {
	margin: 0;
	padding: 0 7px 0.7em;
	line-height: 1.5
	}
.boite{
	margin:8px 0;
	width:241px;
	}
.boite > text {
	padding:5 10px;
}
.boite > a {
	padding:0 5px;
}



/* les miniatures */

#minipics{
	float:left;
	width:480px;
	display:inline;
}
#minipics ul{
	list-style-type: none;
	display:inline;
	margin:0 5px;	
	clear:both;
}
#minipics li{
	float:left;
	padding:1px;
	display:inline;
	width:100px;
	margin:8px;
	}
#minipics li img{
	display:block;
	margin:5px 10px;
	}	
#minipics li.transparent a:hover img{
	filter:alpha(opacity=100)!important;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity:1.00;opacity:1; 
}
#minipics li.transparent a img{
	filter:alpha(opacity=50)!important;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: .5; opacity:.5; background:#000;
}
#minipics li.textepics{
	width:340px;
}


/* les deux x2  cellules */

#cel,#celbas{
	float:left;
	width:480px;
	display:inline;

}
#cel ul,#celbas ul{
	list-style-type: none;
	display:inline;
	margin:0;
	clear:both;

}
#cel li,#celbas li{
	width:230px;
	float:left;
	display:inline;
	margin:8px 5px ;


	}

#cel li img,#celbas li img{
	margin: 0 6px;
	}

#cel li h4,#celbas li h4{
	word-spacing: 0.1em;
	padding: 1px 6px;
	}

#cel li p, #celbas li p{
	background:#fff;
	}

/* la grande photo */
.photo{
	position:relative;
	text-align:left;
	width:450px;
	margin:0 auto 0 auto;	
	padding:4px 0;
}
.photo img{
	width:450px;
	border:1px solid #60566a;
	
}
#exif img{
	cursor:help;
	display: block; 
	}
#exif a span{
	position:absolute;
	left:-900px;
	visibility:hidden;
}
#exif a:hover span{
	visibility:visible;
	position:absolute;
	text:center;
	text:none;
	top:20%;
	left:22%;
	width:50%;
	background:#FFF;
	color:#000;
	padding:5px 15px 5px 15px;
	border:3px solid #c4c4de;
	cursor:text;
	text-decoration: none;
	background:#FFF;
	filter:alpha(opacity=70)!important;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	-moz-opacity:.7; opacity:.7; -moz-border-radius:12px;
}

/* les icônes */
.icone_fleche{
	right: 25px;
	margin:3px 0;
}
.icone_site,.icone_fleche,.icone_post,.icone_membre,.icone_filter,.icone_article,.icone_photo,.icone_forum,.icone_stats,.icone_menu,.icone_agenda,.icone_zip,.icone_juk,.icone_recherche{
	height:22px;
	position:relative;
	padding: 4px;
}


/* les forums */

.discussion{
	padding: 5px 0 0 0px;
	margin: 8px 3px;
}
.avatar{
	float:left;
	width:241px;
}
.interne{
padding:5px;
margin:0 7px 10px 7px;
}
.interforum,.interforumgrand{
float:right;
padding:3px;
margin:3px 7px 0 4px;
width:330px;
}
.interforumgrand{
width:580px;
}
.carte{
float:left;
padding:15px 0 5px 10px;
width:100px;
}
.avatar{
width:70px;
}

.avatar img{
width:70px;
height:70px;
}
.cadenas {
padding:1px 1px 1px 25px;

}


/* les membres */

ul.membres,ul.legende{
padding:0 5px 5px 5px;
margin:0px;
text-transform: capitalize;
}
ul.forum{
padding:15px 7px;
}
.membres li,.legende li,.forum li{
list-style-type: none;
display:inline;

}
.membres li a,.legende li,.forum li a{
	padding: 0 5px 0 16px;
}
.forum li a{
padding: 15px 5px 15px 33px;
	margin: 30px 0; 
	font-weight:bold;
	letter-spacing: 0.1em;
}

.repondre a,.dernier a,.premier a{
	padding: 6px 0 10px 24px;
	font-weight:bold;
	letter-spacing: 0.1em;
	font-size:120%;	
}


/* les class spip modifiees */

/* alignements des docs dans l article */

.spip_surligne{
font-weight:bold;
}

.spip_documents{
text-align: center;
}
.spip_documents_center{
	margin: 10px 0 2px 0px; 
	}

.spip_documents_left{
	margin: 10px 15px 2px 5px; 
	
}
.spip_documents_right{
	margin: 10px 5px 2px 15px; 
	
}

/* les formulaires */

fieldset, form {
    position :relative;
    top :0;
    padding :0;
	border: none;
	margin: 0;
}
.reponse_formulaire, .spip_encadrer{
	padding:0 8px;
}

fieldset {
   	padding :0;
}

legend {
    padding : 8px;
}

.form_rech{	
	padding: 0 0 0 35px ;
}
.gauchefield{
	margin : 0 8px;
	width: 130px;	
	float:left;
	
}
.grand, .haut, .bas {
position :relative;
float:right;
margin : 0 4px;

}

.grand {
width:300px;
}

.petit {
width:90px;
}
.haut {
width:300px;
height:80px;
}
.bas {
width:300px;
height:400px;
}
.form450 {
margin:5px 10px;
width:450px;
height:90px;
}
.list370 {
margin:0 10px;
width:370px;

}
/* les tableaux */

table.spip { 
width:98%;
margin:0 0 5px 5px; 
text-align:center;
float:left;
}

table.spip tr {
	width:auto;
	-moz-border-radius:6px;	
}

/* menu */

.open {
       display: block;
	   list-style-type: none;
       padding: 0 3px 0 10px;
       margin: 0 0 0 10px;
       }

.closed {
       display: none;
       }

li img, li img a:hover  {
       vertical-align: middle;
       }	   
   
.li {
       list-style-type: none;
       padding: 0px;



