/* Commentaires */
div#comments{
    width: 640px;
    margin: 0 20px 20px 0;
    float:left;
}

div#comments ul {
	padding:0;
	margin:0 0 0 40px;
	display:block;
}
div#comments li {
	padding: 0 0 20px;
	list-style-type: none;
 	display:block;
}

div#comments .comment-message{
	border-bottom: 1px solid;
	border-bottom-color: #cccccc;
	display: block;
    min-height: 140px;
        margin: 0 0 15px;
}
div#comments p.repondre{
    clear: both;
    color: #666666;
    display: block;
    float: right;
    font: bold 12px/16px Vollkorn,serif;
    margin: 0 10px 10px;
    padding: 0;
    width: auto;
    }

div#comments span.comment-author{
	float: left;
	clear:both;
}
div#comments .comment-meta{
 	width: 170px;

 	display:block;
    padding: 10px 0 0;
 	float: left;
}

div#comments .comment-content p.hyperlien{
	float:left;
	clear: both;
}

div#comments .comment-content{
    border-left: 1px dashed;
    border-left-color: #cccccc;
    display: block;
    overflow: hidden;
    padding: 10px 0 0 20px;
    min-height: 140px; 
}
div#comments .comment-content .comment-texte{
   float: left;
    height: 100%;
    min-height: 100px;
}
div#comments .comment-meta abbr{
    border: 0 none;
    clear: both;
    float: left;
	color: #B6B6B6;
    font: 10px/14px 'Helvetica Neue',Helvetica,Arial sans-serif;
    margin: 0 0 6px;
    padding: 0;
    text-transform: uppercase;
}
