body {
	font:13px/1.231 Arial, Helvetica, sans-serif;
	/* for IE6/7 */ 
	*font-size:small; 
	/* for IE Quirks Mode */
	*font:x-small; 
}
.logo_site{
	margin-bottom: 15px;
}
a{
	color: #FF8C0D;
	text-decoration: none;
}
a:hover{
	color: #999999;
	text-decoration: none;
	font-weight: normal;
}
#ft{
	font-size: 12px;
	padding-top: 20px;
}
h2{
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 30px;
}
.recherche{
	float: right;
} 
.texte_dossier{
	margin-left: 8px;
}
  .titre{
	border-left-style: none;
	border-bottom-style: none;
	font-weight: bold;
	padding: 5px;
	margin-top: 5px;
	text-align: left;
	border-bottom: #996666;
	border-left: #996666;
	font-size: 48px;
}
.titre_une{
	font-weight: bold;
	color: #ff9a2b;
	border-left-style: none;
	border-bottom-style: none;
	padding: 3px;
	text-align: left;
	border-bottom: #996666;
	border-left: #996666;
	font-size: 20px;
}
.titre_dossier{
	margin-left: 8px;
	font-weight: bold;
	color: #ff9a2b;
	border-left-style: none;
	border-bottom-style: none;
	padding: 3px;
	text-align: left;
	border-bottom: #996666;
	border-left: #996666;
	font-size: 20px;
}
.titre_article{
	margin-top: 6px;
	color: #ff9a2b;
	border-left-style: none;
	border-bottom-style: none;
	padding: 3px;
	text-align: left;
	border-bottom: #996666;
	border-left: #996666;
	font-size: 16px;
}
.titre_rubrique{
	font-weight: bold;
	color: #ff9a2b;
	border-left-style: none;
	border-bottom-style: none;
	padding: 3px;
	text-align: left;
	border-bottom: #996666;
	border-left: #996666;
	font-size: 14px;
}
.titre_forum{
	border-left-style: none;
	border-bottom-style: none;
	padding: 3px;
	text-align: left;
	border-bottom: #996666;
	border-left: #996666;
	font-size: 12px;
	background-color: #EEEEEE;
	margin-bottom: 3px;
	margin-top: 2px;
}

.titre_forum a{
	color: #333333;
}

.titre_forum a:hover{
	color: #ff9a2b;
}
.titre_article_syndic{
	text-align: left;
	border-left-color: #ff941a;
	border-left-width: 4px;
	margin-top: 1px;
	border-left-style: none;
	border-bottom-style: none;
	padding: 3px;
	font-size: 12px;
}
.titre_article_recherche{
	padding-bottom: 1px;
	margin-top: 3px;
	border-left-style: none;
	border-bottom-style: none;
	text-align: left;
	border-bottom: #996666;
	border-left: #996666;
	font-size: 14px;
}
.date{
	margin-top: 2px;
	padding-left: 3px;
	padding-top: 3px;
	font-size: 10px;
}
.date_dossier{
	margin-left: 8px;
	margin-top: 2px;
	padding-left: 3px;
	padding-top: 3px;
	font-size: 10px;
}
.date_article{
	margin-top: 2px;
	padding-top: 3px;
	font-size: 10px;
}
.comment{
	margin-top: 2px;
	padding-left: 3px;
	padding-top: 3px;
	font-size: 11px;
}
.comment_dossier{
	margin-left: 8px;
	margin-top: 2px;
	padding-left: 3px;
	padding-top: 3px;
	font-size: 11px;
}
.descriptif{
	padding-top: 20px;
	margin-top: 20px;
}
.ligne{
	padding-bottom: 15px;
	margin-top: 1px;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-top-style: solid;
	border-top-color: #b1b1b1;
	border-top-width: 1px;
}
.cadre_noir{
	padding-bottom: 3px;
	padding-left: 5px;
	font-size: 30px;
	width: auto;
	background-color: black;
	color: white;
}
.cadre_noir_breve{
	padding-bottom: 3px;
	padding-left: 5px;
	font-size: 18px;
	width: auto;
	background-color: black;
	color: white;
}
.cadre_noir_mot{
	color: white;
	background-color: black;
	font-size: 24px;
	padding-bottom: 3px;
	padding-left: 5px;
	width: auto;
}
.cadre_gris{
	background-color: #929292;
	padding-bottom: 3px;
	padding-left: 5px;
	font-size: 30px;
	width: auto;
	color: white;
}
.cadre_gris_bis{
	margin-left: 8px;
	background-color: #929292;
	padding-bottom: 3px;
	padding-left: 5px;
	font-size: 30px;
	width: auto;
	color: white;
}
.cadre_gris_images{
	background-color: #929292;
	padding-left: 5px;
	font-size: 24px;
	width: auto;
	color: white;
	height: 35px;
	padding-top: 4px;
}
.cadre_soustitre{
	background-color: #929292;
	padding-bottom: 3px;
	padding-left: 5px;
	font-size: 18px;
	width: auto;
	color: white;
	margin-bottom: 3px;
}
.logo_chronique{
	border-width: 1px;
	margin-top: 3px;
	border-color: #e4e4e4;
	border-style: solid;
	text-align: center;
	height: auto;
	width: 221px;
	word-break: break-all;
}
.logo_article{
	border-width: 1px;
	margin-top: 3px;
	border-color: #e4e4e4;
	border-style: solid;
	text-align: center;
	height: auto;
	width: 460px;
	word-break: break-all;
}
.logo_article_une{
	margin-top: 3px;
	text-align: center;
	height: auto;
	width: 461px;
	word-break: break-all;
	padding: 1px;
	border: 1px solid #C3C3C3;
}
.logo_article_article{
	margin-top: 3px;
	text-align: center;
	height: auto;
	width: 236px;
	border: 1px solid #CCCCCC;
	padding: 1px;
}
.logo_rubrique{
	background-repeat: no-repeat;
	margin-top: 3px;
	text-align: center;
	height: auto;
	width: 297px;
	border: 1px solid #CCCCCC;
	padding: 1px;
}
.logo_article_breve{
	background-repeat: no-repeat;
	margin-top: 3px;
	text-align: center;
	height: auto;
	width: 297px;
	word-break: break-all;
	border: 1px solid #CCCCCC;
	padding: 1px;
}
.logo_article_dossier{
	margin-left: 8px;
	border-width: 1px;
	margin-top: 3px;
	border-color: #e4e4e4;
	border-style: solid;
	text-align: center;
	height: auto;
	width: 294px;
	word-break: break-all;
}
.logo_mot{
	background-repeat: no-repeat;
	margin-top: 3px;
	text-align: center;
	height: auto;
	width: 297px;
	border: 1px solid #CCCCCC;
	padding: 1px;
}
.logo_auteur{
	background-repeat: no-repeat;
	margin-top: 3px;
	text-align: center;
	height: auto;
	width: 176px;
	border: 1px solid #CCCCCC;
	padding: 1px;
}
.auteur{
	padding-top: 30px;
}
.auteur_mini{
	margin-top: 5px;
	margin-bottom: 5px;
}
.nom_auteur{
	border-bottom-style: solid;
	border-bottom-color: #ededed;
	border-bottom-width: 1px;
	font-weight: bold;
	margin-bottom: 1px;
}
.rubrique_article{
	padding-top: 20px;
}	
.mot_article{
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	width: auto;
	padding-top: 20px;
}
.titre_meme_auteur{
	margin-bottom: 7px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #999999;
	height: auto;
	width: auto;
	margin-top: 30px;
	padding-left: 10px;
}
.titre_art_meme_auteur{
	line-height: normal;
}
.diaporama {
	padding-left: 5px;
	padding-top: 5px;
}
.pagination{
	font-size: 10px;
	margin-right: 3px;
	border-left-width: 15px;
	margin-bottom: 2px;
	text-align: left;
}
.bloc_bio{
	margin-top: 5px;
	margin-left: 10px;
}
.bloc_rss{
	text-align: right;
}


