<plugin>
        <nom>
        	<multi>
		[fr]GlobeNews : Jeu de squelettes param&eacute;trable
		</multi>
        </nom>
      	<auteur> 
          	<multi>
		[fr] jpcrea - 2009 - Distribué sous licence GNU/LGPL
		</multi>
        </auteur>
      	<version>
              1.0
        </version>
        <etat>
              test
        </etat>
	<install>globenews_install.php</install>
	        <description>
            <multi>
		   Installer les squelettes GlobeNews et personnaliser la couleur des blocs de titres et des liens.
		   Personnaliser des titres et des vues de contenus dans la page sommaire.
              </multi>
        </description>
	
	<lien>
              [Configuration->.?exec=cfg&cfg=globeNews]
	</lien>
	     <prefix>globenews</prefix>
    	<categorie>squelette</categorie>
    	<necessite id="SPIP" version="[2.0;]" />
    	<necessite id="cfg" version="[1.10;]" />
	    <utilise id="palette" version="[1.0.1;]" />
	</plugin>