<plugin>
	<nom>
		<multi>
		[fr]GlobeNews
		</multi>
	</nom>
	<slogan>Jeu de squelettes param&#233;trable inspir&#233; du th&#232;me Overstand pour WordPress</slogan>
	<auteur>jpcrea</auteur>
	<licence>(c) 2009 - GNU/LGPL</licence>
	<version>1.0.0</version>
	<etat>test</etat>
	<install>globenews_install.php</install>
	<description>
		<multi>
		[fr]Installer les squelettes GlobeNews et personnaliser la couleur des blocs de titres et des liens.
		Personnaliser des titres et des vues de contenus dans la page sommaire.
		</multi>
	</description>
	<lien>https://contrib.spip.net/Le-jeu-de-squelettes-GLOBENEWS</lien>
	<prefix>globenews</prefix>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;2.0.99]" />
	<necessite id="cfg" version="[1.10;]" />
	<utilise id="palette" version="[1.0.1;]" />
</plugin>
