/* <![CDATA[ */

/* source AlistApart */
/* http://www.alistapart.com/articles/boom/ */
/* et  http://www.yoyodesign.org/doc/w3c/css2/page.html#x4 */
@page {
  size: 8.26in 11.69in; 
  /* du 21x29,7cm A4 transforme en pouces avec http://www.astro.ulg.ac.be/~demoulin/units.htm */
  margin: 27mm 16mm 27mm 16mm; 
  /*marges toujours dans l'ordre Top Right Bottom Left (mnemotechnique: trbl = trouble) */
}
div.liste {
  page-break-after: always;
  /* saut de page obligatoire en fin de ce div */
}

/* item valables en css3 : pas aujourd'hui ;-) */

/* options de nommage  en haut a gauche des pages*/
@page :left {
  @top-left {
    content: "Le nom de votre ouvrage";
  }
}
/* supprime la mention sur les pages nommees "blank" */
@page blank :left {
  @top-left {
    content: normal;
  }
}

/* numerotation */
@page :left {
  @bottom-left {
    content: counter(page);
  }
}
		 /* ]]> */