/* <![CDATA[ */

	html
		{
		margin:0;
		padding:0
		}
	body
		{
		font 14px Verdana, Tahoma, Garamond, Arial, Helvetica, sans-serif;
		margin:0;
		padding:0;
		background: #ffffff; 
		color:black;
		}
	h1
		{
		font-size:200%;
		color: #ffffff;
		text-transform: lowercase;
		letter-spacing: 3px; 
		margin: 0;
		padding-top: 0.55em ;
		padding-right: 0.25em;
		padding-left: 0.55em;
		padding-bottom:0.65em;
		background: #090;
		border-bottom: solid 4px orange;
		}
	h2
		{
		font-size:133%;
		color: orange;
		margin: 2em;
		padding: 0 2em 0 0;
	 	border-bottom: solid 4px #090;
	 	}
	 h2 a { 
	 	 text-decoration : none;
		 color: orange
	 	}
	h2 a:hover
		{
		text-decoration: underline;
		color: grey ;
		}
	h3
		{
		font-size: 133%;
		color: orange;
		text-transform: uppercase;
		margin:1em 10em 1em 10em; 
		padding: 0.33em 0 0 5em;
		border-top : solid 3px grey; 
	
		}

	h4
		{
		font-size: 150%;
		font-weight : 800;
		color : #090;
		margin: 0;
		padding: 1em 0.33em 0 1em;
		border-bottom: 1px solid rgb(50%, 50%, 35%); 
		}
	a	
		{
		color : black;
		text-decoration : none;
		}
	dt 
		{
		text-align : center; 
		font-size : 110%;
		font-weight : extra-bold;
		margin : 1em;
		}
	dt a	
	{
		color: black;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 110%;
	}
	dd.auteur	
	{
		color: black;
		font-size: 1.1em;
		font-weight: 700;
		padding : 0.5em;
		margin-bottom : 1.5em;
	}
	dd.auteur strong
	{
	display: block;
	}
	dd.auteur span
	{
	display: block;
	color : black;
	font-weight : 600;
	text-decoration : underline;
	}
	dd.logo 
	{
	text-align: center;
	display : none;
	}
	dd.chapo
	{
	padding : 1em;
	margin : 0 2.5em 0 2.5em;
	border-left : 3px solid grey;
	background : #ffc ; 
	font-style: italic;
	}
	dd.ps
	{
	padding : 1em;
	margin : 0 2.5em 0 2.5em;
	border-left : 3px solid orange;
	background : #ccc ; 
	font-style: italic;
	}
	dd
	{
	padding : 0.2em;
	margin-right: 2em;
	}
	dd.texte 
	{
	padding : 0.2em;
	margin-right: 2em;
	}
	p.spip
	{
	line-height: 1.1em;
	margin: 0.5em 3em 1em 3em;
	padding-right : 0.5em;
	}
	
		 /* ]]> */