<plugin>
	<nom><!-- Nom du plugin -->
	Alternatives - &#192; droite
	</nom>
	<auteur><!-- Auteur du plugin -->
	Andr&#233; Vincent - Licence GPL
	</auteur>
	<version>
	1.9.2
	</version>
	<etat>
	stable
	</etat>
	<description>
    <multi>
    Activate this plugin to modify the look and feel of ALTERNATIVES.
    This theme changes the layout.
      [fr]
	Activez ce plugin pour changer l'habillage du squelette ALTERNATIVES.
	Cet habillage change la mise en page.
    </multi>
	</description>
	 <prefix>alter-banner</prefix>
	 <categorie>squelette</categorie>
</plugin>