/*================================================= 
	STYLES PERSONALISÉS Squelette RÉCIT-FP Partenaire
		
	NOTE IMPORTANTE:
	
	- Cette feuille de style permet de faire des 
	  modification de base.  Pour aller plus loin
	  voir le fichier "style.css".
	
	- Les boutons d'admin de SPIP se modifient dans
	  le fichier squelettes/spip_admin_perso.css
	  
	- Pour modifier le format de la page, récupérer
	  le css dans squelettes/css/styles.css
	  
	Modifié le 28 sept 2005 (PB)
==================================================*/

/*========================================================== 
   					BANDEAU
============================================================*/
#entete p {

	background-image: url(images/entete-bandeau.gif); /* L'image */
	height: 111px; /* Hauteur du bandeau */
	width: 918px; /* Largeur du bandeau */
	} 
	

/*=================================================== 
   		COULEURS DES LIENS PAR DÉFAUT
  ==================================================*/
a:link, 
a:visited, 
a:active { 

	color: #0066CC; /* Couleur */ 
	} 

/*======================================== 
	LOGO DE L'ORGANISME
  ========================================*/
h1 a, h1 a:link, h1 a:visited, h1 a:active, h1 a:hover {

	background-image: url(images/logo-site.gif) ; /* Emplacement de l'image */
	height: 70px; /* Hauteur de l'image */
	top: 3px; /* Position du haut */
	left: 35px; /* Position de la gauche */
	
/*======================================== 
	POSITION DU TITRE DE L'ORGANISME
  ========================================*/
	padding-left: 92px; /* Position de la gauche */
	padding-top: 29px; /* Position du haut */ }


/* ======================================== 
	MENU VERTICAL 
 ======================================== */
.menuGauche ul {} /* Contenant */
.menuGauche li {
	margin-bottom: 6px; /* Distance entre les liens */
	}
.menuGauche li a:link, .menuGauche li a:visited ,
.menuGauche li a:active, .menuGauche li a:focus {
	width: 174px; /* Largeur du menu */
	padding: 3px 0 3px 10px; /* Espace intérieur  */
	text-decoration: none; /* Format du soulignement */
	border-width: 1px; /* Dimention de la bordure */
	border-style: solid; /* Type de bordure */
	border-color: #BFBFBF; /* Couleur de la bordure */
	font-weight: bold; /* Style du lien ("bold" = gras ou "normal") */
	color: #828282; /* Couleur du lien */
	background-color: #FFFFFF /* Couleur de fond */
	} 
.menuGauche li a:hover {
	color: #193485; /* Couleur du lien en survol  */
	background-color: #FFFFCC; /* Couleur de fond en survol */
	border-color: #009900; /* Couleur de la bordure */
	}  

/*=============================================================
	COULEURS DES TITRES DE NOUVEAUTÉS (ACCUEIL) ET DES PAGES
 ==============================================================*/
 
 
#colcentre h2, /* Titre des nouveautés sur la page d'accueil  */
#contenu h1 /* Titre de la page d'un article */ {

	color: #FFFFFF; /* couleur du titre */
	background-color: #009900; /* couleur du fond */
	}

/* ------les modifications de jsb ------------------*/

/* pagination ----------*/
p.right {text-align:right;padding-right:5px;}
p.center {text-align:center}

