/*-----------------------------------------
-     Layout
-------------------------------------------*/
html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif}
p{margin:0 10px 10px}
a{padding:0px;}

div#content p{line-height:1.4}
div#footer p{margin:0;padding:5px 10px}

div#sommaire{float:center;width:1008px}
div#mot{float:center;width:1008px}
div#rubrique{float:center;width:1008px}
div#site{float:center;width:1008px}
div#page_plan{float:center;width:1008px}
div#herbier{float:center;width:1008px}

div#content{float:left;width:755px;}
div#nav{float:right;width:253px;}
div#footer{clear:both;text-align:center;width:1008px}
