/*-----------------------------------------
-     Layout
-------------------------------------------*/
html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif}
p{margin:0 10px 10px}
a{padding:0px;}

div#container{text-align:left}
div#content p{line-height:1.4}
div#footer p{margin:0;padding:5px 10px}

div#container{float:center;width:1005px}
div#content{float:left;width:755px;}
div#navigation{float:right;width:250px;margin-top:25px}
div#extra{float:right;width:705px}
div#footer{clear:both;text-align:center;width:1005px}
