* {
margin:0;
padding:0;
}
html {
background:#e9f2f8;
}
body {
behavior:url("hover.htc");
font-family: "Lucida Grande","Lucida Sans",Geneva,Verdana,sans-serif;
font-size:66%;
}
#corps {
background:#fff;
margin-left:auto;
margin-right:auto;
width:98%;
max-width:1200px;
padding:0 .5em 0 .5em;
}
#colonneprincipale, #colonneactu, #colonnemenu {
padding-bottom: 32767px !important;
margin-bottom: -32767px !important; 
}
@media all and (min-width: 0px) {
#colonneprincipale, #colonneactu, #colonnemenu {
padding-bottom: 0 !important;
margin-bottom: 0 !important; 
}
#colonneprincipale:before, #colonneactu:before, #colonnemenu:before {
content: '[NE QUITTEZ PAS, CE NEST PAS REEL]';
display: block;
background: inherit;
padding-top: 32767px !important;
margin-bottom: -32767px !important;
height: 0;
}
}
#corps {
overflow: hidden;
}
a {
text-decoration:none;
color:#074A6F;
font-weight:bold;
}
a:hover {
text-decoration:underline;
}
a:visited {
color:#627F8F;
}
a img {
border:0;
}
ul {
margin-top:.2em;
list-style:url(puce.gif) inside;
}
ol {
margin-top:.2em;
list-style:decimal inside;
}
ul ul {
margin-bottom:.2em;
margin-left:1.5em;
}
ol ol {
margin-bottom:.2em;
margin-left:1.5em;
}
h3 {
margin:.4em 0 .4em 0;
}
blockquote {
padding:.5em .5em .5em 45px;
background:url(cite.gif) no-repeat top left #f1f9fd;
margin:.5em 0 .5em 0;
border-top:3px solid #c6e0f1;
}
pre {
padding:.5em;
background:#F5F1E6;
margin:.5em 0 .5em 0;
border-top:3px solid #EFB168;
overflow:auto;
}
.espace, #colonneprincipale div.portfolio ul li.espace {
clear:both;
display:block;
visibility:hidden;
height:0;
margin-bottom:.5em;
}
.spip_code {
font-family:monospace;
padding:.5em;
background:#f1f9fd;
margin:.5em;
}
#haut {
background:#5588a9;
text-align:center;
padding:4em 0 6em 0;
}
#haut #ar {
position:absolute;
top:.2em;
text-align:left;
margin-left:1em;
}
#haut #ar li {
display:inline;
}
#haut #ar li a {
color:#3b7294;
}
#haut #ar li a:hover {
color:#fff;
text-decoration:none;
}
span.date {
position:absolute;
top:2em;
color:#fff;
margin-left:1em;
float:left;
}
#haut h1 {
color:#fff;
font-family: Trebuchet, "Trebuchet MS", "Lucida Grande","Lucida Sans",Geneva,Verdana,sans-serif;
font-size:2.5em;
padding-left:6em;
}
#haut h1 a {
color:#fff;
}
#haut p {
color:#c6e0f1;
font-size:1.2em;
}
#location {
margin:.5em 0 .5em 0;
background:#90b5cd;
padding:0 .5em 1.2em 0;
color:#fff;
}
#location ul {
float:left;
padding-top:.38em
}
#location ul li {
display:inline;
background:url(puceh.gif) no-repeat center left;
padding:0 0 3px 12px;
}
#location ul li.racine {
display:inline;
background:0;
padding:0 0 3px 0;
}
#location ul li a {
color:#fff;
padding:.4em;
}
#location ul li a:visited, #location ul li a:hover {
color:#e2f0f8;
text-decoration:none;
}
#location ul li a:hover {
background:#A7CADF;
color:#fff;
}
#location ul li a.actuel {
padding:.4em;
font-weight:bold;
background:#A7CADF;
color:#fff;
}
#location ul li a.actuel:hover {
color:#e2f0f8;
}
#location ul li a.reponse {
border:1px solid #A7CADF;
}
#location ul li a.reponse:hover {
color:#fff;
}
#haut form {
width:20em;
margin-left:auto;
margin-right:auto;
}
#haut form label {
display:none;
}
#haut form input {
border:0;
background:#DAEAF2;
padding:.4em 0 .4em .4em;
margin:.4em 0 0 0;
font-size:1em;
width:100%;
font-weight:normal;
border:1px solid #9BBECF;
color:#5792AF;
}
ul.rapide {
margin:-1em 0 0 0;
width:15em;
float:right;
}
ul.rapide li {
list-style:none;
text-align:center;
}
ul.rapide li a {
display:block;
color:#F0F2F6;
padding:.6em 0 .6em 0;
}
ul.rapide li a:hover {
color:#0D436F;
background:#fff;
text-decoration:none;
border-radius:5px 0 0 5px;
-moz-border-radius:5px 0 0 5px;
}
.padding {
margin-right:.5em;
}
.paddinge {
margin-left:.5em;
margin-bottom:.5em;
}
#grandecolonneprincipale {
width:80%;
float:left;
text-align:justify;
}
#colonneprincipale {
width:57%;
float:left;
text-align:justify;
}
#colonneprincipale blockquote {
background:url(cite.gif) no-repeat top left #F7FBFD;
}
#colonneprincipale .bienvenue {
background:#eff6fa;
border:1px solid #90b5cd;
padding:.8em .8em 0 .8em;
margin-bottom:.6em;
}
#colonneprincipale .bienvenue.article {
background:#f8fbfd;
border:1px solid #DFF2FF;
}
#colonneprincipale .bienvenue .logo {
float:right;
margin:0 0 1em 1em;
}
#colonneprincipale .bienvenue h6 {
font-size:.8em;
float:left;
clear:left;
}
#colonneprincipale .bienvenue h6.sous {
margin-bottom:.5em;
}
#colonneprincipale .bienvenue h6 a {
color:#3f515c;
}
#colonneprincipale .bienvenue h3 {
font-family: "Lucida Grande","Lucida Sans",Geneva,Verdana,sans-serif;
font-size:1.1em;
background:0;
padding:0;
margin:.2em 0 .2em 0;
float:left;
clear:left;
}
#colonneprincipale .bienvenue h3.maj {
font-variant:small-caps;
font-size:1.2em;
font-family: Georgia,Garamond,Times,serif;
font-weight:normal;
}
#colonneprincipale .bienvenue.breve h3 {
float:none;
border-bottom:1px dotted !important;
border-bottom:1px solid;
}
#colonneprincipale h2 {
font-size:1.6em;
margin:0 0 .2em 0;
float:left;
clear:left;
color:#082B3F;
}
#colonneprincipale h2.sous {
margin:0 0 .1em 0;
}
#colonneprincipale .bienvenue a {
color:#3f647c;
text-decoration:underline;
}
#colonneprincipale .bienvenue a:hover {
color:#14384F;
text-decoration:none;
}
#colonneprincipale h2 a, #colonneprincipale .bienvenue h2 a, #colonneprincipale ul li a, #grandecolonneprincipale ul li a {
color:#082B3F;
text-decoration:none;
}
#colonneprincipale h2 a:hover, #colonneprincipale .bienvenue h2 a:hover, #colonneprincipale ul li a:hover, #grandecolonneprincipale ul li a:hover {
color:#07497F;
text-decoration:underline;
}
#colonneprincipale .bienvenue h4, #colonneprincipale h6.repcom, #colonneprincipale h4.dca {
color:#3f515c;
font-size:1.2em;
margin:.1em 0 .4em 0;
float:left;
clear:left;
}
#colonneprincipale h6.repcom {
margin:.5em 0 .2em .6em;
}
#colonneprincipale .bienvenue .chapo {
display:block;
background:#f6fcff;
padding:.8em;
margin:.5em 0 .5em 0;
border:1px solid #90b5cd;
clear:left;
color:#3e4a5c;
line-height:1.5em;
}
#colonneprincipale .bienvenue .texte {
color:#3f647c;
line-height:1.6em;
clear:left;
margin-bottom:1em;
}
#colonneprincipale h5 {
margin:.8em 0 .3em 0;
float:left;
clear:both;
color:#223F4F;
font-size:1.1em;
}
#colonneprincipale .bienvenue .postscriptum {
font-size:0.9em;
margin-bottom:1em;
}
#colonneprincipale .bienvenue .postscriptum h5 {
font-size:1.1em;
margin-top:.5em;
float:none;
}
#colonneprincipale #discussion h5 {
font-size:1.4em;
}
#colonneprincipale p.repondre {
text-align:right;
margin:1em 0 0 0;
}
#colonneprincipale a.repondre.dr {
float:right;
margin:1em 0 .8em 0;
}
#colonneprincipale a.repondre {
padding:.5em;
border:1px dotted #dc806b !important;
border:1px solid #dc806b;
text-decoration:none;
background:#fcf8e6;
color:#b5472d;
font-weight:bold;
}
#colonneprincipale a.repondre:hover {
border:1px solid #dc806b !important;
border:1px solid #dc806b;
color:#9F2E13;
}
#colonneprincipale .portfolio ul {
clear:both;
list-style:none;
float:none;
width:100%;
}
#colonneprincipale .portfolio {
margin-bottom:1em;
}
#colonneprincipale .portfolio li {
float:left;
clear:right;
margin-right:1em;
text-align:center;
}
#colonneprincipale .portfolio li a img {
border:1px solid #759EB8;
}
#colonneprincipale .portfolio li.titre {
font-weight:bold;
}
#colonneprincipale .portfolio li.titre a {
color:#0C1A5F;
}
#colonneprincipale .portfolio li.titre a:visited {
color:#37447F;
}
#colonneprincipale .portfolio ul.descdoc {
text-align:center;
width:auto;
list-style:none;
}
#colonneprincipale .portfolio ul.descdoc li {
display:block;
clear:both;
float:none;
}
#colonneprincipale .portfolio ul.descdoc li.taille {
font-size:.9em;
font-style:italic;
color:#5F5F5F;
}
#colonneprincipale .portfolio ul.descdoc li.type {
font-size:.9em;
}
#colonneprincipale div.portfolio span.info {
display:block;
width:200px;
text-align:center;
margin-bottom:.5em;
}
#colonneprincipale div.portfolio div.animation {
clear:both;
}
#colonneprincipale div.portfolio div.animation, #colonneprincipale div.portfolio div.animation object, #colonneprincipale div.portfolio div.animation param  {
z-index:1;
}
#colonneprincipale div.portfolio span.info a {
color:#093154;
font-weight:bold;
}
#colonneprincipale div.portfolio span.info a:hover {
color:#244b6d;
}
#colonnerincipale .portfolio div.audio {
}
#colonneprincipale div.message {
clear:both;
}
#colonneprincipale div.message div.message {
margin-left:2em;
}
#colonneprincipale div.message.fil {
margin-top:2em;
}
#colonneprincipale div.message p.entetemessage {
font-style:italic;
padding:.4em;
}
#colonneprincipale .couleurmessage1 p.entetemessage {
background:#E8F5FC;
}
#colonneprincipale .couleurmessage0 p.entetemessage {
border-top:1px dotted #83bad3 !important;
border-top:1px solid #83bad3;
border-left:1px dotted #83bad3 !important;
border-left:1px solid #83bad3;
border-right:1px dotted #83bad3 !important;
border-right:1px solid #83bad3;
background:none;
}
#colonneprincipale div.message p.entetemessage a {
color:#006cb1;
text-decoration:none;
}
#colonneprincipale div.message p.entetemessage a:hover {
text-decoration:underline;
}
#colonneprincipale div.message div.tmessage {
border:1px solid #d0edf7;
padding:1em;
}
#colonneprincipale p.repondremessage {
text-align:right;
margin-bottom:.5em;
color:#8c451e;
padding-top:.2em;
}
#colonneprincipale p.repondremessage a {
color:#6a9fb1;
background:#daf1f8;
padding:.2em .5em .2em .5em;
border:1px solid #D0EDF7;
text-decoration:none;
font-size:.85em;
}
#colonneprincipale #couleurmessage0 p.repondremessage a {
background:none;
}
#colonneprincipale p.repondremessage a:hover {
color:#356e81;
}
#colonneprincipale a.repondremessage:hover {
color:#cb985c;
}
#colonneprincipale div.bienvenue h4.mess {
left:28%;
position:relative;
}
form.ecrire  {
clear:both;
margin-bottom:.5em;
}
form.ecrire fieldset {
padding:0 .5em .5em .5em;
border:1px solid #87ABC2;
}
form.ecrire legend {
font-size:1.2em;
font-weight:bold;
padding:0 .2em .5em .5em;
margin-left:1em;
}
form.ecrire textarea {
height:15em;
}
form label {
float:left;
clear:both;
width:100%;
margin:.2em .5% 0 0;
text-align:right;
cursor:pointer;
font-size:.9em;
}
form.ecrire label {
float:none;
width:auto;
margin:.2em .5% 0 0;
text-align:right;
cursor:pointer;
}
form input, form textarea {
width:67%;
margin-bottom:.2em;
padding:.2em;
border-top:1px solid #00527F;
border-left:1px solid #00527F;
border-bottom:1px solid #8BB9DF;
border-right:1px solid #8BB9DF;
font-size:1.05em;
font-family: "Lucida Grande","Lucida Sans",Geneva,Verdana,sans-serif;
}
form textarea {
float:right;
}
form label span {
float:left;
text-align:right;
width:31%;
}
form.ecrire input, form.ecrire textarea {
width:99%;
clear:both;
}
.forum_form textarea {
float:left;
clear:both;
width:100%;
}
.forum_form label.textlab {
width:auto;
margin:0 0 .5em 0;
}
input:focus, textarea:focus {
border-top:1px solid #8BB9DF;
border-left:1px solid #8BB9DF;
border-bottom:1px solid #00527F;
border-right:1px solid #00527F;
color:#18314F;
}
input:focus {
background:#EFF8FF;
font-weight:bold;
}
textarea:focus {
background:#F8FDFF;
}
.forum_form fieldset {
padding:.5em;
border:0;
}
form legend {
font-weight:bold;
font-size:1.06em;
}
form input.soumission {
width:100%;
font-size:1.06em;
border-top:1px solid #DFA561;
border-left:1px solid #DFA561;
border-bottom:1px solid #6F3C00;
border-right:1px solid #6F3C00;
background:#EFE8E0;
cursor:pointer;
}
form input.soumission.ec {
width:15em;
float:left;
margin-top:.4em;
}
form input.soumission.envoyer {
margin:1em 0;
}
.forum_form .previsu .erreur {
border:1px solid #9F1D1D;
margin:1em 0 1em 0;
padding:.5em;
color:#DF0D0D;
}
div.message.repcom {
margin-bottom:.6em;
}
#colonneprincipale h3 {
font-family: Tahoma, Trebuchet, "Trebuchet MS", "Lucida Grande","Lucida Sans",Geneva,Verdana,sans-serif;
background:#90b5cd;
margin:.8em 0 0 0;
padding:.5em;
color:#1f2f63;
font-size:1.3em;
clear:both;
}
#colonneprincipale h3 a {
color:#fff;
text-decoration:none;
}
#colonneprincipale h3 a:hover {
text-decoration:underline;
}
#colonneprincipale h3.listerubrique {
color:#3f647c;
font-size:1.1em;
float:none;
cursor:pointer;
}
#colonneprincipale .bienvenue h3.listerubrique a {
color:#3f647c;
text-decoration:none;
padding-left:12px;
background:url(puce.gif) no-repeat center left;
}
#colonneprincipale .bienvenue h3.listerubrique a:hover, #colonneprincipale .bienvenue h3.listerubrique a:visited {
background:url(puces.gif) no-repeat center left;
}
#colonneprincipale .bienvenue h3.listerubrique a:hover {
text-decoration:underline;
}
#colonneprincipale .bienvenue h3.listerubrique a:visited {
color:#7099b3;
}
#colonneprincipale .listearticle h3 {
background:#D8EAF6;
color:#6381a0;
cursor:pointer;
}
#colonneprincipale .listearticle h3 a {
color:#6381a0;
}
#colonneprincipale .listearticle h3 a:visited {
color:#7fa5bd;
}
#colonneprincipale .listearticle .infos {
border:0;
font-style:italic;
color:#8c9fac;
font-size:.95em;
border-left:1px dotted #D8EAF6;
border-right:1px dotted #D8EAF6;
padding:.3em .6em .2em .2em;
background:#eff7fd;
text-align:right;
}
#colonneprincipale .listearticle .infos a, #colonneprincipale .autremc a {
color:#8c9fac;
text-decoration:underline;
}
#colonneprincipale .listearticle .infos a:hover, #colonneprincipale .autremc a:hover {
color:#778F9F;
}
#colonneprincipale .listearticle {
line-height:1.5em;
}
#colonneprincipale .listearticle abbr {
border:0;
}
#colonneprincipale .listearticle span {
float:left;
}
#colonneprincipale .autremc {
font-style:italic;
color:#8c9fac;
font-size:.95em;
border-left:1px dotted #D8EAF6;
border-right:1px dotted #D8EAF6;
border-bottom:1px dotted #D8EAF6;
padding:.2em .6em .2em .2em;
background:#F3F9FD;
}
}
#colonneprincipale .sommaire {
background:#f7fafc;
color:#557e98;
padding:.8em;
}
img.logo {
float:left;
margin:0 .5em 1em 0;
}
div.sommaire {
border:1px solid #E0E9EF;
background:#fff;
padding:.4em;
color:#557e98;
}
div.sommaire img.logo, div.survolliste img.logo {
margin:0 .5em 0 0;
}
div.sommaire p, .survolliste p {
margin:.5em;
}
.survolliste {
background:#F5FAFC;
border:1px solid #E0E9EF;
padding:.4em;
color:#3F677F;
}
#colonneprincipale .bienvenue .sommaire {
background:0;
border:1px solid #EFF6FA;
color:#557e98;
padding:.5em;
}
#colonneprincipale .bienvenue .survolliste {
background:#F5FAFC;
border:1px solid #E0E9EF;
color:#557e98;
padding:.5em;
}
#colonneprincipale .sommairearticle {
background:#f7fafc;
color:#2a425f;
padding:.8em;
border:1px solid #D8EAF6;
clear:both;
}
#colonneprincipale .sommaire .logo {
float:left;
margin:0 .5em 0 0;
}
#colonneprincipale .sommairearticle .logo {
float:right;
margin:0 1em 1em 0;
}
#colonneprincipale .listeautresarticles {
margin:1em 0 1em 0;
background:#DFEEF9;
padding:.5em;
clear:both;
}
#colonneprincipale .listeautresarticles abbr {
border:0;
}
#colonneprincipale .listeautresarticles dt a {
color:#093154;
font-weight:bold;
}
#colonneprincipale .listeautresarticles dt a:hover {
color:#244b6d;
}
#colonneprincipale .listeautresarticles dd {
margin:.2em 0 .6em .2em;
}
.spip_documents {
margin:.8em;
text-align:center;
}
.spip_documents img {
float:none;
margin-left:auto;
margin-right:auto;
}
.spip_documents_left {
margin:.8em .8em .5em 0;
}
.spip_documents_right {
margin:.8em 0 .5em .8em;
}
ul.resultats {
clear:both;
}
h2.listerubrique {
background:#D8EAF6;
color:#6381a0;
cursor:pointer;
font-size:1.3em;
padding:.4em;
clear:both;
}
h2.listerubrique a, h2.listerubrique a:visited:hover {
font-weight:bold;
color:#426488;
}
h2.listerubrique a:visited, h2.listerubrique a:hover {
color:#6490AC;
text-decoration:none;
}
.rubriqueprimaire h4 {
font-size:1em;
margin:.4em 0 .3em .8em;
}
.rubriqueprimaire h4 a {
font-weight:bold;
}
.rubriqueprimaire {
margin-bottom:1em;
}
.rubriqueprimaire img.logo {
margin-top:5px;
}
.rubriqueprimaire a {
font-weight:normal;
}
a.nbcom {
background:url(commentaire.gif) no-repeat;
font-size:.85em;
padding:0 5px 5px 5px;
}
a.nbcom:hover {
text-decoration:none;
font-weight:bold;
}
ul.breves {
padding:.8em 1% 1em 1%;
width:25%;
float:right;
background:#F7FCFF;
}
ul.breves a {
font-weight:normal;
}
ul.articles {
margin-left:.5em;
}
div.rubriquesecondaire {
margin:1em 0 0 2em;
border:2px solid #D8EAF6;
padding:0 0 .6em .6em;
}
div.rubriquesecondaire div.rubriquesecondaire {
margin:1em 1em .4em 1em;
border:2px solid #E8F0F6;
}
h3.listerubrique {
color:#6381a0;
cursor:pointer;
font-size:1.05em;
padding:0 .4em;
clear:both;
}
h3.listerubrique a, h3.listerubrique a:visited:hover {
color:#6381a0;
}
h3.listerubrique a:visited, h3.listerubrique a:hover {
color:#7fa5bd;
}
span.spip_surligne, #colonneprincipale .listearticle span.spip_surligne, #colonneprincipale .listearticle span.spip_surligne {
float:none;
font-weight:bold;
color:#224C6F;
background:#DFF2FF;
}
#colonneprincipale .listearticle h3 span.surligne {
color:#3E708F;
}
#colonneprincipale .listearticle img.logo {
margin-left:1em;
}
p.infopetition {
font-weight:bold;
color:#050B4F;
margin-bottom:.8em;
}
form.petition legend {
margin-bottom:.5em;
}
form.petition fieldset {
border:0;
margin-bottom:1em;
padding:0;
}
#colonneactu {
width:23%;
float:left;
background:#ddeef8;
text-align:justify;
}
#colonneactu h3.jour {
font-variant:small-caps;
color:#618193;
font-style:italic;
font-weight:normal;
font-size:1em;
background:#c4dce9;
padding:.5em;
margin-bottom:.5em;
}
#colonneactu abbr {
font-style:italic;
border:0;
padding-left:.5em;
color:#77899F;
font-size:.9em;
}
#colonneactu h2, #colonneactu h3.info {
color:#37586a;
padding:0 .5em 0 .5em;
font-size:1.3em;
text-align:left;
margin:0 0 -.1em 0;
font-variant:small-caps;
}
#colonneactu h3.info {
margin:.5em .5em 0 0;
padding:0;
color:#37586a;
}
#colonneactu ul.resultat {
margin-bottom:.5em;
}
#colonneactu ul.resultat li a {
color:#3f515c;
}
#colonneactu ul.resultat li a.actif {
font-weight:bold;
}
#colonneactu h2 a {
color:#37586a;
}
#colonneactu .entry-content {
padding:0 .5em .5em .5em;
color:#2d749d;
}
#colonneactu span.avoir {
display:block;
margin:0 0 .5em .5em;
font-style:italic;
}
#colonneactu span.avoir a {
font-style:normal;
}
#colonneactu h4.dca {
margin:.3em 0 .3em .3em;
font-variant:small-caps;
color:#778F9F;
}
#calendar h2 {
text-align:center;
margin:1em 0 0 0;
}
#calendar caption {
margin:.5em 0 0 0;
}
#calendar table {
margin:.5em 0 0 0;
width:100%;
}
#calendar abbr {
font-style:normal;
cursor:help;
color:#61768F;
}
#calendar th {
background:#C6DEEC;
padding:.3em 0 .3em 0;
text-align:center;
}
#calendar td {
padding:.5em 0 .5em 0;
text-align:center;
}
#calendar td.occupe {
padding:0;
}
#calendar td.occupe a {
display:block;
padding:.5em 0 .5em 0;
color:#F4F8FF;
background:#789DC0;
}
#calendar td.occupe a:hover {
background:#3D6D9A;
text-decoration:none;
}
#calendar td.horsperiode {
color:#878787;
font-size:.9em;
}
#calendar td.today {
background:#F4F8FF;
color:#3F64A6;
}
#colonnemenu {
width:20%;
float:left;
text-align:justify;
}
#colonnemenu ul {
list-style:none;
}
ul.menu li {
text-align:left;
margin-top:.1em;
padding:.8em .8em .8em 1.4em;
background:url(menu.gif) no-repeat .4em center #e3bfaa;
cursor:pointer;
}
ul.menu li.a {
background:#edd9c5;
border:1px solid #983626;
}
ul.menu li a {
color:#884337;
font-family: Tahoma, "Lucida Grande","Lucida Sans",Geneva,Verdana,sans-serif;
font-weight:bold;
text-decoration:none;
}
ul.menu {
list-style:none;
margin:0 0 .4em 0;
}
ul.menu ul {
list-style:none;
}
ul.menu li ul {
display:none;
}
ul.menu li:hover {
background:url(menur.gif) no-repeat .4em center #edd9c5;
}
#colonnemenu h4.menu {
font-size:1.2em;
margin:.6em 0 .2em .2em;
}
#colonnemenu ul.motsclefs {
padding:.5em;
background:#F7FAFC;
border:1px dotted #D8EAF6;
}
#colonnemenu ul.motsclefs li a, #colonnemenu div.web h5 a {
color:#006cb1;
}

#colonnemenu div.web h5 a {
display:block;
background:#ECF4F6;
color:#1D5499;
font-size:1.1em;
padding:.5em;
margin-bottom:.2em;
text-align:left;
}
#colonnemenu div.web h5 a:hover {
color:#ECF4F6;
background:#6F9AC3;
text-decoration:none;
}
#colonnemenu div.web span.info {
font-size:.95em;
font-style:italic;
color:#5A6B6F;
border:0;
}
#colonnemenu div.web abbr {
border:0;
}
#colonnemenu div.web .resume {
margin:.5em 0 .8em 0;
}
#pied {
clear:both;
}
#corps:after {
content: '[NE QUITTEZ PAS, CE NEST PAS REEL]'; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
#corps {
display: inline-block;
}
/*\*/
#corps {
display: block;
}
