/* - - - - - - - - - - - - - - - - - - - - -

Title : doc.spip.org CSS
Author : Mathieu Drouet (IZO)
URL : www.aucuneid.net/bones

Description : css du site de documentation de SPIP

Created : Octobre 2006
Modified : 

- - - - - - - - - - - - - - - - - - - - - */



/* ----- CSS ----- */


* {
	padding: 0;
	margin: 0;
}

html {
	padding: 0;
	margin: 0;
}

body {
	background: #2D3335;
	color: #EDEDEB;
	font-size: x-small;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
}

/* ----- IDS ----- */

#haut {
	padding: 1px 10px 2px;
}

#primaire {
	padding: 1px 10px 2px;
}

#hierarchie {
	margin: 5px 5px 5px 64px;
	word-spacing: 2px;
	text-transform: lowercase;
	font: x-small 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	color: #666666;
	padding-left: 20px;
}

#secondaire {
	padding: 20px 10px 2px;
	background: #545652 url(img/fond.jpg) repeat-x;
}

#pied {
	margin: 0;
	padding: 20px 5px 5px;
	clear: ;
	text-align: center;
	background: url(img/fond2.jpg) #2d3335 repeat-x;
}

/* ----- CLASSES ----- */

.clear {
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
}

.recherche {
	float: right;
	width: 200px;
	margin: 1em 0 0 0;
	-moz-opacity: 0.4;
	text-align: right;
}

.recherche:hover {
	-moz-opacity: 1.0;
}

.recherche .rechercheimg {
	float: left;
	width: 16px;
	height: 16px;
	background: url(img/loupe-20.png) 0 0 no-repeat;
	position: relative;
	top: 4px;
}

.recherche input {
	width: 175px;
	font-size: 0.85em;
	background: #CCC;
	margin-top: 2px;
}

.recherche input:focus {
	background: #FFF;
}

.rechercheform {
	margin: 1em 0;
}

.articles {
	padding: 5px;
	margin: 10px;
	float: left;
	background: transparent;
	width: 45%;
	height: 40%;
}

.logos {
	width: 65px;
	height: 100px;
	float: left;
}

.code {
	color: #ffffff;
	padding: 10px;
	border: 1px solid #ffffff;
	margin-top: 2px;
	font: bold medium Courier New, Courier, mono;
	margin-left: 64px;
	text-align: left;
}

.code:hover {
	color: #333333;
	border: 1px solid #717D09;
	height: 25%;
	background: #CDE04A;
}

.admin {
	text-align: center;
	margin-top: 20px;
}

.metadonne {
	margin-top: 10px;
	text-align: center;
	padding-bottom: 2px;
	font-weight: bold;
}

.block {
	margin: 10px;
	float: left;
	background: transparent;
	width: 30%;
	height: 30%;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.inscription {
	float: right;
	padding: 5px;
	margin: 10px;
	width: 20%;
}

.bouton {
	margin: 5px;
	text-align: right;
}

.spip_logos {
	behavior: url(win_png.htc);
}

.texte {
	padding: 5px;
	margin-left: 64px;
	margin-top: 10px;
	font: small Georgia, Times New Roman, Times, serif;
	clear: both;
}

/* ----- TAG ----- */

a {
	color: #CDE04A;
	text-decoration: none;
}

a.spip_in, a.spip_url {
	color: #CDE04A;
	text-decoration: none;
}

a:hover {
	color: #717D09;
	text-decoration: none;
}

.spip_url a:hover {
	color: #717D09;
	text-decoration: none;
}

a img {
	border: none;
}

img, .spip_logos {
	margin: 0;
	padding: 0;
	border: none;
}

.block li {
	list-style: url(img/puce_black-10.png);
	background: none no-repeat;
	padding-left: 0;
	margin: 0;
}

.block ul {
	list-style: url(img/puce_black-10.png);
	background: none no-repeat;
	margin: 0;
	padding: 0 0 0 20px;
}

.code li {
	list-style: none;
	background: none no-repeat;
	padding-left: 0;
	margin: 0 0 0 10px;
}

.inscription fieldset {
	padding: 10px;
	margin: 10px;
	border-color: #717d09;
	border-style: solid;
}

.inscription p {
	padding: 2px;
	text-align: justify;
}

.articles p {
	padding: 2px;
	text-align: justify;
}

.inscription h4 {
	padding: 2px;
	text-align: left;
	text-transform: uppercase;
	font-variant: small-caps;
}

.inscription legend {
	padding: 5px;
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
	color: #cde04a;
}

/* -----  HEADINGS ---- */

h2 {
	color: #ffffff;
	letter-spacing: 2px;
	padding: 5px;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 10px;
}

h1 {
	color: #cde04a;
	font-weight: bolder;
	letter-spacing: 2px;
	font-family: 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	font-variant: small-caps;
}

.articles h3 {
	margin-left: 64px;
	margin-top: 10px;
	letter-spacing: 1px;
	color: #ffffff;
	font-weight: bolder;
}

