RewriteEngine On

# pour spip
RewriteRule ^blogs([0-9]+)\.html$   blog.php?id_rubrique=$1 [QSA,L]
RewriteRule ^blog([0-9]+)\.html$    blog.php?id_article=$1 [QSA,L]

## spiperies
# envoi vers la version patchee de spip_cookie (qui regle le cookie-path sur /)
RewriteRule     ^spikini/(spip_cookie\.php3?)       spikini/$1      [QSA,L]
