.cadre-une {
	margin-top: -3px;
}
ul#menu li {
	display: inline;
}
ul#menu ul img {
	margin-top: -17px;
	margin-right: 5px;
}
#menuV2 ul.menulist img, #menuV2 ul.menulist ul img {
  margin-top: -17px;
	margin-right: 5px;
}