<plugin>
	<nom>The Morning After Z</nom>
	<auteur>Val&eacute;ry Xavier Lentz et Collectif SPIP Zone</auteur>
	<version>2.0.0</version>
	<etat>dev</etat>
	<icon></icon>
    
	<description>
<p>{{Ce plugin active le squelette The Morning After }} issu d'un th&egrave;me
Wordpress de [Arun Kale->http://themasterplan.in/]</p><p><a href="#URL_SITE_SPIP/ecrire/?exec=cfg&cfg=themorningafter">Configuration avec CFG</a></p>
</description>

	<lien>[The Morning After->https://contrib.spip.net/The-Morning-After]</lien>
	<prefix>the_morning_after</prefix>
	<categorie>squelette</categorie>
</plugin>