<plugin>
	<nom><multi>
	[en]TMA
	</multi></nom>
	<auteur>Arun Kale, adapt&eacute; par Val&eacute;ry-Xavier Lentz</auteur>
	<licence>Creative Commons (type &agrave; v&eacute;rifier)</licence>
  <version>1.0</version>
	<description><multi>
	[fr]Adaptation du c&eacute;lèbre thème Wordpress pour SPIP.
	</multi></description>
  <icon>vignette.jpg</icon>
  <etat>dev</etat>
  <prefix>theme</prefix>
</plugin>