<plugin>
	<nom><multi>
	[en]The Morning After
	</multi></nom>
	<auteur><multi>[fr]Arun Kale (cr&eacute;ation), [The Masterplan->http://themasterplan.in] et adapt&eacute; pour Zspip par [Val&eacute;ry-Xavier Lentz->http://www.valeryxavierlentz.eu].
	[en]Arun Kale (design) [The Masterplan->http://themasterplan.in], modified for Zspip by [Val&eacute;ry-Xavier Lentz->http://www.valeryxavierlentz.eu].</multi>
	</auteur>
	<licence><multi>[en] Modified MIT License</multi></licence>
  <version>1.0</version>
	<description><multi>
	[fr]The Morning After est un th&egrave;me de style magazine adapt&eacute; pour SPIP &agrave; partir de la version 1.3.2 du th&egrave;me Wordpress. Lire README.txt (en anglais) pour les d&eacute;tails de la licence. Merci de laisser les cr&eacute;dits en pied de page.
	[en] 'The Morning After' is a magazine-style theme, adapted to SPIP from the 1.3.2 version of the Wordpress theme. Read README.txt for the licence details. Please keep the credits in the footer.
	</multi></description>
  <icon>vignette.jpg</icon>
  <etat>test</etat>
  <prefix>theme</prefix>
</plugin>