<!-- A. HEADER -->      
<div class="header">
  
  <!-- A.1 HEADER TOP -->
  <div class="header-top">
	<INCLURE{fond=noisettes/_entete/haut}>
  </div>
  
  <!-- A.2 HEADER MIDDLE -->
  <div class="header-middle">    

	<!-- Site message -->
	<div class="sitemessage">
	  [(#CONFIG{multiflex/general/description_entete}|propre)]
	</div>        
  </div>
  
  <!-- A.3 HEADER BOTTOM -->
  <div class="header-bottom">
    <INCLURE{fond=noisettes/_entete/menu_deroulant}{env}>
  </div>

  <!-- A.4 HEADER BREADCRUMBS -->

  <!-- Breadcrumbs -->
  <div class="header-breadcrumbs">
    <INCLURE{fond=noisettes/_entete/bas}{env}>
  </div>
</div>



