
<!-- B. MAIN -->
<div class="main">

  <!-- B.1 MAIN NAVIGATION -->
  <div class="main-navigation">
	<!-- Navigation Level 3 -->
	<div class="round-border-topright"></div>
    <INCLURE{fond=inc-colonne}{env}>            
  </div>

  <!-- B.2 MAIN CONTENT -->
  <div class="main-content">
   <INCLURE{fond=inc-centre}{env}>                             
  </div>
			
  <!-- B.3 SUBCONTENT -->
  <div class="main-subcontent">
	<INCLURE{fond=inc-colonne}{env}{mfx_navigation=non}{mfx_supplements=oui}{mfx_colonne_div=oui}>
  </div>
</div>
