<plugin>
	<nom>Cr&#233;ation des mots cl&#233;s d&#8217;eva-web</nom>
	<slogan>Les mots-cl&#233; n&#233;cessaires &#224; l&#8217;utilisation d&#8217;eva-web</slogan>
	<auteur>Samuel Bocharel, Olivier Gautier, &#233;quipe de d&#233;veloppement Eva-WEB.</auteur>
	<licence>GNU/GPL</licence>
	<lien>http://eva-web.edres74.net</lien>
	<version>0.4.0</version>
	<version_base>0.1</version_base>
	<etat>stable</etat>
	<description>
Permet de cr&#233;er les mots cl&#233;s n&#233;cessaires &agrave; l&#8217;utilisation du squelette eva-web
et de g&#233;rer les informations li&#233;es &agrave; la page de mentions l&#233;gales.

Ce plugin cr&#233;&#233; d&#8217;abord les groupes puis les mots cl&#233;s tout en v&#233;rifiant que ceux-ci n&#8217;existe pas avant. L&#8217;utilisation de chaque mot cl&#233; est pr&#233;cis&#233; dans chaque descriptif.

Une fois activ&#233;e et les mots cl&#233;s cr&#233;&#233;s, ce plugin peut &ecirc;tre d&#233;sinstall&#233;.
	</description>
	<prefix>eva_install</prefix>
	<bouton id="eva_install" parent="configuration">
		<icone>img_pack/install.png</icone>
		<titre>Mots-clés d&#8217;EVA-WEB</titre>
  	</bouton>
	<bouton id="eva_install_bando" parent="bando_squelette">
		<icone>img_pack/logo_eva_install_24.png</icone>
		<titre>Mots-clés d&#8217;EVA-WEB</titre>
		<url>eva_install</url>
	</bouton>
	<categorie>squelette</categorie>
	<necessite id="spip" version="[2.0.0;2.1.99]" />
</plugin>
