<plugin>
	<nom> <!-- Nom du plugin -->
	Cr&eacute;ation des mots cl&eacute;s d'eva-web
	</nom>
	<auteur>
    Samuel Bocharel, Olivier Gautier, &eacute;quipe de d&eacute;veloppement Eva-WEB.<br/>
	 <a rel="Eva-web" class="spip_out" href="http://eva-web.edres74.net">http://eva-web.edres74.net</a><br/>
    Cette r&eacute;alisation est mise &agrave; disposition sous licence GNU GPL.
    <br />&nbsp;<br /><div style="text-align:center;"><a rel="licence" class="spip_out" href="http://www.april.org/gnu/gpl_french.html"><img alt="Licence GNU GPL" style="border-width:0" width="80" height="100" src="http://www.fsf.org/graphics/philosophical-gnu-sm.jpg"/></a></div>
	</auteur>
	<version>
	0.3
	</version>
    <version_base>0.1</version_base>
	<etat>
	stable
	</etat>
	<description>
    Permet de cr&eacute;er les mots cl&eacute;s n&eacute;cessaires &agrave; l'utilisation du squelette eva-web
    et de g&eacute;rer les informations li&eacute;es &agrave; la page de mentions l&eacute;gales<br/>
    Ce plugin cr&eacute;&eacute; d'abord les groupes puis les mots cl&eacute;s tout en v&eacute;rifiant que ceux-ci n'existe pas avant.<br/>
	L'utilisation de chaque mot cl&eacute; est pr&eacute;cis&eacute; dans chaque descriptif.<br/>
	Une fois activ&eacute;e et les mots cl&eacute;s cr&eacute;&eacute;s, ce plugin peut &ecirc;tre d&eacute;sinstall&eacute;.
	</description>
    <prefix>
    eva_install
    </prefix>
    <pipeline>
        <nom>ajouter_boutons</nom>
        <action>AjouterBoutons</action>
		<inclure>eva_install_pipeline.php</inclure>
    </pipeline>
</plugin>
