/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body {
	behavior: url("csshover.htc"); /* WinIE behavior call */
	background: black;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1em;
	color: white;
}

img, table { margin: 0; padding: 0; border: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */

#conteneur { 
	text-align: left;
	border: none;
	margin-top: 0;
	margin-left: 0;
	padding-top: 0.5em;
	padding-left: 2em;
	margin-right: auto;
	}

#conteneur #contenu {
	margin: 0 0 0 0;
	padding: 0;
	border: none;
	float: left;
	width: 95%;
}

#navigation {
	margin: 0;
	padding: 0;
	border: none;
	position: absolute;
	top: 5,5em;
	left: 0;
	width: 9em;
	text-align: center;
}

/* Blocs du contenu (c-a-d. la colonne principale) */
#contenu .contre-encart {
	margin: 0;
	padding: 0;
	border: none;
	float: right;
	width: 75%;
}

#contenu .encart {
	float: left;
	width: 20%;
	padding: 0;
	border: none;
	margin: 1em 1em 1em 0;
}

/* Entete */
#entete {
    width: 100%;
	margin-top: 0;
	padding: 0;
	background: black;

}
#entete #nom_site_spip, #entete a .spip_logos {
	display: block;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	border: none;
	font-weight: bold;
	font-size: 1.5em; 
}
#entete #nom_site_spip {min-height: 80px;}
#entete a { text-decoration: none; }
#entete #nom_site_spip {padding-top: 40px; text-align: center;}
#entete #nom_site_spip, #entete a:hover  .spip_logos { 
	color: #f26522; }

#entete .formulaire_recherche { 
	float: right; 
	padding: 0.4em 0.5em 0 0;
}
#entete #barre {
	width: 100%;
	background: #4f4f4f url(images/fondbarrehaut.png) repeat-x;
	height: 1.9em;
	margin: 0;
	padding: 0;
	border: none;
}

#entete #barre ul {
	margin: 0 0 0 1em;
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	white-space: nowrap;
}

#entete #barre li.level1 {
    position: relative;
	margin: 0;
	padding: 0.5em 0.8em 0 0.8em;
	border: none;
	height: 1.9em;
	list-style-type: none;
	display: block;
	float: left;
}

#entete #barre li.level1>a {
	text-decoration: none;
	color: black;
}

#entete #barre li.level1:hover { 
	color: white;
	background: transparent url(images/fondbarrehautsurvol.png);
}

#entete #barre li.level1:hover>a { 
	color: white;
	background: transparent;
}

#entete #barre li.level2 {
	position: relative;
	list-style: none;
	margin: 0;
	border-bottom: 1px white solid;
	height: auto;
	width: auto;
	font-size: 1.2em;
	text-align: left; 
}

#entete #barre li.level2>a {
	width: auto;
	height: auto;
	display: block;
	padding: 0.25em 0 0.25em 0.5em;
	white-space: normal;
}

#entete #barre li.level2, #entete #barre li.level2 a {
	color: white;
	background: transparent;
	margin: 0;
}

#entete #barre li.level2:hover, #entete #barre li.level2:hover>a {
	background: #4f4f4f;
	color: white;
}

#entete #barre ul.level2 {
	position: absolute;
	top: 2.9em;
	left: -1em;
	width: 16em;
	padding: 0;
	display: none;
	background: transparent url(images/pixtrans.png);
	font-weight: normal;
	border-left: 1px white solid;
	border-right: 1px white solid;
}

#entete #barre ul.level3 {
	position: absolute;
	z-index: 300;
	top: -1px;
	left: 16.6em;
	width: 16em;
	padding: 0;
	display: none;
	margin-left: -1px;
	background: transparent url(images/pixtrans.png);
	font-weight: normal;
	border-left: 1px white solid;
	border-right: 1px white solid;
	border-top: 1px white solid;
}

#entete #barre ul.level1 li.level1:hover ul.level2 {display:block;}

#entete #barre ul.level2 li.level2:hover ul.level3 {display:block;}

#entete #barre ul.auth {display:block;}
#entete #barre ul.auth li {margin-left: 4em;}
/* Fil d'Ariane */
#hierarchie {
	width: 80%;
	margin: 0 0 2em 0;
	font-size: 0.77em; }
	
.page_photoalbum #hierarchie {
	width: 46em;
	margin: 0 0 2em 0;
	font-size: 0.77em; }

/* Pied de page */
#pied small { font-size: 0.77em; }
#pied img { vertical-align: middle; }
#pied {
	width: 100%;
	clear: both;
	background: #4f4f4f url(images/fondbarrebas.png) repeat-x;
	height: 1.5em;
	text-align: center;
	margin-top: 0;
	border: none;
}

#pied #liens {
	margin-left: auto;
	margin-right: auto;
}

#pied ul {
	border: none;
	padding-top: 0.4em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #cfcfcf;
	white-space: nowrap;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#pied li {
	padding-top: 0.4em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	border: none;
	height: 1.5em;
	list-style-type: none;
	display: inline;
}

#pied li a {
	text-decoration: none;
	color: black;
}

#pied a:hover { 
	font-weight: bold;
	background-color: transparent;
	height: 1.5em;
}

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: none; height: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour les menus et la navigation */
body, #navigation, .encart, .formulaire_spip {
	font-family: Verdana, Tahoma, Arial, sans-serif; }

/* Typo pour le contenu */
#contenu {
	font-family: "Trebuchet MS", Helvetica, sans-serif; }

/* Typo pour les citations et extraits introductifs */
q, blockquote, .liste-articles li .texte, h3.spip, .voirskel {
	font-family: Georgia, Times, serif; }


/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

/*  Habillage general des menus de navigation
---------------------------------------------- */
/*
*/

.rubriques, .breves, .syndic, .forums, .divers {
	min-width: 10em;
	border: 2px solid #cfcfcf;
	border-radius : 16px;
	-moz-border-radius: 16px;
	margin-bottom: 1em;
	font-size: 0.77em;
}

.nav {
	border: 2px solid #cfcfcf;
	border-radius : 16px;
	-moz-border-radius: 16px;
	margin-bottom: 1em;
	font-size: 1em;
        font-weight: bold;
}

.nav ul li {
        text-align: center;
        }

.menu-titre {
	padding: 0.2em 0.4em;
	text-align: center;
	font-weight: bold;
}

.menu li {height: 1.5em;}

#navigation p, .encart p { margin: 0; padding: 0.2em 0.7em; text-align: left;  }
#navigation ul, .encart ul { margin: 0; padding: 0.2em 0; text-align: left; list-style: none; }
#navigation li, .encart li { margin: 0; padding: 0 0.7em; }

/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.menu { background-color: black;}
.menu .menu-titre { background-color: black; }
.nav li.home {list-style: url(images/home-18.png) inside;}
.nav li.home:hover {list-style: url(images/home-18-over.png) inside;}
.nav li.ecrire {list-style: url(images/ecrire.png) inside;}
.nav li.ecrire:hover {list-style: url(images/ecrire-over.png) inside;}
.nav li.plan {list-style: url(images/plan.png) inside;}
.nav li.plan:hover {list-style: url(images/plan-over.png) inside;}
.nav li a {
	text-decoration: none;
	color: #f26522;
}

.nav li:hover {
	color: #000000;
	background-color: #f26522;
}
.nav li:hover a{
	color: #000000;
	background-color: #f26522;
}

.menu li a {
	text-decoration: none;
	color: #f26522;
}

.menu li:hover {
	color: #000000;
	background-color: #f26522;
}
.menu li:hover a{
	color: #000000;
	background-color: #f26522;
}
.rubriques { background: black;}
.rubriques .menu-titre { background: transparent; }

.breves, .nav { background: black; }
.breves .menu-titre { background: transparent; }

.une { background: black; }
.une .menu-titre { background: transparent; }

.syndic { background: black; }
.syndic .menu-titre { background: transparent; }

.forums { background: black; }
.forums .menu-titre { background: transparent; }

.divers { background: black; }
.divers .menu-titre { background: transparent; }

/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */

/*  Cartouche et titraille
---------------------------------------------- */

.cartouche { margin-bottom: 2em; }

.cartouche .titre {
	font-size: 1.27em;
	font-weight: bold;
	color: white; }
#contenu .surtitre, #contenu .soustitre { font-size: 0.82em; }

.cartouche .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px; }

.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche small { font-size: 0.71em; }

.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }


/*  Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
	margin-bottom: 1.5em;
	font-weight: bold;
	line-height: 1.4em; }

.lien {
	background: #EEE;
	margin: 1em;
	margin-bottom: 1.5em;
	padding: 0.82em;
	border: 1px solid #CCC;
	font-size: 0.82em;
	font-weight: bold; }

.texte { color: white; font-size: 0.96em; }

.ps, .notes {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
.ps { font-size: 0.82em; }
.notes { clear: both; font-size: 0.77em; }
.ps h2, .notes h2 { font-size: 1.19em; font-weight: bold; }

/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC;
	text-align: center; }
#documents_portfolio h2 { text-align: left; margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }

#document_actif { margin-top: 1em; }

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }
#documents_joints ul { margin: 0; padding: 0; list-style: none; }
#documents_joints li { margin-bottom: 0.4em; }
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles ul { margin: 0; padding: 0; list-style: none; }
.liste-articles li { margin-bottom: 1em; clear: both; }

.liste-articles li .titre {
	font-size: 1.03em;
	font-weight: bold; }

.liste-articles li .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
	clear: right; }

.liste-articles li p { margin: 0; padding: 0; }

.liste-articles li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-articles li small {
	display: block;
	font-size: 0.71em; }

.liste-articles li .texte {
	margin-top: 5px;
	margin-bottom: 2em;
	border: 1px solid #CCC;
	padding: 0.9em;
	font-size: 0.82em;
	line-height: 1.4em; }

.pagination { font-size: 0.90em; }

/*  ------------------------------------------
/*  Habillage specifique du plan du site
/*  ------------------------------------------ */

.page_plan .cartouche { display: none; }

.page_plan #contenu h2 {
	clear: both;
	background: #EEE;
	border: 1px solid #CCC;
	padding: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center; }

.page_plan #contenu .contre-encart ul {
	display: block;
	clear: left;
	margin-top: 0;
	margin-bottom: 1em;
	padding-top: 0; }
.page_plan #contenu .contre-encart li {}



/*  ------------------------------------------
/*  Habillage des forums
/*  ------------------------------------------ */

.forum-repondre, .forum-decompte {
	clear: both;
	margin-top: 2.5em;
	padding-top: 2px;
	border-top: 2px solid #CCC;
	font-size: 0.88em;
	font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; text-decoration: none; color: #333; }
.forum-chapo small {color: #333;}
.forum-texte { margin: 0; padding: 0.5em 1em 0 1em; color: #fff; font-size: 0.82em; }
.forum-texte .forum-lien {}
.forum-texte .forum-repondre-message { margin: 0; padding: 1px 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: none; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; font-size: 0.88em; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; color: black;}
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a { text-decoration: none; color: #f26522; }
a:hover { 
	background-color: #f26522; 
	color: black; }
td.today {border: 1px solid #cfcfcf;}
a img:hover {background: transparent;}

/* Couleurs des liens de SPIP */
a.spip_note {color: #f26522;} /* liens vers notes de bas de page */
a.spip_out:note { 
	background-color: #f26522; 
	color: black; }
a.spip_ancre {color: #f26522;} /* liens internes a la page */
a.spip_ancre:hover { 
	background-color: #f26522; 
	color: black; }
a.spip_in {color: #f26522;} /* liens internes */
a.spip_in:hover { 
	background-color: #f26522; 
	color: black; }
a.spip_mail { color: #f26522; }
a.spip_mail:before { content: "\002709"; } /* liens vers un email */
a.spip_out { color: #f26522;} /* liens sortants */
a.spip_out:hover { 
	background-color: #f26522; 
	color: black; }
a.spip_url { color: #f26522; } /* liens url sortants */
a.spip_url:hover { 
	background-color: #f26522; 
	color: black; }
a.spip_glossaire { color: #f26522; } /* liens vers encyclopedie */
a.spip_glossaire:hover { 
	background-color: #f26522; 
	color: black; }
a.spip_glossaire:hover { text-decoration: underline overline; }
.on { font-weight: bold; } /* liens exposes */

/* Tableaux */
table.spip { max-width: 99%; margin-right: auto; margin-left: auto; margin-bottom: 1em; border-collapse: collapse; border-spacing: 0; line-height: normal; }
table.spip caption { caption-side: top; /* bottom pas pris en compte par IE */ text-align: center; margin-right: auto; margin-left: auto; font-weight: bold; }
table.spip tr.row_first { background: #FFC; color: black;}
table.spip tr.row_odd { background: #EEE; color: black;}
table.spip tr.row_even { background: #DDD; color: black;}
table.spip th, table.spip td { padding: 0.20em 0.40em; text-align: left; border: 1px solid; }
table.spip th { vertical-align: bottom; font-weight: bold; }
table.spip td { vertical-align: top; }