/*
 * CSS cahierspip, theme 2 :  neofutur.net 
 */


.bord_article{
	text-align: left;
	background: #CCCCCC; 
	border: groove 7px #a0a0a0;
	padding: 7px;
	font-size: 100%;
	line-height: 1.3em;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-left: 7px;
	margin-right: 7px;
        overflow: hidden;
}
.bord_article_encart{
	text-align: left;
	background: #baffea; 
	border: groove 5px #a0a0a0;
	padding: 1px;
	font-size: 90%;
	line-height: 1.2em;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	margin-right: 1px;
}
.bord_rubrique{
	/* background: #53A0FF; */
	text-align: left;
	background: #BBBBBB; 
	border: groove 7px #a0a0a0;
	margin-top: 0px;
	margin-bottom: 2px;
	margin-left: 1px;
	margin-right: 1px;
	padding: 2px;
	font-size: 90%;
	line-height: 1.2em;
        overflow: hidden;
}
.bord_motscles{
	text-align: left;
	background: #f0fcfc;
	border: groove 5px #a0a0a0;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	padding: 1px;
	font-size: 95%;
        overflow: hidden;
}
.bord_banner{
        /* background: #53A0FF; */
        background: #87CEEB;
        border: groove 4px #a0a0a0;
        margin-top: 0px;
	margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 0px;
        padding: 3px;
        font-size: 90%;
        text-align: center;
}


.liste_rubrique{
	background: #53A0FF;
	border: groove 4px #a0a0a0;
	margin-top: 2px;
	margin-left: 1px;
	margin-bottom: 2px;
	padding: 2px;
	font-size: 100%;
}

.liste_article {
        text-align: left;
        background: #cccccc;
        border: groove 3px #a0a0a0;
        margin-top: 1px;
        margin-left: 1px;
        margin-bottom: 1px;
        padding: 2px;
        font-size: 90%;
}


/*
 * Mise en page des textes (bordures...)
 */

.chapo {
	line-height: 1em;
        font-size: 90%;
	margin-top: 7px;
}
.texte {
}
.ps {
	padding-top: 0.6em;
	margin-top: 0.6em;
	border-top: 1px dashed #404040;
}
.notes {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	border-top: 1px solid #a0a0a0;
	padding: 1.5em;
}

/*
 * Habillage des menus de gauche
 */

.menu {
        text-align: left;
	padding: 1px;
	margin: 1px;
        width: 96%;
}
.motscles{
        text-align: left;
        padding: 0px;
        margin: 0px;
        width: 96%;
}
.motscles ul {
        display: block;
        text-align: left;
        margin: 1px;
        padding: 1px;
        padding-bottom: 1px;
        list-style: none;
        width: 98%;
}

.menu_100 { 
        text-align: left;
        padding: 0px;
        margin: 1px;
        margin-bottom: 1px;
        margin-right: 1px;
        margin-left: 1px;
        width: 90%;
}

.menu_center {
        text-align: center;
	padding: 0px;
	margin: 0px;
	margin-bottom: 1px;
	margin-left: 1px;
        width: 14%;
}
.menu ul {
	display: block; 
        text-align: left;
	margin: 1px;
	padding: 1px;
	padding-bottom: 1px;
	list-style: none;
        width: 98%;
}
.liste_article ul{
       display: block;
        text-align: left;
        margin: 1px;
        padding: 1px;
        padding-bottom: 1px;
        list-style: none;
        width: 78%;
}

.menu ol {
	display: block;
        text-align: left;
	margin: 0px;
	padding: 0px;
	padding-bottom: 1px;
	list-style: none;
        width: 100%;
}
.menu-titre {
        text-align: left;
        border: 3px groove;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 90%;
        line-height:1.5em;
        width: 90%;
}
.menu-item {
	margin: 1px;
        text-align: left;
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 90%;
        width: 100%;
}

.menu-mots {
        text-align: left;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 120%;
        font-weight: bold;
        width: 100%;
}
/* Des couleurs specifiques selon les types de menus */

.general		{ background-color: #ffffff; text-align:center; }
.general .menu-titre 	{ background-color: #cccccc; }
.general .menu-item 	{ background-color: #dddddd; }

.rubriques 		{ background-color: #eeeeee; text-align:left; overflow: hidden; }
.rubriques .menu-titre	{ background-color: #dddddd; }
.rubriques .menu-liste	{ font-size: 90%; background-color: #dddddd; text-align: left;}
.rubriques .menu-item	{ font-size: 90%; background-color: #dddddd; text-align: left;}

.liste_article .menu-item { font-size: 90%; background-color: #dddddd; text-align: left;}

.breves 		{ background-color: #ffffff; }
.breves .menu-titre	{ background-color: #eeeeee; text-align:center; }

.divers 		{ background-color: #ddeeff; }
.divers .menu-titre	{ background-color: #bbccdd; text-align:center; }

.forums 		{ background-color: #ccddee; }
.forums .menu-titre	{ background-color: #99ccdd; text-align:center; }

.motscles 		{ font-size: 95%; text-align: left; overflow: hidden; }
.motscles .menu-titre	{ font-size: 90%; background-color: #cccccc; text-align: left;}
.motscles .menu-liste	{ font-size: 90%; background-color: #dddddd; text-align: left;}
.motscles .menu-item	{ font-size: 85%; background-color: #dddddd; text-align: left; overflow: hidden;width:90%;}

/*
 * Styles pour le contenu (c-a-d. la colonne centrale)
 */

.contenu {
	margin: 0px;
}
.contenu h2.titre-extrait {

}
.contenu h2.titre-texte {
}
.contenu .surtitre {
	font-size: 80%;
	margin-top: 0em;
	margin-bottom: 0em;
}
.contenu .detail {
	font-size: 80%;
	margin-left: 2px;
}
.contenu .detail .important {
	/* color: #a02020; */
}
.extrait {
	margin: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 2px;
	margin-right: 2px;
	line-height: 1em;
}

.contenu .forum-repondre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 90%;
	font-weight: bold;
	margin-top: 3px;
}


/*
 * Disposition a l'ecran : colonnes, encarts, cartouches
 */

#principal {
	position: relative;
	margin-left: 19.6%;
	width: 46%;
	margin-top: 1px;
	padding: 4px;
	margin-right: 2px;
	z-index : 2;
}
#principal2 {
	position: absolute;
	margin-left: 100%;
	width: 75%;
	top: 0px;
	padding: 4px;
	margin-right: 2px;
	z-index : 2;
}

#principal_rubrique {
	position: absolute;
	width: 58.7%;
	left: 19.6%;
	top: 2px;
	padding: 2px;
	margin-right: 3px;
	z-index : 2;
}
#principal_large {
	position: relative;
        width: 61%;
	top: 1px;
	padding: 2px; 
	margin-left: 19.6%;
	margin-right: 3px;
	z-index : 0;
}


#plan {
	position: absolute;
	left: 2px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	margin-right: 2em;
	margin-top: 2em;
}

#navigation {
        position: absolute;
	margin-left: 1px;
	left: 0px;
	margin-right: 0px;
	width: 19.7%;
	margin-top: 1px;
	padding: 2px;
}
#navigation2 {
	position: absolute;
	margin-left: 2px;
	left: 0px;
	top: 0px;
	width: 13%;
	margin-top: 6px;
}

.encart {
	position: absolute;
	left:100%;
        top: 0px;
	float: right;
	/*width: 14em;*/
	width: 80%;
	margin-left: 2px;
	/*margin-left: 2em;*/
	margin-top: 1em;
	margin-bottom: 0em;
	margin-right: 0px;
}
.encart_rubrique {
	text-align: left;
	position: absolute;
	top: 6px;
	width: 20%;
	padding: 3px;
	/* margin: 1px; */
	margin-left:76.3%;
	margin-right: 3px;
	/* margin-top: 1em; */
	z-index : 2;
}
.encart_google {
	text-align: left;
	position: absolute;
        top: 7px;
	width: 36.2%;
	margin-left: 96.5%;
	margin-top: 0px;
	margin-bottom: 1px;
	margin-right: 1px;
	padding: 3px;
}
.encart_google_large {
        position: absolute;
        top: 35px;
        width: 19%;
        margin-top: 4px;
        padding : 2px;
        left: 80.4%;
        margin-bottom: 7px;
        margin-right: 2px;
}

.encart_google_recherche {
	position: absolute;
        top: 0px;
	float: right;
	width: 22%;
	margin-top: 4px;
	padding : 2px;
	margin-left: 76.8%;
	margin-bottom: 4px;
	margin-right: 2px;
}
.encart_logo_gauche {
        position: relative;
        overflow: hidden;
        text-align: center;
        vertical-align: text-bottom;
        width: 36%;
        height: 140px;
        /* border:  groove 3px #a0a0a0; */
        margin-left: 0px;
        margin-bottom: 19px;
        margin-right: 9px;
}

.encart_titre_droite {
        /*position: relative;*/
        position: absolute;
        /*border:  groove 3px #a0a0a0;  */
        width: 52%;
        height: 34%;
        margin-left: 37%;
        margin-top: -140px;
        margin-bottom: 1px;
        margin-right: 1px;
}

.encart_texte_dessous{
        position: relative;
        padding : 4px;
        top:1px;
        margin-top: -56px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
}


.encart_logo_gauche {
	position: relative;
        overflow: hidden;
        text-align: center;
        vertical-align: text-bottom;
	width: 36%;
	height: 140px;
	/* border:  groove 3px #a0a0a0; */
	margin-left: 0px;
	margin-bottom: 19px;
	margin-right: 9px;
}
.encart_logo_gauche_nolimit {
	position: relative;
        overflow: hidden;
        top: 0px;
	width: 34%;
	height: 140px;
	/* border:  groove 3px #a0a0a0; */
        height: 100%;
	margin-left: 2px;
	margin-bottom: 27px;
	margin-right: 12px;
}

.encart_titre_droite {
	position: relative;
	/*border:  groove 3px #a0a0a0;  */
	width: 62%;
	height: 34%;
	margin-left: 37%;
	margin-top: -130px;
	margin-bottom: 1%;
	margin-right: 7px;
}
.encart_titre_droite_nolimit {
        position: relative;
        top: 0px;
        /* border:  groove 3px #a0a0a0; */
        /*width: 63%;*/
        /*height: 150px;*/
        margin-left: 144px;
        margin-top: -140px;
        margin-bottom: 7px;
        margin-right: 2px;
}

.encart_texte_dessous{
        position: relative;
	padding : 4px;
        margin-top: 70px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
}

.cartouche {
	padding-top: 1em;
	border-top: 2px solid #404040;
	margin-bottom: 0em;
}
.cartouche {
	padding-top: 1em;
	border-top: 2px solid #404040;
	margin-bottom: 0em;
}

.spip_logos {
	margin: 3px;
	border-width: 0px;
}

/*
 * Habillage du plan du site
 */

.plan-secteur {
	margin-top: 0em;
	margin-bottom: 3em;
	clear: right;
}

.plan-secteur h1 {
	display: block;
	border: 1px solid #a0a0a0;
	margin: 0px;
	padding: 8px;
	font-size: 120%;
	font-weight: bold;
	background-color: #e0ffe0;
	text-align:center;
}
.plan-rubriques {
	clear: left;
	display: block;
	list-style: none;
}
.plan-rubrique {
	display: inline;
	border: 1px solid #a0a0a0;
	padding: 3px;
	font-weight: bold;
}
.plan-articles {
	clear: left;
	margin-top: 0.5em;
	margin-bottom: 1em;
	list-style: square;
}

/* Eclaircissement progressif des rubriques en fonction de la profondeur */

ul .plan-rubrique {
	background-color: #CCCCCC; 
        margin-left: 5px;
}
ul ul .plan-rubrique {
	background-color: #DDDDDD;
        margin-left: 10px;
}
ul ul ul .plan-rubrique {
	background-color: #BBBBBB;
        margin-left: 20px;
}


/*
 * Habillage des forums
 */

ul.forum-total {
	display: block;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.forum-fil {
	margin-top: 1em;
}
.forum-fil ul {
	display: block;
	margin: 0px;
	margin-left: 2px;
	padding: 0px;
	list-style: none;
}
.forum-titre {
	font-weight: bold;
	font-size: 120%;
}
.forum-item {
        background: #baffea;
	margin: 0px;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0em;
	text-align: justify;
	font-size: 80%;
}
.forum-repondre-message {
	text-align: right;
}

/* Boite d'un forum : eclaircissement progressif des bords */

ul .forum {
	border: 1px solid #909090;
	padding: 0px;
	margin: 0px;
	margin-bottom: 1em;
}
ul ul .forum {
	border: 1px solid #a4a4a4;
}
ul ul ul .forum {
	border: 1px solid #b8b8b8;
}
ul ul ul ul .forum {
	border: 1px solid #cccccc;
}
ul ul ul ul ul .forum {
	border: 1px solid #e0e0e0;
}
ul ul ul ul ul ul .forum {
	border: 1px dashed #e0e0e0;
}

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */

ul .forum-chapo {
	border: 0px;
	border-bottom: 1px dashed #b8b8b8;
	margin: 0px;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-size: 90%;
	/* background: #c4e0e0; */
}
ul ul .forum-chapo {
	background: #d4e8e8;
}
ul ul ul .forum-chapo {
	background: #e4f0f0;
}
ul ul ul ul .forum-chapo {
	background: #f4f8f8;
}
ul ul ul ul ul .forum-chapo {
	background: #ffffff;
}

/*
 * Habillage des petitions
 */

.signatures {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}
.signatures td, .signatures th {
	border: 0.4em;
}
.signatures-titre {
	clear: right;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding: 5px;
	margin: 0px;
}
.signature-date {
	white-space: nowrap;
	background: #e4f0f0;
	padding: 2px;
}
.signature-nom {
	font-weight: bold;
	background: #ecf4f4;
	padding: 2px;
	text-align: center;
}
.signature-message {
	font-size: 85%;
	background: #f4f8f8;
	padding: 2px;
	text-align: justify;
}

.formrecherche {
	margin-right: 1%;
	padding: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
        width: 90%;
	font-weight: normal;
}


.forml {
	background-color: #ececec;
	margin: 4px;
	padding: 2px;
	border: dashed 2px #909090;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
}
.spip_bouton {
	border: 2px solid #404040;
	padding: 3px;
	background: #d0d0d0;
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

.spip-admin {
}

div.h1 { }
div.h2 { }
div.h3 { }

.formulaire {
	margin-right: 40%;
	color: black;
	margin: 0px;
	margin-bottom: 16px;
	margin-left: 6px;
	padding: 4px;
	border: 1px solid #a0a0a0;
	background-color: #f6f6f6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: normal;
}
HR{ }

/*
  Eradication des bordures autour des images qui sont des liens
  Invisible dans les feuilles de style par defaut de spip
*/

.en-tete .logo
{
border: 0;
}
a img
{
border: 0;
}

