.structure {
	display: none;
}
h1,h2,h3,h4 {
	margin-top: 0em;
	margin-bottom: 0em;
	font-size: 90%;
	font-weight: normal;
}
H1,H2,H3,H4 {
	margin-top: 0em;
	margin-bottom: 0em;
	font-size: 90%;
	font-weight: normal;
}

body { background: #2B0039; margin: 3px; }
a { text-decoration: none; }
A { text-decoration: none; }
a.spip_out { text-decoration: none; color: #a02020; }
a.spip_in, a.spip_url { text-decoration: underline; color: #2020a0; }
a.spip_glossaire { text-decoration: none; color: #20a020; }

.chapo {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: justify;
	font-size: 110%;
}
.texte, .texte p.spip {
	font-family: Georgia, Garamond, Times, serif;
	text-align: justify;
}
.ps {
	font-family: Georgia, Garamond, Times, serif;
	text-align: justify;
	font-size: 85%;
}
.notes {
	font-family: Georgia, Garamond, Times, serif;
	text-align: left;
	font-size: 80%;
}

.contenu h1,h2,h3 {
	font-size: 110%;
	font-weight: bold;
}
.contenu h1,h2,h3.titre-extrait {
	font-size: 110%;
	font-weight: bold;
}
.contenu h1,h2,h3.titre-texte {
	font-size: 100%;
	font-weight: bold;
}

.contenu H1,H2,H3 {
        font-size: 110%;
        font-weight: bold;
}
.contenu H1,H2,H3.titre-extrait {
        font-size: 110%;
        font-weight: bold;
}
.contenu H1,H2,H3.titre-texte {
        font-size: 100%;
        font-weight: bold;
}

.contenu .surtitre {
	font-size: 100%;
	font-weight: bold;
	font-variant: small-caps;
}
.contenu .detail {
	font-size: 75%;
	color: #303030;
}

.extrait {
	padding: 1em;
	font-size: 85%;
}


/*
 * Disposition a l'ecran
 */

#principal {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

#plan {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}

#navigation {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.encart {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

