body { background-color: #d1e3ec; }

#entete       /* bandeau - banner */
{
	background-image: url(img/amazigh-bandeau-fixe.jpg);
	height: 180px; 
}

#entete a.nom-site,
#entete a.nom-site:link,  
#entete a.nom-site:visited,
#entete a.nom-site:hover
{
	background-image: none;
}

#entete .nom-site span  /* on cache le nom du site  */
{
	height: 1px;
	width: 1px;
	overflow: hidden;
}



#encart, #menu-rubriques { top: 190px; }

