<plugin>
	<nom> <!-- Nom du plugin -->
	Durzy
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	Fred
	</auteur>
	<version>0.9</version>
	<etat>stable</etat>
	<prefix>durzy</prefix>
	<description>
	Durzy est un squelette id&#233;al pour un site d'&#233;tablissement (&#233;cole, college et lyc&#233;e) compatible SPIP 1.9.2. Voir [le site officiel->http://www.lyceedurzy.com].
	</description>

</plugin>