.row {
    margin-top: 0.9375rem;
}

.liste-items {
    margin-left: 0;
    list-style: none;
}

table .spip_logos {
    margin: 0;
}

.comment-meta {
    background: #F3F3F3;
}

.comment-meta p {
    margin-bottom: 0;
}

a .label {
    cursor: pointer;
}

#pass_securise {
    display: none !important;
}

/* Taille des icônes des reseaux socieux */
.sociaux .socicon {
    font-size: 2rem;
}

.show-is-sticky {
    display: none;
}

.sticky.is-stuck .show-is-sticky {
    display: block;
}

.spip_note_ref {
    vertical-align: super;
    font-size: 0.75rem;
}

.notes .spip_note_ref {
    vertical-align: initial;
    font-size: 1rem;
}
