<plugin>
	<nom>SPIP.mobi</nom>
	<auteur>C&#233;dric [->http://yterium.net]</auteur>
	<icon>img/zcore-128.png</icon>
	<licence>GNU/GPL</licence>
	<version>0.1.0-dev</version>
	<etat>dev</etat>
	<description>Squelette Zmobile</description>
	<prefix>spipmobi</prefix>
	<options>spipmobi_options.php</options>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.1.2;]" />
	<necessite id="Zcore" version="[2.0.0-dev;]" />
</plugin>
