<plugin>
	<nom> <!-- nom du plugin -->
		<multi>
		[fr]
		  Squelettes scola SPIP
		</multi>
	</nom>
	<auteur>	<!-- Auteur du plugin -->
 		jsb - Distribue sous licence GNU/GPL
	</auteur>
	<version>
		0.2
	</version>
	<etat>
		experimental
	</etat>
	<lien>
		http://www.jsb.ac-versailles.fr
	</lien>
	<description>
		<multi>
			[fr] permet de paramétrer les squelettes scola SPIP
			[en] I don't speek english !
		</multi>
	</description>
	
	<!-- remplace mes options dans ecrire -->
	<options>optionsscola.php</options>
	
	<!-- remplace les fichiers mes fonctions -->
	<fonctions>fonctionsscola.php</fonctions>

	<prefix> 
	  scola
	</prefix>

	
	<!-- Definitions des fonctions qui s'inserent dans les pipelines onglet configuration-->
	
	<pipeline>
		<nom>ajouter_onglets</nom>
		<inclure>squelettesscola.php</inclure>
	</pipeline>
	
</plugin>