<plugin>
	<nom>iSPIP</nom>
	<slogan>
		<multi>
		[fr]Squelette optimis&#233;; pour iPhone et iPod Touch bas&#233; sur iUI
		</multi>
	</slogan>
	<icon>img_ispip/ispip-48.png</icon>
	<version>1.12.1</version>
	<etat>test</etat>
	<description>
		<multi>
		[fr]Les squelettes iSPIP offrent une version du site adapt&#233;e pour les terminaux mobiles iPhone et iPod Touch. Aussit&#244;t le plugin activ&#233;, la version iPhone du site sera accessible &#224; la page SPIP &#171;page=ispip&#187;.
		</multi>
	</description>
	<auteur>
	[Joe Hewitt pour la librairie iUI->http://code.google.com/p/iui/], 
	[Abel Poucet pour le squelette original, intialement nomm&#233; MobileSPIP->http://abel.foxylounge.com/MobileSPIP-Un-squelette-optimise.html],
	[Joseph pour l'adaptation en plugin->https://contrib.spip.net/Joseph], 
	[Jean-S&#233;bastien Barboteu pour les br&#232;ves et les &#233;v&#233;nements->https://contrib.spip.net/jsb]
	</auteur>
	<lien>https://contrib.spip.net/plugin-iSPIP</lien>
	<fonctions>ispip_fonctions.php</fonctions>
	<options>ispip_options.php</options>
	<prefix>ispip</prefix>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>ispip_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.0.0;3.1.99]" />
	<utilise id="pb_selection" version="[0.3.1;]" />
	<utilise id="agenda" version="[0.18.0;]" />
	<chemin dir='' />
	<categorie>squelette</categorie>
</plugin>
