@import "css/variables.less";

/* Pages spécifiques */
.page_sommaire{
    #nav{
        .menu-container{
            padding-left:0;
            .nav{
                .item-picto{
                    &.home a.icon-nav-home{background-color: @navbarInverseLinkBackgroundActive;}
                }
            }
            
        }
    }
    #content{
        .selection{margin-top: 2em;}
    }
    .editorial{
        article{
            margin-top: 2em;
            margin-bottom: 0;
            h3{text-align: center;}
            .chapo{font-weight: normal;margin: 0;}
            .spip_logo{float:right;margin:  0 0 1em 1em;}
        }
        article>div{
            background: url('img/li-hover.png');
            background-repeat: repeat-y ;
            background-position: -8px 0;
            border-top: 1px solid @grayLight;
            border-bottom: 1px solid @grayLight;
            padding: 1em 1em 0 1em;
            &:hover{
                background-color:rgba(0,0,0,.04);
                background-position: 0 0;
                transition:all 0.2s ease-in-out 0.0s;
            }
        }
    }
    .liste{
        h2{
            font-size:1.6em;
            font-variant: small-caps;
            &.h2{font-weight:normal;}
            border-bottom: 0px solid @grayLighter;
        }
        &.evenements {
            .bt a{
                color:@white;
            }
            .category{display: none;}
        }
    }
    .aside .liste{
        ul.liste-items li span{
            /* padding-left:inherit; */
        }
    }
    #footer{
        margin-top:0;
    }
}

.page_article{
    .content{
        .main{
            margin-bottom:2em;
        }
        span.tags{
            margin-top:0;
            li{margin-bottom:1.5em;}
        }
        .evenement .url{
            color:inherit;
            cursor:inherit;
            text-decoration:none;
        }
        .formulaire_formidable{
            margin-bottom:0;
        }
        .pagination_precedent_suivant{
            ul.liste-items{
                list-style: none;
                margin: 4em 0;
                padding: 1em 0;
                li.item{
                    display: inline-block;
                    clear: none;
                    padding: 0;
                    &.right{text-align: right;}
                    a{
                        padding: 1em 2em;
                        display: block;
                        span{
                            &.normal{color: @black;}
                            &.big{display: block;}
                        }
                    }
                }
            }
        }
    }
    .ps h2{
        visibility:hidden;
    }
    .aside{
        &.secondary{
            padding-top:2.5em;
        }
    }
}
.page_breve,.page_article{
    #content{
        .hyperlien{
            background-color:@grayLighter;
        }
    }
}
.page_rubrique{
    .icone-rss,.icone{display: none;}
    .liste.menu.rubriques{
        ul.inline{
            margin: 0;
            li.item.span2{
                border-top:1px solid @grayLighter; 
                margin: -1px 6px 0 0;
                min-width: 180px;
                min-height: 4em;
                text-align: center;
                vertical-align: top;
                float: none;
                display: inline-block;
            }
        }
    }
}
.page_site{
    .aside{
        &.secondary{padding-top:2.5em;}
        .liste{
            &.sites{
                .liste-items{
                    li.item{
                        border:none;
                    }
                }
            }
        }
    }
    #content{
        .hyperlien{
            margin: 1em 0 1.5em 0;
            font-size: 1.3em;
        }
        .liste.syndic{
            border:1px solid @grayLighter;
            ul.liste-items{
                li{
                    padding:1em ;
                    h3{margin-bottom:.3em;}
                    a{
                        padding:.5em 0;
                        &.spip_out{padding-right:20px;}
                    }
                    .small{
                        a{display:inline;padding:0;}
                    }
                }
            }
        }
    }
}
.page_plan{
    #content{
        .main ul.plan{
            list-style:none;
            font-size: 1.2em;
            li{
                a{
                    display: block;
                    &:hover{background-color: @grayLighter;}
                }
            }
            ul{
                list-style:none;
                font-size: 90%;
            }
        }
    }
}
.page_mot,.page_recherche{
    #content{
        .liste{
            .tags ul li.item{
                padding:.5em 1em;
                &:hover{background:transparent;}
                > a{
                    display:inline ;
                    padding:.4em 1em;
                }
            }
            li a{
                display:block;
            }
        }
    }
}
.page_mot {
    #content{
        .liste{
            &:nth-child(4n+1){margin-left:0;clear: left;}
        }
    }
}
.page_recherche {
    #content{
        .liste{
            &:nth-child(3n+1){margin-left:0;clear: left;}
        }
    }
}
.page_star,.page_rubrique,.page_mot,.page_sites{
    #content .liste,.liste{
        h2.h2{
            text-align:left;
            font-size:1.5em;
        }
    }
}
.page_site .aside .liste.sites,
.page_auteur .aside .liste.auteurs,
.page_article .aside .liste.articles
{
    border:1px solid @grayLighter;
    .item:last-child{border-bottom:none;}
}
.page_agenda,.page_jour{
    #nav{
        .btagenda{
            background-color:@navbarInverseLinkBackgroundActive;
        }
    }
    .aside{
        h2{display:none;}
        .well{
            background-color:transparent;
            margin-bottom:0;
            border:none;
            box-shadow:none;
        }
        .calendriermini{
            margin-bottom:0 ;
            background-color:transparent;
            .calendar-container{
                padding:0 1em;
            }
            .ui-widget-header,.ui-widget-content{
                background-color:transparent;
                border:none;
            }
            .ui-state-highlight a{
                background:@color2;
                color:@white;
                border:none;
            }
            .ui-datepicker-today a{}
            table .ui-state-highlight a:hover{
                background:@yellow;
                color:#636;
            }
        }
    }
}
.page_contact,.page_auteur{
    #nav{
        .btcontact{
            background-color:@navbarInverseLinkBackgroundActive;
        }
    }
}
.page_sites{
    #nav{
        .btsites{
            background-color:@navbarInverseLinkBackgroundActive;
        }
    }
}
.page_mentions{
    #content span.intitule{
        font-family:@sansFontLightFamily;
        font-variant:small-caps;
    }
}
.page_mots{
    #nav{
        .menu-container{
            .nav{
                .item-picto{
                    &.btthemes a.icon-nav-themes{background-color: @color1;}
                }
            }
        }
    }
    #content{
        li.item{
            border: none !important;
            a{display: block;}
        }
    }
}