@import "css/variables.less";
@import "css/mixins.less";

@font-face{
    font-family: 'OpenSansLight';
	src: url('fonts/OpenSans-Light-webfont.eot');
	src: url('fonts/OpenSans-Light-webfont.eot?iefix') format('eot'),
	     url('fonts/OpenSans-Light-webfont.woff') format('woff'),
	     url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
	     url('fonts/OpenSans-Light-webfont.svg#webfont') format('svg');
}
@font-face{
    font-family: 'OpenSans';
	src: url('fonts/OpenSans-Regular-webfont.eot');
	src: url('fonts/OpenSans-Regular-webfont.eot?iefix') format('eot'),
	     url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
	     url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	     url('fonts/OpenSans-Regular-webfont.svg#webfont') format('svg');
}

body{
    background-color:@white;font-family:@sansFontFamily;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;

    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    .spip-admin-bloc,.spip-admin-float{right:0%;} 
}
a{
    &:hover,&:focus,&:active{
        text-decoration:underline;
        background-color:transparent;
        outline:none;
    }
    // Hover/focus state, but only for links
    &.label,&.badge{
        color:@white;
        vertical-align:baseline;
        white-space:inherit;
        background-color:@tags;
    }
    &.label:hover,&.label:focus,&.badge:hover,&.badge:focus{
        background-color:lighten(@tags,10%);
    }
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],
input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{
    color: @grayDark;
    // Focus state
    &:focus{
        border-color:lighten(@formFocus, 25%);
        .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6)");
    }
}
h2,h2.h2,.secondary h2.h2,h1,.surtitre,.soustitre{
    font-family:@sansFontFamily;
    color:@black;
    font-weight: normal;
    letter-spacing: .1em;
}
h1 small, .h1 small, .h1-like small{color:@grayDark;}
h2.h2 small,.secondary h2.h2 small{display:inline;}
h3.spip{
    background-color:white;
    padding:0.5em 0.5em 0.4em;
    margin:1em 0 .5em 0;
    font-family:@sansFontLightFamily;
    font-size:1.8em;
    font-weight: normal;
    border-bottom: 1px solid darken(@white, 3%);
}
table.spip{
    thead{
        tr{
            &.row_first{
                border-left:1px solid @colorTable;
                border-right:1px solid @colorTable;
                th{
                    text-align:left;
                    background:@colorTable;
                    color:@white;
                    padding:.3em .2em;
                    vertical-align: middle;
                }
            }
        }
    }
    tr{
        border-left:1px solid @colorTable;
        border-right:1px solid @colorTable;
        &.row_first{
            border-left:none;
            border-right:none;
        }
        &:first-child{
            border-top:1px solid @colorTable;
            td,th{border-top:none;}
        }
        &:last-child{
            border-bottom:1px solid @colorTable;
        }
        td,th{
            padding:4px;
            &.numeric{ 
                color:@red;
                text-align:center;
            }
        }
    }
}
ol.spip ol.spip{margin-bottom:.5em;}
/* surcharge des r√®gles issue de bootstrap + on surcharge les images dans le /img de notre dossier css */
[class^="icon-"],
[class*=" icon-"]{
  background-image:url("img/@{iconSpritePath}");
  margin-top: 3px;
}
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"]{
   // background-image:url("img/@{iconWhiteSpritePath}");
}
.navbar .nav > li > a {padding: 9px 10px;}
.navbar .nav > li.item-picto > a {padding: 9px 15px;}
/* icones en sprite css */
[class^="icon-nav"], [class*=" icon-nav"]{
    background-image:url("img/sprite.png");
    height:22px;
    width:22px;
    background-repeat:no-repeat;
    display:inline-block;
    vertical-align:text-top; 
    margin:0;
    &:hover{background-color:@grayDark;}
}

.icone{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    .border-radius(20px);
    background-color: @color1 ;
    padding:5px;
    img{}
    &:hover,&:active,&:focus{background-color: @color1 ;}
}

/* blocs de la page */
#header-menu-dane{
    display:none;
    background-color:@grayLighter;
    #tab-panel{
        outline:0;
        #tab-contents{
            #tab-nav{
                >li{
                    margin-left:0;
                    list-style-type:none;
                    line-height:1.3;
                    h2{
                        color: @black;
                        font-size:1.2em;
                        margin:0 0 .5em 0;
                        padding:0;
                    }
                    ul{
                        background-color:rgba(0,0,0,0.15);
                        background-color: @grayLighter;
                        margin:0 1em 1em 0;
                        padding:0 ;
                        li{
                            padding:.2em 1em ;
                            list-style:none;
                            border-bottom:3px solid rgba(0,0,0,0);
                            transition:all .2s ease-in-out;
                            &:hover{
                                border-bottom:3px solid rgba(0,0,0,0.2);
                                -ms-transition:all .2s ease-in-out;
                                -moz-transition:all .2s ease-in-out;
                                -webkit-transition:all .2s ease-in-out;
                                transition:all .2s ease-in-out;
                            }
                            a{
                                display:block;
                                color:@color2;
                                &:hover{color:@black;}
                            }
                        }
                    }
                }
            }
        }
    }
}
#header{
    /*border-bottom:1px solid @white;*/
    position:relative;
    text-align:left;
    .container{
        position:relative;
    }
    background-color:@white;
    header{
        h1#logo_site_spip{
            letter-spacing: 2px;
            font-family:@sansFontFamily;
            line-height:1em;
            margin:.5em 0;
            font-size:2.6em;
            color:@color2;
            .spip_logos{
                margin:0 25px 0 0;
            }
            #nom_site_spip{
                margin-top: 0;
            }
            #slogan_site_spip{
                font-size:60%;
                padding:10px 0 0 0;
                color:@color2;
                max-width:520px;
            }
        }
    }
    #logo-institution{
        padding:1em 0 0 0;
        margin:0 0 .8em 0;
    }
    #logos-partenaires{
        float:right;
        position:relative;
        min-height:130px;
        #logo-ecole-numerique{
            position:absolute;
            bottom:35px;
            right:10px;
            margin-bottom:0;
        }
    }
    .form-search{
        position:absolute;
        bottom:.5em;
        right:3%;
        padding:2px 0 0 0;
        border-bottom:0;
        margin:0 1em;
        .formulaire_spip{
            margin:0 0 -2px 0;
            padding:5px;
            border-radius:none;
            border-top-left-radius:1em;
            border-top-right-radius:1em;
            .box-shadow(0 1px 4px rgba(0,0,0,.0));
            color:@grayLighter;
            label{display:none;}
            .input-append{
                input.search.search-query{
                    width:150px;
                    border-radius:1em;
                    height:22px;
                    border-color: lighten(@gray,25%);
                }
                .btn{display:none;}
            }
        }
    }
}
#nav{
    margin-bottom:0px;
    &.navbar-inverse{
        .nav> li.item {
            >a{color: @navbarLinkColor;}
            &:hover,&:focus,&:active{background-color:@navbarLinkBackgroundHover;color:@navbarLinkColorHover;}
            &.dropdown > a {
                color: @navbarLinkColor;
                &:hover,&:focus,&:active {
                    color: @navbarLinkColorHover;
                    > .dropdown-toggle  .caret{border-top-color: @navbarLinkColorHover;border-bottom-color: @navbarLinkColorHover;} 
                }
                > .dropdown-toggle .caret{border-top-color: @navbarLinkColor;border-bottom-color: @navbarLinkColor;} 
            }
            &.on>a,span{background-color:@navbarLinkBackgroundHover;color:@navbarLinkColorHover;}
        }
    }
    .menu-container,
    .menu-conteneur{
        border-top:none;
        border-bottom:none;
        border-radius:0;
        .nav{
            margin:0 auto;
            float:none;
            .dropdown-menu {
                min-width: 240px;
                .border-radius(@borderRadiusBlocs);
                .box-shadow(0 2px 2px rgba(0,0,0,.2));
            }
            .item{
                text-transform:uppercase;
                &.rubrique a{
                    padding-left:25px;
                }
                &.rubrique>a{
                    padding-right:10px;
                    background-position:5px 12px;
                }
                .item-fa {
                    font-size: 1.5em;
                    padding: 9px 15px 8px;
                }
                li.item{
                    text-transform:none;
                    background:none;
                    list-style: none;
                    a{display: block;}
                }
                &.tout_voir{text-align:right;}
                a{&:hover,&:focus,&:active{background-color:@navbarLinkBackgroundHover;color:@navbarLinkColorHover;}}
                .on,&.on{font-weight: normal;}
                &.on>a,span{background-color:@color1;color:@navbarLinkColorHover;}
                &.item-picto {
                    >a{
                        color:darken(@color1,20%);
                        &:hover{color:@navbarLinkColorHover;}
                        &.icon-nav-home{
                            background-position:15px 9px;
                            &:hover,&:focus,&:active{background-position:15px -30px;}
                        }
                        &.icon-nav-calendar{
                            background-position:-25px 9px;
                            &:hover,&:focus,&:active{background-position:-25px -30px;}
                        }
                        &.icon-nav-folder{
                            background-position:-65px 9px;
                            &:hover,&:focus,&:active{background-position:-65px -30px;}
                        }
                        &.icon-nav-map{
                            background-position:-103px 9px;
                            &:hover,&:focus,&:active{background-position:-103px -30px;}
                        }
                        &.icon-nav-contact{
                            background-position:-183px 9px;
                            &:hover,&:focus,&:active{background-position:-183px -30px;}
                        }
                        &.icon-nav-plan{
                            background-position:-134px 9px;
                            &:hover,&:focus,&:active{background-position:-134px -30px;}
                        }
                        &.icon-nav-star{
                            background-position:-226px 9px;
                            &:hover,&:focus,&:active{background-position:-226px -30px;}
                        }
                        &.icon-nav-themes{
                            background-position:-268px 9px;
                            &:hover,&:focus,&:active{background-position:-268px -30px;}
                        }
                    }
                }
                &.item-picto-fa {
                    >a{
                        font-size: 1.5em;
                        padding: 9px 15px 8px;
                    }
                }
            }
        }
    }
    //// Navbar menu XL ////
    .menu-xl{
        &.dropdown {
            position: unset;
            .dropdown-menu {
                top: unset;
                margin-left: 0;
                ul { 
                    margin-left: 0;
                    .texte_libre {
                        background: @grayLighter;
                        color: darken(@linkColor, 20%);
                    }
                }
            }
        }
        > ul.dropdown-menu ul {
            margin-left: 0;
            .texte_libre {
                background: #F0F0F0;
                color: #333;
            }
        }
    }
}
#content,#aside,#asidebis{
    .spip_out{
        padding-right:20px;
        background-image:url(img/spip_out.gif);
        background-repeat:no-repeat;
        background-position:right;
    }
    .spip_surligne{background-color: yellow;}
    .liste{
        .liste-items,.menu-items {
            margin-bottom:0;
            li.item{
                border-top:1px solid @grayLighter;
                border-bottom:1px solid @grayLighter;
                article{
                    .introduction li{list-style:url('img/puce1.png');}
                }
            }
        }
        .postmeta.tags{
            border: none;
            display: inherit;
            margin-left: 1em;
            margin-bottom: 0;
            ul{
                margin: 0;
                text-align: left !important;
                li{
                    span.label{font-size: .8em;border:1px dotted @color1;color: @color1;background: none; margin:0 1em .5em 0;}
                }
            }
        }
        &.videos,&.contacts{
            text-align: center;
            .liste-items{
                .item{
                    padding: 1em 0 0 0;
                    background: none;
                    border-left: 0;
                    h3{margin-bottom: .5em;}
                    &:hover{
                        background: none;
                    }
                }
            }
            .oembed_video {
                .oembed.oe-video{margin: 0 -15px;}
                .spip_doc_titre{display: none;}
             }
            .spip_documents.oembed {
                margin-bottom: 0;
            }
        }
        &.evenements{
            .liste-items{
                .item{
                    &:hover{
                        border-left-color: @color1;
                    }
                    &.fini{
                        &:hover{
                            border-left-color: lighten(@color1,30%);
                        }
                    }
                }
            }
        }
    }
    .tags{
        padding-bottom:.6em;
        ul{
            margin:0 0 1em 0;
            li{
                padding:0;
                margin:0;
                a{
                    display:inline-block;
                    padding:.3em 1.2em .5em .7em;
                    margin-top:.5em;
                    .border-radius(@borderRadiusBlocs);
                    margin-right:.5em;
                }
            }
        }
    }
}
div.pagination{
    text-align:right;
    margin-right:1.5em;
    margin-bottom:0;
    .label{
        color: @white;
        background-color: @color1;
        .border-radius(0);
    }
    ul{
        .border-radius(0);
    }
    ul:not(.pager) > li:first-child > a,ul:not(.pager) > li:first-child > span{
      .border-left-radius(@borderRadiusBlocs);
    }
    ul:not(.pager) > li:last-child > a,ul:not(.pager) > li:last-child > span{
      .border-right-radius(@borderRadiusBlocs);
    }
    ul > .disabled > span, ul > .disabled > a, ul > .disabled > a:hover, ul > .disabled > a:focus,
    .pager> .disabled > span, .pager > .disabled > a, .pager > .disabled > a:hover, .pager > .disabled > a:focus,
    .pager> li > span, .pager > li > a, .pager > li > a:hover, .pager > li > a:focus{
        background-color:@paginationBackground;
    }
    ul > li > a,ul > li > span{
        border-top-width:2px;
        border-bottom-width:0;
        border-left-width:2px;
    }
    ul > li > a,ul > li > span{
        border-color:@white;
        color:@white;
    }
    .icon-fast-forward,.icon-fast-backward{
        background-image:url("img/@{iconWhiteSpritePath}");
    }
}
.postmeta {
    border: 1px solid @grayLighter;
    margin-bottom: 2em;
    small{display: block;text-align: center;}
    .liste{
        margin-bottom: 0;
        p{padding-top: .7em;}
        .tags{
            margin-top: .7em;
            display:block;
            .sep{display:none;}
        }
    }
}
.pswp .pswp__bg { background-color: @color3;}
.pswp__caption {
    .pswp__caption__center{
		max-width: 80%;
		dt,dd{width: inherit !important;}
	}
}

#content{
    iframe{margin:1em auto;display:block;}
    hr{clear: both;visibility: hidden;}
    .breadcrumb{
        border-bottom:1px solid lighten(@gray,50%);
        background-color:transparent;
        .active{color: @gray;}
        li>.divider{color: @gray;}
        .border-radius(0);
    }
    header.cartouche{
        h1{color:darken(@color1,15%);}
        .surtitre{
            font-size:1.5em;
            margin-bottom:.5em;
            color:@grayDark;
        }
        .soustitre{
            font-size:.9em;
            color:@grayDark;
        }
    }
    .texte p{
        margin-bottom:.6em;
    }
    .chapo{
        font-size:1.2em;
        padding:1em 1em;
        margin:1.5em 0;
    }
    .hyperlien{
        background-color:white;
        padding:.5em 1em;
        margin: 1em 0 1.5em 5%;
        border-left:1px solid @grayLight;
        display: inline-block;
    }
    blockquote{
        &.spip{
            margin-left:2.5em;
            margin-top: .6em;
            padding:1em 4em 1em 4em;
            min-height:40px;
            .border-radius(@borderRadiusLarge);
            background:darken(white,2%) url(img/quote.png) no-repeat left 10px ;
            background-image:url(img/quote.png),url(img/quote_rotated.png) ;
            background-position:left 10px, right bottom ;
            background-repeat:no-repeat,no-repeat;
            border:none;
            transition: 0.4s ease-in-out 0.2s;
            &:hover{
                background-color:white;
                transition: 0.4s ease-in-out 0s;
            }
            small{
                display:inline;
                color:inherit;
                &:before{content:'';}
            }
        }
        &.spip_poesie{
            margin-left: 50px;
            padding-left: 30px;
            margin-right: 50px;
            div {
                text-indent: 0;
                margin-left: 0;
            }
        }
    }
    .menu.rubriques{
        ul.menu-items{
            margin-left:0;
            .menu-items{
                margin-left:2.5em;
            }
            li.item{
                padding:0;
                list-style:none;
                a{
                    display:block;
                    padding:.5em 1em .5em 1em;
                    &.lien_pagination {
                        padding:4px 12px;
                    }
                }
            }
        }
    }
    .spip_transcript_link{
        padding-bottom:1em;
    }
    .liste li.item{
        .texte,.introduction{
            strong{font-weight:bold;}
        }
    }
    dl.spip_documents{
        font-size:.8em;
        dt{
            line-height:1.3em;
            &.spip_doc_titre{padding-top:.8em;}
        }
    }
    .carte_gis{
        margin:1em 0 2em 2em;
        float:right;
    }
    .center{text-align:center;}
    .box_modalbox iframe{margin-top:0;margin-bottom:0;}

    /* Portfolio */
    .documents_portfolio{
        clear:both;
        margin:/*@margin-bottom*/1.5em/*/@*/ auto;
        text-align:center;
        .spip_logos{
            float:none;
            margin:6px 3px 10px 3px;
            border:1px solid lighten(@colorDocuments,30%);
        }
        a{
            &.on,&:hover,&:focus,&:active{
                .spip_logos{
                    border-color:@colorDocuments;
                }
            }
        }
    }
    ul.spip{
        list-style:outside url('img/puce1.png');
        margin-top:.2em;
        margin-bottom:1em;
        margin-left: 60px;
        li{
            margin-top:.4em;
            margin-bottom:.4em;
            ul{
                list-style:url('img/puce2.png');
                margin-left: 30px;
                ul{list-style:url('img/puce3.png');}
            }
        }
    }
    footer{
        clear:both;
        margin-top:2em;
        .notes{
            border-top:1px solid @grayLighter;
            border-bottom:1px solid @grayLighter;
            padding-bottom:1em;
            max-width:inherit;
            >h2{border:none;}
        }
        .publication{margin-top:1.5em;}
    }
}
#aside {
    padding-top:2em;
    .well {
        .border-radius(@borderRadiusBlocs);
        .nav{
            color:@black;
            li {
                a{
                    color:@black;
                    &.on{
                        background-color: @navbarInverseLinkBackgroundActive;
                        text-shadow: none;
                        color: white;
                        font-size: 0.85em;
                    }
                    &:hover,&.on:hover{
                        background-color: @color1;
                        color: @white;
                        text-shadow:none;
                    }
                }
            }
            .nav-header {
                color:@black;
                font-size: 1em;
            }
            .nav-list{
             font-size: 0.8em;
            }
        }
    }
    .hyperlien{
        background-color:white;
        padding:.5em;
        margin: .5em 0 0 .5em;
        border-left:1px solid @grayLight;
        display: block;
    }
    .liste{
        .banner{display:none;}
        .liste-items {
            .entry-content{
                max-height:inherit;
                overflow: inherit;
            }
            .spip_logos{max-width: inherit;}
        }
    }
    ul.spip{
        margin-left: 30px;
    }
}

#footer{
    border:none;
    margin-top:3em;
    padding-top:0;
    background:@grayLighter;
    .colophon{
        padding:1.3em 0;
        margin:0;
        text-align:center;
        font-variant:small-caps;
        font-size:1.4em;
        color:@grayDark;
    }
    ul.liste-items{
        border:none;
        li.item{
            display:inline;
            border:none;
            padding:0 1.5em;
            a {
                display: inline-block;
                padding: .3em .8em .5em;
                &:hover {
                    color: #fff;
                    background-color: @color1;
                    text-decoration: none;
                }
            }
        }
    }
}


/* Divers */

/* couleurs des titres en fonction du secteur */
.cartouche h1{
    color: @black;
    padding: .1em 0;
}

.boutons_options{
    text-align:center;
    margin:1.5em 0 1.5em 0 !important;
    h2,h3{
        margin:3em 0 0 0;
        padding:0 .5em 0 0;
        text-align:left;
        display:inline-block;
    }
    div.socialtags{
        display:inline-block;
        margin-top:.5em;
    }
    .socialtags-hovers{opacity:1;}
    div.bouton{
        display:inline-block;
        width:40px;
        height:40px;
        padding:0 0 0 14px;
        &.article_print{
            padding-left:0;
            img{cursor:pointer;}
        }
    }
    img:hover{transform:scale(1);}
    img{width:40px;height:40px;transform:scale(.85);}   
}
#spip-admin a{
    &:hover,&:focus,&:active{background-color:@black;}
}
.formulaire_spip {
    .boutons {text-align:left;}
    &#formulaire_menu_lang{display:none;}
}
.formulaire_recherche_multimots{
    .bloc-groupe{
        margin-left: 0;
        width: 50%;
        float: left;
        label{color:@color2;}
        select{width: 95%;}
    }
    #champ_filtrer_par_age{max-width: 200px;}
    .center.mt{margin-top: 1em;}
}
.disabled{
    .opacity(60);
}
.bt{
    margin-top:1.5em;
    a{
        font-size:1.8em;
        font-variant: small-caps;
        padding:.2em .7em .3em .7em;
        background:@evenements;
        border-radius:@borderRadiusBlocs;
        &:hover,&:active,&:focus{
            background:darken(@evenements,5%);
        }
    }
}
.spip_flash_link{
    display:none;
}
.spip_documents {
	&.oembed{
		margin-top: 0.3em;
		margin-bottom: 0;
		.oe-play-button{
			button {
				background-color: @grayDarkerAlpha;
				.border-radius(3px);
				&:before{border-width: 1px;.border-radius(3px);}
			}
			&:hover button {
				background-color: @grayDarkAlpha;
			}
		}
		.oembed {
			background-color: transparent;
			border: none;
		}
	}
}
#backtotop{
    display:none;
    bottom:20px;
    right:10px;
    height:40px;
    padding-top:10px;
    width:50px;
    text-align:center;
    position:fixed;
    z-index:1;
    color:@white;
    font-size:30px;
    background-color:@color2;
    cursor:pointer;
    font-family:helvetica,arial,sans-serif;
    .border-radius(25px);
    .opacity(60);
    &:hover{.opacity(100);background-color:@color1;}
}
ul.nuage{
    margin-bottom: 1em;
    font-size: 1.4em;
    text-align: center;
    border-bottom: 1px solid @grayLighter;
    border-top: 1px solid @grayLighter;
    padding: 1em 0;
    li{
        display: inline-block;
        margin: .2em .5em;
        a{line-height: 1.2em;}
    }
}
*::-moz-selection {
    background-color: @color1;
    color: #fff;
    text-shadow: none;
}
*::selection {
    background-color: @color1;
    color: #fff;
    text-shadow: none;
}
.spip_documents {
	&.oembed{
        background: transparent;
        border: none;
		margin-top: 0.3em;
		margin-bottom: 1.5em;
		.oe-play-button{
			button {
				background-color: @grayDarkerAlpha;
				.border-radius(3px);
				&:before{border-width: 1px;.border-radius(3px);}
                &:after {border-left:20px solid @white;border-top:10px solid transparent;border-bottom:10px solid transparent;margin-left: -7px;}
			}
			&:hover button {
				background-color: @grayDarkAlpha;
			}
		}
		.oembed {
			background-color: transparent;
			border: none;
            padding: 0;
		}
	}
    &.oembed_scolawebtv_de_l_acad__mie_de_versailles {
        .oembed.oe-rich{
            background-color: darken(@white,3%);
            padding: 1em;
            .border-radius(3px);
        }
        .rwd-rich-container iframe {z-index:inherit;}
        .loading{background-image: none !important;}
        .oe-play-button{
			button {
                background-color: lighten(@grayDarkAlpha,30%);
            }
        }
    }
}
@media (min-width:980px){
	.oembed_scolawebtv_de_l_acad__mie_de_versailles.oembed_rich {
        .rwd-rich-container iframe {left: 120px;}
    }
}
@media (min-width:480px){
	.oembed_scolawebtv_de_l_acad__mie_de_versailles.oembed_rich {
        .async+.spip_doc_titre {
            br{display: none;}
            top:1em;
            left:120px;
            width:auto;
            max-width: inherit !important;
            right:200px;
            text-align:left;
        }
    }
}
.liste{
    background:@white;
    &.offset,.offset{margin-left: 0;}
    &.short{
        ul.liste-items{
            li.item{
                a{display: block;}
            }
        }
        &.sites{
            li{text-align:center;}
            .spip_logos{
                display:inherit;
                max-width:inherit;
                float:none;
                margin-left:auto;
                margin-right:auto;
            }
            .small.right{display:inherit;}
            .publication{display:none;}
        }
    }
    &.long{
        ul.liste-items,ul.menu-items{
            li.item{
                .publication{
                    display:inherit;
                    float: right;
                    margin-left: 2em;
                    .opacity(100);
                }
            }
        }
    }
    ul.liste-items,ul.menu-items{
        li.item{
            padding:1em 1em 1em 1em;
            border:none;
            border-left: 7px solid transparent;
            transition:all 0.2s ease-in-out 0s;
            background-image:none !important; 
            &:hover{
                border-left-color: @color2;
                background-color:rgba(0,0,0,.04);
                transition:all 0.5s ease-in-out 0.2s;
            }
            a:hover {text-decoration: none;}
            strong.h3-like{
                margin-bottom: 0;
                font-size:1.1em;
                font-weight:normal;
                line-height: 1.5em;
                >a{display:block;font-size:1.2em;}
            }
            .publication{
                display:none;
                font-size:.9em;
                text-align:right;
                padding-right:1em;
            }
            &.divider{
                padding-top:.6em;
                text-align:right;
            }
            .entry .entry-title,.spip_logos{margin-bottom:0;}
            &.evenements{
                .item.fini{
                    .entry-title a {color:#ccc;}
                    .entry-content {margin-bottom: 0;max-height: 4.5em;overflow: hidden;}
                    .meta-publi {display: none;}
                    .lire-la-suite {display: none;}
                    .evenement .banner {.opacity(50);}
                }
                &.short{
                    .info-publi,.liste-items.evenements .info-publi {display:block;margin: 0;}
                }
                .meta-publi {left:7.5em;}
                .lire-la-suite {left:7.5em;}
                .entry-title {margin-top: 0;}
            }
        }
    }
    &.sites ul.liste-items li.item .entry .entry-title{text-align: center;}
    &.documents_joints{
        margin:2em 0;
        border-top-width:1px;
        .entry.document{
            .spip_logos{margin-left:0;}
            .entry-content{padding:.2em 1em; }
        }
    }    
    &.evenements{
        .label-inverse,.badge-inverse{background-color:@evenements;}
        .item.item.fini{
            background: @grayLighter url('img/hachure.png');
            .evenement{
                .banner{
                    .opacity(50);
                }
                .entry-title a {
                    color: darken(@linkColor,20%);
                }
                .entry-content{max-height:inherit;}
            }
        }
        .evenement{
            padding-left: 7.5em;
            margin-bottom:1em !important;
            .url{padding-left:0;}
            .banner{
                display:block;
                float: left;
                margin-left: -7.5em;
                width: 5.5em;
                text-align: center;
                overflow: hidden;
                margin-top:.3em;
                margin-bottom:.3em;
                .opacity(100);
                .label{
                    display: block;
                    .border-radius(50%);
                    padding:13px 0 13px 0;
                    min-height:55px;
                }
                .day {display: block;text-align: center;font-size: 2em;line-height: 1;}
                .month {display: block;text-align: center;text-transform: uppercase;font-size: 0.85em;}
                .year {display: block;text-align: center;font-size: 0.85em;}
            }
            .category{
                color:@white;
                padding:5px 10px 5px 5px;
                margin-right:.5em;
                background-color:@tags;
                i{margin-left:5px;}
            }
            .meta-publi{
                text-align:right;
                .sep{display:none;}
            }
            span{
                padding-left:0;
            }
        }
    }
    &.tweets{
        border-bottom: 1px solid @grayLighter;
        h2.h2{border-bottom: 1px solid @grayLighter;}
    }
    &.breves {
        .h3-like a{
            &:after{
                content: " ▲";
                font-family: helvetica,arial,sans-serif;
                font-size: 1.2em;
            }
            &.ouvrable{
                &:after{content: " ▼";}
            }
        }
        &.long{
            ul.liste-items {
                li.item {
                    .publication{display: none;}
                }
            }
        }
    }
    &.favoris{
        .item {
            display: inline-table;
            border-left: none !important;
            a{display: inline-block;}
        }
    }
    &.articles-dossier{
        margin-top: 3em;
    }
    h2.h2{
        margin:0;
        padding:.4em 1em .4em 1em;
        font-size:1.6em;
        font-variant: small-caps;
        font-weight:bold;
        text-align:center;
        small{color: @gray;}
    }
    .introduction{font-size:.9em;margin-top:.5em;}
    .pagination{
        margin-left:1em;
        ul > li > a,ul > li > span{
            color:@white;
        }
    }
}
/* agenda */
.evenement.one {
    padding: 0.75em;background: #eee;margin-bottom: 1.5em;
    .lire-la-suite {display: none;}
}
.page_jour{
    .liste-items.evenements .evenement .banner {display: none;}
    .long .liste-items .evenement{padding-left: 0;}
    .liste-items.evenements{
        .meta-publi {left:0;}
        .lire-la-suite {left:0;}
    }    
}
/* enluminures typo */
h4.spip{
    color: @color2;
    font-size: 1.5em;
    margin-bottom: .5em;
    margin-top: 1em;
    a{color:@linkColor;}
}
h5.spip{
    color: @color1;
    font-size: 1.3em;
    margin-bottom: .5em;
    margin-top: 1em;
    a{color:@linkColor;}
}
.texteencadre-spip{
    font-size: 1.5em;
    background-color: @color3;
    color: @white;
    font-size: 1.2em;
    padding: 1em 1.5em;
    border: none;
    a{color:@white !important;text-decoration: underline;}
    .caractencadre-spip{background-color: @white;}
}
.caractencadre-spip{color: @color3;}
.caractencadre2-spip{color: darken(@color1,20%);}
.cs_blocs{
    position: relative;
    .blocs_titre{
        font-size: 1.6em;
        margin-bottom: 0;
        background: #fff;
        padding-left: 0;
        cursor: default;
        border: 1px solid @color2;
        border-bottom:none ;
        &.blocs_replie{border-bottom: 1px solid @color2 ;}
        display: inline-block;
        &.blocs_replie{
            content: '' !important;
            margin-bottom: 1.5em;
            &:before{font-size: .9em;}
            &:after{content: '' !important;}
        }
        a{
            color: @color2;
            padding: 4px 10px 6px 10px;
            line-height: 1em;
            text-decoration: none;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s;
            &:hover{
                padding-right: 1.2em;
                &::after{
                    margin-left: .2em;
                    opacity: 1;
                }
            }
            &::after {
                position: absolute;
                margin-left: -1em;
                opacity: 0;
                font-size: 32px;
                content: "›";
                -webkit-transition: all .2s;
                -moz-transition: all .2s;
                transition: all .2s;
            }
        }
    }
    .blocs_slide,.blocs_destination{
        margin-left:0;
        margin-top: -1px;
        margin-bottom: 1.5em;
        padding:1em 2em 1em 2em;
        min-height:40px;
        background-color: #fff;
        border: 1px solid @color2;
    }
}
h2 span.picto{
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
    .border-radius(20px);
    background-color: @color1;
    color:#fff;
    i{margin: 2px 0 0 3px;}
}
.page_agenda {
    #content {
        div.pagination{
            ul > .disabled > span, ul > .disabled > a, ul > .disabled > a:hover, ul > .disabled > a:focus,
            .pager> .disabled > span, .pager > .disabled > a, .pager > .disabled > a:hover, .pager > .disabled > a:focus,
            .pager> li > span, .pager > li > a
            {
                .border-radius(0);
            }
        }
    }
}
/* plugin insertion avancee d'images modeles ligne et slide */
* + ul.portfolio_ligne {margin-left: 0;list-style: none;}
.label_ligne_precedent::before {content: "\0025C4  ";font-size: .9em;}
.label_ligne_suivant::after {content: " \0025BA";font-size: .9em;}
.label_ligne_precedent, .label_ligne_suivant {
    span{font-size: .8em;}
} 
