<plugin>
        <nom>
        	<multi>
		[fr]DATICE : Mise en page
		</multi>
        </nom>
        
	<auteur>
          	<multi>
		[fr]  Datice Rectorat de Cr&eacute;teil, Jean-Marc Labat  - 2010 - Distribu&eacute; sous licence GNU/GPL
		</multi>
        </auteur>
        
	<version>
             1.0.7
        </version>
        <etat>
              test
        </etat>

        <description>
            	<multi>
		    [fr]Configuration du squelette :couleurs, images et mise en page</br> 
         	</multi>
        </description>
	
	<lien>
              [Configuration->.?exec=cfg&cfg=style_config_positions]
	</lien>
	
	<pipeline>
		<nom>header_prive</nom>
   		<action>cssprive</action>
   		<inclure>css_prive.php</inclure>
	</pipeline>	

	<install>scripts/datice_install.php</install>

	<icon>
	images/datice.gif
	</icon>
        
	<prefix>datice</prefix>

	<bouton id='cfg&cfg=style_config_positions' parent='configuration'>
		<titre>Configuration du squelette</titre>
		<icone>images/datice.gif</icone>
	</bouton>

      	<necessite id='SPIP' version='[2.0.0;]' />
	<necessite id="spip_bonux" version="[1.6;]" />
    	<utilise id="extras" version="[1.0.b;]" />
	<necessite id="cfg" version="[1.10;]" />
	<utilise id="palette" version="[1.0.1;]" />

	<options>evolu_options.php</options>
	
	
</plugin>