/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body {
	behavior: url("csshover.htc"); /* WinIE behavior call */
	background: #FFFFFF;
	margin: 0;
	text-align: center;
	font-size: 1em;
	color: #333;
}

img, table { margin: 0; padding: 0; border: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */


#conteneur { 
	text-align: left;
	border: none;
	margin-top: 0;
	margin-left: 13em;
	padding-top: 0.5em;
	padding-left: 2em;
	margin-right: auto;
	background-image: url(images/coin.gif);
	background-repeat: no-repeat;
	}


#conteneur #contenu {
	margin: 0;
	padding: 0;
	border: none;
	float: left;
	width: 95%;
}

#navigation {
	margin: 0;
	padding: 0;
	border: none;
	position: absolute;
	top: 5,5em;
	left: 0;
	width: 13em;
	text-align: center;
}

/* Blocs du contenu (c-a-d. la colonne principale) */
#contenu .contre-encart {
	margin: 0;
	padding: 0;
	border: none;
	float: left;
	width: 65%;
	text-align: left;
}

#contenu .encart {
	float: right;
	width: 25%;
	padding: 0;
	border: none;
	margin: 0 0 0 1em;
}

/* Entete */
#entete {
	margin-top: 0;
	padding: 0;
	background-color: #f7ba09;
}
#entete #nom_site_spip, #entete a .spip_logos {
	display: block;
	margin: 0 auto 0 auto;
	padding: 24px 0 5px 0;
	background-color: #f7ba09;
	border: none;
	font-weight: bold;
	font-size: 1.5em; 
}
#entete a { text-decoration: none; }
#entete #nom_site_spip {text-align: center;}
#entete #nom_site_spip, #entete a:hover  .spip_logos { 
	color: #000000; }
#entete .formulaire_recherche { 
	float: right; 
	padding: 0.3em 2em 0 0;
        white-space: nowrap;
}
#entete #barre {
	width: 100%;
	background: #f7ba09 url(images/fondbarrehaut.png);
	height: 1.9em;
	margin: 0;
	padding: 0;
	border: none;
}

#entete #barre ul {
	margin: 0 0 0 14.5em;
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: #f7ba09;
	white-space: nowrap;
}

#entete #barre li {
	margin: 0em;
	padding: 0.4em 0.8em 0 0.8em;
	border: none;
	height: 1.9em;
	list-style-type: none;
	display: block;
	float: left;
}

#entete #barre li a {
	text-decoration: none;
	color: #f7ba09;
}

#entete #barre li:hover { 
	color: black;
	background: #4C93B6 url(images/fondbarrehautsurvol.png);
}

#entete #barre li:hover a { 
	color: #4C93B6;
	background-color: transparent;
}
#entete #barre ul.auth {display:block;}
#entete #barre ul.auth li {margin-left: 4em;}

/* Fil d'Ariane */
#hierarchie {
	width: 90%;
	margin: 0 0 2em 0;
	font-size: 0.77em; }
	

/* Pied de page */
#pied small { font-size: 0.77em; }
#pied img { vertical-align: middle; }
#pied {
	width: 100%;
	clear: both;
	background: #4C93B6 url(images/fondbarre.png);
	height: 1.3em;
	text-align: center;
	border: none;
}

#pied ul {
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #f7ba09;
	padding-top: 0.2em;
	white-space: nowrap;
}

#pied li {
	margin: 0;
	padding: 1em 0.8em 0 0.8em;
	border: none;
	height: 1.2em;
	list-style-type: none;
	display: inline;
}

#pied li a {
	text-decoration: none;
	color: #f7ba09;
	background-color: transparent;
}

#pied a:hover { 
	font-weight: bold;
	height: 1.2em;
}
/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: none; height: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour les menus et la navigation */
body, #navigation, .encart, .formulaire_spip {
	font-family: Verdana, Tahoma, Arial, sans-serif; }

/* Typo pour le contenu */
#contenu {
	font-family: "Trebuchet MS", Helvetica, sans-serif; }

/* Typo pour les citations et extraits introductifs */
q, blockquote, .liste-articles li .texte, h3.spip, .voirskel {
	font-family: Georgia, Times, serif; }


/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

/*  Habillage general des menus de navigation
---------------------------------------------- */
div#menu {
	width: 17em;
	padding-top: 1.7em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	font-size: 0.77em;
	font-weight: bold;
	background-image: url(images/coinrond.gif);
	background-position : right bottom;
	background-color: #f7ba09;
	background-repeat: no-repeat;
}
div#menu ul {margin: 0; padding: 0; width: 17em; 
  border: none;}
div#menu li {position: relative; list-style: none; margin: 0;
  border-bottom: none; height: auto; color: #e783fd;}
div#menu li a {display: block; padding: 0.25em 0 0.25em 0.5em;
  text-decoration: none; color: #e783fd;width: auto; height: auto;}
div#menu ul>li a {background: #f7ba09; color: #4C93B6;}
div#menu ul.level1>li:hover, div#menu ul.level1>li:hover>a {background: #4C93B6; color: black;}
div#menu ul.level2>li, div#menu ul.level3 li, div#menu ul.level2>li>a, div#menu ul.level3 li a{color: black; background: transparent;}
div#menu ul.level2>li:hover, div#menu ul.level3 li:hover, div#menu ul.level2>li:hover>a, div#menu ul.level3 li:hover a{background: black; color: #4C93B6;}

div#menu li a {display: block; padding: 0.25em 0 0.25em 0.5em;
  text-decoration: none; width: auto;height: auto; }
div#menu>ul a {width: auto;}
div#menu ul.level2 {position: absolute; top: 0; left: 17em; width: 15em; display: none; background: url(images/pixtrans.png); border-top: 1px black solid; border-right: 1px black solid;}
div#menu ul.level3 {position: absolute; top: 0; left: 15em; width: 15em; display: none; margin-left: -1px; background: url(images/pixtrans.png); border-top: 1px black solid; border-right: 1px black solid;}
div#menu ul ul li {border-bottom: 1px black solid; border-left: 1px black solid;}
div#menu ul.level1 li.submenu:hover ul.level2 {display:block;}
div#menu ul.level2 li.submenu:hover ul.level3 {display:block;}

.rubriques, .breves, .syndic, .forums, .divers {
	min-width: 10em;
	border: 2px solid #4C93B6;
	border-radius : 16px;
	-moz-border-radius: 16px;
	margin-bottom: 1em;
	font-size: 0.77em;
}

.page_photoalbum .breves {max-width: 30em;}

.une {
	min-width: 10em;
	border: 2px solid #4C93B6;
	border-radius : 16px;
	-moz-border-radius: 16px;
	padding : 0.8em;
	font-size: 1em;
}

.menu-titre {
	padding: 0.2em 0.4em;
	text-align: center;
	font-weight: bold;
}

.menu li {height: 1.5em;}

#navigation p, .encart p { margin: 0; padding: 0.2em 0.7em; text-align: left;  }
#navigation ul, .encart ul { margin: 0; padding: 0.2em 0; text-align: left; list-style: none; }
#navigation li, .encart li { margin: 0; padding: 0 0.7em; }

/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.menu { background-color: #FFFFCC;}
.menu .menu-titre { background-color:#FFFFCC; }

.menu li a {
	text-decoration: none;
	color: #000000;
}

.menu li:hover {
	background-color: #000000;
}
.menu li:hover a{
	color: #ad0073;
	background-color: #000000;
}
.rubriques { background: #FFFFCC;}
.rubriques .menu-titre { background: transparent; }

.breves { background: #FFFFCC; }
.breves .menu-titre { background: transparent; }

.une { background: #FFFFCC; }
.une .menu-titre { background: transparent; }

.syndic { background: #FFFFCC; }
.syndic .menu-titre { background: transparent; }

.forums { background: #FFFFCC; }
.forums .menu-titre { background: transparent; }

.divers { background: #FFFFCC; }
.divers .menu-titre { background: transparent; }

/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */

/*  Cartouche et titraille
---------------------------------------------- */

.cartouche { margin-bottom: 2em; }

.cartouche .titre {
	font-size: 1.27em;
	font-weight: bold;
	color: #000; }
#contenu .surtitre, #contenu .soustitre { font-size: 0.82em; }

.cartouche .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px; }

.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche small { font-size: 0.71em; }

.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }


/*  Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
	margin-bottom: 1.5em;
	font-weight: bold;
	line-height: 1.4em; }

.lien {
	background: #EEE;
	margin: 1em;
	margin-bottom: 1.5em;
	padding: 0.82em;
	border: 1px solid #CCC;
	font-size: 0.82em;
	font-weight: bold; }

.texte { color: #000; font-size: 0.96em; }

.ps, .notes {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
.ps { font-size: 0.82em; }
.notes { clear: both; font-size: 0.77em; }
.ps h2, .notes h2 { font-size: 1.19em; font-weight: bold; }

/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_portfolio h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }

#document_actif { margin-top: 1em; }

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }
#documents_joints ul { margin: 0; padding: 0; list-style: none; }
#documents_joints li { margin-bottom: 0.4em; }
#documents_joints #logodoc {float: right; margin-top: -20px;}
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles ul { margin: 0; padding: 0; list-style: none; }
.liste-articles li { margin-bottom: 1em; clear: both; }

.liste-articles li .titre {
	font-size: 1.03em;
	font-weight: bold; }

.liste-articles li .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
	clear: right; }

.liste-articles li p { margin: 0; padding: 0; }

.liste-articles li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-articles li small {
	display: block;
	font-size: 0.71em; }

.liste-articles li .texte {
	margin-top: 5px;
	margin-bottom: 2em;
	border: 1px solid #CCC;
	padding: 0.9em;
	font-size: 0.82em;
	line-height: 1.4em; }

.pagination { font-size: 0.90em; }

/*  ------------------------------------------
/*  Habillage specifique du plan du site
/*  ------------------------------------------ */

.page_plan .cartouche { display: none; }

.page_plan #contenu h2 {
	clear: both;
	background: #EEE;
	border: 1px solid #CCC;
	padding: 0.5em;
	margin-bottom: 1em;
	font-weight: bold;
	text-align: center; }

.page_plan #contenu .contre-encart ul {
	display: block;
	clear: left;
	margin-top: 0;
	margin-bottom: 1em;
	padding-top: 0; }
.page_plan #contenu .contre-encart li {}

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

.formulaire_spip { text-align: left; font-size: 0.77em; }
.formulaire_spip p { margin: 0.5em 0; padding: 0; }

.formulaire_spip fieldset {}
.formulaire_spip legend {}

.formulaire_spip label {}
.formulaire_spip .forml { width: 70%; font-family: inherit; font-size: inherit; }

/* Boutons */
.spip_bouton { text-align: right; }
.spip_bouton input { float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; }
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }

/* Previsualisation du message */
fieldset.previsu { padding: 1em; }

/* Formulaire de login au forum */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs */
ul.choix_mots { float: left; width: 47%; margin: 0; padding: 0; list-style: none; } 
ul.choix_mots label { display: inline; }

/* Formulaire de recherche */
.formulaire_recherche { width: 12em; text-align: left; }
.formulaire_recherche label { display: none; }

/*  ------------------------------------------
/*  Habillage des forums
/*  ------------------------------------------ */

.forum-repondre, .forum-decompte {
	clear: both;
	margin-top: 2.5em;
	padding-top: 2px;
	border-top: 2px solid #CCC;
	font-size: 0.88em;
	font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; text-decoration: none; color: #333; }
.forum-chapo small {}
.forum-texte { margin: 0; padding: 0.5em 1em 0 1em; color: #333; font-size: 0.82em; }
.forum-texte .forum-lien {}
.forum-texte .forum-repondre-message { margin: 0; padding: 1px 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: none; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; font-size: 0.88em; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a { text-decoration: none; color: #4C93B6; }
a:hover { 
	background-color: #4C93B6; 
	color: #FFFFFF; }
	
td.today {border: 1px solid #4C93B6;}

/* * Couleurs des liens de Spip */
a.spip_note {text-decoration: none; color: #4C93B6;} /* liens vers notes de bas de page */
a.spip_in {text-decoration: none; color: #4C93B6;} /* liens internes */
a.spip_out {text-decoration: none; color: #4C93B6;} /* liens sortants */
a.spip_url {text-decoration: none; color: #4C93B6;} /* liens url sortants */
a.spip_glossaire {text-decoration: none; color: #4C93B6;} /* liens vers encyclopedie */
.on { font-weight: bold;} /* liens exposes */
a.spip_note:hover {color: white;
        background-color: #4C93B6;} /* liens vers notes de bas de page */
a.spip_in:hover {color: white;
        background-color: #4C93B6;} /* liens internes */
a.spip_out:hover {color: white;
        background-color: #4C93B6;} /* liens sortants */
a.spip_url:hover {color: white;
        background-color: #4C93B6;} /* liens url sortants */
a.spip_glossaire:hover {color: white;
        background-color: #4C93B6;} /* liens vers encyclopedie */
.on:hover { font-weight: bold;} /* liens exposes */