/* ======================================================================
  ======================================================================
        Styles généraux sauf pour
          - le menu (voir menu.css)
          - le bloc central de la page d'accueil (voir alaune.css)
          - l'agenda (voir agenda.css)
          - le forum du site (voir forum.css.html)
          - les styles configurables (voir config.css.html)
  ======================================================================
   ======================================================================*/
html, body {
	margin: 0;
	padding: 0;
}
html {
	overflow-y: scroll;
}
body {
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}

div#contenu {
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 25px;  
}
div#navigation, div#contenu, div#extra {
	margin-bottom: 10px;
}
div#page{
margin-top: 25px  
}  
 
/* ======================================================================
                          LE RESTE
   ======================================================================*/
/* les liens */
a {
	text-decoration: none;
}
a.auteur:after {
   content: "\0000a0\2709";
   margin-left: -4px;
   font-size:14px;
}
a.spip_out {
	padding-right: 14px;
}
a.spip_mail{
	padding-right: 18px;
}
div.laune div.texte p a{
float: none;
}
/* les images */
img {
	margin: 0;
	padding: 0;
	border: none;
}
.spip_documents {
	text-align: center;
}
.spip_documents_center {
	width: 100%;
	margin: auto;
	display: block;
}
.spip_documents_left {
	float: left;
	margin-top: 2px;
	margin-right: 30px;
	margin-bottom: 2px;
	margin-left: auto;
}
.spip_documents_right {
	float: right;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 15px;
}
.spip_doc_titre {
	font-weight: bold;
	font-size: 1em;
	margin: auto;
}
.spip_doc_descriptif {
	clear: both;
	font-size: 0.8em;
	margin: auto;
}
#logoauteur{
  float: right;
  margin: 5px;
}
.imageforum img {
	margin: auto;
	display: block;
}
img#boutonForum{
  float: right;
  margin-top: 1px;
	margin-right: 10px;
	margin-bottom: 1px;
	margin-left: 10px;
}

.video {
	text-align:center;
}
/* les encadres */
.texteencadre-spip {
	width: 80%;
	margin: auto;
}
.spip_cadre {
    background-color: #F0F0F0;
    width: 99%;
}
/* pour retrouver le flux normal d'affichage */
.nettoyeur {
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	height: 0;
	line-height: 1px;
	font-size: 1px;
	visibility: hidden;
}


#espace #formulaire_recherche{
	margin-right: 30px;
}
#espace {
	clear: both;
}

#formulaire-auteur{
  text-align: left;
}
#formulaire-auteur  textarea{
  width: 90%;
}
/**************/
/* le bandeau */
/**************/

#titrepage {
	float: right;
	width: 700px;
}
#nom-site-spip {
	float: left;
	width: 450px;
	font-style: italic;
	font-weight: bold;
	padding-top: 20px;
}
#slogan-site-spip {
	float: right;
	width: 200px;
	font-style: italic;
	padding-top: 45px;
	padding-right: 30px;
}
#descriptif-site-spip {
	clear: both;
	padding-top: 10px;
	padding-left: 10px;
}
/***********/
/* le pied */
/***********/
#pied {
	font-size: 10px;
	padding: 5px 0;
}
#pied img {
	margin-right: 8px;
	margin-left: 8px;
}
#credits {
  float: right;
  margin-top: -50px;
	margin-right: 5px;
}
#pied-gauche {
  float: left;
	margin-left: 10px;
	width: 200px;
}
#liens {
	margin-right: 200px;
	margin-left: 200px;
}
/**************************************************************/
/* habillage des cadres de couleur communs a toutes les pages */
/**************************************************************/
h1.cadre {
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	font-size: 11px;
	margin-top: 25px;
	margin-bottom: 0;
}
h1.cadre img {
	margin-top: -35px;
	margin-left: 0;
	margin-right: -15px;
	float: left;
	z-index: 100;
}
h1.a-droite img{
	margin-top: -35px;
	margin-right: 0;
	margin-left: -15px;
	float: right;
}
a.toggleLink {
	float: right;
	margin-right: 5px;
}
.toggleimage1 {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 27px;
}
.toggleimage2 {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 27px;
}

div.texte {
	font-size: 11px;
	text-align: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
    border-top-width: 0;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1px;
	border-style: solid;
    word-wrap: break-word;
}
div.texte .spip_logos {
	float: left;
}
.sans-bord .texte {
	border: none;
}
.sans-fond .texte {
	background-color: transparent !important;
}
.cadre-couleur .formulaire_spip ul {
	padding: 0;
}
.cadre-couleur .formulaire_spip li.editer {
	list-style: outside none none;
	margin-bottom: 10px;
}
.cadre-couleur .formulaire_spip li.editer label {
	display: block;
}
.cadre-couleur .formulaire_spip li.editer .choix label {
	display: inline;
}
.cadre-couleur .formulaire_spip li.editer input {
	margin-bottom: 10px;
	max-width: 90%;
}
.cadre-couleur .formulaire_spip li.editer textarea {
	margin-bottom: 10px;
	max-width: 90%;
}
.cadre-couleur .formulaire_spip input {
	font-size: 11px;
}
/*********************************************/
/*    Les cadres latéraux                    */
/*********************************************/
div.cadre-couleur h1.cadre {
	background-color: #82ADE2;
}
div.cadre-couleur .texte {
	background-color: #DAE6F6;
	border-color: #82ADE2;
}
/* quelques exemples de variations */
div.cadre-vert h1.cadre {
    background-color: #A7D37F;
}
div.cadre-vert .texte {
    background-color: #DCEECC;
    border-color: #A7D37F;
}
div.cadre-rouge h1.cadre {
    background-color: #EE9D90;
}
div.cadre-rouge .texte {
    background-color: #F8D8D3;
    border-color: #EE9D90;
}
div.cadre-jaune h1.cadre {
    background-color: #F9E95D;
}
div.cadre-jaune .texte {
    background-color: #FDF6B9;
    border-color: #F9E95D;
}
div.cadre-gris h1.cadre {
    background-color: #c1c1c1;
}
div.cadre-gris .texte {
    background-color: #e9e9e9;
    border-color: #C1C1C1;
}
div.cadre-marron h1.cadre {
    background-color: #ECA742;
}
div.cadre-marron .texte {
    background-color: #F5CE94;
    border-color: #ECA742;
}
/***********************************************/
/* habillage spécifiques à certaines noisettes */
/***********************************************/

/* identification light */
/************************/
.identification-light {
	float: left;
  margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	margin-left: 5px;
	border-width: 1px;
	border-style: solid;
  box-shadow: 2px 2px 2px #000000 inset;
}
.identification-light p{
  margin: 0;
  margin-top: -2px;
  padding: 0 3px;
}
.identification-light a {
	font-size: 11px;
	padding: 4px;
}
/* formulaire recherche */
/************************/
#formulaire_recherche {
	float: right;
}
.formulaire_recherche label {
	font-size: 12px;
}
.formulaire_recherche input.text {
	padding-left: 25px;
	width: 100px;
  border-width: 1px;
	border-style: solid;
  box-shadow: 2px 2px 2px #000000 inset;
}
/* noisette inc-identification */
/*******************************/
.formulaire_login .spip_logos {
	float: right;
}
#formulaire_login ul li {
	list-style: none;
	margin-top: 10px;
}
#var_login {
	width: 140px;
}
#password {
	width: 140px;
}
.choix {
	font-size: 10px
}
.formulaire_login .boutons {
	text-align: center;
}
div#liensilogue a {
	display: block;
	text-align: center;
  margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
}
#inscription li.editer {
	list-style: none;
}
#inscription input#nom_inscription,
#inscription input#mail_inscription  {
	width: 95%;
}
#inscription p.boutons  {
	text-align: center;
}
/* drapeaux du menu de langues */
/*******************************/
#drapeau{
  float: right;
  margin-right: 50px;
}
#langue{
  float: left;
  margin-right: 20px;
}
/* noisette inc-acces_direct */
/*****************************/
div.texte.acces-direct {
	font-size: 12px;
	font-weight: bold;
	padding-left: 20px;
}
/* noisette inc-evenements */
/***************************/
div.texte.evenements ul {
	padding-left: 10px;
	margin: 0;
}
div.texte.evenements li {
	font-size: 11px;
	font-weight: bold;
	list-style: none;
	margin-bottom: 10px;
}
div.texte.evenements li a {
	font-size: 12px;
	font-weight: bold;
	display: block;
	padding-left: 20px;
}
/* noisettes inc-evenements_agenda */
/***********************************/
.banner{
  font-size: 15px;
  margin-left: 15px;
}
.location{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 100px;
  padding: 5px;
  background-color: #CCCCCC;
}
.lieu{
  font-weight: bold;
}
li.saisie_reponse{
 list-style: none
}
table#evenement{
margin-top: 15px;
margin-bottom: 10px;
text-align: left;
border-collapse: collapse;
}
table#evenement th{
font-weight: bold;
padding: 15px;
}
table#evenement td{
border-left: 1px solid grey;
padding: 5px;
}

table#evenement td{
width: 33%;
}

/* noisette inc-nav_mots */
/*************************/
.titre-groupe{
  margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}
div.texte.nav-mots  a, div.texte.menu-mots  a {
	font-size: 10px;
	display: block;
	padding-left: 20px;
	margin-bottom: 3px;
}
/* noisette inc-stats */
/**********************/
div.texte.stats ul {
	padding-left: 10px;
	margin: 0;
}
div.texte.stats li {
	font-size: 11px;
	list-style: none;
	margin-bottom: 10px;
}
div.texte.stats li .detail {
	font-size: 10px;
	font-weight: bold;
	display: block;
	padding-left: 20px;
}
/* noisette inc-top */
/********************/
div.texte.top ul {
	padding-left: 10px;
	margin: 0;
}
div.texte.top li {
	list-style: none;
	margin-bottom: 5px;
}
div.texte.top li a {
	font-size: 11px;
	font-weight: bold;
}
.popularite {
	margin-left: 80px;
}
/* noisette sur le web */
/***********************/
.titre-site {
	font-size: 12px;
	font-weight: bold;
  margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.descriptif-site {
	font-size: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}
div.texte.sites li {
	margin: 0 0 2px -20px;
	margin-bottom: 2px;
	margin-left: -20px;
	font-size: 10px;
	list-style: square;
}
/* noisette inc-actus */
/**********************/
#scrollup {
	position: relative;
	overflow: hidden;
	height: 100px;
	margin: 0 5px;
}
.headline {
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	top: 103px;
}
.intro{
  font-size: 10px;
  font-weight: normal;
}
/* noisette inc-photos */
/***********************/
#scrollup2 {
	position: relative;
	overflow: hidden;
  margin: auto;
}
.headline2 {
	position: absolute;
  width: 100%;
  margin: auto;
  text-align: center;
}
/* noisette inc-documents_article */
/***********************/
.documents-article img, .documents-rubrique img{
  float: left;
  margin-right: 5px;
}
.documents-article ul, .documents-rubrique ul{
  padding: 0;
}
.documents-article li, .documents-rubrique li{
  list-style: none;
  font-size: 12px:
}

/* encart annonce a la une */
/***************************/
.annonce {
	font-size: 14px;
	padding: 10px;
	margin-bottom: 15px;
	text-align: left;
}
.annonce-titre {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-left: 40px;
}

/* encart annonce defilant */
/***************************/
#scrollup3 {
	position: relative;
	overflow: hidden;
  margin: auto;
  margin-bottom: 20px;
}
.headline3 {
	position: absolute;
	width: 100%;
}
.annoncedefil {
	font-size: 14px;
	padding: 10px;
	margin-bottom: 15px;
	text-align: left;
}
.annoncedefil img {
float: left;
margin-right: 10px;
}
.annoncedefil a.suite {
	font-size: 12px;
	float: right;
}
.annoncedefil p {
	margin: 0;
}
.compteur-annonce{
  float: left;
  color: white;
  background-color: grey;
  padding: 2px 5px 4px 3px;
  border-radius: 15px;
}
/* noisette inc-edito */
/**********************/
.edito li{
 margin-left: -20px
}
/* noisette inc-sites_favoris */
/******************************/
#scrollup4 {
	position: relative;
	overflow: hidden;
	height: 140px;
  margin: auto;
  width: 170px;
}
.headline4 {
	position: absolute;
	top: 140px;
}
.headline4 img {
 width: 170px;
}
/* noisette inc-perso */
/**********************/
#scrollup5 {
	position: relative;
	overflow: hidden;
	height: 100px;
}
.headline5 {
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	top: 103px;
}

/* noisette inc-recherche_multi */
/********************************/
.recherche-multi .groupe-mots {
  margin-left: 5px;
  margin-top: 5px;
  font-weight: bold;
}
.recherche-multi select {
  width:148px;
  margin-left: 30px;
}
.recherche-multi li{
margin-left: -20px;
}
/* noisette inc-liste_auteurs */
/******************************/
.cadre.liste-auteurs a{
  font-size: 10px;;
}
a#savoir-plus{
  display: block;
  text-align: right;
  margin-right: 10px;
}
.auteurs, ul.legende {
    margin: 0;
    padding: 0 5px 5px;
    text-transform: capitalize;
}
.legende li, .auteurs li {
    list-style-type: none;
    margin-bottom: 2px;
}
.auteurs li {
    display: inline;
}
.interne{
	background:#82ADE2;
  border-radius: 10px;
  padding: 5px;
}
.pagination-liste-auteurs {
	text-align: center;
	margin: 10px;
}
/***************************************************/
/* les styles communs aux pages rubrique et article */
/****************************************************/
.cadre-chemin {
	text-align: left;
	font-size: 10px;
	margin-bottom: 15px;
	padding-right: 2px;  
}
.cadre-chemin a{
	padding: 5px 10px;
  border-radius: 10px;
  line-height: 25px;  
}
.cadre-chemin img {
	display:none
}
/* 2 styles specifiques pour les cadres "derniers articles" et "meme rubriques" */
.titre-article-cadre {
	margin-bottom: 5px;
	margin-left: 5px;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}
.date-auteur-cadre {
	margin-right: 5px;
	margin-bottom: 15px;
	margin-left: 20px;
}
/********************/
/* la page rubrique */
/********************/
#cadre-rubrique {
	padding: 5px;
}
.logorub {
	position: relative;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}
#titre-rubrique {
	text-align: left;
	font-size: 18px;
	font-family: Tahoma;
}
#descriptif-rubrique {
	font-size: 14px;
}
#texte-rubrique {
	font-size: 12px;
}
.texte-insert {
	font-size: 12px;
	margin-top: 10px;
	font-weight: bold;
	font-style: italic;
}
.cadre-articles-rubrique {
	border-width: 2px;
	border-style: solid;
	text-align: left;
	font-size: 12px;
  margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-right: 5px;
	padding-left: 5px;
}
.titre-articles-rubrique {
	padding-top: 5px;
  font-size: 12px;
	font-weight: bold;
}
.introduction-articles-rubrique {
	font-size: 12px;
  margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 25px;
}
.introduction-articles-rubrique a {
	font-size: 12px;
	float: right;
}
.auteur-articles-rubrique {
	text-align: right;
	font-size: 10px;
	margin: 5px;
}
.cadre-sous-rubrique {
	border-width: 1px;
	border-style: solid;
	text-align: left;
	font-size: 12px;
	margin: 5px 0px 10px 20px;
  margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 20px;
	padding-right: 5px;
	padding-left: 5px;
}
.titre-sous-rubrique {
	font-size: 14px;
	font-weight: bold;
  margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}
.descriptif-sous-rubrique {
	font-size: 12px;
	margin-right: 25px;
	margin-bottom: 5px;
	margin-left: 25px;
}
.nombre-articles-rubrique {
	text-align: right;
	font-size: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.titre-site {
	font-size: 12px;
	font-weight: bold;
  margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
.descriptif-site {
	font-size: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}
/*******************/
/* la page article */
/*******************/
#cadre-titre-article {
	padding: 5px;
}
#cadre-article {
	border-width: 1px;
	border-style: solid;
}
#surtitre-article {
	font-size: 80%;
	text-align: left;
	text-transform: uppercase;
	opacity: 0.8;
}
#titre-article {
	text-align: left;
	font-size: 18px;
	font-family: Tahoma;
}
#soustitre-article {
	font-size: 80%;
	text-align: left;
	opacity: 0.8;
}
#descriptif-article {
	font-size: 14px;
	margin-right: 5px;
	margin-left: 10px;
    text-align: justify;
}
#auteur-article {
	text-align: right;
	font-size: 10px;
	margin: 5px;
}
#outils-article {
	font-size: 10px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-bottom: 50px;
	text-align: left;
    float: left;
}
#outils-article .outil {
	float: left;
}
#outils-article img {
	vertical-align: middle;
}
#outils-article a {
	margin-right: 10px;
}
#traductions-article {
	font-size: 10px;
}
#traductions-article ul {
	margin: 0;
	padding: 0;
}
#traductions-article li {
	display: inline;
	list-style: none;
}
#chapo, .chapo {
	font-style: italic;
}
#texte-article {
	text-align: justify;
	font-size: 12px;
	margin-right: 5px;
	margin-left: 5px;
	line-height: 140%;
}
#texte-article p {
	text-indent: 1.5em;
}
#augmenter {
	height: 24px;
	width: 24px;
	border: 0;
	float: right;
	margin: 5px;
}
#diminuer {
	height: 24px;
	width: 24px;
	border: 0;
	float: right;
	margin: 5px;
}
#texte-article .aide,
#texte-article .important,
#texte-article .avertissement,
#texte-article .info,
.spip_cadre {
	display: inline-block;
	background-position: 20px 50%;
	background-repeat: no-repeat;
	border: none;
	border-radius: 20px;
	margin: 0 2em 2em 2em;
	min-height: 40px;
	padding: 15px 20px 15px 80px;
	text-align: justify;
	vertical-align: middle;
	width: 70%;
	box-shadow: 10px 10px 5px #888888;
}
#texte-article .aide {
	background-color: #9cf;
	background-image: url("../images/aide.png");
}
#texte-article .important {
	background-color: #fdd;
	background-image: url("../images/important.png");
}
#texte-article .avertissement {
	background-color: #ffc;
	background-image: url("../images/avertissement.png");
}
#texte-article .info {
    background-color: #cfc;
	background-image: url("../images/info.png");
}
ins, .ins {
    background-color: #FFC;
    text-decoration: none;
}
#notes {
	padding-left: 10px;
	font-size: 10px;
}
#ps {
	padding: 10px;
	font-size: 12px;
	text-align: left;
	line-height: 140%;
}
#site {
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-left: 20px;
	font-size: 12px;
}
#documents_portfolio {
	border-width: 1px;
	border-style: solid;
	text-align: left;
	font-size: 10px;
	margin: 10px;
}
#documents_portfolio td {
	width: 280px;
}
.titre-doc {
	font-size: 12px;
	font-weight: bold;
}
.texte-doc {
	font-size: 10px;
	text-align: left;
	margin: 5px;
}
.texte-doc ul {
	list-style-type: none;
}
#documents_portfolio ul {
  margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 0;
}
#documents_portfolio ul li {
	font-size: 10px;
	margin-left: 10px;
}
#documents_portfolio .spip_logos {
	float: left;
	margin-right: 5px;
}
#haut {
	font-size: 10px;
	text-align: right;
}
#haut2 {
	font-size: 10px;
	text-align: right;
	margin-right: 200px;
	margin-left: 200px;
}
#haut a:after, #haut2 a:after {
   content: "\0000a0\2934";
   font-weight: bold;
   font-size:14px;
}

/**********************************/
/* les tableaux dans les articles */
/**********************************/
table.spip {
  margin-top: 5px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	font-size: 12px;
}
table.spip td {
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
}
table.spip caption {
	font-weight: bold;
	font-size: 14px;
}
table.spip tr.row_first {
	text-align: center;
}
/***************************/
/* les forums des articles */
/***************************/
.forum-article {
	text-align: left;
	font-size: 12px;
	margin-right: 5px;
	margin-left: 5px;
}
.forum-article img.forum {
	float: left;
}
.repondre-article {
	font-size: 14px;
	margin-bottom: 20px;
	margin-left: 40px;
}
.repondre-article img {
	margin-right: 10px;
}
.forum-thread {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	margin-top: 20px;
	text-align: left;
}
.titre-message {
	padding: 5px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
}
.auteur-message {
	font-size: 12px;
	font-weight: normal;
	float: right;
}
.texte-message {
  margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
	text-align: left;
	font-size: 12px;
}
.reponse {
	text-align: right;
}
.reponse a {
	font-size: 12px;
	font-weight: normal;
}
.decal-reponse {
	margin-left: 10px;
}
.forum_reponse {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}
/* les citations */
blockquote.spip {
	border-left: 0.3em solid;
  margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 1em;
}
.formulaire_spip textarea.markItUpEditor, .formulaire_spip li.editer_texte textarea {
  width: 99%;
}
/******************************/
/* les pages forum et message */
/******************************/
#cadre-titre-article h1 {
	text-align: center;
	font-size: 16px;
}
#formulaire_forum {
	text-align: left;
	font-size: 12px;
}

#formulaire_forum div#previsu li {
	list-style-type: none;
}
#formulaire_forum div#previsu li a {
	display: block;
}
#formulaire_forum ul {
	margin-left: -40px;
}
#formulaire_forum li {
	margin-bottom: 10px;
	list-style-type: none;
}
#formulaire_forum ul li label {
	font-weight: bold;
}
#formulaire_forum input.barre {
	font-size: 11px;
	width: 350px;
	border: 0;
}
/*******************/
/* la page contact */
/*******************/
#formulaire-contact {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	margin: 20px;
	font-size: 12px;
}
#formulaire-contact ul#item  li {
	list-style: none;
	text-align: left;
	margin-bottom: 10px;
}
#formulaire-contact ul#item ul li {
	margin: 0;
}
#formulaire-contact ul#item li label {
	float: left;
	width: 200px;
} 
#formulaire-contact ul#item ul li input {
	display: inline;
	margin: 5px 5px 0 100px;
  margin-top: 5px;
	margin-right: 5px;
	margin-left: 100px; 
}
#formulaire-contact ul#item textarea {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5px;
	width: 80%;
}
#formulaire-contact .interdit {
	font-size: 10px;
  font-weight: italic;
}
#formulaire-contact ul#item li input#envoi {
	margin-left: 150px;
}
#formulaire-contact .alerte1 {
  font-size: 12px;
  font-weight: bold;
}
#formulaire-contact .alerte {
  font-size: 11px;
}
#formulaire-contact p.reponse_formulaire_ok{
  border : 1px solid black;
}
.envoi-mail{
  font-weight: bold;
}
/********************/
/* la page trombino */
/********************/ 
.pagination-trombino {
	text-align: center;
	margin: 10px;
}
.trombino table{
	width: 100%;
}
.trombino td {
	vertical-align: top; 
	width: 33%;
}
.centrage {
	margin-right: auto;
	margin-left: auto;
}
.ombre {
	float: left;
  margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 0px;
}
.boite {
	position: relative;
	bottom: 8px;
	right: 8px;
}
.nom-photo {
	clear: both;
	font-size: 12px;
	font-weight: bold;
}
.adresse-photo {
  margin-top: 5px;
	margin-bottom: 5px;
	font-size: 10px;
	font-weight: bold;
}
.texte-photo {
	font-size: 10px;
	font-style: italic;
}
.texte-photo p.spip {
	margin: 0;
}
/********************/
/* la page annuaire */
/********************/
#signatures {
	text-align: left;
	text-indent: 0;
}
li.saisie_message textarea {
	width: 90%
}
#signatures li {
	border-width: 2px;
	border-style: solid;
	clear: both;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	min-height: 90px;
  padding-top: 0.8em;
	padding-right: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 30px;
	list-style: none;
}
#signatures li h3 {
	font-size: 12px;
}
#signatures li p.url {
	font-size: 10px;
}
#signatures li p.message {
  border-width: 1px;
	border-style: solid;
	padding: 5px;
}
#signatures li img {
	display: block;
	float: right;
	margin-left: 1em;
	width: 130px;
}
#signatures li h3 {
	font-weight: bold;
}
.form-signature {
	border: 0;
	font-size: 11px;
	text-align: left;
	padding: 5px;
	margin-bottom: 20px;
}
.erreur_message{
  color: red;
}
/*****************************/
/* styles pour le calendrier */
/*****************************/
#mois {
	font-weight: bold;
	font-size: 10px;
	text-align: center;
}
.small_mini {
	font-size: 11px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.calendar_head_mini {
	text-align: center;
	font-size: 10px;
}
.calendar_this_day {
	font-weight: bold;
  border-width: 1px;
	border-style: solid;
}
.calendar_mini_event {
	display: block;
	border-width: 1px;
	border-style: solid;
}
#entete-evenement {
	margin-top: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
}
.liste-evenements {
	font-size: 9px;
	margin-top: 2px;
	margin-bottom: 2px;
}
#nouvel-evenement {
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	width: 80%;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	border-radius: 10px !important;
} 
/*************************/
/* adaptation de plugins */
/*************************/
/************************************/
/* personnalisation du plugin diapo */
/************************************/
.diaporama {
	width: 520px;
	text-indent: 0px;
}
.diapo_vignettes_right {
	width: 200px;
}
.diapo_vignettes_left {
	width: 200px;
}
.diapo.diapo_petit {
	text-align: center;
	width: 300px;
}
/*************************************************/
/* personnalisation du plugin lecteur multimédia */
/*************************************************/
.radiobox {
	margin: auto;
}
.citation {
	background: transparent;
	position: absolute;
	top: 40px;
	right: 69px;
	width: 200px;
	height: 125px;
	color: #aaaaaa;
	font-size: 14px;
	text-align: center;
}
.citation .auteur {
	font-style: italic;
	color: #bbbbbb;
	font-size: 12px;
}
/***************************************/
/* personnalisation du plugin Rainette */
/***************************************/
/* INFOS: Styles utilises par le modele rainette_infos */
.rainette_infos {
	float: none;
	width: 100%;
	background: none;
	border: none;
	margin: 0;
	padding-bottom: 5px;
}
.rainette_infos .ville {
    margin: 0 10px 0 5px;
	font-size: 16px;
	font-weight: bold;
}
.rainette_infos .coordonnees {
	float: none;
}
/* CONDITIONS: Styles utilises par le modele rainette_conditions */
.rainette_conditions {
	float: none;
	width: 100%;
	background: none;
	border: none;
	margin: 5px 0 0 0;
  padding:0;
}
.rainette_conditions .statut {
  width: 100%;
}
.rainette_conditions .cadre {
	width: 100%;
	border: none;
	background: none;
	margin: 0;
	padding-bottom: 10px;
  text-align: center;
}
.rainette_conditions .maj {
  width: 100%;
	margin: 0;
  padding: 0;
}
.rainette_conditions .icone {
	float: none;
  margin-top: 3px;
	margin-left: 10px;
}
.rainette_conditions .t_reelle {
	float: none;
	font-size: 33px;
	font-weight: bold;
	margin-top: 10px;
}
.rainette_conditions .details {
	padding-left: 10px;
	width: 100%;
}
.rainette_conditions .plus {
	padding: 5px 0 0 10px;
  border: 1px solid grey;
  width: 100%;
}
.rainette_conditions .details ul li {
	text-align: left;
	margin-bottom: 5px;
	margin-left: 5px;
}
.rainette_conditions ul li {
  width: 100%;
}
.rainette_conditions li .details span {
	margin: -5px 0 -15px 0;
  padding: 0;
}
li.meteo {
	font-size: 10px;
	margin: 2px 0 2px -20px;
  width: 100%;
  list-style-type: circle !important; 
}
li.meteo .popup {
	display: none;
  width: 100%;
}
li.meteo:hover .popup {
	display: block;
	margin-left: -20px;
  margin-top: 10px;
}

/* PREVISIONS: Styles utilises par le modele rainette_previsions, sur x jours presente en 24h simple */
.rainette_previsions_24h {
	float: none;
	border: 1px solid #000000;
	width: 175px;
}
.rainette_previsions_24h .jour,
.rainette_previsions_24h .date{
	background: #82ADE2;
	width: 100%;
  border: none;
  font-size: 12px;
  padding: 2px 0;
  margin: 0;
}
.rainette_previsions_24h .contenu {
	width: 100%;
	border: 0;
}

.rainette_previsions_24h .t_reelle {
  font-size: 20px;
  float: none;
  margin-bottom: 10px;
}
.rainette_previsions_24h .resume {
	min-height: 30px;
	font-size: 11px;
}
/***************************************/
/* personnalisation du plugin Shoutbox */
/***************************************/
.formulaire_shoutbox fieldset{
border: none;
margin: 0;
}
.formulaire_shoutbox label{
width: 100%;
padding: 0;
}
.formulaire_shoutbox label .labelhide {
	background-color: white;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-top: 1px solid #A0A0A0;
	width: 100%;
}
/***********************************************/
/* personnalisation du plugin Mentions légales */
/***********************************************/
#mentions {
	text-align: justify;
	font-size: 0.8em;
	padding: 5px;
}
/**********************************************/
/* personnalisation du plugin Mini-Calendrier */
/**********************************************/
#calendar  tbody {
	color: #000000;
}
#calendar .menu-titre {
	display: none;
}
/**********************************************/
/* personnalisation du plugin Socialtags */
/**********************************************/
#espace div.socialtags {
	clear: none;
	float: left;
	margin-left: 100px;
}
.socialtags-hovers {
    opacity: 0.8;
}
/**********************************************/
/* personnalisation du plugin Signalement  */
/**********************************************/
.formulaire_signalement li {
	list-style-type: none;
	text-align: left;
}
.formulaire_signalement select {
	width: 95%;
}
.formulaire_signalement .edition {
	width: 95%;
}
.formulaire_signalement textarea {
	width: 99%;
}