body{
  background: none;
}



#ombre-gauche, #ombre-droite {
  background: none;
  width: 100%;
}

div#conteneur {
	width: 98%;
	margin: 0 1%;
}
#titrepage, #nom-site-spip, #slogan-site-spip, #descriptif-site-spip  {
	float: none;
	width: 90%;
	margin-left: 20px;
}
#nom-site-spip {
 font-size: 30px;
  padding-top: 5px;
}
#slogan-site-spip {
	padding-top: 5px;
	padding-right: 0
}
#descriptif-site-spip {
	padding-top: 5px;
	padding-left: 0;
}

div#page {
	float: none;
	width: 100%;
	margin-bottom: 10px;
}
div#contenu {
 margin: 0;
 padding:0;
 width: 100%; 
}
.annonce, .annoncedefil, #scrollup3 {
	width: 95%;
}

div#navigation, div#extra {
	float: none;
	width: 100%;
	margin: 0;
}

#navigation div.cadre-couleur, #extra div.cadre-couleur {
	margin: 0;
}
div#pied {
	width: 100%;
	margin-top : 10px;
}
#liens{
 margin: 0;
}
#haut2{
  margin:0;
}
#credits {
  float: none;
  margin: 0;
}
#pied-gauche{
display: none;
}
#texte-article img {
	max-width: 95% !important;
}

.laune ul.anchors li{
width: 100%;
}
.fc-header td{
  display: block;
}