.info_prive{
	background-color: #DDD;
	color: #444;
	padding: 5px;
	border-radius: 5px;
}
.apercu_couleur_fond{
	width: 90%; 
	line-height: 20px; 
	border-radius: 10px; 
	padding: 5px; 
	text-align: center;
}
.apercu_couleur_texte{
	display:inline-block; 
	width: 25%; 
	line-height: 15px; 
	border-radius: 5px; 
	padding: 3px; 
	text-align: center; 
}
