@page {
	size: portrait;
	margin-left: 8mm;
	margin-right: 8mm;
	margin-top: 12mm;
	margin-bottom: 20mm;
}
#enTetePrint {
  font-size: 3pt;
  }
body {
	width: auto !important;
	margin: auto !important;
	font-family: serif;
	font-size: 12pt;
	background-color: #fff !important;
	color: #000 !important;
}
#page{
	margin: auto !important;
	width: auto !important;
	background-color: #fff !important;
}
#titrepage, #layout, #bandeau-droite, #menu, .menudesktop, .menumobile, .main-nav, #espace,
.spip-admin-float, #haut, #annonces-defilantes, .annonce,
#diminuer, #augmenter, .visites, #cadre-telechargement,
.forum-article, #recommander, #documents_portfolio,
#site, #outils-article, #outil_sommaire, .sommaire_ancre a,
#accessconfig, .accessimg, #a42-ac {
	display: none;
}
.media_wrapper, video, .playerVideo video, .mini_capsule-video, .spip_documents_player dt{
	display: none;
}
.spip_documents.video::before, .capsule-video::before, .playerVideo::before, .spip_documents_player::before {
	content: "Player supprim\00E9  de l'impression";
	font-size: 10pt;
}
#navigation, #extra, #pied {
	width: 0;
	margin: 0;
	display: none;
}
img {
	border: none !important;
}
#contenu {
	margin: auto !important;
	float: none !important;
}
#cadre-article{
	border: none;
}
.cadre-chemin {
	font-size: 10pt;
}
#titre-article {
	font-size: 20pt;
}
#descriptif-article {
	font-size: 14pt;
}
#auteur-article {
	font-size: 10pt;
}
#texte-article {
	font-size: 12pt;
	border-top : 1pt solid #ddd;
	margin-top : 1cm;
}
p, h1, h2, h3, h4, h5, h6, blockquote, ul, ol {
	color: #000 !important;
	margin: 10pt auto !important;
}
p{
	margin-top: 10pt !important;
}
.print {
	display: block; /* affichage des éléments de classe print */
}
p, blockquote {
	orphans: 3; /* pas de ligne seule en bas */
	widows: 3; /* pas de ligne seule en haut */
}
p, table, blockquote, ul, ol {
	page-break-inside: avoid; /* pas de coupure dans ces élements */
}
h1 {
	page-break-before: always; /* chaque titre commence sur une nouvelle page */
}
h1, h2, h3, caption {
	page-break-after: avoid; /* pas de saut après ces éléments */
}
a {
	color: #520 !important;
	background: transparent;
	font-weight: bold;
	text-decoration: underline!important;
}
#texte-article a.spip_out[href]:after {
	content: " (" attr(href) ") ";
	font-size: 10pt;
}
#texte-article a.spip_url[href]:after {
	content: "";
}
a.sommaire_ancre{
	display: none;
}
#texte-article ul.spip li {
	list-style-type: disc;
	background-image: none;
	background-position: 0 5px;
}
#texte-article ul.spip ul li{
	list-style-type: circle;
	background-image: none;
}

#texte-article ul.spip ul ul li{
	list-style-type: square;
	background-image: none;
}
#texte-article .aide, .texte-article .aide,
#texte-article .important, .texte-article .important,
#texte-article .avertissement, .texte-article .avertissement,
#texte-article .info, .texte-article .info,
.spip_cadre, .coloration_code {
	border: 1px solid black;
	box-shadow: none;
}