<plugin>
	<nom>Sarka-SPIP Easter</nom>
	<auteur><a href='http://www.zest.shizuka.fr'>_Shizuka_</a></auteur>
	<licence><a href='http://creativecommons.org/licenses/by-nc-sa/2.0/fr/' rel='licence'>CC-by-nc-sa</a></licence>
	<version>0.1.0</version>
	<slogan>Th&#232;me Sarka-SPIP 3 pour P&#226;ques</slogan>
	<description>Une adaptation sp&#233;ciale de Spring pour les f&#234;tes de P&#226;ques en layout fixe de 1024px.</description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme_sarka_easter</prefix>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>