<plugin>
	<nom>Sarka-SPIP Easter</nom>
	<auteur><a href='http://www.zest.shizuka.fr'>_Shizuka_</a></auteur>
	<licence><a href='http://creativecommons.org/licenses/by-nc-sa/2.0/fr/' rel='licence'>Creative Commons Attribution License  </a></licence>
	<version>0.1</version>
	<description>Une adaptation  sp&eacute;ciale de Spring pour les f&ecirc;tes de P&acirc;ques. Layout fixe 1024px.</description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme_sarka_easter</prefix>
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>