<plugin>
	<nom> <!-- nom du plugin -->
		<multi>
		[fr]
		  Squelettes Nono
		</multi>
	</nom>
	<auteur>	<!-- Auteur du plugin -->
 		jsb - Distribue sous licence GNU/GPL
	</auteur>
	<version>
		0.2
	</version>
	<etat>
		experimental
	</etat>
	<lien>
		http://demo.webjsb.net
	</lien>
	<description>
		<multi>
			[fr] permet de paramétrer les squelettes Nono
		</multi>
	</description>
	
	<!-- remplace mes options dans ecrire -->
	<options>optionsnono.php</options>
	
	<!-- remplace les fichiers mes fonctions -->
	<fonctions>fonctionsnono.php</fonctions>

	<prefix> 
	  SquelettesNono
	</prefix>

	
	<!-- Definitions des fonctions qui s'inserent dans les pipelines onglet configuration-->
	<pipeline>
		<nom>ajouter_onglets</nom>
		<inclure>squelettesnono.php</inclure>
	</pipeline>
	
	

</plugin>