<plugin>
	<nom> <!-- Nom du plugin -->
		<multi>
		[fr]
		  Squelettes Nono
		</multi>
	</nom>
	<auteur>	<!-- Auteur du plugin -->
 	Jsb - Distribue sous licence GNU/GPL
	</auteur>
	<version>
	0.1
	</version>
		<etat>
	experimental
	</etat>
	<lien>
		http://demo.webjsb.net
	</lien>
	<description>
		<multi>
			[fr] permet de paramétrer les squelettes Nono
		</multi>
	</description>
	<prefix> 
	  SquelettesNono
	</prefix>
	
	<!-- Definitions des fonctions qui s'inserent dans les pipelines onglet configuration-->
	<pipeline>
		<nom>ajouter_onglets</nom>
		<inclure>SquelettesNono.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>ajouter_boite_gauche</nom>
		<inclure>SquelettesNono.php</inclure>
	</pipeline>
	<!-- Definitions des fonctions qui s'inserent dans les pipelines, nouveau filtre-->
	<pipeline>
			<nom>criteres</nom>
		<action>criteres</action>
		<inclure>criteresNono.php</inclure>
	</pipeline>	
</plugin>