<plugin>
	<nom> <!-- nom du plugin -->
		<multi>
		[fr]
		  Squelettes Nono
		</multi>
	</nom>
	<auteur>	<!-- Auteur du plugin -->
 	jsb - Distribue sous licence GNU/GPL
	</auteur>
	<version>
	0.1
	</version>
		<etat>
	experimental
	</etat>
	<lien>
		http://demo.webjsb.net
	</lien>
	<description>
		<multi>
			[fr] permet de paramétrer les squelettes Nono
		</multi>
	</description>
	
	<!-- remplace mes options dans ecrire -->
	<options>mes_options.php</options>
	
	<!-- remplace les fichiers mes fonctions -->
	<fonctions>mes_fonctions.php</fonctions>
	<prefix> 
	  Nono
	</prefix>
	
	<!-- Definitions des fonctions qui s'inserent dans les pipelines onglet configuration-->
	<pipeline>
		<nom>ajouter_onglets</nom>
		<inclure>SquelettesNono.php</inclure>
	</pipeline>
	
	<pipeline>
		<nom>ajouter_boite_gauche</nom>
		<inclure>SquelettesNono.php</inclure>
	</pipeline>
</plugin>