<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin>
	<nom><!-- Nom du plugin -->
		Alternatives - BGVS
	</nom>
	<auteur><!-- Auteur du plugin -->
		Alternatives / BGVS - Licence GPL
	</auteur>
	<version>
		1.9.2
	</version>
	<etat>
		stable
	</etat>
	<description>
    <multi>
    Activate this plugin to modify the look and feel of ALTERNATIVES
    This theme changes: fonts, images in the banner, footer, colors, menus and Home Page.
    On the Home Page, the latest News items are displayed instead of the latest Articles.
      [fr]
	Activez ce plugin pour changer l'habillage du squelette ALTERNATIVES.
	Cet habillage change: l'image du bandeau, les polices de caractères, les couleurs, les menus, le pied de page et la page d'accueil. Notamment, la page d'accueil affiche les dernières brèves plutôt que les articles les plus récents dans la partie centrale de la page.
    </multi>
	</description>
	<lien>
		[Documentation->www.stages.alternatives.ca/spip.php?article286]
	</lien>
	 <prefix>theme</prefix>
	 <categorie>squelette</categorie>
</plugin>
