<plugin>
	<nom>Squelettes Zesty</nom>
	<slogan>Un jeu de squelettes simples pour apprendre la syntaxe SPIP, le HTML et le CSS</slogan>
	<auteur>Matthieu Marcillaud, Tetue (dist), Collectif SPIP</auteur>
	<licence>GNU/GPL</licence>
	<version>1.0.2</version>
	<etat>stable</etat>
   <description>
Ce jeu de squelettes g&#232;re uniquement les pages :
-* sommaire,
-* article (titre, chapo, texte, ps) (+ documents li&#233;s),
-* rubrique (+ documents li&#233;s),
-* auteur,
-* plan,
-* recherche,
-* fil RSS,
-* 404

Ces squelettes ne s'occupent donc pas des
-* mots cl&#233;s,
-* sites, ni syndication,
-* br&#232;ves,


De nombreux commentaires sont (ou seront) pr&&#233;sents dans le code source des fichiers. Vous pouvez commencer par d&&#233;couvrir le fichier sommaire.html dans un premier temps.
	</description>
	<prefix>zesty</prefix>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<categorie>squelette</categorie>
</plugin>
