body {
    font:100% arial, helvetica, sans-serif; color:#000000; line-height:1.4;
}
* { background:none !important; }


h1 { font-size:200%; }
h2 { font-size:150%; }
h3 { font-size:100%; }
/* h1, h2, h3 { border-bottom:1px solid #333; } */
hr, div#skiplinks, div#nav, div.breadcrumbs, div.backtotop, div#rechercher,
	p.forum-repondre, p.forum-ajouter { display:none; }
img {border:0; }

body.article div#about { margin:2em 20%; border:1px solid #333; }
body.article div#about * { margin:0; padding-top:0 !important; }

div#texte a.spip_note { text-decoration:none; font-size:75%; position:relative; top:-.3em; padding:0 .1em; }
div#texte a.spip_note:before { content:"("; }
div#texte a.spip_note:after { content:")"; }
div#notes a { text-decoration:none; }

span.spip_documents span.legend { display:block; position:inherit; width:auto; left:0 !important; top:0 !important; float:none; text-align:left; margin-top:.3em; font-size:75%; }
