* { margin:0; padding:0 }
body {
    font:100% arial, helvetica, sans-serif; color:#000000; background:#EDEDED;
} /* line-height: see #content */

ul,ol,blockquote {
    padding-left:30px;
    margin-left:0;
}
ul {
	list-style-image:url(/v5/img/puce.gif);
}

h1 { font-size:200%; }
h1 span.soustitre { font-size:75%; display:block; }
h2 { color:#585858; font-size:100%; }
h3 { color:#585858; font-size:100%; }
h4 { font-size:100%; }

h1, h2, h3, h4, p, li { margin-bottom:1em; }

a:link { text-decoration:underline; color:#1313A3; }
a:visited { text-decoration:underline; color:#000000; }
a:hover, a:active, a:focus { color:#0B0B60; text-decoration:none; }

blockquote { font-style:italic; color:#585858; }
blockquote em { font-style:normal; }

q { font-style:italic; quotes: '\0000ab\0000a0' '\0000a0\0000bb' '\00201c\0000a0' '\0000a0\00201d'; }

code, kbd { font-size:120%; color:#000080; }

fieldset { }

legend { font-weight:bold;}

.faraway { position:absolute; left:-9999px; width:500px; }
hr { visibility:hidden; clear:both; }

span.locution { text-transform:italic; }

hr { visibility:hidden; clear:both; }

img { behavior: url(/win_png.htc); border:0; }
/* end generic declarations */

/* **************************************** */


div.outside { border-left:100px solid #fff; background:#fff; border-right:100px solid #fff; width:600px; padding:0.5em 0; }
/* div.outside { background:#fff; width:800px; padding:0.5em 100px; } */

div#skiplinks { background:#000; color:#fff; border-color:#000; }
div#skiplinks a:link, div#skiplinks a:visited, div#skiplinks a:hover, div#skiplinks a:active, div#skiplinks a:focus { color:#fff; }

div.alert { background: #8B1212; border-color:#8B1212; color:#fff; }
div.alert a:link, div.alert a:visited, div.alert a:hover, div.alert a:active, div.alert a:focus { color:#fff; }

div#header { padding:0; margin:0; background:#4A4A4A; border-color:#4A4A4A; }
div#header * { margin:0; }
div#header span, div#header a { display:block; padding:20px 20px 150px 0; text-align:right; }
div#header div#logo_legend, div#header div#logo_legend * { display:none; }

div#content-out { padding-top:0; }
div#about { float:right; width:170px; position:relative; margin-left:10px; color:#555; font-size:75%; }
body.sommaire div#about { float:none; width:auto; margin-top:1em; margin-left:0; border-bottom:1px solid #333; }
div#about img { position:absolute; top:0; left:0; }

div#nav { background: #8B1212; color:#fff; font-size:86.5%; float:left; width:100%; overflow:hidden; }
div#nav ul, div#nav li { list-style:none; display:inline; margin:0; padding:0; }
div#nav a, div#nav strong { color:#fff; display:block; float:left; padding:.2em; white-space:pre;  }

div#additional { border-color:#F8F5F3; border-top:1px solid #333; background:#F8F5F3; }
div#additional dd { margin-left:30px; font-size:86.5%; }

div#footer, div#footer h2 { background:#4A4A4A; color:#fff; border-color:#4A4A4A; }
div#footer a:link, div#footer a:visited, div#footer a:hover, div#footer a:active, div#footer a:focus { color:#fff; font-size:100%; }

ul.forums { list-style:none; list-style-image:none; margin-left:0; padding-left:0; }
li.forum { list-style:none; list-style-image:none; margin-left:0; padding-left:0; border-top:1px solid #333; }
div.forum-titre h3 { padding-right:53px; height:48px; background-position:top right; background-repeat:no-repeat; }
span.legend { color:#5C3509; font-size:75%; display:block; }

a:link.rss, a:visited.rss, a:hover.rss, a:active.rss, a:focus.rss {
    text-decoration:none; color:#ffffff;
    background:#ff6600 !important;
    border-top:1px solid #FF9136; border-left:1px solid #FF9136;
    border-bottom:1px solid #9E0000; border-right:1px solid #9E0000;
    font-size:60%; font-family:arial,helvetica, sans-serif; padding:0 3px; font-weight:normal;
}
