/* screen stylesheet */
/*
    CREDITS
    - global resetting : http://clagnut.com/blog/1287/

    SIZES
    browser default : 16px
*/

/* --------------------------------------------------- */
/* generic declarations */
* { margin:0; padding:0 }
body {
    font:100% arial, helvetica, sans-serif; color:#000000; background:#EDEDED;
} /* line-height: see #content */

ul,ol,blockquote {
    padding-left:30px;
    margin-left:0;
}
ul {
	list-style-image:url(/v5/img/puce.gif);
}
li ul {
	list-style-image:url(/v5/img/puce2.gif);
}

h1 { font-size:200%; }
h1 span.soustitre { font-size:75%; display:block; }
h2 { color:#585858; font-size:100%; }
h3 { color:#585858; font-size:100%; }
h4 { font-size:100%; }

a:link { text-decoration:underline; color:#1313A3; }
a:visited { text-decoration:underline; color:#000000; }
a:hover, a:active, a:focus { color:#0B0B60; text-decoration:none; }

blockquote { font-style:italic; color:#585858; }
blockquote em, blockquote span.locution { font-style:normal; }
span.locution {font-style:italic; }


q { font-style:italic; quotes: '\0000ab\0000a0' '\0000a0\0000bb' '\00201c\0000a0' '\0000a0\00201d'; }

code, kbd { font-size:120%; color:#000080; }

fieldset { }

legend { font-weight:bold;}

body>div>div { width:890px; margin:auto; }

img { border:0; }
span.locution { text-transform:italic; }

.faraway { position:absolute; left:-9999px; width:500px; }
hr { visibility:hidden; clear:both; }
#texte hr { visibility:visible; background:url(/v5/img/filet-horiz.png) bottom center #fff no-repeat; height:13px; border:none; margin-bottom:1em; }

/* end generic declarations */

/* **************************************** */

/* =STRUCTURE : top-down */

/* =header */

div#skiplinks { background:#000; font-size:87.5%; }
div#skiplinks div { padding:.2em 0; text-align:right; }
div#skiplinks a:link, div#skiplinks a:visited { color:#ccc; text-decoration:none; margin-right:.5em; padding:.1em .2em; }
div#skiplinks a:hover, div#skiplinks a:active, div#skiplinks a:focus { color:#ffffff; background-color:#441111; }
div#skiplinks a[href="#content"] { float:left; }

div.alert { background:url(/v5/img/bg-shadow-tb.png) top left #8B1212 repeat-x; color:#fff; padding:1em 0; }
div.alert a:link, div.alert a:visited, div.alert a:hover, div.alert a:active, div.alert a:focus { color:#fff; }

div#header { background:#4A4A4A; }
div#header>div { position:relative; }
div#header span, div#header a:link, div#header a:visited { display:block; text-align:right; height:175px; padding-right:50px; padding-top:30px; overflow:hidden; }
div#header span { height:324px; } /* special height for sommaire */

div#header div#logo_legend { position:absolute; bottom:1px; left:894px; display:block; width:24px; height:27px; }
div#header div#logo_legend a:link, div#header div#logo_legend a:visited { display:inline; background:transparent !important; padding:0; }

/* =content */

div#content-out { background:url(/v5/img/bg-shadow-tb.png) top left #fff repeat-x; }
div#content-out>div {position:relative; top:-73px; background:url(/v5/img/bg-content.png) top center transparent no-repeat; }
div#content { width:510px; margin:auto; padding-top:20px; position:relative; }
div.col1, div.col2 { float:left; width:245px; }
div.col2 { float:right; }

p.pagine { margin:1em 20px;  }
ul.pagine { margin:1em 0; }
ul.pagine h2 { font-size:100%; font-weight:bold; }
div.breadcrumbs { background:#F8F5F3; width:530px; position:relative; top:-10px; left:-10px; }
div.breadcrumbs p { padding:.3em 10px; font-size:75%; margin-bottom:0 !important; }

/* =content =photos */
div#photos { width:890px; margin-left:-190px; text-align:center; margin-top:2em; margin-bottom:1em; }

/* =nav and =about */
div#nav { float:left; width:170px; margin-top:90px; font-size:87.5%; }
div#nav ul { list-style:none; list-style-image:none; padding-left:0; border-top:1px solid #eee;}
div#nav strong, div#nav a:link, div#nav a:visited { display:block; text-decoration:none; padding:.3em 8px; color:#000; border-bottom:1px solid #eee; color:#585858;}
div#nav a:hover, div#nav a:active, div#nav a:focus { background:#F8F5F3; color:#000; }
div#nav a.activerubrique { font-weight:bold;}
div#about { float:right; width:170px; margin-top:90px; color:#757575; }
div#about h2 { font-size:100%; }
div#about p { margin:.5em 0; }
div#about a:link, div#about a:visited { color:#000; }
div#about a:hover, div#about a:active, div#about a:focus { color:#222; text-decoration:none; }

/* =additional content */
div#additional { position:relative; top:-50px; background:url(/v5/img/bg-shadow-bt.png) bottom left #F8F5F3 repeat-x; padding:1em 0; }
div#additional div.col1, div#additional div.col2 { width:435px; }
div#additional dt {}
div#additional dd { font-size:75%; margin-bottom:1em; }

/* =footer */
div#footer { background:#4A4A4A; color:#fff; position:relative; top:-50px; padding:1em 0; }
div#footer h2, div#footer a:link, div#footer a:visited, div#footer a:hover, div#footer a:active, div#footer a:focus { color:#fff; font-size:100%; }
div#footer p { margin-bottom:1em; }
div#footer-eyecandy { background:url(/v5/img/bg-shadow-tb.png) top left transparent repeat-x; position:relative; top:-50px; padding-bottom:50px; }
/* div#footer div.backtotop { float:right; margin:.5em 10px 10px 40px; width:auto; } */
div#footer div.backtotop a { float:right; margin:.5em 10px 10px 40px; width:auto; font-weight:bold; padding:1em; font-size:75%; background:#6A6A6A; color:#FFFFAC; -moz-border-radius:4px; }

/* =typography and =color fine-tuning */
div#descriptif, div#texte, div#chapo, div#notes, div#ps { line-height:1.4; }
.date { color:#585858; font-weight:bold; font-size:75%; }
div#older * { color:#5C3509; }

/* ************************************ */
/* =CONTEXT-SPECIFIC */

/* =sommaire */
body.sommaire h2.surtitre { padding-top:1em; }
p.date_une { float:left; width:255px; }
p.rubrique_une { float:right; width:255px; text-align:right; }

/* =article */
body.article div#content p, body.article div#content li, body.article div#content pre { margin-bottom:1em; }
body.article div#about li { margin-bottom:0; }
div#descriptif { background:url(/v5/img/filet-horiz.png) bottom center #fff no-repeat; padding:1em 0 1.5em 0; margin-bottom:1em; font-weight:bold; color:#585858; }
div#descriptif strong { color:#000; }
div#content h1, div#content div#texte { background:#fff;} 
div#texte h2 { text-transform:uppercase; font-family:"Arial Narrow", Arial, Helvetica, sans-serif; font-size:150%; font-weight:normal; color:#8B1212; }
div#texte a.spip_note { text-decoration:none; font-size:75%; position:relative; top:-.3em; padding:0 .1em; }
div#texte a.spip_note:before { content:"("; }
div#texte a.spip_note:after { content:")"; }
div#notes, div#ps { background:url(/v5/img/filet-horiz.png) top center transparent no-repeat; padding-top:1.5em; margin-top:2em; }
div#ps { font-style:italic; }

body.article div#content { position:relative; }
body.article div#about { float:none; margin-top:0; position:absolute; left:530px; top:90px; background:#fff; }
body.article div#about img { position:absolute; top:0; left:0; }
body.article div#about span{ display:block; }

/* =images */
span.spip_documents { position:relative; padding:0; margin:0; }
span.spip_documents img { border:1px solid #333; }
span.spip_documents span.legend { position:absolute; bottom:10px; width:170px; color:#5C3509; font-size:75%; left:-190px; float:none; text-align:right; }
span.spip_documents_right span.legend { left:0; text-align:left; }
span.spip_documents_center { display:block; text-align:center; }
span.spip_documents_left {padding-right:10px; }
span.spip_documents_right {padding-left:10px; }

/* =comments */
h2#comments { margin-left:190px; margin-bottom:1em;}
ul.forum-total { margin:0; padding:0; list-style:none; list-style-image:none;}
li.forum { padding:0; clear:both; margin:0;}
ul.forum-total p, ul.forum-total li  { margin-bottom:1em; }

div.forum-titre { float:left; width:170px; border-top:1px solid #B7A491; padding-top:.5em;  }
div.forum-titre h3 { color:#000; padding-right:53px; min-height:48px; background-position:top right; background-repeat:no-repeat; }

ul.forum-meta { padding:0; float:right; width:170px; font-size:75%; border-top:1px solid #B7A491; padding-top:.5em; }
ul.forum-meta li { list-style:none; list-style-image:none; padding:0; }

/* div.forum-texte { margin:0 190px; border-top:1px solid #B7A491; padding-top:.5em; } */
div.forum-texte { border-top:1px solid #B7A491; padding-top:.5em; width:510px; float:right; margin-right:20px; }
div.forum-texte p.titre-comment { font-weight:bold; }

ul.forum-total p.forum-repondre { padding-left:720px; clear:both; font-size:75%; margin-bottom:0; }

a.forum-lien:link, a.forum-lien:visited { color:#000; text-decoration:none; }
li.forum:hover a.forum-lien:link, li.forum:hover a.forum-lien:visited { color:#000; text-decoration:underline; }

li.forum1 *, li.forum2 * { color:#8B1212 !important; border-color:#8B1212 !important; }
p.forum-ajouter { margin:0 190px; border-top:1px solid #B7A491; padding-top:.5em; font-weight:bold;  }

a:link.rss, a:visited.rss, a:hover.rss, a:active.rss, a:focus.rss {
    text-decoration:none; color:#ffffff;
    background:#ff6600 !important;
    border-top:1px solid #FF9136; border-left:1px solid #FF9136;
    border-bottom:1px solid #9E0000; border-right:1px solid #9E0000;
    font-size:60%; font-family:arial,helvetica, sans-serif; padding:0 3px; font-weight:normal;
}

body.forum div#content p.info { margin-bottom:1em; font-style:italic; }

/* =recherche */
div#rechercher_nouvelle { margin-top:1em; }
dl.pagine dd { font-size:75%; margin-bottom:1em; margin-left:30px; }

/* =formulaires */
div.formulaire_spip { margin-top:1em; }
div.formulaire_spip fieldset { background:url(/v5/img/filet-horiz.png) bottom center transparent no-repeat; padding:0 0 1.5em 0; margin:1em 20px; border:0; }
div.formulaire_spip p.spip_bouton { text-align:right; }
div.formulaire_spip fieldset label { display:block; margin-top:.5em; font-style:italic;}
div.formulaire_spip fieldset.previsu { background:#F8F5F3; border:1px solid #000; padding:20px; margin:1em 20px; border:0; }
div.formulaire_spip fieldset.previsu p.spip_bouton { margin-top:.5em; }

/* =narrow width */
body.narrow>div { margin-left:10px; }
body.narrow>div>div { width:auto; margin:0; padding-right:8px; }

body.narrow div#skiplinks div { padding:.2em 8px; }

body.narrow div#header div#logo_legend { top:5px; left:5px; }

body.narrow div#content { margin:0 0 0 190px; width:auto; max-width:510px;  }
body.narrow div#content-out>div {background-position:170px top; }

body.narrow span.spip_documents span.legend { display:block; position:inherit; width:auto; left:0 !important; top:0 !important; float:none; text-align:left; margin-top:.3em; border-bottom:1px solid #5C3509; }

body.narrow div#about { float:none; width:auto; max-width:510px; margin:0 0 0 190px; padding-top:20px; position:relative; top:15px; left:0; background:#fff;}
body.narrow div.col1, body.narrow div.col2 { float:none; width:auto !important; }

body.article.narrow div#about { float:none; width:auto; max-width:510px; margin:0; background:#fff; position:relative; top:0; left:0;  min-height:140px; }
body.article.narrow div#about img { position:absolute; top:0; left:0; width:170px; }
body.article.narrow div#about p, body.article.narrow div#about h3, body.article.narrow div#about ul { margin-left:200px; padding-top:0 !important; }
body.article.narrow div#about li, body.narrow div#about span { display:inline; }

body.narrow div.forum-texte { float:none; margin-left:190px; margin-right:0; border-top:none; width:auto; max-width:510px;  }
body.narrow div#footer, body.narrow div.forum-titre h3 { padding-left:8px; }
body.narrow ul.forum-meta { float:none; width:auto; max-width:510px; margin-left:190px; }
body.narrow ul.forum-meta li { display:inline; }
body.narrow ul.forum-total p.forum-repondre { padding-left:190px; width:auto; max-width:510px; text-align:right; }

/* =spip bidouilles */
div.spip-admin-float, div#plugin_switcher { position:inherit !important; }
