
div#content-out { text-align:center; }
div#content-out>div { text-align:left; }
div#content { margin:0 0 0 190px; }

body.narrow * { min-width:0; } /* peek-a-boo ! */
body.narrow div#content { position:relative; }
body.narrow span.spip_documents span.legend { position:relative; }
body.narrow.sommaire div#about { margin:0px 0 10px 190px;}