/* adaptations pour SPIP */

.arbo { font-size:0.7em; padding:0.25em 1.25rem 0; position: absolute; top: 50px; left: 0; right: 0; text-align:left; }
#main > header { padding-left:1.25rem; padding-right:1.25rem; }
#main > header h1 { font-size: 1.75em; margin: 0 0 .5em; }

#banner .more {
	&:after { background:none; }
	i { font-size:160%; }
}
#header nav > ul > li > a.menuToggle {
	&:after { background:none; display:none; }
	i { font-size:110%; margin-left:0.4em; }
}

#menu {
	ul {
		ul { margin:0; }
	}
	.close { background:none; text-align: right;
		i { font-size:130%; padding:1rem; }
	}
}
