div#contenu {
	float: none;
	margin: 20px 0 0 0;
	padding: 0;
	width: 100%;
}
div#page {
	width: 90%;
	margin: 0 5% 10px 5%;
}
div#navigation {
	width: 0;
}
div#extra {
	width: 0;
}
.agenda-legende {
	display: table;
	border-collapse: separate;
	border-spacing: 5px;
	font-size: 1.3rem;
	font-weight: bold;
}
.agenda-couleurs {
	display: table-cell;
	color: white;
	height: 15px;
	padding: 0 10px;
	text-align: center;
}
div#calendrier {
	width: 98%;
	margin: auto;
	padding: 20px 0;
}
.fc-view-container{
	background-color: #ffffff;
}
.fc-event-title {
	display: block;
}
.calendrier-couleur1 {
	background-color: red;
	border-color: red;
	color: #fff;
}
.calendrier-couleur-bleu {
	background-color: blue
}
.fc-content{
    white-space: normal !important;	
}
.fc-title{
    color: white;
    display:block;
    text-align: center;
    font-size: 1.5rem;
}
.fc-time{
    display: block;
    font-size: 1rem;
    color: white;
}

