body {
  width: auto !important;
  margin: auto !important;
  font-family: serif;
  font-size: 12pt;
  background-color: #fff !important;
  color: #000 !important;
}
#page{
    margin: auto !important;
    width: auto !important;
    background-color: #fff !important;
}
#titrepage, #layout, #bandeau-droite, #menu, .menudesktop, .menumobile, .main-nav, #espace,
.spip-admin-float, #haut, #repondre-article, #diminuer, #augmenter, #cadre-telechargement,
#site, #outils-article, #outil_sommaire, .sommaire_ancre a {
	display: none;
}
#navigation, #extra, #pied {
	width: 0;
	margin: 0;
	display: none;
}
img {
	border: none !important;
}
#contenu {
	margin: auto !important;
	float: none !important;
}
.cadre-chemin {
	font-size: 10pt;
}
#titre-article {
	font-size: 20pt;
}
#descriptif-article {
	font-size: 14pt;
}
#auteur-article {
	font-size: 10pt;
}
#texte-article {
	font-size: 12pt;
}
p, h1, h2, h3, h4, h5, h6, blockquote, ul, ol {
  color: #000 !important;
  margin: auto !important;
}
p{
    margin-top: 10pt !important;
}
.print {
  display: block; /* affichage des éléments de classe print */
}
p, blockquote {
  orphans: 3; /* pas de ligne seule en bas */
  widows: 3; /* pas de ligne seule en haut */
}
blockquote, ul, ol {
  page-break-inside: avoid; /* pas de coupure dans ces élements */
}
h1 {
  page-break-before: always; /* chaque titre commence sur une nouvelle page */
}
h1, h2, h3, caption {
  page-break-after: avoid; /* pas de saut après ces éléments */
}
a {
  color: #000!important;
  text-decoration: underline!important;
}