body {
	width: 80%;
	background: white;
}
#bandeau-droite, #menu, .spip-admin-float, #haut, #repondre-article, #diminuer, #augmenter, #cadre-telechargement, #site, #imprime-article, #outil_sommaire, .sommaire_ancre a {
	display: none;
}
div#navigation, div#extra, div#pied {
	width: 0;
	margin: 0;
	display: none;
}
img {
	border: none;
}
div#contenu {
	margin: 0 50px;
	float: none !important;
	position: absolute;
}
.cadre-chemin {
	font-size: 10pt;
}
#titre-article {
	font-size: 20pt;
}
#descriptif-article {
	font-size: 14pt;
}
#auteur-article {
	font-size: 10pt;
}
#texte-article {
	font-size: 12pt;
}