<BOUCLE_principale(AUTEURS) {id_auteur}>

<?php $titre_page = '[(#NOMtextebrut|texte_script)]'; ?>

<INCLURE{fond=inc/header}{lang}>

	<div class="titraille">
		[(#LOGO_AUTEUR|right)]
		<h1>[(#NOM)]</h1>
	</div>
	<div class="texte">[(#BIO)]</div>
	[<div class="notes">(#NOTES)</div>]
	[<div>#NOM_SITE : <a href="(#URL_SITE)">#URL_SITE</a></div>]

[<div class="formulaire_auteur"><p><strong><:envoyer_message:></strong></p>
(#FORMULAIRE_ECRIRE_AUTEUR)
</div>]

<B_articles>
<h2><:articles_auteur:></h2>
<br>
<BOUCLE_articles(ARTICLES){id_auteur}{!par date}>
<div class="bloc">
	<INCLURE{fond=inc/item}{id_article}>
</div>
</BOUCLE_articles>


<INCLURE{fond=inc/footer}{lang}>

</BOUCLE_principale>
