<BOUCLE_principale(AUTEURS) {id_auteur}>

<?php $titre_page = '[(#NOM|prenom_nom|textebrut|texte_script)]'; ?>

<INCLURE(header.inc.php)>

	<div class="titraille">
		[(#LOGO_AUTEUR|right)]
		<h1>[(#NOM|prenom_nom)]</h1>
	</div>
	<div class="texte">[(#BIO)]</div>
	[<div class="notes">(#NOTES)</div>]
	[<div>#NOM_SITE : <a href="(#URL_SITE)">#URL_SITE</a></div>]

[<div class="formulaire_auteur"><p><strong><:envoyer_message:></strong></p>
(#FORMULAIRE_ECRIRE_AUTEUR)
</div>]

<B_articles>
<h2><:articles_auteur:></h2>
<br>
<BOUCLE_articles(ARTICLES){id_auteur}{!par date}>
<div class="bloc">
	<INCLURE(item.inc.php){id_article}>
</div>
</BOUCLE_articles>


<INCLURE(footer.inc.php)>

</BOUCLE_principale>
