<?php $titre_page = '<:poster_message:>'; ?>
<INCLURE{fond=inc/header}{lang}>

	<div class="titraille">
		<h1><:poster_message:></h1>
	</div>
	<br/>
	<div class="texte">

	<BOUCLE_article(ARTICLES) {id_article}>
	<:en_reponse:>
	<div class="bloc">
	<INCLURE{fond=inc/item}{id_article}>
	</div>
	</BOUCLE_article>

	<BOUCLE_forum_parent(FORUMS) {id_forum}>
	<:en_reponse:>
	<h2 class="titre-extrait"><a href="#URL_FORUM">#TITRE</a></h2>
	<div class="detail">
	[(#DATE|nom_jour)] [(#DATE|affdate)]
	</div>
	[<div class="texte"><div class="extrait">(#TEXTE)</div></div>]
	<br />
	</BOUCLE_forum_parent>

#FORMULAIRE_FORUM

	</div>

<INCLURE{fond=inc/footer}{lang}>
