<?php
	require("layout/design/fonctions_post.inc");
	include("ecrire/inc_layer.php3");
	if(!$spipmag_style) $spipmag_style = 'large';
?>[(#CHARSET|doctype)]

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="#LANG">

	<head>
		<meta http-equiv="Content-Type" content="text/HTML; charset=#CHARSET" />
		<title>#NOM_SITE_SPIP<?php if($titre_page) print(" | $titre_page"); ?></title>
		<link rel="stylesheet" href="/#DOSSIER_SQUELETTE/design/style[(#LANG_DIR|=={rtl}|?{'_rtl',''})].css" type="text/css" media="all" />
		<link rel="stylesheet" href="/#DOSSIER_SQUELETTE/design/<?php echo $spipmag_style; ?>.css" type="text/css" />
		<link rel="stylesheet" href="/#DOSSIER_SQUELETTE/design/impression.css" type="text/css" media="print" />
		<link rel="shortcut icon" href="/#DOSSIER_SQUELETTE/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" title="#NOM_SITE_SPIP" href="/backend.rss" />
	</head>

	<body dir="#LANG_DIR">
		<div id="conteneur">
		<div id="navigation">
			<a href="#menu"><:aller_menu:></a>
			| <a href="#contenu"><:aller_contenu:></a>
			<BOUCLE_test_forum(FORUMS){id_article}{0,1}>
			| <a href="#forum"><:aller_forum:></a>
			</BOUCLE_test_forum>
		</div>
			<div id="titre-spip"><?php
				if($REQUEST_URI!= "/") { ?><a href="/"><? } ?><:spip:><?php
				if($REQUEST_URI!= "/") { ?></a><? } ?></div>
			<div id="titre-mag"><?php
				if($REQUEST_URI!= "/") { ?><a href="/"><? } ?><:mag:><?php
				if($REQUEST_URI!= "/") { ?></a><? } ?></div>
			<div id="titre-url"><?php
				if($REQUEST_URI!= "/") { ?><a href="/"><? } ?>mag.spip.net/<?php
				if($REQUEST_URI!= "/") { ?></a><? } ?></div>
			<div id="entete">&nbsp;</div>
			<div id="corps">
				<div id="gauche">

					<!-- <:form_recherche:> -->
					<div id="gauche-recherche" class="boite">
						<form action="/recherche.php" method="get">
							<div class="head-boite-jaune"><span class="titre-boite"><:recherche:></span></div>
							<div class="boite-cadre">
							<input type="text" size="12" name="recherche"
								value="<:votre_requete:>"
								onfocus="if  (this.value=='<:votre_requete:>') this.value=''"
								onblur="if (this.value == '') this.value='<:votre_requete:>'"
								class="recherche" />
							</div>
						</form>
					</div>

					<B_rubriques>
					<!-- <:sous_rubriques:> -->
					<div id="gauche-rubriques" class="boite">
						<div class="head-boite-jaune"><span class="titre-boite"><:dans_rubrique:>&nbsp;:</span></div>
						<ul class="liste-jaune">
						<BOUCLE_rubriques(RUBRIQUES) {id_parent} {par num titre}>
							<li class="liste-jaune">
								<a href="#URL_RUBRIQUE" class="lien-jaune">[(#TITRE|supprimer_numero)]</a>
							</li>
						</BOUCLE_rubriques>
						</ul>
					</div>
					</B_rubriques>

					<!-- <:liens_privilegies:> -->
					<div id="gauche-liens" class="boite">
						<div class="head-boite-verte"><span class="titre-boite"><:sur_web:></span></div>
						<ul class="liste-verte">
						<BOUCLE_sites(SITES){id_mot=1}>
							<li class="liste-verte"><a href="#URL_SITE" class="lien-vert">#NOM_SITE</a></li></BOUCLE_sites>
						</ul>
					</div>

					<!-- <:mailing_list:> http://listes.rezo.net/mailman/listinfo/spip-mag -->
					<div id="gauche-liste" class="boite">
						<div class="head-boite-rouge"><span class="titre-boite"><:mailing_list:></span></div>
						<ul class="liste-rouge">
							<li>
								<a href="http://listes.rezo.net/popup/liste.php?liste=spip-mag&lang=fr"
									target="liste"
									onClick="javascript:window.open(this.href,'Inscription','resizable=yes,width=280,height=200'); return false;"><:abo_liste:></a>
							</li>
						</ul>
					</div>
				</div>

	<div id="contenu">

		<div id="menu">
		<ul>
			<li><a href="/" title="<:spipmag_retour_accueil:>"><?php
			if($REQUEST_URI== "/") { ?><strong><? } ?><:accueil_site:><?php
			if($REQUEST_URI== "/") { ?></strong><? } ?></a></li>
			<BOUCLE_menu(RUBRIQUES) {par num titre}{id_parent=2}>
			<li><a href="#URL_RUBRIQUE" [(#EXPOSE{'class="on"',''})
			]title="#DESCRIPTIF">[(#EXPOSE{'<strong>',''})][(#TITRE|supprimer_numero)][(#EXPOSE{'</strong>',''})]</a></li>
			</BOUCLE_menu>
		</ul>
		</div>

		<div id="texte">


