<?php

$spipmag_style = 'rub';
$titre_page = '<:resultats_recherche:>';

?><INCLURE{fond=inc/header}{lang}>

<div class="titraille">
<h1><:resultats_recherche:> [<em>(#RECHERCHE)</em>]</h1>
</div>

<!-- On n'affiche le formulaire de tri que si la boucle n'est pas vide -->
<BOUCLE_test(ARTICLES){recherche}> </BOUCLE_test>

<div class="boite_recherche">
<h3><:trier:>&nbsp;:</h3>
<form id="tri" action="#" method="get" name="tri">
<select size="1" name="choix_critere"
	onchange="if (options[selectedIndex].value) {
		location = options[selectedIndex].value;
	}">

<!-- Classement par pertinence -->
[(#ENV{tri}|?{
	<option value="[(#SELF|parametre_url{'tri',''}|parametre_url{'ordre',''})]"><:par_pertinence:></option>
,
	<option selected="selected" class="selected"><:par_pertinence:></option>

})]

<!-- Classement par date -->
[(#ENV{tri}|=={'date'}|?{
	[(#ENV{ordre}|=={'normal'}|?{
		<option value="[(#SELF|parametre_url{'tri','date'}|parametre_url{'ordre',''})]"><:par_ordre_antichronologique:><option>
		<option selected="selected" class="selected"><:par_ordre_chronologique:></option>
		,
		<option selected="selected" class="selected"><:par_ordre_antichronologique:></option>
		<option value="[(#SELF|parametre_url{'tri','date'}|parametre_url{'ordre','normal'})]"><:par_ordre_chronologique:></option>
	})]
	,
	<option value="[(#SELF|parametre_url{'tri','date'}|parametre_url{'ordre',''})]"><:par_ordre_antichronologique:></option>
	<option value="[(#SELF|parametre_url{'tri','date'}|parametre_url{'ordre','normal'})]"><:par_ordre_chronologique:></option>		
})]

<!-- Classement par date de modification -->
[(#ENV{tri}|=={'date_modif'}|?{
	<option selected="selected" class="selected"><:par_date_modif:></option>
	,
	<option value="[(#SELF|parametre_url{'tri','date_modif'}|parametre_url{'ordre',''})]"><:par_date_modif:></option>
})]

<!-- Classement par popularite -->
[(#ENV{tri}|=={'popularite'}|?{
	<option selected="selected" class="selected"><:par_popularite:></option>
	,
	<option value="[(#SELF|parametre_url{'tri','popularite'}|parametre_url{'ordre',''})]"><:par_popularite:></option>
	>})]

<!-- Classement par nb de visites -->
[(#ENV{tri}|=={'visites'}|?{
	<option selected="selected" class="selected"><:par_nombre_visiteurs:></option>
	,
	<option value="[(#SELF|parametre_url{'tri','visites'}|parametre_url{'ordre',''})]"><:par_nombre_visiteurs:></option>
})]
</select>
</form>
</div>

<!-- Il ne reste plus qu a afficher les resultats en fonction des criteres chosis -->
<?php if("[(#ENV{ordre})]"=="normal") { ?>

	<BOUCLE_trier(ARTICLES){recherche}{par #ENV{tri},points}{0,25}{id_rubrique !IN 13}>
	<div class="bloc">
		[(#POINTS|etoiles{#LANG_RIGHT})]
		<INCLURE{fond=inc/item}{id_article}{recherche}{mode='detail'}>
	</div>
	</BOUCLE_trier>

<?php } else { ?>

	<BOUCLE_trier2(ARTICLES){recherche}{!par #ENV{tri},points}{0,25}{id_rubrique !IN 13}>
	<div class="bloc">
		[(#POINTS|etoiles{#LANG_RIGHT})]
		<INCLURE{fond=inc/item}{id_article}{recherche}{mode='detail'}>
	</div>
	</BOUCLE_trier2>

<?php } ?>

</B_test>
<p><:aucun_article:></p>
<//B_test>

<INCLURE{fond=inc/footer}{lang}>

</BOUCLE_principale>
