<plugin>
	<nom>Squelette The Morning After</nom>
	<slogan>
		<multi>
			[fr]Un weblog pr&#234;t à l’emploi
			[en]An out-of-the-box weblog
		</multi>
	</slogan>
	<auteur>Val&#233;ry Xavier Lentz et Collectif SPIP-Zone</auteur>
	<version>1.2.1</version>
	<etat>stable</etat>
	<prefix>the_morning_after</prefix>
	<licence>MIT</licence>
	<icon>images/the_morning_after-64.png</icon>
	<description>
	Ce plugin active le squelette "The Morning After" issu d'un th&#234;me Wordpress de [Arun Kale->http://themasterplan.in/].

[Configuration avec CFG->?exec=configurer_the_morning_after]
	</description>

	<lien>https://contrib.spip.net/The-Morning-After</lien>

	<necessite id="spip" version="[2.0.0;2.1.99]" />
	<!-- utilise id="cfg" version="[1.14.1;]" / -->

	<categorie>squelette</categorie>
</plugin>