<plugin>
	<nom>Squelette Ahuntsic</nom>
	<auteur>
		[André Vincent->http://andre-vincent.info]
	</auteur>
	<version>2.0.7</version>
	<etat>stable</etat>
	<licence>© 2006-2015 - GNU/GPL</licence>
	<slogan>Un jeu de squelettes multilingues à caractère générique</slogan>
	<prefix>ahuntsic</prefix>
	<icon>images/ahuntsic-64.png</icon>
	<description>
		<multi>
		[en]Activate this plugin to enable {{Ahuntsic}} as the default template of your site.
		[fr]Activer ce plugin pour sélectionner le squelette {{Ahuntsic}} pour votre site.
		</multi>
	</description>

	<lien>https://contrib.spip.net/Squelette-Ahuntsic</lien>

	<options>ahuntsic_options.php</options>
	<fonctions>ahuntsic_fonctions.php</fonctions>

	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;3.2.99]" />
</plugin>
