<plugin>
	<nom><!-- Nom du plugin -->
		Alternatives - Observatoire marocain des libert&#233;s publiques
	</nom>
	<auteur><!-- Auteur du plugin -->
		Alternatives / Observatoire marocain des libert&#233;s publiques - Licence GPL
	</auteur>
	<version>
		1.9.2
	</version>
	<etat>
		stable
	</etat>
	<description>
    <multi>
    Activate this plugin to modify the look and feel of ALTERNATIVES
    This theme changes the image in the banner and don't display the site Title text.
      [fr]
	Activez ce plugin pour changer l'habillage du squelette ALTERNATIVES.
	Cet habillage change l'image du bandeau et n'affiche pas le titre du site.
    </multi>
	</description>
	<lien>
		[Documentation->www.stages.alternatives.ca/spip.php?article286]
	</lien>
	 <prefix>theme</prefix>
	 <categorie>squelette</categorie>
</plugin>