/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes de SPIP.NET en test 2007  */
/*  ----------------------------------------------------------- */

/* C'est un gros brouillon cette feuille de style...
/*            ...a finir plus tard...
*/

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body {
background: #EEE;
margin: 1.5em;
text-align: center;
font-size: 1em;
color: #333;
}

img, .spip_logos, table { margin: 0; padding: 0; border: none; }
ul, ol, li, dl, dt, dd { margin: 0; padding: 0; }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
#page {
width: 54em;
text-align: left;
margin-left: auto;
margin-right: auto;
}

#conteneur { width: 100%; background: #FFF; padding-bottom: 3em; }

#conteneur #contenu {
float: left;
width: 35em;
margin-left: 3em;
display: inline;
}

#conteneur #navigation {
float: right;
width: 12em;
text-align: center;
}

/* Blocs du contenu (c-a-d. la colonne principale) */
#contenu .contre-encart {
float: left;
width: 21em;
}

#contenu .encart {
float: right;
width: 11em;
margin: 0;
margin-bottom: 1em;
}

/* Entete */
#entete { width: 100%; background: #FFF;
-moz-border-radius-topleft: 1em; -moz-border-radius-topright: 1em; }
#entete a .spip_logos { float: left; margin-top: 1em; margin-left: 1em; display: inline; }
#entete a { text-decoration: none; }

#entete p.langues { width: 100%; clear: both; padding: 1em 1em 0 1em; font-size: 11px; }

#topnav { text-align: center; padding: 4px; font-family: Verdana; font-size: 12px; color: #68D055; background: #68D055; border-bottom: 1px solid #090; text-transform: capitalize; }
#topnav a { padding: 4px 10px 5px 10px; font-weight: bold; color: #FFF; }
#topnav a:active, #topnav a:hover, #topnav a.on { background-color: #090; }
#topnav * { display: inline; }
#topnav .formulaire_recherche label, #topnav .formulaire_recherche a { display: none; }
#topnav .formulaire_recherche { height: 14px; margin-left: 10px; }
#topnav .formulaire_recherche input.forml { background: #FFF; padding: 1px 2px; border: 1px inset #68D055; font-size: 10px; color: #090; width: 130px; }

/* Fil d'Ariane */
#hierarchie { clear: both; background: #FFF; padding: 0.1em 1em 2em 1em; font-size: 0.71em; }
#hierarchie, #hierarchie a { color: #666; }

/* Pied de page */
#pied { clear: both; width: 100%; border-top: 1px dotted #CCC; padding: 2px; text-align: center; }
#pied p { font-size: 0.77em; margin-top: 0; padding-top: 0; }
#pied img { vertical-align: bottom; }
#pied a { color: #666; text-decoration: none; }
#pied a:hover { color: #000; }

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: 0; height: 0; line-height: 1px; font-size: 1px; overflow: hidden; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour les menus et la navigation */
body, #navigation, .formulaire_spip {
font-family: Verdana, "Bitstream Vera Sans", Tahoma, Arial, sans-serif; }

/* Typo pour le contenu */
#contenu, .encart {
font-family: "Trebuchet MS", Helvetica, sans-serif; }

/* Typo pour les titres */
.liste-articles li .titre, h3.spip, .ps h2, .notes h2 {
font-family: Georgia, Times, serif; }

/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

.download { margin: 2em 0 3em 0; font-size: 0.82em; }
.download h2 { display: none; }
.download p { margin: 0; padding: 0; font-weight: bold; }
.download * { color: #333 !important; }

/*  Habillage general des menus de navigation
---------------------------------------------- */
.rubriques, .memrub, .sousrub, .syndic, .divers, .page_recherche .groupe_mot { min-width: 10em; margin-bottom: 1em; font-size: 0.77em; text-align: left; }
.menu-titre { padding: 0.2em 0.4em; font-weight: normal; text-transform: uppercase; text-align: left; color: #CCC; }

/*  Des couleurs specifiques selon les types de menus
---------------------------------------------- */
.rubriques { border: none; /*background: #B5E192;
-moz-border-radius-bottomleft: 1em; -moz-border-radius-topleft: 1em;*/ }
.rubriques h2 { display: none; }
.rubriques ul {}
.rubriques li a { display: block; background: #239406; margin-bottom: 1px; padding: 0.2em 0.7em;
text-transform: uppercase; }
.rubriques li a em { text-transform: lowercase; font-style: normal; font-weight: normal; }
.rubriques li a { color: #FFF; }
.rubriques ul ul { border: none; }
.rubriques li li a { background: #B5E192;
border-left: 5px solid #68D055; padding: 4px 10px;
border-bottom: 1px solid #CEBCCF; border-right: 1px solid #CEBCCF;
text-transform: none; }
.rubriques li li a { color: #239406; }

.memrub { background: #B5E192; border: 1px solid #CCC; max-width: 186px;
/*-moz-border-radius-bottomleft: 1em; -moz-border-radius-topleft: 1em;*/ }
.memrub .menu-titre { /*background: #239406; -moz-border-radius-topleft: 1em;*/
display: block; background: #FEFEFE url(0002.gif) right bottom no-repeat; min-height: 26px; padding: 8px 30px 8px 8px; font-weight: bold; }
.memrub li { list-style: square inside; padding: 0.2em 0.7em; }
.memrub, .memrub * { color: #239406 !important; }
.memrub a:hover { text-decoration: underline; }
.memrub .menu-titre a { color: #969696; }

.sousrub { border: none; }
.sousrub h2 { display: none; }
.sousrub li { clear: both;  font-size: 14px;
background: #EEE url(fondbleu.png) top left; text-align: center; margin-bottom: 20px; padding: 3%; }
.sousrub li img { float: left; }
.sousrub li li {
background: none; text-align: left; margin: 0; padding: 0; }

.sousrub { display: none; }
.sousrub li h3, .sousrub li p, .sousrub li ul { display: block; width: 70%; float: right; }
.sousrub li p { margin-top: 10px; text-align: left; }
.sousrub li ul.subart { margin-top: 10px; font-size: 12px; }
.sousrub li ul.subart .suite { float: right; }
.sousrub li ul.subrub { margin-top: 10px; font-size: 12px; }

.page_plan .sousrub { display: block; }

/* Sites references et liens issus de la syndication */
.syndic h2 { font-weight: normal; text-transform: uppercase; text-align: left; color: #CCC; }
.syndic ul, .syndic li, .syndic p { margin: 0; padding: 0; }
.syndic .box { background: #EEE; border: 2px solid #CCC; -moz-border-radius: 1em; padding: 0.8em; }
.syndic li.box { background: #EEE url(site-24.gif) 3px 0.8em no-repeat; min-height: 26px; padding-left: 30px; margin-bottom: 1em; }
.syndic li.box .titre { display: block; margin: 3px 0; }
.syndic li.link { margin: 0.2em 0; list-style: circle inside; font-style: italic; }
.syndic li li.link { padding-left: 1em; }

.syndic img { display: none; } /* atej */

/* Habillage du glossaire */
.page_mot #conteneur #contenu { width: 96%; margin: 0 2%; }
.page_mot .groupe_mot { width: 21%; float: left; margin: 0 2%; font-size: 0.77em; }
.page_mot .groupe_mot h2 { margin-top: 3em; margin-bottom: 1em; font-weight: bold; text-transform: uppercase; background: #B5E192; padding: 3px 5px; -moz-border-radius: 1em; color: #FFF; }
.groupe_mot dt { font-weight: bold; margin: 0.1em 0; }
.page_mot .groupe_mot dt:hover { cursor: help; }
.groupe_mot dd { padding: 0.1em 0; padding-left: 0.5em; }

/* Divers */
.divers { background: #F8F8E8; }
.divers .menu-titre { background: #FCFCF0; }

/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */

/*  Cartouche et titraille
---------------------------------------------- */
.cartouche { margin: 2em 0; }

.cartouche .titre { font-size: 1.27em; font-weight: bold; }
.cartouche .titre, .cartouche .titre * { color: #000 !important; }
#contenu .surtitre, #contenu .soustitre { font-size: 0.82em; }

.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 16px; }

.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche small { font-size: 0.71em; color: #666; }

.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-right: 1em; }
.cartouche .traductions, .cartouche .traductions a { color: #666; }
.cartouche .traductions a:hover, .cartouche .traductions .on { color: #000; }

/*  Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
margin-bottom: 1.5em;
font-weight: bold;
font-size: 0.82em; line-height: 1.4em; }

.texte { color: #000; font-size: 0.82em; line-height: 1.4em; }

blockquote, blockquote.spip, .spip_serif { font-family: Georgia, Times, serif; }

blockquote, blockquote.spip { 
margin: 1em 0; 
padding-left: 1em;
padding-right: 1em;
border: none; border-left: 4px solid #A0C0E0; color: #333; }

tt, code, .spip_code, .spip_cadre { font-family: monospace; font-style: normal; font-size: 1.2em; }
tt, code, .spip_code { color: #0099CC; }
.spip_cadre { width: 98%; padding: 1px; background: #EAEAFF url(pale.gif); color: #0099CC; border: 1px inset #666; border-left: 4px solid #0099CC; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

.ps, .notes { margin-top: 1.4em; }
.ps { font-size: 0.82em; }
.notes { clear: both; font-size: 0.77em; }

h3.spip, .ps h2, .notes h2 {
text-align: left; 
margin: 2em 0 1em 0;
font-size: 1.1em; 
font-weight: bold;
border-bottom: 1px solid #0099CC; color: #0099CC; }

/*  Logos, documents et images
---------------------------------------------- */
.spip_documents { text-align: center; }
.spip_documents img { background: #FFF; border: 4px solid #FFF; }
.spip_documents_center { clear: both; width: 100%; margin: auto; }
.spip_documents_left { float: left; margin-right: 15px; margin-bottom: 5px; }
.spip_documents_right { float: right; margin-left: 15px; margin-bottom: 5px; }
.spip_doc_titre { font-weight: bold; font-size: 0.8em; }
.spip_doc_descriptif { clear: both; font-size: 0.8em; }

/* Images typographiques (via image_typo), URL a revoir... */
.format_png { behavior: url(win_png.htc); }

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints { margin-top: 1.4em; padding-top: 2px; border-top: 2px solid #CCC; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }
#documents_joints li { margin-bottom: 0.4em; }
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles { margin-bottom: 3em; }
.liste-articles h2 { font-weight: normal; text-transform: uppercase; text-align: left; color: #CCC; font-size: 0.82em; border-bottom: 1px dotted #CCC; padding-bottom: 0.3em; }
.liste-articles li { padding: 1em 0; border-bottom: 1px dotted #CCC; }

.liste-articles li .titre {
background: transparent url(dot_bigred.gif) no-repeat; padding-left: 18px;
font-size: 0.9em; font-weight: bold; }
.liste-articles li .titre, .liste-articles a, .liste-articles a *, .liste-articles .on { color: #B51806 !important; }
.liste-articles a:hover { text-decoration: underline; }

.liste-articles li .spip_logos { float: right; margin-left: 16px; margin-bottom: 16px; clear: right; }
.liste-articles li p { margin: 0; padding: 0; }
.liste-articles li small { display: block; font-size: 0.71em; color: #666; }
.liste-articles li .texte { margin-top: 5px; font-size: 0.80em; line-height: 1.4em; }

.pagination { font-size: 0.90em; }

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

/* Correction des styles HTML par defaut */
.formulaire_spip form, .formulaire_spip fieldset, .formulaire_spip legend, .formulaire_spip label, .formulaire_spip input, .formulaire_spip textarea, .formulaire_spip select, .formulaire_spip option { margin: 0; padding: 0; border: 0; background: none; }

/* Styles des formulaires de Spip */
.formulaire_spip { text-align: left; font-size: 0.77em; }

.formulaire_spip p { margin: 0.5em 0; padding: 0; }

.formulaire_spip fieldset {
display: block;
margin: 0.77em 0;
padding: 0.77em;
border: 1px dotted; }
.formulaire_spip legend { 
font-weight: bold; 
padding: 3px;
background: #FFF; /* Sinon, superposition dans MSIE */
}

.formulaire_spip label {}
.formulaire_spip .forml {
width: 99%;
padding: 1px;
border: 1px solid;
font-family: inherit;
font-size: inherit; }

.spip_bouton { text-align: right; }
.spip_bouton input {
margin: 3px 0;
padding: 1px 2px;
border: 2px outset;
font-weight: bold;
float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #F00; }
fieldset.reponse_formulaire { border: 1px dotted; font-weight: normal; }

/* Previsualisation du message */
fieldset.previsu {
padding: 1em;
border: 1px solid; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; width: 80%; margin-left: 10%; }

#signatures h2 {
padding: 0.5em;
text-align: center;
font-size: 1.2em;
font-weight: bold; }

#signatures li {
background: #F4F8F8;
padding: 0.4em; margin-bottom: 0.4em;
font-size: 0.96em; }
#signatures li h3 { font-weight: bold; }
#signatures li p { margin: 0; padding: 0; }

#signatures .pagination { text-align: center; }

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a, a.spip_in { color: #600051; text-decoration: none; }
a.spip_out, a.spip_url, a.spip_glossaire { color: #600051; text-decoration: none; }
/*a:visited,*/ .on { color: #5832B7; }
a:hover { color: #F90; text-decoration: none; }
a:hover.spip_out, a:hover.spip_url, a:hover.spip_glossaire { color: blue; text-decoration: underline; }

a.voirskel { color: #FFF; display: none; }
a.voirskel:hover { color: #999; text-decoration: none; }