<plugin>
	<nom>ZPIP-vide : un squelette Z vide de contenu &agrave; remplir avec des noisettes</nom>
	<auteur>[Joseph->http://www.spip-contrib.net/Joseph]</auteur>
	<icon>img/zvide-128.png</icon>
	<licence>GNU/GPL</licence>
	<version>1.0.1</version>
	<etat>test</etat>
	<description>Un squelette Z dont l'ensemble des contenus sont g&eacute;r&eacute;s sous forme de noisettes configurables avec le noiZetier. Ce squelette s'utilise donc en conjonction avec le noiZetier et une collection de noisettes.</description>
	<lien>http://www.spip-contrib.net/?article3700</lien>
	<prefix>zvide</prefix>
	<pipeline>
		<nom>recuperer_fond</nom>
		<inclure>zvide_pipelines.php</inclure>
	</pipeline>
	<options>zvide_options.php</options>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.10;]" />
	<necessite id="Z" />
	<necessite id="noizetier" version="[0.8.1;]" />
	<utilise id="menus" version="[0.8.2;]" />
</plugin>