<plugin>
	<nom> <!-- Nom du plugin -->
	scolaspip
	</nom>
	<auteur> <!-- Auteur du plugin -->
	jsb
	</auteur>
	<version>
	0.1
	</version>
	<etat>
	test
	</etat>
	<description>
	Configure les squelettes scola spip
 <h4>[Configuration->.?exec=cfg&amp;cfg=scolaspip]</h4>
	</description>
	<icon>scolaspip.png</icon>
	
	<lien>[Site de scola SPIP->http://www.webjsb.net]</lien>
	<prefix>ScolaSpip</prefix>
	<fonctions>scolaspip_fonctions.php</fonctions>
	<options>scolaspip_options.php</options>
	<bouton id='Scola_Accueil_config' parent='configuration'>
	<icone>images/scola-icone.png</icone>
		<titre>Configurer Scola-Spip</titre>
		<url>cfg</url>
		<args>cfg=scolaspip_accueil</args>
	</bouton>
	
	<necessite id='cfg' version='[1.4;]' />
</plugin>
