#resw{background-color: #EEEEEE}
#connection{color:#FF9000}
#ipires{color:#000000}
#status{color:#003ABA;border-color:#003ABA}
#dwtitle{color:#000000}
#dwbar{background-color:#FF9000}
#dwtext{color:#FF9000}
#uptitle{color:#000000}
#upbar{background-color:#003ABA}
#uptext{color:#003ABA}
#scale{color:#000000;background-color:#DDDDDD;border-color:#413C8E}
#console{color:#000000;background-color:#FFFFFF;border-color:#333333}
#results{color:#000000}
#stb{color:#0000FF;background-color:}
#imgcopy{background-image:url('../img/copy2.png');}