//
// Variables pour le système de boites ooCSS
// -----------------------------------------

// STRUCTURE DES BOITES
// Box de type standard
// -- Marges verticales (top et bottom) et horizontales (left et right) de toute boite
$box-vertical-margin:			10px;
$box-horizontal-margin:			0;

// -- Padding verticaux (top et bottom) et horizontaux (left et right) du header, body et footer
$box-body-vertical-padding:		0;
$box-body-horizontal-padding:	10px;
$box-header-vertical-padding:	5px;
$box-header-horizontal-padding:	10px;
$box-footer-vertical-padding:	5px;
$box-footer-horizontal-padding:	10px;

// -- Taille du carré des 4 coins
$box-corner-size:				10px;

// box de type complex
// -- Hauteur du bloc top et bottom
$box-complex-top-height:		5px;
$box-complex-bottom-height:		5px;

// box de type pop
// -- Marges du bloc pop
$box-pop-top-margin:			10px;
$box-pop-bottom-margin:			20px;
$box-pop-left-margin:			20px;
$box-pop-right-margin:			10px;

// -- Padding unique du bloc inner
$box-pop-inner-padding:			10px;

// HABILLAGE DES BOITES
// Header et footer
$box-footer-color-bg:			#e9e9e9;

// Boites classiques : simple, basic, important, note
$box-simple-color-bg:			#fcfcfc;
$box-simple-color-bd:			#dddddd;
$box-note-color-bg-x:			#c2c2c2;
$box-note-color-bg:				#f0f0f0;
$box-note-color-bd:				#ffffff;
$box-important-color-bd:		#f0f0f0;
$box-important-width-bd-b:		10px;
$box-highlight-color-bg:		#e3e36f;
$box-inverse-color-bg:			#333333;
$box-highlight-color-txt:		#ffffff;

// Boites d'alertes : success, error, notice, info
// -- Padding et radius appliqués à toutes les alertes
$box-alert-padding:				0.8em;
$box-alert-radius:				4px;

// -- Couleurs et images de l'alerte success
$box-success-color-bg:			#dff0d8;
$box-success-image-bg:			"ok";
$box-success-color-bd:			darken(adjust_hue($box-success-color-bg, -10), 5%);
$box-success-color-txt:			#3c763d;
$box-success-ahover-color-bg:	lighten($box-success-color-txt, 40%);

// -- Couleurs et images de l'alerte error
$box-error-color-bg:			#f2dede;
$box-error-image-bg:			"erreur";
$box-error-color-bd:			darken(adjust_hue($box-error-color-bg, -10), 5%);
$box-error-color-txt:			#a94442;
$box-error-ahover-color-bg:		lighten($box-error-color-txt, 30%);

// -- Couleurs et images de l'alerte notice
$box-notice-color-bg:			#fcf8e3;
$box-notice-image-bg:			"notice";
$box-notice-color-bd:			darken(adjust_hue($box-notice-color-bg, -10), 5%);
$box-notice-color-txt:			#8a6d3b;
$box-notice-ahover-color-bg:	lighten($box-notice-color-txt, 40%);

// -- Couleurs et images de l'alerte info
$box-info-color-bg:				#d9edf7;
$box-info-image-bg:				"info";
$box-info-color-bd:				darken(adjust_hue($box-info-color-bg, -10), 7%);
$box-info-color-txt:			#31708f;
$box-info-ahover-color-bg:		lighten($box-info-color-txt, 40%);
