//
// Variables pour le fil d'ariane
// ------------------------------

// -- Marges verticales (top et bottom) et horizontales (left et right) de toute boite
$breadcrumb-bottom-margin:			1em;
$breadcrumb-top-margin:				0;
$breadcrumb-horizontal-margin:		0;
// -- Padding verticaux (top et bottom) et horizontaux (left et right) de toute boite
$breadcrumb-vertical-padding:		0.5em;
$breadcrumb-horizontal-padding:		1em;
