/*-------------------------------------------------------
FIL D'ARIANE - STRUCTURE
---------------------------------------------------------

Structure uniquement. Les themes sont dans theme.less
---------------------------------------------------------
*/

@import "var_breadcrumb";

.breadcrumb {
	margin: $breadcrumb-top-margin $breadcrumb-horizontal-margin $breadcrumb-bottom-margin;
	padding: $breadcrumb-vertical-padding $breadcrumb-horizontal-padding;
	list-style: none;
}
.breadcrumb > li {display: inline-block;}
