<plugin>
	<nom>Sarka-SPIP S-L&#233;o</nom>
	<auteur><a href='http://www.zest.shizuka.fr'>_Shizuka_</a></auteur>
	<licence><a href='http://creativecommons.org/licenses/by-nc-sa/2.0/fr/' rel='licence'>CC-by-nc-sa </a></licence>
	<version>0.1.0</version>
	<slogan>Th&#232;me Sarka-SPIP 3 pour les amateurs du l&#233;opard de la pomme</slogan>
	<description>Un th&#232;me adapt&#233; de <a href='http://www.7graus.com/tech/wordpress/leopress/'>Leopress</a> pour Wordpress aux couleurs de la pomme avec un layout fixe de 1024 pixels.</description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme_sarka_sleo</prefix>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>