<plugin>
	<nom>Sarka-SPIP S-L&eacute;o</nom>
	<auteur><a href='http://www.zest.shizuka.fr'>_Shizuka_</a></auteur>
	<licence><a href='http://creativecommons.org/licenses/by-nc-sa/2.0/fr/' rel='licence'>Creative Commons Attribution License by-nc-sa </a></licence>
	<version>0.1</version>
	<description>Un th&egrave;me adapt&ecute; de <a href='http://www.7graus.com/tech/wordpress/leopress/'>Leopress</a> pour Wordpress aux couleurs de la pomme. Layout fixe 1024px.</description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme_sarka_sleo</prefix>
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>