body {
	background-color: #D1E3EC;
	background-image: none;
}

#entete       /* bandeau - banner */
{
	background-image: url(img/bandeau.jpg);
	height: 132px; 
}

#entete a.nom-site,
#entete a.nom-site:link,  
#entete a.nom-site:visited,
#entete a.nom-site:hover
{
	background-image: none;
}

#entete .nom-site span  /* on cache le nom du site  */
{
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#encart, #menu-rubriques { top: 142px; }
