/* --------------------------------------------------------------

   layout.css
   Disposition des blocs principaux

-------------------------------------------------------------- */

body { text-align: center; background: #F8F8F8; }

.page { position: relative; width: 58em; margin: 0 auto 1.5em; padding: 0 1.5em; background: #FFF; text-align: left; -moz-box-shadow: 0 0 15px #333333; }

.header { width: 58em; margin: 0; padding: 1.5em 0; }

.container { clear: both; float: left; width: 65%; overflow: hidden; }
.content { padding-top: 0.30em; }

.extra { float: right; width: 30%; overflow: hidden; }

.footer { clear: both; width: 100%; margin: 1.5em 0 0; padding: 1.5em 0; border-top: 1px solid; }

@media print { .extra, .footer { display: none; } }

/* end */