/* --------------------------------------------------------------

   layout.css
   Disposition des blocs principaux

-------------------------------------------------------------- */

body { text-align: center; background: #F8F8F8 url(img/background.jpg); }
/* Skulls Pattern 01 from http://www.backgroundlabs.com/detail/link-449.html */

.page { position: relative; width: 940px; margin: 0 auto 1.5em; padding: 0 20px; background: #FFF; text-align: left;
 -moz-box-shadow: 0 0 4em #666; -webkit-box-shadow: 0 0 4em #666; box-shadow: 0 0 4em #666; }

.header { width: 100%; margin: 0; padding: 1.5em 0; border-top: 5px solid; }
.container { clear: both; float: left; width: 65%; overflow: hidden; }
.content { min-height: 300px; }
.extra { float: right; width: 30%; overflow: hidden; }
.footer { clear: both; width: 100%; margin: 1.5em 0 0; padding: 1.5em 0; border-top: 5px solid; }

@media print { .extra, .footer { display: none; } }

/* end */