/* --------------------------------------------------------------

   style.css
   Habillage distroy - romy.tetue.net - 2011

-------------------------------------------------------------- */

.header { padding-bottom: 175px; background: url(img/bando.jpg) no-repeat bottom center; }
.header #logo { font-weight: bold; text-decoration: none; font-size: 3em; }
.header #logo a,
.header #logo a:hover { background: transparent; text-decoration: none; color: #222; }
.header p { margin: 0; }

.formulaire_menu_lang { position: absolute; right: 0; top: .9em; display: block; width: 30%; }

.nav { margin-bottom: 1.5em; background: #222; }
.nav ul {}
.nav ul li {}
.nav ul li a { float: left; display: block; padding: .5em 1em; background: #C30; border-right: 1px solid #FFF; color: #FFF; text-decoration: none; }
.nav ul li.on a { background: #fff; color: #222; }

.formulaire_recherche { position: absolute; top: 1.5em; right: 1.5em; }
.formulaire_recherche * { display: inline; }


/* ------------------------------------------
/* Habillage des elements du contenu
/* ------------------------------------------ */

h1,.h1 { font-size: 3em; line-height: 1; margin-bottom: .5em; }
h2,.h2 { font-size: 2em; margin-bottom: .75em; }
h3,.h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4,.h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
h5,.h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h6,.h6 { font-size: 1em; font-weight: bold; }

#hierarchie { clear: both; margin-bottom: 1.5em; font-size: .9em; }
#hierarchie, #hierarchie a { }

.cartouche { margin-bottom: 1.5em; }
.surtitre, .soustitre { font-size: .9em; }
.cartouche .traductions { font-size: .9em; }

.chapo { font-weight: bold; }
.texte {}
.hyperlien { display: block; background: #EEE; padding: 1.5em; font-weight: bold; }
.ps, .notes { margin-bottom: 1.5em; }
.notes { clear: both; }

abbr.published { border: 0; }

/* Portfolio */
#documents_portfolio { clear: both; margin: 1.5em auto; text-align: center; }
#documents_portfolio .spip_logos { border: 1px solid #DDD; }
#documents_portfolio a.on .spip_logos { border-color: #F57900; }
#documents_portfolio a:focus .spip_logos,
#documents_portfolio a:hover .spip_logos,
#documents_portfolio a:active .spip_logos { border-color: #8B6F92; }

/* Structure generale des formulaires
----------------------------------------------- */
.formulaire_spip { clear: both; margin-bottom: 1.5em; padding: 0; border: 0; text-align: left; font-size: 1em; }
.formulaire_spip form { margin: 0; padding: 0; } /* Bug IE/Win */
@media print { .repondre, .repondre, .formulaire_spip { display: none; } }

/* Fieldset */
.formulaire_spip fieldset { clear: both; margin: 0 0 1em 0; padding: 0; border: 0; }
.formulaire_spip fieldset legend { margin: 0; padding: 0; font-size: 1.05em; font-weight: bold; background-color: #fff; color: #333; } /* Preciser la couleur des legend et du fond pour IE/Win */
.formulaire_spip fieldset fieldset { margin-top: 1em; }
.formulaire_spip fieldset fieldset legend { font-size: 1em; font-weight: normal; }

/* Explications */
.formulaire_spip .explication { margin: 0.50em 0; color: #444; }

/* Lignes */
.formulaire_spip ul { margin: 0; padding: 0; list-style: none; }
.formulaire_spip ul li { clear: both; margin: 0; padding: 0.50em 0; }

/* Labels */
.formulaire_spip label { display: block; text-align: left; color: #444; font-weight: bold; /* pour IE/Win */ position: relative;  }
.formulaire_spip li p { margin-top: 0; margin-bottom: 0; }

.formulaire_spip .choix label{display:inline;font-weight:normal;}
.formulaire_spip .choix input.radio,
.formulaire_spip .choix input.checkbox {width:auto;}

/* Champs de saisie */
.formulaire_spip input.text { width: 15em; border: 1px inset; }
.formulaire_spip textarea { width: 99%; border: 1px inset; }
.formulaire_spip select { width: 99%; }

/* Boutons */
.formulaire_spip .boutons { clear: both; margin: 0; padding: 0; text-align: right; }
.formulaire_spip .boutons input { margin-left: 1em; }
.formulaire_spip .boutons input, input.submit {}


/* Reponses, previsu et erreurs
----------------------------------------------- */

/* Champs obligatoires */
.formulaire_spip li.obligatoire {}
.formulaire_spip li.obligatoire label {}

/* Previsualisation du message */
.formulaire_spip fieldset.previsu { margin-bottom: 1.5em; padding: 1em; border: 2px dashed #F57900; }
.formulaire_spip fieldset.previsu legend { padding: 0 0.50em; font-weight: bold; color: #F57900; }
.formulaire_spip fieldset.previsu li { padding: 3px; border: none; }
.formulaire_spip fieldset.previsu p { margin: 1em 0; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; font-size: 1.20em; }
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }
fieldset.reponse_formulaire.reponse_formulaire legend { color: #F57900; } /* Preciser la couleur des legend et du fond pour IE/Win */

/* * Erreurs */
.formulaire_spip li.erreur .erreur_message { display: block; color: #C30; font-weight: bold; }
.formulaire_spip li.erreur input.text, .formulaire_spip li.erreur textarea { background-color: #FCC; border-style: solid; border-color: #C30; }
.reponse_formulaire_erreur { margin: 0; color: #C30; font-weight: bold; }

/* * OK */
.reponse_formulaire_ok { margin: 0; color: #53AD20; font-weight: bold; }


/* Variantes et cas particuliers
----------------------------------------------- */

/* Formulaire de forum */
.formulaire_forum .saisie_titre input.text,
.formulaire_forum .saisie_titre textarea { width: 98%; }

/* Selection des langues */
.formulaire_menu_lang { margin: 0; padding: 0; background: none; }

/* Formulaires de recherche (site / petitions) */
.formulaire_recherche { margin: 0; padding: 0; background: none; }
.formulaire_recherche * { display: inline; vertical-align: middle; }
.formulaire_recherche label {}
.formulaire_recherche input.text { width: 10em; padding-left: 25px; background: #FFF url(img/rechercher.gif) no-repeat left center; }
.formulaire_recherche input.submit {}

/* Choix des mots-clefs */
ul.choix_mots { display: block; margin: 0; padding: 0; list-style: none; }
ul.choix_mots li { clear: none; float: left; display: block; width: 30%; padding: 1%; }
ul.choix_mots li label { display: inline; font-weight: normal; }

.formulaire_spip .bugajaxie { display: none; } /* Bug IE/Win */

/* Formulaire de login dans une page */
.formulaire_login ul li {clear:left;}
.formulaire_login .editer_password .details {display:block;}
.formulaire_login #spip_logo_auteur {float:right;}


/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 2.50em; margin-right: 1em; text-align: right; font-weight: bold; }

/* Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; color: #333; }
.forum-texte { margin: 0; padding: 0.50em 1em; color: #333; }
.forum-texte .hyperlien {}
.forum-texte .repondre { margin: 0; padding: 0.10em 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: 0; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }


/* Habillage des petitions
---------------------------------------------- */
#signatures { clear: both; margin: 0 0 2em 0; padding: 0; background: none; }
#signatures table { width: 100%; margin: 1em 0 0 0; }
#signatures thead { text-align: center; color: #555; }
#signatures td { padding: 0.50em; border: 2px solid #FEFEFE; vertical-align: top; }
#signatures td.signature-date { background: #E4F0F0; text-align: center; white-space: nowrap; }
#signatures td.signature-nom { background: #ECF4F4; text-align: center; }
#signatures td.signature-nom small { display: block; }
#signatures td.signature-message { background: #F4F8F8; }
#signatures .formulaire_recherche { margin: 1em 0; text-align: right; } /*Cf.: spip_formulaires.css*/
#signatures .formulaire_recherche input.text { width: 10em; text-align: left; } /*Cf.: spip_formulaires.css*/


/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Habillage general des menus de nav */
.menu { clear: both; margin-bottom: 1.5em; text-align: left; }
.menu p {}
.menu ul { margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #DDD; }
.menu ul li { padding: .75em 0; border-top: 1px solid #DDD; }
.menu ul li ul { margin-left: 1em; border: 0; }
.menu ul li li { padding: 0; border: 0; }

/* Pagination */
.pagination { clear: both; text-align: center; }
.pagination  a,
.pagination  .on  { padding: .1em .4em; }
.pagination  a { background: #eee; }
.pagination .on { font-weight: bold; background: #333; color: #fff; }
.pagination  .sep { display: none; }

/* Rubriques */
.rubriques { display: none; }
.rubriques ul { border: 0; }
.rubriques ul li { background: #EEE; border: 0; }

/* Listes d'articles et extraits introductifs */
.articles ul li { clear: both; padding: 0.40em 0.20em; }
.articles ul li h3 { margin: 0.30em 0; }
.articles .spip_logos {}
.articles ul li .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.articles ul li .introduction { margin-top: 0.30em; }


/* Couleurs des liens
---------------------------------------------- */
a { color: #C30; text-decoration: underline; }
a:focus,
a:hover,
a:active { background: #C30; color: #FFF; text-decoration: none; }

/* ------------------------------------------
/* Autres medias
/* ------------------------------------------ */

@media print {

/*  Ne pas imprimer : on elimine les elements de nav (display: none; )
---------------------------------------------- */
.spip-admin, .spip-admin-float, .spip-previsu, .invisible { display: none; }

/*  Pour les liens, on les souligne et
/*  on affiche l'URL cible a la suite des liens sortants (!)
---------------------------------------------- */
a { color: #520; text-decoration: underline; }
a.spip_out:after,
a.spip_glossaire:after,
a.spip_mail:after { display: inline; content: " [" attr(href) "]"; }

/*  Un peu de coquetterie
---------------------------------------------- */
.cartouche { margin-bottom: 1.5em; }
.cartouche small { font-size: 0.71em; }
h1 { font-size: 1.27em; font-weight: bold; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche .traductions { display: none; }
.cartouche .surtitre, .cartouche .soustitre { font-size: 0.82em; font-variant: small-caps; }

.chapo { margin-bottom: 1.5em; font-size: 0.82em; font-weight: bold; }
.hyperlien { font-size: 0.82em; font-weight: bold; }

.ps, .notes, #documents_portfolio, #documents_joints { clear: both; margin-top: 1.40em; padding-top: 0.20em; border-top: 2pt solid #CCC; font-size: 0.82em; }
.ps h2, .notes h2, #documents_joints h2 { font-weight: bold; clear: both; }

/*  Citations, tableaux, etc...
---------------------------------------------- */
.hyperlien, .articles li .texte { background: #FFF; margin: 1em; padding: 1em; border: 1pt dotted #CCC; }

/*  Messages de forums
---------------------------------------------- */
.forum { margin: 2em 0; font-size: 0.82em; }
.forum-fil ul { margin-left: 0.50em; }
.forum-chapo .forum-titre { display: block; font-weight: bold; }
ul .forum-message { background: #EEE; border: 1pt solid #CCC; padding: 1em; margin-bottom: 1em; }

/* Listes d'articles
----------------------------------------------- */
.articles li { margin-bottom: 1em; padding-top: 0.30em; }
.articles li .titre { font-size: 1.03em; font-weight: bold; }
.articles li p { margin: 0; padding: 0; }
.articles li small { display: block; font-size: 0.71em; }

/*  Plan du site
---------------------------------------------- */
.page_plan .content h2 { font-size: 1.15em; font-weight: bold; }
.page_plan .content ul { margin-left: 1em; margin-bottom: 1em; }
.page_plan .content li { list-style: square; }

}

/* end */