<plugin>
	<nom>SPIP+Z reset</nom>
	<slogan>Evitez les diffusions involontaires !</slogan>
	<version>1.0.1</version>
	<etat>stable</etat>
	<icon>prive/img/zpip_reset_48.png</icon>
	<description>Squelettes pour ne rien publier, avec Z. Ce plugin annule tous les squelettes par d&#233;faut de SPIP+Z, ce qui permet d'&#233;viter la fuite involontaire d'informations d'un site.</description>
	<auteur>[Tetue->http://spip.tetue.net] - 2011</auteur>
	<licence>GPL</licence>
	<lien>http://contrib.spip.net/?article3877</lien>
	<prefix>zpip_reset</prefix>
	<categorie>squelette</categorie>
	<necessite id='SPIP' version='[2.1.0;2.1.99]' />
	<necessite id="Z" />
	<chemin dir='' />
</plugin>