<plugin>
	<nom>Squelette SoyezCr&#233;ateurs Rebirth</nom>
	<slogan>Largement configurable et adaptable, g&#233;n&#233;rique, conforme aux normes d'accessibilit&#233; et RWD</slogan>
	<auteur>[RealET->http://contrib.spip.net/_RealET_]</auteur>
	<licence>&#169; 2003-2013 - GPL</licence>
	<lien>http://contrib.spip.net/SoyezCreateurs,1237?tri_articles=titre</lien>
	
	<version>3.50.16</version>
	<version_base>3.0.34</version_base>
	
	<etat>stable</etat>
	<description>
Ce plugin active ou d&eacute;sactive le squelette {{SoyezCr&#233;ateurs}}.
	
Un squelette
-* conforme aux bonnes pratiques en mati&#232;re d'accessibilit&#233;,
-* &#224; destination des
-** associations,
-** collectivit&#233;s,
-** entreprises,
-** particuliers 

Pour disposer d'un site SPIP incluant des fonctions g&#233;n&#233;riques, largement configurable et adaptable.
	</description>
	<icon>img_pack/soyezcreateurs_48.png</icon>

 	<prefix>soyezcreateurs</prefix>

	<install>base/soyezcreateurs_install.php</install>
	
	<bouton id='soyezcreateur_config' parent='configuration'>
		<icone>img_pack/soyezcreateurs.png</icone>
		<titre>soyezcreateurs:configurersc</titre>
		<url>cfg</url>
		<args>cfg=soyezcreateurs</args>
	</bouton>
	<bouton id='soyezcreateur_aide' parent='aide_index'>
		<icone>img_pack/soyezcreateurs_help-24.png</icone>
		<titre>soyezcreateurs:aidesc</titre>
		<url>sc_aide</url>
	</bouton>
	<bouton id='soyezcreateur_config21' parent='bando_configuration'>
		<icone>images/soyezcreateurs-16.png</icone>
		<titre>soyezcreateurs:configurersc</titre>
		<url>cfg</url>
		<args>cfg=soyezcreateurs</args>
	</bouton>
	<bouton id='sc_aide' parent="bando_squelette">
		<icone>images/soyezcreateurs_help-16.png</icone>
		<titre>soyezcreateurs:aidesc</titre>
		<url>sc_aide</url>
	</bouton>
	
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>soyezcreateurs_pipelines.php</inclure>
	</pipeline>
	
	<options>soyezcreateurs_options.php</options>
	<fonctions>soyezcreateurs_fonctions.php</fonctions>
	<categorie>squelette</categorie>
	<necessite id='SPIP' version='[2.1.26;2.1.99]' />
	<necessite id="cfg" version="[1.16.1;]" />
	<necessite id="saisies" version="[1.40.4;]" />
	<necessite id="Fonctions_images" version="[0.5.6;]" />
	<necessite id="spip_bonux" version="[2.3.3;]" />
	<necessite id="medias" version="[1.6.14;]" />
	<necessite id="Iterateurs" version="[1.0.4;]" />
	<utilise id="bando" version="[1.1.4;]" />
	<utilise id="slogan" version="[2.0.2;]" />
	<utilise id="acronymes" version="[0.13;]" />
	<utilise id="Agenda" version="[2.4.0;]" />
	<utilise id="AccesRestreint" version="[3.2.0;]" />
	<utilise id="Accessibilite" version="[0.8.6;]" />
	<utilise id="article_pdf" version="[0.4;]" />
	<utilise id="Autorite" version="[0.9.10;]" />
	<utilise id="boutonstexte" version="[0.3.3;]" />
	<utilise id="clevermail" version="[2.5.6;]" />
	<utilise id="facteur" version="[1.7.2;]" />
	<utilise id="crayons" version="[1.12.1;]" />
	<utilise id="couteau_suisse" version="[1.9.0;]" />
	<utilise id="forms" version="[0.400;]" />
	<utilise id="forum" version="[0.1;]" />
	<utilise id="Fulltext" version="[0.6.3;]" />
	<utilise id="gis" version="[2.0.7;]" />
	<utilise id="mediabox" version="[0.6.4;]" />
	<utilise id="queue" version="[0.5.2;]" />
	<utilise id="savecfg" version="[2.6;]" />
	<utilise id="sedna" version="[1.2;]" />
	<utilise id="typoenluminee" version="[3.2.3;]" />
	<utilise id="gis" version="[2.4.3;]" />
	<utilise id="geomap" version="[0.2;]" />
	<utilise id="ppp" version="[1.0.3;]" />
	<utilise id="mll" version="[1.0.2;]" />
	<utilise id="noie" version="[1.2;]" />
	<utilise id="nospam" version="[0.8.5;]" />
	<utilise id="notifications" version="[0.5.5;]" />
	<utilise id="critere_mots" version="[1.2.3;]" />
	<utilise id="rainette" version="[1.4.0;]" />
	<utilise id="gravatar" version="[1.0.3;]" />
	<utilise id="nuage" version="[3.1;]" />
	<utilise id="splickr" version="[0.4.2;]" />
	<utilise id="comments" version="[2.1.4;]" />
	<utilise id="contact" version="[0.62;]" />
	<utilise id="previsu_redac" version="[1.0;]" />
	<utilise id="protection_formulaires" version="[0.2;]" />
	<utilise id="skeleditor" version="[2.5.4;]" />
	<utilise id="eva_freemind" version="[1.2;]" />
	<utilise id="inserer_modeles" version="[0.4.3;]" />
	<utilise id="Player" version="[0.77;]" />
	<utilise id="notation" version="[0.9.4;]" />
	<utilise id="socialtags" version="[0.9.8;]" />
	<utilise id="mesfavoris" version="[2.1.2;]" />
	<utilise id="superfish" version="[0.2.0;]" />
	<utilise id="liscroll" version="[0.2.0;]" />
	<utilise id="pp_chgt_lg" version="[0.1.0;]" />
	<utilise id="va" version="[0.6.0;]" />
	<utilise id="image_cliquable" version="[2.0.0;]" />
	<utilise id="palette" version='[1.3.4;]' />
	<utilise id="photospip" version='[0.4.2;]' />
	<utilise id="entravaux" version='[2.0.5;]' />
	<utilise id="sidr" version='[1.0.0;]' />
	<utilise id="qrcode" version='[0.2.0;]' />
	
	<traduire gestionnaire="salvatore" module="soyezcreateurs" reference="fr" />
	
	<chemin dir='' />
</plugin>