<plugin>
  <nom>EVA3</nom>
  <auteur>Equipe Eva-dev, sous licence GNU/GPL </auteur>
  <lien>http://spip-edu.edres74.net et http://eva.tuxfamily.org</lien>
  <version>1.0</version>
  <etat>stable</etat>
  <description>
  Distribution des squelettes EVA-web 3
  </description>
  <icon>images/logo_eva3_fb.png</icon>
  <prefix>evasquelettes</prefix>
</plugin>
