<plugin>
  <nom>EVA3</nom>
  <slogan>Distribution des squelettes EVA-WEB 3 pour SPIP 1.9</slogan>
  <auteur>Equipe Eva-dev</auteur>
  <lien>http://eva-web.edres74.net</lien>
  <licence>GNU/GPL</licence>
  <version>1.0</version>
  <etat>stable</etat>
  <description>
Un squelette de portail d&#8217;Etablissement, destin&#233;e &#224; une &#233;cole, un &#233;tablissement du second degr&#233;, mais aussi une association, un individuel afin de mettre en place un site web collaboratif proposant diff&#233;rents mod&#232;les de publication (article, livre-album, portfolio, activit&#233;s, fichiers ...)</description>
  <icon>images/logo_eva3_fb.png</icon>
  <prefix>evasquelettes</prefix>
  <pipeline>
        <nom>affiche_gauche</nom>
        <action>AfficheGauche</action>
        <inclure>evasquelettes_pipeline.php</inclure>
  </pipeline>
  <categorie>squelette</categorie>
  <necessite id="spip" version="[1.9.2;2.0.99]" /> 
</plugin>
