/*** Cadre gris enfonce ***/
/* Haut-gauche, etc. */
.e-hg {
	width: 5px; height: 24px; background: url('ecrire/img_pack/cadre-hg.gif') no-repeat right bottom;
}
.e-h {
	height: 24px; background: url('ecrire/img_pack/cadre-h.gif') repeat-x bottom;
	text-align: left;
}
.e-hd {
	width: 5px; height: 24px; background: url('ecrire/img_pack/cadre-hd.gif') no-repeat left bottom;
}
.e-g {
	width: 5px; background: url('ecrire/img_pack/cadre-g.gif') repeat-y right;
}
.e-d {
	width: 5px; background: url('ecrire/img_pack/cadre-d.gif') repeat-y left;
}
.e-bg {
	width: 5px; height: 5px; background: url('ecrire/img_pack/cadre-bg.gif') no-repeat right top;
}
.e-b {
	height: 5px; background: url('ecrire/img_pack/cadre-b.gif') repeat-x top;
}
.e-bd {
	width: 5px; height: 5px; background: url('ecrire/img_pack/cadre-bd.gif') no-repeat left top;
}
.e-c {
	background: #e0e0e0; padding: 2px;
	text-align: left;
}