#regform {
	font-size: 80%; 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #bbbbaa;
}
.smallarial {
	font-size: 80%;
	font-weight: normal; 
	font-family: Arial, Helvetica, sans-serif;	
}
.smallarialbold {
	font-size: 80%;
	font-weight: bold; 
	font-family: Arial, Helvetica, sans-serif;
}
.orangelgt {
	/* background-color: #FCAC54; */
	background-color: #bbbbaa;
}
.orangedrk {
	/*background-color: #FF9933; */
	background-color: #bbbbaa;
}
#intro {
	margin-top: 0px;
	margin-right: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: #990000;
	text-align: left;
}
#intro ul {
	margin-top: .5em;
	margin-left: .5em;
	padding: 0;
	list-style-position: outside;
	list-style-type: disk;
}
#intro li {
	margin-left: 1em;
	padding: 0;
}
#regintro a {
	text-decoration: underline;
}