/* *** general definitions *** */
.show {display: block}
.hide {display: none}

body {
	margin:0px;
	padding:0px;
	color: Black;
	background-color:#DDDDDD;
	font-size:76%;
}
table {
	color: Black;
	background-color: White;
	border: none;
}
h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.0em;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
a {
	color: #990000;
	text-decoration: none;
}
a:hover {
	color: #FF9900;
	text-decoration: none;
}
input.btnBrown {
	font-weight: bold; 
	font-size: 0.85em;
	cursor: pointer;
	COLOR: #cccccc; 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #cc3300;
}
acronym {
	cursor: help;
	border-bottom: 1px dotted #CC3300;
}
/* *** banner area *** */
/* .header : for home & toplevel */
table.header {
	height: 74px;
	width: 760px;
	border: none;
	background-repeat: no-repeat;
	background-image: url(../IMG/banner760_1.jpg);
	background-position: top;
}
table.header form {
	margin: 0px;
	padding: 0px;
}
/* header2 : for mainsection and articles */
table.header2 {
	height: 74px;
	width: 760px;
	border: none;
	background-repeat: no-repeat;
	background-image: url(../IMG/banner760_2.jpg);
	background-position: top;
	color: #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
table.header2 a {
	color: #CCCCCC;
	text-decoration: none;
}
table.header2 a:visited {
	color: #CCCCCC;
	text-decoration: none;
}
table.header2 a:hover {
	color: #CCCCCC;	
	text-decoration: underline;
}
table.header2 form {
	margin: 0px;
	padding: 0px;
}
/* language selector */
#langselect form {
	margin: 0px;
	padding: 0px;
}
#langselect select {
	background-color: #CC3300;
	color: #CCCCCC;
	border: none;
	margin: 0px;
	padding: 0px;
	margin-bottom: 0px;
	text-transform: capitalize;
}
/* search form */
#formrecherche input {
	background-color: #CC3300;
	color: #CCCCCC;
	border-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	margin-bottom: 1px;
    }
/* *** menus *** */
/* horizontal top-level menu */
#menu {
    margin-bottom: 5px;
}

#hmenu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: normal;
	line-height: 1em;
}
#hmenu ul li {
/** put next two lines in spip-coded HTML to 
  	deal with right-to-left languages **/ 
	/* float: left;
		border-right: 1px solid #990000; */
	margin: 0;
	white-space: nowrap;
	padding: 1px;
}
/* keep next property, even if it's empty! 
   otherwise error caused in spip-generated HTML */ 
#hmenu li.hm {
	font-weight: normal;
}
#hmenu li.hmcurrent {
	font-weight: bold;
}
#hmenu li.current a:hover {
	font-weight: bold;
	color: #AAAAAA;
	background-color: White;
}
#hmenu li.hmactive {
	font-weight: bold;
}
#hmenu li.hmactive a:hover {
	font-weight: bold;
	background-color: transparent;
	color: Black;
}
#hmenu a {
	color: Black;
	text-decoration: none;
}
#hmenu a:hover {
	color: #FFFFFF;
	background-color: #AAAAAA;
}
/* does not work on IE+Windows */
#hmenu li:last-child {
	border-right: none;
}
/* vertical menu */
#vmenu {
	margin-top: 30px;
	font-size: 0.75em;
	font-family: Arial, Helvetica, sans-serif;
}
#vmenu ul {
	padding: 0px;
	margin: 2px;
	list-style: none;	
	}
#vmenu ul ul {
	margin: 2px 3px 0px 3px;
}
#vmenu ul ul ul {
	margin: 2px 6px 0 6px;
}
#vmenu li {
	list-style-position: outside;
	padding-left: 4px;
	padding-bottom: 5px;
}
#vmenu ul ul li {
	padding-bottom: 5px;
}
#vmenu li.menuitem-inactive {
	color: #666666;
}
/* (section links) */
#vmenu a.rublink {
	color: #CC3300;
	border: none;
	margin-left: 0px;
}
#vmenu a.rublink:hover {
	color: #FF9900;
	margin-left: 0px;
}
/* (article links) */
a.artlink:link {
	color: #CC3300;
	padding-left: 2px;
} 
a.artlink:visited {
	color: #CC3300;
	padding-left: 2px;
}
a.artlink:hover {
	color: #FF9900;
	padding-left: 2px;
}
/* *** contenu de l'article *** */	
/* title */
h1.titre-texte {
	/* top - right - bottom - left */
	margin: 10px 0px 8px 0px;
	padding: 0px 0px 0px 0px;
	font-family: "Times New Roman", Times, serif;
	font-size: 2em;
	font-weight: normal;
	color: #CC3300;
}
/* Other headings */
h2.spip {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.6em;
	line-height: 1.2em;	
	font-weight: normal;
	margin-top : .5em;
	margin-bottom : .5em;
	padding: 0px 0px 0px 0px;
}
/*  {{{Intertitres}}} */
h3.spip {
	clear: left;
	font-family: Arial, Helvetica, sans-serif;
   color: #CC3300;
	font-weight: normal;
	font-size:1.2em;
	margin-top : 1.2em;
	margin-bottom : .5em;
	padding: 0em;
	line-height: 120%;
}	
h4.spip {
	font-family: Arial,Helvetica,sans-serif;
   color: #CC3300;
	font-weight: bold;
	font-size: 0.8em;
	margin-top : 1.2em;
	margin-bottom : .1em;
	padding: 0em;
}
h5.spip {
   color: #CC3300;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	margin-top : 0;
	margin-bottom : 0;
	padding: 0em;
}
/* style pour sur- et sous-titres */
div.surtitre {
	color: #666666;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 1.5px;
	padding: 0px 0px 0px 0px;
	text-transform: uppercase;
}
div.soustitre {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: normal;
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
}
/* chapeau */ 
.chapeau {
	color: #CC3300;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: bold;
	line-height: 1.5em;
	letter-spacing: .75px;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
}
/* s'applique à tout ce qui est dans le texte */
.texte {
	margin: 0px 0px 0px 0px;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.0em;
	line-height: 1.2em;
}
/* pour "see also" ... */
#seealso {
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	margin-top: 30px;
	margin-bottom: 1em;
	font-weight: bold;
}
#seealso ul {
	padding: 4px;
	margin-top: 0px;
	margin-left: 10px;
	list-style: outside;
}
#seealso li {
	list-style-image: url(../IMG/puce.gif);
	font-weight: normal;
}
.noteref {
	font-size: 0.8em;
	font-weight: bold;
	vertical-align: text-top;
	padding-left: .1em;
}
.notes {
	margin-top: 0.6em;
	margin-bottom: 0em;
	padding: 0 1.2em 0.6em 1.2em;
	border-top: 1px solid #a0a0a0;
	font-family: "Times New Roman", Times, serif;
	font-size: 0.9em;
}
.ps {
	margin-top: 0em;
	margin-bottom: 1em;
	padding: 0em 1.2em 0em 1.2em;
	font-family: "Times New Roman", Times, serif;
	font-size: 0.9em;
}
div.lastupdate {
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	color: #CC3300;
	font-size: 0.75em;
	padding-top: 1em;
}
/* for div's containing photos */
div.photo {
	clear: both;
	page-break-inside: avoid;
	margin: 1.2em 0 1em 0;
}
/* *** footer bar *** */
#footer {
  padding-top: .5em;
  padding-bottom: .5em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  color: black;
  background-color: #DDDDDD;
  text-align: center;
}
/* *** for mainlevel heading pages *** */
.sectionintro {
	font-family: Arial, Helvetica, Batang, sans-serif;
	font-weight: bold;
	color: Black;
	font-size: 0.75em;
	letter-spacing: .75px;
	word-spacing: 3px;
	line-height: 1.5em;
}
h1.maintitle {
	margin: 10px 0px 8px 0px;
	padding: 0px;
	font-family: "Times New Roman", Times, serif;
	font-size: 2.0em;
	font-weight: bold;
	color: #CC3300;
}
div.rubriquenote {
	clear: left;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px 5px 5px 5px;
	font-size: 0.75em;
	font-weight: bold;
}
/* *** for toplevel heading pages *** */
/* updates list */
#updates {
	margin-top: 30px;
	font-size: 0.75em;
	font-family: Arial, Helvetica, sans-serif;
	color: #CC0000;
	font-weight: bold;
	float: left;
	width: 175px;
} 
#updates a {
	color: #990000;
	text-decoration: none;
}
#updates a:hover {
	color: #FF9900;
	text-decoration: none;
}
#updates ul {
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#updates li {
	padding: 0px;
	margin-top: 8px;
	list-style-position: outside;
	line-height: 1.3em;
}
/* Download link */
div.button {
	margin-top: 15px;
	color: black;
	background: #AAAAAA;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: bold;
}
div.button a {
	color: black;
}
div.button a:hover {
	color: white; 
	background-color: #AAAAAA;
}
/* List of chapters */
table.topsections {
	/* margin-top: 5px; */
}
table.topsections td {
	padding-bottom: 12px;
}
table.topsections td.logo {
	width: 90px;
	padding-top: 9px;
}
table.topsections p {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #990000;
	line-height: 120%;
}
table.topsections h1 {
	font-size: 1.1em;
	margin-bottom: 0px;
	/* line-height: 110%; */
}
/* don't light up introductory text */
table.topsections p a:hover {
	color: #990000;
}
/* *** pour Homepage *** */
#langlist ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
	font-weight: bold;
	text-transform: capitalize;
	line-height: 1.5em;
}
#langlist li {
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 0em 1.1em 0em 0em;
   line-height: 2em;
	/* only needed if languages contain more than 1 word: */
	white-space: nowrap;
}
#langlist a {
	color: #990000;
	text-decoration: none;
}
#langlist a:hover {
	color: #FF9900;
}
#langlist li:last-child {
	border-right: none;
}
/* *** monthly prayer *** */
/* l'introduction et le mois prennent
les styles du chapeau et de l'intertitre
du reste du site. Ça va ? */
#monthlyprayer p {
	margin: 0 0 10px 0;
	padding: 0;
}
#monthlyprayer p.structure {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 0px 5px 0px;
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 1.5px;
	padding: 0px 0px 0px 0px;
}
#monthlyprayer .reference {
}
/* Prev / Next nifty buttons */
div.nav {
	text-align:center; 
	background: #AAAAAA;
}
div.nav a {
	color: black;
	font-size: 0.75em;
	font-weight: bold;
}
div.nav a:hover {	
	color: white; 
	background-color: #AAAAAA;
}
/* *** pour capitules *** */
#readings {
}
#readings span.date {
	color: #CC3300;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 1px;
}
#readings span.feast {
	color: #CC3300;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px 0px 5px 0px;
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 1.5px;
	padding: 0px 0px 0px 0px;
}
#readings span.verse {
	color: black;
	margin: 0px 0px 0px 0px;
	font-family: "Times New Roman", Times, serif;  
	font-size: 1.0em;
	line-height: 1.2em;
}
#readings span.reference {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px 0px 5px 0px;
	font-size: 0.7em;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 0px 0px 0px 0px;
}
/* *** daily meditation *** */
span.thought {
font-family: Arial, sans-serif;
	font-weight: bold;
	color: Black;
	font-size: 1.0em;
	letter-spacing: 0px;
	word-spacing: 1px;
	line-height: 1.5em;
}
span.note {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
}
#credits {
	font-size: 0.75em;
	margin-top: 30px;
	margin-bottom: 15px;
}
/* *** music pages ***
   use class: toplevel */
/* *** download page *** */
#download p.caption {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: Black;
	font-size: 0.75em;
	letter-spacing: .7px;
	word-spacing: 1px;
	line-height: 1.5em;
}
#download a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	font-weight: bold;
}
#download a:hover {
	text-decoration: underline;
}
/* *** pour annonces encadrées *** */
.newstitlecell {
	background-color: #CC3300;
}
.newstitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #CC3300;
}
div.spot {
	font-size: 0.75em;
	font-family:Arial, Helvetica, sans-serif;
	margin: -3px 0 2px 0;
}
.news {
	margin: 0px;
	padding: 0px;
	font-size: 0.75em;
	font-family:Arial, Helvetica, sans-serif;
}
/* *** For SNCF and Airports pages *** */
table.text {
	font-family: "Times New Roman", Times, serif;
	font-size: 1em;
	background-color: White;
	width: 590px;
}
.timechart {
	background-color: #FCAC54;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	font-size: .9em;
	border-spacing: 0px;
	border-color: #800000;
	border-style: solid;
	border-width: 1px;
	width: 590px;
}
.timechart td {
	border-color: #800000;
	border-style: solid;
	border-width: 1px;
}
ul.intro  {
	margin: 15px;
	padding: 0px;
	list-style: square;
}
ul.intro li {
	margin-top: 3px;
	padding: 0px;
	color: Maroon;
	font-size: .8em;
	font-family: "Times New Roman", Times, serif;
}
p.city {
	font-size: 1.5em;
	color: Maroon;
	font-family: "Times New Roman", Times, serif;
}
p.hint {
	margin-top: 0;
	font-size: .8em;
	font-family: "Times New Roman", Times, serif;
	color: Maroon;
}
td.citylinks {
	width: 25%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}
tr.tablehead {
	font-weight: bold;
}
/* for error messages */
.redborder {
	border: thick solid Red;
	margin: 15px;
	padding: 10px;
}

/*** Styles for HTML internally generated by SPIP ***/
/* liens */
a.spip_url { }
a.spip_in { }
a.spip_out { }
a.spip_glossaire { }
hr.spip {
	text-align: left;
	color: #CC3300;
	width: 50%;
	background-color: #CC3300;
	border: none;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 0;
}
b.spip { }
i.spip { }
/* paragraphes dans le texte */
.texte p.spip {
	margin: 0px 0px 10px 0px;
	line-height: 1.2em;
}
p.spip_note { 
}
.spip_puce {
	list-style-position: inside;
}
/* highlight word searched for */
.spip_surligne { background-color: #FFFF66; }
.spip_documents {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 0.7em;
	margin-bottom: 10px;
}
.spip_documents_center {
	margin: 0; 
	text-align: center;
	width: 80%;
}
.spip_documents_left {
	float: left;
	margin-right: 15px; 
	text-align: center;
}
.spip_documents_right{
	float: right;
	margin-left: 15px; 
	text-align: center;
}
/* Tout ce qui est en-dessous :
   styles plutôt specialisés - à laisser tels quels */
blockquote.spip {
	margin-left : 40px;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-right: 0px;
	border : solid 1px #aaaaaa;
	background-color: #ffffff;
	padding: 5px;
}
.forml { width: 100% ; background-color: #FFDDAA;}
.spip_encadrer {
	font-family: helvetica, arial, sans-serif;
	width : 100%;
	background-color: #FFFFFF;
	padding: 5px;
	border: 1px #666666 solid;
}
.spip_code {
	font-family: "Courier New", Courier, monospace;
	font-size: 0.90em;
	color: Green;
 }
.spip_cadre {
	width : 100%;
	background-color: #FFFFFF;
	padding: 5px;
}
div.spip_poesie {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #999999;
}
div.spip_poesie div {
	text-indent: -60px;
	margin-left: 60px;
}
.spip_bouton { background-color: #FFCC00;}
.reponse_formulaire {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 1.1em;
	color: red;
}
/* tableaux faits avec raccourcis Spip */
table.spip {
	margin-bottom: 1em;
}
table.spip tr.row_first {
	background-color: #FCF4D0;
}
table.spip tr.row_odd {
	background-color: #C0C0C0;
}
table.spip tr.row_even {
	background-color: #F0F0F0;
}
table.spip td {
	padding: 1px;
	text-align: left;
	vertical-align: middle;
}
/* Barre de raccourcis */
a.spip_barre img {
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #aa9966;
	border-bottom: 1px solid #aa9966;
	padding: 3px;
	background-color: #FFDDAA;
}
a.spip_barre:hover img {
	border: 1px solid #808080;
	padding: 3px;
	background-color: #f8f8f4;
}

/* modifications pour mise en page CSS */

body {
    text-align:center;
}

.clear {
    clear:both;
}
	
#conteneur {
    margin: 0 auto;
    width: 760px;
    background: white url("../IMG/banner760_1.jpg") top left no-repeat;
    text-align:left;
    font-size:1em;
}
    
/* min-height hack : http://www.wellstyled.com/css-minheight-hack.html */
#contenu {
    padding:22px;
    min-height:500px;
    height:auto;
    _height:500px;
}

#contenu-editorial {
    width: 485px;
    float:right;
}

.contenu-gauche {
    float:left;
    width:48%;
}

.contenu-droite {
    float:right;
    width:360px;
}

#entete {
    padding: 5px;
    height: 64px;
    position: relative;
}

#formrecherche {
	vertical-align: text-bottom;
    margin:0;
    float:right;
}

#langselect {
	vertical-align: text-bottom;
    margin:0;
    float:left;
}

#logo {
    position: absolute;
    top:5px;
}

#recherche {
    padding-top:40px;
    padding-bottom:0px;
}
