div.forum-repondre {
	text-align: right;
	font-size: 130%;
	margin-bottom: 2em;
	font-weight: normal;
}
div.forum-repondre a {
	color: #555;
}
#forum div.forum-repondre-message {
	padding-top: 0.5em;
	padding-bottom: 0.2em;
	text-align: right;
}

#forum div.forum-repondre-message a {
	color: #555;
}

#forum h2 {
	font-size: 150%;
}

/*
* Habillage des forums
*/
ul.forum-total {
display: block;
padding: 0px;
margin: 0px;
list-style: none;
}
.forum-fil {
	margin-top: 1em;
	margin-bottom: 2em;
}
.forum-fil ul {
display: block;
margin: 0px;
margin-left: 2em;
padding: 0px;
list-style: none;
}
.forum-titre {
font-weight: bold;
font-size: 120%;
}
.forum-item {
margin: 0px;
padding: 1em;
padding-top: 0.5em;
padding-bottom: 0em;
text-align: justify;
color: #303030;
font-size: 80%;
}
/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum {
border: 1px solid #909090;
padding: 0px;
margin: 0px;
margin-bottom: 1em;
}
ul ul .forum {
border: 1px solid #a4a4a4;
}
ul ul ul .forum {
border: 1px solid #b8b8b8;
}
ul ul ul ul .forum {
border: 1px solid #cccccc;
}
ul ul ul ul ul .forum {
border: 1px solid #e0e0e0;
}
ul ul ul ul ul ul .forum {
border: 1px dashed #e0e0e0;
}

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo {
border: 0px;
border-bottom: 1px dashed #b8b8b8;
margin: 0px;
padding-left: 6px;
padding-right: 6px;
padding-top: 3px;
padding-bottom: 2px;
font-size: 90%;
/* background: #c4e0e0; */
}
ul ul .forum-chapo {
/* background: #d4e8e8; *
}
ul ul ul .forum-chapo {
/* background: #e4f0f0; */
}
ul ul ul ul .forum-chapo {
/* background: #f4f8f8; */
}
ul ul ul ul ul .forum-chapo {
/* background: #ffffff; */
}



