body {
	margin: 0;
	padding: 0;
}

#conteneur {
	position: relative;
	text-align: left;
	width: 54em;
	margin-left: auto;
	margin-right: auto;
}

#navigation {
	float: left;
}



	/* entetep */
	
#entetep { 	width: 100%;	margin-top: 5px;	margin-bottom:11px; 
	background:#333333 none repeat scroll 0%;border-top:1px solid #940012;clear:both;padding:1em 2px 2px;text-align:left;	
	
	
	
	}
	
#entetep_contenu {
margin:0pt auto;width:54em;}	
	
#entetep a .spip_logos {	display: block;	float: left; }#entetep #nom_site_spip {	float: left;	font-weight: bold;	color: white;	margin: 5px;	font-size: 1.5em; }#entetep a { text-decoration: none; }#entetep .formulaire_recherche { 	float: right;	margin-top: 18px; }#entetep #slogan {	margin-top: 3px;	font-size: x-small;	font-weight: normal;	color: #940012;}#entetep #liens {	width: 500px;	float: right;	text-align: right; 
	clear:right;
	}#entetep #liens a {	font-size: small;	color: white; }#entetep #liens a:hover {	color: #940012; }
	/* Espaceur de blocs */.nettoyeur { clear: both; margin: 0; padding: 0; border: none; height: 0; line-height: 1px; font-size: 1px; }/* Non visible a l'ecran */.invisible { position: absolute; top: -3000em; height: 1%; }



/* Pied de page */#pied {	clear: both;	margin-top: 4em;	background: #333;	border-top: 1px solid #940012;	padding: 1em 2px 2px;	text-align: center; }#pied_contenu{ width: 54em; margin: 0 auto; }#pied #utils { 	float: left;	width: 18%;	margin: 1em 1em 1em 2em;	padding: 0;	list-style: none;	font-size: 0.77em;	text-align: left;	color: #fff; }#pied #utils li { border-bottom: 1px dotted #6e6e6e; padding: 1em 0; }#pied #utils a { color: #fff; }#pied #utils a:hover { text-decoration: none; color: #940012; }#pied img { vertical-align: bottom; margin-right: 5px; }#pied .forums, #pied .syndic , #gazettep{ 	float: left;	width: 35%;	margin: 1em;	text-align:left;	font-size: 0.77em;	color: #6e6e6e; }#pied .forums ul, #pied .syndic ul { list-style: none; padding: 0; margin: 0; }#pied .forums ul li, #pied .syndic ul li { border-bottom: 1px dotted #6e6e6e; padding: 0.4em 0; }#pied .forums a, #pied .syndic a { color: #fff; }#pied .forums a:hover, #pied .syndic a:hover { text-decoration: none; color: #940012; }#pied .syndic em { font-style: normal; }#pied .syndic em a{ color: #6e6e6e; }#pied h2 { 	color: #940012;	text-align: left;	font-size: 1.2em;	border: none;	padding:0; }#pied hr{ clear: both; visibility: hidden; }

#gazettep {
	
}#gazettep a {	color: #666;	text-decoration: none;}#gazettep img {	border: none;	margin: auto;	padding-top: 2px;}#gazettep ul, #gazettep li {	text-transform: none;	letter-spacing: none;	font: 9px Verdana, sans-serif; 	color: #666;}



#entete {
	background-repeat: no-repeat;
	background-image: url(img/logo.png);
	background-position: bottom right;
	height: 158px;
	margin-top: 0px;
	margin-bottom: 15px;
	z-index: 2;
}
#corps {
	margin-bottom: 11px;
	z-index: 2;
}
#titre-mag {
	position: absolute;
	left: 266px;
	top: -3px;
	z-index: 1;
}
#titre-spip {
	position: absolute;
	left: 6px;
	top: 55px;
	z-index: 2;
}

#titre-url {
	position: absolute;
	top: 144px;
	left: 590px;
	z-index: 1;
	text-align: right;
}

#gauche {
	float: left;
	width: 15%;
	z-index: 2;
}
#contenu {
	/*width: 62%;*/
	float: left;
	border: 1px solid #313031;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top:20px;
	background: #940012;
	
}
#texte {
	margin-right: 28%;
	min-height: 320px;
	padding: 10px;
	background:#fff;
}
#menu {
	float: right;
	width: 25%;
}
#droite  {
	float: left;
	width: 18%;
}
#pied {
	padding-left: 18%;
	padding-right: 22%;
	padding-top: 0.3em;
	padding-bottom: 4em;
	text-align: left;
	clear: left;
}
