@import url(position.css);

#conteneur {
	text-align: right;
}

#navigation {
	float: right;
}

#entete {
	background: url(img/logo_rtl.png) no-repeat bottom left;
}

#titre-mag {
	top: 30px;
	right: 6px;
}

#titre-spip {
	top: -3px;
	right: 200px;
}

#titre-url {
	left: 0;
	right: 590px;
	text-align: left;
}

#gauche {
	float: right;
}

#contenu {
	float: right;
	background: #fff url(img/fond.png) repeat-y left;
}

#texte {
	margin-left: 121px;
	margin-right: 30px;
}

#menu {
	float: left;
}

#droite {
	float: right;
}

#pied {
	padding-right: 18%;
	padding-left: 22%;
	text-align: right;
	clear: right;
}
