body {
	margin: 0;
	padding: 0;
}
#conteneur {
	position: relative;
	text-align: left;
	width: 76%;
	min-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
#navigation {
	float: left;
}
#entete {
	background-repeat: no-repeat;
	background-image: url(img/logo.png);
	background-position: bottom right;
	height: 158px;
	margin-top: 0px;
	margin-bottom: 15px;
	z-index: 2;
}
#corps {
	margin-bottom: 11px;
	z-index: 2;
}
#titre-mag {
	position: absolute;
	left: 266px;
	top: -3px;
	z-index: 1;
}
#titre-spip {
	position: absolute;
	left: 6px;
	top: 55px;
	z-index: 2;
}
#titre-url {
	position: absolute;
	top: 144px;
	width: 100%;
	z-index: 1;
	text-align: right;
}
#gauche {
	float: left;
	width: 15%;
	z-index: 2;
}
#contenu {
	width: 62%;
	float: left;
	border: 1px solid #313031;
	margin-left: 2%;
	margin-right: 2%;
	background: #fff url(img/fond.png) repeat-y right;
}
#texte {
	margin-right: 121px;
	min-height: 320px;
	padding: 10px;
}
#menu {
	float: right;
	width: 121px;
}
#droite  {
	float: left;
	width: 18%;
}
#pied {
	padding-left: 18%;
	padding-right: 22%;
	padding-top: 0.3em;
	padding-bottom: 4em;
	text-align: left;
	clear: left;
}
