.selected {
	font-weight: bold;
}
.boite_recherche {
	border: 1px solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.etoiles-0, .etoiles-1, .etoiles-2, .etoiles-3, .etoiles-4, .etoiles-5 {
	width: 64px;
	height: 12px;
	background-position: top right;
	background-repeat: no-repeat;
	margin-left: 5px;
}

.etoiles-0 {
	background-image: url(img/etoiles_0.png);
}
.etoiles-1 {
	background-image: url(img/etoiles_1.png);
}
.etoiles-2 {
	background-image: url(img/etoiles_2.png);
}
.etoiles-3 {
	background-image: url(img/etoiles_3.png);
}
.etoiles-4 {
	background-image: url(img/etoiles_4.png);
}
.etoiles-5 {
	background-image: url(img/etoiles_5.png);
}
