.chapo {

	font-size: 145%;

	font-weight: 600;

	margin-top: 1em;

}

hr, hr.spip {

	background-color: #ccc;

	height: 1px;

	border: 0;

}

a.spip_in {

	text-decoration: none;

	color: #666;

	border-bottom: 1px #666 dashed;

}

a.spip_note {

	text-decoration: none;

	color: #666;

}

table.spip td {

	padding: 3px;

	text-align: right;

	vertical-align: middle;

}

a.spip_out {
	text-decoration: none;
	background-image: url(img/spip_out.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 15px;
	color: #666;
	border-bottom: 1px dashed #666;
}

a.spip_in:hover, a.spip_out:hover, a.spip_note:hover {

	color: #111;

}

table.spip {

	margin-left: auto;

	margin-right: auto;

	border: 1px solid #999999;

	border-collapse: collapse;

}

.spip_documents {

	font-family: Verdana,Arial,Helvetica,sans-serif;

	font-size : 70%;

}

.spip_documents_center {

	margin: auto;

	text-align: center;

	width: 80%;

}



.spip_documents_left {

	float: right;

	margin-right: 15px;

	text-align: center;

}

.spip_documents_right {

	float: left;

	margin-left: 15px;

	text-align: center;

}



.forml {

	width: 100% ;

	border: 1px solid #aaa;

	font-size: 95%;

}

.spip_cadre {

	width: 95%;

	background-color: #f4f4f4;

	padding: 5px;

	border: 1px solid #aaa;

	-moz-border-radius: 5px;

}

