@import url(typographie.css);

.texte {
	margin-right: 30px;
	margin-left: 2em;
}

.titre-boite {
	left: 0;
	right: 5px;
}

.boite {
	margin-right: 15px;
	margin-left: 0;
}

.texte {
	text-align: justify;
}

