/* Style typographique general */
body {
	background-color: #efefef;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #555555;
}
#pied {
	color: #777;
}
#pied a {
	text-decoration: none;
	color : #777;
}
#pied a:hover {
	text-decoration: underline;
}

#navigation {
	padding-top: 1em;
	color: #aaa;
	text-transform: lowercase;
}
#navigation a {
	color: #aaa;
	text-decoration: none;
}

/* Titres de page */
#titre-mag {
	font-size: 130px;
	color: #dcdcdc;
	font-weight: 900;
}
#titre-spip {
	font-size: 115px;
	color: #e4e4e4;
	font-weight: 700;
}
#titre-url {
	font-size: 24px;
	color: #e1e1e1;
	font-weight: 500;
}
#titre-mag a {
	color: #dcdcdc;
	text-decoration: none;
}
#titre-spip a {
	color: #e4e4e4;
	text-decoration: none;
}
#titre-url a {
	color: #e1e1e1;
	text-decoration: none;
}
#titre-mag a:hover {
	color: #dfdfdf;
	text-decoration: none;
}
#titre-spip a:hover {
	color: #e1e1e1;
	text-decoration: none;
}
#titre-url a:hover {
	color: #e4e4e4;
	text-decoration: none;
}


/* Mise en forme du texte */
h1 {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px dotted #ddd;
}
h1 a {
	text-decoration: none;
	color: #666666;
}
h1 a:hover {
	color: #cb0206;
}
.texte {
	margin-left: 65px;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 25px;
	margin-right: 5px;
}
.titraille {
	margin-top: 25px;
}
.surtitre {
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
}


/**********************************************************/
/* Habillage                                              */
/**********************************************************/

/* Menu */

#menu {
	margin-bottom: 0;
	font-size: 14px;
	float: right;
}
#menu ul {
	border: 0;
	padding: 0;
	margin: 0;
}
#menu li {
	border-bottom: 1px solid #666;
	border-left: 1px solid #666;
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu a {
	color: #efefef;
	display: block;
	text-decoration: none;
	background-color: #b84b4b;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#menu a:hover {
	background-color: #666;
	color: #efefef;
}

.head-boite {
	margin-bottom: 5px;
	padding: 0px;
	width: 100%; }
.head-boite-jaune {
	background-color: #f0c300; }
.head-boite-verte {
	background-color: #0a9b5b; }
.head-boite-rouge {
	background-color: #cb0206; }
.head-boite-gris {
	background-color: #efefef; }
.head-boite-anthracite {
	background-color: #666666; }
.titre-boite {
	font-family: Arial, Helvetica;
	font-weight: bold;
	font-size: 10pt;
	color : #efefef;
	top: 3px;
	left: 5px;
	position: relative; }


/* Boites laterales */
.boite {
	margin-bottom: 15px; }
.boite-cadre {
	margin: 4px; }

.recherche {
	border: dotted 1px #ddd;
	width: 100%; }


/* Boite des breves */
.listing-breve {
	margin: 3px;
	border-bottom: dotted 1px #555;
	padding-bottom: 3px;
	font-size: 10px;
	line-height: 11px;
	color: #555; }
#breves a {
	color: #555;
}

/* Liens des blocs li lateraux*/
#gauche a, #droite a {
	text-decoration: none; }
ul.liste-verte a {
	color: #0a9b5b; }
ul.liste-jaune a {
	color: #f0c300; }
ul.liste-gris a {
	color : #efefef; }
ul.liste-anthracite a {
	color : #666666; }
ul.liste-rouge a {
	color : #cb0206; }
#gauche a:hover, #droite a:hover {
	text-decoration: underline; }

#gauche ul, #droite ul {
	list-style-type: none;
	margin: 0px;
	padding: 3px;
	font-size: 10px;
	line-height: 12px;
	font-weight: bold; }
#gauche li, #droite li {
	padding-left: 12px;
	margin-bottom: 4px;
	background-position: 2px 6px;
	background-repeat: no-repeat;}


ul.liste-verte li {
	background-image: url(img/carre_vert.png);
}

ul.liste-jaune li {
	background-image: url(img/carre_jaune.png);
}

ul.liste-gris li {
	background-image: url(img/carre_gris.png);
}

ul.liste-anthracite li {
	background-image: url(img/carre_anthracite.png);
	color: #666666;
}

ul.liste-rouge li {
	background-image: url(img/carre_rouge.png);
}

.date-breve {
	color: #aaa;
}

.bloc-principal {
	line-height: 12px;
	padding:12px;
}

h2 {
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px dotted #ddd;
}

h2 a {
	text-decoration: none;
	color: #666666;
}

h2 a:hover {
	color: #cb0206;
}

.bloc{
	margin-bottom: 15px;
}

a.bloc {
	text-decoration: none;
	color: #666666;
}

a:hover.bloc {
	color: #cb0206;
}

.texte {
}

.rubrique {
	font-size: 15px;
	line-height: 15px;
	color: #aaa;
	margin: 0px;
	padding: 0px;
}

div.reference {
	font-size: 10px;
	line-height: 11px;
	color: #aaa;
	margin-bottom: 3px;
	padding: 0px;
}

div.reference a {
	color: #aaa;
	text-decoration: none;
}

div.reference a:hover {
	color: #cb0206;
}

.nom {
	font-variant: small-caps;
}


