/* Positionnement */
@import url('position.css');

/* Typographie */
@import url('typographie.css');

/* Elements propres a SPIP */
@import url('spip.css');

/* Style du moteur de recherche */
@import url('recherche.css');

/* Style du moteur de recherche */
@import url('forum.css');

#page_wiki {
	position: relative;
	width: 76%;
	margin:auto;
	margin-bottom: 2em;
}

.page{
	border: solid 1px #000;
}

.footer {
	border: none;
	background-color: transparent;
}

#titre-wiki {
	position: absolute;
/*	left: 495px; */
	right: 0px;
	top: 136px;
	z-index: 3;
	width: 300px;
	font-size: 65px;
	color: #cb0206;
	font-weight: 900;
	text-align: right;
}
#titre-wiki a {
	color: #cb0206;
	text-decoration: none;
}
#titre-wiki a:hover {
	color: #bb0206;
	text-decoration: none;
}


A { color: #cb0206; }

