/*
* ===========================================
* ============  ESTILOS PROPIOS  ============
* ===========================================
*/

/* bien regler les "margins"... (bugs IE) */
body {
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	background: #FFCC99; /* color de fondo de toda la ventana */;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a { 
	text-decoration: none;
	color: #3B5063;
}

a:hover { 
	text-decoration: none; 
	background: gray; 
	color: white;
}

a:visited {
}

a:active {
}

a:link {
}

a.spip_url { }
a.spip_in { }
a.spip_out { }
a.spip_glossaire { }

/* zona central (todo el contenido de la pagina) */
#pagina { 
	width: 93%; /* ancho de la zona central */
	min-width: 500px; /* ancho minimo de la zona central */
	margin:  auto; /* centra el contenido verticalmente respecto a la ventana*/
	text-align: left;	
	background-color: white; /* color de fondo de la zona central de la pagina */
	border: 1px solid #666666; /* borde izquierdo */
}

#cabecera {
	background-color: white;
	color: white;
	font-size: 300%;
	font-weight: 160%;
	text-align: right;
	border-bottom: 1px dotted silver;
	text-align: center; 
	padding-top: 25px; 
	padding-bottom: 10px;
}


#cabecera a {
	display: block;
}

#cabecera a:hover {
	display: block;
}

.cabecera_debajo {
	font-size: 65%; 
	color: #666666; 
	text-align: center; 
	padding-bottom: 2px; 
	padding-top: 1px; 
	border-bottom: 1px dotted silver;
		background-color: ghostwhite;
}

/* entre la cabecera y el pie */
#cuerpo {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: white;
}

#lado_izquierdo {
	float: left;
	width: 21%;
	border-right: 1px dotted silver;
	background-color: white;
}

#lado_derecho {
	float: right;
	width: 21%;
	margin-right: 0px;
	border-left: 1px dotted silver;
	background-color: white;
}

/* zona principal de contenido */
#contenido {
	margin-left: 21%;
	padding-right: 20px;
	padding-top: 20px;
	padding-left: 20px;
	background-color: white;
	border-left: 1px dotted silver;
}

/* crea una zona bajo la de "contenido" */
#contenido_abajo {
	padding-top: 3%;
	border-top: 1px solid silver;
	background-color: white;
}


#mas_articulos {
	padding-right: 0.4em;
	border-right: 1px dotted silver;
}

#breves_sommaire {	
	padding-left: 0.4em;
	padding-right: 0.4em;
	border-right: 1px dotted silver;
}

#foros_sommaire {
	padding-left: 0.4em;
}

#pie {	
	clear: both;
	background-color: white;
	color: gray;
	font-size: 60%;
	padding: 5px;
	text-align: center;
	border-top: 1px dotted silver;
}

/* textos personalizados */

.titulo {
	font-size: 120%;
	font-family: Trebuchet, Arial, Helvetica, sans-setif;
	font-weight:bold;
}

.modulo_titulo_iz {
	font-size: 90%;
	text-align: left;
	padding: 1px;
	font-weight: bold;
	color:  #333333;
}

.modulo_titulo_center {
	font-size: 90%;
	text-align: center;
	padding: 1px;
	font-weight: bold;
	color:  #333333;
}

.notas {
	font-size: 60%;
}

.destacado {
	font-size: 120%;
	font-weight:bold;
}

.menu_titulo {
	font-size: 80%;
	text-align: left;
}

.menu_item {
	font-size: 70%;
	padding-left: 0.6em;
	text-align: left;
}

.menu_item_min{
	font-size: 70%;
	text-align: left;
	text-transform:lowercase;
}

.texto_70 {
	font-size: 70%;
}

.texto_80 {
	font-size: 80%;
}

.bio {
	font-size: 65%;
	text-align: center; 
	padding: 1px; 
	color:#999999;
}

/* para los recuadros de la derecha en los articulos */

.mas_articulos {
	float: right; 
	margin-left: 0.6em; 
	margin-bottom: 0.4em; 
	width: 30%; 
	font-size: 90%;

}

.modulo_mas {
	margin: 0.3em;
	padding: 0.4em;
	border: 1px dotted silver;
	background-color: white;
}

/* crea los "recuadros" de las zonas pequeñas: menu, enlaces,... */
.modulo {
	margin: 0.3em;
	padding: 0.4em;
	border-bottom: 1px dotted silver;
	background-color: white;
}

/* crea el recuadro del menú de navegación (mapa del sitio, contactar,... */
.modulo_nav {
	margin: 0.3em;
	padding: 0.4em;
	padding-top:0.1em;
	font-size: 85%;
	border-bottom: 1px dotted silver;
	background-color: white;
	text-align: center;
}

/* soluciona un bug del explorer que añade un parrafo donde se coloca la baliza #SPIP_CRON */
.cron {
	position: absolute;
	bottom: 0;
	left: 0;
}

/* para subrayar zonas (div) */
.subrayado_entero {
	border-bottom: 1px solid silver;
}

.subrayado_puntos {
	border-bottom: 1px dotted silver;
}

.subrayado_puntos_gris {
	border-bottom: 1px dotted gray;
}

/*
* Determina los márgenes y la posición de los logos
*/

.logo_izquierda {
	float: left; 
	padding-right: 10px; 
	padding-bottom:6px;
	}
	
.logo_derecha {
	float: right; 
	padding-left: 10px; 
	padding-bottom:6px;
	}


/*
* =======================================================
* ===  ESTILOS DE LA DISTRIBUCIÓN DE SPIP MODIFICADOS ===
* =======================================================
*/

/* personaliza los botones de admin (actualizar pagina, espacio privado, visitas,...) */
a.spip-admin-boutons {
	background-color: transparent;
	border-bottom: 1px solid #4a4a4a;
	border-left: 1px solid #4a4a4a;
	border-right: 1px solid #4a4a4a;
	text-decoration: none;
	text-align: center;
	padding: 0px;
	font-family: verdana,arial,sans-serif;
	font-size: 10px;
	background-color: #fff;
	color: #0c479d;
}

a:hover.spip-admin-boutons {
	background-color: #fc3;
	border-bottom: 1px solid #4a4a4a;
}

a:active.spip-admin-boutons {
	background-color: #ccc;
	border-bottom: 1px solid #4a4a4a;
}


.botones_admin {
	position: absolute;
	top: 0px;
	margin-top: -6px;
	right: 0px;
}

/* Formularios */

.modulo_form {
	margin-right: 0.3em;
	margin-left: 0.3em;
	padding-top: 0.1em;
	padding-bottom:0.4em;
	border-bottom: 1px dotted silver; 
	background-color: white;
}

/* modulo personalizado de "inscripción" (lo ve el firefox)*/
.modulo_inscripcion {
	font-size:70%; 
	text-align: center;
	margin:auto;
	color: green;
	width:100%;
}

*html .modulo_inscripcion { /* para el explorer */
	font-size:70%; 
	text-align: center;
	margin:auto;
	color: green;
	width:100%;
}

/* menu desplegable para seleccionar equeleto (lo ve el firefox) */

.form_cambiar {
 	margin:auto;
 	font-size: 88%;
	color: #0e5912;
	width:100%;
	text-align: center;
	width: 100%;
}


*html .form_cambiar { /* para el explorer */
 	margin:auto;
 	font-size: 88%;
	color: #0e5912;
	width:100%;
	text-align: center;
	width: 100%;
}

/* botones tipo Validar */
.spip_bouton {
	border: 1px solid silver;
	padding: 1px;
	background: ghostwhite;
	color: #0e5912;
	font-size:100%;
	
}

/* Formulario de "buscar" (lo ve el firefox)*/
.formrecherche { /* lo ve el firefox */
	padding-left:3px;
	padding-right:1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	border: 1px solid  silver;
	width: 100%;
	background-color: ghostwhite;
	margin:auto;
	color: green;
		width:96%;
}

*html .formrecherche { /* lo ve el explorer */
	padding-left:3px;
	padding-right:1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: normal;
	border: 1px solid  silver;
	width: 100%;
	background-color: ghostwhite;
	margin:auto;
	color: green;
		width:96%;
}

/* Formularios en general como los de inscripción */

.forml { /*lo ve el firefox */
	background-color: ghostwhite;
	border: 1px solid  silver;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: normal;
	color: orangered;
	width: 100%;
}

*html .forml { /* lo ve el explorer */
	background-color: ghostwhite;
	border: 1px solid  silver;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: normal;
	color: orangered;
	width: 98%;
}

.formulaire { /* lo ve el firefox */
	color: orangered;
	padding: 2px;
	background-color: ghostwhite;
	border: 1px solid  silver;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: normal;
	width: 100%;
}

*html .formulaire { /* lo ve el explorer */
	color: orangered;
	padding: 2px;
	background-color: ghostwhite;
	border: 1px solid  silver;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: normal;
	width: 98%;
}


form.formrecherche { 
}

/*
 * PARA logos y archivos
 */

.spip_documents{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size : 70%;
}

.spip_documents_center{
	margin: auto; 
	text-align: center;
	font-size : 80%;
	font-weight: normal;
}

.spip_documents_left{
	float: left;
	margin-right: 15px; 
	margin-bottom: 5px;
	text-align: center;
		font-size : 80%;
	font-weight: normal;
}

.spip_documents_right{
	float: right;
	margin-left: 15px; 
	margin-bottom: 5px;
	text-align: center;
		font-size : 80%;
	font-weight: normal;
}

/*
 * PARA plan.html
 */

.plan-secteur {
	margin-top: 0em;
	margin-bottom: 3em;
}

.plan-secteur h1 {
	display: block;
	border: 1px solid #a0a0a0;
	margin: 0px;
	padding: 8px;
	font-size: 150%;
	font-weight: bold;
	background-color: #e0ffe0;
	text-align:center;
}
.plan-rubriques {
	clear: left;
	display: block;
	list-style: none;
}
.plan-rubrique {
	display: inline;
	border: 1px solid #a0a0a0;
	padding: 3px;
	font-weight: bold;
}
.plan-articles {
	clear: left;
	margin-top: 0.5em;
	margin-bottom: 1em;
	list-style: square;
}

/* Eclaircissement progressif des rubriques en fonction de la profondeur */

ul .plan-rubrique {
	background-color: #e0ffe0;
	border-color: #b8b8b8;
}
ul ul .plan-rubrique {
	background-color: #eaffea;
	border-color: #d0d0d0;
}
ul ul ul .plan-rubrique {
	background-color: #f4fff4;
	border-color: #e8e8e8;
}


/*
 * Habillage des forums (comentarios al final de los artículos)
 */

ul.forum-total {
	display: block;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.forum-fil {
	margin-top: 3em;
}
.forum-fil ul {
	display: block;
	margin: 0px;
	margin-left: 2em;
	padding: 0px;
	list-style: none;
}
.forum-titre {
	font-weight: bold;
	font-size: 120%;
}
.forum-item {
	margin: 0px;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0em;
	text-align: justify;
	color: #303030;
	font-size: 80%;
}
.forum-repondre-message {
	text-align: right;
}

/* Boite d'un forum : eclaircissement progressif des bords */

ul .forum {
	border: 1px solid #909090;
	padding: 0px;
	margin: 0px;
	margin-bottom: 1em;
}
ul ul .forum {
	border: 1px solid #a4a4a4;
}
ul ul ul .forum {
	border: 1px solid #b8b8b8;
}
ul ul ul ul .forum {
	border: 1px solid #cccccc;
}
ul ul ul ul ul .forum {
	border: 1px solid #e0e0e0;
}
ul ul ul ul ul ul .forum {
	border: 1px solid #e0e0e0;
}

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */

ul .forum-chapo {
	border: 0px;
	border-bottom: 1px solid #b8b8b8;
	margin: 0px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-size: 90%;
	background: #c4e0e0;
}
ul ul .forum-chapo {
	background: #d4e8e8;
}
ul ul ul .forum-chapo {
	background: #e4f0f0;
}
ul ul ul ul .forum-chapo {
	background: #f4f8f8;
}
ul ul ul ul ul .forum-chapo {
	background: #ffffff;
}