div#conteneur {
	width: 950px;
	margin: 0 auto;
}
div#contenu {
	float: left;
	width: 700px;
}
div#navigation {
	float: right;
	width: 200px;
	margin-right: 10px;
}
div#extra {
	float: right;
	clear: right;
	width: 200px;
	margin-right: 10px;
}
div#pied {
	clear: both;
	width: 100%;
}

.laune ul.anchors li a {
	width: 330px;
}