/* @override http://spip21.h2v.me/plugins/Dismoi/dismoi-important.css */

#page {
	width: 900px;
}



.more_info {
	padding-bottom: 15px;
	border-bottom: thin solid black;
	right: 0;
	text-align: right;
	margin-bottom: 20px;
	font-size: 12px;
}

.socialtags {
	float: left;
}

.documents_portfolio li {
	margin: 1em auto;
	display: inline-block;
	clear: none;
}