@import url(/plugins/auto/zpip/habillage.css);

/* @group Général */

body {
	color: black;
	background-color: gray;
}

#page {
	position: relative;
	background: #fff;
	margin: auto;
	padding: 0;
	text-align: left;
	border: 3px solid #ddd;
	width: 900px;
}

a, a:hover, a:visited, a.spip_out, a .spip-in, h1.h1 {
	color: #f67429;
}



/* @end */

/* @group En tete */

#formulaire_menu_lang {
	display: none !important;
}

#entete {
	width: 100%;
	border-bottom: 2px solid #f67429;
	margin-top: 0;
	margin-bottom: 1em;
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}

#nav {
	position: absolute;
	width: 100%;
	border-style: none;
}

#titre_site {
	position: absolute;
	top: 40px;
	left: 29px;
}

ul.menu-liste {
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	position: absolute;
	border-style: none;
	left: 3px;
	border-top-style: none;
}

ul.menu-liste a, ul.menu-liste:hover, ul.menu-liste:visited {
	color: silver;	
}

.formulaire_recherche {
	position: absolute;
	right: 5px;
	top: 10px;
}

#entete .menu-entree a, #entete .menu-entree a:visited {
	display: inline-block;
	color: silver;
}



/* @end */

/* @group Contenu */

#conteneur {
	margin-left: 20px;
}

.formulaire_notation {
	float: right;
}

#formulaire_forum {
	border: thin solid silver;
	background-color: #eaeaea;
	padding: 13px;
}

#formulaire_forum legend {
	background-color: #eaeaea;
}

li.forum-fil {
	list-style-type: none;
}

.comment-meta {
	margin-left: -30px;
	list-style-type: none;
}

.comment-texte {
	padding: 1px 0 1px 10px;
	border-left: thin dotted silver;
}



/* @end */

/* @group Pied */

#pied {
	background-color: #690007;
	margin: 0;
	padding: 0;
	border-style: none;
	color: white;
}

#pied h2 {
	color: white;
	text-align: center;
	border-bottom: thin solid silver;
}

#pied a, #pied a:hover, #pied a:visited {
	color: white;
}

#pied .boite {
	width: 30%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	list-style-type: none;
	margin: 10px;
}

#pied .boite ul, #pied .boite li {
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 5px 0 0;
}



/* @end */

/* @group Extras */

.liste.syndic_articles {
	border-left: thin dotted silver;
	padding-left: 1em;
	padding-right: 1em;
	text-align: justify;
}

.liste.syndic_articles .item a {
	font-weight: bold;
}

.info-publi {
	margin-bottom: 1em;
	margin-top: 0.5em;
	font: 11px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.date-article-syndic {
	display: block;
	color: gray;
	border-bottom-style: solid;
	border-bottom-width: thin;
}

.liste-items ul {
	padding-left: 1em;
	list-style-type: none;
}

/* @end */

/* @group Supprimé */

#hierarchie {
	display: none;
}

#formulaire_menu_lang {
	display: none !important;
}

.formulaire_recherche label {
	display: none;
}

.liste.syndic_articles h2.h2 {
	display: none;
}

.liste.articles.sommaire h2.h2 {
	display: none;
}

/* @end */