<plugin>
	<nom><multi>
	Dis moi, pour Zpip
	</multi></nom>
	<auteur>
		[ydikoi->http://www.ydikoi.net]
	</auteur>
	<licence>
		Attribution-Noncommercial-Share Alike 2.0 Generic
	</licence>
  <version>1.0</version>
	<description>
		Un squelette de blog en deux colonnes, une pour le blog et une pour les liens issus de la syndication. La navigation (archives, commentaires, …) est en pied de page.
	</description>
  <icon>vignette.jpg</icon>
  <etat>stable</etat>
  <prefix>habillage</prefix>
	<necessite id="Z" version="[1.2.0;]" />
	<necessite id="menus" version="[0.8;]" />
	<necessite id="Nuage" version="[1.4;]" />
	<categorie>squelette</categorie>
</plugin>