@import "bootstrap/css/layouts.less";
@import "css/layouts/layout7";
@import "css/layouts/layout34";
@import "css/layouts/layout39";

#layout34 > .core(8,4,@gridColumnWidth,@gridGutterWidth);

@media (min-width: 1200px) {
  #layout7 > .core(6,3,3,@gridColumnWidth1200,@gridGutterWidth1200);
}
@media (min-width: 768px) and (max-width: 979px) {
  #layout34 > .core(9,3,@gridColumnWidth768,@gridGutterWidth768);
}
@media (max-width: 767px) {
  #layout39 > .core(45%,45%,@gridColumnWidth768,@gridGutterWidth768);
}

@media (max-width: 450px) {
  div#aside {float:none;width:100%;}
  div#extra {float:none;width:100%;}
}

.page {margin-top: 40px;}
/*
#content{float:right;}
#aside{float:left;}
#extra{float:left;clear:left;}
#footer {text-align: center; margin-top: 4em;padding: 4em 0;}
*/
