.page_sommaire .breadcrumb {display: none;}

.secondary [class^="icon-"],
.secondary [class*=" icon-"] {opacity: 0.5;filter: ~"alpha(opacity=50)";}

.noisette_herbier .liste.herbier .item .spip_logos {display: block;}
.noisette_herbier .liste.herbier.carousel {
   text-align: center;

  .liste-items {border: 0;}
  .liste-items .item {width: 100%;border:0;}
  .liste-items .entry-title {font-size: inherit;line-height: inherit;}
  .liste-items .entry-title a {display: block;max-height: 100px;overflow: visible;margin-bottom: 3em;}
  .liste-items .spip_logos {
    max-width: 90%;
    max-height: 100px;
    float: none;
    display: block;
    margin:0 auto 1em;
  }

}