.page_sommaire .breadcrumb {display: none;}

.secondary [class^="icon-"],
.secondary [class*=" icon-"] {opacity: 0.5;filter: ~"alpha(opacity=50)";}

.noisette_herbier .liste.herbier .item .spip_logos {display: block;}
.noisette_herbier .liste.herbier.carousel {
   text-align: center;

  .liste-items {border: 0;}
  .liste-items .item {width: 100%;border:0;}
  .liste-items .entry-title {font-size: inherit;line-height: inherit;}
  .liste-items .entry-title a {display: block;max-height: 100px;overflow: visible;margin-bottom: 3em;}
  .liste-items .spip_logos {
    max-width: 90%;
    max-height: 100px;
    float: none;
    display: block;
    margin:0 auto 1em;
  }

}


.noisette_badges .badges a {display: inline-block; margin: 4px; padding: 0; border: 0; width: 80px; height: 15px; }
.noisette_badges .badges a:hover {text-decoration: none;}
#logo_rss {background: url(img/badge_rss.png) no-repeat;}
#logo_rss:hover {background: url(img/badge_rss_hover.png) no-repeat;}
#logo_sarkaspip {background: url(img/badge_sarkaspip.png) no-repeat;}
#logo_sarkaspip:hover {background: url(img/badge_sarkaspip_hover.png) no-repeat;}
#logo_spip {background: url(img/badge_spip.png) no-repeat;}
#logo_spip:hover {background: url(img/badge_spip_hover.png) no-repeat;}
#logo_xhtml {background: url(img/badge_xhtml.png) no-repeat;}
#logo_xhtml:hover {background: url(img/badge_xhtml_hover.png) no-repeat;}
#logo_perso {background: url(img/badge_perso.png) no-repeat;}
#logo_perso:hover {background: url(img/badge_perso_hover.png) no-repeat;}
