@import "css/variables.less";
@import "css/mixins.less";

body {margin-top: @navbarHeight;} /* place pour la barre static */

.secondary [class^="icon-"],
.secondary [class*=" icon-"] {opacity: 0.5;filter: ~"alpha(opacity=50)";}

.cartouche {margin-bottom: @baseLineHeight;}
ul.tags {list-style: none;display: inline; li {display: inline; a {color:inherit;} .sep {display: none;}}}
.main {
  .clearfix;
  margin-bottom: @baseLineHeight;
  .texte, .chapo {.clearfix;margin-bottom: @baseLineHeight;}
}
section > footer, article > footer {.clearfix;margin-bottom: @baseLineHeight;}
section > aside, article > aside {.clearfix;margin-bottom: @baseLineHeight;}



/* Bandeau superieur */
.header {position: relative;}
.accueil h1 small {display: block;}
.accueil a {color: inherit;}
.accueil .spip_logos {float: left;margin:@paddingLarge;margin-left: 0;margin-top: 0;}

/* form recherche */

.formulaire_recherche {padding-right: 42px+2*14px;} /* provisionner la largeur du bouton+padding sur le input.search */
.formulaire_recherche form .input-append {width:100%;}
.formulaire_recherche form input.search {width:100%;}

.bandeau .recherche {max-width: 4*@gridColumnWidth+3*@gridGutterWidth;position: absolute;top:0;right: 0;margin:@paddingLarge;margin-right: 0;margin-left: 0;}
.bandeau .formulaire_recherche {margin-bottom: 0;}
@media (min-width: 1200px) {
  .bandeau .recherche {max-width: 3*@gridColumnWidth1200+2*@gridGutterWidth1200;}
}
@media (min-width: 768px) and (max-width: 979px) {
  .bandeau .recherche {max-width: 4*@gridColumnWidth768+3*@gridGutterWidth768;}
}
@media (max-width: 768px) {
  .bandeau .recherche {max-width: 3*@gridColumnWidth768+2*@gridGutterWidth768;}
}
@media (max-width: 550px) {
  .bandeau .recherche {width: 100%;max-width: 100%;position: relative;}
}


/* herbier */

.noisette_herbier .liste.herbier .item .spip_logos {display: block;}
.noisette_herbier .liste.herbier.carousel {
   text-align: center;

  .liste-items {border: 0;}
  .liste-items .item {width: 100%;border:0;}
  .liste-items .entry-title {font-size: inherit;line-height: inherit;}
  .liste-items .entry-title a {display: block;max-height: 100px;overflow: visible;margin-bottom: 3em;}
  .liste-items .spip_logos {
    max-width: 90%;
    max-height: 100px;
    float: none;
    display: block;
    margin:0 auto 1em;
  }
}

/* agenda/calendrier */
.minicalendar > h2 {display: none;}
.minicalendar {margin: 0;}

/* resultats */
.resultats .liste-items .entry .info-publi {display: block;margin-bottom: 0;}
.resultats .liste-items .entry .entry-content {display: block;margin-bottom: 0;}
.resultats .liste-items .entry .spip_logos {display: inline;max-width: 25px;}

/* pied */

/* badges dans le pied : sprite calculee dans inc_badges */
.noisette_badges .badges a {display: inline-block; margin: 4px; padding: 0; border: 0; width: 80px; height: 15px; background-repeat: no-repeat;background-position: top left;}
.noisette_badges .badges a:hover {text-decoration: none;background-position: bottom left;}

/* Exceptions par page */

/* home */

.page_sommaire .breadcrumb {display: none;}
