@import "css/variables.less";

.formulaire_recherche {padding-right: 42px+2*14px;} /* provisionner la largeur du bouton+padding sur le input.search */
.formulaire_recherche form .input-append {width:100%;}
.formulaire_recherche form input.search {width:100%;}

.header {position: relative;}
.accueil h1 small {display: block;}
.accueil .spip_logos {float: left;margin:@paddingLarge;margin-left: 0;margin-top: 0;}

.bandeau .recherche {max-width: 250px;position: absolute;top:0;right: 0;margin:@paddingLarge;margin-right: 0;margin-left: 0;}
.bandeau .formulaire_recherche {margin-bottom: 0;}

@media (max-width: 550px) {
  .bandeau .recherche {width: 100%;max-width: 100%;position: relative;}
}

.page_sommaire .breadcrumb {display: none;}

.secondary [class^="icon-"],
.secondary [class*=" icon-"] {opacity: 0.5;filter: ~"alpha(opacity=50)";}

.noisette_herbier .liste.herbier .item .spip_logos {display: block;}
.noisette_herbier .liste.herbier.carousel {
   text-align: center;

  .liste-items {border: 0;}
  .liste-items .item {width: 100%;border:0;}
  .liste-items .entry-title {font-size: inherit;line-height: inherit;}
  .liste-items .entry-title a {display: block;max-height: 100px;overflow: visible;margin-bottom: 3em;}
  .liste-items .spip_logos {
    max-width: 90%;
    max-height: 100px;
    float: none;
    display: block;
    margin:0 auto 1em;
  }

}


/* badges dans le pied : sprite calculee dans inc_badges */
.noisette_badges .badges a {display: inline-block; margin: 4px; padding: 0; border: 0; width: 80px; height: 15px; background-repeat: no-repeat;background-position: top left;}
.noisette_badges .badges a:hover {text-decoration: none;background-position: bottom left;}
