/* 
	Codes couleurs GESHI 
	utilisés dans un bloc de couleur de fond #003E4B 
	avec un contraste minimum de 4.5
*/

.spip_spip .imp, .spip .imp {font-weight: bold; color: #FF8282;}
.spip_spip .coMULTI, .spip .coMULTI {color: #AF9C9C; font-style: italic;}
.spip_spip .es0, .spip .es0 {color: #A8B7E0; font-weight: bold;}
.spip_spip .re0, .spip .re0 {color: #F97E32;}
.spip_spip .re1, .spip .re1 {color: #FFAB00;} /* #BALISE */
.spip_spip .re2, .spip .re2 {color: #72A9FB;}
.spip_spip .re4, .spip .re4 {color: #FF82B7;} /* crochets et parenthèses */
.spip_spip .re10, .spip .re10 {color: #72A9FB;}
.spip_spip .re11, .spip .re11 {color: #72A9FB;} /* <BOUCLE_ */
.spip_spip .re12, .spip .re12 {color: #7ED9FF;} /* (TABLES) */
.spip_spip .re13, .spip .re13 {color: #BFAFFF;}
.spip_spip .re15, .spip .re15 {color: #72A9FB;}
.spip_spip .re20, .spip .re20 {color: #6CA0FB;}
.spip_spip .re21, .spip .re21 {color: #EDE199}
.spip_spip .re22, .spip .re22 {color: #BB9B75;}
.spip_spip .re23, .spip .re23 {color: #EDE199;}
.spip_spip .re30, .spip .re30 {color: #DEFF00}
.spip_spip .re31, .spip .re31 {color: #DEFF00}
.spip_spip .re40, .spip .re40 {color: #DEFF00;} /* {argument} */
.spip_spip .re41, .spip .re41 {color: #DEFF00;}
.spip_spip .re50, .spip .re50 {color: #FE7A3A;} /* |filtre */
.spip_spip .re102, .spip .re102 {color:#FF7968; font-weight:bold;}
.spip_spip span.xtra, .spip span.xtra { display:block; }

.spip_php .imp, .php .imp {font-weight: bold; color: #FF8282;}
.spip_php .de1, .php .de1 {color: #FFFFFF;} /* textes */
.spip_php .kw1, .php .kw1 {color: #4BBAFF;} /* return if else for */
.spip_php .kw2, .php .kw2 {color: #4BBAFF;} /* function true false */
.spip_php .kw3, .php .kw3 {color: #EDE199;} /* array isset define */
.spip_php .co1, .php .co1 {color: #AEAEAE;} /* // commentaire */
.spip_php .co2, .php .co2 {color: #AEAEAE;}
.spip_php .co3, .php .co3 {color: #FFC10E;} /* <<<EOF */
.spip_php .co4, .php .co4 {color: #00bbdd;}
.spip_php .coMULTI, .php .coMULTI {color: #AF9C9C; font-style: italic;}
.spip_php .es_h, .php .es_h {color: #00bbdd; font-weight: bold;}
.spip_php .es_h, .php .es_h {color: #00bbdd; font-weight: bold;}
.spip_php .br0, .php .br0 {color: #EDE199;} /* () {} */
.spip_php .sy0, .php .sy0 {color: #EDE199;} /* , ! = ->  & */
.spip_php .st0, .php .st0 {color: #FFC10E;} /* "chaine" */
.spip_php .st_h, .php .st_h {color: #FFC10E;} /* 'chaine' */
.spip_php .nu0, .php .nu0 {color: #DF7BE1;} /* 109 */
.spip_php .nu8, .php .nu8 {color: #1DB3A7;}
.spip_php .nu12, .php .nu12 {color: #1DB3A7;}
.spip_php .nu19, .php .nu19 {color:#DF7BE1;} /* 0 */
.spip_php .me1, .php .me1 {color: #FE7A3A;} /* cle : $tab->cle */
.spip_php .me2, .php .me2 {color: #FE7A3A;}
.spip_php .re0, .php .re0 {color: #FE7A3A;} /* $param : function f($param) */
.spip_php span.xtra, .php span.xtra { display:block; }

.spip_xml .imp, .xml .imp {font-weight: bold; color: #FF8282;}
.spip_xml .es_h, .xml .es_h {color: #A8B7E0; font-weight: bold;}
.spip_xml .br0, .xml .br0 {color: #66cc66;}
.spip_xml .sy0, .xml .sy0 {color: #66cc66;}
.spip_xml .st0, .xml .st0 {color: #C9CA37;} /* <x y='valeur' /> */
.spip_xml .sc-1, .xml .sc-1 {color: #aaaaaa; font-style: italic;}
.spip_xml .sc0, .xml .sc0 {color: #00bbdd;}
.spip_xml .sc1, .xml .sc1 {color: #EDE199;} /* entités &machin; */
.spip_xml .sc2, .xml .sc2 {color: #58ADB5;}
.spip_xml .sc3, .xml .sc3 {color: #aaaaaa;} /* = (attr='valeur') */
.spip_xml .re0, .xml .re0 {color: #7BCA2A;} /* <x attribut='z' /> */
.spip_xml .re1, .xml .re1 {color: #7EBAFF;} /* <balise */
.spip_xml .re2, .xml .re2 {color: #7EBAFF;} /* /> */
.spip_xml span.xtra, .xml span.xtra { display:block; }

.spip_css .imp, .css .imp {font-weight: bold; color: #FF8282;}
.spip_css .kw1, .css .kw1 {color: #EDE199; font-weight: bold;}
.spip_css .kw2, .css .kw2 {color: #F87B70;}
.spip_css .co1, .css .co1 {color: #a1a100;}
.spip_css .co2, .css .co2 {color: #FE7A3A; font-style: italic;}
.spip_css .coMULTI, .css .coMULTI {color: #aaaaaa; font-style: italic;}
.spip_css .es_h, .css .es_h {color: #A8B7E0; font-weight: bold;}
.spip_css .br0, .css .br0 {color: #7BCA2A;}
.spip_css .sy0, .css .sy0 {color: #7BCA2A;}
.spip_css .st0, .css .st0 {color: #C9CA37;}
.spip_css .nu0, .css .nu0 {color: #cc66cc;}
.spip_css .re0, .css .re0 {color: #FFC10E;}
.spip_css .re1, .css .re1 {color: #AF9C9C;}
.spip_css .re2, .css .re2 {color: #7EBAFF;}
.spip_css .re3, .css .re3 {color: #E78E09;}
.spip_css span.xtra, .css span.xtra { display:block; }

.spip_bash .imp, .bash .imp {font-weight: bold; color: #FF8282;}
.spip_bash .kw1, .bash .kw1 {color: #EDE199; font-weight: bold;}
.spip_bash .kw2, .bash .kw2 {color: #F87B70; font-weight: bold;}
.spip_bash .kw3, .bash .kw3 {color: #a1a100; font-weight: bold;}
.spip_bash .co0, .bash .co0 {color: #7EBAFF; font-style: italic;}
.spip_bash .co1, .bash .co1 {color: #cc66cc;}
.spip_bash .co2, .bash .co2 {color: #C9CA37; font-style: italic;}
.spip_bash .es_h, .bash .es_h {color: #A8B7E0; font-weight: bold;}
.spip_bash .br0, .bash .br0 {color: #cc66cc; font-weight: bold;}
.spip_bash .sy0, .bash .sy0 {color: #EDE199; font-weight: bold;}
.spip_bash .st0, .bash .st0 {color: #FFC10E;}
.spip_bash .nu0, .bash .nu0 {color: #EDE199;}
.spip_bash .re0, .bash .re0 {color: #7BCA2A;}
.spip_bash .re1, .bash .re1 {color: #7BCA2A;}
.spip_bash .re2, .bash .re2 {color: #7BCA2A;}
.spip_bash .re4, .bash .re4 {color: #7BCA2A;}
.spip_bash .re5, .bash .re5 {color: #7BCA2A;}
.spip_bash span.xtra, .bash span.xtra { display:block; } 
