/* - - - - - - - - - - - - - - - - - - - - -

Title : Skeletor CSS
Author : Mathieu Drouet (IZO)
URL : www.aucuneid.net/bones

Description : css du squelette BONES Skeletor

Created : Janvier 2006
Modified : 

- - - - - - - - - - - - - - - - - - - - - */



/* ----- CSS ----- */

*{
margin:;
padding:;
font-family:;
font-size:;
}
html{
margin:;
padding:;
background:;
}
body{
margin:;
padding:;
background:;
}

/* ----- IDS ----- */

#container{
width:;
margin:;
padding:;
background:;
text-align:;
}
#primaryContent{
position:;
float:;
width:;
margin:;
padding:;
background:;
text-align:;
}
#secondaryContent{
position:;
float:;
width:;
margin:;
padding:;
background:;
text-align:;
}
#navigation{
margin:;
padding:;
}
#footer{
margin:;
padding:;
clear:;
}

/* ----- CLASSES ----- */

.hide{
/* display:none; */
}
.show{
/* display:block; */
}

/* ----- HEADINGS ----- */

h1{
font:;
font-size:;
font-weight:;
color:;
margin:;
padding:;
}
h2{
font:;
font-size:;
font-weight:;
color:;
margin:;
padding:;
}
h3{
font:;
font-size:;
font-weight:;
color:;
margin:;
padding:;
}
h4{
font:;
font-size:;
font-weight:;
color:;
margin:;
padding:;
}

/* ----- PARAGRAPHS ----- */

p{
font:;
color:;

font-size:;
font-family:;
font-style:;
font-weight:;
font-variant:;

text-align:;
text-indent:;
text-decoration:;
text-shadow:;
text-transform:;

letter-spacing:;
word-spacing:;
}
#primaryContent p{
}
#secondaryContent p{
}

/* ----- QUOTES ----- */

blockquote{
margin:;
padding:;
background-color:;
font:;
color:;
}
blockquote p{
}
cite{
font:;
color:;
}
blockquote cite{
}

/* ----- CODE ----- */

pre{
margin:;
padding:;
background-color:;
border:;
font-size:;
overflow:;
}
code{
font-size:;
}
p code{
}
pre code{
}

/* ----- LISTS ----- */

li{
list-style:;

list-style-type:;
list-style-image:;
list-style-position:;
float:;
margin:;
padding:;
}
li p{
}
ol{
width:;
margin:;
padding:;
}
ul{
width:;
margin:;
padding:;
}
ol li{
}
ul li{
}

#navigation li{
}

#navigation ul{
}

#navigation ul li{
}

#navigation ol{
}

#navigation ol li{
}

/* ----- IMAGES ----- */

img{
border:;
}
img a{
border:;
text-decoration:;
}
img a:hover{
border:;
}

/* BREAK */

hr{
/* display:none; */
}

/* ----- TEXT FORMATTING ----- */

strong{
}
em{
}
b{
}
i{
}

/* ----- LINKS ----- */

a{
font:;
color:;
text-decoration:;
border-bottom:;
}
a:hover{
color:;
background-color:;
border-bottom:;
}
a:visited, a:active, a:focus{
color:;
background-color:;
border-bottom:;
}
a:visited{
color:;
background-color:;
border-bottom:;
}
a:active{
color:;
background-color:;
border-bottom:;
}
a:focus{
color:;
background-color:;
border-bottom:;
}

p a{
}
cite a{
}
li a{
}
dt a{
}
dd a{
}

/* ----- TABLES ----- */

table{
width:;
margin:;
padding:;
frame:;
text-align:;
}
caption{
font:;
color:;
position:;
text-align:;
display:;
}
thead{
font:;
color:;
text-align:;
background-color:;
margin:;
padding:;
}
tbody{
font:;
color:;
text-align:;
background-color:;
margin:;
padding:;
}
tfoot{
font:;
color:;
text-align:;
background-color:;
margin:;
padding:;
}
tr{
font:;
color:;
background-color:;
}
tr .alt{
font:;
color:;
background-color:;
}
th{
}
td{
width:;
margin:;
padding:;
}

/* ----- FORMS ----- */

form{
width:;
margin:;
padding:;
}
fieldset{
border:;
width:;
margin:;
padding:;
}
legend{
font:;
color:;
margin:;
padding:;
}
label{
margin:;
padding:;
font-size:;
font-family:;
}
input{
border:;
margin:;
padding:;
font-size:;
font-family:;
}
textarea{
border:;
margin:;
padding:;
font-size:;
font-family:;
}
input, textarea{
}
select{
border:;
margin:;
padding:;
font-size:;
font-family:;
}
optgroup{
font:;
}
option{
font:;
}

/* ----- DEFINITIONS ----- */

dl{
font-size:;
margin:;
padding:;
}
dt{
color:;
margin:;
padding:;
}
dd{
color:;
margin:;
padding:;
}

/* ----- zone des osselets ----- */


/* -----inc-auteurs ----- */
.inc-auteurs { ... }
.inc-auteurs h2 { ... }
.inc-auteurs ul { ... }
.inc-auteurs li { ... }

/* -----inc-breve ----- */
.inc-breve { ... }
.inc-breve h2 { ... }
.inc-breve ul { ... }
.inc-breve li { ... }
/* -----inc-fichier ----- */
.inc-fichier { ... }
.inc-fichier h2 { ... }
.inc-fichier ul { ... }
.inc-fichier li { ... }
/* -----inc-footer ----- */
.inc-footer { ... }
.inc-footer h2 { ... }
.inc-footer ul { ... }
.inc-footer li { ... }
/* -----inc-forum ----- */
.inc-forum { ... }
.inc-forum h2 { ... }
.inc-forum ul { ... }
.inc-forum li { ... }
/* -----inc-images ----- */
#inc-images { ... }
#inc-images h2 { ... }
#inc-images ul { ... }
#inc-images li { ... }
/* -----inc-meme_rubrique ----- */
.inc-meme_rubrique { ... }
.inc-meme_rubrique h2 { ... }
.inc-meme_rubrique ul { ... }
.inc-meme_rubrique li { ... }
/* -----inc-mots ----- */
.inc-mots { ... }
.inc-mots h2 { ... }
.inc-mots ul { ... }
.inc-mots li { ... }
/* -----inc-navigation ----- */
.inc-navigation { ... }
.inc-navigation h2 { ... }
.inc-navigation ul { ... }
.inc-navigation li { ... }
/* -----inc-recherche ----- */
.inc-recherche { ... }
.inc-recherche h2 { ... }
.inc-recherche ul { ... }
.inc-recherche li { ... }
/* -----inc-rubrique ----- */
.inc-rubrique { ... }
.inc-rubrique h2 { ... }
.inc-rubrique ul { ... }
.inc-rubrique li { ... }
/* -----inc-syndic ----- */
.inc-syndic { ... }
.inc-syndic h2 { ... }
.inc-syndic ul { ... }
.inc-syndic li { ... }
/* -----inc-logo ----- */
.inc-logo { ... }
.inc-logo h2 { ... }
.inc-logo ul { ... }
.inc-logo li { ... }
/* -----inc-article-rubrique ----- */
.inc-article-rubrique { ... }
.inc-article-rubrique h2 { ... }
.inc-article-rubrique ul { ... }
.inc-article-rubrique li { ... }
/* -----inc-sous-rubrique ----- */
.inc-sous-rubrique { ... }
.inc-sous-rubrique h2 { ... }
.inc-sous-rubrique ul { ... }
.inc-sous-rubrique li { ... }


/* -----style spip ----- */
.texte { ... }


