/* - - - - - - - - - - - - - - - - - - - - -

Title : css de in-recherche
Author : izo
URL : http://www.aucuneid.net/bones
d'apres : http://romy.tetue.free.fr/article.php3?id_article=333

Description :CSS pour le forum
Created : Janvier 2006
Modified : 

- - - - - - - - - - - - - - - - - - - - - */

.inc-recherche { ... }
.inc-recherche h2 { ... }
.inc-recherche ul { ... }
.inc-recherche li { ... }