/* - - - - - - - - - - - - - - - - - - - - -

Title : css de inc-images
Author : izo
URL : http://www.aucuneid.net/bones
d'apres : http://romy.tetue.free.fr/article.php3?id_article=333

Description :CSS pour la bgestion des images
Created : Janvier 2006
Modified : 

- - - - - - - - - - - - - - - - - - - - - */

.inc-images { ... }
.inc-images h2 { ... }
.inc-images ul { ... }
.inc-images li { ... }