/* - - - - - - - - - - - - - - - - - - - - -

Title : css de in-forum
Author : izo
URL : http://www.aucuneid.net/bones
d'apres : http://romy.tetue.free.fr/article.php3?id_article=333

Description :CSS pour le forum
Created : Janvier 2006
Modified : 

- - - - - - - - - - - - - - - - - - - - - */

.inc-forum { ... }
.inc-forum h2 { ... }
.inc-forum ul { ... }
.inc-forum li { ... }