/* - - - - - - - - - - - - - - - - - - - - -

Title : css de in-fichier
Author : izo
URL : http://www.aucuneid.net/bones
d'apres : http://romy.tetue.free.fr/article.php3?id_article=333

Description :CSS pour les fichiers
Created : Janvier 2006
Modified : 

- - - - - - - - - - - - - - - - - - - - - */

.inc-fichier { ... }
.inc-fichier h2 { ... }
.inc-fichier ul { ... }
.inc-fichier li { ... }