/* - - - - - - - - - - - - - - - - - - - - -

Title : css de inc-rubrique
Author : izo
URL : http://www.aucuneid.net/bones
d'apres : http://romy.tetue.free.fr/article.php3?id_article=333

Description :CSS pour la liste des rubriques
Created : Janvier 2006
Modified : 

- - - - - - - - - - - - - - - - - - - - - */

.inc-rubrique { ... }
.inc-rubrique h2 { ... }
.inc-rubrique ul { ... }
.inc-rubrique li { ... }