/* - - - - - - - - - - - - - - - - - - - - -

Title : css de inc-footer
Author : izo
URL : http://www.aucuneid.net/bones
d'apres : http://romy.tetue.free.fr/article.php3?id_article=333


Created : Janvier 2006
Modified : 

- - - - - - - - - - - - - - - - - - - - - */

.inc-footer { ... }
.inc-footer h2 { ... }
.inc-footer ul { ... }
.inc-footer li { ... }