
/* - - - - - - - - - - - - - - - - - - - - -

Title : css de in-breve
Author : izo
URL : http://www.aucuneid.net/bones
d'apres : http://romy.tetue.free.fr/article.php3?id_article=333

Description :CSS pour les breves
Created : Janvier 2006
Modified : 

- - - - - - - - - - - - - - - - - - - - - */

.inc-breve { ... }
.inc-breve h2 { ... }
.inc-breve ul { ... }
.inc-breve li { ... }