/* - - - - - - - - - - - - - - - - - - - - -

Title : css de in-mots
Author : izo
URL : http://www.aucuneid.net/bones
d'apres : http://romy.tetue.free.fr/article.php3?id_article=333

Description :CSS pour les mots clef
Created : Janvier 2006
Modified : 

- - - - - - - - - - - - - - - - - - - - - */

.inc-mots { ... }
.inc-mots h2 { ... }
.inc-mots ul { ... }
.inc-mots li { ... }