/* - - - - - - - - - - - - - - - - - - - - -

Title : css de in-meme_rubrique
Author : izo
URL : http://www.aucuneid.net/bones
d'apres : http://romy.tetue.free.fr/article.php3?id_article=333

Description :CSS pour  meme_rubrique
Created : Janvier 2006
Modified : 

- - - - - - - - - - - - - - - - - - - - - */

.inc-meme_rubrique { ... }
.inc-meme_rubrique h2 { ... }
.inc-meme_rubrique ul { ... }
.inc-meme_rubrique li { ... }