<plugin>
	<nom>Sarka-SPIP Nautica</nom>
	<auteur>C&eacute;dric Couvrat</auteur>
	<licence><a href='http://www.opensource.org/licenses/gpl-license.php' rel='licence'>GPL</a></licence>
	<version>0.1</version>
	<description>Un th&egrave;me bas&eacute; sur <a href='http://www.oswd.org/design/preview/id/3126'>Nautica</a> pour un layout fixe de 776 pixels de large.</description>
	<icon>vignette.png</icon>
	<etat>stable</etat>
	<prefix>theme_sarka_nautica</prefix>
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>