<plugin>
	<nom><multi>[fr]R1R2</multi></nom>
	<slogan><multi>[fr]Squelette Z limit&#233; &#224; 2 niveaux de rubrique</multi></slogan>
	<icon>img_pack/r1r2.png</icon>
	<auteur>[chankalan->http://www.spip-contrib.net/chankalan]</auteur>
	<licence>GNU/GPL V3</licence>
	<version>0.11.0</version>
	<etat>test</etat>
	<description>
		<multi>
		[fr]Ce plugin installe les fichiers n&#233;cessaires au squelette r1r2. Il n&#233;cessite ZPIP v1.7.9 qu'il surcharge, et un SPIP 2.1.1 minimum (mais ça devrait fonctionner sur toute version...). C'est un point de d&#233;part pour des sites plus complexes, et en même temps l'occasion de faire un tutoriel sur le squelette, ZPIP et les balises inclure.
		</multi>
	</description>
	<lien>http://spip-contrib.net/r1r2-un-squelette-simple-dans-un-plugin-simple</lien>
	<prefix>r1r2</prefix>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.1.1;2.1.99]" />
	<necessite id="Z" version="[1.7.9;]" />
</plugin>
