<plugin>
	<nom><multi>[fr]R1R2</multi></nom>
	<slogan><multi>[fr]Squelette Z limit&#233; &#224; 2 niveaux de rubrique</multi></slogan>
	<auteur>chankalan</auteur>
	<licence>GNU/GPL V3</licence>
	<version>0.2.2</version>
	<etat>dev</etat>
	<icon>img_pack/r1r2.png</icon>
	<description>
		<multi>[fr]Ce plugin installe les fichiers n&#233;cessaires au squelette R1R2.<br />
		Il propose d'&#233;viter la page rubrique en faisant un lien directement vers le premier article, de n'afficher le menu d'articles que s'il y en a plusieurs, et de n'utiliser que deux rubriques de profondeur = Rubrique1Rubrique2<br />
		Il n&#233;cessite ZPIP v1.7.9 qu'il surcharge, et un SPIP 2.1.1 minimum (mais ça devrait fonctionner sur toute version... pareil que ZPIP v1).<br />
		C'est un point de d&#233;part pour des sites plus complexes, et en même temps l'occasion de faire un tutoriel sur le squelette, ZPIP et les balises inclure.<br />
		Plus d'explication sur la page du tutoriel : https://contrib.spip.net/r1r2-un-squelette-simple-dans-un-plugin-simple-le et un site de d&#233;monstration http://r1r2.spip.free.fr/
		</multi>
	</description>
	<lien>https://contrib.spip.net/r1r2-un-squelette-simple-dans-un-plugin-simple</lien>
	<prefix>r1r2</prefix>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.1.1;3.1.99]" /> 
	<necessite id="Z" version="[1.7.1;1.9.9]" />
</plugin>