<plugin>
	<nom>Squelette SoyezCreateurs pour spip 1.9.3</nom>
	<auteur>
	[Jacques->http://www.spip-contrib.net/_Jacques-PYRAT_] 
_ &#169; 2006 - Distribu&#233; sous licence CC-By-SA
	</auteur>
	<lien>[Exemple d'utilisation et documentation->http://www.pyrat.net/]</lien>
	<version>1.9.3.0</version>
	<etat>stable</etat>
	<description>
	Ce plugin active ou d&eacute;sactive le squelette {{SoyezCreateurs}}.
	
	[Configuration->.?exec=cfg&amp;cfg=soyezcreateurs]
	</description>
 	<prefix>SoyezCreateurs</prefix>
	<options>soyezcreateurs_options.php</options>
	<necessite id="SPIP" version='[1.9.3.11911;]' />
	<necessite id="AccesRestreint" version="[0.2;]" />
	<necessite id="acronymes" version="[0.1;]" />
	<necessite id="forms" version="[0.301;]" />
	<necessite id="Agenda" version="[0.13;]" />
	<necessite id="WCalendar" version="[0.11;]" />
	<necessite id="cfg" version="[1.0.8;]" />
	<necessite id="Fonctions_images" version="[0.4;]" />
	<chemin dir='' />
</plugin>
