<plugin>
	<nom>Fork SPIP 1.9.3 pour Squelette SoyezCreateurs 1.9.2</nom>
	<auteur>
	[Jacques->http://www.spip-contrib.net/_Jacques-PYRAT_] 
_ &#169; 2006 - Distribu&#233; sous licence CC-By-SA
	</auteur>
	<lien>[Exemple d'utilisation et documentation->http://www.pyrat.net/]</lien>
	<version>1.9.3</version>
	<etat>stable</etat>
    <description>
	Ce plugin permet d'utiliser le squelette {{SoyezCreateurs}} avec SPIP 1.9.3.
	
	[Configuration->.?exec=cfg&amp;cfg=soyezcreateurs]
	</description>
	<prefix>SoyezCreateursFork</prefix>
	<necessite id="SoyezCreateurs" version="[1.9.2;]" />
	<necessite id="SPIP" version='[1.9301;]' />
	<chemin dir='' />
</plugin>
