<plugin>
	<nom>Squelette SoyezCreateurs pour SPIP 2.0</nom>
	<auteur>
	[Jacques->http://www.spip-contrib.net/_Jacques-PYRAT_] 
_ &#169; 2003-2008 - Distribu&#233; sous licence GPL (même numéro que celle de SPIP)
	</auteur>
	<lien>[Exemple d'utilisation et documentation->http://www.pyrat.net/]</lien>
	<version>2.0</version>
	<etat>stable</etat>
	<description>
	Ce plugin active ou d&eacute;sactive le squelette {{SoyezCreateurs}}.
	
	[Configuration->./?exec=cfg&amp;cfg=soyezcreateurs].
	
	[Configuration initiale à l'installation->./?exec=sc_config].
	</description>
 	<prefix>SoyezCreateurs</prefix>
	<options>soyezcreateurs_options.php</options>
	<necessite id="SPIP" version='[1.9.3.12008;]' />
	<necessite id="Fonctions_images" version="[0.4;]" />
	<necessite id="Agenda" version="[0.18;]" />
	<utilise id="AccesRestreint" version="[0.2;]" />
	<utilise id="acronymes" version="[0.1;]" />
	<utilise id="forms" version="[0.301;]" />
	<utilise id="WCalendar" version="[0.11;]" />
	<utilise id="cfg" version="[1.8.2;]" />
	<utilise id="boutonstexte" version="[0.3.0;]" />
	<utilise id="clevermail" version="[1.0.4;]" />
	<utilise id="couteau_suisse" version="[1.7.18.03;]" />
	<utilise id="crayons" version="[1.0;]" />
	<utilise id="barretypoenrichie" version="[2.5.0;]" />
	<utilise id="typoenluminee" version="[2.1.1;]" />
	<utilise id="barre_typo_generalisee" version="[1.5;]" />
	<utilise id="sedna" version="[1.0;]" />
	<utilise id="autorite" version="[0.9.2;]" />
	

	<chemin dir='' />
</plugin>
