/* 
 * Moulinette 
 * le squelette qui monte et qui descend
 */
body {
	width:auto;
	padding:0;
}
.row {
	margin:0;
}
/* navbar */
.navbar-header {
	margin-top:12px;
}
.navbar-toggle {
	margin-top:0;
}
.navbar-brand {
	float:none;
}
.btn.goto-plan, .btn.goto-home {
	margin-top:-4px;
}
button.navbar-toggle {
	margin-top:-8px; margin-bottom:4px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin:0; }
/*
 * contenu 
 */
.content-section {
	text-align:left;
	padding-top: 150px;
	padding-bottom:75px;
}
.chapo, .texte, .ps { font-size:20px; }
.glyphicon.glyphicon-link { float: left; margin: 8px 0 0 -20px; opacity: 0.5; }
.glyphicon.glyphicon-link:hover { opacity:1; }
/* on adapte les style du plugin Comments pour les forums */
.comments {
	margin-top:40px;
}
.comments-items .comment-item {
	border:none;
}
.comments p {
	font-size:1em;
}
.comments-posts {
	padding:35px;
}
.comments-items {
	padding-bottom:1em;
	border:none;
}
.modererforum > form, .modererforum > form > div {
	display:inline-block;
}
.modererforum .submit {
	padding:0.2em 0.5em;
	border-radius:4px;
	border:1px solid;
	margin:0 .5em;
}
/* fin de Comments */
/*
 * fin de contenu 
 */
/* pied de page */
.footer {
	padding-top: 2em;
	border-top:1px solid #666;
	padding-bottom: 2em;
	margin-bottom:0;
}
.footer .colophon {
	width:80%;
	float:left
}
.footer .generator {
	float:right;
}
.footer p {
	font-size:.9em;
}
/* fin pied de page */
/*
 * media queries 
 */
@media (max-width:767px) {
	.row {
		margin:0;
	}
	.content-section {
		padding-top: 100px;
	}
}