/*
 * Par defaut, pas de style pour les boutons, au naturel
 */


/**
 * 	Repris du privé, cache certains trucs 
 */
.invisible, .over, .js .over-js, .no-js .over-nojs {
    height: 1%;
    left: -3000em;
    position: absolute;
}