/* --------------------------------------------------------------

   layout.css
   Disposition des blocs principaux

-------------------------------------------------------------- */

/* ------------------------------------------
/* Disposition a l'ecran des blocs principaux
/* ------------------------------------------ */
body {
	background:none repeat scroll 0 0 #E7E7DE;
	font-size:.7em;
	margin: 0;
	padding: 0;
	color:#3E3E3E;
}

.page {
	margin:0 auto;
	text-align:left;
	width:980px;
	position:relative;
}

.header { 
	position:relative;
	min-height:85px;
}

.container {
	background:none repeat scroll 0 0 #FFFFFF;
	position:relative;
	clear:both;
	-moz-border-radius:20px 20px 0 0;
	-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	border-radius:20px 20px 0 0;
	overflow:auto; 
	color:#3E3E3E;
}

.has_banner .container{
	-webkit-border-top-right-radius:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
.content {
	float:left;
	width:640px;
	color:#3E3E3E;
	margin:20px 0 20px 20px; 
}

.content-principal{
	overflow-x: hidden;
    overflow-y: auto;
}
.extra1 {
	float:right;
	width:280px;
	overflow: hidden;
	padding:10px 10px 0 10px;
	margin:20px 0 0 10px;	
	color:#3E3E3E;
}
.extra2 {
	float:right;
	clear:right;
	width:280px;
	overflow: hidden;
	padding:0 10px 10px 10px;
	margin:0 0 0 10px;	
	color:#3E3E3E;
}

.footer {
	clear:both;
	padding:10px;
	text-align:right;
	background-color:#fff;
	overflow:auto;
}

.footer img { vertical-align: middle; }

/* Gabarit d'impression */
@media print {
	.extra1,
	.extra1,
	.footer { display: none; }
	.page,
	.content { width: auto; }
}

/* end */