.pagination_bas{
	margin-top:1em;
	border-top:3px solid #ccc;
}

.pagination_haut{
	margin-bottom:1em;
	border-bottom:3px solid #ccc;
}

.blog #content .infos_statistiques, .blog #content .infos_descriptif{
	width:48%;
}

/**
 * 	Calendrier mini
 */

.extra1 .calendriermini .calendar-container{
	height:auto;
}
.extra1 .calendriermini .calendar-container .ui-datepicker{
	margin:0 auto;
}