/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/
/*CSS Badoo style pagination*/
.pagination .sep,.pagination .label,.pagination span.tbc {display:none;}
.pagination {
	clear:both;
	padding:10px 0 0;
	display:block;
	color:#fff;
	overflow:auto;
}

.pagination .lien_pagination {
	float:left;
	font:1.1em arial,sans-serif;
	margin:0 .2em;
	padding:0 .2em;
	display:block;
	border:2px solid #EDF1F5;
	color:#969696;
}

.pagination .lien_pagination:hover, .pagination .lien_pagination:active {
	color: #fff;
	background:#59a5d1;
	border:2px solid #408bb6;
}

.pagination .on {
	float:left;
	display:block;
	color:#3E3E3E;
	font:bold 2.2em arial,sans-serif;
	margin:-.3em 0 0;
	padding:.1em .3em;
	position:relative;
}
.pagination .disabled {
	display:none;
}

.col .pagination .prev,.col .pagination .next {display: none;}

.pagination.tri span.on, .pagination.tri strong.on{
	color: #fff;
	background:#59a5d1;
	border:2px solid #408bb6;
	font:14px arial,sans-serif;
	margin:0 4px;
	padding:0 3px;
}