/*  ------------------------------------------
/*  Habillage des formulaires SPIP
/*  ------------------------------------------ */

input, textarea, select {-webkit-box-sizing: border-box;-ms-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;color:#3E3E3E;}
.bugajaxie { display: none; } /* Bug IE/Win */

/* Structure generale des formulaires
----------------------------------------------- */
.formulaire_spip {
	overflow:hidden;
	border:0 none;
	clear:both;
	font-size:1em;
	padding:0;
	text-align:left;
	margin:1em auto 1.5em auto;
}

.content .formulaire_spip{
	width: 400px;
	margin-left:auto;
	margin-right:auto;
}

.crayon-html .formulaire_spip{
	width:auto;
}

.extra1 .formulaire_spip{
	width:280px;
}
/* Fieldset */
.formulaire_spip fieldset { 
	margin:0;
	padding:0;
	border:0;
	clear: both;
}
.formulaire_spip fieldset legend,
.formulaire_spip h3.legend,
.formulaire_spip li h4,
.configuration h4,
#content .formulaire_spip h3.legend { 
	background-color: #66CC9A;
    color: #FFFFFF;
    display: block;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0 8px;
    text-align: left;
    width:100%;
    line-height:2.5em;
}

.formulaire_spip .fieldset h3.legend:after,
.formulaire_spip fieldset h3.legend:after,
.formulaire_spip fieldset legend:after{
	content:'';
	margin:0 -8px;
	display:block;
	height:6px;
	background:url("img/picos_sprite.png") no-repeat scroll 4px -8px #fff;
}

.formulaire_spip fieldset fieldset { margin-top: /*@margin-bottom*/1.5em/*/@*/; }
.formulaire_spip fieldset fieldset legend { font-size: 1em; font-weight: normal; }

/* Explications */
.formulaire_spip .explication {
	color:#969696;
	margin:0;
	padding:.5em 0;
}

/* Lignes */
.formulaire_spip .editer { 
	padding:.5em 0;
	clear:both;
}

/* Labels */
.formulaire_spip label { 
	color:#3E3E3E;
	font:bold 1.2em arial,sans-serif;
	margin-bottom:5px;
	display:block;
}

.formulaire_spip .choix{
	overflow:auto;
}
.formulaire_spip .choix label {
	display:inline;
	font-weight:normal;
	font-size:1em;
}
.formulaire_spip .choix input.radio,
.formulaire_spip .choix input.checkbox {width:auto;}

/* Champs de saisie */
.formulaire_spip input.text {
	width:150px;
}

.formulaire_spip input.text,
.formulaire_spip select,
.formulaire_spip input.password,
.formulaire_spip textarea,
.formulaire_spip .formulaire_crayon textarea.crayon-active,
.markItUp .markItUpPreview {
    border:3px solid #DEDED0;
	color:#3E3E3E;
	font-size:1em;
	margin:3px 0 0;
	padding:3px;
	background-color:#fff;
}

#pass_securise{
	margin: 0 0 0 -23px;
    vertical-align: middle;
}

.formulaire_spip input#var_login,
.formulaire_spip input#password,
.content .formulaire_spip input.text,
.content .formulaire_spip select,
.content .formulaire_spip textarea,
.formulaire_spip textarea.markItUpEditor,
.formulaire_spip li.editer_texte textarea,
.markItUp .markItUpHeader,
.content .formulaire_spip input.password,
.content .formulaire_spip li.editer select,
.content .formulaire_editer li select,
.content .formulaire_forum .saisie_titre input.text,
.content .formulaire_forum .saisie_titre textarea,
.content textarea.code_embed {
	-moz-box-sizing: border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
    width: 100%;
}


.content .formulaire_spip input.date,
.content .formulaire_spip input.heure{
	width:auto;
	margin-right:3px;
}

.formulaire_spip textarea { width: 100%; }
.formulaire_spip select { width: 100%;padding:5px 4px; }
.formulaire_menu_lang select,
.formulaire_spip.formulaire_menu_tri select,
.formulaire_spip.formulaire_menu_pagination select,
#formulaire_admin_plugin select {
    width: auto;
}

/* Boutons */
.formulaire_spip .boutons { clear: both; margin-bottom:10px; padding: 0; text-align: right; margin-top: /*@margin-bottom*/1.5em/*/@*/; }
.formulaire_spip .boutons input { margin-left: 1em; }

.formulaire_spip .boutons input,
input.submit,
button.submit,
a.bouton,
.actions a,
.formulaire_recherche input.image{
	vertical-align:bottom;
	margin:0;
	background:#4EBAFF;
	border:1px solid #4EBAFF;
	color:#FFFFFF;
	cursor:pointer;
	padding:2px 5px;
	display: inline-block;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	margin-top:2px;
	margin-bottom:2px;
}

.formulaire_recherche a.cancel{
	margin-left:-20px;
}
.formulaire_spip .boutons input:hover,
input.submit:hover,
button.submit:hover,
a.bouton:hover,
.actions a:hover{
	border-color:#E5F2F6;
	background-color:#E5F2F6;
	color:#333;
}

.actions{
	padding:0;
}

.actions a.bouton{
	float:left;
	display:block;
	margin-right:3px;
	margin-bottom:3px;
} 

.actions .sep{
	display:none;
}
/* Disabled / readonly */
.formulaire_spip input.text:disabled,
.formulaire_spip input.readonly,
.formulaire_spip input.multilang_readonly,
.formulaire_spip textarea.multilang_readonly,
.formulaire_spip textarea.readonly,
.formulaire_spip input.disabled,
.formulaire_spip input.text[readonly]{
	opacity:.4;
	border-color:#ededed;
	background-image:url(img/ico_lock.gif);
	background-repeat:no-repeat;
	background-position:98% center;
}

@media print {
	.formulaire_spip { display: none; }
}

/* Reponses, previsu et erreurs
----------------------------------------------- */

/* Champs obligatoires */
.formulaire_spip li.obligatoire {}
.formulaire_spip li.obligatoire label {font-weight: strong;}


/* Reponses */
.reponse_formulaire { 
	font-size:1em;
	color:inherit;
}
.reponse_formulaire_ok{ 
	background-color:#66CC9A;
	border:2px solid #53AD20;
	color:#FFFFFF;
	font-weight:normal;
	padding:5px;
	margin-bottom:5px;
}
.reponse_formulaire_erreur {
	font-weight: normal;
	margin:0 0 5px;
	border:2px solid #A90A10;
	padding:5px 10px;
	background-color:#D40000;
	color:#FFF;
}
.reponse_formulaire_ok a { 
	color:#fff;
	text-decoration:underline;
}
.reponse_formulaire_erreur a { color: #8a1f11; }


/* Previsualisation du message */
fieldset.previsu { 
	border:none;
	padding:0;
}

fieldset.previsu legend {
	background-color:#F57900;
	color:#fff;
	padding:0 8px;
}

fieldset.previsu legend + ul{
	border:1px solid #ededed;
	border-top:none;
}

/* Reponse du formulaire */
fieldset.previsu .reponse_formulaire { font-weight: bold; color: #e86519;}
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }


/* * Erreurs */
.editer.erreur {}
.editer .erreur_message {
	color: #C30;
	font-weight: normal;
	display:block;
}

.erreur input.text, .erreur textarea,.erreur select,.erreur input.password{
    background-color: #FFCCCC;
    border-color: #CC3300;
    border-style: solid;
}

/* Variantes et cas particuliers
----------------------------------------------- */

/* Selection des langues */
.formulaire_menu_lang { 
	position:absolute;
	right:0;
	margin:0;
	bottom:10px;
	background-color:transparent;
	padding:0;
	width:auto;
}

.formulaire_menu_lang label {display:none;}
.formulaire_menu_lang select {width: 15em;}

/* Formulaires de recherche (site / petitions) */
.formulaire_recherche { padding: 0; background: none; border: 0;}
.formulaire_recherche input,.formulaire_recherche label { display: inline; vertical-align: inherit; }
.formulaire_recherche label {display:none;}
.formulaire_recherche input.text { padding-left: 25px; background: #FFF url(img/rechercher.gif) no-repeat left center; border-right-width:0px; }
.formulaire_recherche input.submit,.formulaire_recherche input.image {
	padding:4px 5px;
	border-radius:0 4px 4px 0;
}

/* Choix des mots-clefs */
.choix_mots li { float: left; width: 30%; padding: 1%; }

/* Formulaire de login dans une page */
.formulaire_login .editer {clear:left;}
.formulaire_login input.text,.formulaire_login input.password {
	width:13em;
	margin:0;
	display:inline;
}
.formulaire_login .editer_password .details {margin-bottom:0;}
.formulaire_login #spip_logo_auteur {display:none;}

/**
 * jQuery-ui
 */
.formulaire_spip .ui-tabs {
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 1em;
}

.formulaire_spip .ui-tabs .ui-tabs-panel {
    padding: 1em 0.4em;
    overflow:auto;
}

.formulaire_spip .ui-tabs .ui-tabs-panel h4 {
    width: 96%;
    padding:0 2%;
    margin-bottom:5px;
}

.formulaire_spip .ui-tabs .ui-tabs-panel h4 a {
    color:#fff;
}

.formulaire_spip .ui-tabs .ui-tabs-panel a {
    color:#2786C2;
}

.formulaire_spip .ui-tabs .ui-tabs-panel a.bouton{
	color:#fff;
}

.formulaire_spip .ui-tabs .ui-tabs-panel li input.text,
.formulaire_spip .ui-tabs .ui-tabs-panel li select {
    width: 96%;
}


.formulaire_spip .ui-tabs .ui-tabs-nav li a{
	padding:.5em;
}
