#descriptif_site_spip{
	margin-bottom:10px;
}

.explication ul{
	list-style:square;
	padding-left:20px;
}

.has_banner.has_background .page{
	-moz-box-shadow:0 4px 18px #C8C8C8;
	-webkit-box-shadow:0 4px 18px #C8C8C8;
	box-shadow:0 4px 18px #C8C8C8;
}

/* Tableaux */
/* ------------------------------------------
/* Habillage des elements du contenu
/* ------------------------------------------ */
.header .accueil {
	padding:0px;
	position:relative;
	overflow:auto;
}

.has_banner .header .accueil > a{
	display:block;
	position:relative;
	overflow:auto;
}

.header .accueil .spip_logos {
	vertical-align: bottom;
	line-height: 1em;
	margin-bottom: 0;
}

.has_banner .header .accueil .spip_logos{
	width:100%;
	height:auto;
	margin:0;
}

.header .accueil #nom_site_spip {
	color: #999999;
    display: block;
    font: bold 48px/54px arial,sans-serif;
    margin: 50px 0 20px;
    padding: 0;
    vertical-align: bottom;
}

.has_banner .header .accueil #nom_site_spip {
    display: block;
    font: bold 48px/54px arial,sans-serif;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    position:absolute;
    left:30px;
    top:70px;
    text-shadow: 2px 2px 4px #ccc;
}

.header .accueil #nom_site_spip a{
	color:#3E3E3E;
	text-decoration:none;
}

.has_banner .header .accueil #nom_site_spip a{
	color: #000;
}

.header #slogan_site_spip{
	font-size:1.1em;
	margin-bottom: 10px;
	font-style:italic;
	color:#3E3E3E;
}

.has_banner .header  #slogan_site_spip{
	position:absolute;
    left:30px;
    bottom:30px;
} 
.header .formulaire_menu_lang { position: absolute; right: 0; bottom:10px; display: block; width: auto; } /*Cf.: spip_formulaires.css*/
.header .formulaire_menu_lang select {width: auto;}
.has_banner .header .formulaire_menu_lang{right:1%;bottom:2%;}

.hornav {
	display:table;
	position:absolute;
	top:0px;
	right:0px;
	z-index:100;
	padding: 0 20px;
	-moz-border-radius:0 0 20px 20px;
	-webkit-border-bottom-left-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	border-radius:0 0 20px 20px;
}

.has_banner .hornav{
	right:1%;
}
.hornav .item a:hover {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#0395CC;
	
}

.hornav .menu-items .item ul{
	left:0;
	position:absolute;
	top:40px;
	width:100%;
	background:none repeat scroll 0 0 #172322;
	padding:5px 0 15px 0;
	position:absolute;
	-moz-border-radius:0 0 15px 15px;
	-webkit-border-bottom-left-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	border-radius:0 0 15px 15px;
}

.hornav .menu-items .item ul li{
	display:block;
	float:none;
	padding:0 10px;
	text-align:left;
}

.hornav .menu-conteneur ul li ul li a{
	display:block;
	padding:4px 5px 5px 5px;
}

#hierarchie { clear: both; margin-bottom: /*@margin-bottom*/1.5em/*/@*/;  }

.cartouche {
	overflow:auto;
	margin:1em 0 2em 0;
}
.cartouche h1{
	clear:none;
	color:#3E3E3E;
	font:bold 4em/1.5em arial,sans-serif;
	padding:0;
}
.cartouche .spip_logos,.cartouche .logo {
	float:left;
	margin-right:10px;
	margin-bottom: 4px;
	position:relative;
}
.cartouche .info-publi { margin: 0; padding: 0; clear: left; }

.chapo { margin-bottom: 1.5em; color:#666;}
.chapo .spip_cadre {color:#888;}
.ps, .notes { margin-bottom: /*@margin-bottom*/1.5em/*/@*/;}
.notes { clear: both; font-size: 0.846em; }

.loading{position:relative}
.image_loading{float:right}
.loading .image_loading{position:absolute;top:0;right:0;float:none;}

/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Listes d'articles et extraits introductifs */
.resume .liste-items .item { border-bottom: 0;}
.resume .liste-items .item .h3 { border-bottom:1px solid #888;}

.extra1 .menu {clear: both;}
.extra1 h2,
.extra2 h2,
h3.titrem  {
	color:#FFFFFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
	line-height:2.5em;
	margin-top:10px;
	padding-left:8px;
	text-align:left;
	background:#4EBAFF;
}

.menu h2:after,
.extra1 h2:after,
.extra2 h2:after,
h3.titrem:after{
	content:'';
	margin:0 -8px;
	display:block;
	height:6px;
	background:url("img/picos_sprite.png") no-repeat scroll 4px 0 #fff;
}

h3.titrem {
    position: relative;
}

.extra1 h2 a,.extra2 h2 a,
.extra1 h2 a:hover,.extra2 h2 a:hover{
	color:#fff;
}

.extra1 .menu li > a,
.extra1 .menu li strong,
.extra2 .menu li > a,
.extra2 .menu li strong,
.extra2 .liste li strong,
.extra2 .liste li > a,
.config_nav li > a,
.config_nav li.on,
.page_publier .container .menu-liste li > a, .page_publier .container ul.liste-item li > a,
.page_publier #page #extra1 .menu-liste li.on, .page_publier #page #extra1 ul.liste-item li.on{
	display:block;	
	padding: .4em .3em;
}

.menu li img{
	vertical-align:middle;
}

.menu.syndics ul li,.menu.liste_comments ul li{
	padding:.3em;
}
.menu.syndics ul li a,.menu.liste_comments ul li a{
	display:inline;
	padding:inherit;
}

.menu.syndics ul li a.spip_out{
	padding-right: 12px;
}

.extra1 .menu a {/*color:#666;*/} /* ne pas utiliser de selecteur trop precis, et eviter de toucher aux liens */
.extra1 .menu ul li a:hover,
.extra1 .liste ul li a:hover,
.extra1 .menu ul li strong.on,
.extra2 .menu ul li a:hover,
.extra2 .liste ul li a:hover,
.extra2 .menu ul li strong.on,
.extra2 .liste ul li strong.on,
.page_ms_config .config_nav ul li a:hover,
.page_ms_config .container .menu-liste li.on,
.page_ms_config .container ul.liste-item li.on,
.page_ms_config .container .menu-liste li a:hover,
.page_ms_config .container ul.liste-item li a:hover,
.page_publier .container .menu-liste li.on,
.menu li.on,.menu li a.on{
	background-color:#E5F2F6;
	color:#333;
	font-weight:normal;
	padding:.4em .3em;
}
.extra1 .menu-items {border-bottom:0;}

.formulaire_recherche input.text,.content .configuration .formulaire_recherche input.text {width: 170px;}

.configuration h4:after,
#content .formulaire_spip fieldset.previsu legend:after,
#content .formulaire_spip fieldset.previsu legend:after{
	content:'';
	margin:0 -8px;
	display:block;
	height:6px;
	background:url("img/picos_sprite.png") no-repeat scroll 4px -24px #fff;
}

.configuration h4 + div.formulaire_spip{
	background-image:none;
	padding-top:inherit;
}

.formulaire_spip li h4, .configuration h4{
	background-color:#F57900;
	font-size:1em;
	width:inherit;
}

.content div.medias{
	background-color:#E6E6DC;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:10px;
	margin:15px 0 0 0;
	clear:both;
}

.content div.medias h2,#contenu-exergue h2{
	color:#fff;
	margin:0.3em 0;
}

.content div.medias .liste_medias_vignettes{
	padding:10px 0;
	overflow:auto;
	background-color:#fff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.content div.medias .liste_medias_vignettes ul.liste-items{
	overflow:auto;
}

.content .medias ul.liste-items .vignette{
	width:31%;
	margin:0 1% 1% 1%;
	float:left;
	clear:none;
}

#content .medias ul.liste-items .vignette:nth-of-type(3n-2){
	clear:both;
}

.content .medias ul.liste-items .vignette .logo_document,
.content .medias ul.liste-items .vignette .logo_document a{
	width:186px;
	height:	137px;
	text-align:center;
	overflow:hidden;
	display:block;
}

#liste_actus{
	margin:0 0 .5em 0;
}

#liste_actus li{
	float:left;
	width:50%;
	padding-right:.5em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	clear:none;
}
/**
 * suivant / précédent
 */

.precedent_suivant{
	overflow:hidden;
	margin-bottom:10px;
}

.precedent_suivant a.prev{float:left;}
.precedent_suivant a.next{float:right;}

/**
 * 	Crayons
 */

.crayon-html{
	padding: 5px 10px;
	background-color:rgb(255,255,255);
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #CCCCCC;
}
.cartouche .logo .crayon-icones{
	position:absolute;
	float:none;
	top:0;
	right:0;
	left:inherit;
}

/**
 * 	MediaSPIP
 */

.formulaires_tris{
	overflow: auto;
	margin: 0 0 5px 0;
}
.formulaires_tris .formulaire_spip{
	clear:none;
	float:left;
	margin:0 5px 0 0;
	width:inherit;
	width:auto;
}

.formulaires_tris .formulaire_spip label{display:inline;}

.infos_documents h3, .menu.important h2 {
    background: none repeat scroll 0 0 #FC575E;
}

.extra1 .menu.important h2:after,
.extra2 .menu.important h2:after{
	content:'';
	margin:0 -8px;
	display:block;
	height:6px;
	background:url("img/picos_sprite.png") no-repeat scroll 4px -16px #fff;
}

.extra1 .rubriques li a{
	background-position:right center;
	background-repeat:no-repeat;
	display:block;
}
.extra1 .rubriques li a.ouverte{
	background-image: url(img/fle_haut_mini.png);
	padding-right:22px;
	display:block;
}

.extra1 .rubriques li a.fermee{
	background-image: url(img/fle_bas_mini.png) ;
	padding-right:22px;
}

#contenu-exergue,
#descriptif_site_spip{
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	border-radius:10px 10px 10px 10px;
	background-color:#2E3540;
	padding:10px;
	color:#fff;
	font-size:1.1em;
}

.document_media .spip_logos{
	margin:0;
	float:none;
	width:100%;
	height:auto;
}

.filtres {
	margin-bottom:5px;
}
.filtres .lien_filtrer {
	display: inline-block;
	background: url(img/filter-10.png) center left no-repeat;
	padding-left: 12px;	
}
.filtres .filtre {
	position: relative;
	margin:0;
	background:#4EBAFF;
	border:1px solid #4EBAFF;
	color:#FFFFFF;
	padding:2px 18px 2px 5px;
	display: inline-block;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	margin-top:2px;
	margin-bottom:2px;
}
.filtres .filtre .nom_filtre {}
.filtres .filtre .valeur_filtre {}
.filtres .filtre .supprimer_filtre {
	position: absolute;
	display: block;
	height: 8px;
	width: 8px;
	right: 5px;
	top: 50%;
	margin-top: -4px;
	background-image: url(img/close-white-transparent-8.png);
	border: none;
}
.filtres .filtre .supprimer_filtre:hover {
	background-image: url(img/close-white-8.png);
}

/**
 * 	Exergue
 */
#contenu-exergue{
	overflow:auto;
}

#contenu-exergue p{
	padding:3px;
	margin:0;
}

#contenu-exergue .pagination a.lien_pagination,
#contenu-exergue .pagination.tri a,
#contenu-exergue ol#controls li a{
	color: #fff;
	background:#59a5d1;
	border:2px solid #408bb6;
}

#contenu-exergue .pagination a.lien_pagination:hover,
#contenu-exergue .pagination.tri a:hover,
#contenu-exergue ol#controls li a:hover{
	color: #3E3E3E;
	background:#fff;
	border:2px solid #EDF1F5;
}

#contenu-exergue .pagination span.on,
#contenu-exergue  .pagination strong.on{
	color: #fff;
}

#exergue ul li{
	overflow:hidden;
	z-index:100;
}

#exergue ul li img{
	max-width:100%;
	height:auto;
}
#contenu-exergue ol#controls{
	margin: 0px;
	padding: 0px;
	margin-top:10px;
}

#contenu-exergue ol#controls li{
	display: block;
    float: left;
	margin-right:.2em;
}
#contenu-exergue ol#controls li a{
	color: #fff;
	background:#59a5d1;
	border:2px solid #408bb6;
	margin: 0 0.2em;
    padding: 0 0.2em;
}

#contenu-exergue ol#controls li.current a {
	display:block;
	color:#fff;
	font:bold 2.2em arial,sans-serif;
	margin:-.25em 0 0;
	position:relative;
	background:transparent;
	border:none;
}
/**
 * La page des médias
 */
#infos_sup .infos_statistiques .info{clear:both;}

#infos_sup .info-mots ul,#infos_sup .info-mots li,
#infos_sup .info-tags ul,#infos_sup .info-tags li,
#infos_sup .tags_liste ul,#infos_sup .tags_liste li{display:inline;}

#content .infos_statistiques, #content .infos_descriptif{
	float:left;
	width:50%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding-right:1%;
}

#content .infos_statistiques h3{
	width:98%;
}

#content .infos_statistiques .formulaire_spip,
#content .infos_descriptif .formulaire_spip{
	width:100%;
}

#content .infos_documents{clear:both;}

#content .infos_documents #liste_docs_download,
#content .infos_documents .infos_techniques{
	width:50%;
	float:left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding-right:1%;
}

#content #liste_docs_download .ajout_annexe,
#content .infos_documents .infos_techniques,
.em_infos_documents .infos_techniques{
	background-color:#E6E6DC;
	padding:1%;
	margin:1em 0;
	float:right;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

#content #liste_docs_download .ajout_annexe {float: inherit;}

#content #liste_docs_download .formulaire_spip {width: auto;}

#content .infos_documents h3,
.extra1 .menu.important h2{background:#FC575E;}

#content .infos_statistiques h3{background:#FBCA54;}

.extra2  .medias .menu-entree,
#content #liste_docs_download .item{overflow:hidden;}

#content #liste_docs_download .item .media_logo_vignette{float: left;}

.extra2 .menu ul li a.media_logo_vignette img{
	margin:0 .5em 0 0;
	padding:0;
	clear:both;
	float:left;
	max-width:35%;
	height:auto;
}

.extra1 .medias .menu-entree .media_infos h4{margin-bottom:0;}

#content #liste_docs_download .item .media_infos span{display:block;}

#content .info_media{padding:.2em 0;}
#content .info_media .spip_logos{max-width:35%;height:auto;margin:0 .5em 0 0;}

/**
 * 	Notation
 */
.formulaire_notation .note{border:none;}

.formulaire_jaime_jaimepas form .submit{color:inherit;}

#content .infos_statistiques div.star-rating,
#content .infos_statistiques div.info-notations,
#content .infos_statistiques div.notation_note{padding:0;}

#content .infos_statistiques div.notation_note{
	float:left;
	display:block;
	overflow:hidden;
}

.liste.articles h3 .spip_logos, .liste.articles .h3 .spip_logos{
	background-color:#FFFFFF};
}

/*
 * Plugin Emballe médias
 */
.page .formulaire_spip ul li.previsu_document{
	background:transparent;
	border:none;
	padding:0;
	margin:0;
	position:relative;
}

.ui-fileupload-content .files{
	max-height:400px;
	overflow-y:auto;
}

#formulaire_media_edition_lot{
	width:100%;
}

#formulaire_media_edition_lot .selection_documents,#navigation_liste{
	width:50%;
	float:left;
}

.selection_documents .choix .spip_logos,
#liste_medias_publication .item .spip_logos{
	width:96%;
	margin:2%;
	padding:0;
	vertical-align: bottom;
	float:none;
	border:none;
	height:auto;
}

.selection_documents .choix.selected,
#liste_medias_publication li.on{
	background:#4EBAFF;
}

#formulaire_media_edition_lot .edition_par_lot,#edition_emballe_media{
	width:50%;
	float:right;
}
.content #liste_medias_publication .formulaire_spip{
	width:100%;
}
#formulaire_media_edition_lot .boutons{
	clear:both;
}

#liste_medias_publication{
	margin-top:15px;
	overflow:auto;
}

#liste_medias_publication li.item a{
	display:block;	
}
.selection_documents .choix label{
	display:block;
	position:relative;
	overflow:auto;
	margin:0;
}
#liste_medias_publication span.titre_media,
.selection_documents .choix .titre{
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	background:rgb(0,0,0);
	background:rgba(0,0,0,.8);
	color:#fff;
	width:96%;
	padding:2%;
	overflow:hidden;
}

#liste_medias_publication li.on .titre_media,
.selection_documents .choix.selected .titre{
	background-color:#4EBAFF;
}

.selection_documents .choix .erreur_message{
	position:absolute;
	background:rgb(0,0,0);
	background:rgba(0,0,0,.8);
	width:96%;
	top:25%;
	margin:2%;
}

#liste_medias_publication li.on .spip_logos{
	border-color:#4EBAFF;
}

#liste_medias_publication a:hover .titre_media,
.selection_documents .choix:hover .titre{
	background-color:#FC575E;
}

#liste_medias_publication li.item:hover,
.selection_documents .choix:hover{
	background-color:#FC575E;
}

li.previsu_document h3{
	margin-bottom:0;
}

#formulaire_em_menu_type label{display:inline;}

.formulaire_spip ul li#divSWFUploadUI{padding:0;}

.em_vignette.spip_documents_center{
	position:relative;
	display:block;
	overflow:auto;
}
.em_vignette .crayon-icones{
	float:none;
	position:absolute;
	top:0;
	right:0;
	left:inherit;
}

#em_form_upload #em_upload_boutons {
	width:200px;
	float:right;
}

.formulaire_spip .editer_medias{
	padding:0;
}
/**
 * Squelettes mediaspip_config
 */
#content .configuration > h3{margin-bottom:10px;}

.page_ms_config .container #content{width:630px;}

.page_ms_config .configuration_contenu{
	float:right;
	width:420px;
}

.page_ms_config .config_nav{
	float:left;
	margin:10px 10px 10px 0;
	width:200px;
}

.page_ms_config .config_nav .logo_config{margin:10px;}

.page_ms_config #content .config_nav .formulaire_spip{width:inherit;}

.page_ms_config .config_nav ul{
	clear:both;
	margin:0;
	padding:5px 0;
}

.page_ms_config .config_nav h4, .page_ms_config .config_nav h3{width:184px;}

p.actions{float:right;}

.configuration #formulaire_recherche,
.configuration #formulaire_gestion_forum,
#content #formulaire_gestion_forum,
#content .auteur_gestion_forum .formulaire_recherche{width:auto;}

#content .auteur_gestion_forum .formulaire_recherche{text-align:right;}

#content #formulaire_recherche input.text{width: 150px;}

.forums .forum h4{
	background-color:transparent;
	color:#4EBAFF;
	padding:0;
}

.forums .forum h4:after{
	content:'';
	margin:0;
	display:none;
	height:0px;
	background:transparent;
}
/**
 * 	Zen-garden
 */
.zengarden .themes li.item h2 {font-size:18px;margin:.5em 0;}

/**
 * Plugin polyhierarchie
 */
#chemins_transverses {	font-size: 0.9em;overflow: hidden;margin:3px 0 0; padding: 0;border-top:1px solid #eee;}
#polyhier_enfants_indirects {padding:10px 0;background:#fff url(img/polyhier-32.png) no-repeat top right;border:1px solid #ccc;}
#polyhier_enfants_indirects h3 {padding:1px 3px;}
#polyhier_enfants_indirects ul.liste_items {margin:0 5px;}
#polyhier_enfants_indirects .liste_items li {overflow:visible;}
#polyhier_enfants_indirects .liste_items li .date {font-size:0.9em;}

ul.item_picked {list-style:none;margin:0 0 0 10px;padding:0;float:left;}
ul.item_picked li {margin:0 2px 2px;padding:2px;background:#eee;border:1px solid #ccc;float:left;clear:none;}
ul.item_picked li span.sep {display:none;}
ul.item_picked.select li {padding:2px 0;border:0;font-weight:bold;background-color:transparent;float:none;}

ul.item_picked li.article {padding-left:15px;background:url(img/article-12.png) no-repeat left center;}

ul.item_picked li.rubrique {
	margin: 0 10px 0 0;
	border:none;
	padding-left:17px;
	background:url(img/folder.png) no-repeat left 0px;
}

ul.item_picked.select ul > li {float:left;}

.picker_bouton {float:right;clear:both;}

.item_picker {clear:left;font-size:0.95em;}
.item_picker .chemin {border-bottom:1px solid #ccc;margin:0.5em 0 0.25em;clear:both;}

.item_picker .frame {
	background:#fff;
	border:1px solid #ccc;
	border-left:3px solid #ccc;
	width:140px;
	height:350px;
	float:left;
	overflow:auto;
	position:relative;
	margin-left:0;
	z-index:1000;
}
.fiche_objet .cadre .cadre_padding .item_picker .frame {width:148px;}
.item_picker .frame.total_2 {margin-left:-58px;}
.item_picker .frame.total_3 {margin-left:-62px;}
.item_picker .frame.frame_1 {margin-left:0;z-index:1010;}
.item_picker .frame.frame_2 {z-index:1020;}
.item_picker .frame.frame_3 {z-index:1030;}
.item_picker .frame.frame_4 {z-index:1040;}

.item_picker .frame .frame_close {
	float:right;
	padding:3px;
}

.item_picker .frame h2 {
	margin:0;
	padding:5px;
	clear:none;
	background-color:#E5F2F6;
	font-size:1.2em;
	line-height:normal;
	overflow:visible;
}
.item_picker .frame .pagination {font-size:0.9em;}

.item_picker .frame ul {
	list-style:none;
	padding:5px 0;
	padding:0;
}
.item_picker .frame ul li {
	display:block;
	clear:both;
	list-style:none;
	padding:0 2px 0 5px;
	position:relative;
	margin:3px 0;
}

.item_picker .frame ul li.rubrique {background:url(img/folder.png) no-repeat left 1px;padding:2px 20px 2px 16px;}
.item_picker .frame ul li.article {clear:both;background:url(img/article-12.png) no-repeat left 2px;}
.item_picker .frame ul li.rubrique .ouvrir {position:absolute;display:block;top:0px;right:0px;}
.item_picker .frame ul >li .add {float:left;clear:left;}
.item_picker .frame ul li a {display:block;}

.formulaire_spip .item_picker .frame ul li:hover,
.formulaire_spip .item_picker .frame ul li.on,
.formulaire_spip .item_picker .frame a:hover, .item_picker .frame a:hover .ouvrir,
.formulaire_spip .item_picker .frame a:hover .add{background-color:transparent;}

.formulaire_spip li div.choix_rapide{display:none;}

/**
 * 	Les forums
 */
#forums ul .forum-message,
#comments ul .forum-message,
#formulaire_forum ul ul .forum-message{
	border:none;
	border-bottom:1px solid #ededed;
	padding:0 0 5px 0;
	margin:0;
}

#forums ul .forum-chapo,
#comments ul .forum-chapo{
	background:none;
	padding:5px 0;
}

#forums .forum-texte,
#comments .forum-texte{
	padding:10px 0;
	overflow:auto;
}

#forums .forum-fil,
#comments .forum-fil{margin-top:0;}

#forum h2{float:left;}

#forum .comment_link{
	float:right;
	padding:10px 0;
}

#forum .comment_link, #forum h2{margin: 1em 0;}

ul.forum{padding-left:0;}

#comments .forum-chapo .forum-titre,
#forums .forum-chapo .forum-titre{
	font-weight:normal;
	background-color:#4EBAFF;
	color:#FFFFFF;
	display:block;
	font-size:1em;
	height:25px;
	line-height:2.5;
	padding:0 8px;
	text-align:left;
	margin-left:14px;
}

.forum-chapo .permalink{
	float:left;
	font-size:14px;
	position:relative; 
}

.page .forum-chapo .forum-titre a{color:#fff;}

p.repondre{padding:0 0 0 70px;}

.forum-texte img.spip_logo{float:left;}

/**
 * 	Forums management
 */
.onglets_simple{
	padding:0;
	clear:both;
	margin-top:5px;
}
.onglets_simple ul{
	list-style: none outside none;
    margin-left: 1px;
    padding: 0;
}

.onglets_simple ul li{
	float: left;
    margin: 0 0 -1px;
    padding: 0;
}

.onglets_simple ul li a,
.onglets_simple ul li strong{
	white-space:nowrap;
	color:#555555;
	font-weight:normal;
	background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    display: block;
    float: left;
    margin-left: 5px;
    padding: 4px 7px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-repeat:no-repeat;
}

.onglets_simple ul li strong.on,
.onglets_simple ul li a:hover{background-color:#fff;}

.page .onglets_simple.second ul li span.off{
	margin-left:5px;
	margin-right:0;
}

ul.forums li .cartouche{margin:0;}

ul.forums li .cartouche h3{
	background:none;
	padding-left:0;
}

ul.forums li .cartouche h3 a, ul.forums li .cartouche h3 a:hover{color:#2786C2;}

ul.forums > li.item .actions.moderer{text-align:right;}
ul.forums > li.item .actions.moderer br{display:none;}

/**
 * 	Profil des auteurs
 */
.infos_auteur .document_auteur{
	width:50%;
	float:right;
}

/**
 * 	Le datepicker de jquery-ui
 */
.content img.ui-datepicker-trigger{margin: 0 0 0 -25px;}

/**
 * Plugin multilang
 */
body .menu_multilang {
	background-color:transparent;
	padding:5px 0;
	border-bottom:1px solid #ccc;
	margin-bottom:5px;
}

body .menu_lang_flottant{
	background-color:rgb(255,255,255);
	background-color:rgba(255,255,255,.8);
}
body .menu_multilang .langues a{
	display: block;
    float: left;
    padding:3px 0;
}
body .menu_multilang .langues a.empty{
	background:#2786C2;
	color:#fff;
	padding:3px;
}

.page_ms_config #content .menu-liste li a, .page_ms_config #content ul.liste-item li a, .page_ms_config #content .menu-liste li form, .page_ms_config #content ul.liste-item li form {
    display: block;
    padding: 5px 3px;
    text-decoration: none;
}

/**
 * 	Surcharges des css de saisies
 */
.page .formulaire_construire_formulaire .formulaire_configurer{
	border-top: 2px dashed #DEDED0;
	margin:.5em 0 0;
}

.page .formulaire_construire_formulaire li.editer,
.page .formulaire_construire_formulaire li.explication,
.page .formulaire_construire_formulaire li.fieldset{padding:10px;}

.page .formulaire_construire_formulaire li.en_configuration{
	border:2px solid #DEDED0;
	margin:0;
}

.page .formulaire_construire_formulaire .formulaire_configurer .boutons{
	margin-bottom: -5px;
}

.formulaire_construire_formulaire .explication ul{
	list-style-type:none;
	padding-left: 0;
}

/**
 * 	Utilisation de mesfavoris
 */

.favs{
	padding-left:15px;
	background:transparent url(img/favorite-12.png) no-repeat left center;
}

/**
 * 	Utilisation de recommander
 */

.info-recommander{
	background:transparent;
	border:none;
	padding:0;
	color:inherit;
}

.content .info-recommander .formulaire_spip{
	width:100%;
}

/**
 * 	Page publier (Diogene)
 */

.page_publier .liste_objets_attente li{
	padding:5px 0 5px 160px;
	list-style-type: none;
	border-bottom:1px solid #ededed;
}

.page_publier .liste_objets_attente .spip_logos{
	margin: 0 0 0 -160px;
	float:left;
}

/**
 * 	Le menu spip-admin
 */

div.spip-admin-float{
	left: 10%;
	right:inherit;
}


/**
 * Legendes + mediaspip
 */
.actions-documents{
	overflow:auto;
}
.actions-documents a{
	display:block;
	float:left;
	margin-right:5px;
}
.actions-documents .em_image_zoom{
	background:transparent url(img/ico_image_zoom.png) no-repeat;
	background-position: 0 -20px;
	width:16px;
	height:17px;
	text-indent:3000em;
	overflow:hidden;
}

.actions-documents .em_image_zoom:hover{
	background:transparent url(img/ico_image_zoom.png) no-repeat top left;
}

.actions-documents .legende_add{
	background:transparent url(img/ico_image_legende) no-repeat top left;
	width:15px;
	height:15px;
	text-indent:3000em;
	overflow:hidden;
}

.image_legendes .image-annotate-canvas{
	margin:0 auto;
}

.spip_docimg > a{
	display:block;
}
.spip_docimg img{
	vertical-align:bottom;
	width:100%;
	height:auto;
}
.page .ui-widget-content a {
	color:#2786C2;
}
