
/*Section s3slider*/

#s3slider { 
	width: 940px; 
	height: 250px; 
	position: relative; 
	margin: 0 auto;
	overflow: hidden; 
	background: #48423d none; 
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0 0 #000000;
}

#s3sliderContent { 
	width: 940px; 
	position: absolute; 
	top: 0; 
	margin: 0; 
	padding: 0;
}

.s3sliderImage { 
	float: left; 
	position: relative; 
	display: none; 
	width: 940px; 
	height: 250px;
}

.s3sliderImage .spip_logos {
	float: inherit;
	max-width: 940px;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: relative;

}

.s3sliderImage strong { 
	margin:0 0 15px 0; display:block; }
.s3sliderImage img { text-align: center; vertical-align: middle; }

.s3sliderImage span { position: absolute; font: 10px/15px Arial, Helvetica, sans-serif; padding: 10px 13px; right: 0; bottom: 0; width: 145px !important; height: 280px; background-color: #000; filter: alpha(opacity=70); -moz-opacity: 0.7; -khtml-opacity: 0.7; opacity: 0.7; color: #fff; top: 0; text-align: left; }

.s3sliderImage span a, .s3sliderImage span a:visited { font: bold 12px/16px Arial, Helvetica, sans-serif; color: #fff; text-decoration: none; }

.arrowslider {
	display: none;
}

#jqc-prev {
	z-index: 7;
	cursor: pointer;
    height: 48px;
    position: relative;
    top: 180px;
    width: 48px;
    left: 20px;
}

#jqc-next {
	z-index: 7;
	cursor: pointer;
    height: 48px;
    position: relative;
    top: 180px;
    right: 20px;
    width: 48px;
    float: right;
}

#divPrincipSlider {
	margin: auto;
	width: 940px;
}

.hentry {
	padding: 10px;
	background: #262626 none;
	float: left;
	margin: 0 20px 20px 0;
	width: 280px;
	height: 325px;
	position: relative;
}

.logo_resume {
	bottom: -10px;
	position: relative;
}

.logo_resume .spip_logos {
	display: block;
    top:  auto !important;
    margin: auto !important;
    float: none !important;
    position: relative !important;
}

.hentry .introduction p {
	max-height: 145px;
	height: 145px;
	overflow: hidden;
	margin: 5px 0 0;
}

p.repondre {
	padding: 0 10px 10px;
	background: none repeat scroll 0 0 #262626;
	margin: 0 0 30px;
}

.contenu-principal {
	margin-bottom: 0; 
}

/*Commentaires*/

img.avatar {
	max-height: 45px;
	max-width: 45px;
	margin-bottom: 7px;
}

.comment-content {
    margin: 0 0 0 163px;
    min-height: inherit;
    padding: 0 0 10px 10px;
}

.comment-content .comment-reply {
	margin: 0;
}

.comment-meta .comment-logo {
	display: block;
	text-align: center;
}

.comment-article {
	background: none repeat scroll 0 0 #262626;
    margin-top: 30px;
}

.comment-article h2 {
	background: url("../img/bg-post-box-comment-add.png") no-repeat scroll 0 0 transparent;
	border-bottom: 1px solid #000000;
    display: block;
    font: 22px/50px 'Ubuntu',serif;
    height: 50px;
    margin: 0;
    padding: 0 0 0 50px;
}

.comment-article h2 a:visited {
	text-decoration: none;
}

.comment-article h2 a:hover {
	text-decoration: underline;
}

.comment-article h2 a {
	text-decoration: none;
}

.comment-article ul,
.comment-article legend  {
	padding: 0 15px !important;
	font-weight: bold !important;
}

.comment-article #titre {
	width: 580px !important;
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    padding: 8px 5px;
    font: 16px/1em 'Ubuntu',serif;
}

.comment-article fieldset {
	margin-bottom: 0;
}

.comment-article .submit {
	margin-bottom: 10px;
}

/*Ajouter site*/


#formulaire_site {
	width: 280px;
}

#formulaire_site fieldset input {
	width: 230px !important;
}

#formulaire_site textarea {
	width: 230px !important;
	max-width: 230px !important;
	min-width: 230px !important;
}

#formulaire_site legend {
	background: url("../img/bg-sidebar-widget-title.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font: 20px/40px 'Ubuntu',sans-serif;
    margin: -10px -10px 10px;
    padding: 0 10px;
    width: 259px;
}

/*Divers*/
#formulaire_inscription legend.mode {
	background: url("../img/bg-sidebar-widget-title.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF !important;
    display: block;
    font-family: 'Ubuntu',sans-serif;
    font-size: 20px !important;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal !important;
    line-height: 40px;
    padding: 0 10px !important;
    width: 259px;
}

span.tbc {
	display: none;
}

.formulaire_spip legend {
	color: #FFFFFF;
}
