<plugin>
  <nom>EVA-WEB 4.1</nom>
  <auteur>Equipe Eva-dev
  <br />Aide &agrave; la traduction : Eric Le Jan
  </auteur>
  <lien>http://eva-web.edres74.net</lien>
  <licence>
  <div style="text-align:center;"><a rel="licence" class="spip_out" href="http://www.april.org/gnu/gpl_french.html">GNU/GPL<br />
  <img alt="Licence GNU GPL" style="border-width:0" width="80" height="100" src="http://www.fsf.org/graphics/philosophical-gnu-sm.jpg"/></a></div>
  </licence>
  <version>1.2</version>
  <etat>stable</etat>
  <description>
  Distribution des squelettes EVA-WEB 4 pour SPIP 2
  </description>
  <icon>images/logo_eva3_fb.png</icon>
  <prefix>evasquelettes</prefix>
  <pipeline>
        <nom>affiche_gauche</nom>
        <action>AfficheGauche</action>
        <inclure>evasquelettes_pipeline.php</inclure>
    </pipeline>
</plugin>
