<plugin>
	<nom>Zpip-blog+BoostStrap</nom>
	<slogan>DEV ONLY.DO NOT USE IN PRODUCTION.<multi>[fr]Squelettes Z pour SPIP (Zpip)[en]Z skeletons for SPIP (Zpip)</multi></slogan>
	<auteur>C&#233;dric Morin</auteur>
	<icon>img/z-dist-32.png</icon>
	<licence>GNU/GPL</licence>
	<version>0.1.0-dev</version>
	<etat>dev</etat>
	<description>Squelettes de blog pour Z-core</description>
	<prefix>Zblog</prefix>
	<options>zblog_options.php</options>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[3.0.0;]" />
	<necessite id="Zcore" version="[2.0.0;]" />
	<necessite id="lesscss" version="[0.7.0;]" />
	<necessite id="comments" version="[;]" />
	<necessite id="bootstrap" version="[;]" />
	<utilise id="albums" version="[;]" />
</plugin>
