/* tous les éléments CSS de median-web qui n'existent pas dans SPIP */

/* les trucs généraux */
.droite {float: right; margin-left: 1em; }
.gauche { float: left; margin-right: 1em; }

/* les divs qui entourent les img */
.encadrement, .encadrement_fin { background: #eee; margin-bottom: .5em;}
.encadrement {padding: 1em; }
.encadrement_fin {padding: .2em; }

/* les blocs ayant un background-image dans le squelette à positionner à gauche et en haut */
#extra div, #coordonnees div, .read_more, #documents_joints ul li { background-repeat:  no-repeat; background-position: 0 0; }

/* extra = le bloc du logo dans les pages rubrique */
#extra { text-align: right; }
#extra p { padding-top: 0; }

/* tof_hazard = le bloc photo au hazard de la page sommaire */
#tof_hazard { float: right; clear: right; margin-bottom: 10px; /*text-align: right;*/ margin-left:20px;}

/* le descriptif du site en page sommaire si pas d'article accueil */
#desc_site { margin-top: 6em; }

/* le bloc contact de la page sommaire */
#coordonnees { width: 24%; }
#coordonnees .titre_coord { color:#005D4D; font-size:1em;}
#coordonnees .texte_coord { padding: 0 0 0 1.6em; font-size:0.9em; line-height: 1.7em;}
#coordonnees h2 img, #tag_cloud h2 img { float: left;}
#coordonnees h2, #tag_cloud h2 { line-height: 2em; font-size:1.3em; text-transform:uppercase; color:#33877B; font-weight:bold; white-space:nowrap; margin-bottom: 12px; }

/* bloc_sommaire = les blocs articles sur la page sommaire */
.bloc_sommaire { width: 22%; float: left; background: #e8e8e8; height: 22em; margin-bottom: 2em; margin-top: 1em; }
.bloc_milieu { /*margin-left: 4%;*/ margin-right: 4%; }
.espacement_d { margin-right: 2%; }
.bloc_sommaire img { border: 1px solid #ddd; margin: 0 auto; background: #fff; }
.cont_bloc { height: 20em; overflow: hidden;}
.bloc_sommaire .txt_bloc, .bloc_sommaire h2  { padding-left: .6em; padding-right: .5em; text-decoration:none;}
.txt_bloc , .txt_bloc a{ color:#5D5D5D; font-size:0.95em;}
.bloc_sommaire h2 { padding-top: .5em; padding-bottom: .3em; font-size: 1em; text-decoration:none; font-size:1.00em; }
div.read_more { padding-left: 1.6em; margin: .3em 0 0 .5em; }

/* le(s) bloc(s) tag-cloud */
#tag_cloud { margin: 0 0 2em 0; width: 75%; float: left; }
.tag_cloud { margin-top: 2em; clear: both; }
.page_plan .tag_cloud h2, .page_plan #tag_cloud h2 { background: #3279A5; padding: .5em; color: #fff; }
.a_cote { width: 47%; clear: none; }
.liste .frequence {display: none; }

/* le message erreur 404 */
h1.err404 { margin-bottom: 1em; }
.enorme{ font-size: 2em; line-height: 1em;}

/* les blocs document du port-folio */
.spip_documents_pf, .spip_documents_pf_bas {line-height:normal; width: 180px; /*height: 170px;*/ float: left; margin: .5em; padding: .5em; background: #eee; overflow: hidden;}
.spip_documents_pf_bas { height: 170px; }
.spip_documents_pf dt, .spip_documents_pf_bas dt { text-align: center; }
.spip_documents_pf_bas dt.vignette_pf { height: 11.2em; }
#documents_portfolio_droite, #documents_portfolio_gauche { width: 200px; }
#documents_portfolio_droite { float: right; margin-left: 2em; }
#documents_portfolio_gauche { float: left;  margin-right: 2em; }

/* les blocs keywords et docs attachés */
.bloc_complements { display: flex;  }
#keywords, #autres_articles, #groupes_mots, .autres_rubriques { float: left; border: 1px solid #ddd; /*margin-top: 1em;*/ margin-bottom: 1em;}
#keywords, #groupes_mots { width: 23%; }
#autres_articles, .autres_rubriques { flex-grow: 1; }
#documents_joints { width: 23%; float: left; border: 1px solid #ddd; /*margin-top: 1em;*/ margin-bottom: 1em;}
#autres_articles h2 { background: #3278A2; color:#FFFFFF; font-size: 1em; text-transform:uppercase; padding-left: 0.6em;}
#keywords h2, #documents_joints h2, #autres_articles h2, #groupes_mots h2, .autres_rubriques h2 { padding: .3em; }
#keywords h2, #groupes_mots h2 { background: #C4D356; color:#FFFFFF; font-size: 1em; text-transform:uppercase; padding-left: 0.6em;}
#documents_joints h2 { color:#9C3434; font-size: 1em; text-transform:uppercase; padding-left: 0.6em;} 
#keywords ul, #documents_joints ul, #autres_articles ul, #groupes_mots ul, .autres_rubriques ul { margin: 0; padding: 0; list-style: none; padding-left: 0.6em;}
#keywords ul li, #documents_joints ul li, #autres_articles ul li, #groupes_mots ul li, .autres_rubriques ul li { margin: 0.20em 0; padding: 0.20em; border-top: 0px solid #FFF; text-decoration:none;}
#documents_joints a { /*color: #CC0000;*/ }
#autres_articles a {/*color:#3278A2;*/ }
#keywords a {/*color:#005D4C;*/ }
#documents_joints a, #autres_articles a, #keywords a, #groupes_mots a { text-decoration:none; font-weight: bold; }
#documents_joints a:hover, #autres_articles a:hover, #keywords a:hover, #groupes_mots a:hover { background-color: #ddd; }
#documents_joints ul li .spip_doc_titre, #documents_joints ul li .spip_doc_descriptif { margin-left: 2.2em; }

/* commun blocs liste articles et sous-rubriques */
.liste-articles, .plan_rubriques { width: 75%; /*float: left;*/ border: 1px solid #ddd; margin: 2.1em 3% 1em 0; /*margin-top: 1em; margin-bottom: 1em;*/}
.liste-articles ul, .plan_rubriques ul { margin: 0; padding: 0; list-style: none; }
.liste-articles ul li, .plan_rubriques ul li { margin: 0.20em; padding: 0.70em 2.5em; border-top: 1px solid #ddd; }
.liste-articles ul li p, .plan_rubriques p  { margin: /*0.2em 0 .4em 0em*/ 0.4em; }
.liste-articles ul li ul li, .plan_rubriques ul li ul li { margin: 0.20em 2em; padding: 0.20em 2em; border-top: 0; }
.plan_rubriques h2, .liste-articles h2 { padding: .3em .3em .3em .6em; }
.autres_rubriques h2, .plan_rubriques h2 { background-color: #93C367;}
h2.menu-titre, h2.menu-titre a{ background-repeat:  no-repeat; background-position: 5px 10px; padding-left: 0.5em; color:#FFFFFF; font-size:1em; text-transform:uppercase;}
.liste-articles ul li, .plan_rubriques ul li { background-repeat:  no-repeat; }

/* spécifique bloc liste des articles */
.liste-articles h2 {background: #3279A5; color:#FFFFFF; font-size:1em; text-transform:uppercase;}
.liste-articles .read_more { margin: .1em; margin-top:10px; margin-bottom:6px; } 
.plan_rubriques .read_more { margin: .1em; margin-top:10px; margin-bottom:6px; margin-left:10px; } 
.read_more a{ color:#3278A2; font-weight:bold;}
.liste-articles ul li {background-position: 3px 9px;}

/* spécifique bloc sous-arborescence d'une rubrique / article */
.plan_rubriques ul li {background-position: 5px 10px;}
.plan_rubriques h3, .plan_rubriques h3 a{ margin-top: .5em; color:#7AA256; }
.plan_rubriques a{color:#005C4C; font-weight:bold;}

div.contre-encart { /*clear: both; */}
.contre-encart #keywords, .contre-encart #documents_joints, .contre-encart #autres_articles, .contre-encart #groupes_mots { float: right; clear: right;}

/* les blocs de forum */
.forum-repondre { margin-bottom: 1em; }

/* pied de page */
.pied_standard, .texte_pied { padding: 0.5em 1.7em; }
.spip_pied { float: right; margin-right: 1em; }


/* en-tete : suppléments pour utilisation d'un logo de site */
.entete_img { padding-top: 0 !important; }
.accueil_img { margin: 1em 0 0 0 !important; }

/* bloc formulaire contact */
#form_contact { width: 60%; float: left; }
.saisie_sujet_message_auteur input[type=text] { width: 50em; }

/* le nécessaire pour le diaporama innerfade de la page sommaire */
ul.innerfade {margin: 0; padding: 0; width: 190px; }
.innerfade li { list-style: none; }

/* masquer le h1 de la fenetre nyromodal */
h1#nyroModalTitle {display: none; }

/* mettre en forme les formulaires F&T */
.texte form fieldset { margin-top: 2em; }
.texte form legend { color: #005C49; font-weight: bold; font-size: 1.5em; }
.texte div.spip_form_champ { margin-top: 1em; text-align: left; }
.texte .spip_form_ok { background-color: #005C49; color: #fff; font-weight: bold; padding: 0.5em; }

/* ecraser les styles hideux de F&T */
.spip_forms { border: none !important;}
.spip_forms fieldset, .spip_forms .formo { border-color: #777 !important; }

/* la page de login si acces restreint */
h2.restrict_exp { margin-bottom: 1em; }
.login_public { width:28em; background-color: #ddd; padding: 1em; border: dashed #777 1px; margin: 0 auto 1em auto; }
.login_public .formulaire_spip { margin-bottom: 0;  clear: none;}
.login_public .formulaire_spip fieldset {  clear: none;}

/* le formulaire d'inscription I2 + le formulaire spipliste */
.formulaire_i2, form.formulaire-spiplistes-abo { width: 100%; background-color: #ddd; border: dashed #777 1px; margin: 0 auto 1em auto;}
.formulaire_i2 fieldset { float: left; clear: none; font-size: 0.7em; margin: 10px; }
.formulaire_i2 fieldset, form.formulaire-spiplistes-abo fieldset { border: solid 1px #000; padding: 1em; }
.editer_sexe { font-size: 1.5em; }
.editer_sexe ul.formfx li { float: left; clear: none; }
.editer_prenom, .editer_nom_famille { clear: none !important; }
.formulaire_i2 .obligatoire label:before { content: "*"; color: #f00; font-size: 2em;}
#formulaire_inscription2 {  padding: 5px; }
