<plugin>
  <nom>EVA-bonus</nom>
  <auteur>Olivier Gautier - Equipe Eva-dev
  </auteur>
  <lien>http://eva-web.edres74.net</lien>
  <licence>
 GNU/GPL
  </licence>
  <version>0.1</version>
  <etat>dev</etat>
  <description>
  Des ajouts bonus pour EVA-WEB 4 : noisettes supplémentaires, ...
  </description>
  <icon>images/logo_eva_bonus.png</icon>
  <prefix>evabonus</prefix>
</plugin>
