<plugin>
  <nom>EVA-bonus</nom>
  <auteur>Olivier Gautier - Equipe Eva-dev
  </auteur>
  <lien>http://eva-web.edres74.net</lien>
  <licence>
  <div style="text-align:center;"><a rel="licence" class="spip_out" href="http://www.april.org/gnu/gpl_french.html">GNU/GPL<br />
  <img alt="Licence GNU GPL" style="border-width:0" width="80" height="100" src="http://www.fsf.org/graphics/philosophical-gnu-sm.jpg"/></a></div>
  </licence>
  <version>0.1</version>
  <etat>dev</etat>
  <description>
  Des ajouts bonus pour EVA-WEB 4 : noisettes supplémentaires, ...
  </description>
  <icon>images/logo_eva_bonus.png</icon>
  <prefix>evabonus</prefix>
</plugin>
