<plugin>
  <nom>EVA-bonus pour EVA-web 4.1</nom>
  <auteur>Olivier Gautier - Equipe Eva-dev
  </auteur>
  <lien>http://eva-web.edres74.net</lien>
  <licence>
 GNU/GPL
  </licence>
  <version>0.1</version>
  <etat>stable</etat>
  <description>
  Des ajouts bonus pour EVA-web 4.0 : noisettes suppl&eacute;mentaires, ...
  </description>
  <icon>img_pack/logo_eva_bonus.png</icon>
  <prefix>evabonus</prefix>
  
  	<bouton id='evabonus' parent='configuration'>
      <icone>img_pack/logo_eva_bonus.png</icone>
      <titre>EVA-Bonus</titre>
  	</bouton>
  
  <categorie>squelette</categorie>
  <necessite id='eva_habillage' version='[1.1;]' />
</plugin>
