
/*
 *
 * des gouts et des couleurs de base
 *
 */

body {
	font-family: Verdana, arial, helvetica, sans-serif;
	font-size: .8em;
}

h4 {
	color: #ccc;
	background-color: #006;
}


/* forums */
div.thread {
	width: 200px;
	background-color: cyan;
	float: left;
}

div.hcomment {
	padding: 3px;
	border-style: groove;
}

.repondre-article {
	float: right;
	background-color: yellow;
}

.repondre-message {
	text-align: right;
	background-color: orange;
}



/*
 *
 * du microformat
 *
 */


/* conteneur : atom feed */
.feed {
	border: solid blue;
	background-color: blue;
}

/* le "contenu" d'un atom entry */
.entry {
	background-color: #eeeeee;
	margin: 3px;
}
.entry .content {
	background-color: #eedddd;
}

/* les elements de contenu */
.entry .deck {
	font-size: 120%;
	font-weight: bold;
}
.entry .notes {
	font-size: 70%;
}
.entry .title {
	background-color: #cceeee;
}


/* la date de publication */
.entry abbr.published {
	background-color: #dee;
}

/* une liste de liens de traduction */
.traductions li {
	background-color: #fee;
	display: inline;
}

/* une liste de mots-cles */
.tags li {
	background-color: #efe;
	display: inline;
}


/* une liste d'enclosures */
.enclosures li {
	background-color: #eef;
	display: inline;
}

/* bloc auteurs */
.author {
	float: right;
	display: block;
	background-color: #444444;
	color: #ffffff;
	max-width: 250px;
}

/* liste des auteurs */
.author li {
	display: block;
}
/* nom principal (address) d'un auteur */
.author address {
	font-variant: small-caps;
}
.author address a {
	color: red;
}

