
/*
 *
 * des gouts et des couleurs de base
 *
 */

body {
	font-family: Verdana, arial, helvetica, sans-serif;
	font-size: .8em;
	background-color: #F5F5F5;
}
a:link {
	color: #336699;
}
a:active {
	color: #336699;
}
a:hover {
	color: #CC0000;
	text-decoration: underline;}
	
a:visited {
	color: #336699;
}

form.formrecherche {
	float: left;
	width: 80%;
	display: inline;
	margin-top: 0px;
	height: 2em;
	line-height: 2em;
	
}
input.formrecherche {
	border: 2px inset #B0C4DE;
	background-color: #FFFAFA;
	width: 200px;
	float: right;	
	height: 1.5em;
	line-height: 1.5em;
	
}
/*
 *
 * des gouts et des couleurs de base
 *
 */
#breadcrumb  {
	color: #336699;
	float: left;
	display: inline;
	margin: 0px 0px 0px 0px;	
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	clear: both;
}
ul#breadcrumb  {
   float: left;
	display: inline;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;
		}

ul#breadcrumb li a {
	display: inline;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;
	margin: 0px 4px 0px 0px;
	float: left;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	font-weight: bold;
	}
ul#breadcrumb  a:hover {
	text-decoration: underline;
}


ul#breadcrumb  a:after {
	content: " > ";
}
h4 {	color: #336699;
	background-color: #DCDCDC;
}

/* forums */
div.thread {
	width: 80%;
	background-color: #F0F8FF;
	float: left;
	border-right-color: #AFEEEE;
	border-right-style: solid;
	border-right-width: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	top: 0px;
}

div.hcomment {
	padding: 3px;
	border: 1px dotted #B0E0E6;
	background-color: #F5FFFA;
	float: left;
}

.repondre-article {
	float: right;
	background-color: #FFFAFA;
	text-align: center;	
	border: 2px outset #D8BFD8;
	width: 150px;	
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	font-size: 70%;	
	color: #BA55D3;
}

.repondre-message {
	float: right;
	background-color: #FFFAFA;
	text-align: center;	
	border: 2px outset #B0E0E6;
	width: 150px;		
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	font-size: 70%;
	margin-bottom: 10px;
	clear: both;
}

.repondre-message a:link{
font-size: 70%;	color: #20B2AA;
}
.repondre-message a:hover{
font-size: 70%;	color: #20B2AA;
	text-decoration: underline;
}
.repondre-message a:active{
font-size: 70%;	color: #20B2AA;
}
.repondre-message a:visited{
font-size: 70%;	color: #20B2AA;
}


/*
 *
 * du microformat
 *
 */


/* conteneur : atom feed */
.feed {
	background-color: White;
	width: 80%;
	border-left-color: #B0C4DE;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #B0C4DE;
	border-right-style: solid;
	border-right-width: 2px;
	clear: both;
}

/* le "contenu" d'un atom entry */
.entry {
	background-color: White;
	margin: 3px 3px 5px 3px;
	border-bottom-color: #B0C4DE;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	padding-bottom: 5px;
	clear: both;
	
	display: block;
	overflow: hidden;
	}

	
	.entry .content {
	margin-bottom: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
		clear: both;
}

/* les elements de contenu */




.entry .deck {
	font-size: 120%;
	font-weight: bold;
	color: #4682B4;
		clear: both;
}
.entry .notes {
	font-size: 70%;
}
.entry .title {
	color: #336699;
	font-size: 180%;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	clear: both;
}
.entry .subtitle {
	color: #336699;
	font-size: 150%;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	clear: both;
}
.spip_logos {
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	}
/* la date de publication */
.entry abbr.published {
	background-color: White;
	font-style: normal;
	color: #A9A9A9;
	font-weight: bold;
	float: left;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	
}

/* pour hacl */
#vevent {
}

/* une liste de liens de traduction */
.traductions li {
	background-color: #fee;
	border: 1px dotted #D3D3D3;
	font-style: normal;
	list-style-image: none;
	list-style-position: inherit;
	list-style-type: none;
	display: inline;
	padding-left: 2px;
	padding-right: 2px;
}

/* une liste de mots-cles */
#tags li {
	background-color: #F0F8FF;

	font-style: normal;
	list-style-image: none;
	list-style-position: inherit;
	list-style-type: none;
	display: inline;
	padding-left: 2px;
	padding-right: 2px;
	border-right: 1px solid Navy;
	padding: 0px 10px 0px 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
}


/* une liste d'enclosures */
.enclosures li {
	background-color: #eef;
	border: 1px dotted #D3D3D3;
	font-style: normal;
	list-style-image: none;
	list-style-position: inherit;
	list-style-type: none;
	display: inline;
	padding-left: 2px;
	padding-right: 2px;

}




/* bloc auteurs */
.author {
	display: block;
	background-color: #F5F5F5;
	color: Gray;
	max-width: 250px;
	border-left-color: #DCDCDC;
	border-left-style: solid;
	border-left-width: 2px;
	padding-top: 3px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
	float: right;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	}

/* liste des auteurs */
.author li {
	display: block;
}
/* nom principal (address) d'un auteur */
.author address {
	font-variant: small-caps;
}
.author address a {
	color: #CC0000;
}

ul.navigation  {
float: left;
	display: inline;
	list-style-image: none;
	list-style-position: inside;
	list-style-type: none;
	}