
/*
 *
 * des gouts et des couleurs de base
 *
 */

body {
	font-family: Verdana, arial, helvetica, sans-serif;
	font-size: .8em;
}

h4 {
	color: #ccc;
	background-color: #006;
}




/*
 *
 * du microformat
 *
 */

/* le "contenu" d'un atomentry */
.atomentry .content {
	background-color: #edd;
}

/* la date de publication */
.atomentry abbr.published {
	background-color: #dee;
}

/* une liste de liens de traduction */
.traductions li {
	display: inline;
}

/* une liste d'enclosures */
.enclosures li {
	display: inline;
}

/* bloc auteurs */
.auteurs {
	float: right;
	display: block;
	background-color: #444;
}

/* liste des auteurs */
.auteurs li {
	display: block;
}
/* nom principal (address) d'un auteur */
.auteurs address {
	font-variant: small-caps;
}
.auteurs address a {
	color: red;
}

