/*Replace le champ recherche à cause du slider*/
body.page_sommaire div#formulaire_recherche {
    float: left;
    height: 36px;
    position: absolute;
    right: 0;
    top: -336px;
}

/*Resume Articles*/

body.page_sommaire img.spip_logos,body.page_rubrique img.spip_logos  {
    border: 0 none;
    float: right;
    margin: 0;
    padding: 0;
}

.liste-items .entry-header {
    position: relative;
}

.liste-items .entry-thumbnail {
    background: none repeat scroll 0 0 #000000;
    margin: 0;
    padding: 0;
}

.liste-items .entry-thumbnail a {
    display: block;
    margin: 0;
    padding: 0;
}

.liste-items .entry-thumbnail img {
    display: block;
    margin: 0;
    padding: 0;
}

.h3-logo a{
    background: none repeat scroll 0 0 #000000;
    bottom: -280px;
    color: #FFFFFF;
    font: 22px/25px 'Open Sans Condensed',sans-serif;
    left: 0;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-shadow: 0 0 0 transparent;
    text-transform: uppercase;
}
.h3-logo a:hover{
	text-decoration: underline;
}

body.page_sommaire ul.liste-items .info-publi, body.page_rubrique ul.liste-items .info-publi {
    background: url("images/bg-entry-meta.png") repeat-x scroll 0 0 transparent;
    color: #222222;
    display: block;
    float: left;
    line-height: 40px;
    margin: 0 0 20px;
    padding: 0 10px;
    text-shadow: 0 1px 0 #999999;
    width: 620px;
}

.info-publi {
    background: url("images/bg-entry-meta.png") repeat-x scroll 0 0 transparent;
    color: #222222;
    display: block;
    /*float: left;*/
    line-height: 40px;
    margin: 0 0 20px;
    padding: 0 10px;
    text-shadow: 0 1px 0 #999999;
    width: 620px;
}


.info-publi abbr {
    float: left;
    display: block;
}




