<plugin>
	<nom>Sarka-SPIP En rouge et noir</nom>
	<auteur><a href='http://www.zest.shizuka.fr'>_Shizuka_</a></auteur>
	<licence><a href='http://creativecommons.org/licenses/by/2.5/' rel='licence'>Creative Commons Attribution 2.5</a></licence>
	<version>0.1.0</version>
	<slogan>Th&#232;me Sarka-SPIP 3 sombre pour les amateurs de Stendhal</slogan>
	<description>Un th&#232;me en rouge et noir pour le squelette Sarka-SPIP en layout fixe de 1024 pixels.</description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme_sarka_rougenoir</prefix>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>