<plugin>
	<nom>Sarka-SPIP En rouge et noir</nom>
	<auteur><a href='http://www.zest.shizuka.fr'>_Shizuka_</a></auteur>
	<licence><a href='http://creativecommons.org/licenses/by/2.5/' rel='licence'>Creative Commons Attribution 2.5 License</a></licence>
	<version>0.1</version>
	<description>Un th&egrave;me en rouge et noir pour le squelette Sarka-SPIP en layout fixe 1024px </description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme</prefix>
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
</plugin>