<plugin>
	<nom> <!-- Nom du plugin -->
	Gestion des habillages pour EVA-Web 3.1
	</nom>
	<auteur>
    Olivier Gautier, Samuel Bocharel, &eacute;quipe de d&eacute;veloppement EVA-web.
    <br/>Cette <a href="http://purl.org/dc/dcmitype/InteractiveResource" rel="dc:type">cr&eacute;ation</a> est mise &agrave; disposition sous un <a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/">contrat Creative Commons</a>.
    <br />&nbsp;<br /><div style="text-align:center;"><a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/2.0/fr/88x31.png"/></a></div>
	</auteur>
	<version>
	1.1
	</version>
    <version_base>0.5</version_base>
	<etat>
	stable
	</etat>
    <description>
    Gestion automatique des habillages d'EVA par un administrateur du site.
    </description>
    <lien>
    [Documentation sur le site eva-web.edres74.ac-grenoble.fr->http://www.eva-web.edres74.ac-grenoble.fr/spip.php?rubrique7]
    </lien>
    <prefix>
    eva_habillage
    </prefix>
    <options> <!-- fichier charge a chaque hit --> 
    eva_habillage_mes_options.php
    </options>
    <install>eva_habillage_install.php</install>
    <pipeline>
        <nom>ajouter_boutons</nom>
        <action>AjouterBoutons</action>
		<inclure>eva_habillage_pipeline.php</inclure>
    </pipeline>
</plugin>
