/* CSS Document */
.bandeau_haut {min-height: 50px; background: #6262A4;}
* html .bandeau_haut, *+html .bandeau_haut {height : 1px;}  /* Hack IE*/

.navigation{background-color: #AB62A4;; float: right; width: 350px; margin: 0;}

.site_logo {margin:5px 5px 5px 5px; float:left;}
.site_nom  {margin:10px 0 0 10px; overflow:visible !important /*Firefox*/; overflow:hidden /*IE6*/;}
.site_nom h1 {font-size:200%; margin:0px;}
.site_nom h1 a {color:#EEEEEE; text-decoration:none;}
.site_nom h1 a:hover {color:#AAAAAA;}
.site_nom h2 {font-size:150%; margin:0px; color:#EEEEEE;display:inline}

.bandeau_bas {min-height: 50px; text-align: center; background-image: url(../images/banniere.gif); background-repeat: repeat-x;}
a .bandeau_bas  {display:inline}

.nav_langue {float:right; width:100%;}
.nav_langue ul {float:right; padding:0 5px 0 0;  margin : 10px 0px 5px 0px}
.nav_langue li {display:inline; list-style:none;}
.nav_langue li a {color:#EEEEEE ; text-decoration:none; padding:0 0 0 3px;}
.nav_langue a:hover {text-decoration:none; color:#AAAAAA;}
.nav_langue a img {height:14px; border:none;}

.nav_raccourci {float:right; width:100%;}
.nav_raccourci ul {float:right; padding:0 5px 0 0; font-weight:bold; margin : 3px 0}	
.nav_raccourci li {display:inline; list-style:none;}
.nav_raccourci li a {display:block; float:left; padding:2px 5px 2px 5px; color:#EEEEEE ; text-decoration:none; font-size:100%;}
.nav_raccourci a:hover {text-decoration:none; color:#AAAAAA;}


.bandeau_chemin {
	border-top: 2px solid #FFFFFF;
	background: #6262A4;
	padding: 4px 10px;
	margin: 0px 0px 0px 200px;
	text-align: left;
	font-size: 11px;
	color: #EEEEEE;
	font-weight: bold;
	font-family: Verdana,Helvetica,Arial,sans-serif;
}

.bandeau_chemin a {color: #EEEEEE;}
.bandeau_chemin a:hover {color: #AAAAAA; text-decoration:none;}
