img { border: 0px none;}
.moteur {margin-left : 10px;} /*les logos des moteurs de recherche*/

table {
	font-size: 1em;
	border-color: #FFFFFF;
}
tr.row_first {
	background: #808080;
	color: #FFFFFF;
	text-align: center;
}

tr.row_odd {
	background: #E0E0E0;
	color: #000000;
}

tr.row_even {
	background: #E0E0E0;
	color: #000000;
}

blockquote {
	display: block;
	border : 1px solid #990000;
	border-left : 8px solid #990000;
	background : #EEEEEE;
	padding : 0px 5px;
	font-style :italic;
	overflow: auto;
}
/* pour que les zones de saisie de texte dans les formulaires soient plus large */
.auteur textarea, .forum textarea{ width: 99%;}

.spip_code {    /*---affichage de code (pour afficher en mode texte du code html)---*/
	display: block;
	border : 1px solid #669999;
	border-left : 8px solid #669999;
	background : #E0F0F0;
	padding : 0px 1em 0px 1em;
	margin: 1em 0em 1em 0em;
	/*font-size: 11px;*/ 
	font-size: 1.1em;
	line-height:1.5em;
	overflow: auto;/*overflow : scroll; */
	max-height: 25em;
}

/* Puces generees par un tiret seul en debut de ligne */
/* Ces puces ne sont pas incluses dans une balise <ul> et le code obtenu est <li class="spip"> */

li.spip {
	list-style-image:URL(../images/puce-n0.gif);
	list-style-position: outside;
	padding: 0;
	margin: 5px 0 0 20px;
}

/* Puces generees par un tiret suivant d'un ou plusieurs asterisques (ex: -* blabla...) */
/* Ces puces sont incluses dans une balise <ul class="spip"> et le code de chaque item est <li class="spip"> */

ul.spip  {
	padding: 0;
	margin: 5px 0 5px 20px;
}

ul.spip li.spip {
	list-style-image: URL(../images/puce-n1.gif);
	padding: 0px;
	margin: 5px 0 0 0;
}

ul.spip ul.spip li.spip {
	list-style-image:URL(../images/puce-n2.gif);
}

/* Puces generees par un tiret suivant d'un ou plusieurs diez (ex: -# blabla...) */
/* Ces puces sont incluses dans une balise <ol class="spip"> et le code de chaque item est <li class="spip"> */

ol.spip  {
	padding: 0;
	margin: 5px 0 0 20px;
}


ol.spip li.spip{
	list-style-type: decimal;
	list-style-image: none;
	list-style-position: outside;
	padding: 0px;
	margin: 5px 0 0 0;
}

ol.spip ol.spip li.spip {list-style-type: lower-alpha;}
ol.spip ol.spip ol.spip li.spip {list-style-type: lower-roman;}

/*---comportement des elements de formulaires---*/
.formulaire_spip fieldset {
	border: 1px solid #6262A4;
	margin: 10px 0px 10px 0px;
	padding: 10px;
}

.formulaire_spip legend {
	font-size:1.2em;
	line-height : 1.1em;
	color: #6262A4;
	background: #EEEEEE;
	font-weight: bold;
	border: 1px solid #6262A4;
	padding: 2px 5px 2px 5px;
	margin: 0px 0px 5px 0px;
}

.formulaire_spip label {
	font-weight: bold;
	font-size:1.2em;
}
.formulaire_spip p { /*surcharge le layout */
	margin : 0pt 0px 10px;
}
.formulaire_spip .spip_logos {
	float : right;
}
.formfx fieldset{margin:20px; padding:20px;}
.formfx ol{list-style-type :none;margin: 0px; padding:0;}
.formfx ol li{margin-bottom:20px;}
.formfx label{margin-bottom:10px;}
.formfx input#password, .formfx input#var_login{
	color: #6262A4;
	background: #F0F0FA;
	border: 1px solid #6262A4;
	display:block;
	clear:left;
	margin:5px 0px;
}
/*---comportement des liens de style bouton---*/

a.bouton {
	display:block;
	background:#6262A4;
	color:#F0F0FA;
	text-decoration:none;
	border: #6262A4 solid 1px;
	text-align:center;
	padding:1px 1px 1px 10px;
	margin:10px 0px;
}
a.bouton:hover {
	background:#F0F0FA;
	color:#6262A4;
}

a.repondre {
	background: #990000;
	color: #FFFFFF !important;
	text-decoration:none !important;
	border: #990000 solid 1px;
	text-align:center;
	padding: 1px 5px;
	margin-left : 5px;
	float: right;
	font-size: 1.2em;
	line-height: 1.2em;
}

a.repondre:hover {
	background:#FFFFFF !important;
	color:#990000 !important;
	text-decoration:none !important;
}

/*---comportement des elements de formulaires---*/
/*.saisie-texte,*/ .forml {
	display:block;
	margin:5px 0px;
	padding:1px;
}

/* A VERIFIER : voir si .saisie-texte existe ailleurs que dans les formulaires "maison" de recherche  */
/*.saisie-texte {margin: 0px 10px 5px 10px;}

.saisie-texte input {
	color: #6262A4;
	background: #F0F0FA;
	border: 1px solid #6262A4;
	width: 100%;
}
*/

.spip_bouton input {
	display: block;
	float: right;
	background: #6262A4;
	color: #F0F0FA;
	border: 1px solid #6262A4;
	margin:5px 0px;
	behavior: url(../scripts/spip-bouton-hover.htc);
}
.spip_bouton input:hover {
	background: #F0F0FA;
	color: #6262A4;
	cursor: pointer;
}
.spip_bouton_gauche input {
	display: block;
	background: #6262A4;
	color: #F0F0FA;
	border: 1px solid #6262A4;
	margin:5px 10px 10px 10px;
	behavior: url(../scripts/spip-bouton-hover.htc);
}

.spip_bouton_gauche input:hover {
	background: #F0F0FA;
	color: #6262A4;
	border: 1px solid #6262A4;
	cursor: pointer;
}
.image .spip_logos {
	display: block;
	float: right;
	margin: 10px;
	border:0px;
}

.reponse_formulaire { 
	font-size: 1.2em; 
	font-weight: bold; 
	color: red;
}

.clearer {clear: both; display: block; height: 0px;}
.clearer-right {clear: right; display: block; height: 0px;}
.clearer-left {clear: left; display: block; height: 0px;}


/* ====================== style des info-bulles perso adaptees au contexte (image, plan...) ====================== */
* html a.info:hover {   /* correction d'un bug IE */
	background: none; 
	background-image:url(../images/puce-n0.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

a.info span {
    display: none;
}

a.info:hover span {
	display: inline;
	position: absolute;
	z-index: 500;
	margin:0em 0 0 1em;
	background: #EEEEEE;
	text-align: left;
	color: #808080;
	padding: 0px 3px 0px 3px;
	border:1px solid #808080;
}
.images a.info:hover span {    /* style des infobulles associees aux images */				
	width: 200px;
}

.stats a.info:hover span {   /* style des infobulles associees aux stats */
	background: #6262A4;
	text-decoration: none;
	color: #FFFFFF;
	border:1px solid #6262A4;
	width: 30px;
}

/* ====================== FIN style des info-bulles perso adaptees au contexte (image, plan...) ====================== */

/* ~~~~~~~~~~~~ pagination des messages de forum ~~~~~~~~~~~~ */
.pagination {
		margin: 30px;
		text-align: center;
		text-decoration:none;
		font-size: 1.2em;}

.pagination span.on {
	display:inline;
	background:#F0F0FA;
	color:#6262A4;
	border: #6262A4 solid 1px;
	padding:1px;
	margin:10px 2px 10px 2px;
}
		
.pagination a.ancre {display:none;}

.pagination a {
	display:inline;
	background:#6262A4;
	color:#F0F0FA;
	border: #6262A4 solid 1px;
	padding:1px;
	margin:10px 2px 10px 2px;
}
.pagination a:hover {
	background:#F0F0FA;
	color:#6262A4;
	text-decoration:none;
}

/*---style des documents---*/

.spip_documents_left {
	display: block;
	float: left;
	margin: 0 10px 10px 0;
}

.spip_documents_center {
	display: block;
	clear: both;
	width: 100%;
	text-align: center;
	margin: 0 0px 10px 0px
}

.spip_documents_right {
	display: block;
	float: right;
	margin: 0 0 10px 10px;
}

div.spip_documents_no-float {
	clear: both;
	margin: 0 0 10px 0;
}

div.spip_documents_left .spip_documents, div.spip_documents_center .spip_documents, div.spip_documents_right .spip_documents {
	text-align: center;
	font-size: 0.9em;
	border: 1px solid #6262A4;
	background: #F0F0FA;
	padding: 5px 0 5px 0;
	margin: auto;
}

div.spip_documents_no-float .spip_documents {
	text-align: center;
	font-size: 0.9em;
	border: 1px solid #6262A4;
	background: #F0F0FA;
	padding: 5px 0 5px 0;
}

.spip_doc_titre {
	clear: both;
	font-weight: bold;
	font-size: 1em;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 0px 5px 0px;
	text-indent: 0;
}

.spip_doc_descriptif {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.9em;
	color: #808080;
}	
