/* Surcharge des layout Gala:
	- * html sont des hacks pour IE6
	- *+html sont des hacks pour IE7
	- Pour information l'underscore (_) n'est plus reconnu par Internet Explorer 7
	- les background autres que celui du body sont destines a du debug 
*/
body {
	padding: 20px 10px;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	background: #FFFFFF;
}
#header {
	padding : 0px 10px 10px 10px;
	background: #CFCFCF;
}
div#header h1{
	margin: 0px;
	padding-left: 0px;
	height: auto;
	line-height: 1.12em;
	color: transparent;
	background: none;
}
div#footer{
	padding : 30px 0px 0px 0px;
	text-align:center;
	color: #000000; 
	background: #CFCFCF;
}   
div#footer p {
	display:inline;
}
div#navigation{
	padding : 0px 10px;
	width:180px;
	font-size: 83%;
	background: #CFE0FF;
}
div#extra{
	padding : 0px 10px;
	width:180px;
	font-size: 83%;
	background: #EFEAB3;
}   
* html div#extra, * html div#navigation{ width:200px;}
#wrapper {
	background: #E0FFBF;
}
#content {
	padding : 0px 10px; 
	background: #FCCFCF;
}
a {text-decoration:none;
    display: inline ;
	padding: 0;
	color: #990000;
}	
a:hover { 
	text-decoration: underline;
}
