/* Noisettes pouvant etre inserees dans les colonnes extra et navigation */
/* Styles generiques */
.noisette {margin-bottom: 15px; color: #808080;}
.noisette h1, h2, h3 {margin: 0px; font-size: 1em;}
.noisette h1.intitule, .noisette h1 a.intitule {
	display: block;
	margin-bottom: 10px;
	border: 1px solid #808080;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	line-height:1.2em;
	color: #FFFFFF;
	background-color: #808080;}
.noisette h1 a.intitule:hover {text-decoration: none; color: #808080; background-color: #EEEEEE;}

.noisette .contenu{margin-bottom: 5px; padding: 0px; border: 1px solid #808080;}
.noisette .contenu h2.titre_bloc, 
.noisette .contenu h2 a.titre_bloc {
	display: block;
	margin: 0px;
	padding: 1px;
	border-bottom: 1px solid #808080;
	font-size: 1.25em;
	line-height:1.5em;
	font-weight: bold;
	text-align: center;
	color: #808080;
	background: #EEEEEE;}
.noisette .contenu h2 a.titre_bloc:hover {text-decoration: none; color: #FFFFFF; background: #808080;}

.noisette .contenu .liste ul {margin: 0px; padding: 0px; list-style-type: none;}
.noisette .contenu h2.titre, .noisette .contenu h2 a.titre, .noisette .contenu .liste li a.titre {
	display: block;
	padding: 0px 0px 5px 10px;
	margin: 0px 5px;
	/*font-size: 100%;*/
	font-weight: bold;
	text-decoration: none;
	color: #808080;
	background-image: url(../images/puce-n0.gif);
	background-position: left top;
	background-repeat: no-repeat;}
.noisette .contenu h2 a.titre:hover, .noisette .contenu .liste li a.titre:hover{text-decoration: underline;}

.noisette .contenu .date_bloc {
 	border-bottom: 1px solid #808080;
	border-left: 1px solid #808080;
	font-size: 0.9em;
	text-align: center;
	color: #808080;
	margin-left: 30%;
	padding: 1px;
	background: #EEEEEE;
	text-align: center;}

.noisette .contenu div.introduction, .noisette .contenu a.introduction {
	display: block;
	margin: 0px 5px;
	padding:0px 0px 5px 10px;	
	/*font-size: 100%;*/
	color: #808080;}
.noisette .contenu a.introduction:hover{text-decoration: underline;}
.noisette .contenu div.introduction * {margin: 0px}

.noisette .contenu .liste {margin: 0px;	padding: 5px 0px; /*font-size: 100%;*/;}
.noisette .contenu .texte {margin: 0px; padding: 5px; /*font-size: 100%;*/ line-height: 1.1em;}
.noisette .contenu .texte p {margin:0.7em 0em; padding:0px;}

.noisette .contenu .notes {
	margin: 0px;
	padding: 5px;
	/*font-size: 100%;*/
	line-height: 100%;
	border-top: 1px solid #808080;}
.noisette .contenu .notes p {margin: 0px;}

.noisette .contenu h3 {padding: 3px 0px; line-height: 1.1em;}
.noisette .contenu  a {color:#990000;}
.noisette .contenu a:hover {text-decoration: underline;}
.noisette .contenu strong {color: #000000;}
.noisette .contenu blockquote, .noisette .contenu code {margin : 2px;}

/* Styles specifiques pour les statistiques */
#noisette_statistiques.noisette .contenu .texte {text-align: center;}

/* Styles specifiques pour les mots-cles et categories */
#noisette_categories.noisette .contenu h2.titre_bloc {border-bottom: 0px; color: #990000}
#noisette_categories.noisette .contenu h2 a.titre_bloc {border-bottom: 0px;}
#noisette_categories.noisette .contenu .liste li.titre,
#noisette_motscles.noisette .contenu .liste li.titre {
	display: block;
	padding: 0px 0px 5px 10px;
	margin: 0px 5px;
	font-size: 1.1em;
	font-weight: bold;
	text-decoration: none;
	color: #990000;
	background-image: url(../images/puce-n1.gif);
	background-position: left top;
	background-repeat: no-repeat;}
#noisette_categories.noisette .contenu .liste li a.titre,
#noisette_motscles.noisette .contenu .liste li a.titre {font-size: 1.1em; background-image: none;}
#noisette_categories.noisette .contenu .liste li a.titre:hover,
#noisette_motscles.noisette .contenu .liste li a.titre:hover {
	font-size: 1.1em;
	text-decoration: underline;
	background-image: url(../images/puce-n1.gif);
	background-position: left top;
	background-repeat: no-repeat;}

/* Styles specifiques pour les badges */
.noisette .badges a {
	display: block;	
	margin: 2px 0px;
	padding: 0px;
	border: 0px;
	width: 80px;
	height: 15px;}
.noisette .badges a:hover {text-decoration:none;}
#logo_rss {background: url(../images/badge_rss.png); background-repeat: no-repeat;}
#logo_rss:hover {background: url(../images/badge_rss_hover.png); background-repeat: no-repeat;}
#logo_sarkaspip {background: url(../images/badge_sarkaspip.png);background-repeat: no-repeat;}
#logo_sarkaspip:hover {background: url(../images/badge_sarkaspip_hover.png); background-repeat: no-repeat;}
#logo_spip {background: url(../images/badge_spip.png);	background-repeat: no-repeat;}
#logo_spip:hover {background: url(../images/badge_spip_hover.png);	background-repeat: no-repeat;}
#logo_xhtml {background: url(../images/badge_xhtml.png); background-repeat: no-repeat;}
#logo_xhtml:hover {background: url(../images/badge_xhtml_hover.png); background-repeat: no-repeat;}

/* Styles specifiques pour le mini-agenda */
#noisette_miniagenda.noisette {overflow: hidden;}
#noisette_miniagenda.noisette .contenu table {table-layout: fixed; border-spacing:0px; width:100% !important /*FF*/; width:178px /*IE*/; font-size: 1.1em; text-align: center;}
* html #noisette_miniagenda.noisette .contenu table{border-collapse:collapse;}
#noisette_miniagenda.noisette .contenu table thead {color: #FFFFFF;background: #6262A4;}
#noisette_miniagenda.noisette .contenu table th{}
#noisette_miniagenda.noisette .contenu table td{line-height:1.1em;}
#noisette_miniagenda.noisette .contenu table td.libre,
#noisette_miniagenda.noisette .contenu table td.occupe {background-color: #FFFFFF;border : 1px solid #FFFFFF;}
#noisette_miniagenda.noisette .contenu table td.horsperiode {background: #EEEEEE; color: #AAAAAA;border : 1px solid #EEEEEE;}
#noisette_miniagenda.noisette .contenu table td.today {font-weight: bolder; background: #FFFFFF;border : 2px solid #6262A4;}
#noisette_miniagenda.noisette .contenu table td a {font-weight: bolder;}
#noisette_miniagenda.noisette .contenu table td a:hover {}

#noisette_miniagenda.noisette .contenu h2 a.titre_bloc {padding: 0px 0px; border-top: 1px solid #808080;font-size: 1.2em;}
#noisette_miniagenda.noisette .contenu h2.titre_bloc.centre,
#noisette_miniagenda.noisette .contenu h2 a.titre_bloc.bord {padding: 1px 0px; border-top: 0px;float: left;font-size: 1.2em;}
#noisette_miniagenda.noisette .contenu h2.titre_bloc.centre {width: 50% !important /*FF*/;width: 90px /*IE*/;}
#noisette_miniagenda.noisette .contenu h2 a.titre_bloc.bord {width: 25% !important /*FF*/;width: 44px /*IE*/;}

#noisette_miniagenda.noisette .contenu table#footer_evenements {table-layout: fixed; border: 0px; border-collapse: collapse;text-align: left;font-size: 1em;}
#noisette_miniagenda.noisette .contenu table#footer_evenements td{line-height:1.1em;}
#noisette_miniagenda.noisette .contenu table#footer_evenements td.footer_colg{width: 37% !important /*FF*/;width: 66px /*IE*/; padding: 1px; font-weight: bold;}
#noisette_miniagenda.noisette .contenu table#footer_evenements td.footer_cold{width: 63% !important /*FF*/;width: 112px /*IE*/; padding: 1px;}
#noisette_miniagenda.noisette .contenu table#footer_evenements td.footer_cold a{color: #808080; font-weight: normal;}
#noisette_miniagenda.noisette .contenu table#footer_evenements td.footer_cold a:hover{}

* html #noisette_miniagenda.noisette .contenu .clearer {display:none}


/* Styles specifiques pour les formulaires de recherche */
.nav_recherche{background: #E0E0E0;}
.contenu .formulaire_recherche {margin: 0 10px; width:100%; padding-bottom: 5px;display : block}
* html .noisette .contenu .formulaire_recherche {padding-bottom: 5px;}
.contenu .formulaire_recherche label {display: none !important; }
.contenu .formulaire_recherche input.forml {border:1px solid #6262A4;color:#6262A4; width: 130px;display: inline; float:left;margin:2px 0px;background: #F0F0FA; }
*html .contenu .formulaire_recherche input.forml {width: 128px}
.contenu .formulaire_recherche input.bouton {margin:2px;border:0px;padding:2px 0 0 2px;}
* html .contenu .formulaire_recherche input.bouton {float:left;}
