/* Surcharge des layout Gala */
@import url("layout.css");
@import url("noisettes.css");
@import url("bandeau.css");

img { border: 0px none;}
.moteur {margin-left : 10px;} /*les logos des moteurs de recherche*/

table {
	font-size: 90%;
	border-color: #FFFFFF;
}
tr.row_first {
	background: #808080;
	color: #FFFFFF;
	text-align: center;
	font-size: 100%;
}

tr.row_odd {
	background: #E0E0E0;
	color: #000000;
}

tr.row_even {
	background: #E0E0E0;
	color: #000000;
}

blockquote {
	display: block;
	border : 1px solid #990000;
	border-left : 8px solid #990000;
	background : #EEEEEE;
	padding : 0px 5px;
	font-style :italic;
	overflow: auto;
}
/* pour que les zones de saisie de texte dans les formulaires soient plus large */
.auteur textarea, .forum textarea{ width: 99%;}

.spip_code {    /*---affichage de code (pour afficher en mode texte du code html)---*/
	display: block;
	border : 1px solid #669999;
	border-left : 8px solid #669999;
	background : #E0F0F0;
	padding : 0px 1em 0px 1em;
	margin: 1em 0em 1em 0em;
	/*font-size: 11px;*/ 
	font-size: 90%;
	overflow: auto;/*overflow : scroll; */
	max-height: 25em;
}

/* Puces generees par un tiret seul en debut de ligne */
/* Ces puces ne sont pas incluses dans une balise <ul> et le code obtenu est <li class="spip"> */

li.spip {
	list-style-image:URL(../images/puce-n0.gif);
	list-style-position: outside;
	padding: 0;
	margin: 5px 0 0 20px;
}

/* Puces generees par un tiret suivant d'un ou plusieurs asterisques (ex: -* blabla...) */
/* Ces puces sont incluses dans une balise <ul class="spip"> et le code de chaque item est <li class="spip"> */

ul.spip  {
	padding: 0;
	margin: 5px 0 0 20px;
}

ul.spip li.spip {
	list-style-image: URL(../images/puce-n1.gif);
	padding: 0px;
	margin: 5px 0 0 0;
}

ul.spip ul.spip li.spip {
	list-style-image:URL(../images/puce-n2.gif);
}

/* Puces generees par un tiret suivant d'un ou plusieurs diez (ex: -# blabla...) */
/* Ces puces sont incluses dans une balise <ol class="spip"> et le code de chaque item est <li class="spip"> */

ol.spip  {
	padding: 0;
	margin: 5px 0 0 20px;
}

ol.spip li.spip {
	list-style-type: decimal;
	list-style-image: none;
	list-style-position: outside;
	padding: 0px;
	margin: 5px 0 0 0;
}

ol.spip ol.spip li.spip {list-style-type: lower-alpha;}
ol.spip ol.spip ol.spip li.spip {list-style-type: lower-roman;}

/*---comportement des elements de formulaires---*/

.formulaire_spip fieldset {
	border: 1px solid #6262A4;
	margin: 10px 0px 10px 0px;
	padding: 10px;
}

.formulaire_spip legend {
	color: #6262A4;
	background: #EEEEEE;
	font-weight: bold;
	border: 1px solid #6262A4;
	padding: 2px 5px 2px 5px;
	margin: 0px 0px 5px 0px;
}

.formulaire_spip label {
	font-weight: bold;
}
.formulaire_spip p { /*surcharge le layout */
	margin : 0pt 0px 10px;
}
.formulaire_spip .spip_logos {
	float : right;
}


/*---comportement des liens de style bouton---*/

a.bouton {
	display:block;
	background:#6262A4;
	color:#F0F0FA;
	text-decoration:none;
	border: #6262A4 solid 1px;
	text-align:center;
	padding:1px 1px 1px 10px;
	margin:10px 0px;
}
a.bouton:hover {
	background:#F0F0FA;
	color:#6262A4;
}

a.repondre {
	background: #990000;
	color: #FFFFFF !important;
	text-decoration:none !important;
	border: #990000 solid 1px;
	text-align:center;
	padding: 1px 5px;
	margin-left : 5px;
	float: right;
}

a.repondre:hover {
	background:#FFFFFF !important;
	color:#990000 !important;
	text-decoration:none !important;
}

/*---comportement des elements de formulaires---*/
.saisie-texte, .forml {
	display:block;
	margin:5px 0px;
	padding:1px;
}

/* A VERIFIER : voir si .saisie-texte existe ailleurs que dans les formulaires "maison" de recherche  */
.saisie-texte {margin: 0px 10px 5px 10px;}

.saisie-texte input {
	color: #6262A4;
	background: #F0F0FA;
	border: 1px solid #6262A4;
	width: 100%;
}


.spip_bouton input {
	display: block;
	float: right;
	background: #6262A4;
	color: #F0F0FA;
	border: 1px solid #6262A4;
	margin:5px 0px;
	behavior: url(../scripts/spip-bouton-hover.htc);
}
.spip_bouton input:hover {
	background: #F0F0FA;
	color: #6262A4;
	cursor: pointer;
}
.spip_bouton_gauche input {
	display: block;
	background: #6262A4;
	color: #F0F0FA;
	border: 1px solid #6262A4;
	margin:5px 10px 10px 10px;
	behavior: url(../scripts/spip-bouton-hover.htc);
}

.spip_bouton_gauche input:hover {
	background: #F0F0FA;
	color: #6262A4;
	border: 1px solid #6262A4;
	cursor: pointer;
}
.image .spip_logos {
	display: block;
	float: right;
	margin: 10px;
	border:0px;
}

.reponse_formulaire { 
	font-size: 12px; 
	font-weight: bold; 
	color: red;
}

.clearer {
	clear: both;
	display: block;
	height: 0px;
}
.clearer-right {
	clear: right;
	display: block;
	height: 0px;
}


/* ====================== style des info-bulles perso adaptees au contexte (image, plan...) ====================== */
* html a.info:hover {   /* correction d'un bug IE */
	background: none; 
	background-image:url(../images/puce-n0.gif);
	background-position: left top;
	background-repeat: no-repeat;
}

a.info span {
    display: none;
}

a.info:hover span {
	display: inline;
	position: absolute;
	z-index: 500;
	margin:0em 0 0 1em;
	background: #EEEEEE;
	text-align: left;
	color: #808080;
	padding: 0px 3px 0px 3px;
	border:1px solid #808080;
}
.images a.info:hover span {    /* style des infobulles associees aux images */				
	width: 200px;
}

.stats a.info:hover span {   /* style des infobulles associees aux stats */
	background: #6262A4;
	text-decoration: none;
	color: #FFFFFF;
	border:1px solid #6262A4;
	width: 30px;
}

/* ====================== FIN style des info-bulles perso adaptees au contexte (image, plan...) ====================== */


/* ================================ Formatage des elements du bandeau =============================== */
/*a.bandeau {	
	display: block;
	background: #6262A4;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	font-size: 40px;
	font-weight: bold;
	color: #FFFFFF;
	height: 50px;
	padding: 10px 20px 10px 10px;
	text-align: right;
}

a.bandeau:hover {
	color: #EEEEEE;
	text-decoration: none;
}

a.bandeau .spip_logos {
	float: left;
	border: 0px;
}

.chemin {
	border-top: 2px solid #FFFFFF;
	background: #6262A4;
	padding: 4px 10px;
	margin: 0px 0px 0px 200px;
	text-align: left;
	font-size: 11px;
	color: #EEEEEE;
	font-weight: bold;
	font-family: Verdana,Helvetica,Arial,sans-serif;
}

.chemin a {color: #EEEEEE;}
.chemin a:hover {color: #AAAAAA; text-decoration:none;}

*/


/* ====================== Formatage des elements de la COLONNE CENTRALE  ====================== */
.intitulePage {  /* Style de l'intitule de chaque page */
	color: #808080;
	font-size: 24px;
	font-weight: bold;
	margin: 0px 0px 20px 0px; 
}

.sommaire {
	font-size: 12px;
	margin: 0px; 
	width: 100%; 
}

.rubrique {
	border: 2px solid #990000;
	background: #FFFFFF;
	margin: 0px 0px 20px 0px;  /*Sarka-SPIP 2.1*/
}

.rubrique a.titre {
	display: block;
	font-size: 150%;
	color: #FFFFFF;
	background: #990000;
	border-right: 2px solid #990000;
	border-bottom: 2px solid #990000;
	padding: 1px 5px 1px 5px;
	margin-right: 50%;
	text-align:center;
	font-weight:bold;
}
.rubrique a.titre:hover {
	color: #990000;
	background: #FFFFFF;
}

.rubrique .texte {
	margin: 10px;
}

.rubrique .texte a {
	color: #990000;
	text-decoration: 000none;
}

.rubrique .texte a:hover {
	text-decoration: underline;
}
/* contenu --> rubriques filles */
.rubrique .filles {
	margin: 10px;
}

.rubrique .filles a {
	display: block;
	color: #000000;
	font-weight: bold;
	background-image: url(../images/puce0.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px;
	margin: 5px 0px 5px 30px;
}

.rubrique .filles a:hover {
	background-image: url(../images/puce1.jpg);
}

.derniers-articles {
	background: #FFFFFF;
	margin: 20px 0px 20px 0px; /*Sarka-SPIP 2.1*/
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size: 12px;
	padding: 0px 0px 10px 0px;
}

.detail {
	color: #6262A4;
	font-size: 85%; 
   	font-weight: bold;
	text-align: center;
	margin: 0px 0px 10px 0px;
	padding: 1px 5px;
	border-left: 1px solid #6262A4;
	border-bottom: 1px solid #6262A4;
	width: 200px;
	float: right;
}
#edito .detail {
	border : none;
	font-size: 90%;
	text-align: right;
	color: #000000;
}

.article .detail {
	margin-right : -10px;
}
* html #edito .detail {margin-right: 0px; height : 1px;}  /* Hack IE6  */
#visualisation .detail {
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	padding: 1px;
	background: #6262A4;
	color: #FFFFFF;
}

.en-tete {
	color: #FFFFFF;
	font-size: 130%;
	font-weight: bold;
	margin: 0px 10px 10px 0px;
	padding-top:10px;
}
#articles_recents, #article_rubrique, #articles_auteur, #reponse_suite_article {  /* Mettre de l'ordre dans les dénominations */
	padding-left:10px;
	padding-bottom:1px;
	padding-top:1px;
	margin-right:0px;
	background-color: #6262A4;
	font-size : 167%;
	}
/*#article_rubrique {
	padding-top: 0px ;
	padding-left:10px}*/
#forum {
	color: #990000;
	font-size: 150%;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}
#docu_rubrique {color: #990000;}
#img_rubrique{color: #990000;}


.annonce {       /* utilise dans le modele mod_intro_article */
	background: #FFFFFF;
	margin-bottom: 10px;
	padding: 0px 0px 10px 0px;
	border : 2px solid #6262A4;
}
.annonce a {
	color: #990000;
	text-decoration: none;
}
.annonce a:hover {
	text-decoration: underline;
}
.annonce .image .spip_logos {
	float: left;
}

.annonce .mere {
	color: #990000;
	font-weight: bold;
	padding: 10px 10px 5px 10px;
}

.annonce .surtitre {
	color: #6262A4;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	padding-top: 5px;
}
.annonce a.titre {
	display: block;
	color: #6262A4;
	font-size: 130%;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
	padding-top: 5px;
}
.annonce a.titre:hover {
	text-decoration: underline;
}
.annonce .soustitre {
	color: #6262A4;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	padding-top: 5px;
}
.annonce .introduction {
	color: #000000;
	margin: 10px 10px 0px 10px;
}
.annonce a.suite {
	text-align: right;
	display: block;
}

/* ~~~~~~~~~~~~ contenu ~~~~~~~~~~~~ */
/* Le bloc contenu contient les rubriques, */
/* les articles, et leurs objets associes */
/* in extenso */


/* contenu de l'article "proprement dit" */
.article {
	background: #6262A4;
	margin: 0px 0px 20px 0px; /*Sarka-SPIP 2.1*/
	font-size: 13px;
	padding: 10px 2px 2px 2px; 
}
#edito {
	border: 2px solid #000000;
	background-color: #ffffe0;
	padding:0px 10px;
}

.article a.fonction { /*les boutons imprimer, créer un pdf*/
	display: block;
	width: 22px;
	height: 22px;
	float: right;
	margin-right: 10px; 
}

#imprimer {
	background-image: url(../images/printer.gif);
	background-repeat: no-repeat;
}

#creer_pdf {
	background-image: url(../images/_pdf.gif);
	background-repeat: no-repeat;
}

.article .surtitre {
	color: #FFFFFF;
	font-size: 110%;
	font-weight: bold;
	margin: 0px;
	padding-left:10px; 	
	_height : 1px; 
}

#edito.article .surtitre {
	color: #000000;
	font-size: 120%;
	margin: 5px 0px;
}

.article .titre {
	color: #FFFFFF;
	font-size: 166%;
	font-weight: bold;
	margin: 0px;
	padding-left:10px; 
}
#edito.article .titre {
	color: #000000;
	font-size: 180%;
	margin: 5px 0px;
}

.article .soustitre {
	color: #FFFFFF;
	font-size: 120%;
	font-weight: bold;
	margin: 0px;
	padding-left:10px;
}
#edito.article .soustitre {	
	color: #000000;
	font-size: 130%;
	margin: 5px 0px;
}
* html .article, * html #edito.article,
* html .article .surtitre, * html #edito.article .surtitre, 
* html .article .titre, * html #edito.article .titre,
* html .article .soustitre, * html #edito.article .soustitre   {height : 1px;}  /* Hack IE6 : sur-titre, titre, sous-titre de l'article invisible */

*+html .article, *+html #edito.article,
*+html .article .surtitre, *+html #edito.article .surtitre, 
*+html .article .titre, *+html #edito.article .titre,
*+html .article .soustitre, *+html #edito.article .soustitre {height : 1px;}  /* Hack IE7 : sur-titre, titre, sous-titre de l'article invisible */


.article .contenu {
	background: #FFFFFF;
	margin: 10px 0px 0px 0px;
	padding: 0px 10px 10px 10px;
}
.article .image .spip_logos {
	float: left;
	margin: 10px 10px 10px 0px;
}
#edito.article .image .spip_logos {
	float: right;
	margin: 0px 10px;
}

.article .chapo {
	color: #6262A4;
	margin: 10px 0px 0px 0px;
	font-weight: bold;
}
#edito.article .chapo {margin: 10px 10px 10px 0px;}

.article .texte {}
#edito.article .texte {
	color: #000000;
}

.article p {margin: 1em 0px 0px 0px;}
.article h3 {
	color: #6262A4;
	font-weight: bold;
	font-size: 140%;
	margin: 1.5em 0em 0.5em 0em;
}

.article .post-scriptum {
	margin: 10px 0px 10px 0px;
	padding-top: 10px;
	font-size: 100%;
	border-top: 2px solid #6262A4;
}
#edito.article .post-scriptum {					
	color: #000000;
	border-top: 2px solid #000000;
}

.article .post-scriptum .annonce {
	font-weight: bold;
	color:#6262A4;
	padding: 0px;
	margin: 0px 0px 10px 0px;
}
#edito.article .post-scriptum .annonce {background-color: #ffffe0;}

.article .notes {
	margin: 10px 0px 10px 0px;
	border-top: 2px solid #6262A4;
	font-size: 90%;
}
#edito.article .notes {
	color: #000000;
	border-top: 2px solid #000000;
}

/* content --> documents joints (aux articles et aux rubriques) */
#content .doc {
	padding: 10px; 
	color: #990000;
	background: #FFFFFF;
	margin: 0px;
}

#content .doc .spip_logos {
	margin: 5px 0px 0px 0px;
	border:0px;
}

#content .doc a {
	display:block;
	margin: 0px 0px 5px 0px;
}

/* content --> images jointes (aux articles et aux rubriques) */
#content .doc .vignette {
	font-size: 80%;
	margin: 10px;
	padding: 10px 0px 10px 0px;
	border:0px;
}

#content .doc ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	color: #000000;
}

/* mise en forme du formulaire de petition */  /*Mise en forme utilisée aussi pour "les articles dans la meme rubrique" */
.petition {
	border: 2px solid #6262A4;
	padding: 10px;
	margin: 0px 0px 10px 0px;
}

.petition .en-tete {
	color: #6262A4;
	font-size: 150%;
	margin: 0px 0px 5px 0px;
}

#articles-freres { background: #EEEEEE; }
#articles-freres .en-tete{font-weight: normal ;}
#articles-freres ol {color: #6262A4;}
#articles-freres .frere a {  /* lien vers les articles frères sauf l'article en cours */
	color: #6262A4;
	font-weight: bold;
}
#articles-freres .frere a:hover {text-decoration: underline;}
#articles-freres .frere .date {	color: #990000;}
#articles-freres .en-cours { /* affichage du titre de l'article en cours (sans lien) */
	color: #808080;
}

#signatures {
	background: #EEEEEE;
	font-size: 100%;
}

#signatures td {
	border: 1px solid #6262A4;
	margin: 0px;
	padding: 2px 5px 2px 5px;
	empty-cells: hide;
	font-size: 12px;
}
#signatures thead {
	background: #6262A4;
	font-weight: bold;
	color: #FFFFFF;
}

/* ~~~~~~~~~~~~ forum ~~~~~~~~~~~~ */
.forum {
	border: none;
	padding: 0px;
	margin: 0px;
	font-size: 100%;
}
.forum a.article-forum {
	font-size: 110%;
	font-weight: bold;
}

.forum_fils {margin-left : 20px;}

.visualisation {
	border: 1px solid #6262A4;
	margin: 10px 0px 0px 0px;
}
.visualisation .titre {
	border-bottom: 1px solid #FFFFFF;
	font-size: 120%;
	font-weight: bold;
	text-align: left;
	color: #FFFFFF;
	padding: 2px 10px 2px 10px;
	background: #6262A4;
}
.visualisation .texte {padding: 10px;}

/* ~~~~~~~~~~~~ pagination des messages de forum ~~~~~~~~~~~~ */
.bande-pagination {
		margin: 0px 30px 10px 30px;  /* 0px 30px 10px 30px; */
		text-align: center;
		text-decoration:none;
		font-size: 12px;}

.bande-pagination span.on {
	display:inline;
	background:#F0F0FA;
	color:#6262A4;
	border: #6262A4 solid 1px;
	padding:1px;
	margin:10px 2px 10px 2px;
}
		
.bande-pagination a.ancre {display:none;}

.bande-pagination a {
	display:inline;
	background:#6262A4;
	color:#F0F0FA;
	border: #6262A4 solid 1px;
	padding:1px;
	margin:10px 2px 10px 2px;
}
.bande-pagination a:hover {
	background:#F0F0FA;
	color:#6262A4;
	text-decoration:none;
}


/* ~~~~~~~~~~~~ galerie/albums ~~~~~~~~~~~~ */
.galerie {
	font-size: 24px; 							/* ?????????   A VERIFIER*/ 
	margin: 0px;
}
.galerie-album .galerie-album{
	font-size: 12px;
	padding: 0px 0px 10px 0px;
	border-top: 2px solid #6262A4;
}
#planche.galerie-album  {min-height: 500px; _height: 220px;}/*220px*/

.galerie-album  .vignette {
	display: block;
	float: left;
	width: 220px;
}
.galerie-album  .vignette .spip_logos {
	padding: 10px;
	display: block;
	background: #EEEEEE;
	border-left: 2px solid #6262A4;
	border-right: 2px solid #6262A4;
	border-bottom: 2px solid #6262A4;
}
.galerie-album   a.titre {
	display: block;
	color: #6262A4;
	font-size: 130%;
	font-weight: bold;
	margin: 0px 10px 0px 10px;
	text-decoration: none;
	padding-top: 5px;
}

.galerie-album   a.titre:hover {
	text-decoration: underline;
}
.galerie-album .introduction {
	color: #000000;
	margin: 10px 10px 0px 10px;
}
.galerie-album .texte {
	display: block;
	float: left;
	margin: 10px;
}
.galerie-album a.suite {
	text-align: right;
	display: block;
	padding-right : 25px;
}

/* ~~~~~~~~~~~~ album ~~~~~~~~~~~~ */
.album_menu a:hover {text-decoration: none !important;}

.album_menu {
   	margin-top:25px;
   	padding-top:10px;
   	padding-bottom:10px;
   	border-top:2px #6262A4 solid;
   	width:100%;
	color: #6262A4;
	font-family: Courier, monospace;
}

.album_vignette {
	width: 100%;
	text-align: center;
}

.album_vignette a:hover {text-decoration: none !important;}

.album_vignette a.image-vignette {/*hack pour ie : permet de creer le fond bleu des vignettes et l'espacement entre elles*/
	_background-color: #E0E0E0;
	_padding: 0px;
	_margin: 5px;
	_height: 100px;
}
/*style valable pour ff, equivalent au style precedent pour ie*/

.album_vignette table{
	text-align: center;
	margin : auto;
}

.album_vignette TD{
	background-color: #E0E0E0; 
	height : 130px ;
	width : 130px;
	padding : 5px;
	margin :0px;
}

/* ~~~~~~~~~~~~ auteur ~~~~~~~~~~~~ */
.auteur {}
.auteur .nom {
	color: #6262A4;
	font-size: 150%;
	font-weight: bold;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}

.auteur .tchak {
	color: #000000;
	font-size: 130%;
	font-weight: bold;
	margin: 30px 0px 10px 0px;
	padding: 0px;
}

/* ~~~~~~~~~~~~ Les plans ~~~~~~~~~~~~ */ 
.plan {/*font-size: 24px;*/	}
/*.plan a.titre_rub {
	display:block;
	font-weight:bold;
	padding-left:15px;
	margin: 0.5em 0px 0px 0px;
}
.plan a.titre_rub:first-letter {text-transform: uppercase;}

.plan a.titre_rub:hover {
	background-image:url(../images/puce0.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: none;
}
.plan a.titre_art {
	color: #6262A4;
	padding: 0px 0px 0px 10px;
	font-size: 11px;
}
.plan a.titre_art#breve{color: #808080;}

.plan a.titre_art:hover {
	background-image:url(../images/puce-n0.gif);
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: underline;
}

.plan .date {color: #990000;}

.plan ul {
	list-style-type: none;
	padding: 0px 0px 0px 20px;
	margin: 0px;
}

.plan li {font-size: 80%;}*/

.plan a.article-syndic {
	display: block;
	color: #000000;
	padding: 0px 0px 0px 10px;
	font-size: 12px;
	font-weight: bold;
}

.plan a.article-syndic:hover {
	background-image:url(../images/puce-n0.gif);
	background-position: left top;
	background-repeat: no-repeat;
}
.plan .date-syndic {color: #990000;}
.plan .a-propos {
	display: block;
	background: #FFFFFF;
	color: #909090;
	font-size: 11px;
	padding: 3px 30px 5px 40px;
}
.plan .a-propos .site-pere {font-weight: bold;}
.plan .a-propos .auteur-pere {font-weight: bold;}






/* nouveau */
.plan {/*font-size: 24px;*/	}

.plan h2 {
	display:inline;
	font-weight:bold;
	padding-left:15px;
	margin: 0.5em 0px 0px 0px;
}
.plan h2 a { padding-left:15px }
.plan h2 a:hover {
	background-image:url(../images/puce0.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: none;
}

.plan .objet_date {color: #990000;}

.plan ul {
	list-style-type: none;
	padding: 0px 0px 0px 20px;
	margin: 0px;
}

.plan li {
	font-size: 80%;
	padding-left:10px;}

.plan a.objet_titre{	
	color: #6262A4;
	padding: 0px 0px 0px 10px;
	font-size: 11px;}
.plan a.objet_titre:hover {
	background-image:url(../images/puce-n0.gif);
	background-position: left center;
	background-repeat: no-repeat;
	text-decoration: underline;
}
/* fin nouveau */

.plan a.titre#breve{color: #808080;}

/* herbier */
.plan hr {
	border:0px solid #FFFFFF;
	border-top: 1px solid #6262A4;
	margin-left: 10px;
	margin-right: 10px;
}
.plan .description {
	color: #808080;
	font-size: 11px;
	margin-left: 20px;
	margin-top: 0px;
}
.plan a img {
	float: right;
	margin-left: 10px;
	margin-right: 10px;
	border:3px solid #F0F0FA;
}
.plan a:hover img {
	border:3px solid #6262A4;
}


.indentation {padding-left: 30px;}
.redimensionnement {font-size: 11px;}

/* ~~~~~~~~~~~~ Recherche ~~~~~~~~~~~~ */ 
.elements-trouves {
	color: #990000;
	font-size: 150%;
	font-weight: bold;
	margin: 0px 0px 15px 0px;
	padding: 0px;
	text-decoration: underline;
}


/*---style des documents---*/

.spip_documents_left {
	display: block;
	float: left;
	margin: 0 10px 10px 0;
}

.spip_documents_center {
	display: block;
	clear: both;
	width: 100%;
	text-align: center;
	margin: 0 0px 10px 0px
}

.spip_documents_right {
	display: block;
	float: right;
	margin: 0 0 10px 10px;
}

div.spip_documents_no-float {
	clear: both;
	margin: 0 0 10px 0;
}

div.spip_documents_left .spip_documents, div.spip_documents_center .spip_documents, div.spip_documents_right .spip_documents {
	text-align: center;
	font-size: 90%;
	border: 1px solid #6262A4;
	background: #F0F0FA;
	padding: 5px 0 5px 0;
	margin: auto;
}

div.spip_documents_no-float .spip_documents {
	text-align: center;
	font-size: 90%;
	border: 1px solid #6262A4;
	background: #F0F0FA;
	padding: 5px 0 5px 0;
}

.spip_doc_titre {
	clear: both;
	font-weight: bold;
	font-size: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 0px 5px 0px;
	text-indent: 0;
}

.spip_doc_descriptif {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	font-size: 90%;
	color: #808080;
}	

