/* adaptations pour SPIP */

#main, #header { margin:0 auto; }
#main:after { display: block; clear: both; content: ''; }

.spip_documents img { max-width:100%; height:auto; border-radius:4px; }
.spip_documents_left, .spip_documents_right { max-width:50%; }
.spip_documents_left { margin:0 1.5em 1em 0; }
.spip_documents_right { margin:0 0 1em 1.5em; }

.liste ul { list-style:none; }

.tiles article {  }
.tiles article > .image {  }
.tiles article > .image img { height:auto; }

@media screen and (max-width:640px) {
	.spip_documents_left, .spip_documents_right { max-width:100%; margin:0; float:none; }
}

.contact li { display:block; margin: 1em 0; line-height: 1.4; }