/* adaptations pour SPIP */

#main, #header { margin:0 auto; }
#main:after { display: block; clear: both; content: ''; }

.chapo { font-size:1.2em; }
.texte { line-height:1.3; }

.spip_documents img { max-width:100%; height:auto; border-radius:4px; }
.spip_documents_left, .spip_documents_right { max-width:50%; }
.spip_documents_left { margin:0 1.5em 1em 0; }
.spip_documents_right { margin:0 0 1em 1.5em; }

.liste ul { list-style:none; }
.liste.documents ul { padding:0; }

body.is-preload .tiles article { opacity:1; }
.tiles article { }
/* on remet a 0 les couleurs des articles pour ceux dont l'id pourrait correspondre */
.tiles article.style1 > .image:before,
.tiles article.style2 > .image:before,
.tiles article.style3 > .image:before,
.tiles article.style4 > .image:before,
.tiles article.style5 > .image:before,
.tiles article.style6 > .image:before { background-color: transparent; }
/* on decide d'une couleur par defaut sur .image (fonctionne meme sans logo) */
.tiles article > .image { height:100%; background-color:#ccc; min-height:120px;/* pas terrible, mais sans logo on assure un minimum */ }
.tiles article > .image img { height:auto; }

ul.contact { padding:0; }
.contact li, .editer { display:block; margin: 1em 0; line-height: 1.4; padding:0; position:relative; }
.editer.saisie_case { padding:0 0 1em; border-bottom:solid 1px #c9c9c9; }
input[type="submit"], input[type="submit"].primary,
input[type="submit"]:hover, input[type="submit"].primary:hover, input[type="submit"]:focus, input[type="submit"].primary:focus,
input[type="submit"]:active, input[type="submit"].primary:active { box-shadow: inset 0 0 0 0 transparent; }
.formulaire_spip label { cursor:pointer; margin:0; }
.formulaire_contact ul,
.formulaire_contact li { padding:0; }
.formulaire_contact form > fieldset > legend { position:absolute; top:0; left:1.2em; }
.formulaire_contact form > fieldset.previsu { position:relative; padding:3em 1.2em 0; border:1px solid; border-left:0; border-right:0; }
.formulaire_contact form > fieldset.previsu > legend { top:1em; }
/* input .date */
html .formulaire_spip input.date { width:100%; }
img.ui-datepicker-trigger { position:absolute; top:0; right:0; cursor:pointer; }

input[type="checkbox"] + label, input[type="radio"] + label { height:1.8em; }
input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: radio;
	-webkit-appearance: radio;
	-ms-appearance: radio;
	appearance: radio;
	display: block;
	float: left;
	margin-right: 0.5em;
	opacity: 1;
	width: 1em;
	z-index: inherit;
}
input[type="checkbox"] {
	-moz-appearance: checkbox;
	-webkit-appearance: checkbox;
	-ms-appearance: checkbox;
	appearance: checkbox;
}
/* boite modale de SPIP */
button#cboxPrevious, button#cboxPrevious:hover, button#cboxNext, button#cboxNext:hover, button#cboxSlideshow, button#cboxSlideshow:hover,
button#cboxClose, button#cboxClose:hover{ border:0; box-shadow:none; }

/* plan du site */
.plan h2 { margin-bottom:0.5em; margin-top:2em; }
.plan h3 { position:absolute; top:-9999em; left:-9999em; width:1px; overflow:hidden; }
.plan ul.spip { margin:0; }

@media screen and (max-width:640px) {
	.spip_documents_left, .spip_documents_right { max-width:100%; margin:0; float:none; }
}
