/*-------------------------------------------------------
THEME DU SQUELETTE
---------------------------------------------------------

Couleurs et autres styles des blocs du squelette
---------------------------------------------------------
*/

@import "var_theme.less";

.page {
	text-align:left;
}

.aside {
	background: @theme-aside-color-bg;
}

.extra {
	background: @theme-extra-color-bg;
	p {
		margin-bottom: 0;
	}
}

.footer {
	background: @theme-footer-color-bg;
	color: @theme-footer-color-txt;
	p {
		margin:0;
		padding:5px 10px;
	}
}

.header {
	background: @theme-header-color-bg;
	color: @theme-header-color-txt;
	h1 {
		height: 80px;
		line-height: 80px;
		margin: 0;
		padding-left: 10px;
	}
}

.breadcrumb {
	background: @theme-breadcrumb-color-bg;
	color: @theme-breadcrumb-color-txt;
	a {
		text-decoration: none;
		&:hover {
			background: @theme-breadcrumb-color-bg-hover;
			color: @theme-breadcrumb-color-txt-hover;
		}
	}
}

/* Barre de navigation horizontale */
#navbar {
	margin: 0;
	.menu-items {
		border: 0;
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: block;
		background: @theme-navbar-color-bg;
		color: @theme-navbar-color-txt;
	}
	.item {
		float: left;
		padding: 0;
		margin-left: 0;
		border-right: 1px solid #bbb;
		&:last-child {
		    border-right: none;
		}
		&.on {
			background: @theme-navbar-color-bg-hover;
			color: @theme-navbar-color-txt-hover;
		}
		a {
			display: block;
			text-align: center;
			text-decoration: none;
			padding: 0.4em 1em;
			&:hover {
				background: @theme-navbar-color-bg-hover;
				color: @theme-navbar-color-txt-hover;
			}
		}
	}
}

/* Bloc de bienvenue du sommaire */
