//
// Variables pour les thèmes
// -------------------------

// COULEURS DES BLOCS
// -- bloc Header
@theme-header-color-bg:				#6262a4;
@theme-header-color-txt:			#eeeeee;
// -- bloc Aside
@theme-aside-color-bg:				#b9caff;
// -- bloc Extra
@theme-extra-color-bg:				#ff8539;
// -- bloc Footer
@theme-footer-color-bg:				#6262a4;
@theme-footer-color-txt:			#eeeeee;
// -- bloc Breadcrumb
@theme-breadcrumb-color-bg:			#eeeeee;
@theme-breadcrumb-color-bg-hover:	#ddddef;
@theme-breadcrumb-color-txt:		#808080;
@theme-breadcrumb-color-txt-hover:	#6262a4;
// -- bloc Navbar
@theme-navbar-color-bg:				#ddddef;
@theme-navbar-color-bg-hover:		#6262a4;
@theme-navbar-color-txt:			#6262a4;
@theme-navbar-color-txt-hover:		#eeeeee;
