/**
 * Feuille de style du plugin mediaspip_config
 * 
 * Elle n'est chargée que sur les pages de configuration normalement
 * Elle permet d'avoir un design par défaut pour la partie de configuration d'un
 * MediaSPIP et évite ainsi d'avoir à y penser lors de la réalisation d'un thème
 */
.page_ms_config #container ul.menu-liste, .page_ms_config #container ul.liste-item{
	list-style-type:none;
	margin:0;
}

.page_ms_config #container .menu-liste li.on, .page_ms_config #container ul.liste-item li.on{
	padding:5px 3px;
}

.page_ms_config #container .menu-liste li a,
.page_ms_config #container ul.liste-item li a,
.page_ms_config #container .menu-liste li form,
.page_ms_config #container ul.liste-item li form{
	text-decoration:none;
	display:block;
	padding:5px 3px;
}

.page_ms_config #container .menu-liste li img,
.page_ms_config #container ul.liste-item li img{
	vertical-align:middle;
	margin-right:4px;
}

.page_ms_config .config_nav{
	width:30%;
	float:left;
	overflow:hidden;
}

.config_nav .formulaire_spip input[type=file]{
	width:100%;
}

.page_ms_config .configuration{
	overflow: hidden;
}
.page_ms_config .configuration_contenu{
	width:68%;
	float:right;
}

.formulaire_configurer ul li div.gauche{
	width:50%;
	float:left;
	clear:both;
}

#page .formulaire_configurer ul li div.droite{
	width:50%;
	float:left;
}

#page .formulaire_configurer ul li div.langue_complete label{
	text-decoration:underline;
}

/**
 * Suppression des champs de configuration non désirés
 * - Notifications
 * - Crayons
 * - Mediabox
 * - ...
 */

li.fieldset_forums_prives,
li.fieldset_messagerie_interne,
li.fieldset_signature_petition,
li.fieldset_suivis_perso,
li.fieldset_crayons_prive,
.fieldset_crayons_upload,
li.editer_palette_ecrire,
.lien_memcache,
fieldset.fieldset_microblog_invite,
li.editer_piwik_prive,
.i3_table,
.formulaire_configurer_mediabox .editer_selecteur_galerie,
.formulaire_configurer_mediabox .editer_transition,
.formulaire_configurer_mediabox .editer_speed,
.formulaire_configurer_mediabox .editer_slideshow_speed,
.formulaire_configurer_multilang .editer_breve,
.formulaire_configurer_multilang .editer_article,
.formulaire_configurer_multilang .editer_motcle,
.editer_multilang_public,
.editer_multilang_crayons .explication,
.formulaire_configurer_socialtags .editer_jsselector div.explication,
.formulaire_configurer_googleplus1 .editer_jsselector div.explication,
.formulaire_configurer_comments fieldset#comments-style,
.formulaire_config_saveauto .explication_restauration,
.formulaire_config_saveauto .editer_eviter,.formulaire_config_saveauto .editer_accepter,
.item_picker .choix_rapide,
.cfg_link,
fieldset.todo{
	display:none;
}

/**
 * Formulaire de recherche dans la nav de gauche
 * -* page des auteurs
 */

#page .config_nav #formulaire_recherche input.text{
	width:60%;
}

/**
 * 	Les notices
 */
div.notice .plugins > li{
	border-left: 3px solid #FFD324;
	padding-left:10px;
}