<plugin>
	<nom> <!-- Nom du plugin -->
	MiniGriSpip
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	Fredo Mkb
	</auteur>
	<version>1.4</version>
	<etat>stable</etat>
	<description>
	Habillage simple et sobre. Voir [le site officiel->http://fredomkb.free.fr/spip/spip.php?article3] pour en savoir plus.
	</description>
	<prefix>minigrispip</prefix>
</plugin>