<plugin>
	<nom>Zpip 5 BoilerPlate</nom>
	<slogan><multi>[fr]Squelettes Z5bp pour SPIP (adapt&eacute;s de Zpip)[en]Z5 skeletons for SPIP (Adapted from Zpip)</multi></slogan>
	<auteur>Etienne &quot;Loiseau2nuit&quot; Brackers, Matthieu Marcillaud, C&#233;dric Morin, Romy T&ecirc;tue, Collectif SPIP</auteur>
	<icon>img/z-dist-32.png</icon>
	<licence>GNU/GPL</licence>
	<version>1.0-dev</version>
	<etat>dev</etat>
	<description>
		<multi>
			[fr]Squelettes HTML5 par défaut pour Z-core, modulaires et exemplaires.
			[en]HTML5 Skeleton like <code>squelettes-dist/</code> of SPIP, with an optimized organization and modularity.
		</multi>
	</description>
	<prefix>Z5</prefix>
	<options>z5_options.php</options>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.1.8;]" />
	<necessite id="Zcore" version="[2.0.0-dev;]" />
	<utilise id="menus" version="[1.0.0-dev;]" />
</plugin>
