/* 
Ceci est le fichier CSS du  
Layout Gala N°17
de  
http://blog.html.it/layoutgala/ 
*/

html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif}
p{margin:0 10px 10px}
a{display:block;color: #981793;padding:10px}
div#header h1{height:80px;line-height:80px;margin:0;
  padding-left:10px;background: #EEE;color: #79B30B}
div#content p{line-height:1.4}
div#navigation{background:#B9CAFF}
div#extra{background:#FF8539}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}

div#wrapper{float:right;width: 100%;margin-left: -442px}
div#content{margin-left: 442px}

/*
Normalement le margin-left devrait etre à -440px
mais notre formulaire de recherche (moteurs externes) depasse de 2px a droite
sous IE ce qui a pour effet de renvoyer la colonne en dessous le div content

Pour revenir a une valeur "normale" de 440, il faut corriger ce formulaire de recherche : le probleme vient de la bordure qui vient en plus du width du div
*/
div#navigation{float:right;width:220px}
div#extra{float:right;width:220px}
div#footer{clear:right;width:100%}
