<plugin>
	<nom>
  		Squelette Alternatives
	</nom>
	<auteur>
		[Andr&#233; Vincent->http://andre-vincent.info] - &#169; 2006 - Licence GNU/GPL   
	</auteur>
	<version>
		1.9.2c
	</version>
	<etat>
		stable
	</etat>
	<description>
	  <multi>
		Activate this plugin to enable {{Alternatives}} as the default template of your site.
	[fr]
		Activer ce {plugin} pour s&#233;lectionner le squelette {{Alternatives}} pour votre site.
	  </multi>
	</description>
	<lien>
		[Documentation->www.stages.alternatives.ca/article286.html]
	</lien>
	<options>
		alternatives_options.php
	</options>
	<prefix>
		alternatives
	</prefix>
</plugin>