<plugin>
	<nom>Sarka-SPIP Automn</nom>
	<auteur><a href='http://www.zest.shizuka.fr'>_Shizuka_</a></auteur>
	<licence><a href='http://creativecommons.org/licenses/by-nc-sa/2.0/fr/' rel='licence'>Creative Commons Attribution License by-nc-sa </a></licence>
	<version>0.1</version>
	<description>Un th&egrave;me original de la s&eacute;rie des 4 saisons. Layout fixe 1024px.  </description>
	<icon>vignette.jpg</icon>
	<etat>stable</etat>
	<prefix>theme_sarka_automn</prefix>
	<utilise id="SarkaSpip" name="Sarka-SPIP 3" version="[3.0.2;)" />
	<categorie>theme</categorie>
</plugin>