/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/*  ------------------------------------------
/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body {
	background:url(i/fond.png) repeat-x #fff;
	margin: 0;
	text-align: center;
	font-size: 1em;
	color: #333;
}

img, table { margin: 0; padding: 0; border: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
#page {
	width: 62em;
	background:#fff;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#conteneur { width: 100%; }

#conteneur #contenu {
	float: left;
	width: 39em;
	padding: 0 .5em 2em 1em;
}

#conteneur #navigation {
	float: right;
	width: 20em;
	text-align: center;
	padding: 0 1em .5em 0;
}

/* Blocs du contenu (c-a-d. la colonne principale) */
#contenu .contre-encart {
	float: left;
	width:23.9em;
	padding-right:1em;
}

#contenu .encart {
	float: right;
	width: 14em;
	margin: 0;
	margin-bottom: 1em;
}

/* Entete */
#header {
	width: 100%;
	background: url(i/fond.png) repeat-x #5680DE 10px 0;
	height:90px;
	position:relative;
 }
#header #nom_site_spip, #header a .spip_logos {
	display: block;
	float: left;
	width:100%;
	color: #fff;
	font-size:1.5em;
	}

#header a {text-decoration: none;}

#tools {
	background: #3366CC url(i/fond.png) bottom;
	color:#EEF2FB;
	padding: 8px 1em 0pt;
	height:27px;
	margin:0;	
	border-bottom: solid 1px #3366CC;
	font-size:.77em;
}

#tools a {color:#fff;}

#tools ul#menu_lang  {
	margin:0 1em 0 0;padding:0;	
	}
#tools ul#menu_lang li {
float:left;	
list-style:none;
	font-weight:bold;
	margin-right: .3em;
	}
#tools ul#menu_lang li a {
	font-size:1em;
	text-decoration:none;
	display:block;
	padding:.2em 1em .4em;
	border-left: solid 1px #3366CC;
	border-top: solid 1px #3366CC;
	border-right: solid 1px #3366CC;
	background-color:#fafafa;
	color: #444;
	-moz-border-radius-topleft:8px;-moz-border-radius-topright:8px;}
html>body #tools ul#menu_lang li a {padding:.5em 1em .4em;}
#tools ul#menu_lang li a:hover {
	background-color:#fff;color:#FF3300;
	}

#tools ul#menu_lang li a.on {
	background-color:#fff;
	border-bottom: solid 1px #fff;
	color:#3366CC;
	}

ul#menu2 {margin: 0em .8em 0;padding:.4em .7em;text-align:left;clear:both;}
ul#menu3 {margin:0;padding:.7em 0;text-align:left;text-align:left;}
ul#menu2 li, ul#menu3 li {display:inline;list-style:none;font-size:.77em;line-height:1.5em;text-align:left;}
ul#menu2 li a, ul#menu3 li a {color:#000;}
ul#menu2 li a:hover, ul#menu3 li a:hover {color:#FF3300;}
ul#menu2 li a.on, ul#menu3 li a.on {color:#3366CC;text-decoration:none;}

/* Fil d'Ariane */
#hierarchie {
	clear: both;
	font-size: .77em;
	padding: 1em 0;}

/* Pied de page */
#footer {
	padding: 1em 0;
	text-align: center;
	background: #1B3A6F;
	color:#fff;}
#footer small { font-size: .77em; }
#footer img { vertical-align: bottom; }
#footer a {color:#fff;}

/* Listes en pied de page */

#listes-pied {
	clear: both;
	text-align: left;
	padding: 1em 0;
	background: #272727;
	zoom:1;
}

#listes-pied .bloc {
	width:33%;float:left;zoom:1;
}
#listes-pied h3 {
	font-weight:bold;
	font-size: 1em; 
	line-height:2;
	margin-left: .5em;
	color: #fff;
	font-family: Georgia, Times, serif;
	}
#listes-pied a {text-decoration: none;color:#fff;}
#listes-pied a:hover { color: #FF3300;}
#listes-pied ul {margin:0 1em 1em;}
#listes-pied li {
	line-height:1.4em;
	font-size:.77em;
	margin:9px 0;
	padding-bottom:3px;
	border-bottom:1px solid #B6CBF2;
	color:#ccc;}


/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: none; height: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/*  ------------------------------------------
/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo pour les menus et la navigation */
body, #navigation, .encart, .formulaire_spip, .liste-articles li .texte {
	font-family: Arial, Verdana, Tahoma, sans-serif; }

/* Typo pour le contenu */
#contenu {
	font-family: Arial, Verdana, Tahoma, sans-serif; }

/* Typo pour les citations et extraits introductifs */
q, blockquote, h3.spip, .voirskel, .titre, .chapo, .menu-titre {
	font-family: Georgia, Times, serif; }

/* Couleurs */

.titre, h3.spip {color:#FF3300;}
.titre a:hover {background-color:#FFFCCF;margin:0 -.5em;padding: 0 .5em;}
.chapo {color:#3366CC;}
.menu-titre, .menu-titre a, .menu-titre a:visited {color: #008000;}
#navigation .menu-titre, #navigation .menu-titre a {color:#008000;}


/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

/*  Habillage general des menus de navigation
---------------------------------------------- */
.rubriques, .breves, .syndic, .forums, .divers {
	min-width: 10em;
	border: 1px solid #008000;
	margin-bottom: 1em;
	font-size: 0.77em;
}

.rubriques .pagination, .breves .pagination, .syndic .pagination, .forums .pagination, .divers .pagination {
	font-size:1em;
}

.encart .rubriques, .encart .breves, .encart .syndic, .encart .forums, .encart .divers {
	background:#FFF0D9;
	border: solid 1px #FEDCA8;
	padding:.5em 0;
}

.menu-titre {
	font-size:2em;
	padding: 0 .4em 0;
	text-align: center;
	font-weight:bold;
	color:#333;
}
.menu-titre img {margin-bottom:-0.6em}

.encart .menu-titre {text-align:center;}

#navigation a {text-decoration:none;color:#000;}
#navigation p, .encart p { margin: 0; padding: 0.2em 0.7em; text-align: left;  }
#navigation ul, .encart ul { margin: 0; padding: 0.2em 0; text-align: left; list-style: none; }
#navigation li, .encart li { margin: 0; padding: 0 0.7em; }

#navigation ul {margin: 1em .5em 1em 1em; padding: 0; padding-left:.5em;text-align: left; list-style:square;}
#navigation li {margin: 0 0 .2em 0; padding: 0 0.7em;color:#F90;}
#navigation em {color:#666;font-style:normal;font-size:0.92em;}
#navigation dl {margin: 1em;text-align: left;  }
#navigation dt {font-size:1em;}
#navigation .syndic dt {font-size:1em;}
#navigation dt h3, #navigation h3 {font-weight:bold;font-size:1em;}
#navigation dt h3 a, #navigation h3 a {color:#0066CC !important;font-weight:bold;}
#navigation a.spip_out {color:#FF3300;font-weight:bold;}
#navigation a.spip_in {color:#0066cc;text-decoration:underline;}
#navigation a:hover.spip_in, #navigation a:hover {color:#FF3300;}
#navigation .syndic dd {font-size:0.92em;color:#333;}
#navigation dd {font-size:0.92em;color:#333;margin:.2em 0 .5em;}
#navigation dl .spip_logos {
		margin-right: .5em;
		margin-top:0.3em;	
		background:#FFFFFF none repeat scroll 0%;
		padding: 0.2em;
		border:1px solid #DDDDDD;
		}
#navigation .syndic dl .spip_logos {
		
		}

#navigation .spip_logos {
	margin-bottom: .5em;
	background:#FFFFFF none repeat scroll 0%;
	padding: 0.2em;
	border:1px solid #ccc;
	}

#navigation .divers {border:0;}

#navigation .rubriques ul {margin: 1em .5em 1em 1em; padding: 0;text-align: left; list-style:none;font-size:1.1em;font-weight:bold;}
#navigation .rubriques ul ul {font-size:.96em;font-weight:normal;margin-bottom:0;margin-top:0;list-style:square;padding-left:1em;}
#navigation .rubriques ul ul ul {font-size:1em;}
#navigation .rubriques ul a {color:#3366CC;}
#navigation .rubriques ul ul a {color:#000;}

/*  ------------------------------------------
/*  Habillage du contenu
/*  ------------------------------------------ */

/*  Cartouche et titraille
---------------------------------------------- */
.cartouche { 
	margin:0 .5em 1em;
	border-bottom: solid 1px #ddd;
	padding: 0 .5em .5em .5em;
	}
.page_article .cartouche {margin:0 .5em 1em;}
.page_sommaire .cartouche{border:0;padding-bottom:0;}

.cartouche .titre {
	font-size: 2.4em;letter-spacing:-1px;
	}
.cartouche .titre img {margin-bottom:-0.6em}
.cartouche .surtitre, .cartouche .soustitre { font-size: 0.96em; margin: .5em 0 0 0;font-weight:bold;
color:#666;}
.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche small { font-size: 0.77em; }

.cartouche .traductions { font-size: 0.77em; margin:.5em 0;}
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }


/*  Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
	margin: .5em 0;
	font-weight: bold;
	line-height: 1.4em; font-size:.96em; }

.texte { color: #000; font-size: 0.77em; line-height: 1.4em; }

.texte .spip_logos, .liste-articles .spip_logos, .cartouche .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
	background:#FFFFFF none repeat scroll 0%;
	padding: 0.2em;
	border:1px solid #ccc;
	}

.texte .spip_logos {float:left;margin-right:1em;margin-left:0;}
.texte p {margin:0 0 1.5em 0;}

.texte blockquote {
	display:block;
	float:right;
	width:40%;
	padding-left:36px;
	padding-right:6px;
	font-family:Georgia,"Times New Roman", Times, serif;
	font-size:1.3em;
	font-weight:700;
	color:#36C;
	background:url(i/quote-left.gif) no-repeat;
	margin:0 0 6px 4px;}

.texte blockquote p {background: url(i/quote-right.gif) no-repeat bottom right;padding-right:30px;}

.texte .spip_out{background:url(i/lienexterne.gif) no-repeat bottom right;padding-right:1em;}
.texte .spip_glossaire{background:url(i/wikilien.gif) no-repeat bottom right;padding-right:1em;}

.lien {
	background:url(i/icon_get_world.png) no-repeat;
	margin: .5em 0 0 0;
	font-size:.77em;
	font-weight: bold;
	padding-left:18px;height:16px;
	}

.notes {
	margin-top: 1em;
	padding-top: .2em;
	border-top: 1px solid #CCC; }
.ps { font-size: .77em; background:#F6F9FD;border:solid 1px #668CD9;margin: 1em 0;padding:1em;}
.ps ul{margin:1em;}
.notes {clear: both; font-size: .71em; }
.ps h2, .notes h2 { font-size: 1em; line-height:1.25; font-weight:bold;  }


/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_portfolio h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }

#document_actif { margin-top: 1em; }

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_joints h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }
#documents_joints ul { margin: 0; padding: 0; list-style: none; }
#documents_joints li { margin-bottom: 0.4em; }
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles {font-size:.77em;}
.liste-articles h2 {font-size:1.4em;margin:1em 0;font-weight:bold;color:#5C84E3;}
.liste-articles ul { margin: 0; padding: 0; list-style: none; }
.liste-articles li { clear: both; 	border-bottom: 1px solid #ccc;margin-bottom:.8em;}

.liste-articles li .hierarchie {margin-bottom:.5em;}

.liste-articles li .titre {
	font-size: 1.8em;
	margin:0 0 0.5em 0;
	font-family: LiberationSerif-Regular, Georgia, Times, serif;
}
.liste-articles li .soustitre {font-weight:bold;color:#666;}
.liste-articles li .titre img {margin-bottom: -0.8em;}

.liste-articles li .titre a {color:#FF3300;text-decoration:none;display:block;}
.liste-articles li .titre a:hover {display:block;}

.liste-articles li .spip_logos {
	float: right;
	margin: .2em 0 1em 1em;
	clear: right; }

.liste-articles ul.accueil li .spip_logos {
	float: left;
	margin: .2em 0 1em 1em;
	clear: left;
	}

.liste-articles li .date {margin-bottom:.5em;}

.liste-articles li p { margin: 0 0 .5em 0; padding: 0;text-align:justify; }

.liste-articles li .enclosures {
	float: right;
	text-align: right;
	max-width: 60%;
	margin: 0; }

.liste-articles li small {
	display: block;
	font-size: 90%; 
	line-height: 3em; }

.liste-articles li .texte {
	margin-bottom: 0;
	font-size: 1em;
	line-height: 1.4em;
	text-align:justify;
	padding-bottom:0;

	}

.pagination { 
background:#FAFAFA;
border:2px solid #ddd;
display:block;
font-size:1.4em;
font-weight:bold;
margin:1em 0pt;
padding:0.3em 0.5em;}

/*  ------------------------------------------
/*  Habillage des encarts
/*  ------------------------------------------ */

.encart h2 {margin-bottom:.5em;}
.encart li strong {font-weight:bold;color:#666;line-height:2em;}
.encart li {margin-bottom:.5em;padding-bottom:.5em;line-height:1.4em;font-size:1em;}/* border-bottom:dotted 1px #ccc; */
.encart li.last {margin-bottom:0;padding-bottom:.5em;border-bottom:0;}
.encart h3 {font-weight:bold;font-size:1em;margin:0 0 .2em 0;}
.encart a.spip_out {color:#333;text-decoration:none;}
.encart a:hover.spip_out {color:#ff3300;text-decoration:underline;}
.encart a:visited {color:purple;}
.encart .spip_logos {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
	background:#FFFFFF none repeat scroll 0%;
	padding: 0.2em;
	border:1px solid #ccc;
	}
.encart em{font-style:normal;font-size:.93em;color:#666;}

.encart .divers li a {font-size:1.1em;font-weight:bold;}/* Titre dossiers */

/*  ------------------------------------------
/*  Habillage specifique du plan du site
/*  ------------------------------------------ */

.page_plan .contre-encart ul {
	display: block;
	clear: left;
	margin: 0 0 1em 0;
	padding: 0; font-size:1em;}
.page_plan .contre-encart ul ul {font-size:.77em;padding-left:1em;}
.page_plan .contre-encart ul ul ul {font-size:1em;padding-left:1em;}
.page_plan .contre-encart li {margin: .5em 0 0 .5em;}
.page_plan .contre-encart li strong {font-size:1.2em;}
.page_plan .contre-encart li a {text-decoration:none;}
.page_plan .contre-encart li a:hover {text-decoration:underline;}
.page_plan #contenu h2 {display:none;}

/*  ------------------------------------------
/*  Habillage specifique de la page Auteur
/*  ------------------------------------------ */

.page_auteur .liste-articles li .titre {
	font-size: 1.4em;margin:.5em 0;}

.page_auteur .formulaire_spip fieldset {margin-top:-0.6em;}

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

.formulaire_spip { 
	font-size:0.77em;
	text-align:left;
}
.formulaire_spip p { margin: 0.5em 0; padding: 0; }
.formulaire_spip fieldset {background:#FAFAFA;
	border:2px solid #5C84E3;	margin:1.5em 0pt;
	padding:1.5em;}
.formulaire_spip legend {font-size:1.4em;font-weight:bold;color:#5C84E3;}

.formulaire_spip label {}
.formulaire_spip .forml { width: 99%; font-family: inherit; font-size: inherit; }

/* Boutons */
.spip_bouton { text-align: right; }
.spip_bouton input { float: right; }

/* Reponse du formulaire */
.reponse_formulaire, .reponse_formulaire legend { font-weight: bold; color: red; }

fieldset.reponse_formulaire { border:1px solid red;font-weight:normal;}

/* Previsualisation du message */
fieldset.previsu { padding: 1em; }

/* Formulaire de login au forum */
.formulaire_login_forum .forml { width: 12em; }
.formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/* Choix des mots-clefs */
ul.choix_mots { float: left; width: 47%; margin: 0; padding: 0; list-style: none; } 
ul.choix_mots label { display: inline; }

/* Formulaire de recherche */
.formulaire_recherche { width: 10em; text-align: left; margin: 2em;position:absolute;top:0;right:0;}
.formulaire_recherche label { display: none; }
.formulaire_recherche_avancee table {margin-bottom:1.5em;}
.formulaire_recherche_avancee table td {padding:.5em;}

/* Formulaire de langues */

.formulaire_menu_lang form {width:12em;}
.formulaire_menu_lang label {display:none;}
.formulaire_menu_lang select {padding:.2em;margin: 0 0 2.6em;}

/* boutons */

.button {border: 2px solid #ddd;padding:.5em .5em .5em 0;cursor:pointer;}
.button img {margin:0 .5em 0 .2em;}
.button:hover {background:#eee;color:#016F00;border-color:#18D517;}
.positive {color: green;font-weight:bold;}

/*  ------------------------------------------
/*  Habillage des forums
/*  ------------------------------------------ */

.forum-repondre {
	clear: both;
	margin-top: 1em;
	padding-top: 1px;
	font-size: 1.5em;
	font-weight: bold;}

.forum-repondre a {text-decoration:underline;}

.forum-decompte {
	clear: both;
	margin-top: 1em;
	font-size: 1em;
	font-weight: bold;}

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0;}
ul.forum, ul.forum ul { list-style: none;}
.forum-fil { margin-top: 1em; border: 2px solid #3366CC;}
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em;}
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { 
display: block; margin: 0; padding: 0; font-weight: bold; text-decoration: none; color: #333; font-size:1em;}
.forum-chapo small {font-size:.77em}
.forum-chapo img, #content  .forum-chapo img.spip_logos {float:right; margin: 0 0 0 .5em;padding:0;background:transparent;}
.forum-chapo .gravatar { background: transparent url(i/gravatar.png);}
.forum-texte { margin: 0; padding: 0.5em 1em 0 1em; color: #333;font-size:.77em;}
.forum-texte .forum-lien {}
.forum-texte ul { list-style: square !important; }
.forum-texte .forum-repondre-message { margin: .5em; text-align: right; font-weight:bold; font-size:1.15em;}

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: none; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: .5em; background: #BFD5FF; }
ul ul .forum-chapo { background: #CFDFFF; margin-top:1em;margin-right:.5em;border: 1px dotted #B8B8B8;}
ul ul ul .forum-chapo { background: #DFEAFF; }
ul ul ul ul .forum-chapo { background: #EFF4FF; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 1em; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }

/*  ------------------------------------------
/*  Taille des tags varie selon leur importance
/*  ------------------------------------------ */

p.tags {padding-top:.8em !important;}
.tag_taille_1{font-size:100%!important;}
.tag_taille_2{font-size:130%!important;}
.tag_taille_3{font-size:150%!important;}
.tag_taille_4{font-size:170%!important;}
.tag_epaisseur_1{font-weight:300;}
.tag_epaisseur_2{font-weight:500;}
.tag_epaisseur_3{font-weight:600;}
.tags a{text-decoration:none!important;color:#444 !important;}
.tags a:hover{text-decoration:underline!important;color: #FF3300 !important;}

/* Publicité Google */

.pub {margin: 1.5em 0;}

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a { text-decoration: underline; color: #3366CC; }
a:hover { text-decoration: none; color: #FF3300;}
a:visited {color:purple;}

/* --------------------------------------------
/* Enluminures typo
/*--------------------------------------------- */

.texteencadre-spip{background:#F6F9FD;border:1px solid #668CD9;position:relative;margin:1.5em 0;padding:1.5em 1em;clear:both;}
.caractencadre-spip{color:green;font-weight:700;}
.caractencadre2-spip{color:green;font-weight:700;}
acronym.spip_acronym{cursor:help;border-bottom:1px dotted;}
a[hreflang]:after{content:"\0000a0[" attr(hreflang) "]";color:#FF3300;background:transparent;}

/* -------------------------------------------
/* Widgets
/* ------------------------------------------- */

ul.widgets {margin: 0;padding:0;}
ul.widgets li {list-style:none;display:inline;margin: 0 .2em;border:0;padding:0;}
a.top {display:block;margin:1.5em 0;text-decoration:underline;}
.trabcktechnorati {font-size:.77em;}

#ads {margin-top:1em;}