<plugin>
	<nom>Squelette Taurillon pour spip 1.9.2</nom>
	<auteur>Val&eacute;ry-Xavier Lentz
_ &#169; 2008 - Distribu&#233; sous licence [Creative Commons by-nc-sa->http://creativecommons.org/licenses/by-nc-sa/2.0/fr/]
	</auteur>
	<lien>[www.taurillon.org->http://www.taurillon.org/]</lien>
	<version>0.1</version>
	<etat>dev</etat>
    <description>
Ce plugin active ou d&eacute;sactive le squelette {{taurillon}}.
	
[Configuration->.?exec=cfg&amp;cfg=taurillon]
	
Ce squelette g&egrave;re les Crayons (si plugin activ&eacute;).
	</description>
	<prefix>squelette_taurillon</prefix>
	<categorie>squelette</categorie>
	<necessite id="cfg" version="[1.0.2;]" />
	<chemin dir='' />
</plugin>
