/* SPIP-STYLE                                              version 1.9  */
/* Cette feuille contient les styles associes au code genere par SPIP.  */
/* Ces styles sont indispensables et doivent necessairement etre        */
/* definis pour le bon fonctionnement de vos squelettes.                */


/* Raccourcis typographiques de SPIP */
i.spip {}
strong.spip {}
hr.spip {
  background: #B2CCFF; 
  color: #B2CCFF;
  clear: both; 
  float: none; 
  width: 100%; 
  height: 0.1em;
  margin: 0 0 1.4em 0;
  border: none; 
}
* html hr.spip { margin: 0 0 1.2em 0; } /* IE6 fix */

.spip_puce { list-style-position: outside; }

ul.spip, ol.spip {margin: 0 0 1.5em 1.5em;}
ol.spip {list-style-type: decimal;}
li.spip {}

h3.spip {
	text-align: left;
	margin-bottom:.3em;
	clear:right;
	font-size: 1.5em;
	line-height:1.4em;
	font-weight:bold;
	color: #FF3300;}

/* Paragraphes, citations, code et poesie */
p.spip {margin:1.5em 0;}
p.spip_note {}

blockquote.spip, .spip_serif { font-family: Georgia, Times, serif; }

blockquote.spip { 
	margin: 1.5em 0 1.5em 1.5em; color: #666; font-style: italic;
	}

div.spip_poesie { 
	margin: 1.5em; 
	padding-left: 1em; 
	border-left: 1px solid;
	font-family: Garamond, Georgia, Times, serif; }
div.spip_poesie div { text-indent: -60px; margin-left: 60px; }

.spip_code, .spip_cadre { font-family: monospace; font-style: normal; font-size: 1em; }
.spip_cadre { width: 99%; border: 1px inset; }

.spip_surligne { background: #FF6; }

/* Tableaux */
table.spip {
	margin: auto;
	margin-bottom: 1.4em;
	border-top:0.1em solid #ddd; 
	border-left:0.1em solid #ddd; }
table.spip caption {
	caption-side: top; /* bottom pas pris en compte par IE */
	text-align: center;
	margin: auto;
	padding: 3px;
	font-weight: bold; }
table.spip tr.row_first { background: #FFC; }
table.spip tr.row_odd { background: #DDD; }
table.spip tr.row_even { background: #EEE; }
table.spip th, table.spip td { 
	height: 1em; 
	padding:0.2em 0.4em; 
	border-bottom:0.1em solid #ddd; 
	border-right:0.1em solid #ddd; }
	text-align: left; 
	vertical-align: middle; }

/* Logos, documents et images */
img, .spip_logos { margin: 0; padding: 0; border: none; }

.spip_documents { text-align: center; }
.spip_documents_center { clear: both; width: 100%; margin: auto; }
span.spip_documents_center { display: block; margin-top:1.5em; }
.spip_documents_left { float: left; margin-right: 1.5em; margin-bottom: 1.5em; }
.spip_documents_right { float: right; margin-left: 1.5em; margin-bottom: 1.5em; }
.spip_doc_titre { font-weight: bold; font-size: 0.8em; margin-left: auto; margin-right: auto; }
.spip_doc_descriptif { clear: both; font-size: 0.8em; margin-left: auto; margin-right: auto; }

/* Images typographiques (via image_typo), URL a revoir... */
.format_png { behavior: url(win_png.htc); }

/* modeles par defaut */
.spip_modele { float: right; display: block; border: 1px dotted #666; width: 180px; }

/* Barre de raccourcis typographiques */
table.spip_barre { width: 100%; }

table.spip_barre a img {
	background: #eee;
	padding: 3px;
	border: 1px outset #999; }
table.spip_barre a:hover img {
	background: #FFF;
	border: 1px solid #999; }

table.spip_barre input.barre { width: 100%; background: #EEE; }

/* * Couleurs des liens de Spip */
a.spip_note {} /* liens vers notes de bas de page */
a.spip_in { color: #0066cc; } /* liens internes */
a.spip_out { color: #FF3300; } /* liens sortants */
a.spip_url { color: #FF3300; } /* liens url sortants */
a.spip_glossaire { color: #0066cc; } /* liens vers encyclopedie */
.on { font-weight: bold; color: #000; } /* liens exposes */