@import "var_layout.less";

#layout-gala18 {
	.gala(@aside-width: 110px; @extra-width: 150px;) {
		.wrapper {
			float: left;
			width: 100%;
			margin-left: -(@aside-width + @extra-width);
		}

		.content {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: @aside-width + @extra-width;
			margin-right: 0;
		}

		.aside {
			float: left;
			width: @aside-width;
		}

		.extra {
			float: right;
			width: @extra-width;
		}

		.footer {
			clear: both;
			width: 100%
		}
	}
}

#layout-gala18 > .gala(@layout-aside-width-pixel; @layout-extra-width-pixel);
