@import "var_layout.less";

#layout-gala30 {
	.gala(@side-width: 25%;) {
		.wrapper {
			float: left;
			width: 100% - @side-width;
		}

		.aside {
			float: right;
			width: @side-width - 0.1%;
		}

		.extra {
			clear: both;
			width: 100%;
		}
	}
}

#layout-gala30 > .gala(@layout-side-width-percent;);
