@import "var_layout.less";

#layout-gala32 {
	.gala(@side-width: 200px;) {
		.wrapper {
			float: left;
			width: 100%;
		}

		.content {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: 0;
			margin-right: @side-width;
		}

		.aside {
			float: left;
			width: @side-width;
			margin-left: -@side-width;
		}

		.extra {
			clear: left;
			width: 100%;
		}
	}
}

#layout-gala32 > .gala(@layout-side-width-pixel;);
