@import "var_layout.less";

#layout-gala22 {
	.gala(@aside-width: 25%; @extra-width: 150px;) {
		.wrapper {
			float: left;
			width: 100%;
			margin-left: -@extra-width;
		}

		.content {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: @extra-width;
			margin-right: @aside-width;
		}

		.aside {
			float: left;
			width: @aside-width;
			margin-left: -@aside-width;
		}

		.extra {
			float: left;
			width: @extra-width;
		}

		.footer {
			clear: left;
			width: 100%
		}
	}
}

#layout-gala22 > .gala(@layout-aside-width-percent; @layout-extra-width-pixel);
