@import "var_layout.less";

#layout-gala40 {
	.gala(@page-width: 960px; @aside-width: 480px;) {
		.page {
			margin: 0 auto;
			width: @page-width;
		}

		.aside {
			float: right;
			width: @aside-width;
		}

		.extra {
			float: left;
			width: @page-width - @aside-width;
		}

		.footer {
			clear: both;
			width: 100%
		}
	}
}

#layout-gala40 > .gala(@layout-page-width-pixel; @layout-aside-halve-width-pixel;);
