@import "var_layout.less";

#layout-gala13 {
	.gala(@aside-width: 110px; @extra-width: 150px;) {
		.wrapper {
			float: left;
			width: 100%;
		}

		.content {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: @aside-width;
			margin-right: @extra-width;
		}

		.aside {
			float: left;
			width: @aside-width;
			margin-left: -100%;
		}

		.extra {
			float: left;
			width: @extra-width;
			margin-left: -@extra-width;
		}

		.footer {
			clear: left;
			width: 100%;
		}
	}
}

#layout-gala13 > .gala(@layout-aside-width-pixel; @layout-extra-width-pixel);
