@import "var_layout.less";

#layout-gala21 {
	.gala(@aside-width: 150px; @extra-width: 25%;) {
		.wrapper {
			float: left;
			width: 100%;
			margin-left: -@extra-width;
		}

		.content {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: @extra-width;
			margin-right: @aside-width;
		}

		.aside {
			float: left;
			width: @aside-width;
			margin-left: -@aside-width;
		}

		.extra {
			float: left;
			width: @extra-width;
		}

		.footer {
			clear: left;
			width: 100%
		}
	}
}

#layout-gala21 > .gala(@layout-aside-width-pixel; @layout-extra-width-percent);
