@import "var_layout.less";

#layout-gala31 {
	.gala(@side-width: 200px;) {
		.wrapper {
			float: left;
			width: 100%;
		}

		.content {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: @side-width;
			margin-right: 0;
		}

		.aside {
			float: left;
			width: @side-width;
			margin-left: -100%;
		}

		.extra {
			clear: left;
			width: 100%;
		}

		.footer {
			clear: left;
			width: 100%
		}
	}
}

#layout-gala31 > .gala(@layout-side-width-pixel;);
