@import "var_layout.less";

#layout-gala25 {
	.gala(@side-width: 25%;) {
		.wrapper {
			float: left;
			width: 100%;
			margin-left: -@side-width;
		}

		.content {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: @side-width;
			margin-right: 0;
		}

		.aside {
			float: right;
			width: @side-width - 0.1%;
		}

		.extra {
			clear: right;
			float: right;
			width: @side-width - 0.1%;
		}

		.footer {
			clear: both;
			width: 100%
		}
	}
}

#layout-gala25 > .gala(@layout-side-width-percent;);
