@import "var_layout.less";

#layout-gala33 {
	.gala(@page-width: 960px; @side-width: 110px;) {
		.page {
			margin: 0 auto;
			width: @page-width;
		}

		.content {
			float: left;
			width: @page-width - @side-width;
		}

		.aside {
			float: right;
			width: @side-width;
		}

		.extra {
			float: right;
			clear: right;
			width: @side-width;
		}

		.footer {
			clear: both;
			width: 100%
		}
	}
}

#layout-gala33 > .gala(@layout-page-width-pixel; @layout-side-width-pixel;);
