@import "var_layout.less";

#layout-gala27 {
	.gala(@aside-width: 50%;) {
		.aside {
			float: left;
			width: @aside-width;
		}

		.extra {
			float: left;
			width: @aside-width - 0.1%;
		}

		.footer {
			clear: left;
			width: 100%
		}
	}
}

#layout-gala27 > .gala(@layout-aside-halve-width-percent;);
