@import "var_layout.less";

#layout-gala11 {
	.gala(@page-width: 960px; @aside-width: 110px; @extra-width: 150px;) {
		.page {
			margin: 0 auto;
			width: @page-width;
		}

		.wrapper {
			float: left;
			width: 100%;
		}

		.content {
			margin-top: 0;
			margin-bottom: 0;
			margin-left: @aside-width + @extra-width;
			margin-right: 0;
		}

		.aside {
			float: left;
			width: @aside-width;
			margin-left: -@page-width;
		}

		.extra {
			float: left;
			width: @extra-width;
			margin-left: -(@page-width - @aside-width);
		}

		.footer {
			clear: left;
			width: 100%
		}
	}
}

#layout-gala11 > .gala(@layout-page-width-pixel; @layout-aside-width-pixel; @layout-extra-width-pixel);
