//
// Variables pour les layouts Gala
// -------------------------------

// STRUCTURE DES LAYOUTS
// - 3 Colonnes
// -- Largeur des blocs horizontaux en pourcentage
@layout-aside-width-percent:		25%;
@layout-extra-width-percent:		25%;
// -- Largeur des blocs horizontaux en pixels
@layout-page-width-pixel:			960px;
@layout-aside-width-pixel:			150px;
@layout-extra-width-pixel:			150px;

// - 2 Colonnes
// -- Largeur des blocs de coté en pixels
@layout-side-width-pixel:			200px;
// -- Largeur des blocs de coté en pourcentage
@layout-side-width-percent:			33%;
// -- Largeur du bloc aside pour 27/28
@layout-aside-halve-width-percent:	50%;
// -- Largeur du bloc aside pour 39/40
@layout-aside-halve-width-pixel:	480px;
