/********************************************************************************************************/
/*                                                 CREDITS                                              */
/********************************************************************************************************/
/*  Cette feuille de style est en partie inspiré du site [maiis.net], blog de Pierre BASSON.            */
/*  Elle a été adapté par Vincent ROBERT pour son blog personnel [cent20.net]                           */
/********************************************************************************************************/
/*  Cette feuille de style est une partie du squelette BLIP, elle est distribué sous licence GNU - GPL  */
/********************************************************************************************************/



/**********************************************/
/*  BliP : Structure du site                  */
/**********************************************/

body
{
	margin: 0;
	padding: 20px 0px 60px 0px;
	border: 0;
	background: #C0DAEF;
	font-family: verdana, lucida, arial, helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #666;
}

#page
{
	margin: auto;
	padding: 0;
	border: 0;
	width: 915px;
	background: #fff url(fond_page.gif) repeat;
	text-align: left;
}

html>#page
{
	width: 915px;
}

#entete
{
	margin: 0;
	padding: 16px 0 0 3px;
	background:  #fff url(fond_entete.gif) no-repeat;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	color: #fff;
}

#contenu_principal
{
	clear: left;
	float: left;
	margin: 0;
	padding: 10px 20px 10px 20px;
	width: 550px;
	background: transparent;
}

html>#contenu_principal
{
	width: 550px;
}

#barre_laterale
{
	float: right;
	margin: 0;
	padding: 10px 20px 10px 0;
	width: 300px;
	border: 0;
	line-height: 14px;
	background: transparent;
}

#pied_de_page
{
	clear: both;
	margin: 20px 0 0 0;
	padding: 0px 20px 20px 20px;
	border: 0;
	background: #C0DAEF url(fond_pied_de_page.gif) no-repeat;
	text-align: center;
	font-size: 10px;
	line-height: 12px;
}



/**********************************************/
/*  BliP : Liens (généralités)                */
/**********************************************/

a:link, 
a:visited
{
	text-decoration: none;
	color: #1E73CD;
}

a:hover,
a:active
{
	text-decoration: underline;
	color: #1E73CD;
}

a.gras
{
	font-weight: bold;
}

a.gris
{
	text-decoration: none;
	color: #aaa;
	font-weight: normal;
}



/**********************************************/
/*  BliP : Entete du site                     */
/**********************************************/

.bandeau
{
	clear: left;
	display:  block;
	margin: auto;
	background: #fff url(bandeau.jpg) no-repeat;
	padding: 15px 0px 0px 15px;
	width: 865px;
	height: 135px;
	line-height: 24px;
	color: #fff;
}

/*********         Nom du site       *********/

.accroche
{
	float:left;
	width: 680px;
	height: 26px;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	color: #C0DAEF;
}

.nom_site
{
	float:left;
	font-size: 18px;
}

.nom_site a:link,
.nom_site a:visited,
.nom_site a:hover,
.nom_site a:active
{
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	color: #fff;
}

.nom_auteur
{
	float:left
	line-height: 18px;
	padding: 2px 0 0 0;

}

.nom_auteur a:link,
.nom_auteur a:visited,
.nom_auteur a:hover,
.nom_auteur a:active
{
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	color: #fff;
}

/*********       Menu horizontal     *********/

#entete .bandeau ul {
	border: 0;
	margin: 0;
	padding: 33px 0px 0px 0px;
	list-style-type: none;
	text-align: center;
	clear: left;
}

#entete .bandeau ul li {
	display: block;
	float: left;
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 14px; 
}

#entete .bandeau ul li a
{
	background: transparent;
	float: left;
	height: 22px;
	margin: 0;
	width: 119px;
	padding: 0;
	color: #fff;
	text-decoration: none;
	display: block;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 21px;
	font-size: 14px; 
}

#entete .bandeau ul li a:active  {
	color: #fff;
	font-weight: bold;
	background: transparent; 
	font-size: 14px; 
}

#entete .bandeau ul li a:hover, 
#entete .bandeau ul li a:focus
{
	color: #1E73CD;
	background: transparent;
	font-size: 12px;
	font-weight: bold;
	font-size: 14px; 
}

body#accueil #entete .bandeau li#menu_accueil a, 
body#rubriques #entete .bandeau li#menu_rubriques a,
body#articles #entete .bandeau li#menu_articles a,
body#photos #entete .bandeau li#menu_photos a,
body#sedna #entete .bandeau li#menu_sedna a,
body#spikini #entete .bandeau li#menu_spikini a
{
	background: #fff;
	border: 2px solid #1E73CD;
	border-bottom-color:#FFFFFF;
	color: #1E73CD;
	font-weight: bold;
	font-size: 14px; 
}


/*********         Arborescence      *********/

.arborescence  
{
	display: block;
	clear: left;
	float: left;
	padding: 5px;
	color: #aaa;
	font-weight: normal;
}

.arborescence a:link,
.arborescence a:visited
{
	text-decoration: none;
	color: #aaa;
	font-weight: normal;
}

.arborescence a:hover,
.arborescence a:active
{
	text-decoration: none;
	color: #666;
	font-weight: normal;
}


a.couleur_connexion:link,
a.couleur_connexion:visited

{
	color: #CF5725;
	font-weight: bold;
	text-decoration: none;
}

a.couleur_connexion:hover,
a.couleur_connexion:active
{
	color: #CF5725;
	font-weight: bold;
	text-decoration: underline;
}


/**********************************************/
/*  BliP : Pied de Page                       */
/**********************************************/

.infostechniques
{
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
}

#pied_de_page .infostechniques a:link,
#pied_de_page .infostechniques a:visited,
#pied_de_page .infostechniques a:hover,
#pied_de_page .infostechniques a:active
{
	text-decoration: none;
	color: #F8A800;
}

.piedperso
{
	display: inline;
	float: left;
	margin: 0;
	padding: 0;
}

#pied_de_page .piedperso a:link,
#pied_de_page .piedperso a:visited,
#pied_de_page .piedperso a:hover,
#pied_de_page .piedperso a:active
{
	text-decoration: none;
	color: #1E73CD;
}

.infospratiques
{
	display: inline;
	float: right;
	margin: 0;
	padding: 0;
}

.gauche
{
	margin: 0;
	padding: 1px 0px 1px 2px;
	line-height: 14px;
	border-left: 2px solid #ccc;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	background: #fff;
	color: #666;
}

.droit
{
	margin: 0 10px 0 0px;
	padding: 1px 2px 1px 0px;
	line-height: 14px;
	color: #ccc;
	display: inline;
	border-right: 2px solid #ccc;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	background: #fff;
}

.infostechniques h6,
.piedperso h6,
.infospratiques h6
{
	line-height: 14px;
	font-size: 10px;
	color: #ccc;
	display: inline;
}

.infospratiques h6.gauche 
{
	color: #666;

}

/**********************************************/
/*  BliP : Contenu Principal                  */
/**********************************************/

/*********  Elements de navigation    *********/

.navigation
{
	clear: left;
	padding-left: 58px;
	background: #fff url(navigation.gif) no-repeat;
}

.desciptif_navigation
{
	clear: left;
	text-align: justify;
	line-height: 16px;
}

.signature
{
	clear: left;
	text-align: right;
}

/*********  Conteneurs avec paddings  *********/

.padding_bas_25px
{
	clear: left;
	padding-bottom: 25px;
}

.padding_haut_25px
{
	clear: left;
	float: left;
	width: 550px;
	padding-top: 25px;
}

.padding_bas_10px
{
	clear: left;
	float: left;
	width: 550px;
	padding-bottom: 10px;
}

.padding_haut_10px
{
	clear: left;
	float: left;
	width: 550px;
	padding-top: 10px;
}

.padding_haut_10px_bis
{
	padding-top: 10px;
}

.padding_mixte_10px
{
	clear: left;
	float: left;
	width: 550px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.padding_left_58px
{
	padding-left: 58px;
}

.padding_left_24px
{
	padding-left: 24px;
}

.padding_left_34px
{
	padding-left: 34px;
}

/*********        Typographie         *********/

h1, h3, h5
{
	font-weight: normal;
	margin: 0;
	padding: 0;
	letter-spacing: 0;
}

h1
{
	padding: 0 0 4px 0;
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
}

h5
{
	margin: 0px;
	font-size: 10px;
	line-height: 14px;
	color: #aaa;
}

.resume
{
	display: block;
	padding: 2px 0 0 0;
	line-height: 16px;
	text-align: justify;
}

a.resume:link,
a.resume:visited
{
	color: #666  !important;
	text-decoration: none !important;
}


a.resume:hover,
a.resume:active
{
	color: #1E73CD  !important;
	text-decoration: none !important;
}

/*********    Rubrique en lecture     *********/

.titre_rubrique
{
	padding-left: 58px;
	background: #fff url(rubrique.gif) no-repeat;
}

.titre_sous_rubrique
{
	padding-left: 24px;
	background: #fff url(sous_rubrique.gif) no-repeat;
}

/*********    Article en lecture     *********/

.titre_article
{
	padding-left: 58px;
	background: #fff url(article.gif) no-repeat;
}

.chapo
{
	margin: 10px 0 10px 0;
	padding: 0;
	font-weight: bold;
	text-align: justify;
}

.texte
{
	line-height: 18px;
	text-align: justify;
}

.notes
{
	padding: 15px 0 0 0;
}

.document_joint_logo
{
	clear: left;
	float: left;
	padding: 0 10px 0 0;
}

.document_joint_descriptif
{
	float: left;
	padding: 7px 0 0 0;
}

.document_joint_descriptif_entite
{
	float: left;
	clear: left;
	margin: 0;
	padding: 0;
}


/*********    Auteurs en lecture      *********/


/**********************************************/
/*  BliP : Barre latérale*/
/**********************************************/

/*********         Conteneurs         *********/

.annonces
{
	margin: 0 0 20px 0;
	padding: 5px;
	text-align: left;
	clear: left;
	border: 2px dashed #CF5725;
	font-size: 11px;
}

.element
{
	margin: 0;
	padding: 0 0 20px 0;
	text-align: justify;
	clear: left;
	color: #aaa;
	font-size: 11px;
}

.annonces ul li {
	list-style: disc inside;
	margin: 0;
	padding: 0;
	line-height: 15px;
	font-size: 11px;
}

.annonces ul
{
	margin: 0;
	padding: 0;
	text-align: left;
}

.element ul
{
	margin: 0;
	padding: 0;
	text-align: left;
}


.element ul ul {
	margin-left: 14px;
	padding: 0;
	text-align: left;
	border: 0;
}


.element ul li {
	list-style: disc inside;
	margin: 0;
	padding: 0;
	line-height: 14px;
	font-size: 11px;
}

.element ul li li {
	list-style: circle inside;
}


/*********        Typographies        *********/

h2, h4, h6
{
	font-weight: normal;
	margin: 0;
	padding: 0;
	letter-spacing: 0;
}

.element h2,
{
	font-family: verdana, lucida, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 1px;
	text-align: left;
	color: #F8A800;
}

h2
{
	font-family: verdana, lucida, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: 1px;
	text-align: left;
	color: #F8A800;
}



h4
{
	font-size: 11px;
	padding: 0px 0px 0px 14px;
	color: #aaa;
}



.element h5
{
	font-size: 11px;
	padding: 0;
	letter-spacing: 0px;
	color: #aaa;	
	font-weight: normal;
}

.element h6
{
	font-size: 10px;
	padding: 0;
	letter-spacing: 0px;
	color: #aaa;	
	font-weight: normal;
}

/*********           Liens            *********/

a.couleur_deux:link, 
a.couleur_deux:visited
{
	text-decoration: none;
	color: #F8A800;
}

a.couleur_deux:hover,
a.couleur_deux:active
{
	text-decoration: underline;
	color: #F8A800;
}

.couleur_tri
{
	color: #CF5725;
	font-weight: bold;
}

/*********     RSS en lecture         *********/

a.rss:link,
a.rss:hover,
a.rss:active
{
	text-decoration: none;
	color: #aaa;
	font-weight: normal;
	padding: 0 0 0 14px;
	background:  #fff url(rss_link.gif) no-repeat;
}

a.rss:visited
{
	text-decoration: none;
	color: #aaa;
	font-weight: normal;
	padding: 0 0 0 14px;
	background:  #fff url(rss_visited.gif) no-repeat;
}

a.rss:hover,
a.rss:active
{
	color: #666;
}



/**********************************************/
/*  BliP : Bordel a classer                   */
/**********************************************/

.citation_auteur
{
	margin: 3px 5px 0 0;
	font-size: 10px;
	text-align: right;
	font-weight: bold;
}


.biographie
{
	padding: 10px;
	margin-left: 0;
	text-align: left;
}


.intitule
{
	text-align:left;
	padding: 10px;
	margin: 0 0 0 130px;
}


.image
{
	color: #333333;
	text-align: center;
	padding: 10px 0 10px 0;
}


.periode
{
	float: left;
	text-align: right;
	padding: 5px;
	width: 120px;
}


.intitule
{
	text-align:left;
	padding: 5px;
	margin: 0 0 0 130px;
}


.video
{
	background-color: #333333; /* contour d'une vidŽo */
	text-align: center;
	padding: 10px;
}




.titre
{
	line-height: 1.5em;
	font-weight: bold;
}

.legende
{
	font-style: italic;
}

legend
{
	padding: 0 10px 0 2px;
	background: #fff;

 
}

.bouton, .bouton_bis
{
	font-weight: bold;
	text-align: right;
	clear: both;
}


/**********************************************/
/*              SOUS CLASSES                  */
/**********************************************/


p.espace
{
	margin: 5px 0 10px 0;
}


/**********************************************/
/*          CLASSES EN CASCADE                */
/**********************************************/



.biographie .image
{
	text-align: left;
	padding: 5px;
	margin: 0;
}


.biographie p
{
	text-align: left;

}


li
{
	list-style: disc;
	margin-top: 0.5em;
	margin: 0;
}


/**********************************************/
/*                TYPOGRAPHIE                 */
/**********************************************/


.descriptif
{
	font-size: 10px;
	color: #aaa;
}


h3
{
	font-size: 12px;
}

p
{
	text-align: left;
	margin: 10px 0 10px 0;
}

fieldset p
{
	text-align: left;
	margin: 2px 0 5px 0;
}

.article p
{
	text-align: justify;
	margin: 5px 0 15px 0;
}

.bouton a:link,
.bouton a:visited,
.bouton a:hover,
.bouton a:active
{
	padding: 2px 4px 3px 4px;
	background: #1E73CD;
	border: 1px solid #5c70d4;
	color: #fff;
	font-size: 9px;
	font-family: verdana, lucida, arial, helvetica, sans-serif;
	font-style: normal; 
	font-weight : bold;
	text-decoration: none;
	text-align: right;
}

.bouton_bis a:link,
.bouton_bis a:visited,
.bouton_bis a:hover,
.bouton_bis a:active
{
	padding: 2px 4px 3px 4px;
	margin: 5px;
	background: #CF5725;
	border: 1px solid #ccc;
	color: #fff;
	font-size: 11px;
	font-family: verdana, lucida, arial, helvetica, sans-serif;
	font-style: normal; 
	font-weight : bold;
	text-decoration: none;
	text-align: right;
}

.bouton_off
{
	padding: 2px 4px 3px 4px;
	background: #fff;
	border: 1px solid #1E73CD;
	color: #1E73CD;
	font-size: 9px;
	font-family: verdana, lucida, arial, helvetica, sans-serif;
	font-style: normal;
	font-weight : bold;
	text-decoration: none;
	text-align: right;
}


img
{
	background: #fff;
	padding: 10px 0 10px 0;
	display: inline;
	vertical-align: middle;
	border: 0;
}

.miniatures
{
	background: #333333;
	padding: 2px;
	margin-top: 5px;
}

img.smiley,  /* on ne veut pas de bordure pour ces images */
#barre_laterale img,
#pied_de_page img,
img.spip_puce,
img.logo,
img.logo_forum,
.spip img,
img.rubriques
{
	background: transparent;
	padding: 0;
	display: inline;
	border: 0;
}

.miniatures img {
	background: #333333;
	margin: 2px;
}

table {
	padding: 0;
	border-spacing: 0;
	border: 0;
	font-size: 10px;
	overflow : hidden;
}

form.invisible 
{
	margin: 0;
	padding: 0;
	display: inline;
}


/**********************************************/
/*        ANNUAIRE DE SITES INTERNET          */
/**********************************************/

ul.menu img
{
cursor: pointer;
padding: 0 5px 0 0;
}

ul.menu, ul.menu ul
{
text-align: left;
list-style-type: none;
line-height: 12px;
}

.menu
{
margin-top: -10px;
}

ul.menu li
{
padding: 2px;
list-style-type: none;
list-style-image: none;
margin: 0 0 0 -20px;
font-size: 12px;
line-height: 12px;
}

ul.menu ul
{
display: none;
line-height: 12px;
}

ul.url li
{
list-style-type: none;
margin-left: -15px;
padding: 0 0 7px 20px;
font-size: 12px;
line-height: 14px;
background: transparent url(fond_url.gif) no-repeat;
}

.passer_dessous
{
	clear:both
}

.article_liens
{
	margin: 10px 5px 5px 5px;
}

.dossier_annuaire
{
clear: both;
float: left; 
margin-left: -10px;
margin-top : 0px;
padding : 0 0px 0 0;
}

h2.annuaire
{
	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	line-height: 12px;
	padding: 3px 0 0 0;
	margin : 0;
}

h4.annuaire
{
	font-size: 10px;
	color: #aaa;
	font-weight: normal;
	font-style: normal;
	line-height: 12px;
	padding: 0 0 8px 0;
	margin: 0;
}


/**********************************************/
/*           FORUMS DES ARTICLES              */
/**********************************************/

p.forum_post {
	text-align: center;
	padding: 10px 0px 10px 0px;
}

.forum_ext {
	padding: 2px;
	padding-bottom: 4px;
	background-color: #FFFCF4;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	margin-top: 15px;
	font-family: verdana, lucida, arial, helvetica, sans-serif;
	font-size: 10px;
	-moz-border-radius: 6px;
}

.forum_last_ans {
	color: #717171;
	font-size: 9px;
}

.forum_int_sub {
	background-color: #ffffff;
	border: 1px solid #ccc;
	margin: 10px 10px;
	padding: 0px 10px 0px 10px;
}

.forum_int_ans {
	background-color: #ffffff;
	border: 1px dashed #ccc;
	margin: 10px 10px;
	padding: 10px 10px 0px 10px;
}

.forum_ans {
	text-align: right;
	padding: 0px 10px 5px 0px;
}

.forum_form {
	padding: 0px 50px 0px 50px;
}

.ans {
	font-size: 9px;
	color: #D42680;
}

.new {
	font-size: 9px;
	color: #ff8000;
}

/**********************************************/
/*                STYLES SPIP                 */
/**********************************************/

.spip
{
	
}

a.spip_url { }
a.spip_in { }
a.spip_out { }
a.spip_glossaire { }

code {
	font-family: monospace;
	font-size: 10px;
	font-weight: normal;
	background-color: #eee;
	border: 1px solid #ccc;
	text-align: left;
}

code.block {
	display: block;
	text-align: left;
}

p.spip_note {
	font-size: 10px;
	padding: 0;
	margin: 6px 0 6px 0;
	line-height: 12px;
}



h3.spip {
	color: #666;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	margin: 35px 0 10px 0;
	padding: 0px 0px 2px 0px;
	border-bottom: 2px solid #C0DAEF;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.spip_puce {
	list-style: disc inside;
}

.spip_documents { }


table.spip
{
	padding: 0;
	border-spacing: 0;
	border: 1px solid #ccc;
	font-size: 10px;
	line-height: 14px;
}

table.spip_forum
{
	padding: 0;
	border-spacing: 0;
	border: 1px solid #ccc;
	font-size: 10px;
	line-height: 14px;
	width: 550px;
	margin: 5px 5px 30px 0px;
}

table.spip tr.row_first
{
	background: #ccc;
	color: #666;
	border-spacing: 0;
	font-weight: bold;
	font-size: 11px;
	padding: 4px;
}

table.spip_forum tr.row_first
{
	background: #CF5725;
	color: #fff;
	border-spacing: 0;
	font-weight: bold;
	font-size: 11px;
	padding: 4px;
}

table.spip_forum tr.row_odd
{
	background: #FCF2ED;
}

table.spip tr.row_odd
{
	background: #eee;
}

table.spip tr.row_even,
table.spip_forum tr.row_even
{
	background: transparent;
}

table.spip tr.row_odd td,
table.spip_forum tr.row_odd td
{
	border-color: #eee;
}

table.spip td {
	padding: 4px;
	text-align: left;
	vertical-align: middle;
}

table.spip_forum td {
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

hr.spip { 
	border: 1px solid #ccc;
}

b.spip { 
	font-weight: bold;
}

i.spip { 
	font-style: italic;
}

p.spip
{ 
	padding: 0;
	text-align: justify;
}

blockquote.spip
{
	background-color: #fff;
	border: 1px solid #ccc;
	margin-left : 30px;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-right: 10px;
	font-style: italic;
	padding: 10px;
}

table blockquote.spip
{
	background-color: #fff;
	border: 1px dotted #ccc;
	margin : 5px 5px 5px 0px;
	font-style: italic;
	padding: 0px 5px 0px 5px;
}

.forml {
	width: 529px;
	border: 1px solid #ccc;
	font-family: monospace;
	font-size: 12px;
	padding: 2px;
}

form
{
	display:inline;	
	line-height: 16px;
	margin: 0px;
	padding: 0px;
}

.spip_encadrer
{
	width: 535px;
	padding: 5px;
	border: 1px dotted #ccc;
}

.spip_cadre
 {
	background: #fff url(blanc.gif) repeat;
	padding: 5px;
	font: Courier, mono;
	font-size: 12px;
	color: #333;
	border: 1px dotted #ccc;	
}


.forum_int_sub .spip_cadre,
.forum_int_ans .spip_cadre
 {
	background: #fff url(blanc.gif) repeat;
	padding: 5px;
	width: 488px;
	font-size: 11px;	
}

.spip_code
{
	font: "Courier New", Courier, mono;
	font-size: 12px;
	width: auto;
	color: #333;	
}

.forum_int_sub .spip_code, .forum_int_ans .spip_code
{
	font-size: 11px;
}

div.spip_poesie { }

div.spip_poesie div { }



.spip_bouton,
.google_bouton,
.recherche_bouton
{
	border: 1px solid #ccc;
	color: #CF5725;
	font-weight: bold;
	font-size: 11px;
	padding: 3px 6px 3px 6px;   
	font-family: verdana, lucida, arial, helvetica, sans-serif;
}

.form_recherche_bouton
{
	background:	#fff url(cherche.gif) no-repeat;
	border: 1px solid #ccc;
	border-left: #fff;
	margin: 0;
	padding: 0;
	height: 22px;
	width: 24px;
	line-height: 20px;
	font-size: 10px;   
	font-family: verdana, lucida, arial, helvetica, sans-serif;
}

.spip_bouton
{	
	margin: 5px 0 5px 5px;
	background: #fcfcfc;
	border: 1px solid #ccc;
}

.recherche_bouton,
.google_bouton
{	
	margin: 0;
	padding: 0;
}

.recherche_bouton
{	
	float: left;
}

.formrecherche { 
	float: left;
	clear: left;
	margin: 0;
	padding: 3px;
	width: 150px;
	height: 14px;
	color: #1E73CD;
	border: 1px solid #ccc;
	font-size: 12px;
	font-family: monospace;
}

.form_recherche_spip,
.form_recherche_externe
{
	display: inline;
	background: #fff;
	margin: 0;
	padding: 3px;
	width: 120px;
	height: 14px;
	color: #1E73CD;
	border: 1px solid #ccc;
	border-right: 0px;
	font-size: 12px;
	font-family: monospace;
}

.form_recherche_externe
{
	width: 160px;
}

.formgoogle { 
	padding: 3px;
	width: 150px;
	height: 14px;
	color: #1E73CD;
	border: 1px solid #ccc;
	font-size: 12px;
	font-family: monospace;
}

select { 
	border: 1px solid #ccc;
	font-family: verdana, lucida, arial, helvetica, sans-serif;
}

.spip_surligne {
	background-color: #EEE92E;
}

.spip-admin-bloc
{	
	float: right;
}



/**********************************************/
/*            BARRE RACCOURCIS SPIP           */
/**********************************************/

a.spip_barre img {
	border: 1px solid #ccc;
	padding: 1px;
}

a.spip_barre:hover img {
	border: 1px solid #ccc;
	color: #000;
	padding: 1px;
	background-color: #ccc;
}

hr.ligne {
	margin: 0;
	padding: 0;
	line-height: 1px;
	border-top: 1px solid #ccc;
}

legend, label
{
	color: #666;
	font-size: 12px;
	text-align: left;
}

/**************************************************************************/
/*  CSS de la campagne "Trop Cool pour IE intégré dans le squelette BliP  */
/**************************************************************************/

a#tooCool
{
	position: fixed;
	right: 0;
	bottom: 0;
	display: block;
	height: 80px;
	width: 80px;
	background: url(too_cool_sash_fr.png) bottom right no-repeat;
	text-indent: -999em;
	text-decoration: none;
} 

/**************************************************************************/
/*  CSS du wiki géré par Spikini intégré dans le squelette BliP           */
/**************************************************************************/

.wikicode
{
	border-bottom: 2px solid #CCCCCC;
	padding: 0px 5px 20px 0px;   

}

#contenu_principal_wiki
{
	clear: left;
	float: left;
	margin: 0;
	padding: 10px 20px 10px 20px;
	background: transparent;
}

#barre_laterale_wiki
{
	float: right;
	margin: 0;
	padding: 0 0 0 20px;
	width: 300px;
	border: 0;
	line-height: 14px;
	background: transparent;
}




/*
	SpikiNi CSS based on the original wakka.css
	version: 0.1
	date: 2004.04.28
	design: © erational ART erational.org
	licence: GNU/GPL
*/

.page h3.spip {
	width: 550px;
	color: #666;
	font-size: 18px;
	text-align: left;
	line-height: 22px;
	margin: 35px 0 10px 0;
	padding: 0px 0px 2px 0px;
	border-bottom: 2px solid #C0DAEF;
	font-family: Georgia, "Times New Roman", Times, serif;
}

/*** Container-texte
*********************************/

#Container-texte {
margin: 3px 0 0 0;
padding: 10px 0 10px 0;
border-top: 2px solid #ccc;
float: left;
width: 874px;
overflow: hidden;
}

/*** Bouton de formulaire
*********************************/

.aligndroit
{
float: right;
padding-right: 5px;
}

#Container-texte .page
{
width: 874px;
margin: 0;
padding: 0;
border: 0;
float: left;
}

/*** hr
*********************************/

hr
{
display: none;
}

.page hr {
display: block;
}

hr.hr_clear
{
display: none;
}


/*** vrac
*********************************/
.error { color: #CC3333; font-weight: bold; }
.indent { margin-left: 40px; }
.additions { color: #008800; }
.deletions { color: #880000; }
.add { font-weight: bold; color: #c00; text-decoration: underline; }
.del { font-style: italic; color: #c00; text-decoration: line-through; }


.prev_alert { background-color: #F8A800; color: white; font-size: 18px; line-height: 20px; font-weight: bold; margin-bottom: 5px; }

.edit { 
	width:  98%; 
	height: 400px;
}
.footer { 
	background-color: #ddd;
	margin: 0 15px;
	padding: 5px 10px; 
	border: 1px solid #aaa;
}
.code { background: #FFFFFF; border: solid #888888 2px; font-family: 'Courier New', Courier; color: black; font-size: 10pt; width: 100%; height: 400px; overflow: scroll; padding: 3px; }
.revisioninfo { color: #AAAAAA; padding-bottom: 20px; }

/* comment */
.commentsheader, .commentform { 
	margin:0 15px;
	background: #ddd;
	padding: 2px 10px; 
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa; 
	border-top: 0;
}
.comment { 
	margin:0 15px;
	background: #fafafa;
	padding: 10px; 
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa; 
	border-top: 0;
	border-bottom: 1px dashed #aaa; 
}
.commentinfo { 
	color: #57ACAC;
}

.commentform {
	background: #fafafa;
	padding: 25px;
}

/* spip */
textarea.spip_cadre {
	width: 98%; /* solve IE Bug */
}
.commentform textarea {
	margin: 0 -8px; /* solve IE Bug */
}


/**************************************************************************/
/*  CSS du script NiceTitle intégré dans le squelette BliP                */
/**************************************************************************/

div.nicetitle
{
	position: absolute;
	padding: 4px;
	min-width: 150px;
	max-width: 260px;
	top: 0px;
	left: 0px;
	color: #1E73CD;
	font-size: 11px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	background: #ccc;
    
    /* Mozilla proprietary */
    -moz-border-radius: 6px;
}

div.nicetitle p
{
	margin: 0;
	padding: 0 3px;
}

div.nicetitle p.destination
{
	font-size: 10px;
	font-weight: normal;
	text-align: left;
	padding-top: 3px;
	font-family: Verdana, sans-serif;
	color: #fff;
}


/**************************************************************************/
/*  CSS de sedna intégré dans le squelette BliP                           */
/**************************************************************************/

