
					</div>
				</div>
			</div>
		</div>
		</div>
</div>


			
			
			
			<br class="nettoyeur" /><div id="pied"><div id="pied_contenu">	[(#REM) Liens des forums ]	<B_forums_liens>	<div class="forums">		<h2><:derniers_commentaires:></h2>		<ul>			<BOUCLE_forums_liens(FORUMS) {plat} {par date}{inverse} {0,6}>			<li><h5><a href="#URL_FORUM">#TITRE</a>[ &ndash;&nbsp;(#NOM)]</h5>			[(#DATE|affdate_court)]			</li>			</BOUCLE_forums_liens>		</ul>	</div>	</B_forums_liens>

[(#REM) La derniere Gazette SPIP]<BOUCLE_gazette(SYNDIC_ARTICLES){id_syndic=20}{par date}{inverse}{0,1}>[(#SET{infos,#TITRE[ - PDF/(#TAGS|afficher_tags{enclosure}|extraire_attribut{title}|taille_en_octets) - ][(#DATE|nom_mois) ][(#DATE|annee)]})]<div class="syndic" id="gazettep">	<h2>#TITRE</h2>	<ul>		<li>			<a href="[(#TAGS				|afficher_tags{enclosure}				|extraire_attribut{href})]"[			   title="(#GET{infos}|textebrut|entites_html)"]			   type="application/pdf">			<img src="[(#DESCRIPTIF				|extraire_balise{img}				|extraire_attribut{src}				|copie_locale)]" [			   alt="(#GET{infos}|textebrut|entites_html)" />]			</a>		</li>		[<li>(#GET{infos})</li>]	</ul>	<p><a href="#URL_SITE"><:form_pet_message_commentaire:></a></p></div></BOUCLE_gazette>
	<ul id="utils">		<li><a href="#URL_PAGE{backend}" title="<:syndiquer_site:>"><img src="#CHEMIN{feed.png}" alt="<:icone_suivi_activite:>" width="16" height="16" class="format_png" />&nbsp;RSS&nbsp;2.0</a></li>		<li><a href="#URL_PAGE{plan}"><:plan_site:></a></li>		<li><a href="ecrire/"><:espace_prive:></a></li>		<li><a href="http://www.spip.net/" title="<:site_realise_avec_spip:>"><img src="#CHEMIN{spip.png}" alt="SPIP" width="48" height="16" class="format_png" /></a></li>		<li><a href="/#DOSSIER_SQUELETTE/"><:squelettes:></a>			
</li>	</ul>	<hr /></div><!-- fin de pied -->
			
			
			
			
						</div>

	</body>

</html>
