<BOUCLE_item(ARTICLES){id_article}>
<div dir="#LANG_DIR" style="text-align: #LANG_LEFT;">
[<div class="rubrique">(#SURTITRE)</div>]
<h2><a href="#URL_ARTICLE" [title="(#DESCRIPTIF|textebrut|entites_html)"]>#TITRE</a></h2>
<div class="reference"><?php
$tous_auteurs = trim(auteur_et_auteur('<BOUCLE_signature(AUTEURS){id_article}{par nom}{nom!==^@}{", "}><a href="#URL_AUTEUR">[(#NOM|prenom|texte_script) ][<span class="nom">(#NOM|nom|texte_script)</span>]</a></BOUCLE_signature>','<:et:>'));
if ($tous_auteurs) echo "<:par_auteur:> ".$tous_auteurs.", "; ?>[(#DATE|affdate)]

[(#ENV{mode}|=={'detail'}|?{
	<br/>
	[<:mise_a_jour:> (#DATE_MODIF|affdate) | ]
	[(#POPULARITE_ABSOLUE) <:visiteurs_par_jour:> | ]
	[(#VISITES) <:total_visiteurs:>]
,''})]
										

</div>

[<a href="#URL_ARTICLE" class="bloc">(#INTRODUCTION|couper{#ENV{couper,300}})</a>]
</div>
</BOUCLE_item>
