<plugin>
        <nom>Configurateur BLiP</nom>
        <auteur>Mogwa&#239;</auteur>
        <version>0.2</version>
        <etat>dev</etat>
        <description>Offre une page de configuration du squelette BLiP.
        </description>
        <prefix>BlipConfig</prefix>
        <pipeline>
                <nom>ajouter_boutons</nom>
                <action>ajouterBouton</action>
                <inclure>bouton.php</inclure>
        </pipeline>
        <categorie>squelette</categorie>
</plugin>