<plugin>
	<nom>Bones Dotspip version Z</nom>
	<auteur>[ Mathieu Drouet (izo) ->http://mathieu-drouet.com/]</auteur>
	<version>2.0</version>
	<etat>stable</etat>
	<description> Squelette de base semblable à Zpip qui utilise les themes graphiques de Dotclear 1.X</description>
	<lien>https://contrib.spip.net/Bones-DotSpip</lien>
	<icon>bones.png</icon>
	<prefix>bones</prefix>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.10;]" />
	<necessite id="Z" />
</plugin>