#menu_horizontal {
	margin: 0;
	padding: 0;
	list-style-type:none;
	list-style-position:outside;	
	height:1.9em;
	position:relative;
	z-index:2000;
}

#menu_horizontal li {
	float:left;
	position:relative;
}

#menu_horizontal a {
	display:block;
	padding: 0.3em 7px 0.35em 7px;
	text-decoration:none;
}

#menu_horizontal ul {
	margin: 0;
	padding: 0;	
	list-style-type:none;
	list-style-position:outside;	
	position:absolute;
	display:none;
	width:12em;
}

#menu_horizontal li ul a {
	width:12em;
	height:auto;
	float:left;
}

#menu_horizontal ul ul {
	top:auto;
}

#menu_horizontal li ul ul {
	left:12em;
	margin:0px 0 0 10px;
}

#menu_horizontal li:hover ul ul, #menu_horizontal li:hover ul ul ul, #menu_horizontal li:hover ul ul ul ul {
	display:none;
}
#menu_horizontal li:hover ul, #menu_horizontal li li:hover ul, #menu_horizontal li li li:hover ul, #menu_horizontal li li li li:hover ul {
	display:block;
}