<plugin>
	<nom>ZKTX</nom>
	<slogan><multi>[fr]Squelettes complets SPIP 3 + Z-core[en]Full 'Z like' template for SPIP 3</multi></slogan>
	<auteur>Loiseau2nuit</auteur>
	<icon>img/zktx-128.png</icon>
	<licence>GNU/GPL</licence>
	<version>2.0.0</version>
	<etat>dev</etat>
	<description>
		<multi>
			[fr]ZKTX Strap, squelette Bootstrap 3 HTML5 pour SPIP 3 + Z-core. Inspirés de ZPIP & du Z Framework de Cédric Morin (yterium.net) 
			[en]ZKTX Strap: Bootstrap 3 HTML5 skeleton for SPIP 3 + Z-core. Inspired by ZPIP & Z Framework by Cédric Morin (yterium.net)
		</multi>
	</description>
	<lien></lien>
	<categorie>squelette</categorie>
	<prefix>zktx</prefix>
	<fonctions>zktx_fonctions.php</fonctions>
	<options>zktx_options.php</options>
	<necessite id="SPIP" version="[3.0.0;3.1.99]" />
	<necessite id="Zcore" version="[2.0.0;]" />
  	<necessite id="saisies" version="[1.14.0;]" />
	<necessite id="pb_couleur_rubrique" version="[2.1.0;]" />
	<necessite id="cextras" version="[2.0.0;]" />
	<utilise id="comments" version="[3.0.2;]" />
	<utilise id="metas" version="[1.4.0;]" />
	<utilise id="menus" version="[0.9.2;]" />
</plugin>