.renvoi-article,.document,.mots-article,.spip_logos{
    border : 1px solid #GET{couleur_filets};
    margin:0.5ex;
    padding:0.5ex;
    width:30%;
    text-align:center;
}
.document{width:180px;
}
.retour-non,.retour-oui{
    float:left;
    } 
.retour-oui{
    clear:both}