<plugin>
    <nom>Squelette "collection"</nom>
    <auteur>Ma&iuml;eul Rouquette - 2009 - GPL</auteur>
    <version>1.0</version>
    <version_base>0.4</version_base>
    <etat>test</etat>
    <description>Présenter facilement une collection d'objets.</description>
    <prefix>collection</prefix>
    <options>collection_options.php</options>
    <necessite id="CFG" version="[1.12.5;]" />
    <necessite id="SPIP" version="[2.0.0;]" />
    <necessite id="spip_bonux" />
    <necessite id="ThickBox1" />
    <install>base/collection_upgrade.php</install>
</plugin>
