<plugin>
    <nom>Squelette "collection" - Zpip</nom>
    <auteur>Ma&iuml;eul Rouquette - 2009 - GPL</auteur>
    <version>2.0</version>
    <version_base>0.4</version_base>
    <etat>test</etat>
    <description>Présenter facilement une collection d'objets. Ce squelette est en en cours de ZPIPisage.</description>
    <prefix>collection</prefix>
    <options>collection_options.php</options>
    <fonctions>collection_fonctions.php</fonctions>
    <necessite id="CFG" version="[1.13;]" />
    <necessite id="critere_mots" />
    <necessite id="saisies" version="[1.0;]" />
    <necessite id="SPIP" version="[2.0.0;]" />
    <necessite id="spip_bonux" />
    <necessite id="ThickBox1" />
    <utilise id="sondages" />
    <install>base/collection_upgrade.php</install>
    <lien>http://www.spip-contrib.net/Squelette-collection,3148</lien>
</plugin>
