<plugin>
    <nom>Squelette "collection"</nom>
    <auteur>Ma&iuml;eul Rouquette - 2009 - GPL</auteur>
    <version>1.0</version>
    <etat>dev</etat>
    <description>Présenter facilement une collection d'objets.</description>
    <prefix>collection</prefix>
    <options>collection_options.php</options>
    <utilise id="CFG" />
    <necessite id="ThickBox1" />
</plugin>
