<plugin>
  <nom>
    <!-- Nom du plugin -->
    Bones PANO </nom>
  <auteur>
    <!-- Auteur du plugin -->
    Mathieu Drouet (IZO)
    _ &copy; 2008 - Distribu&eacute; sous licence GPL </auteur>
  <version>
    <!-- Version du plugin -->
    1.0 </version>
  <etat>
    <!-- Etat du plugin, au choix : dev (developpement), test, stable, experimental -->
    stable </etat>
  <description> Squelette permettant d'afficher un portofolio de anoramique sur un Iphone </description>
  <icon>bones.png</icon>
  <prefix> bones </prefix>
  <options>bones_options.php</options>
  <categorie>squelette</categorie>
</plugin>
