<plugin>
	<nom>Squelette JQuery Vittori's</nom>
	<auteur>
	[Mary Lou->http://tympanus.net/codrops/2011/04/21/restaurant-template/], [Grégory Pascal->http://www.spip-contrib.net/ngombe], distribu&#233; sous licence GNU/GPL
	</auteur>
	<licence>
		GPL v3 - &copy; 2011
	</licence>
	<version>0.0.1</version>
	<etat>test</etat>
	<icon>images/spip/vitto-spip.png</icon>
	<description>
	<multi>
	[fr]Ce plugin active ou d&eacute;sactive le squelette Vittori's.
	[en]This plugin activate Vittori's skeleton.
	</multi>
	</description>
	<lien>[->http://webtice.ac-guyane.fr/contrib]</lien>

	<prefix>Vittory</prefix>
	<fonctions>vittory_fonctions.php</fonctions>
	<options>vittory_options.php</options>
	
	<pipeline>
    <nom>insert_head</nom>
    <inclure>vittory_pipelines.php</inclure>
    </pipeline>
	<bouton id="vittory_cfg" parent="configuration">
		<icone>images/spip/vitto-spip-24.png</icone>
		<titre>vittory:cfg_titre_boite</titre>
		<url>cfg</url>
		<args>cfg=vittory_accueil</args>
	</bouton>
	<bouton id='vittory_cfg21' parent='bando_squelette'>
		<icone>images/spip/vitto-spip-16.png</icone>
		<titre>vittory:cfg_titre_boite</titre>
		<url>cfg</url>
		<args>cfg=vittory_accueil</args>
	</bouton>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;]" />
	<necessite id="cfg" version="[1.7.6;]" />
	<utilise id="palette" />
</plugin>
