/****** GÃ©nÃ©riques  ********/
*{ margin:0; padding:0 }

ul, li { margin-left: 10px; }
#menu li { margin-left: 0px; }

BODY{
	font: 74% Arial, Sans-Serif;
	color:#FFF;
	background-color: #93846d;
	background-image: url(_css_gris/top.gif);
	background-repeat: repeat-y;
	background-position: center;
	}

/*tr,td,th,table,body,p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #484747;
	}*/
	
h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style:italic;
	}

h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	}

h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	}

h3 {
	font-size: 17px;
	font-weight: bold;
	padding: 0px;
	border: 0px;
	}

#p_article_breve h3 {
	font-size: 13px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
	padding: 0px;
	border-bottom: 1px solid #EFF0EE;
	color: #484747;
	}

h2 	{
	font-size: 15px;
	color: #484747;
	font-weight: bold;
	}

h1 {
	font-size: 16px;
	color: #484747;
	font-weight: bold;
	}

a,a:link,a:visited {
	text-transform: none;
	color: #ffffff;
	text-decoration: none;
	}

a:hover {
	text-transform: none;
	color: #ffffff;
	text-decoration: underline;
	}
	
/************ Blocs Pricipaux ********************/

#container	{
	width: 1000px;
	position: relative;
	margin:auto;
	text-align: left; /*ie*/
	background-color: #75664c;
	}	
	
#intro {
	width:1000px;
	height:160px;
	}

#supportingText 
{
	margin-top:20px;
	margin-right:20px;
	width: 650px;
	_width: 640px;
	float:left;
}

#linkList 
{
	margin-top:20px;
	margin-left: 20px;
	width: 300px;
	_width: 290px;
	float:left;
}

/******************** Sous Contenu ***************************/

/******************** Sous Contenu HEADER ***************************/
#pageHeader {
	position: relative;
	top: 30px;
	background:#473a31;
	width:1000px;
	height:130px;
	background: url(_css_gris/header.jpg) no-repeat ;
	background-position: bottom;
	}
	
#pageHeader a 
	{
	color: #d3e948; 
	}

#pageHeader a:hover 
	{ 
	text-decoration:underline;
	}
	
#pageHeader h1
{
	position: relative;
	top: -22px;
	left: 10px;
	color: #D2CCC4;
}

#pageHeader h2{
	position: relative;
	float: right;
	color: #d3e948;
	padding: 7px 15px 0 0;
	font-size: 90%;
	top: -45px;
	}			                                                                              
	
#quickSummary {
		display:none;
	} 

	#quickSummary h1 {
		color:#ffffff;
		padding:160px 0px 0px 30px;
		}
	#quickSummary h2,h3 {
		display:none;
		}

#preamble {
	display: none;
	}


/******************** LES GENERALES ***************************/
#article_breve_titre {
	margin:30px 0px -10px 0px;
	color:#D3E948;
}
	#article_breve_titre span {
		padding-left:20px;
	}

#datedujour {
	font-weight: bold;
	background-color: #8d7d6b;
	color:#342a24;
	-moz-border-radius:15px 15px 15px 15px;
	font-size:13px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 15px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

/******************** MENU HORIZONTAL***************************/
#menu {
width:1000px; 
height:50px;
margin:0px 0px 0px 0px;
font-size:0.85em;
position:relative;
z-index:100;
background-color:#75664c;
}
/* remove all the bullets, borders and padding from the default list styling */
#menu ul {
padding:0;
margin:0;
list-style-type:none;
}
#menu ul ul {
width:141px;
}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#menu li {
float:left;
width:141px;
position:relative;

background-color:#76664d;
}
/* style the links for the top level */
#menu a, #menu a:visited {
display:block;
font-size:11px;
font-weight: bold ;
text-decoration:none; 
/*color:#fff; */
color: #d3e948; 
width:141px; 
height:30px;
border:1px dashed #453830;
/*border-left:#d3e948;*/
border-width:0px 1px 1px 1px; 
background:#75664c none repeat scroll 0%;
padding-left:10px; 
line-height:29px;

}
/* a hack so that IE5.5 faulty box model is corrected */
* html #menu a, * html #menu a:visited {
width:141px;
w\idth:141px;
}

/* style the second level background */
#menu ul ul a.drop, #menu ul ul a.drop:visited {
background:#d3e948 url(../../graphics/drop.gif) bottom right no-repeat;

}
/* style the second level hover */
#menu ul ul a.drop:hover{
background:#c9ba65 url(../../graphics/drop.gif) bottom right no-repeat;
}
#menu ul ul :hover > a.drop {
background:#c9ba65 url(../../graphics/drop.gif) bottom right no-repeat;
}
/* style the third level background */
#menu ul ul ul a, #menu ul ul ul a:visited {
background:#e2dfa8;
}
/* style the third level hover */
#menu ul ul ul a:hover {
background:#b2ab9b;
}


/* hide the sub levels and give them a positon absolute so that they take up no room */
#menu ul ul {
visibility:hidden;
position:absolute;
height:0;
top:31px;
left:0; 
width:141px;
}
/* another hack for IE5.5 */
* html #menu ul ul {
top:30px;
t\op:31px;
}

/* position the third level flyout menu */
#menu ul ul ul{
left:150px; 
top:0;
width:141px;
}
/* position the third level flyout menu for a left flyout */
#menu ul ul ul.left {
left:-150px;
}

/* style the table so that it takes no ppart in the layout - required for IE to work */
#menu table {position:absolute; top:0; left:0;}

/* style the second level links */
#menu ul ul a, #menu ul ul a:visited {
	color:#342a24;
	height:auto;
	line-height:1em;
	padding:5px 10px;
	width:160px;
	background-color: #8D7D6B;/* yet another hack for IE5.5 */
}
* html #menu ul ul a{
width:141px;
w\idth:120px;
}


/* style the top level hover */
#menu a:hover, #menu ul ul a:hover{
color:#FF6538; 
background:#473a31;
}
#menu :hover > a, #menu ul ul :hover > a {
color:#d3e948;
background:#473a31;
}

/* make the second level visible when hover on first level list OR link */
#menu ul li:hover ul,
#menu ul a:hover ul{
visibility:visible; 
}
/* keep the third level hidden when you hover on first level list OR link */
#menu ul :hover ul ul{
visibility:hidden;
}

/* make the third level visible when you hover over second level list OR link */
#menu ul :hover ul :hover ul{ 
visibility:visible;
}


/******************** Sous Contenu 1ERE COLONNE ***************************/	
#edito {
	margin:0px 0px 20px 20px;
	}
	
	#edito_1 
	{
		-moz-border-radius: 1em;
 		border-radius: 1em;
		border: #473a31 2px solid;
		padding:20px;
		/*margin-left:20px;*/
		/*background:url(_css_blueblog/arton1.gif) no-repeat right center;*/
	}

	#edito_1 img 
	{
		/*float:right;*/
		margin-top:-10px;
	}
	
	#edito_2 
	{
	display:none;
	}
	
	#edito_3 
	{
	display:none;
	}
	
	
#alaune 
	{
	margin:0px 0px 0px 20px;
	clear: both;
	}
	
#alaune_1 
	{
		float: left;
		width: 45%;
		margin:0px 0px 10px 0px;
		padding:10px;
		border: #473a31 1px solid;
		-moz-border-radius: 1em;
 		border-radius: 1em;
	}
	
#alaune_2 
	{
		float: right;
		width:45%;
		border: #473a31 1px solid;
		padding:10px;
		margin:0px 0px 10px 0px;
		-moz-border-radius: 1em;
 		border-radius: 1em;
	}


#alaune_1 h3, h2
	{
		padding: 0px;
/*enlevÃ© par EPE le 1/03/2009 pour dÃ©calage dans le plan du site
		float: left;*/
		display: block;
	}
	
#alaune_2 h3, h2
	{
		padding: 0px;
/*enlevÃ© par EPE le 1/03/2009 pour dÃ©calage dans le plan du site
		float: left;*/
		display: block;		
	}

#articles_breves {
	width:97%;
	margin-left:20px;
	padding-top:15px;
	/*line-height: 4em;*/
	clear: both;
	}
	#articles_breves h5 {
			color:#d3e948;
			padding:10px 10px 0px 0px;
			font-size: 13px;
		}
	#articles_breves h6 {
		color:#D3E948;
		margin-bottom:10px;
		}
		
	#article_breve_1 {
		background: #8d7d6b;
		color: #FFF;
		border: 1px dashed #bfca54;
		padding: 10px 10px 20px 10px;
		line-height: 1em;
		/*background-color:#99CCFF;*/
		margin:0px 0px 10px 0px;
		/*padding:10px 10px 10px 10px;*/
		width:96%;
		/*float:right;*/
		}
		#article_breve_1 img {
			float:left;
			margin:0px 5px 0px 5px;
		}
		#article_breve_1 span {
			float:right;
		}
		#article_breve_1 p {
			margin:10px 0px 10px 20px;
		}
		#article_breve_1 h5 {
			font-size:0.9em;
			margin-bottom:2px;			
		}
		#article_breve_1 em {
			margin-left:20px;
			font-size:0.9em;			
		}
	
	#article_breve_all {
		background: #8d7d6b;
		color: #FFF;
		border: 1px dashed #bfca54;
		padding: 10px 10px 20px 10px;
		line-height: 1em;
		margin:0px 0px 10px 0px;
		width:96%;
		/*line-height: 1em;
		margin:-10px 0px 10px 0px;
		padding:10px 10px 10px 15px;
		width:80%;
		/*float:right;*/
		}
		#article_breve_all img {
			float:left;
			margin:0px 5px 0px 15px;
		}
		#article_breve_all h5 {
			font-size:0.9em;
			margin-bottom:2px;			
		}
		#article_breve_all em {
			margin-left:30px;			
			font-size:0.9em;
		}
#article_texte {
	margin:0px 0px 10px 0px;
	}


	
/******************** Pages Articles et Breves ***************************/	
#filariane {
	/*float:right;*/
	width:99%;
	margin-bottom:10px;
	_margin-bottom:0px;
	}
	#filariane hr {
		_margin: -7px 0;
		size:1px;
		}
	#filariane a {
		/*color:#303B41;*/
		font-weight:bold;
		font-size:0.9em;
		}

#p_article_breve {
	/*border-style:solid;
	border-color:#484747;*/
	margin:-10px 0px 10px 0px;
	/*float:right;*/
	width:99%;
	}
	#p_article_breve h1 span {
	font-weight: bold;
	background-color: #8d7d6b;
	color:#342a24;
	-moz-border-radius:15px 0px 0px 15px;
	padding : 3px 10px 3px 10px;
	line-height:3em;
		}
	#p_article_breve img {
	text-align:center;
	padding:2px;
	margin: 2px;
	vertical-align: middle;
		}
	#p_article_breve a {
		text-decoration:underline;
		}
	#p_article_breve em {
		line-height:25%;
		}
	#p_article_breve p {
		padding-top:10px;;
		}

#p_article_breve .boutonstexte img
{
	padding: 2pt;
	margin: 0pt;
}
		
#pdf_impr {
	border-style:solid;
	border-color:#484747;
	float:right;
	text-align:right;
	width:131px;
	margin-top:-51px;
	margin-right:5px;
	}
	#pdf_impr img {
		padding:0px 1px 0px 0px;
		display:inline;

		}
	#pdf_impr p {
		padding:0px 0px 0px 5px;
		display:inline;
		}
	
#forum {
	background: #8d7d6b;
	color: #BBB;
	border: 1px dashed #bfca54;
	
	padding:10px 10px 10px 10px;
	width:95%;
	/*float:right;*/
	margin:0px 0px 20px 0px;
	}
	#forum span {
		font-weight:bold;
		line-height:3em;
		}

#forum_all {
	background-color:#75664c;
	padding:10px 15px 10px 10px;
	width:83%;
	/*float:right;*/
	margin:-10px 0px 40px 0px;
	}
	#forum_all ul {
		list-style-type:none;
		padding-left:20px;
		}
	#forum_all ul li ul {
		margin-top:15px;
		}
	#forum_all span {
		font-weight:bold;
		line-height:3em;
		}
	


/******************** Sous Contenu 2EME COLONNE ***************************/
#recherche {
	/*padding:0px 0px 20px 0px;*/
	padding-right:25px;
	text-align:center;
	}
	#recherche em {
		color:#bfca54;
		font-weight:bold;
			}
	#recherche span {
		padding-right:10px;
		}
	
#agenda {
	padding-right:25px;
	margin-top:30px;
	
	}
	#agenda p {
		margin-top:20px;
		height:216px;
		text-align:center;
		background:url(_css_blueblog/agenda.jpg) no-repeat center;
		color:#FF0000;
	}

#sommaire {
	background: #8d7d6b;
	color: #BBB;
	border: 1px dashed #bfca54;
	padding: 10px;
	margin:20px 30px 20px 0px;
	padding:10px 10px 10px 10px;
	}
	#sommaire h4 {
		color:#d3e948;
		}
	

#web {
	margin:20px 10px 20px 0px;
	/*padding:10px 10px 10px 10px;*/
	}
	#web_texte {
		background: #8d7d6b;
		/*EPE120808 color: #BBB;*/
		color: #EEE;
		border: 1px dashed #bfca54;
		padding-bottom:10px;
		padding-left:10px;
		}
		#web_texte h5 {
			color:#d3e948;
			padding:10px 10px 0px 0px;
			font-size: 13px;
			}
		#web_texte p {
			line-height: 1.5em;
			/*EPE120808 padding:0px 10px 0px 0px;*/
			}
		#web_texte em {
			line-height:25%;
			font-size:0.9em;
			}
		#web_texte strong {
		color: #FFF;
		font-weight: bolder;
			}
		
#debat {
	margin:20px 30px 20px 0px;
	}
	#debat_texte {
		background: #8d7d6b;
		color: #BBB;
		border: 1px dashed #bfca54;
		padding-bottom:10px;
		padding-left:10px;
		}
		#debat_texte h5 {
			/*line-height: 2em;*/
			padding:10px 10px 0px 0px;
			}
			#debat_texte em {
				line-height:25%;
				font-size:0.9em;
				}
			#debat_texte p {
				line-height: 1.5em;
				padding:5px 10px 0px 0px;
				}


/******************** Sous Contenu 2EME COLONNE ***************************/
#thirdcolum {
	display:none;
	}


/******************** Sous Contenu FOOTER ***************************/
#footer {
	height:70px;
	clear:both;
	background: #75664c url(_css_gris/footer.gif) top repeat-x; 
	/*line-height:30px;*/
	text-align:center;
	}
	#footer a { 
		color: #d3e948; 
		}
	#footer a:hover { 
		text-decoration:underline;
		}
	#footer h2 {
		padding-top: 10px;
		font-size: 90%;
		color: #d3e948; 
		font-weight:lighter;
		float: none;
		}
	#footer img {
		padding:0px 5px 5px 5px;
		}


#forum {
	}


#linkList {
	}
	
#linkList2 {
	margin-left: 90px;
	}
	
#lrecherche {
	}
	
#lcalendar {
	}
	
#lrubriques {
	}
	
#lweb {
	}
	
#ldebat {
	}
	
.spacer {
  clear: both;
}

#extradiv1 {
	}
#extradiv2 {
	}
#extradiv3 {
	}
#extradiv4 {
	}
#extradiv5 {
	}
#extradiv6 {
	}
#extradiv7 {
	}
#extradiv8 {
	}
#extradiv9 {
	}
#extradiv10 {
	}

