/*
    CSS pour les éléments
    spécifiques de config
    de Mélusine dans les
    squelettes
*/



/* -------------------------------*/
/* -------------------------------*/
/* ---Mise en forme par défaut--- */
/* -------------------------------*/
/* -------------------------------*/

/* ------------------------------------*/
/* MISE EN FORME DES BOUTONS DES BLOCS */
/* ------------------------------------*/
/* Ajouter un module, uniformiser,...  */
/* ------------------------------------*/
.button.config_melusine 
{
    display: inline;
    color:green;
}

/* -------------------------------------*/
/*-- MISE EN FORME DES NOMS DES BLOCS --*/
/* -------------------------------------*/
/* Nom en blanc dans cadre à fond rouge */
/* -------------------------------------*/
.zbloc .nom_zbloc 
{
    display: block;
    background: #c0392b;
    position: relative;
    /*top: -24px;*/
    z-index:350;
    color:white;
    width: 12em;
    font-weight: bold;
    height:24px;;
}

/* ---------------------------*/
/*-- TRANSPARENCE DES BLOCS --*/
/* ---------------------------*/
/* Opacité de 10 % par défaut */
/* ---------------------------*/
.voir_blocs .zbloc 
{
    -webkit-opacity: 0.3;
    -moz-opacity: 0.3;
    opacity: 0.3;
    filter:alpha(opacity=30); /* For IE8 and earlier */
}

/* --------------------------------------*/
/*-- MISE EN FORME DU MENU DES MODULES --*/
/* --------------------------------------*/
/* Nom du module */
/* ------------- */
.zbloc .formulaire_deplacer_module form p.nom_module 
{
    display: inline;
    font-size: 10px;
}
/* Position */
/* -------- */
.zbloc .formulaire_deplacer_module form ul.editer_position 
{
    display: inline;
    padding: 0px;
}
/* Module mélusine */
/* --------------- */
.zbloc .formulaire_deplacer_module form input.module_melusine 
{
    border: 0px none;
    color: transparent;
    height:20px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}
/* Flèche vers le bas */
/* ------------------ */
.zbloc .formulaire_deplacer_module form input.module_melusine.bas 
{
    background: url("../images/bas.jpg") no-repeat scroll 0% 0% transparent;
}
/* Flèche vers le haut */
/* ------------------- */
.zbloc .formulaire_deplacer_module form input.module_melusine.haut 
{
    background: url("../images/haut.jpg") no-repeat scroll 0% 0% transparent;
}
/* Bouton supprimer */
/* ---------------- */
.zbloc .formulaire_deplacer_module form input.module_melusine.sup
{
    background: url("../images/croix.gif") no-repeat scroll 0% 0% transparent;
}
/* Boutons */
/* ------- */
.zbloc .formulaire_deplacer_module ul.boutons.editer_position li 
{
    display: inline;
}
/* Déplacer module */
/* --------------- */
.zbloc .formulaire_deplacer_module
{
position:relative;
z-index:300;
top:0px;
height:50px;
width:100%;
background-color:#ecf0f1;
left:0px;
}

/* --------------------------------*/
/* --------------------------------*/
/* --- MISE EN FORME AU SURVOL --- */
/* --------------------------------*/
/* --------------------------------*/


/* ------------------------------------------------*/
/* --- Disparition de la transparence au survol ---*/
/* ------------------------------------------------*/

.zbloc.admin_melusine 
{
    /*background-color: rgba(255,255,255,1);*/
    border: 1px dotted green;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter:alpha(opacity=100);
}



/* Quand la classe existe on affiche les boutons */
/*.zbloc.admin_melusine .button.config_melusine {
    display: inline;
}*/

/*  Pour le formulaire de déplacement
    des modules
*/
/*.zbloc.admin_melusine .module_melusine.admin_melusine {
    border: 1px dotted lightgrey;
}*/
/*.zbloc.admin_melusine .formulaire_deplacer_module {
    position: absolute;
    bottom: 24px;
    border-bottom: 1px dotted lightgrey;
    background: #EEE;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}*/

/*.zbloc{*/
    /*min-height:50px;*/
    /*display:block;
}
.admin_zbloc{
    display:block;
    width:100%;
    clear:both;
}*/

/*.admin_melusine{
    clear:both;
}*/

/*body.admin_melusine_body
{
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
/*}*/


/*
    Quand la classe existe on entoure le zbloc
    et on affiche le titre et les boutons
*/
    /*transition: border 500ms ease, background-color 500ms ease;
     border: 4px dotted green; 
   
    z-index:200;
    background-color: rgba(255,255,255,1);*/
    /*-webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    opacity: 0.1;*/