/*********************************************************
* CSS screen - deco
* 
* name:     pro2spip propal
*
* date:     2006.01.04
* author:   erational <http://www.erational.org>
* version:  0.1
* licence:  GPL
*
**********************************************************/


/****************** global style ******************/
body {
  font-family:  Arial, Verdana, sans-serif; 
  color: #000;
  background: #fff url("../img/bg.png") repeat-y top left; /* 64b2db*/
}

#page {}

#main {
  background: transparent url("../img/banner.png") no-repeat top left;
}

#banner {
  display:none;
}

#content {  

}

/***************** usual tags ******************/
a { 
  color: #006ea2;
  text-decoration: none;
}

a:hover {
    color: #46b9f0;
}
img {
  border: 0;
}

h1 {
  font-size: 1.3em;
  font-weight:bold;
  margin: 0.2em 0 0 0;   
}

h1.ghost {
  display:none;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
  margin: 10px 0 0 0;
}

h4 {
  font-size: 1.1em;
  margin: 8px 0 0 0;
}

hr {
  clear: both;
  visibility: hidden;  
} 

form {
  margin: 0 0 10px 0;
}

label {
   font-weight: bold;
}

/***************** spip class ******************/
.spip_surligne {
	background: yellow;
}

a.spip_out {
	background: url(../img/spip_out.png) right center no-repeat;
	padding-right: 15px;
	border-bottom: 1px solid;
}

p.spip {
  margin: 4px 0 2px 0;
}

.spip-admin-float {
  position: absolute;
  top:0;
  left:0;
  width: 180px;
}
.spip-admin-boutons {
  display: block;  
}

.spip_documents_center {
  text-align: center;
}
.spip_documents_left {
  margin-right: 8px;
  margin-bottom: 8px;
}
.spip_documents_right {
  margin-left: 8px;
  margin-bottom: 8px;
}


/***************** main block: interface ******************/
#interface {
    position: absolute;
    top: 2px;
    left: 218px;
    font-size:0.94em;
}

#interface ul, #interface  ul li {
  display:inline;
	margin:0;
	padding:0;
}

#interface ul li {
  margin-right: 0.6em;
}

#interface a:hover {
  text-decoration: underline;
}

/***************** main block: focus ******************/
#adresse, #focus { 
  border: 1px dashed #666;
  margin: 8px;
}

#adresse h1.bg, #focus h1.bg {
  margin:0;
  background: #eee;
  padding: 4px 8px;
}

.focuscontent {
  margin: 8px;
}



/***************** main block: searchengine ******************/
#searchengine {
    position: absolute;
    top: 0;
    right: 3.6em; /* 0 ? */
    margin-left:480px; /* to avoid overlay layout in 800*600 */    
    padding: 5px 10px 0 10px; 
    border-left: 6px #F9A03A solid;
}
#searchengine form,#searchengine input, #searchengine label{
  margin: 0;
  padding: 0;
}

.searchblock {
  float: left;
  width: 40%;
  background: #eee;
  margin: 0 10px 0 4px;
  padding: 12px;
}


/***************** main block: navbar ******************/

#navbar ul {
	margin:1px 0 3px 66px;
	padding:0;
}
#navbar ul li {
	display:inline;
	margin:0;
	padding:0;
}

#navbar ul li a {
  color: #fff;  
  padding-right: 50px;
  background: #99cc33; 
}

#navbar ul li a:hover {
  background: #638d0f; 
}

#navbar ul li.current a {
  background: #638d0f; 
}

#navbar a {
  font-weight:normal;
  text-decoration: none;
  font-size:1.2em;
  padding: 4px 10px 3px 10px; 
  margin: 0;  
}







/***************** main block: post ******************/
#post { 
  padding: 70px 69px 18px 69px; 
  height: 100%; /* Fix IE bug layout: otherwise if contextual menu bigger than content, content take whole width */   
}

#loupe {
  margin: 5px 10px 0 0;
  text-align: right;
}

.surtitre {}
.titre {
  margin: 32px 0 22px 0;
}


.soustitre {}
.chapo {}
.ps {}

#path {
  width: 98%;
  padding: 2px 10px;
  margin: 12px 0; /*12px 0 30px 0;*/
  background: #f7ebde;   
  text-align:right;
}

#path a {
  font-weight: bold;
  text-decoration: none;
}

#context {
  width: 30%;
  float: right;
  margin: 0 0 15px 0; 
}

#context h2 {
  font-weight: bold;  
  font-size: 1em; 
  background: transparent url(../img/context_wings.png) no-repeat top left;
  padding: 30px 0 0 18px;
  margin: 0;    
}

#context a {
  text-decoration: none;  
}

#context ul {
  list-style: none;
  margin: 5px;
  padding: 0;
}

#context ul li{
  border-bottom: 1px solid #eee;
  margin: 0; 
  padding: 5px 2px;
}
#context ul li.current{
    background:#fff;
    font-weight: bold;
    border-left: 6px solid #006ea2;
    padding-left: 10px;
}

/***************** main block: forum ******************/
#forum {

}

.forum_item {
  margin-right: 40%;
}

.forum_title {
  margin-top: 15px;
  background: #E3F1FB;
  padding: 1px 4px;
}
.forum_reply {
  text-align: right;
  border-top: 1px solid #eee;
}

.indent {
  margin-left: 50px;
}


/***************** main block: footer ******************/
#footer {
  text-align: left;
  font-size: 0.9em;
  margin: 0 0 5px 60px;
  border-top: 1px solid #eee;
  margin-right: 200px;  
}
#footer ul {
	margin:0;
	padding:0;
}
#footer ul li {
	display:inline;
	margin:0;
	padding:0;
}

#footer a { 
  margin: 0 7px;   
  text-decoration: none;
  color: #666;
}

#footer a:hover {    
  color: #000;
}

#footer_print  {
  display: none;
}

#translation {
  width: 100px;
  margin-left: -100px;
  float: right;
  padding: 2px 0;
  height: 20px;
}

/***************** sidebar block ******************/

#sidebar {
  width: 200px;  
  float: right;
}


/*********************** style deco text ************************/
h2.article {
  margin: 16px 0 0 0;
}

.date {
  color: #6d6d6d; 
  margin-bottom: 10px; 
}

a.bigger {
  font-weight:bold;
  display:block;
}

.tip {
  font-size: 0.8em;
}

.erreur {
  color: #f00;
}
.ok {
  color: #090;
}
/************************ page: sommaire ***************************/
ul.silent, ul.silent li {
  list-style:none;
  margin: 0;
  padding: 0;
}

/************************ page: recherche ***************************/
ul.search {
  list-style:none;
}

ul.search li{
  margin: 0 0 10px 0;
}
/************************ page: article archive ***************************/
#warning {
  margin: 5px;
  padding: 15px 15px 15px 60px;
  background: #fff url(../img/but_warning.png) no-repeat 5px 5px;
}

#congratulation {
  margin: 5px;
  padding: 15px 15px 15px 60px;
  background: #fff url(../img/but_congratulation.png) no-repeat 5px 5px;
}


