/*********************************************************
* CSS screen
* 
* name:     pro2spip propal
*
* date:     2006.01.04
* author:   erational <http://www.erational.org>
* version:  0.1
* licence:  GPL
*
**********************************************************/

/* page 4 print */
@page { 
	size: portrait;
	margin: 0;
	padding: 0;
} 

/************* layout for print ****************/
#content {
  margin:  0;
  padding: 0;
}

#post{	
	width: 100%;  
}
#loupe {
  display: none;
}

#sidebar{ 
   position: absolute;
   top: 0;
   left: 25px;
}

.spip-admin-float {
  display: none;
}


/**************** global style *************************/
body {
  font-family: Arial, sans-serif; 
  font-size: 10px;
}


/***************** usual tags ******************/
a { 
  color: #006ea2;
  text-decoration: none;
}

a.printhide {
  display:none;
}

img {
  border: 0;
}

h1 {
  font-size: 1.3em;
  font-weight:bold;
  padding: 0.2em 0; 
}

h2 {
  font-size: 1.2em;
}

hr {
  clear: both;
  visibility: hidden;
}


/***************** spip class ******************/
.spip_surligne {
	background: yellow;
}

a.spip_out {
	background: url(../interface/spip_out.png) right center no-repeat;
	padding-right: 15px;
	border-bottom: 1px solid;
}

p.spip {
  margin: 4px 0 2px 0;
}
/***************** main block: navbar ******************/
#navbar { display: none; }

/***************** main block: interface ******************/
#interface  { display: none; }

/***************** main block: searchengine ******************/
#searchengine  { display: none; }


/***************** main block: post ******************/
#main{ 
  width: 100%;
  margin: 0;
  padding: 0;
}

#post {
  background: #f8fcff;
  padding: 18px;
}

.titre {
  margin: 32px 0 22px 0;
}

.palm {
  float:left;
  
  margin-right: -100px; /* to cancel img width and get a nice center */
  margin-top: -17px;
  
}

#path {
  width: 98%;
  padding: 2px 10px;
  margin: 12px 0 30px 0;
  background: #f7ebde;   
  text-align:right;
}

#path a {
  font-weight: bold;
  text-decoration: none;
}

#context {
    display:none; 
}
/***************** main block: forum ******************/
#forum {

}

/***************** main block: footer ******************/
#footer {
  display: none;
}

#footer_print {
  margin: 20px 0 0 20px;
  line-height: 120%;
  color: #999;
}

/***************** sidebar block ******************/
.blockleft { display:none;}

/*********************** style deco text ************************/
h2.article {
  margin: 16px 0 0 0;
}

.date {
  color: #6d6d6d;
  margin-bottom: 10px;  
}

.date a {
  display:none;
}
