<plugin>
	<nom>Squelette Sunny pour SPIP 2.0</nom>
	<auteur>Matthieu Marcillaud
_ &#169; 2009 - Distribu&#233; sous licence GPL
	</auteur>
	<lien></lien>
	<version>1.0.2</version>
	<etat>stable</etat>
    <description>
Ce plugin active ou d&eacute;sactive le squelette {{Sunny}}.

[Configuration->.?exec=cfg&amp;cfg=sunny]
	
- Ce squelette g&egrave;re les crayons (si plugin activ&eacute;).
- Ce squelette g&egrave;re les &eacute;v&egrave;nements (si plugin Agenda activ&eacute;).

Des mots cl&eacute;s peuvent &ecirc;tre ajout&eacute;s (conservez la casse)
(les mots cl&eacute;s des groupes de mot "Affichage" et "Agenda" n'apparaissent pas dans la partie publique) :
-* {{Grand_evenement :}} (rubrique) le texte de cette rubrique s'affiche en permanance sur toutes les pages dans la colonne de droite
-* {{Coordonnees_secteur :}} (rubrique) le texte de cette rubrique s'affiche dans la boite 'coordonn&eacute;es' (colonne de droite) si on est dans le même secteur
-* {{Coordonnees_site :}} (rubrique) le texte de cette rubrique s'affiche dans la boite 'coordonn&eacute;es' (colonne de droite) sur la page sommaire
-* {{Edito :}} (article) l'article (le plus r&eacute;cent avec ce mot cl&eacute;) sera plac&eacute; au-dessus des autres dans la rubrique (mis en vedette)
-* {{Agenda r&eacute;gional :}} (&eacute;v&egrave;nement)(d&eacute;finir le mot dans dans la configuration) un &eacute;v&egrave;nement ayant ce mot cl&eacute; s'affichera sur la page sommaire (et secteur r&eacute;gion) dans la partie r&eacute;gionale
-* {{Agenda d&eacute;partemental :}} (&eacute;v&egrave;nement)(d&eacute;finir le mot dans dans la configuration) un &eacute;v&egrave;nement ayant ce mot cl&eacute; s'affichera sur la page sommaire (et secteur d&eacute;partement) dans la partie d&eacute;partementale	</description>
	<prefix>squelette_sunny</prefix>
    <options>squelette_sunny_options.php</options>
	<categorie>squelette</categorie>
	<necessite id="cfg" version="[1.11;]" />
	<necessite id="fonctions_images" version="[0.1;]" />
	<!-- necessite id="agenda" version="[0.14;]" /-->
	<!-- <chemin dir='' /> -->
</plugin>
