<plugin>
	<nom>Squelette Sunny</nom>
	<slogan>Pour un site r&#233;gional avec autant de rubriques que de d&#233;partements</slogan>
	<auteur>Matthieu Marcillaud</auteur>
	<licence>&#169; 2009 - GPL</licence>
	<version>1.0.2</version>
	<etat>stable</etat>
   <description>
Ce plugin active ou d&#233;sactive le squelette {{Sunny}}.
	
- Ce squelette g&#232;re les crayons (si plugin activ&#233;).
- Ce squelette g&#232;re les &#233;v&#232;nements (si plugin Agenda activ&#233;).

Des mots cl&#233;s peuvent &#234;tre ajout&#233;s (conservez la casse)
(les mots cl&#233;s des groupes de mot "Affichage" et "Agenda" n'apparaissent pas dans la partie publique) :
-* {{Grand_evenement :}} (rubrique) le texte de cette rubrique s'affiche en permanance sur toutes les pages dans la colonne de droite
-* {{Coordonnees_secteur :}} (rubrique) le texte de cette rubrique s'affiche dans la boite 'coordonn&#233;es' (colonne de droite) si on est dans le m&#234;me secteur
-* {{Coordonnees_site :}} (rubrique) le texte de cette rubrique s'affiche dans la boite 'coordonn&#233;es' (colonne de droite) sur la page sommaire
-* {{Edito :}} (article) l'article (le plus r&#233;cent avec ce mot cl&#233;) sera plac&#233; au-dessus des autres dans la rubrique (mis en vedette)
-* {{Agenda r&#233;gional :}} (&#233;v&#232;nement)(d&#233;finir le mot dans dans la configuration) un &#233;v&#232;nement ayant ce mot cl&#233; s'affichera sur la page sommaire (et secteur r&#233;gion) dans la partie r&#233;gionale
-* {{Agenda d&#233;partemental :}} (&#233;v&#232;nement)(d&#233;finir le mot dans dans la configuration) un &#233;v&#232;nement ayant ce mot cl&#233; s'affichera sur la page sommaire (et secteur d&#233;partement) dans la partie d&#233;partementale
	</description>
	<lien>https://contrib.spip.net/Jeu-de-squelettes-Sunny</lien>
	<prefix>squelette_sunny</prefix>
   <options>squelette_sunny_options.php</options>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;2.0.99]" />
	<necessite id="cfg" version="[1.11;]" />
	<necessite id="fonctions_images" version="[0.1;]" />
	<!-- necessite id="agenda" version="[0.14;]" /-->
	<!-- <chemin dir='' /> -->
</plugin>
