<plugin>
   <nom>Squelette Sight</nom>
	<slogan>Pour un blog ou un magazine</slogan>
	<auteur>[WPSHOWER->http://www.wpshower.com//], Teddy Payet</auteur>
	<version>1.1.0</version>
	<description>
		Sight est un squelette adapt&#233; du th&#232;me Wordpress du m&#234;me nom. Il est particuli&#232;ment adapt&#233; pour des sites de type Magazine et Blog. Le th&#232;me a &#233;t&#233; cr&#233;&#233; avec un style modern mnimalist avec le nombre d'or. Avec l'autorisation de l'auteur, le th&#232;me a &#233;t&#233; port&#233; sous forme de squelettes pour SPIP.
	</description>
	<lien>https://contrib.spip.net/Squelette-Sight</lien>
	<icon>images/logo-sight-24.png</icon>
	<etat>stable</etat>
   <licence>GNU/GPL V2</licence>
   <prefix>sight</prefix>
	<necessite id="SPIP" version="[2.1.0;2.1.99]" />
	<necessite id="Z" version="[1.7.9;]" />
	<necessite id="cfg" version="[1.16.0;]" />
	<necessite id="menus" version="[0.8.3;]" />
	<categorie>squelette</categorie>
</plugin>