<plugin>
  <nom><multi>
  [fr]Squelettes Sight
  </multi></nom>
	<auteur>[WPSHOWER->http://www.wpshiwer.com//], Teddy Payet</auteur>
	<version>1.0</version>
	<description><multi>
	[fr]Sight est un squelette adapt&eacute du th&egrave;me Wordpress du m&ecirc;me nom. Il est particuli&egrave;ment adapt&eacute; pour des sites de type Magazine et Blog. Le th&egrave;me a &eacute; cr&eacute;&eacute; avec un style modern mnimalist avec le nombre d'or. Avec l'autorisation de l'auteur, le th&egrave;me a &eacute;t&eacute; port&eacute; sous forme de squelettes pour SPIP.
	</multi></description>
	<icon>images/vignette.png</icon>
	<etat>stable</etat>
  <licence>GNU/GPL Version 2 or later</licence>
  <prefix>sight</prefix>
	<necessite id="Z" version="[1.7.9;]" />
	<necessite id="cfg" version="[1.16.0;]" />
	<necessite id="menus" version="[0.8.3;]" />
	<categorie>squelette</categorie>
</plugin>