/*-----------------------------------------
-     Layout
-------------------------------------------*/
html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif}
p{margin:0 10px 10px}
a{padding:0px;}

div#content p{line-height:1.4}
div#footer p{margin:0;padding:5px 10px}

div#sommaire{margin-left:auto;width:1008px;margin-right: auto;}
div#mot{margin-left:auto;width:1008px;margin-right: auto;}
div#rubrique{margin-left:auto;width:1008px;margin-right: auto;}
div#site{margin-left:auto;width:1008px;margin-right: auto;}
div#page_plan{margin-left:auto;width:1008px;margin-right: auto;}
div#herbier{margin-left:auto;width:1008px;margin-right: auto;}

div#header{margin-left:auto;width:1008px;margin-right: auto;}
div#header #header_left{float:left;width:755px;text-align:left;height:180px}
div#header #header_right{float:left;width:253px;text-align:left;height:180px}
div#content{float:left;width:755px;}
div#nav{float:right;width:253px;}
div#footer{clear:both;text-align:center;width:1008px}
