/*===================================================
#		FEUILLE DE STYLE 							#
#		RÉCIT-FP Partenaires 2C 					#
#		Auteur:   pierre.bourgeois.com				#
#		Version:  8 juillet 2005					#
#		MÀJ: 29 mars 2006							#
#													#	
#		Index de la feuille de style :				#	
#		1. Style généraux							#
#		2. Contenant								#
#		3. Entête									#
#		4. Menu horizontal							#
#		5. Colonne gauche							#
#		6. Menu vertical							#
#		7. Colonne droite							#
#		8. colonne centrale							#
#		9. Contenu principal - pages de niveau 2	#
#		10 Pied de page								#
#		11. Formulaires								#
#		12. Agenda									#
#		13.	CSS exclusif à IE MAC 5.2				#
====================================================*/

@import url(nouveautes.css);


/*----------------------------------------------- 
	1. STYLES GÉNÉRAUX
-------------------------------------------------*/
body { 
	background:#FFFF99; /* Couleur du fond de la page */
	color: #black; /* Couleur du texte */
	margin: 0; /* Marge extérieures  */ 
	padding: 0; /* Marges intérieures */ 
	text-align: center; /* Permet de centrer la page */ 
	font-size: 70%; /* Grosseur du caractère */ 
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif; /* Type de caractère : 
																si l'usager n'a pas verdana 
																alors on essaie Arial, sinon 
																Helvetica, etc  */ 
	}

.invisible li{display:inline;
	}
	
a:link, a:visited, a:active { 
	color: #0066CC; /* Couleur des liens */ 
	text-decoration: none; /* Lien non-souligné */ 
	} 
a:hover	{ 
	text-decoration: underline;color:black; /* Lien souligné lors du survol de la souris */ 
	}
	
fieldset {
	border: none;
	}
	
/* Classes générées par SPIP */
.spip_logos {
	border-style: none; /* Enlève la bordure sur la images intégrées via l'espace privé  */ 
	}
.spip_documents {
	border: 1px solid #666666; /* Bordure pour les documents attachés  */ 
	background-color: white; 
	margin: 0 8px 16px 8px; /*  Marges (haut, droite, bas, gauche :
							comme le sens de l'aiguille d'une montre */ 
	}
/* Alternance de couleur pour les listes */	
.pairs {
	display: block; 
	background: #F5F5F7;
	}
.impairs {
	display: block; 
	background: #FFFFFF;
	}

/* ----------------------------------------------
	2. CONTENANT
-------------------------------------------------*/
#contenant { 
	width: 850px; /* Largeur de la page */
	padding: 0; 
	margin: 20px auto; /* Marges : 20pixels en haut et en bas, 0 pixel à droite et gauche */
	text-align: left; /* Justifier le texte à gauche */
	background:#ffffff; /*fond blanc*/
	
	}
/*------------------------------------------------ 
	3. ENTÊTE
-------------------------------------------------*/
#entete { 
	position: relative; /* Condition pour poditionner les objets de l'entête */
	margin: 0;
	padding:0;
	height: 150px;
	} 

/* Logo et titre de l'organisme */
h1 a, h1 a:link, h1 a:visited, h1 a:active, h1 a:hover { 
	position: absolute; /* Active le positionnement relative à l'entête  */
	padding-left: 90px; /* Position du TEXTE de la gauche de la page */
	padding-top: 22px; /* Position du TEXTE du haut de la page */
	font-size: 13px; /* Grosseur du caractère */
	font-weight: normal; /* Enlève le gras par défaut du H1 */
	color: black; /* Couleur du texte */
	} 

/* Bandeau */
#entete p {
	} 
	
/* Texte du bandeau */	
#entete p span {
	
	 /* 	Cache le texte pour les navigateurs compatible avec CSS
				      	Utile pour mettre un slogan ou du texte que les moteurs 
					  	de recherche indexeront
					
					*/
	}
	

/* ----------------------------------------------
	4. MENU HORIZONTAL (les rollovers du haut)
 ------------------------------------------------*/
/* Positionnement du topmenu */
#topmenu {
	}
#topmenu ul {
	}
#topmenu li a {
	}
#topmenu li a span {
	}

#topmenu li a:hover span {
	}

/* Bouton "Recherche sur ce site" - normal */
li#item1 a,
li#item1 a:link,
li#item1 a:focus{
	}

/* Bouton "Recherche sur ce site" - survol */

li#item1 a:hover { 
	}
	
/* Bouton "Plan du site" - normal */
li#item2 a {
	}
	
/* Bouton "Plan du site" - survol */
li#item2 a:hover { 
	}
	
/* Bouton "Espace rédacteur" - normal */
li#item3 a {
	}
	
/* Bouton "Espace rédacteur" - survol */
li#item3 a:hover { 
	}


/* Bouton "Contact" - normal */
li#item6 a {
	}
	
/* Bouton "Contact" - survol */
li#item6 a:hover { 
	}

/* Bouton "En" - normal */
li#item7fr a {
	}
	
/* Bouton "En" - survol */
li#item7fr a:hover { 
	}

/* Bouton "FR" - normal */
li#item7en a {
	}
	
/* Bouton "FR" - survol */
li#item7en a:hover { 
	}
/*------------------------------------------------ 
	5. COLONNE GAUCHE
 -------------------------------------------------*/
 
#colgauche { 
	}

/* ----------------------------------------------
	6. MENU VERTICAL 
 ------------------------------------------------*/

.menuGauche ul { 
	padding: 14px 0 0 0; 
	margin: 0; 
	list-style-type: none;
	}
.menuGauche li {
	margin-bottom: 6px;
	}
.menuGauche li a:link, 
.menuGauche li a:visited ,
.menuGauche li a:active, 
.menuGauche li a:focus {
	display: block; 
	width: 174px; /* Format et couleurs niveau 1 */
	padding: 3px 0 3px 10px; 
	text-decoration: none; 
	border: 1px solid #BFBFBF; 
	font-weight: bold;
	font-size: 11px;
	color: #828282;
	} 
.menuGauche li a:hover {
	color: #993300; /* Couleur du lien en survol  */
	}  

/*------------------------------------------------ 
	7. COLONNE DROITE
 ------------------------------------------------*/
#coldroite { 
	float: right; 
	width: 192px; 
	margin-top:5px;
	padding-top: 0;
	margin-right: 17px!important; /* Pour les navigateurs standards */
	margin-right: 8px; /* Pour Internet Explorer */
	display: none; /* On le cache puisque l'on veut seulement 2 colonnes sur la page d'accueil */
	}
#coldroite h3 { /* Titre "Sur le Web" */
	position: relative; 
	margin: 0; 
	height: 16px; /* Hauteur de la boite */
	-moz-border-radius: 0 10px 0 0;
	background:#CC6600; /* Couleur du fond */
	font-size: 12px; 
	color:#FFFFFF; /* Couleur du texte */
	font-weight: bold; 
	padding: 3px 0 2px 5px;
	}

#coldroite .boite h4.breve { /* titre de la brêve mise en valeur */
	font-size: 12px;
	font-weight: bold;
	padding:4px 0 2px;
	}
	

/* Listes */

#coldroite .boite { 
	margin: 0; 
	padding: 0; 
	}
#coldroite .boite h4 {
	margin: 0 5px; 
	padding-top: 5px; 
	font-size: 10px;
	}
#coldroite .boite ul {
	margin: 0; 
	padding: 0;
	list-style-type: none;
	}
#coldroite .boite li {
	margin: 0; 
	padding: 0; 
	}
#coldroite .boite li a, .boite li a:link, 
.boite li a:visited {
	display: block; 
	padding: 5px 10px 5px 23px; 
	font-size: 10px; 
	background: url(images/bouton-colDroite-normal.gif) no-repeat 5px 50%; 
	color: #7A7A7A;
	}
#coldroite .boite li a:hover { 
	text-decoration: none; 
	color: black;
	background: url(images/bouton-colDroite-hover.gif) no-repeat 5px 50%;
	}
#coldroite #texte-coldroite { 
	margin: 5px;
	}
#coldroite .boite p.spip a { 
	background-image: none; 
	display: inline; 
	padding: 0;
	}

/* paragraphe brêve */

#coldroite .boite p.breve {padding:2px;margin:0;font-size:10px;}

#coldroite .boite p.lien  {text-align:right;padding:0 2px 4px;margin:0;font-size:10px;}


/* Corrections pour IE6Win\*/
* html .boite li a {
	height: 1%; 
	} 
/* Fin de la correction IE6Win */



/*------------------------------------------------
	8. COLONNE CENTRALE - Page d'accueil
 ------------------------------------------------*/
#colcentre { 
	margin-left: 227px; 
	margin-right: 33px; 
	padding: 0 0 1em 0;
	}
/* Corrections pour IE6Win\*/
* html #colgauche { 
	margin-right: 10px;
	}
* html #colcentre { 
	height: 1%; 
	margin-left: 0; 
	}
/* Fin de la correction IE6Win */

/* Texte d'accueil */
#colcentre #message_accueil {
	margin-top: 8px; 
	font-size: 14px;	
	}
#colcentre #message_accueil p {
	margin: 1em 0; 
	}
#colcentre #message_accueil p a, 
#colcentre #message_accueil p a:link, 
#colcentre #message_accueil p a:visited {
	color: #0066CC; 
	background: #FFFFFF;
	display: inline; 
	font-size: 1em;
	font-weight: normal;
	} 
#colcentre #message_accueil p a:hover {
	text-decoration: underline;
	} 
/* Fin Texte d'accueil */

/* Titre de la colonne du centre "Nouveautés sur ce site" */
#colcentre h2 {
	margin: 10px 0 0 0; 
	font-weight: normal; 
	font-size: 1.8em; 
	color: #000000;
	}

.nouveau-intro { 
	margin: 0; 
	padding: 0;  
	text-align: left; 
	}
#colcentre div.spip_documents { border: none;}

/* -----------------------------------------------
	9. CONTENU PRINCIPAL - Pages niveau 2
 ------------------------------------------------*/
#contenu { 
	margin-left: 235px; 
	margin-right: 34px; 
	padding: 10px 0 1em 0; 
	}
/* Corrections pour IE6Win\*/
	* html #contenu .container { 
		height: 1%; 
		}
/* Fin de la correction */

/* Fil d'Ariane */
#contenu p.ariane {
	margin: 8px 3px 5px 0; 
	text-align: right;
	}
#contenu p.ariane a, 
#contenu p.ariane a:link, 
#contenu p.ariane a:hover,
#contenu p.ariane a:visited {
	color: black; 
	margin: 0;
	}
#contenu p.ariane a:active {
	font-weight: normal;
	}
/* Titre de page */
#contenu h2 { 
	font-size: 135%; 
	font-weight: bold; 
	color: white; 
	position: relative;
	background-color: #193485; 
	padding: 3px 3px 3px 45px; 
	margin: 0; 
	} 
/* Chevron de titre */
#contenu h2 strong {
	position: absolute; 
	left: 10px!important; 
	left: -35px; 
	top: 3px;
	}
#contenu table {
	margin: 0; 
	width: 99.5%;
	}

/* Boite logo, date, auteur de l'article */
#contenu #boite-logo-article,
#contenu #boite-logo-rubrique {
	width: 162px; 
	display: block; 
	float: right; 
	margin: 0 0 20px 20px; 
	background-color: #C9D1D1; 
	line-height: normal;
	}
/* Logo */	
#contenu #boite-logo-article img { 
	margin: 8px 0 0 8px; 
	border: 1px solid black;
	}

#contenu .date {
	margin: 5px 0 5px 10px; 
	padding: 0; 
	font: 12px Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	}
#contenu .auteur-titre {
	margin: 0 10px; 
	font: 10px Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	}
#contenu .auteur {
	margin: 0 3px 5px 10px;
	}

#contenu .texte { 
	margin-top: 0; 
	padding: 10px 20px; 
	font: 12px Arial, Helvetica, sans-serif;
	background-color: #E9EAEA; 
	color: black; 
	}
#contenu .texte p.spip {
	margin: 0 0 1em 0; 
	background-color: #E9EAEA;
	}
td#texte-article {
	background-color: #E9EAEA;
	}
#contenu .item {
	clear: right;
	}
.titrerubrique a {
	background: url(images/folder.png) no-repeat left 50% ; 
	adding-left: 20px;
	}
#contenu .soustitre {
	font-weight: bold;
	}

/* Boites de contenu dans les squelettes rubriques */
#boite-srubrique-rubrique, 
#boite-liens-rubrique, 
#boite-syndic-rubrique { 
	margin: 15px 0; 
	padding: 0; 
	}

/* Bordure boite de rubriques et d'articles */
#boite-srubrique-rubrique {
	border: 1px solid #193485;
	}	
	
/* Bordure boîte liens*/
#boite-liens-rubrique { 
	border: 1px solid #027F02;
	}

/* Bordure boîte liens syndiqués */
#boite-syndic-rubrique { 
	border: 1px solid #FFC200; 
	}

#boite-syndic-rubrique p {
	margin: 1em;
	}

/* Titre h3 sous-rubrique et article*/
#boite-srubrique-rubrique h3, 
#boite-articles-rubrique h3 {
	color: #193485; 
	font-size: 13px; 
	margin-left: 10px;
	}

/* Titre h3 rubrique liens*/
#boite-liens-rubrique h3 { color: #027F02; font-size: 13px; margin-left: 10px;}

/* Titre h3 rubrique liens syndiqués*/
#boite-syndic-rubrique h3 {color: #FFC200; font-size: 13px; margin-left: 10px; position: relative;}
#boite-syndic-rubrique h3 em a { font-family: Arial, Helvetica, sans-serif; font-weight: normal; 
	font-style: normal; font-size: 11px; position: absolute;  top: 2px; left: 340px; 
	text-decoration: none; color: #FFC200;}
	
#boite-srubrique-rubrique ul, 
#boite-liens-rubrique ul, 
#boite-syndic-rubrique ul {
	margin: 0; padding: 0;
	}
#boite-srubrique-rubrique li, 
#boite-liens-rubrique li, 
#boite-syndic-rubrique li {
	margin: 0; 
	padding: 0; 
	list-style-type: none;
	}
#boite-srubrique-rubrique li a, 
#boite-srubrique-rubrique li a:link, 
#boite-srubrique-rubrique li a:visited {
	display: block; 
	padding: 5px 10px 5px 23px; 
	background: url(images/puce-articles-Srubrique-normal.gif) no-repeat 5px 5px; 
	color: #7A7A7A;
	}
#boite-srubrique-rubrique li a:hover { 
	text-decoration: none; color: black;
	background: url(images/puce-articles-Srubrique-hover.gif) no-repeat 5px 5px;
	}
#articles li a, 
#articles li a:link, 
#articles li a:visited {
	display: block; 
	padding: 5px 10px 5px 23px; 
	background: url(images/puce-articles-rubrique-normal.gif) no-repeat 5px 8px; 
	color: #7A7A7A;
	}
#articles li a:hover { 
	text-decoration: none; 
	color: black;
	background: url(images/puce-articles-rubrique-hover.gif) no-repeat 5px 8px;
	}
#boite-liens-rubrique li a, 
#boite-liens-rubrique li a:link, 
#boite-liens-rubrique li a:visited {
	display: block; padding: 5px 10px 5px 23px; 
	background: url(images/puce-liens-rubrique-normal.gif) no-repeat 5px 8px; 
	color: #7A7A7A;
	}
#boite-liens-rubrique li a:hover { 
	text-decoration: none; 
	color: black;
	background: url(images/puce-liens-rubrique-hover.gif) no-repeat 5px 8px;
	}
#boite-syndic-rubrique li a, 
#boite-syndic-rubrique li a:link, 
#boite-syndic-rubrique li a:visited {
	display: block; 
	padding: 5px 10px 5px 23px; 
	background: url(images/puce-syndic-rubrique-normal.gif) no-repeat 5px 8px; 
	color: #7A7A7A;
	}
#boite-syndic-rubrique li a:hover { 
	text-decoration: none; 
	color: black;
	background: url(images/puce-syndic-rubrique-hover.gif) no-repeat 5px 8px;
	}
#boite-articles-rubrique li.recherche-liste-sites a {background: url(images/puce-liens-rubrique-normal.gif) no-repeat 5px 8px;}
#boite-articles-rubrique li.recherche-liste-sites a:hover {background: url(images/puce-liens-rubrique-hover.gif) no-repeat 5px 8px;}

/* Contenu boite de documents */
#documents_boite { width: 100%; margin-top: 15px; padding-left: 15px;}
#documents_boite h3 {margin: 0;}
#documents_boite dl {margin: 15px 10px 0 5px; width: 225px; padding: 0; float: left;}
#documents_boite dt {float: left;}
#documents_boite dd a {color: #666666;}
#documents_boite dd a:hover {color: #000000; text-decoration: none;}

/* Plan du site */
#plan {
	margin-top: 20px;
	}
#plan ul { 
	list-style-type: none; 
	padding: 0; 
	margin: 0; 
	color: #666666;
	}
#plan ul ul li { 
	background: url(images/plan-puce.gif) no-repeat; 
	margin: 0; 
	padding: 6px 0 0 36px; 
	}
#plan ul ul li.dernier { 
	background-image: url(images/plan-dernier.gif); 
	}
#plan a, #plan li a {
	color: #666;
	}
#plan a:hover, 
#plan li a:hover {
	color: #0066CC;
	}

/* Correction du bug de 3px sous IE/Win 5 et 6. Voir à ce sujet :
   http://www.positioniseverything.net/explorer/threepxtest.html
   IE5-Mac ne voit pas cette correction \*/
* html #documents_boite dt { margin-right: 5px;}
* html #documents_boite dd { height: 1%; margin-left: 0; }
/* Fin du code non visible pour IE MAC 5.2 */
.logo_document {
	float: left;
	}
.logoArticle {
	background-color: #C9D1D1;
	}
.titre_resultat_recherche { 
	color: #1D4D9E;
	}

/* Forum d'article */
.spip_barre {
	display: none;
	}
.spip_encadrer table { 
	display: none;
	}
.spip_encadrer td { 
	padding-top: 5px;
	}
#message-forum {
	border: 1px solid #666666; 
	padding: 5px 15px; 
	margin-top: 20px; 
	margin-bottom: 30px; 
	}
#message-forum ul {
	padding: 0; 
	margin: 0; 
	list-style-type: none;
	}
#message-forum li {
	margin-bottom: 15px; 
	}
#message-forum h3, 
#formulaire-forum h3 a, 
h3 a.repondre, 
#documents_boite h3 {
	color: #1D4D9E; 
	font-size: 13px;
	}
a.repondre {
	text-decoration: underline; 
	padding-left: 15px; 
	padding-top: 30px;
	}
#message-forum h4 {
	margin: 0;  
	font-size: 13px;
	}
#message-forum .date-auteur {
	color:#333333;
	}
#message-forum a {
	color: #666666; 
	text-decoration: underline; 
	}
#formulaire-forum {
	border: none; 
	padding: 15px;  
	width: 493px;
	margin: 0; 
	background-color: #F0F0F0; 
	text-align: left;
	}
#formulaire-forum form {
	border: none;
	}
/* Correction pour IE6 \*/
#formulaire-forum {
	width: 490px;
	}
/* Fin de la correction pour IE6 */
#formulaire-forum fieldset {
	border: none;
	}
#formulaire-forum textarea {
	width: 480px; 
	border: none;
	}
#formulaire-forum input {
	border: none;
	}
#formulaire-forum .spip_bouton {
	background-color: #1D4D9E; 
	font-family: Arial, Helvetica, sans-serif; 
	color: white; 
	font-size: 11px; 
	border: none; 
	padding: 3px 15px; 
	}
	
#stats img {
	display: none;
	}

#contenu form {
	margin-top: 0; 
	position: relative; 
	color: black; 
	text-align: left;
	}
#contenu .forml {
	width: 450px; 
	border: 1px solid #BABABA; 
	height: 20px; 
	margin: 5px 0;
	}

/*------------------------------------------------
	10. PIED DE PAGE
 ------------------------------------------------*/
#pied { 
	clear: both; 
	margin: 0; 
	padding: 0 30px 0 0; 
	font-size: 9px; 
	text-align: left; 
	height: 140px; 
	position: relative; 
	color: #999; 
	z-index: 10;
	}

/*\*/
* html #pied { height: 165px; }
/**/

#pied hr {
	border: 0;  
	color: #DBDBD9; 
	width: 95%!important; 
	width: 100%;
	background-color: #DBDBD9; 
	margin: 15px 0 0 30px!important; 
	margin: 0 0 0 40px;
	height: 1px;
	}
#pied p {
	text-align: center;
	}
#pied p#spip {
	position: absolute; 
	right: 40px; 
	top: 50px!important; 
	top: 85px; 
	text-align: right;
	}
#pied a, #pied a:link, 
#pied a:visited {
	color: #999; 
	font-size: 9px;
	}

/*----------------------------------------------- 
	11. FORMULAIRES
-------------------------------------------------*/

/* Formulaire d'inscription au bulletin */

/* Champs courriel */
#contenu form#bulletin input.courriel {
	width: 240px; 
	height: 20px; 
	border: none;
	}
/* Bouton valider */
#contenu form#bulletin input.bouton_valider {
	margin: 15px 0 0 4px; 
	background-color: #BBBFC0; 
	color: white; 
	padding: 2px 38px; 
	font-weight: bold; 
	border: none;
	}
#bulletin_confirmation {
	font-size: 120%; 
	color: #FF0000; 
	font-weight: bold;
	}
	
/* Formulaire de recherche */
#contenu form.formrecherche {
	padding: 20px 0; 
	position: relative;
	}
#contenu form.formrecherche input.champs {
	margin-left: 20px; 
	width: 238px; 
	height: 21px; 
	border-style: none;
	}
#contenu form.formrecherche input.form-submit {
	border-style: none; 
	background-color: #BABFBF; 
	color: white; 
	height: 23px; 
	width: 123px; 
	position: absolute; 
	left: 270px; 
	top: 20px; 
	font-size: 13px;
	}
#contenu form.formrecherche #radio1, 
#contenu form.formrecherche #radio2 {
	color: #1D4D9E; 
	margin: 5px 0 0 15px;
	}
#contenu form.formrecherche #aide a {
	color: #1D4D9E; 
	position: absolute; 
	left: 450px; 
	top: 25px;
	}

/*------------------------------------------------
	12. AGENDA
 ------------------------------------------------*/
#calendrier {
	background-color: #EAEAEA; 
	margin: 0; 
	padding-bottom: 15px;  
	}
#calendrier table {
	width: 490px; 
	margin: 1px auto; 
	padding: 15px 0; 
	border-style: none;
	font-size: 10px;
	border-collapse: collapse; 
	} 
table.agenda {
	border-collapse: collapse; 
	}
table.agenda th.agendaNav {
	border-collapse: collapse; 
	border-style: none; 
	background-color: #EAEAEA;
	text-align: center;
	}
table.agenda th.agendaNav form {
	margin: 0 auto;
	width: 250px;
	}
table.agenda th.agendaNav form input.agendaBouton { 
	border-style: none; 
	color: #FFFFFF; 
	background-color: #BABEBF; 
	padding: 1px 10px;
	}
table.agenda th.agendaHead {
	background-color: #BBBFC0;
	border: 1px solid #7A7A7A;
	}

table.agenda a, 
table.agenda a:link, 
table.agenda a:visited, 
table.agenda a:active { 
	text-decoration: none; 
	color: #000; 
	padding: 2px; 
	font-size: 9px;
	}
table.agenda a:hover { 
	text-decoration: underline; 
	}

table.agenda td {
	border: 1px solid #BFBFBF;
	}
table.agenda td.agendaThisMonth {
	background-color: #FFFFFF;
	}
table.agenda td.agendaThisDay {
	background-color: #BBC9E3;
	}
table.agenda td.agendaNotThisMonth { 
	background: #EFEFEF;
	}
table.agenda td.agendaNav {
	text-align: center; 
	border: none;
	}




/*------------------------------------------------
	13. CSS EXCLUSIF À IE MAC 5.2
 ------------------------------------------------*/
/* Les règles suivantes sont exclusives à IEMAC 5.2. Explications ici: 
   http://www.stopdesign.com/examples/ie5mac-bpf/ */
/*\*//*/
	#entete p strong {top: 80px; left: 300px;}
	.h3coldroite1 {position: static; display: block; margin: 22px 0 0 5px;}
	.h3coldroite2 {position: static; display: block; margin: 10px 0 0 5px;}
	#colcentre h3 {position: static; padding-left: 8px;}
	h3 strong {position: static;} 
/* Fin des règles exlusives à IE5 MAC 5.2 */

