 /*  Liste des nouveautés */

/* Titre */
#colcentre h3 {
	background-color: #193485;
	color: #FFFFFF; 
	padding : 2px 2px 2px 29px; 
	font-size: 12px; 
	position: relative;
	margin: 0; 
	} 
/* Chevron du titre : ">>" */
h3 strong {
	position: absolute; 
	left: 8px; 
	top: 4px; 
	font-size: .7em; 
	font-weight: bold; 
	margin-bottom: 12px; 
	} 
/* Chevron du titre pour IE Windows \*/
* html h3 strong {left: -23px;} 
/* Fin de la correction pour IE6 */

/* Texte d'introduction de la nouvelle*/
#colcentre p {
	margin: 0;
	}
#colcentre p a, 
#colcentre p a:link, 
#colcentre p a:visited {
	color: #545452; 
	background: #EAEAEA;
	display: block; 
	text-decoration: none; 
	margin: 0;  
	padding: 0 0 10px 0;
	font-size: 12px; 

	} 
#colcentre p a:hover {
	background: #D0CFD4;
	text-decoration: none; 
	color: black;
	} 
	
/* Logo de la nouveautée */
#colcentre .logo {
	float: left; 
	margin: 0 1em 1em 0; 
	padding: 0; 
	border: 1px solid #CCCCCC; 
	background-color: #666666;
	}
.nouveau-boite .introduction {
	display: block; 
	margin-left: 15px; 
	font-size: 11px;
	}
.nouveau-boite { 
	margin: 0;

	}
.nouveau-boite p a { 
	margin: 0;
    overflow: hidden;
	}    
        
.date {
	display: block; 
	padding: 7px 0; 
	font-weight: bold; 
	text-align: left; 
	margin-left: 15px;
	}
.nouveau-boite img { 
	float: right; 
	border: 1px solid #666666; 
	margin: 0; 
	padding: 5px; 
    background: #D0D0D0;

	}
.nouveau-boite a img { 
    background: #D0D0D0;
	}
.nouveau-boite a:hover img { 
    background: #969CAA;
	}    
/* Fin des nouveautés */

/*------------------------------------------------
	CSS EXCLUSIF À IE MAC 5.2
 ------------------------------------------------*/
/* Les règles suivantes sont exclusives à IEMAC 5.2. Explications ici: 
   http://www.stopdesign.com/examples/ie5mac-bpf/ */
/*\*//*/
.nouveau-boite p a { 
	margin: 0;
    overflow: visible;
	} 
/* Fin des règles exlusives à IE5 MAC 5.2 */