<plugin>
	<nom>
		Alternatives - Stages
	</nom>
	<auteur>
		[Andr&#233; Vincent->http://andre-vincent.info] - &#169; 2006 - Licence GNU/GPL   
	</auteur>
	<version>
		1.9.2
	</version>
	<etat>
		stable
	</etat>
	<description>
      <multi>
		Activate this plugin to modify the look and feel of ALTERNATIVES.
		This theme changes the layout.
	[fr]
		Activez ce plugin pour changer l'habillage du squelette ALTERNATIVES.
		Cet habillage change la mise en page.
	  </multi>
	</description>
	<lien>
		[Documentation->www.stages.alternatives.ca/spip.php?article286]
	</lien>
	<prefix>
		theme
	</prefix>
	<categorie>squelette</categorie>
</plugin>