

/*------------ bloog, squelette de blogue pour SPIP -------------- */
/*------ Caractéristiques principales du site modifiables facilement----- */

@import "_interface_couleurs.css";



/*----- Détails à changer si on se sent alaise avec les css ----------------------- */
/*----- Attention d'être sur de ce que vous faites -------------------------------- */



.entete {

/*BORDER-BOTTOM: black 1px solid; BORDER-TOP: #333333 1px solid;*/
width: 750px;

}


.entete .recherche {float:right;text-align: right;}






.menu-prog {
/*
width:100%;
height: 30px;
*/
font-family: Verdana, Arial, Helvetica, sans-serif;
letter-spacing: 1px; cursor: hand;
padding :10 5 5 5 ;
text-align:right;
}


/*
.menu-prog .bouton{  
font-weight: bold; letter-spacing: 1px; cursor: hand;}
*/


.menu-prog .bouton{


float:left;

BACKGROUND-COLOR: #ffffff;

BORDER: #000000 1px solid ;

width:12%;

padding:2px;

text-align: center;

MARGIN: 2px;

font-weight: bold;

}





.menu-prog a:link {color:#000000;text-decoration:none;}

.menu-prog a:visited {color:#000000;text-decoration:none;} 

.menu-prog a:hover {color:#0456C0;text-decoration:none;}

/*
.tab_menu { 

BORDER-BOTTOM: black 1px solid; 
BORDER-TOP: #333333 1px solid;

width: 750px; 
background-color: #FFFFFF;
}
*/




.grison, .grison_actif, .gris {
text-align: center;
MARGIN: 1px;  
font-weight: bold; 
letter-spacing: 1px; 
cursor: hand;
PADDING-BOTTOM: 3px; 
PADDING-LEFT: 3px; 
PADDING-RIGHT: 3px;
PADDING-TOP: 3px
}


td { 
font-size: 70%;
}
.h5, .h4 { 
font-weight: bold; letter-spacing: 2px; 
}
.h5  { 
font-size: 100%; 
}
.h4  { 
font-size: 120%; }


.spip_recherche {
	FONT-SIZE: 9px; 
	padding:2px;

MARGIN: 1px;
}
.spip_cadre {
	BACKGROUND-COLOR: #ffffff; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px; WIDTH: 100%
}
H3.spip {
	FONT-SIZE: 115%; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.spip_documents {
	FONT-SIZE: 70%
}
TABLE.spip {	
}
TABLE.spip TR.row_first {
	BACKGROUND-COLOR: #fcf4d0
}
TABLE.spip TR.row_odd {
	BACKGROUND-COLOR: #c0c0c0
}
TABLE.spip TR.row_even {
	BACKGROUND-COLOR: #f0f0f0
}
TABLE.spip TD {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 1px; TEXT-ALIGN: center
}
.spip_surligne { background-color: #FFFF66; }



/*----- Détails à changer si on se sent alaise avec les css ----------------------- */
/*----- Attention d'être sur de ce que vous faites -------------------------------- */
/*----- bloOg 3 -------------------------------- */

#right{
padding-top: 20px;

}


/* Bouton sorti */
#right h2, #right li a, #right li a:hover {
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
}
/* Bouton enfoncé */
#right li a:active {
	border-top: 1px solid #333;
	border-left: 1px solid #333;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}


#right ul {
	color: #333333;
	margin-bottom: 1.5em;
	margin-left: 0px;
	margin-top: 0.5em;
	padding-left: 0px;
list-style: none;
list-style-image: none;
}

#right li a {

        color: #FF9900;
	display: block;
	font-weight: bold;
	line-height: 90%;
	margin-bottom: 3px;
	margin-left: 7px;
	margin-right: 0px;
	margin-top: 3px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 0px;
	padding-top: 5px;
	text-decoration: none;
        color:#000000;
}

#right li a:link {
text-decoration: none;
}

#right li a:visited {
	color: #000000;
	text-decoration: none;
}

#right li a:hover {
	background: url(puce.gif) no-repeat 8px;
	color: #FF000;
	text-decoration: none;
}

#right li a:active {
	background: url(puce.gif) #FFFFFF no-repeat 4px;
	border-right: 1px solid #FFFFFF;
	
}

#right ul ul {
	color: #333333;
	margin-bottom: 0.5em;
	margin-left: 0px;
	margin-top: 0.5em;
	padding-left: 10px;
list-style: none;
list-style-image: none;
}

#right ul ul li a, #right ul ul li a:hover {
	
        border-top: #333333;
	border-left: #333333;
	border-right: #333333;
	border-bottom: #333333;
        background: #F0F0FO;
	display: block;
        font-weight: normal;	
        margin-bottom: 3px;
	margin-left: 7px;
	margin-right: 0px;
	margin-top: 3px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 0px;
	padding-top: 5px;
	text-decoration: none;
        list-style: none;
        list-style-image: none;
}




