/*
 * Mise en page des textes (bordures...)
 */

body{
background-color: #AABBCC;

/*background-image: url("images/vrdatafond.jpg") ; background-repeat: no-repeat ;  
background-position: center;*/

}

.chapo {
	line-height: 1.4em;
	margin-top: 1em;
}
.texte {
}
.ps {
	padding-top: 0.6em;
	margin-top: 0.6em;
	border-top: 1px dashed #404040;
}
.notes {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	border-top: 1px solid #a0a0a0;
	padding: 1.5em;
}


/* Barre de menu */
.tab_menu { 
BORDER-BOTTOM: black 1px solid; 
BORDER-TOP: #333333 1px solid;
width: 750px; 
background-color: #FFFFFF;
}




/*-------------------------------- Police générale et couleur de fond ----------------------------------------- */

body, td, p , .h5 {
font-family: Verdana, Arial, Helvetica, sans-serif; color: #000000
}


body {	
font-size: 60%; background-color: #EDEBEB
}

/*----------------------- Fond de l'entete (logo + recherche + menu horizontal) ------------------------*/
.entete .bande {
background: url(fonddroit.gif) repeat-y left; 
/*background-color: #FFCC99;*/
}

.entete .recherche {color: #ffffff;}

.entete .recherche a:link {color:#ffffff;text-decoration:none;}
.entete .recherche  a:visited {color:#ffffff;text-decoration:none;} 
.entete .recherche  a:hover {color:#3CB371;text-decoration:none;}



.menu-prog {


/*background-color: #000000;*/
background: url(fondgauche.gif) repeat-y left;

}

.menu-prog .bouton{
/*BACKGROUND-COLOR: #FFE377;*/
BORDER: #FB843C 1px dashed 
}


.maj {color:#FFD700;text-decoration:none;}



a.bouton{
text-decoration: none;
font-weight: bold;
font-size: 100%;

  text-align: center;
 letter-spacing: 1px
  margin:2px;
  padding: 5px;
 /*  height:25px;*/
  width: 200px;
background-image: url("images/perlsep.gif") ; 
background-repeat: no-repeat ;  
background-position: left;
}

a.bouton:hover {
width: 200px;
background-image: url("images/perlsep.gif") ; 
background-repeat: no-repeat ;  
background-position: left;
}
        

a.grison, a.grison_actif, a.gris {
text-align: center;MARGIN: 1px; color:#ffffff font-weight: bold; letter-spacing: 1px; cursor: hand
}
.gris {
PADDING-BOTTOM: 4px;
PADDING-LEFT: 4px;
PADDING-RIGHT: 4px;
PADDING-TOP: 4px
}

.fondgrison { COLOR:#4085cd;
}

           

/*
 * Habillage des menus et de la navigation
 */
 
}
acronym
{
	cursor : help;
}

.menu {
	border: 1px solid #a0a0a0;
	border-top: 0px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 16px;
}

.box {
	border: 1px solid #a0a0a0;
	padding: 5px;
	margin: 10px;
	/*margin-bottom: 16px;*/
}

.menu ul {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 4px;
	list-style: none;
}
.menu ol {
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 4px;
	list-style: none;
}
.menu-titre {
	border-top: 1px solid #a0a0a0;
	border-bottom: 1px dashed #d0d0d0;
	margin: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-size: 90%;
}
.menu-item {
	margin: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 80%;
}

/* Des couleurs specifiques selon les types de menus */

.general		{ background-color: #f8f8e8; text-align:center; }
.general .menu-titre 	{ background-color: #fcfcf0; }

.rubriques 		{ background-color: #f2f2f2; text-align:center; }
.vert 		{ background-color: #eaffea;  }
.rubriques .menu-titre,.rubriques .menu-titre	{ background-color:   #999999; 
color:#ffffff ;font-weight: bold; letter-spacing: 1px; }

.breves 		{ background-color: #ffeaea; }
.breves .menu-titre	{ background-color: #fff2f2; text-align:center; }

.images 		{ background-color: #ffeaea; }
.images .menu-titre 	{ background-color: #fff2f2; text-align:center; }
.images .menu-item 	{ text-align:center; }

.divers 		{ background-color: #eaeaff; }
.divers .menu-titre	{ background-color: #f2f2ff; text-align:center; }

.forums 		{ background-color: #e8f8f8; }
.forums .menu-titre	{ background-color: #f0fcfc; text-align:center; }


/*
 * Styles pour le contenu (c-a-d. la colonne principale)
 */

.contenu {
	margin: 15px;
}
.contenu h2.titre-extrait {
}
.contenu h2.titre-texte {
}
.contenu .surtitre {
	margin-top: 0em;
	margin-bottom: 0em;
}
.contenu .detail {
	margin-left: 2em;
}
.contenu .detail .important {
	color: #a02020;
}
.extrait {
	margin: 0.1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 2em;
	margin-right: 0.1em;
	line-height: 1.4em;
}
.liste-articles {
	margin-top: 1em;
	margin-bottom: 1em;
	clear: left;
}
.contenu .forum-repondre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 90%;
	font-weight: bold;
	margin-top: 0.6em;
}


/*
 * Disposition a l'ecran : colonnes, encarts, cartouches
 */

#home{
      width:720px ;
	float: left;
	padding: 10px;
	margin-left: 0%;
	

}


#principal {
	padding: 10px;
	margin-right: 30%;
	margin-left: 0%;
	

}

#navigation {
	width: 25%;
	float: right;
	padding: 10px;
    margin-right: 5 %;
}



.image_entete{
/*background-image: url("images/route_verte2.jpg") ; 
background-repeat: no-repeat ;  
background-position: right;*/
}



/*---------------------- l'entete du site--------------------------- */
#entete {width:100%;margin:0px;padding:0px;}

#entete .bande {height:70px;background: url(bande.jpg) no-repeat left;}
#entete .recherche {float:right;height:30px;;}

/*-----------------------le menu programmable------------------------*/
#menu-prog {width:100%;height: 20px;}

#menu-prog .bouton{background:#336699;width:13%;padding:1px;border:1px solid #ffffff;float:left;
text-align:center;font-size:12px;font-weight:bold;}

#menu-prog a:link {color:#ffffff;text-decoration:none;}
#menu-prog a:visited {color:#ffffff;text-decoration:none;} 
#menu-prog a:hover {background:#ffffff;color:#336699;text-decoration:none;border:1px solid #C377B5;}



#pied{
 position: relative;
  left:0;
  bottom:0;
  text-align:center;
  clear: both;

}

.spacer {
	clear: both;
	}

#plan {
	position: absolute;
	left: 2em;
	top: 0px;
	margin: 0px;
	padding: 0px;
	margin-right: 2em;
	margin-top: 2em;
}

.encart {
	float: right;
	/*width: 14em;*/
	width: 34%;
	margin-left: 4%;
	/*margin-left: 2em;*/
	margin-top: 1em;
	margin-bottom: 0em;
	margin-right: 0px;
}

.rubrique_flottantes{
	float: left;
	/*width: 14em;*/
	width: 18%;
	border: 1px dashed #a0a0a0;
	padding: 5px ;
	margin-left: 1em;
	margin-top: 1em;
	margin-bottom: 0em;
	
}
.conteneur {
  width: 100%;
}


.cartouche {
	padding-top: 1em;
	border-top: 2px solid #404040;
	margin-bottom: 0em;
}

.cartouche .spip_logos {
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0.8em;
}


/*
 * Habillage du plan du site
 */

.plan-secteur {
	margin-top: 0em;
	margin-bottom: 3em;
	clear: right;
}

.plan-secteur h1 {
	display: block;
	border: 1px solid #a0a0a0;
	margin: 0px;
	padding: 8px;
	font-size: 150%;
	font-weight: bold;
	background-color: #e0ffe0;
	text-align:center;
}
.plan-rubriques {
	clear: left;
	display: block;
	list-style: none;
}
.plan-rubrique {
	display: inline;
	border: 1px solid #a0a0a0;
	padding: 3px;
	font-weight: bold;
}
.plan-articles {
	clear: left;
	margin-top: 0.5em;
	margin-bottom: 1em;
	list-style: square;
}

/* Eclaircissement progressif des rubriques en fonction de la profondeur */

ul .plan-rubrique {
	background-color: #e0ffe0;
	border-color: #b8b8b8;
}
ul ul .plan-rubrique {
	background-color: #eaffea;
	border-color: #d0d0d0;
}
ul ul ul .plan-rubrique {
	background-color: #f4fff4;
	border-color: #e8e8e8;
}


/*
 * Habillage des forums
 */

ul.forum-total {
	display: block;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.forum-fil {
	margin-top: 3em;
}
.forum-fil ul {
	display: block;
	margin: 0px;
	margin-left: 2em;
	padding: 0px;
	list-style: none;
}
.forum-titre {
	font-weight: bold;
	font-size: 120%;
}
.forum-item {
	margin: 0px;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0em;
	text-align: justify;
	color: #303030;
	font-size: 80%;
}
.forum-repondre-message {
	text-align: right;
}

/* Boite d'un forum : eclaircissement progressif des bords */

ul .forum {
	border: 1px solid #909090;
	padding: 0px;
	margin: 0px;
	margin-bottom: 1em;
}
ul ul .forum {
	border: 1px solid #a4a4a4;
}
ul ul ul .forum {
	border: 1px solid #b8b8b8;
}
ul ul ul ul .forum {
	border: 1px solid #cccccc;
}
ul ul ul ul ul .forum {
	border: 1px solid #e0e0e0;
}
ul ul ul ul ul ul .forum {
	border: 1px dashed #e0e0e0;
}

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */

ul .forum-chapo {
	border: 0px;
	border-bottom: 1px dashed #b8b8b8;
	margin: 0px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-size: 90%;
	background: #c4e0e0;
}
ul ul .forum-chapo {
	background: #d4e8e8;
}
ul ul ul .forum-chapo {
	background: #e4f0f0;
}
ul ul ul ul .forum-chapo {
	background: #f4f8f8;
}
ul ul ul ul ul .forum-chapo {
	background: #ffffff;
}


/*
 * Habillage des petitions
 */

.signatures {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 100%;
}
.signatures td {
	-moz-border-radius: 0.4em;
}
.signatures-titre {
	clear: right;
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding: 0.5em;
	margin: 0px;
}
.signature-date {
	white-space: nowrap;
	background: #e4f0f0;
	padding: 0.5em;
}
.signature-nom {
	font-weight: bold;
	background: #ecf4f4;
	padding: 0.2em;
	text-align: center;
}
.signature-message {
	font-size: 85%;
	background: #f4f8f8;
	padding: 0.4em;
	text-align: justify;
}


/*
 * Formulaires
 */

.formrecherche {
	background-color: #f2f2f2;
	color: #505030;
	margin: 0px;
	padding: 2px;
	border: solid 1px #909090;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: normal;
}

.formulaire {
	color: black;
	margin: 0px;
	margin-bottom: 16px;
	padding: 4px;
	border: 1px solid #a0a0a0;
	background-color: #f6f6f6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: normal;
}
.forml {
	background-color: #ececec;
	margin: 4px;
	padding: 1px;
	border: dashed 1px #909090;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
}
.spip_bouton {
	border: 2px solid #404040;
	padding: 3px;
	background: #d0d0d0;
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
}
.spip-admin {
	position: fixed;
	top: 0px;
	font-size: 90%;
	padding: 2px;
	line-height: 1.4em;
}
