<plugin>
  <nom><multi>
  [fr]Squelettes Infinity
  </multi></nom>
	<auteur>[yichi & Smashing Magazine->http://www.smashingmagazine.com/2008/08/08/infinity-a-free-wordpress-theme/], Teddy Payet</auteur>
	<version>1.1</version>
	<description><multi>
	[fr]Infinity est un squelette &agrave; 3 colonnes fixes, des articles pr&eacute;sent&eacute;s en vignette, l'int&eacute;gration de Twitter et Delicious. Le th&egrave;me original a &eacute;t&eacute; r&eacute;alis&eacute; par Zhang yishi pour Smashing Magazine. Avec leurs autorisations, le th&egrave;me a &eacute;t&eacute; port&eacute; sous forme de squelettes pour SPIP.
	</multi></description>
	<icon>images/vignette.png</icon>
	<etat>stable</etat>
  <licence>Creative Commons CC BY-SA</licence>
  <prefix>infinity</prefix>
	<necessite id="Z" version="[1.7.9;]" />
	<necessite id="cfg" version="[1.16.0;]" />
	<necessite id="menus" version="[0.8.3;]" />
	<utilise id="nuage" version="[1.5.1;]" />
	<utilise id="comments" version="[2.1.4;]" />
	<categorie>squelettes</categorie>
</plugin>