<plugin>
	<nom><!-- Nom du plugin -->
		Alternatives - Syndication affichage unilingue
	</nom>
	<auteur>
		[Andr&#233; Vincent->http://andre-vincent.info] - &#169; 2007 - Licence GNU/GPL   
	</auteur>
	<version>
		1.9.2
	</version>
	<etat>
		stable
	</etat>
	<description>
    <multi>
    	Activate this plugin to modify, on the Home page, the display of RSS feeds.
    	This configuration displays only RSS feeds available in the language of the context. So, in English, only RSS feeds in english sections are displayed.
	[fr]
		Activez ce plugin pour modifier en page d'accueil l'affichage des fils de syndication RSS.
		Cette configuration affiche uniquement les fils de syndication des rubriques de la langue du contexte. Ainsi, en fran&#231;ais, seuls les articles des fils RSS des rubriques fran&#231;aises seront affich&#233;es.
    </multi>
	</description>
	<lien>
		[Documentation->www.stages.alternatives.ca/article286.html]
	</lien>
	 <prefix>alter-syndication-mono</prefix>
	 <categorie>squelette</categorie>
</plugin>