/* ========================================
      Le bloc central de la page sommaire
   ========================================*/


/***********/
/* onglets */
/***********/

ul.onglets {
	padding: 0px;
	margin: 5px 0 4px 0px;
	text-align: left;
}
ul.onglets li {
	list-style: none;
	display: inline;
}
ul.onglets li a {
	padding: 5px 14px 5px 14px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	border-radius: 8px 8px 0px 0px;
}
ul.onglets li a.active {
	cursor: default;
	outline: none;
}
.contenu {
	padding: 10px;
}
/* autres onglets */
.contenu_2, .contenu_3, .contenu_4, .contenu_5, .contenu_6, .contenu_7, .contenu_8, .contenu_9, .contenu_10 {
	display: none;
}
/********************************/
/* Articles de la page sommaire */
/********************************/
.laune .spip_logos {
	float: left;
	margin-right: 5px;
}
/* cadre */
.laune {
	padding: 10px;
	text-align: left;
	overflow: hidden;
}
/* article a la une */
.laune .fragment {
	margin-top: 10px;
	padding: 0;
}
.laune .titre {
	font-size: 20px;
	margin: 0 0 0 60px;
}
.laune .rubrique {
	font-size: 12px;
	margin: 5px 5px 5px 60px;
}
.laune .image-une{
  float: right;
  margin: 30px 0 0 10px;
}
.laune .texte {
	font-size: 12px;
	margin: 20px 20px 20px 5px;
	border: 0;
	text-align: justify;
}
.laune .texte a {
	font-size: 14px;
	float: right;
}
/* autres articles recents */
.laune .titre-autres {
	font-size: 11px;
	font-weight: bold;
	margin-left: 5px;
}
.laune .rubrique-autres {
	font-size: 10px;
	margin-left: 10px;
}
.laune ul.anchors {
	list-style: none;
	margin: 0;
	padding: 0;
}
.laune ul.anchors li a {
	margin: 0px 10px 10px 0;
	display: block;
	height: 45px;
	border-radius: 5px;
}
.laune ul.anchors .tabs-selected {
	display: none;
}
.anchors li {
	float: left;
	margin: 0;
}
@media projection, screen {
.tabs-hide {
	display: none;
}
}

/* styles importants  pour l'impression */
@media print {
.anchors {
	display: none;
}
}
/***************************/
/* la page du plan du site */
/***************************/
#cadre-plan {
	padding: 5px;
	text-align: left;
}
#cadre-plan img {
	float: left;
}
.titre-secteur {
	padding: 15px 0 0 0;
	margin-left: 50px;
	font-size: 16px;
	font-weight: bold;
}
.plan-rubrique {
	font-size: 14px;
	list-style-type: square;
	margin: 0 0 5px 0;
	font-weight: bold;
}
.plan-article {
	font-size: 12px;
	list-style-type: disc;
	font-weight: normal;
}