/* ======================================================================
                          LES COULEURS   (pour tout le site)
   ======================================================================*/

/* les fonds */
/*************/
/* gris */
/* calendrier, forum  */
body,
.calendar_not_this_month,
#ariane-forum, table.forum tr.rub-forum,
#forum-site .texte {
	background-color: #DFDFDF;
}
/* un gris tres fonce */
/* agenda */
a.calendrier-annee, .calendrier-jour {
	background-color: #AAAAAA;
}

/* blanc */
/* fond des pages, forum, agenda */
div#conteneur, #cadre-article,
table #nav-agenda, a.calendrier-annee:hover, .calendrier-agenda, a:hover .calendrier-verdana10 span.survol, .calendrier-jour,
.valeur2, .valeur2,
table.forum {
	background-color: #FFFFFF;
}

/* bleu fonce de base */
/* menu horizontal, bloc a la une et onglet actif, encart des entetes pour les rubriques et les articles, plan, forum  */
div#entete, #cadre-rubrique, #cadre-titre-article,
ul.onglets li a.active, .laune,
#cadre-plan, table.forum th,
#menu, ul#menu ul, #menuV2 ul.menulist a:hover, #menuV2 ul.menulist li.smenu:hover,
#menuV2 ul.menulist li.smenu>a:hover{
	background-color: #336699;
}
/* bleu tres fonce */
/* survol des entrees du menu et des articles du bloc a la une */
.laune ul.anchors li a:hover, #menu li:hover > a, ul#menu ul li:hover {
	background-color: #224466;
}
/* bleu clair */
/* menu vertical 2, titre et bords cadres lateraux, onglets a la une inactifs, entete tableaux, calendrier, evenements, ...  */
.identification:hover, .formulaire_recherche input.text:hover,
table.spip tr.row_first,
#menuV2 ul.menulist, #menuV2 ul.menulist ul,
.titre-message,
#formulaire_forum div, .formulaire_spip.formulaire_forum, .small_mini,
.calendar_head_mini, #entete-evenement, #nouvel-evenement,ul.onglets li a{
  background-color: #82ADE2;
}

/* gris-bleu tres clair */
/* identification, recherche, formulaire contact, tableaux lignes impaires, portfolio, post-scriptum, forum, calendrier, agenda ...  */
.identification, .formulaire_recherche input.text,
table.spip tr.row_even, table.forum tr.art-forum,
#formulaire-contact,
.calendar_this_month, .calendrier-td,
#cadre-telechargement, #ps,
.forum_reponse .titre-message, #formulaire_forum input.barre,
#signatures li {
	background-color: #EFEFEF;
}

/* un autre bleu */
/* rubrique active du menu horizontal, tableaux lignes impaires, previsualisation des forum, calendrier... */
ul#menu li a.on,
#formulaire_forum div#previsu, #formulaire_forum div#previsu .forum-message, #formulaire_forum div#previsu .forum-chapo,
.calendar_this_day,
table.spip tr.row_odd  {
	background-color: #BBCCDD;
}
/* encore un bleu */
/* articles bloc a la une, agenda  */
div.navigation-calendrier,
.laune ul.anchors li a {
	background-color: #C1D6FA;
}

/* orange */
/* annonce en une, surlignage recherche */
.annonce, .calendar_mini_event, .spip_surligne {
	background-color: #EC7942;
}

/* les caracteres */
/******************/
#cadre-article,
.identification a,
table.spip tr.row_first,
ul.onglets li a, .laune .fragment, .laune ul.anchors li a,
#menuV2 ul.menulist a,
.valeur2, .valeur3,
.calendar_this_day, a.calendrier-annee:hover, .calendrier-helvetica16, .calendrier-evenement a,
#forum-site .descriptif, #forum-site .texte, ul#menu li a.on{
	color: #000000;
}

#cadre-rubrique, #cadre-rubrique a:hover, #cadre-titre-article a:hover, #cadre-titre-article,
ul.onglets li a.active, ul.onglets li a.active:hover, .laune, .laune .fragment a, #cadre-plan a,
.laune .titre, .laune .rubrique, .laune .texte, .laune ul.anchors li a:hover,
ul#menu li a, ul#menu ul a:hover, #menuV2 ul.menulist a:hover,
.calendar_head_mini, .calendar_not_this_month, .calendar_this_month a.calendar_mini_event,
div.navigation-calendrier, a.calendrier-annee, .calendrier-cadreagenda,
table.forum th, table.forum tr.art-forum td.logo1, table.forum tr.art-forum td.sujet1,
.annonce, .spip_surligne {
	color: #FFFFFF;
}

#formulaire_forum input.barre,
.texte-retour1, .texte-retour2,
a:hover .calendrier-verdana10 span.survol {
	color: #333333;
}

#cadre-rubrique a, #cadre-titre-article a,
.small_mini, .calendrier-jour {
	color: #AAAAAA;
}

a:link, a:visited {
	color: #000099;
}

a:hover, ul.onglets li a:hover,
#ariane-forum, #ariane-forum a,
table a:link, table a:visited,
table.forum tr.rub-forum td, table.forum a, table.forum tr.art-forum td  {
	color: #336699;
}

.caractencadre-spip, .alerte {
	color: #FF0000;
}

#cadre-plan a:hover, table.forum a:hover{
	color: #FF8000;
}

/* les bordures */
/****************/

table.spip, table.spip td {
	border-color: #000000;
}

#menuV2 ul.menulist li {
	border-color: #FFFFFF;
}

.cadre-articles-rubrique, .cadre-sous-rubrique, #cadre-article, #cadre-telechargement,
ul#menu li a, ul#menu ul,
.forum-thread, .forum_reponse,
#formulaire-contact, .valeur2, .valeur3,
#signatures li, #signatures li p.message,
.calendrier-heurepile {
	border-color: #CCCCCC;
}

.identification,
ul#menu li a:hover,
.calendar_mini_event  {
	border-color: #666666;
}

#ariane-forum, table.forum {
	border-color: #006699;
}

a:hover .calendrier-verdana10 span.survol {
	border-color: #15A6F7;
}


/*********************************************/
/*    Les cadres latéraux                    */
/*********************************************/
div.cadre-vert h1.cadre {
	background-color: #A7D37F;
}
div.cadre-vert .texte {
	background-color: #DCEECC;
	border-color: #A7D37F;
}
div.cadre-rouge h1.cadre {
	background-color: #EE9D90;
}
div.cadre-rouge .texte {
	background-color: #F8D8D3;
	border-color: #EE9D90;
}
div.cadre-bleu h1.cadre {
	background-color: #82ADE2;
}
div.cadre-bleu .texte {
	background-color: #DAE6F6;
	border-color: #82ADE2;
}
div.cadre-jaune h1.cadre {
	background-color: #F9E95D;
}
div.cadre-jaune .texte {
	background-color: #FDF6B9;
	border-color: #F9E95D;
}
div.cadre-gris h1.cadre {
	background-color: #c1c1c1;
}
div.cadre-gris .texte {
	background-color: #e9e9e9;
	border-color: #C1C1C1;
}
div.cadre-marron h1.cadre {
	background-color: #ECA742;
}
div.cadre-marron .texte {
	background-color: #F5CE94;
	border-color: #ECA742;
}

/***************************************/
/* personnalisation du plugin galleria */
/***************************************/
.galleria-container {
	background-color: #FFFFFF;
}
.galleria-info-link, .galleria-info-text,
.galleria-thumb-nav-left,  .galleria-thumb-nav-right {
	background-color: #336699;
}
.galleria-info-title {
	font-size: 14px;
}
.galleria-info-description {
	color: #ffffff;
}