/* ======================================================================
  ======================================================================
        Styles généraux sauf pour
          - le menu (voir menu.css)
          - le bloc central de la page d'accueil (voir alaune.css)
          - la page agenda (voir agenda.css)
          - le forum (voir forum.css)
          - les couleurs (voir couleurs.css)
  ======================================================================
   ======================================================================*/
html, body {
	margin: 0;
	padding: 0;
}
html {
	overflow-y: scroll;
}
body {
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}
div#contenu {
	padding: 0px 10px 0px 10px;
}
div#navigation, div#contenu, div#extra {
	margin-bottom: 10px;
}
#ombre-gauche {
	background: url(../images/ombre-gauche.gif) repeat-y scroll left center;
	margin: 0 auto;
	width: 984px;
}
#ombre-droite {
	background: url(../images/ombre-droite.gif) repeat-y scroll right center;
	width: 984px;
}

/* ======================================================================
                          LE RESTE
   ======================================================================*/
/* les liens */
a {
	text-decoration: none;
}
a.spip_out {
	padding-right: 14px;
	background: transparent url(../images/spip_out.gif) no-repeat scroll right center;
}
a.spip_mail{
	padding-right: 18px;
	background: transparent url(../images/mail.gif) no-repeat scroll right center;
}
/* les images */
img {
	margin: 0;
	padding: 0;
	border: none;
}
.spip_documents {
	text-align: center;
}
.spip_documents_center {
	width: 100%;
	margin: auto;
	display: block;
}
.spip_documents_left {
	float: left;
	margin: 2px 30px 2px auto;
}
.spip_documents_right {
	float: right;
	margin: 10px 20px 10px 15px;
}
.spip_doc_titre {
	font-weight: bold;
	font-size: 1em;
	margin: auto;
}
.spip_doc_descriptif {
	clear: both;
	font-size: 0.8em;
	margin: auto;
}
.imageforum img {
	margin: auto;
	display: block;
}
/* les encadres */
.texteencadre-spip {
	width: 80%;
	margin: auto;
}
/* pour retrouver le flux normal d'affichage */
.nettoyeur {
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	height: 0;
	line-height: 1px;
	font-size: 1px;
	visibility: hidden;
}
#espace {
	clear: both;
	height: 50px;
}
#formulaire-auteur{
  text-align: left;
}

/**************/
/* le bandeau */
/**************/
div#entete {
	position: relative;
}
div#bandeau {
	text-align: left;
	font-size: 0.1px;
/*pour virer la marge autour des images*/
}
div#bandeau img {
	display: block;
/*pour supprimer l'espace sous les images avec IE */
	float: left;
/*pour récupérer l'alignement des images après display: block */
}
#titrepage {
	position: absolute;
	top: 25px;
	left: 350px;
}
/***********/
/* le pied */
/***********/
#pied {
	font-size: 10px;
	padding: 5px 0;
}
#pied img {
	margin: 0 10px 0 10px;
}
#credits {
	float: right;
	margin: -40px 5px 0 0;
}
/**************************************************************/
/* habillage des cadres de couleur communs a toutes les pages */
/**************************************************************/
h1.cadre {
	padding: 8px 0;
	font-weight: bold;
	font-size: 11px;
	margin: 0;
  border-radius: 0px 50px 0px 0px;
}
h1.cadre img {
	margin: -35px 0 0 -15px;
	float: left;
	z-index: 100;
}
h1.a-droite img{
	margin: -35px -15px 0 -15px;
	float: right;
}
div.texte {
	font-size: 11px;
	text-align: left;
	padding: 5px 5px 10px 5px;
	border-width: 0 2px 2px 1px;
	border-style: solid;
	margin: 0 0 25px 0;
	border-radius: 0px 0px 0px 10px / 0px 0px 0px 100px;
}
div.texte .spip_logos {
	float: left;
}
.sans-bord .texte {
	border: none;
}
.sans-fond .texte {
	background-color: transparent !important;
}
/***********************************************/
/* habillage spécifiques à certaines noisettes */
/***********************************************/

/* identification light */
/************************/
.identification {
	float: left;
	margin: 5px;
	border-width: 2px;
	border-style: inset;
	border-radius: 10px;
}
.identification a {
	font-size: 11px;
	padding: 3px;
}
/* formulaire recherche */
/************************/
#formulaire_recherche {
	float: right;
}
.formulaire_recherche label {
	font-size: 12px;
}
.formulaire_recherche input.text {
	padding-left: 25px;
	width: 100px;
	background: url(../images/loupe.gif) no-repeat;
	border-radius: 10px;
}
/* noisette inc-identification */
/*******************************/
.formulaire_login .spip_logos {
	float: right;
}
#formulaire_login ul li {
	list-style: none;
	margin-left: -40px;
	margin-top: 10px;
}
#var_login {
	width: 140px;
}
#password {
	width: 140px;
}
.choix {
	font-size: 10px
}
.formulaire_login .boutons {
	text-align: center;
}
div#liensilogue a {
	display: block;
	text-align: center;
	margin: 5px 0 5px 0;
	font-weight: bold;
}
/* drapeaux du menu de langues */
/*******************************/
#drapeau{
  float: right;
  margin : 0 50px 0 0;
}
#langue{
  float: left;
  margin : 0 20px 0 0;
}
/* noisette inc-acces_direct */
/*****************************/
.texte#acces-direct {
	font-size: 12px;
	font-weight: bold;
	padding-left: 20px;
}
/* noisette inc-evenements */
/***************************/
.texte#evenements ul {
	padding-left: 10px;
	margin: 0;
}
.texte#evenements li {
	font-size: 11px;
	font-weight: bold;
	list-style: none;
	margin-bottom: 10px;
}
.texte#evenements li a {
	font-size: 12px;
	font-weight: bold;
	display: block;
	padding-left: 20px;
}
/* noisette inc-nav_mots */
/*************************/
.titre-groupe{
	margin: 5px 0px 5px 5px;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}
.texte#navmots  a {
	font-size: 10px;
	display: block;
	padding-left: 20px;
	margin-bottom: 3px;
}
/* noisette inc-stats */
/**********************/
.texte#stats ul {
	padding-left: 10px;
	margin: 0;
}
.texte#stats li {
	font-size: 11px;
	list-style: none;
	margin-bottom: 10px;
}
.texte#stats li .detail {
	font-size: 10px;
	font-weight: bold;
	display: block;
	padding-left: 20px;
}
/* noisette inc-top */
/********************/
.texte#top5 ul {
	padding-left: 10px;
	margin: 0;
}
.texte#top5 li {
	list-style: none;
	margin-bottom: 5px;
}
.texte#top5 li a {
	font-size: 11px;
	font-weight: bold;
}
.popularite {
	margin-left: 80px;
}
/* cadre sur le web */
/********************/
.titre-site {
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0 5px 5px;
}
.descriptif-site {
	font-size: 10px;
	margin: 0px 5px 5px 10px;
}
.texte#sites li {
	margin: 0 0 2px -20px;
	font-size: 10px;
	list-style: square;
}
/* noisette inc-actus */
/**********************/
#scrollup {
	position: relative;
	overflow: hidden;
	height: 100px;
}
.headline {
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	top: 103px;
}
.intro{
  font-size: 10px;
  font-weight: normal;
}
/* noisette inc-photos */
/***********************/
#scrollup2 {
	position: relative;
	overflow: hidden;
	height: 140px;
  margin: auto;
  width: 170px;
}
.headline2 {
	position: absolute;
	top: 140px;
}
/* encart annonce a la une */
/***************************/
.annonce {
	font-size: 14px;
	padding: 10px;
	margin: 0 0 15px 0;
	border-radius: 15px;
	text-align: left;
}
.annonce p {
	margin: 0;
}
/***************************************************/
/* les styles communs aux pages rubrique et article */
/****************************************************/
.cadre-chemin {
	text-align: left;
	font-size: 10px;
	margin: 0px 0px 10px 0px;
	padding: 0 5px;
}
.cadre-chemin img {
	margin: 0 2px 0 4px;
}
/* 2 styles specifiques pour les cadres "derniers articles" et "meme rubriques" */
.titre-article-cadre {
	margin: 0px 0px 5px 5px;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}
.date-auteur-cadre {
	margin: 0 5px 15px 20px;
}
/********************/
/* la page rubrique */
/********************/
#cadre-rubrique {
	padding: 5px;
}
.logorub {
	position: relative;
	float: left;
	margin: 0px 10px 0px 10px;
}
#titre-rubrique {
	text-align: left;
	font-size: 18px;
	font-family: Tahoma;
}
#descriptif-rubrique {
	font-size: 14px;
}
#texte-rubrique {
	font-size: 12px;
}
.texte-insert {
	font-size: 12px;
	margin: 10px 0 0 0;
	font-weight: bold;
	font-style: italic;
}
.cadre-articles-rubrique {
	border-width: 2px;
	border-style: solid;
	text-align: left;
	font-size: 12px;
	margin: 5px 0px 10px 10px;
	padding: 0 5px;
}
.titre-articles-rubrique {
	font-size: 12px;
	font-weight: bold;
	margin-top: 15px;
}
.introduction-articles-rubrique {
	font-size: 12px;
	margin: 20px 0px 10px 25px;
}
.introduction-articles-rubrique a {
	font-size: 12px;
	float: right;
}
.auteur-articles-rubrique {
	text-align: right;
	font-size: 10px;
	margin: 5px;
}
.cadre-sous-rubrique {
	border-width: 1px;
	border-style: solid;
	text-align: left;
	font-size: 12px;
	margin: 5px 0px 10px 20px;
	padding: 0 5px;
}
.titre-sous-rubrique {
	font-size: 14px;
	font-weight: bold;
	margin: 5px 0 10px 5px;
}
.descriptif-sous-rubrique {
	font-size: 12px;
	margin: 0px 25px 5px 25px;
}
.nombre-articles-rubrique {
	text-align: right;
	font-size: 10px;
	margin: 0 5px 5px 5px;
}
.titre-site {
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0 5px 5px;
}
.descriptif-site {
	font-size: 10px;
	margin: 0px 5px 5px 10px;
}
/*******************/
/* la page article */
/*******************/
#cadre-titre-article {
	padding: 5px;
}
#cadre-article {
	border-width: 1px;
	border-style: solid;
}
#titre-article {
	text-align: left;
	font-size: 18px;
	font-family: Tahoma;
}
#descriptif-article {
	font-size: 14px;
	margin: 0px 5px 0 10px;
}
#auteur-article {
	text-align: right;
	font-size: 10px;
	margin: 5px;
}
#imprime-article {
	font-size: 10px;
	margin: 0 0 15px 10px;
	text-align: left;
}
#imprime-article img {
	vertical-align: middle;
}
#traductions-article {
  font-size: 10px;
}
#traductions-article ul{
  margin: 0;
  padding: 0;
}
#traductions-article li{
  display: inline;
  list-style: none;
}
#chapo{
  font-style: italic;
}
#texte-article {
	text-align: justify;
	font-size: 12px;
	margin: 0px 5px;
	line-height: 140%;
}
 #texte-article p{
  text-indent: 1.5em;
}

#augmenter {
	height: 24px;
	width: 24px;
	border: 0;
	float: right;
	margin: 5px;
}
#diminuer {
	height: 24px;
	width: 24px;
	border: 0;
	float: right;
	margin: 5px;
}

#notes {
	padding: 0 0 0 10px;
	font-size: 10px;
}
#ps {
	padding: 10px;
	font-size: 12px;
	text-align: left;
	line-height: 140%;
}
#site {
	padding: 10px 5px 10px 20px;
	font-size: 12px;
}
#cadre-telechargement {
	border-width: 1px;
	border-style: solid;
	text-align: left;
	font-size: 10px;
	margin: 10px;
}
#cadre-telechargement td {
	width: 280px;
}
.titre-doc {
	font-size: 12px;
	font-weight: bold;
}
.texte-doc {
	font-size: 10px;
	text-align: left;
	margin: 5px;
}
.texte-doc ul {
	list-style-type: none;
}
#cadre-telechargement ul {
	margin: 10px 5px 5px 0;
	padding: 0;
}
#cadre-telechargement ul li {
	font-size: 10px;
	margin: 0 0 0 10px;
}
#cadre-telechargement .spip_logos {
	float: left;
	margin-right: 5px;
}
#haut {
	font-size: 10px;
	text-align: right;
}
#haut2 {
	font-size: 10px;
	text-align: right;
	margin : 0 200px;
}
#haut a:after, #haut2 a:after {
   content: "\0000a0\2934";
   font-weight: bold;
   font-size:14px;
}

/**********************************/
/* les tableaux dans les articles */
/**********************************/
table.spip {
	margin: 5px auto 20px auto;
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	font-size: 12px;
}
table.spip td {
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
}
table.spip caption {
	font-weight: bold;
	font-size: 14px;
}
table.spip tr.row_first {
	text-align: center;
}
/***************************/
/* les forums des articles */
/***************************/
#forum-article {
	text-align: left;
	font-size: 12px;
	margin: 0px 5px;
}
#forum-article img#forum {
	float: left;
}
#repondre-article {
	font-size: 14px;
	margin: 0 0 20px 40px;
}
#repondre-article img {
	margin-right: 10px;
}
.forum-thread {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	margin: 20px 0 0 0;
	text-align: left;
}
.titre-message {
	padding: 5px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
}
.auteur-message {
	font-size: 12px;
	font-weight: normal;
	float: right;
}
.texte-message {
	margin: 5px 5px 5px 20px;
	text-align: left;
	font-size: 12px;
}
.reponse {
	text-align: right;
}
.reponse a {
	font-size: 12px;
	font-weight: normal;
}
.decal-reponse {
	margin-left: 10px;
}
.forum_reponse {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}
/* les citations */
blockquote.spip {
	border-left: 0.3em solid;
	margin: 2em 0;
	padding-left: 1em;
}
/******************************/
/* les pages forum et message */
/******************************/
#cadre-titre-article h1 {
	text-align: center;
	font-size: 16px;
}
#formulaire_forum {
	text-align: left;
	font-size: 12px;
}

#formulaire_forum div#previsu li {
	list-style-type: none;
}
#formulaire_forum div#previsu li a {
	display: block;
}
#formulaire_forum ul {
	margin-left: -40px;
}
#formulaire_forum li {
	margin-bottom: 10px;
	list-style-type: none;
}
#formulaire_forum ul li label {
	font-weight: bold;
}
#formulaire_forum input.barre {
	font-size: 11px;
	width: 350px;
	border: 0;
}
/*******************/
/* la page contact */
/*******************/
#formulaire-contact {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	margin: 20px;
	font-size: 12px;
}
ul#item  li {
	list-style: none;
	text-align: left;
	margin-bottom: 10px;
}
ul#item ul li {
	margin: 0;
}
ul#item li .liste {
	float: left;
	width: 100px;
}
ul#item ul li input {
	display: inline;
	margin: 5px 5px 0 100px;
}
ul#item textarea {
	margin: -20px 0 0 100px;
}
ul#item li input#envoi {
	margin: 0px 0 0 150px;
}
.alerte {
	font-weight: bold;
}
.texte-retour1 {
	text-align: left;
}
.valeur1 {
	font-weight: bold;
}
.texte-retour2 {
	text-align: left;
}
.valeur2 {
	font-size: 14px;
	width: 50%;
	margin: auto;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}
.valeur3 {
	width: 80%;
	margin: auto;
	border-width: 1px;
	border-style: solid;
	padding: 5px;
	text-align: left;
}
/********************/
/* la page trombino */
/********************/ 
.pagination-trombino {
	text-align: center;
	margin: 10px;
}
.trombino td {
	vertical-align: top; 
}
.centrage {
	margin: 0 auto;
}
.ombre {
	float: left;
	background: url(../images/ombre.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px;
	padding: 0px;
}
.boite {
	position: relative;
	bottom: 8px;
	right: 8px;
}
.nom-photo {
	clear: both;
	font-size: 12px;
	font-weight: bold;
}
.adresse-photo {
	margin: 5px 0 5px 0;
	font-size: 10px;
	font-weight: bold;
}
.texte-photo {
	font-size: 10px;
	font-style: italic;
}
.texte-photo p.spip {
	margin: 0;
}
/********************/
/* la page annuaire */
/********************/
#signatures {
	text-align: left;
	text-indent: 0;
}
li.saisie_message textarea {
	width: 400px
}
#signatures li {
	border-width: 2px;
	border-style: solid;
	clear: both;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	min-height: 90px;
	padding: 0.8em 0.8em 0.8em 30px;
	list-style: none;
}
#signatures li h3 {
	font-size: 12px;
}
#signatures li p.url {
	font-size: 10px;
}
#signatures li p.message {
  border-width: 1px;
	border-style: solid;
	padding: 5px;
}
#signatures li img {
	display: block;
	float: right;
	margin-left: 1em;
	width: 130px;
}
#signatures li h3 {
	font-weight: bold;
}
.form-signature {
	border: 0;
	font-size: 11px;
	text-align: left;
	padding: 5px;
	margin: 0 0 20px 0;
}
.erreur_message{
  color: red;
}
/*****************************/
/* styles pour le calendrier */
/*****************************/
#mois {
	font-weight: bold;
	font-size: 10px;
	text-align: center;
}
.small_mini {
	font-size: 11px;
	text-align: center;
	border-width: 1px;
	border-style: solid;
}
.calendar_head_mini {
	text-align: center;
	font-size: 10px;
}
.calendar_this_day {
	font-weight: bold;
  border-width: 1px;
	border-style: solid;
}
.calendar_mini_event {
	display: block;
	border-width: 1px;
	border-style: solid;
}
#entete-evenement {
	margin-top: 10px;
	padding: 2px 0;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	border-radius: 8px 8px 0 0;
}
.liste-evenements {
	font-size: 9px;
	margin: 2px 0 2px 0;
}
#nouvel-evenement {
	padding: 1px 0;
	margin: 10px auto 10px auto;
	width: 80%;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	border-radius: 8px;
} 
/*************************/
/* adaptation de plugins */
/*************************/
/******************************/
/* galeries de photos "diapo" */
/******************************/
.diaporama {
	width: 520px;
	text-indent: 0px;
}
.diapo_vignettes_right {
	width: 200px;
}
.diapo_vignettes_left {
	width: 200px;
}
.diapo.diapo_petit {
	text-align: center;
	width: 300px;
}
/**********************/
/* lecteur multimédia */
/**********************/
.radiobox {
	margin: auto;
}
.citation {
	background: transparent;
	position: absolute;
	top: 40px;
	right: 69px;
	width: 200px;
	height: 125px;
	color: #aaaaaa;
	font-size: 14px;
	text-align: center;
}
.citation .auteur {
	font-style: italic;
	color: #bbbbbb;
	font-size: 12px;
}