<plugin>
	<nom> <!-- Nom du plugin -->
	Mini calendrier mensuel pour EVA
	</nom>
	<auteur>
    Olivier Gautier, &eacute;quipe de d&eacute;veloppement Eva-WEB.
    <br/>Cette <a href="http://purl.org/dc/dcmitype/InteractiveResource" rel="dc:type">cr&eacute;ation</a> est mise &agrave; disposition sous un <a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/">contrat Creative Commons</a>.
    <br />&nbsp;<br /><div style="text-align:center;"><a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/2.0/fr/88x31.png"/></a></div>
	</auteur>
	<version>
	1.0
	</version>
	<etat>
	stable
	</etat>
    <description>
    Insertion d'un mini-calendrier dans la page d'accueil d'EVA.<br />
    Les &eacute;v&egrave;nements sont inscrits dans le mini-calendrier en utilisant le mot cl&eacute; <strong>mini-calendrier</strong> et en leurs attribuant une date de r&eacute;daction ant&eacute;rieure correspondant &agrave; la date de l'&eacute;v&egrave;nement concern&eacute;.
    </description>
    <prefix>
    mini_calendrier
    </prefix> 
</plugin>
