<plugin>
	<nom>Mini calendrier mensuel pour EVA</nom>
	<slogan>Un mini-calendrier dans la page d&#8217;accueil d&#8217;EVA</slogan>
	<auteur>Olivier Gautier, &#233;quipe de d&#233;veloppement EVA-web</auteur>
	<licence>CC-BY v.2</licence>
	<lien>http://www.eva-web.edres74.ac-grenoble.fr/spip.php?article35</lien>
	<version>1.0.0</version>
	<etat>stable</etat>
	<description>
Les &#233;v&#232;nements sont inscrits dans le mini-calendrier en utilisant le mot cl&#233; <strong>mini-calendrier</strong> et en leurs attribuant une date de r&#233;daction ant&#233;rieure correspondant &#224; la date de l&#8217;&#233;v&#232;nement concern&#233;.
	</description>
	<prefix>mini_calendrier</prefix>
	<categorie>squelette</categorie>
	<necessite id="spip" version="[1.9.2;2.0.99]" /> 
</plugin>
