<plugin>
    <!-- Nom du plugin -->
    <nom> Vert2008 </nom>

    <!-- Auteur du plugin -->
    <auteur> Jacques Pyrat, Marc Héron, Kristof Leray _ &copy; 2007 - Distribu&#233; sous licence GNU/LGPL</auteur>
    <version> 0.1 </version>
    <etat>dev</etat>
    <icon></icon>
    <description> Configuration du squelette des verts</description>
    <!-- URI de documentation -->
    <lien>http://www.baupin2008.fr/</lien>

    <!-- précise le prefixe utilisé pour toutes les fonctions du plugin, en général le nom du plugin -->
    <prefix>Vert2008</prefix>

    <chemin dir='' />

</plugin>