<plugin>
  <nom>Eva Binettes</nom>
  <auteur>Sylvain Michel, Samuel Bocharel, Olivier Gautier, Equipe Eva-dev</auteur>
  <slogan>Binettes graphiques</slogan>
  <licence>GNU/GPL</licence>
  <lien>http://spip-edu.edres74.net</lien>
  <version>0.2</version>
  <etat>stable</etat>
  <description>
Voici la liste :
:-> Oh, diable !
:-(( En col&#232;re
:-)) Je rigole
:-D Je suis mort de rire
:-) Sourire
;-) Clin d&#8217;oeil
:&#8217;-) J&#8217;en ai la larme à l&#8217;oeil
:&#8217;-D Je pleure de rire
:o) Rigolo
B-) Des lunettes
:-p Tire la langue
:-| Bof
:-/ Mouais
:-o Surpris
:-O Tr&#232;s surpris
:-( Pas content
:&#8217;-( Triste
  </description>
  <prefix>evabinettes</prefix>
  <pipeline>
    <nom>pre_typo</nom>
    <action>pre_typo</action>
    <inclure>binettes.php</inclure>
  </pipeline>
  <pipeline>
        <nom>affiche_droite</nom>
        <action>AfficheDroite</action>
        <inclure>evabinettes_pipeline_droite.php</inclure>
  </pipeline>
  <necessite id="spip" version="[2.0.0;2.1.99]" />
  <categorie>squelette</categorie>
</plugin>
