<plugin>
  <nom>Eva Binettes</nom>
  <auteur>Sylvain Michel, Samuel Bocharel, Olivier Gautier, Equipe Eva-dev sous licence GNU/GPL</auteur>
  <lien>http://spip-edu.edres74.net et http://eva.tuxfamily.org</lien>
  <version>0.2</version>
  <etat>stable</etat>
  <description>
  Binettes graphiques. Voici la liste :<br />
:-> Oh, diable !<br />
:-(( En colère<br />
:-)) Je rigole<br />
:-D Je suis mort de rire<br />
:-) Sourire<br />
;-) Clin d'oeil<br />
:'-) J'en ai la larme à l'oeil<br />
:'-D Je pleure de rire<br />
:o) Rigolo<br />
B-) Des lunettes<br />
:-p Tire la langue<br />
:-| Bof<br />
:-/ Mouais<br />
:-o Surpris<br />
:-O Très surpris<br />
:-( Pas content<br />
:'-( Triste<br />
  </description>
  <prefix>evabinettes</prefix>
	<pipeline>
    <nom>pre_typo</nom>
    <action>pre_typo</action>
    <inclure>binettes.php</inclure>
  </pipeline>
  <pipeline>
        <nom>affiche_droite</nom>
        <action>AfficheDroite</action>
        <inclure>evabinettes_pipeline_droite.php</inclure>
</pipeline>
<categorie>squelette</categorie>
</plugin>
