<plugin>
	<nom>Squelette Multiflex</nom>
	<slogan>Jeu de squelettes hautement param&#233;trable et modulable</slogan>
	<auteur>Matthieu Marcillaud, Pierre-Alain Bandinelli, Hadrien Le Goff, Pierre André, Joël Bertrand</auteur>
	<licence>&#169; 2007-2010 - GPL</licence>
	<version>0.4.3</version>
	<icon>prive/themes/spip/images/multiflex3-128.png</icon>
	<etat>stable</etat>
   <description>
Ce plugin active ou d&#233;sactive le squelette {{Multiflex}}. Multiflex 3 est un jeu de squelettes (XHTML Strict) hautement param&#233;trable (n&#233;cessite le plugin CFG) depuis l&#8217;interface priv&#233;e de SPIP et facilement modulable gr&#226;ce aux nombreuses noisettes utilis&#233;es poss&#233;dant diverses options.

L&#8217;habillage graphique [Multiflex 3->http://www.1234.info/webtemplates/multiflex3/] a &#233;t&#233; d&#233;velopp&#233; par G. Wolfgang. Les squelettes SPIP ont &#233;t&#233; r&#233;alis&#233;s avec la version 3.8 de Multiflex.
	</description>
	<lien>https://contrib.spip.net/Multiflex</lien>
	<prefix>squelette_multiflex</prefix>
   <options>squelette_multiflex_options.php</options>
   <fonctions>squelette_multiflex_fonctions.php</fonctions>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;3.2.99]" />
	<necessite id="cfg" version="[1.10.2;]" />
	<utilise id="palette" version="[1.0;]" />
	<chemin dir='' />
</plugin>
