<plugin>
	<nom>Squelette Multiflex pour spip 1.9.3</nom>
	<auteur>Matthieu Marcillaud
_ &#169; 2007 - Distribu&#233; sous licence GPL
	</auteur>
	<lien></lien>
	<version>0.2.8</version>
	<etat>test</etat>
    <description>
Ce plugin active ou d&eacute;sactive le squelette {{Multiflex}}, 
bas&eacute; sur le design [Multiflex 3.1.8->http://1-2-3-4.info/webtemplates/] 
concu par G. Wolfgang
	
[Configuration->.?exec=cfg&amp;cfg=multiflex]
	
Ce squelette g&egrave;re les crayons (si plugin activ&eacute;).
	</description>
	<prefix>squelette_multiflex</prefix>
    <options>squelette_multiflex_options.php</options>
    <fonctions>squelette_multiflex_fonctions.php</fonctions>
	<necessite id="cfg" version="[1.10.2;]" />
	<utilise id="palette" version="[1.0;]" />
	<chemin dir='' />
</plugin>
