<?xml version="1.0" encoding="utf-8"?>
<plugin>
	<nom>MiniGriSpip</nom>
	<auteur>Fredo Mkb</auteur>
	<licence>GPL</licence>
	<version>1.2.02</version>
	<etat>stable</etat>
	<description>
	MiniGriSpip est un squelette simple et sobre fait par un d&eacute;butant pour les d&eacute;butants, bas&eacute; sur le squelette Minimal-SPIP, mais avec quelques modifications pour une adaptation &agrave; l'évolution de SPIP. 

Le développement pour spip 1.9 a été documeneté sur le site original de MiniGriSPIP: [->http://fredomkb.free.fr/spip/]. La dernière version de MiniGriSpip pour spip 1.9 est la version 1.6 .

L'adaptation de MiniGriSpip 1.2 à SPIP 2.1 a été faite par Suske. Voir le site [->http://minigrispip.brubel.net] pour en savoir plus.
	</description>
	<prefix>minigrispip</prefix>
</plugin>
