<plugin>
	<nom> <!-- Nom du plugin -->
	Durzy
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	Fred
	</auteur>
	<version>0.9Dev</version>
	<etat>stable</etat>
	<prefix>durzy</prefix>
	<necessite id="spip" version="[1.9300;]" /> 
	<necessite id="cfg" version="[1.2;]" />
	<necessite id="lib:jquery.ui-1.0" src="http://jqueryjs.googlecode.com/files/jquery.ui-1.0.zip" />
	<description>
	Durzy est un squelette id&#233;al pour un site d'&#233;tablissement (&#233;cole, college et lyc&#233;e) compatible SPIP 1.9.3. Voir [le site officiel->http://www.lyceedurzy.com].
	</description>

</plugin>