#myAccordion{
	width: 100%;
	border: 1px solid #666666;
	/* position: absolute; */
	left: 10px;
	top: 10px;
	background-color: #D5F4FF ;
}
#myAccordion dt{
	line-height: 20px;
	background-color: #999999;
	border-top: 2px solid  #666666;
	border-bottom: 2px solid  #CCCCCC;
	padding: 0 10px;
	font-weight: bold;
	color: #fff;
}
#myAccordion dd{
	overflow: auto;
}
#myAccordion p{
	margin: 16px 10px;
}
#myAccordion dt.myAccordionHover
{
	background-color: #82ADE2;
}
#myAccordion dt.myAccordionActive
{
	background-color:#82ADE2 ;
	border-top: 2px solid  #999999;
	border-bottom: 2px solid #CCCCCC;
}
