.agenda_invisible_au_chargement {
	visibility: hidden;
}
.agenda_visible_au_chargement {
	visibility: visible;
}
#container_debut,#container_fin{
	left:0px;
	top:0px;
	z-index:150;
	filter:alpha(opacity=100);
	opacity: 1.0;
	-moz-opacity:1.0;
}

.agenda-calendrier {
	width: 100%;
	/*height: 60%;*/
	font-weight: bold;
	background-color: #black;
  }

.agenda-visu-evenement {
	position: absolute;
	right :0px;
	top :100px;
	width: 400px;
	height: 47em;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
	z-index:100;
	font-family: Verdana, Arial, Sans, sans-serif;
	font-size:small;
	background-color: yellow;
	filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
	text-align:left;
	/*coins arrondis pour safari*/
	-webkit-top-left-border-radius: 8px;
	-webkit-bottom-left-border-radius: 8px;	
	/*coins arrondis pour mozilla*/
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	/*coins arrondis css3*/
	border-radius-topleft: 8px;
	border-radius-bottomleft: 8px;

 }
.agenda-visu-evenement-bouton-fermer{
	position: absolute;
	right:1em;
	top:0px;
	width:12px;
	height:12px;
}
.agenda-visu-evenement-bouton-fermer a:hover{
	border-color:#cccccc;
	border-top:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-bottom:2px solid #cccccc;
	border-right:2px solid #cccccc;
}

.article-evenement {
	position: absolute;
	top :0;
	left :0px;
	width : 100%;
	height : 4em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	font-weight: bold;
	background-color: #ccff66;!important;
	/*coins arrondis pour safari*/
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	/*coins arrondis pour mozilla*/
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	/*coins arrondis css3*/
	border-radius-topleft: 8px;
	border-radius-topright: 8px;

 }

.titre-titre {
	position: absolute;
	top :4em;
	left :0px;
	width : 20%;
	height : 1.5em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font-weight: bold;
	background-color: #ccff66;
 }
.titre-visu {
	position: absolute;
	top :4em;
	left :20%;
	width : 80%;
	height : 1.5em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	font-weight: bold;
	background-color: #ccff99;
 }

.lieu-titre {
	position: absolute;
	top :5.5em;
	left :0px;
	width : 20%;
	height : 1.5em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font-weight: bold;
	background-color: #ccff66;
	/*coins arrondis pour (dans l'ordre safari, mozilla et css3*/
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-radius-bottomright: 8px;
 }
.lieu-visu {
	position: absolute;
	top :5.5em;
	left :20%;
	width : 80%;
	height : 1.5em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	font-weight: bold;
	background-color: #ccff99;
	/*coins arrondis pour (dans l'ordre safari, mozilla et css3*/
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-radius-bottomright: 8px;

 }
.horaire-titre {
	position: absolute;
	top :7.1em;
	left :20%;
	width : 80%;
	height : 2em;
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	font-weight: bold;
	background-color: #ccff66;
	/*coins arrondis pour (dans l'ordre safari, mozilla et css3*/
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-radius-bottomright: 8px;
 }
.date-titre {
	position: absolute;
	top :7.1em;
	left :0px;
	width : 20%;
	height : 2em;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	font-weight: bold;
	background-color: #ccff66;
	/*coins arrondis pour (dans l'ordre safari, mozilla et css3*/
	-webkit-border-bottom-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	border-radius-bottomright: 8px;
 }
.date-visu {
	position: absolute;
	top :9em;
	left :0%;
	width : 100%;
	height : 5em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	font-weight: bold;
	background-color: #FFF;	
	/*coins arrondis pour (dans l'ordre safari, mozilla et css3*/
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-radius-bottomright: 8px;
	border-radius-bottomleft: 8px;

 }
.descriptif-titre {
	visibility: hidden;
 }
.descriptif-visu {
	position: absolute;
	top :14em;
	left :0px;
	width : 100%;
	height: 6em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	font-weight: bold;
	background-color: #ccff99;
	/*coins arrondis pour safari*/
	-webkit-border-radius: 8px;	
	/*coins arrondis pour mozilla*/
	-moz-border-radius: 8px;
	/*coins arrondis css3*/
	border-radius: 8px;

 }
.agenda_mot_cle_select{
width:49%;
}
.agenda_mots_cles{
	position: absolute;
	left:0px;
	top:20em;
	height:8em;
	width:100%;
	font-weight: bold;
	background-color: #ccff99;
}
.repetitions-calendrier{
	background-color:#FFF;
	position: absolute;
	left:0px;
	top:28em;
	height:17em;
	width:100%;
}
.edition-bouton {
	position: absolute;
	bottom :0em;
	left :0%;
	width : 98%;
	height:2em;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	text-align : right;
	vertical-align : bottom;
	padding-right:2%;
	font-weight: bold;
	background-color: #99cc33;
	/*coins arrondis pour safari*/
	-webkit-border-radius: 8px;	
	/*coins arrondis pour mozilla*/
	-moz-border-radius: 8px;
	/*coins arrondis css3*/
	border-radius: 8px;

 }
a span.survol {
	display: none;
}

a:hover .calendrier-verdana10 > span.survol {
	display: block;
	position: relative;
	top: auto;
	left: auto;
	width: auto;
	padding: 5px;
	z-index: 100;
	text-decoration: none;
  color: #333;
	background: #ccff99;
	border: solid 1px #99cc33;
	font: 10px Verdana, sans-serif;
	text-align: left;
	border-radius: 8px;
	filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;	
	/*bords arrondis pour safari*/
	-webkit-border-radius: 8px;
	/*bords arrondis pour mozilla*/
	-moz-border-radius: 8px;
	/*bords arrondis css3*/

}