/*--------------------------------------------------*/
/*      Styles pour le menu déroulant horizontal    */
/*                                                  */
/* Attention, certains styles sont définis via CFG  */
/* dans le fichier "style_css.html" placé dans le   */
/* répertoire squelettes                            */
/*--------------------------------------------------*/

/*  Conteneur du menu */
#menu {
position:absolute;
top:130px;  /* position verticale du menu */
float:left; 
}

ul.menu li ul{
  display:none;
}

ul.menu li:hover>ul{
  display:block;
}

/* style du trait de séparation */
ul.menu hr{
 margin-right: 4px;
 margin-left: 4px;
}
ul.menu li{
  float:left;
  display:block;
  padding:2px 1px; /* espace entre les entêtes des menus */
}
/* cadre autour d'une entrée de menu */
ul.menu li a{
  display:block;
  padding:0px 10px; /* laisser le 1er paramètre à 0 pour ne pas déformer le tableau d'accueil
                       et jouer sur le second pour centrer le menu dans le cadre d'accueil
					   (j'ai pas trouvé d'autre moyen...) */
  text-decoration:none
}
/* état lors du survol d'une entrée de menu */
ul.menu li a:hover{
  border-top-color:#F0F0F0;
  border-left-color:#F0F0F0;
  border-right-color:#999999;
  border-bottom-color:#999999;
}

/* Les sous menu */
ul.menu ul{
	position:absolute;
	border:1px solid #CCCCCC;
	list-style:none;
	margin:0px;
	padding:0px;
	width:160px;
	z-index:12; /* index élevé pour être au dessus des ongles du couteau suisse si nécessaire */
	vertical-align: middle;
}

/* les sous sous menu */
ul.menu ul ul{
  top:-2px;
  left:158px;
  z-index:12;
}

ul.menu ul li{
  position:relative;
 
  float:none;
  margin:0px;
  padding:0px;
  _display:inline;
}

ul.menu ul li a{
  display:block;
  margin:0px;
  padding:0px;
  width:160px;
  border:none;
}
.fleche {
  position: relative;
  float:right;
  margin:-10px 3px 0px 0px;
  _margin:-15px 3px 0px 0px;
}