/*--------------------------------------------------*/
/* Style pour la barre de navigation calée à gauche */
/*--------------------------------------------------*/


* html #fixedmenu {display:none;}
#fixedmenu {
   position: fixed;
   top: 105px;
   left: 20px;
   width: 16px;
   background: transparent;
}
#fixedmenu a, #fixedmenu a:hover {
   text-decoration: none;
   display: block;
   width: 16px;
   height: 16px;
   overflow: hidden;
   font-size: 40px;
   line-height: 1;
   margin: 0 auto;
}
#fixedmenu ul, #fixedmenu li {
   list-style-type:none;
   margin: 5px 0;
   padding: 0;
}
#fixedmenu #home {
   background: transparent url(../images/home.png) no-repeat;
}
#fixedmenu #plan {
   background: transparent url(../images/_plan16.png) no-repeat;
}
#fixedmenu #up {
   background: transparent url(../images/up.png) no-repeat;
}
#fixedmenu #down {
   background: transparent url(../images/down.png) no-repeat;
}
#fixedmenu #rss {
   background: transparent url(../images/rss.png) no-repeat;
}
#fixedmenu #email {
   background: transparent url(../images/email.png) no-repeat;
}
#fixedmenu #favoris {
   background: transparent url(../images/favoris.png) no-repeat;
}