td.colorchart
{
   width:16px;
   height:12px;
}

a.getcolorlinks_r:link    { color:#880000;  font:normal 10px arial; text-decoration:none; cursor:default; }
a.getcolorlinks_r:visited { color:#880000;  font:normal 10px arial; text-decoration:none; cursor:default; }
a.getcolorlinks_r:active  { color:#880000;  font:normal 10px arial; text-decoration:none; cursor:default; }
a.getcolorlinks_r:hover   { color:#ff0000;  font:normal 10px arial; text-decoration:none; cursor:default; }

a.getcolorlinks_g:link    { color:#006600;  font:normal 10px arial; text-decoration:none; cursor:default; }
a.getcolorlinks_g:visited { color:#006600;  font:normal 10px arial; text-decoration:none; cursor:default; }
a.getcolorlinks_g:active  { color:#006600;  font:normal 10px arial; text-decoration:none; cursor:default; }
a.getcolorlinks_g:hover   { color:#00dd00;  font:normal 10px arial; text-decoration:none; cursor:default; }

a.getcolorlinks_b:link    { color:#000088;  font:normal 10px arial; text-decoration:none; cursor:default; }
a.getcolorlinks_b:visited { color:#000088;  font:normal 10px arial; text-decoration:none; cursor:default; }
a.getcolorlinks_b:active  { color:#000088;  font:normal 10px arial; text-decoration:none; cursor:default; }
a.getcolorlinks_b:hover   { color:#0000ff;  font:normal 10px arial; text-decoration:none; cursor:default; }


span.getcolorlinks_red   { background-color:#ffdddd; font:normal 5px courier new; color:#990000; cursor:default; }
span.getcolorlinks_green { background-color:#ddffdd; font:normal 5px courier new; color:#009900; cursor:default; }
span.getcolorlinks_blue  { background-color:#ddddff; font:normal 5px courier new; color:#000099; cursor:default; }

span.getcolorlinks_red_label   { background-color:#ffdddd; font:normal 11px courier new; color:#990000; cursor:default; }
span.getcolorlinks_green_label { background-color:#ddffdd; font:normal 11px courier new; color:#009900; cursor:default; }
span.getcolorlinks_blue_label  { background-color:#ddddff; font:normal 11px courier new; color:#000099; cursor:default; }


input.couleur
{
   width:em;
   font:normal 12px verdana;
   border:solid 1px #ffffff;
   color:#999999;
}


.couleur {
   border:#666666 1px solid;
   cursor:default;
   width:70px;
}


img.noborder {
   border-width:0;
}