/*  ----------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9  */
/*  ----------------------------------------------------------- */

/* taille typo
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px             0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur IE
 */

/*  -------------------------------------------------------
/*  Correction des styles HTML par defaut et trucs divers
/*  ----------------------------------------------------- */
body {
	background: #FFFFF;
	margin: 0em;
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif,Trebuchet MS;
	font-size: 1em;
	color: #333;
}

img, table { margin: 0; padding: 0; border: 0; }
h1, h2,  h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }
h1 { text-shadow: 3px 3px 5px grey; }

/* intertitre correspondant à la typo {{{  }}} */ 
h3.spip {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	color:#006898; 
	text-align: left;
}

/*la gestion des espaces*/
.espace {
	height: 1.5em;
	line-height:0.5em;
	font-size:2px;
}
.invisible { position: absolute; top: -3000em; height: 1%; }
.nettoyeur { clear: both; margin: 0; padding: 0; height: 0; line-height: 1px; font-size: 1px; overflow: hidden; }



/*-------------------------------*/
/*        Les liens 
/*-------------------------------*/

a:link {
	color: #333399;
	text-decoration: none;
}

a:visited {
  color: #003366;
  text-decoration: none;
}

a:hover {
  color: #6666FF;
  text-decoration: none;
}

/*  ------------------------------------------
/*  Disposition a l'écran des blocs principaux
/*  ------------------------------------------ */


/*  conteneur le plus grand */
#page {
	position:relative;
	width: 48em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}
/*  conteneur du bandeau d'en-tête */
#entete{
    background-image:url(../images/entete.jpg);
    height: 148px;
    width:100%;
	background-color:#82ADE2; /* couleur de fond pour IE */
}

/* Formulaire de recherche */
/* pour masquer le "Rechercher" affiché par défaut à gauche du champ de recherche */
.formulaire_recherche label {display:none;}
#rechercher {
position:absolute;
top:107px;  /* position depuis le haut de l'en-tête */
right:10px; /* position depuis la droite de l'en-tête */
}

/*  les trois colonnes*/
#gauche {
background-color:transparent;
width:11em;
height:100%;
padding:0em;
float:left;
}

#centre {
border-top:0.2em;
float:left;
padding:0.5em; 
width:25em;
}

#droite {
border-top:0.2em;
float:right;
width:11em; 
padding:0em; 
}

/* Pied de page */
#pied {
clear: both;
font-family:Verdana;
font-size:10px;
width: 100%;
margin-top: 0em;
text-align: center;
border:1px solid #C4CCD4;
-moz-border-radius:6px;
-webkit-border-radius: 6px;
-o-border-radius:6px;
-icab-border-radius:6px;
background-color: #E5EFF8;
}
#pied small {font-size:x-small; color:#000;}
#pied img   {vertical-align:bottom;}

/*  ------------------------------------------
/*             Divers
/*  ------------------------------------------ */
/*  Affichage des statistiques dans les pages inc-top-10-xx 
*/
#stat{
    font-weight:normal;
	font-family:Verdana;
    padding-left:13em;
}

/*  ------------------------------------------
/*             les cadres de couleur
/*  ------------------------------------------ */

/*  ------------------------------------------
/*               Les derniers articles
/*  ------------------------------------------ */

/* cadre dans lequel on affiche la liste des articles*/
.last-articles .boxcontent {
	display:block;  
	background:#E5EFF8; 
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	/*spécification css3 pour les bords arrondis*/
	border-radius: 0.5em;
	/*spécification css3 pour les bords arrondis adaptée pour Safari et tous les navigateurs basés sur webkit*/
	-webkit-border-radius: 0.5em;
	/*spécification css3 pour les bords arrondis adaptée pour Firefox et tous les navigateurs basés sur gecko*/
	-moz-border-radius: 0.5em;
}
/* Titre du cadre */
.last-articles .boxcontent .cadre-titre{
	display:block;
	background:#82ADE2; 
	border-left:1px solid #82ADE2;
	border-right:1px solid #999;
	text-align:center;
	font-size: 10px;
	font-weight:bold;
	/*texte ombré dans safari*/
	text-shadow: 3px 3px 5px grey;
	/*spécification css3 pour les bords arrondis*/
	border-top-right-radius: 0.5em; 
	border-top-left-radius: 0.5em;
	/*spécification css3 pour les bords arrondis adaptée pour Safari et tous les navigateurs basés sur webkit*/
	-webkit-border-top-right-radius: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	/*spécification css3 pour les bords arrondis adaptée pour Firefox et tous les navigateurs basés sur gecko*/
	-moz-border-radius-topright: 0.5em;
	-moz-border-radius-topleft: 0.5em;
}
/* liste dans le cadre*/
.last-articles .boxcontent ul {
 margin: 0;
 list-style-type: none;
 text-align: left;
 padding-left:0.3em           /* modifier cette valeur pour déplacer la position de la puce */
 }
 /* minicadre pour afficher le texte et la puce qui change au survol par la souris*/
 .last-articles .boxcontent ul .minicadre {
 margin-top: 3px;             /* pour espacer un peu avec l'item de liste précédent*/
 /*puce au repos*/
 background: transparent url(squelettes/images/puces/#CONFIG{durzy/puces_animees}off.png) left center no-repeat;
 background-position: 0% 15%; /* position de la puce au repos dans le minicadre*/
 padding-left: 1.5em;         /* modifier cette valeur pour déplacer le texte latéralement*/
 text-align: left;            /* pour que le texte soit aligné à gauche*/
 font-size: 11px;             /* taille du texte*/
 text-decoration: none;       /* on n'habille pas le texte*/
 }
/* pour afficher la date de publication et le nom de l'auteur */ 
.last-articles .boxcontent ul .minicadre small{color: black; display:block;}
.last-articles .boxcontent ul .minicadre:hover {
/*pour changer la puce au survol*/
 background: transparent url(squelettes/images/puces/#CONFIG{durzy/puces_animees}on.png) left center no-repeat;
 background-position: 0% 15%;/*position de la puce au survol*/
}

/*les commentaires précédents valent pour les classes suivantes.*/

/*  ------------------------------------------
/*               Les brèves
/*  ------------------------------------------ */
.breve {background: transparent; width:100%; margin:0 auto;}
.breve p {margin:0 0.65em;}
.breve p {padding:2em;}
.breve .boxcontent {
	display:block;  
	background:#E5EFF8;
	border-left:1px solid #fff;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	padding-left:0em;
	/*spécification css3 pour les bords arrondis*/
	border-radius: 0.5em;
	/*spécification css3 pour les bords arrondis adaptée pour Safari et tous les navigateurs basés sur webkit*/
	-webkit-border-radius: 0.5em;
	/*spécification css3 pour les bords arrondis adaptée pour Firefox et tous les navigateurs basés sur gecko*/
	-moz-border-radius: 0.5em;
}
.breve .boxcontent .cadre-titre{
	display:block;  
	background:#82ADE2; 
	border-left:1px solid #82ADE2;
	border-right:1px solid #999;
	padding-bottom: 0.2em;
	text-align:center;
	font-size: 10px;
	font-weight:bold;
	/*texte ombré dans safari*/
	text-shadow: 3px 3px 5px grey;
	/*spécification css3 pour les bords arrondis*/
	border-top-right-radius: 0.7em; 
	border-top-left-radius: 0.7em;
	/*spécification css3 pour les bords arrondis adaptée pour Safari et tous les navigateurs basés sur webkit*/
	-webkit-border-top-right-radius: 0.7em;
	-webkit-border-top-left-radius: 0.7em;
	/*spécification css3 pour les bords arrondis adaptée pour Firefox et tous les navigateurs basés sur gecko*/
	-moz-border-radius-topright: 0.7em;
	-moz-border-radius-topleft: 0.7em;
}
/* liste dans le cadre */
.breve ul {
 list-style-type: none; /* pas de puce pour gagner de la place */
 margin:0;              /* marge à zéro */
 text-align: left;
 padding-top:0;
 padding-left:0.0em;   /* modifier cette valeur pour déplacer la position de la puce */
 }


/*  ------------------------------------------
/*               Edito
/*  ------------------------------------------ */
.edito {background: transparent; width:100%; margin:0 auto;}
.edito p {margin:0 0.65em;}
.edito p {padding-bottom:0.5em;}
.edito .boxcontent {
	display:block;  
	background:#FFF8AC; 
	border-left:1px solid #fff;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	/*spécification css3 pour les bords arrondis*/
	border-radius: 0.5em;
	/*spécification css3 pour les bords arrondis adaptée pour Safari et tous les navigateurs basés sur webkit*/
	-webkit-border-radius: 0.5em;
	/*spécification css3 pour les bords arrondis adaptée pour Firefox et tous les navigateurs basés sur gecko*/
	-moz-border-radius: 0.5em;
}
.edito .boxcontent .cadre-titre{
	display:block;  
	background:#FFED00; 
	border-left:1px solid #FFED00;
	border-right:0px solid #999;
	padding-bottom: 0.2em;
	text-align:center;
	font-size: 10px;
	font-weight:bold;
	/*texte ombré dans safari*/
	text-shadow: 3px 3px 5px grey;
	/*spécification css3 pour les bords arrondis*/
	border-top-right-radius: 0.7em; 
	border-top-left-radius: 0.7em;
	/*spécification css3 pour les bords arrondis adaptée pour Safari et tous les navigateurs basés sur webkit*/
	-webkit-border-top-right-radius: 0.7em;
	-webkit-border-top-left-radius: 0.7em;
	/*spécification css3 pour les bords arrondis adaptée pour Firefox et tous les navigateurs basés sur gecko*/
	-moz-border-radius-topright: 0.7em;
	-moz-border-radius-topleft: 0.7em;
}

/*  ------------------------------------------
/*               Accès direct
/*  ------------------------------------------ */
.acces-direct {background: transparent; width:100%; margin:0 auto;}
.acces-direct p {margin:0 0.65em;}
.acces-direct p {padding-bottom:0.5em;}
.acces-direct .boxcontent {
	display:block;  
	background:#D6EACA; 
	border-left:1px solid #fff;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	/*spécification css3 pour les bords arrondis*/
	border-radius: 0.5em;
	/*spécification css3 pour les bords arrondis adaptée pour Safari et tous les navigateurs basés sur webkit*/
	-webkit-border-radius: 0.5em;
	/*spécification css3 pour les bords arrondis adaptée pour Firefox et tous les navigateurs basés sur gecko*/
	-moz-border-radius: 0.5em;
}
.acces-direct .boxcontent .cadre-titre{
	display:block;  
	background:#51B169; 
	border-left:1px solid #51B169; 
	border-right:1px solid #999;
	padding-bottom: 0.2em;
	text-align:center;
	font-size: 10px;
	font-weight:bold;
	/*texte ombré dans safari*/
	text-shadow: 3px 3px 5px grey;
	/*spécification css3 pour les bords arrondis*/
	border-top-right-radius: 0.7em; 
	border-top-left-radius: 0.7em;
	/*spécification css3 pour les bords arrondis adaptée pour Safari et tous les navigateurs basés sur webkit*/
	-webkit-border-top-right-radius: 0.7em;
	-webkit-border-top-left-radius: 0.7em;
	/*spécification css3 pour les bords arrondis adaptée pour Firefox et tous les navigateurs basés sur gecko*/
	-moz-border-radius-topright: 0.7em;
	-moz-border-radius-topleft: 0.7em;
}
.acces-direct .boxcontent ul  {list-style-type: diamond;text-align: left;padding-left:1.5em;}

/*  ------------------------------------------
/*            Styles pour les articles
/*  ------------------------------------------ */

/* l'encadrement du texte */
.cadre {
	border:1px solid #C4CCD4;
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-o-border-radius:0.5em;
	-icab-border-radius:0.5em;
	text-align:left;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin:0px 0px;
}

/* Chemin de navigation et cadres de couleur */
.texte-cadre {
	text-align:left;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0 0;
}

/* En tête du l'article */
#article-cadre {
   border-style:solid; 
   border-width:0px;
   border-color:blue; 
   float:left;
   padding-left:0.5em; 
   width:36.5em;
}
/* Titre de l'article */
.cadre-titre-article {
	border: #C4CCD4;
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-o-border-radius:0.5em;
	-icab-border-radius:0.5em;
    background-color: #E5EFF8;
}
.titre-article {
    text-align:left;
	color:#006898;
	font-size: 18px;
	font-family: Tahoma;
	margin:0px 5px;
}
/* Description de l'article */
#descriptif-article {
	font-size:14px; 
	color: #336699;
	margin:0px 5px;
}
#introduction-article {
	font-size: 12px;
	margin:0px 24px;
}
/*  Texte de l'article  */
#texte-article {
	padding-left:5px; /* petite marge à gauche */
}

/*  Portfolio  */
.documents_portfolio {
    float:left;
	border:1px solid #C4CCD4;
    -moz-border-radius:6px;
    -o-border-radius:6px;
	-webkit-border-radius:6px;
	-icab-border-radius:6px;
    background-color:#FFFFFF;
	color:#000000;
	width:125px; 
	_width:120px; 
	height:150px;
	margin-left: 5px;
	padding-left:13px;
	padding-top:5px;
}
.separateur {
    clear:both;
	height:2px;
}
/* Téléchargement des fichiers joints*/
#cadre-telechargement {
    float:left;
	width:100%;
	_width:99%; /* pour IE6 */
	border:1px solid #C4CCD4;
    -moz-border-radius:6px;
    -o-border-radius:6px;
	-webkit-border-radius:6px;
	-icab-border-radius:6px;
    background-color: #E6E6E6;
	text-align:left;
	font-size: 10px;
}
#cadre-doc-telechargement{
	margin:0px 5px;
	height: 60px;
}

/* pour calendier mini et cadres de couleur */
.entete-cadre {
	/*position: relative;*/
	/*text-align:center;*/
	height: auto;
	/*text-indent: 5px;*/
	/*font-weight:bold;*/
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*text-shadow: 3px 3px 5px grey;*/
}


/* le cadre <QUOTE> ... </QUOTE> */
blockquote.spip {
	margin-left : 10px;
	margin-top : 10px;
	margin-bottom : 10px;
	margin-right: 10px;
	border : solid 1px #aaaaaa;
	-moz-border-radius:6px;
    -o-border-radius:6px;
	-webkit-border-radius:6px;
	-icab-border-radius:6px;
	background-color: #FFFEEE;
	padding-left: 10px;
	padding-right: 10px;
}



/*  ----------------------------------------
/*          Style de la page rubrique
/*  ----------------------------------------*/
.descriptif-rubrique {
	font-size:14px; 
	color: #336699;
}
#texte-rubrique {
	font-size:12px; 
	color: #333333;
	margin-left:5px;
}
.titre-rubrique {
	text-align:left;
	color:#006898;
	font-size: 18px;
	font-family: Tahoma;
	margin:0px 5px;
}
.titre-sous-rubrique {
	font-size: 14px;
}
.descriptif-sous-rubrique {
	font-size: 12px;
	margin:0px 25px;
}

#titre-article-rub {
	font-size: 12px;
}

.bas-cadre {
text-align:right;
}

/*  ------------------------------------------
/*               Les tableaux
/*  ------------------------------------------ */
table.spip {
    margin: auto;
    margin-bottom: 1em;
    /*border: 1px solid;*/ /* A laisser si on veut un cadre autour du tableau */
    border-collapse: collapse; }
table.spip caption {
	caption-side: top; /* bottom pas pris en compte par IE */
    border: 1px solid;
	text-align: center;
    margin: auto;
    padding: 3px;
    font-weight: bold;
}
/* Style de la ligne d'en-tête */
table.spip tr.row_first {color:#003399;background-color: #82ADE2;text-align: center}
table.spip tr.row_odd { background-color: #E5EFF8;}
table.spip tr.row_even {background-color: #D6EACA }
table.spip th, table.spip td {padding: 3px;text-align: left;vertical-align: middle; }

/*  ------------------------------------------
/*      Habillage specifique du calendrier
/*  ------------------------------------------ */
#entete-calendar {
	text-align:center;
	height: auto;
	font-weight:bold;
	font-size: 0.71em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-shadow: 3px 3px 5px grey;
}
.calcell.today {border:1px solid #ffff00 ; background-color :#ffff00 ;}
#calendar th { background-color: #82ADE2;}
td.occupe {font-weight:bold;border:1px solid #666 ; background-color :#FFFFCC ;} /* quand il y a un article */
td.horsperiode {background:#e0e0e0;color:#878787;} /* les jours qui ne sont pas dans le mois */
td.today{background:#B1C3D9;font-weight:bold;}    /* comme son nom l'indique */

/*  -----------------------------------------------
/*            Logos, documents et images
/*  ---------------------------------------------- */

img, .spip_logos { margin: 0; padding: 0; border: none; }
.spip_documents { text-align: center; }
.spip_documents_center { clear: both; width: 100%; margin: auto; }
span.spip_documents_center { display: block; margin-top:1em; }
.spip_documents_left { float: left; margin-right: 15px; margin-bottom: 5px; }
.spip_documents_right { float: right; margin-left: 15px; margin-bottom: 5px; }
.spip_doc_titre { font-weight: bold; font-size: 0.8em; margin-left:auto; margin-right:auto;}
.spip_doc_descriptif { clear: both; font-size: 0.8em; margin-left:auto; margin-right:auto;}

/*  ------------------------------------------
/*  Habillage specifique pour le plan du site
/*  ------------------------------------------ */
#plan ul{list-style: circle;padding-left:2.6em;}
#plan ul ul{list-style: square;padding-left:2.6em;}
#plan h2{font-size: 1.5em;text-shadow: 3px 3px 5px grey;}/*attention, text-shadow est en css3 et empeche le site d'être validé*/
#plan h3{font-size: 1em;}
#plan ul{list-style: circle;} /*des cercle au premier niveau du plan*/
#plan ul ul{list-style: square;} /*des carrés après*/

/*  ------------------------------------------
/*  Surlignage dans les recherches
/*  ------------------------------------------ */
.spip_surligne { background: #FF6; }