/* TYPO */

body {	
	font-family: Verdana, "Lucida Grande", "Bitstream Vera Sans", "Lucida Sans", Lucida, Tahoma, Arial, 'Helvetica Neue', Helvetica, Geneva,  sans-serif;
}
#menu-principal li a {
	text-align: center;
	text-transform: uppercase;
	font-size: 80%;
	font-weight: bold;
} 

/* IMAGES */

body { background-image: none; }

#entete { 
	background-image: url(img/banner-bg.jpg);
	background-position: center top;
}

#entete a.nom-site, 
#entete a.nom-site:link, 
#entete a.nom-site:visited, 
#entete a.nom-site:hover {
	background-image: url(img/banner-logo.png);
	background-position: center top;
}

/* COLORS - COULEURS */

body { background-color: black; }
#page { background-color: #030; }
#entete { background-color: black; }
#bloc-contenu { background-color: #FC6; color: black; }
#bloc-contenu .chapo,
#bloc-contenu .extrait { background-color: transparent; }


/* LAYOUT - POSITIONS */

#page {margin: 40px auto; }

#menu-principal ul { position:absolute; left:50%; margin-left:-20em }
#menu-principal ul li { width:10em }
#menu-principal ul ul {	position: static;}
#menu-principal ul li li { width:214px; }


#menu-principal-recherche {
	float:none;
	position:relative;
	top: 189px;
	margin-left: -107px;
	z-index: 80;
}
#menu-recherche { width: 214px; text-align:center;}


#entete {height: 190px; }
#menu-rubriques, #encart { top: 190px; }

#bloc-contenu { margin-top: 0; border: 0 solid #FC6 }

#entete .nom-site span  /* on cache le titre du nom du site  */
{
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#menu-lang { top: 0;}


/* -------------------------------------------------------
   Changement de couleur de fond pour les menus de navigation
 ------------------------------------------------------- */


/* COULEURS des menus et edito */
.menu-item,
.menu-titre-special, 
.menu-titre,
.menu ul li a, 
.menu ul li b,
.edito h3 { background-color: #C00; }

/* rouge fonce extrait de l'image du bandeau */
.menu ul li { border-top: 1px solid #030; }
#menu-principal ul li { border-top: 0px solid #030; }

/* separateur : meme couleur que fond de BODY */
.menu ul li a, 
.menu ul li b { background-image: url(img/titre-coin.png); }

/* background */
.menu ul li li a, 
.menu ul li li a:visited,
.menu li span ,
li.annonce { background-color: #FFC; background-image: none }

.menu ul li a:hover,
.menu ul li li a:hover,
.menu ul li li a.article:hover { background-color: #F60; }

.menu ul li li a.lienon { background-color: #F60; }
.menu ul li li a.article { background-color: #FFFFED; }

/* -------------------------------------------------------
   Autres changement de couleur et typo
 ------------------------------------------------------- */

#bloc-contenu h3 a,
h3.spip,
h1.titre-article { color: #AD0C10; }

h3.spip
{
	border-color: #6CC;
	border-width: 0 0 1px 0;
	border-style: solid;
}

h1.titre-article
{
	font-family: "Comic Sans MS", Georgia, Bookman, Palatino, "Times New Roman", Times, serif;
	font-size: 2.2em;
	font-weight: normal;
	line-height: 1em;
}

#bloc-contenu h3 a
{
	font-size: 1.5em;
	font-family:  "Comic Sans MS", Georgia, Bookman, Palatino, "Times New Roman", Times, serif;
	font-weight: normal;
}

#bloc-contenu h3.edito-titre a
{
	color: white;
	font-weight: bold;
	font-size: 1em;
	font-family: Verdana, "Trebuchet MS", "Lucida Grande", "Lucida Sans", Tahoma, Arial, 'Helvetica Neue', Helvetica, Geneva, Lucida, sans-serif;
}

#plan .plan-rubrique h3 { background-color: #6CC; }

body.rubrique #bloc-contenu .texte,
h3.edito-titre{ display:none; }

