<?php $couleurs="0" ; ?>
<table class="spip">
<BOUCLE_forums_liens(FORUMS){plat}{par date}{inverse}{0,10}> 
<tr class="<?php echo $couleurs == 0 ? 'row_even' : 'row_odd' ; ?>" >
<td> 
[(#DATE|jour)]/[(#DATE|mois) ]  
<BOUCLE_ArticleForum(ARTICLES){id_article}>
<INCLURE(_cadenas.php3){id_article}>
<BOUCLE_mot(MOTS){id_article}{titre=forum}>
<a href="_discussion.php3?id_forum=#ID_FORUM#forum#ID_FORUM" title="#TITRE"> 
</BOUCLE_mot>
<a href="#URL_ARTICLE#forum#ID_FORUM" title="#TITRE"> 
<//B_mot>
</BOUCLE_ArticleForum>
<BOUCLE_BreveForum(BREVES){id_breve}>
<INCLURE(_cadenas.php3){id_breve}>
<a href="#URL_BREVE#forum#ID_FORUM" title="#TITRE"> 
</BOUCLE_BreveForum>

<BOUCLE_RubriqueForum(RUBRIQUES){id_rubrique}>
<INCLURE(_cadenas.php3){id_rubrique}>
<a href="#URL_RUBRIQUE#forum#ID_FORUM" title="#TITRE"> 
</BOUCLE_RubriqueForum>
<BOUCLE_SiteForum(SITES){id_syndic}>
<a href="_kiosque.php3?id_syndic=#ID_SYNDIC#forum#ID_FORUM" title="#TITRE"> 
</BOUCLE_SiteForum>
<//B_SiteForum>
<//B_RubriqueForum>
<//B_BreveForum>
<//B_ArticleForum>
<?php if("#ID_FORUM"== "#ID_THREAD") echo "<strong>" ; ?>
[(#TITRE|titre_forum)]
<?php if("#ID_FORUM"== "#ID_THREAD") echo "</strong>" ; ?>
</a>[, par (#NOM)]</td></tr>
<?php if($couleurs == 0){$couleurs = 1;} else{$couleurs=0;}	?>
</BOUCLE_forums_liens>
</table>
<hr class="spacer"/>