
/* font */
h1, h2, h3, h4, h5, h6, 
input[type="submit"], input[type="reset"],
input[type="button"], button, .button, 
label, table th, .pagination a, .pagination span, 
#header .logo, #nav ul.links, #copyright, 
#navPanelToggle, #sousnavToggle, #navPanel .links li a { font-family: "Open Sans", Helvetica, sans-serif; }
small { font-size:80%; }

img { height: auto; max-width:100%; }

#intro.hidden .button { opacity:0 !important; visibility:hidden !important; }
#intro + #header .logo { opacity:0 !important; display:none; }
#intro.hidden + #header .logo { opacity:1 !important; display:block; }

#main > .post {
    padding-top:4rem;
}
/* on veut ajaxer la liste/articles donc on prend en compte une div de + dans les styles "> div " */
#main > * {

    padding:0;
    border-top:0;
    margin: 0;

}
#main > div > * {

    padding: 4rem 4rem 2rem 4rem;
    border-top: solid 2px #eeeeee;
    margin: 0;

}
#main > div > [id^=pagination_] { padding:0; border:0; }
#main > div > .posts {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: -moz-stretch;
	-webkit-align-items: -webkit-stretch;
	-ms-align-items: -ms-stretch;
	align-items: stretch;
	text-align: center;
	width: 100%;
	padding: 0;
}

#main > div > .posts > * {
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
}

#main > div > .posts > * {
	width: 50%;
}

#main > div > .posts > * {
	padding: 4rem;
	width: 50%;
}

#main > div > .posts > article {
	border-color: #eeeeee;
	border-left-width: 2px;
	border-style: solid;
	border-top-width: 2px;
	text-align: center;
}

#main > div > .posts > article > :last-child {
	margin-bottom: 0;
}

#main > div > .posts > article:nth-child(2n - 1) {
	border-left-width: 0;
}

#main > div > .posts > article:nth-child(-n + 2) {
	border-top-width: 0;
}

.introduction { margin: 0 0 2rem 0; }

/* pagination */

.pagination > strong { display:inline-block; border:2px solid #eeeeee; min-width:3rem; text-align:center; margin-left:-2px; background-color: #eeeeee;
	font-family: "Open Sans", Helvetica, sans-serif; font-size: 0.8rem; font-weight: 900; line-height:calc(3rem - 4px); }
.pagination > span.next, .pagination > span.prev { border:0; padding:0; margin-left:-2px; }
.pagination > span.next a, .pagination > span.prev a { margin:0; }
.pagination > span strong { display:inline-block; padding: 0 1.75rem; border:2px solid #eeeeee; height:3rem; color:#ddd; }


#sousnavmasqueeToggle { position:absolute; top:1em; right:2em; }
#sousnavmasqueeToggle:before { 
	content: '\f0c9';
	margin-right: 0.5rem; 
	-moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased;
	font-family: FontAwesome; font-style: normal; font-weight: normal; text-transform: none !important;
}
#sousnavmasquee { overflow:hidden; position:relative; }
#sousnavmasquee nav { margin-bottom:5em; margin-top:0; transition:margin 0.5s ease; }
#sousnavmasquee nav ul li a { display:inline-block; padding:0.4rem; border-bottom:0; }

#sousnav { margin-top:-3rem; margin-bottom:3rem; }
#sousnav nav ul { padding:0; margin:0; list-style:none; }
#sousnav nav ul:after { display:block; content:''; width:100%; clear:both; }
#sousnav nav ul li { float:left; padding:0; }
#sousnav nav ul li a { display:inline-block; padding:0.8rem 1.2rem; border-bottom:1px solid; }
#sousnav nav ul li a.active {  }


/* footer */
#main footer {
    text-align: center;
}
#footer p { margin:0; }


/* formulaire contact */
.formulaire_contact legend { display:none; }
.formulaire_contact ul { list-style:none;  padding:0; margin:0; }
.formulaire_contact li { padding:0; margin-bottom:1.5em; }
.bugajaxie { position: absolute; }
#contact_texte { height:150px; }

/* formulaire formidable */
.formulaire_spip .editer { clear:both; margin-bottom:1.5rem; }
.formulaire_spip .saisie_date:after { display:block; content:''; clear:both; }
.formulaire_spip input.date.text { float:left; }
.ui-datepicker .ui-datepicker-title select {
	padding:0;
	display: inline-block;
	text-align: center;
}

/* Reponses */
.reponse_formulaire { margin-bottom: 1.5em; padding: 0.75em; border: 2px solid #ddd; }
.reponse_formulaire_ok { background: #e6efc2; color: #264409; border-color: #c6d880; }
.reponse_formulaire_erreur { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.reponse_formulaire_ok a { color: #264409; }
.reponse_formulaire_erreur a { color: #8a1f11; }

.erreur_message { color: red; }

.editer.erreur input[type="text"], .editer.erreur input.text,
.editer.erreur input[type="password"], .editer.erreur input.password,
.editer.erreur textarea,
li.erreur input[type="text"], li.erreur input.text,
li.erreur input[type="password"], li.erreur input.password,
li.erreur textarea { background-color: #fbe3e4; border-color: #fbc2c4; }


/* de squelettes-dist/css/spip.css */
/* Citations, code et poesie */
blockquote.spip { min-height: 40px; background: url(img/quote.png) no-repeat; }
.spip_poesie { border-left: 1px solid; }
.spip_poesie div { margin-left: 50px; text-indent: -50px; }
.spip_code,
.spip_cadre {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1em;
	margin:0 .2em;
}

.spip_code {
	border: 1px solid #dfdfcd;
	background-color: rgba(227,227,211,0.5);
	color: #3b3b25;
	text-shadow: 0 1px 0 #fdfdfc;
}

.spip_cadre {
	background:#333;
	color:#fff;
	border-radius:0.5em;
	border:0;
}

textarea.spip_code,
textarea.spip_cadre {
	padding: 1em;
	width:98%;
}

/* Logos, documents et images */
.spip_logo { float:right; margin: 0 0 10px 10px; padding:0; border: none; }

.spip_logo { margin: 0 0 10px 10px; padding: 0; border: none; }
.spip_logo_center { clear: both; display: block; margin: 0 auto 1.5em auto; }
.spip_logo_left { float: left; margin-right: 1.5em; margin-bottom: 1.5em; }
.spip_logo_right { float: right; margin-left: 1.5em; margin-bottom: 1.5em; }

.spip_documents { margin-bottom: 1.5em; padding: 0; background: none; max-width: 100%;}
.spip_documents,
.spip_documents_center,
.spip_doc_titre,
.spip_doc_descriptif { margin-right: auto; margin-left: auto; text-align: center; }
.spip_documents_center { clear: both; display: block; width: 100%; }
.spip_documents_left { float: left; margin-right: 1.5em; }
.spip_documents_right { float: right; margin-left: 1.5em; }
.spip_doc_titre {}
.spip_doc_descriptif { clear: both; }
.spip_doc_credits { font-size:x-small; clear: both; }
/* fixer une largeur maximale de 100 % aux elements potentiellement probelmatiques */
@media (max-width: 640px) {
 		.spip_documents,.spip_doc_titre,.spip_doc_descriptif { max-width: 100% !important; }
}
.spip_documents a { border-bottom:0; }


/* Habillage des portfolios
---------------------------------------------- */
.documents_portfolio li {display:inline;margin:0;padding:0;}
.documents_portfolio a {display:inline-block;padding:10px;margin:5px;border:1px solid #ccc !important;color:#EEE;background:#fff;box-shadow: 5px 7px 5px 2px rgba(85,85,85,0.3);}
.documents_portfolio a:hover {color:#999;opacity:0.8;}
.documents_portfolio img {margin:0;}

.documents_joints .descriptif p {margin:0;}


/* remettre d'aplomb la boite modale */
/* boite modale de SPIP */
button#cboxPrevious, button#cboxPrevious:hover, button#cboxNext, button#cboxNext:hover, button#cboxSlideshow, button#cboxSlideshow:hover,
button#cboxClose, button#cboxClose:hover{ border:0; box-shadow:none; }

