@import "css/variables.less";
@import "css/mixins.less";

.navbar-fixed-top {margin-bottom: 0;}
#header {
  text-align: left;
  padding:3*@baseLineHeight 0;
  background: @gray;
  color:@white;
}
#content,#aside {margin-top: @baseLineHeight;}
#content {min-height: 30*@baseLineHeight;}

#footer {
  border-top: 1px solid darken(@grayLighter,10%);
  background-color: @grayLighter;
  .credits {margin-bottom: 0}
}

.doc-sidenav {
  a {border:1px solid @grayLighter;margin-top: -1px;};
  .border-radius(@baseBorderRadius)
}

/* contenu */
.article {
  &>.article-header {
    color:@gray;
    border-bottom: 1px solid @grayLighter;
    margin-bottom: @baseLineHeight;
  }
  margin-bottom: 2*@baseLineHeight;
}