ul.listes_smileys {
padding: 0;
margin: 0;
float: right;
max-width: 30%;
min-width: 4em;
}

ul.listes_smileys li.un_smiley {
list-style-type: none;
float: left;
border: 1px dashed;
width: 3em;
text-align: center;
padding: 3px;
margin: 0px;
}

ul.listes_smileys li.un_smiley  IMG.smiley_image {
vertical-align: middle;
margin: 5px 0 0 1em;
display: block;
align: center;
border: 0;
}


ul.listes_smileys li.un_smiley span.smiley_alt {
display:none;
}

a.spip_in, #reponsearticle ul div p a.spip_in,  a.spip_note  {
color: #669999;
text-decoration: underline;
 }

a.spip_in:visited, #reponsearticle ul div p a.spip_in:visited,  a.spip_note:visited {
color: #99CCCC;
text-decoration: underline;
 } 
 
a.spip_in:hover, #reponsearticle ul div p a.spip_in:hover,  a.spip_note:hover {
background-color: #669999;
color: #FFF;
text-decoration: none;
 } 

a.spip_out, a.spip_url, a.spip_glossaire, #reponsearticle ul div p a.spip_out, #reponsearticle ul div p a.spip_url, #reponsearticle ul div p a.spip_glossaire {
color: #990000;
text-decoration: underline;
 }

a.spip_out:visited, a.spip_url:visited, a.spip_glossaire:visited, #reponsearticle ul div p a.spip_out:visited, #reponsearticle ul.paire div p a.spip_url:visited, #reponsearticle ul div p a.spip_glossaire:visited  {
color: #CC6666;
text-decoration: underline;
 } 
 
a.spip_out:hover, a.spip_url:hover, a.spip_glossaire:hover, #reponsearticle ul div p a.spip_out:hover, #reponsearticle ul div p a.spip_url:hover, #reponsearticle ul div p a.spip_glossaire:hover {
background-color: #990000;
color: #FFF;
text-decoration: none;
 } 

 /* typo lien spip ds forum d'article*/ 
#reponsearticle ul div p a.spip_in, #reponsearticle ul div p a.spip_in:visited, #reponsearticle ul div p a.spip_in:hover, #reponsearticle ul div p a.spip_out, #reponsearticle ul div p a.spip_url, #reponsearticle ul div p a.spip_glossaire, #reponsearticle ul div p a.spip_out:visited, #reponsearticle ul.paire div p a.spip_url:visited, #reponsearticle ul div p a.spip_glossaire:visited, #reponsearticle ul div p a.spip_out:hover, #reponsearticle ul div p a.spip_url:hover, #reponsearticle ul div p a.spip_glossaire:hover  {
font-weight: normal;
 }

#reponsearticle ul div p.spip, #reponsearticle ul.paire div p.spip{
	margin:0px 0px 15px 0px;
	padding: 0px;
}
 p.spip{
 	text-align: justify;
 }
 
.spip_code, span.spip_code {font: normal normal normal 1.1em normal "Courier New", Courier, monospace; }

#reponsearticle tt {
	font-size: 1.5em;
}

/* \*/
* html #reponsearticle tt {
	font-size: 1.1em;
}
/* */

p.spip_note {
	font: normal normal normal 0.875em normal Arial, Geneva, Verdana, Helvetica, sans-serif;
 }


h3.spip {
	padding: 0px 0px 0px 15px;
	margin: 30px 0px 30px 0px;
	font: normal normal bold 1.17em normal Arial, Geneva, Verdana, Helvetica, sans-serif;
	color:#336666;
	background: transparent url("images/content/h3bg.gif") scroll no-repeat 0px 3px;
	border-bottom: 1px dotted #669999;
}

.spip_puce {
	list-style-position: inside;
	margin-top: 10px;
}
ul.spip {
	margin: 20px 40px 20px 40px;
	list-style: disc outside url("images/content/puce.gif");
	padding:0px;
}

ol.spip {
	margin: 20px 40px 20px 40px;
	padding:0px;
}

ul.spip ul.spip{
	margin: 10px 30px 10px 30px;
	list-style: disc outside url("images/content/puce2.gif");
}

ol.spip ol.spip{
	margin: 10px 30px 10px 30px;
}

li.spip{
		margin-top:7px;
}

li.spip li.spip{
		margin-top:3px;
}
	
	
.spip_documents{
}


table.spip {
margin-left: auto;
margin-right: auto;
padding:1px;
border: 1px solid #CCC;
}

table.spip tr.row_first {
	background-color: #006666;
	color: #FFF;
}

table.spip tr.row_odd {
	background-color: #F5F5F5;
}

table.spip tr.row_even {
	background-color: #F0FAF9;
}

table.spip td {
	padding: 3px;
	text-align: left;
	vertical-align: middle;
}

/* hr For Internet Explorer */
hr.spip{ 
	text-align: center;
	width: 90%; 
	height: 1px; 
	color: #99CCCC; 
	border: none;
} 
/* For Opera and Gecko-based browsers */
html>body hr.spip {
	margin-left:auto;
	margin-right:auto;
	width: 90%; 
	height: 1px;
/* \*/
	background-color: #99CCCC;
/* */ 
	border: 0px solid #99CCCC;
}


b.spip { }
i.spip { }

blockquote.spip {
	position:relative;
	margin: 30px 10px 30px 10px;
	color: #333;
	padding:10px 40px 0px 0px;
	border: 1px solid #CCC;
	background: #FBFBFB url("images/content/quote.gif") scroll no-repeat top right;
	min-height: 30px;
}

/* \*/
* html blockquote.spip{
	height: 1%;
	}
/* */

blockquote.spip p.spip, #reponsearticle div blockquote.spip p.spip{
	margin:0px;
	padding:0px 0px 10px 10px ;
	position:relative;
}


.forml { 
width: 98% ;
margin-top: 2px;
margin-bottom: 15px;
background: #BFDBD6 url("images/header/fond-degrade-clair.png") scroll repeat-x top left;
}


.forml:focus { 
background: #EEE ;
}


.spip_encadrer {
	width : 90%;
	background-color: #F6FAFA;
	padding: 15px;
	border: 1px  solid #336666;
	margin: 25px auto 25px auto;
}

.spip_encadrer label{
 font-weight:bold;
color:#336666;
cursor: pointer;
}

.erreur{
	color: #993333;
}

.spip_cadre {
	width : 95%;
	background-color: #E6F0F0;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #006666;
}

div.spip_poesie {
	margin-bottom: 5px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #999999;
}
div.spip_poesie div {
	text-indent: -60px;
	margin-left: 60px;
}

.spip_bouton { background-color: #006666;
color: #FFF;}

form.formrecherche { 
	margin-top: 5px;
	margin-bottom: 5px;
}
input.formrecherche {
	width: 95%;
	background-color: White;
}

.reponse_formulaire {
	font-weight: bold;
	color: #660000;
}

.spip_surligne { background-color: #FFCCCC; color: #000;}


/*
 * Barre de raccourcis
 */

a.spip_barre img {
	border-left: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 3px;
	background-color: #F3F3F3;
}
a.spip_barre:hover img {
	border: 1px solid #808080;
	padding: 3px;
	background-color: #f8f8f4;
}
