<plugin>
<nom>Squelettes Chez Nous</nom>
<auteur>[romy.tetue.net->http://romy.tetue.net]</auteur>
<licence>&copy; 2009 GPL</licence>
<version>5.0</version>
<etat>dev</etat>
<description>
{{ATTENTION, cette version EN TRAVAUX !}}
_ Jeu de squelettes pr&ecirc;ts &agrave; l'emploi pour site de maison : visite des lieux, pr&eacute;sentation des habitants, chronique et livre d'or.
</description>
<lien>http://www.spip-contrib.net/spip.php?rubrique1058</lien>
<prefix>cheznous</prefix>
<fonctions>cheznous_fonctions.php</fonctions>
<categorie>squelette</categorie>
<necessite id='SPIP' version='[2.0.0;]' />
<necessite id='galerie_carree' version='[0;]' />
<utilise id='tetue_trousse' version='[0;]' />
</plugin>