<plugin>
<nom>Squelettes Chez Nous</nom>
<slogan>Squelettes pour site de maison</slogan>
<auteur>[romy.tetue.net->http://romy.tetue.net]</auteur>
<licence>&#169; 2009-2011 - GPL</licence>
<version>5.1.1</version>
<etat>dev</etat>
<description>
{{ATTENTION, cette version est EN TRAVAUX !}}
_ Jeu de squelettes pr&#234;ts &#224; l'emploi pour site de maison : visite des lieux, pr&#233;sentation des habitants, chronique et livre d'or.
</description>
<lien>http://www.spip-contrib.net/spip.php?rubrique1058</lien>
<prefix>cheznous</prefix>
<fonctions>cheznous_fonctions.php</fonctions>
<categorie>squelette</categorie>
<necessite id='SPIP' version='[2.0.0;2.1.99]' />
<utilise id='tetue_trousse' version='[0;]' />
<necessite id="courtcircuit" version="[0;]" />
<necessite id='galerie_carree' version='[0.2.1;]' />
</plugin>
