<plugin>
	<nom>Aveline : collection de noisettes</nom>
	<auteur>[Joseph->http://www.spip-contrib.net/Joseph]</auteur>
	<icon>img/aveline-128.png</icon>
	<licence>GNU/GPL</licence>
	<version>1.3.15</version>
	<version_base>0.3.8</version_base>
	<etat>test</etat>
	<description>Collection de noisettes hautement param&eacute;trables et compatibles avec les th&egrave;mes Z.</description>
	<lien>http://www.spip-contrib.net/?article3466</lien>
	<prefix>aveline</prefix>
	<fonctions>aveline_fonctions.php</fonctions>
	<pipeline>
		<nom>noizetier_config_export</nom>
		<inclure>aveline_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>noizetier_config_import</nom>
		<inclure>aveline_pipelines.php</inclure>
	</pipeline>
	<install>base/aveline_installation.php</install>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.1;]" />
	<necessite id="spip_bonux" version="[2.2.17;]" />
	<necessite id="noizetier" version="[0.8.1;]" />
	<necessite id="saisies" version="[1.9.6;]" />
	<utilise id="agenda" version="[2.2.0;]" />
	<traduire module="aveline" gestionnaire="salvatore" reference="fr" />
	<traduire module="avelinepublic" gestionnaire="salvatore" reference="fr" />
</plugin>