<plugin>
	<nom>Aveline - squelettes Z sous forme de noisettes</nom>
	<auteur>
	[Joseph->http://www.spip-contrib.net/Joseph]
	Pour les diff&eacute;rentes contributions int&eacute;gr&eacute;es dans Aveline, voir [SPIP-Contrib->http://www.spip-contrib.net/?article3466]
	</auteur>
	<icon>img/aveline-128.png</icon>
	<licence>GNU/GPL</licence>
	<version>0.1</version>
	<etat>dev</etat>
	<description>Un squelette Z dont l'ensemble des contenus sont g&eacute;r&eacute;s sous forme de noisettes configurables avec le noiZetier.
	<p><b>ATTENTION : il s'agit d'un prototype &agrave; des fins de tests. Ne pas utiliser sur un site en production. Seules quelques noisettes sont pour le moment disponibles.</b></p>
	Les ic&ocirc;nes sont issues du [plugin bandeau->http://zone.spip.org/trac/spip-zone/browser/_plugins_/bandeau]  et de collection {black and white} de [carpelinx->http://www.carpicon.com/index.php?option=com_content&task=view&id=6&Itemid=26].
	</description>
	<lien>http://www.spip-contrib.net/ecrire/?exec=naviguer&id_rubrique=1355</lien>
	<prefix>aveline</prefix>
	<pipeline>
		<nom>recuperer_fond</nom>
		<inclure>aveline_pipelines.php</inclure>
	</pipeline>
	<fonctions>aveline_fonctions.php</fonctions>
	<options>aveline_options.php</options>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.10;]" />
	<necessite id="Z" version="[1.5.1;]" />
	<necessite id="noizetier" version="[0.3;]" />
	<necessite id="yaml" />
	<necessite id="saisies" />
	<utilise id="menus" version="[0.8.2;]" />
	<utilise id="comments" />
	<utilise id="contact" />
	<utilise id="lettres" />
</plugin>