<plugin>
	<nom>Gestion des habillages d&#8217;EVA</nom>
	<slogan>G&#233;rer les habillages d&#8217;EVA</slogan>
	<auteur>Olivier Gautier, Samuel Bocharel, &#233;quipe de d&#233;veloppement EVA-web</auteur>
	<licence>[CC-BY->http://creativecommons.org/licenses/by/2.0/fr/]</licence>
	<version>1.0.0</version>
	<version_base>0.3</version_base>
	<etat>stable</etat>
	<description>
	Gestion automatique des habillages d&#8217;EVA par un administrateur du site.
	</description>
	<lien>http://www.eva-web.edres74.ac-grenoble.fr/spip.php?rubrique7</lien>
	<prefix>eva_habillage</prefix>
	<options>eva_habillage_mes_options.php</options> 
	<pipeline>
	        <nom>ajouter_boutons</nom>
	        <action>AjouterBoutons</action>
		<inclure>eva_habillage_pipeline.php</inclure>
	</pipeline>
	<categorie>squelette</categorie>
	<necessite id="spip" version="[1.9.2;2.0.99]" />
</plugin>

