<plugin>
	<nom> <!-- Nom du plugin -->
	Gestion des habillages d'EVA
	</nom>
	<auteur>

    Olivier Gautier, Samuel Bocharel, &eacute;quipe de d&eacute;veloppement EVA-web.

    <br/>Cette <a href="http://purl.org/dc/dcmitype/InteractiveResource" rel="dc:type">cr&eacute;ation</a> est mise &agrave; disposition sous un <a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/">contrat Creative Commons</a>.

    <br />&nbsp;<br /><div style="text-align:center;"><a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/2.0/fr/88x31.png"/></a></div>

	</auteur>
	<version>
	1.0
	</version>

    <version_base>0.3</version_base>
	<etat>
	stable
	</etat>

    <description>

    Gestion automatique des habillages d'EVA par un administrateur du site.<br />

    <strong>A utiliser avec SPIP 1.9.2</strong><br />

    Documentation sur le site <a href="http://www.eva-web.edres74.ac-grenoble.fr/spip.php?rubrique7">eva-web.edres74.ac-grenoble.fr</a>

    </description>

    <prefix>

    eva_habillage

    </prefix>

    <options> <!-- fichier charge a chaque hit --> 

    eva_habillage_mes_options.php

    </options> 

    <pipeline>

        <nom>ajouter_boutons</nom>
        <action>AjouterBoutons</action>
		<inclure>eva_habillage_pipeline.php</inclure>

    </pipeline>
    <categorie>squelette</categorie>

</plugin>

