<plugin>
	<nom>
		Nom de mon Th&#232;me - My Theme's name
	</nom>
	<auteur>
		[Votre_nom->http://www.votre-domaine.net] - &#169; 2006 - Licence GNU/GPL
	</auteur>
	<version>
		0.1
	</version>
	<etat>
		stable
	</etat>
	<description>
    <multi>
    	My personnal theme.
    [fr]
		Mon theme personnel.
    </multi>
	</description>
	 <prefix>theme</prefix>
</plugin>