<plugin>
	<nom>MiniGriSpip</nom>
	<slogan>
		<multi>
			[fr]Un squelette simple pour d&#233;couvrir SPIP
		</multi>
	</slogan>
	<auteur>Fredo Mkb</auteur>
	<version>1.6.0</version>
	<etat>stable</etat>
	<prefix>minigrispip</prefix>
	<licence>GPL</licence>
	<description>
	MiniGriSpip est un squelette simple et sobre fait par un d&#233;butant pour les d&#233;butants, bas&#233; sur le squelette Minimal-SPIP, mais avec quelques modifications pour une adaptation &#224; l'&#233;volution de SPIP. 
	</description>

	<lien>https://contrib.spip.net/spip.php?article2153</lien>

	<licence>GNU/GPL - (c) 2006-2011</licence>

	<necessite id="spip" version="[2.0.0;3.0.99]" />

	<utilise id="menus" version="[0.8.29;]" />
	<utilise id="crayons" version="[1.13.0;]" />

	<icon>images/logomgs032.png</icon>

	<categorie>squelette</categorie>

</plugin>
