<plugin>
	<nom>MiniGriSpip</nom>
	<slogan>
		<multi>
			[fr]Un squelette simple pour d&#233;couvrir SPIP
		</multi>
	</slogan>
	<auteur>Fredo Mkb</auteur>
	<version>2.0.10</version>
	<etat>stable</etat>
	<prefix>minigrispip</prefix>
	<licence>GPL</licence>
	<description>
	MiniGriSpip est un squelette simple et sobre fait par un d&#233;butant pour les d&#233;butants, bas&#233; sur le squelette Minimal-SPIP, mais avec quelques modifications pour une adaptation &#224; l&#8217;&#233;volution de SPIP. La version 1 du squelette (pour spip 1.9) a &#233;t&#233; document&#233;e sur le site original de MiniGriSPIP: [->http://fredomkb.free.fr/spip/]. 

La version 2 est bas&#233;e sur une adaptation de {{MiniGriSpip 1.2}} &#224; SPIP 2. ATTENTION, Les fonctionnalit&#233;s des versions 1.4 et 1.6 ne sont PAS reprises dans la pr&#233;sente version. Voir le site [->http://minigrispip.brubel.net] pour en savoir plus.
	</description>

	<lien>https://contrib.spip.net/Squelette-MiniGriSpip-2-0,3934</lien>

	<licence>GNU/GPL - (c) 2006-2011</licence>

	<necessite id="spip" version="[2.0.0;3.1.99]" />

	<utilise id="menus" version="[0.8.29;]" />
	<utilise id="crayons" version="[1.13.0;]" />

	<icon>images/logomgs032.png</icon>

	<categorie>squelette</categorie>

</plugin>