/*
  Copie du 2011-12-20 11:18:25 par Suske
  Fichier original plugins/minigrispip_2/print.css
*/
#mgs_bandeau {border:none;height:auto;margin:0; padding:0;}
.mgs_menu_tete,.formulaire_spip {display:none;}
#mgs_navigation,#spip-admin {display:none;}
#mgs_page,#mgs_principal,#mgs_hierarchie, #mgs_corps, .mgs_menu {margin:0;border:none;width:auto;display:inline;}
.mgs_menu_titre, h3.mgs_titre,p.mgs_infos {margin:0;}
.mgs_menu li {list-style: none outside none;border-bottom:5px;}
.mgs_menu_item_0 {display:inline;}
li.mgs_menu_item_forum,.mgs_forum_message {display:inline;}
.mgs_texte,.mgs_article {display:inline;}
