<plugin>
	<nom>Squelette SoyezCreateurs pour SPIP 2.1</nom>
	<auteur>
	[Jacques->http://www.spip-contrib.net/_Jacques-PYRAT_] 
_ &#169; 2003-2009 - Distribu&#233; sous licence GPL (m&ecirc;me num&eacute;ro que celle de SPIP)
	</auteur>
	<lien>[Documentation->http://www.spip-contrib.net/SoyezCreateurs,1237?tri_articles=titre]</lien>
	
	<version>3.4.1</version>
	<version_base>3.0.13</version_base>
	
	<etat>stable</etat>
	<description>
	Ce plugin active ou d&eacute;sactive le squelette {{SoyezCreateurs}}.
	
	[Exemple d'utilisation et documentation->http://www.pyrat.net/].
	</description>
	<icon>img_pack/soyezcreateurs_48.png</icon>

 	<prefix>soyezcreateurs</prefix>

	<install>base/soyezcreateurs_install.php</install>
	
	<bouton id='soyezcreateur_config' parent='configuration'>
		<icone>img_pack/soyezcreateurs.png</icone>
		<titre>soyezcreateurs:configurersc</titre>
		<url>cfg</url>
		<args>cfg=soyezcreateurs</args>
	</bouton>
	<bouton id='soyezcreateur_aide' parent='aide_index'>
		<icone>img_pack/soyezcreateurs_help-24.png</icone>
		<titre>soyezcreateurs:aidesc</titre>
		<url>sc_aide</url>
	</bouton>
	<bouton id='soyezcreateur_config21' parent='bando_configuration'>
		<icone>images/soyezcreateurs-16.png</icone>
		<titre>soyezcreateurs:configurersc</titre>
		<url>cfg</url>
		<args>cfg=soyezcreateurs</args>
	</bouton>
	<bouton id='sc_aide' parent="bando_squelette">
		<icone>images/soyezcreateurs_help-16.png</icone>
		<titre>soyezcreateurs:aidesc</titre>
		<url>sc_aide</url>
	</bouton>
	
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>soyezcreateurs_pipelines.php</inclure>
	</pipeline>
	
	<options>soyezcreateurs_options.php</options>
	<fonctions>soyezcreateurs_fonctions.php</fonctions>
	<categorie>squelette</categorie>
	<necessite id='SPIP' version='[2.1.2;]' />
	<necessite id="cfg" version="[1.15.2;]" />
	<necessite id="saisies" version="[1.7.2;]" />
	<necessite id="Fonctions_images" version="[0.5.1;]" />
	<necessite id="spip_bonux" version="[2.2.7;]" />
	<necessite id="gestdoc" version="[1.4.1;]" />
	<utilise id="bando" version="[1.1.4;]" />
	<utilise id="slogan" version="[2.0.2;]" />
	<utilise id="acronymes" version="[0.13;]" />
	<utilise id="Agenda" version="[2.1.6;]" />
	<utilise id="AccesRestreint" version="[3.0.1;]" />
	<utilise id="Accessibilite" version="[0.8;]" />
	<utilise id="article_pdf" version="[0.2;]" />
	<utilise id="Autorite" version="[0.9.7;]" />
	<utilise id="boutonstexte" version="[0.3.3;]" />
	<utilise id="clevermail" version="[2.5.1;]" />
	<utilise id="facteur" version="[1.5.9;]" />
	<utilise id="crayons" version="[1.9.0;]" />
	<utilise id="couteau_suisse" version="[1.8.22.00;]" />
	<utilise id="forms" version="[0.306;]" />
	<utilise id="forum" version="[0.1;]" />
	<utilise id="Fulltext" version="[0.3;]" />
	<utilise id="mediabox" version="[0.6.4;]" />
	<utilise id="queue" version="[0.5.2;]" />
	<utilise id="savecfg" version="[2.6;]" />
	<utilise id="sedna" version="[1.2;]" />
	<utilise id="typoenluminee" version="[3.1.3;]" />
	<utilise id="gis" version="[0.2;]" />
	<utilise id="geomap" version="[0.2;]" />
	<utilise id="ppp" version="[1.0.2;]" />
	<utilise id="mll" version="[1.0.0;]" />
	<utilise id="noie" version="[1.2;]" />
	<utilise id="nospam" version="[0.8.3;]" />
	<utilise id="notifications" version="[0.5.3;]" />
	<utilise id="openid" version="[1.1.5;]" />
	<utilise id="critere_mots" version="[1.2.3;]" />
	<utilise id="rainette" version="[1.3;]" />
	<utilise id="gravatar" version="[1.0.3;]" />
	<utilise id="nuage" version="[1.5;]" />
	<utilise id="splickr" version="[0.4;]" />
	<utilise id="comments" version="[2.1.4;]" />
	<utilise id="contact" version="[0.62;]" />
	<utilise id="previsu_redac" version="[1.0;]" />
	<utilise id="protection_formulaires" version="[0.2;]" />
	<utilise id="skeleditor" version="[2.0.0;]" />
	<utilise id="eva_freemind" version="[1.2;]" />
	<utilise id="inserer_modeles" version="[0.2;]" />
	<utilise id="Player" version="[0.75;]" />
	<utilise id="notation" version="[0.7.1;]" />
	<utilise id="socialtags" version="[0.9.5;]" />
	
	<chemin dir='' />
</plugin>
