<plugin>
	<nom> <!-- Nom du plugin -->
	Gestion des mentions l&eacute;gales
	</nom>
	<auteur>
    Samuel Bocharel, &eacute;quipe de d&eacute;veloppement Eva-WEB.<br/>
	 <a rel="Eva-web" class="spip_out" href="http://eva-web.edres74.net">http://eva-web.edres74.net</a><br/>
    Cette r&eacute;alisation est mise &agrave; disposition sous licence GNU GPL.
    <br />&nbsp;<br /><div style="text-align:center;"><a rel="licence" class="spip_out" href="http://www.april.org/gnu/gpl_french.html"><img alt="Licence GNU GPL" style="border-width:0" width="80" height="100" src="http://www.fsf.org/graphics/philosophical-gnu-sm.jpg"/></a></div>
	</auteur>
	<version>
	1.0
	</version>
    <version_base>0.1</version_base>
	<etat>
	stable
	</etat>
	<description>
    Permet de g&eacute;rer les informations li&eacute;es &agrave; la page de mentions l&eacute;gales avec les squelettes eva-web 4.0<br/>
    Ce plugin n&eacute;cessite le plugin
    <a rel="Eva-web" class="spip_out" href="http://www.spip-contrib.net/Coder-un-plugin-simple-avec-cfg">CFG</a> pour fonctionner.
	</description>
	
    <prefix>
    evamentions
    </prefix>

    <necessite id='cfg' version='[1.0.12;]' />
    <necessite id='spip' version='[1.9.3;]' /> 
    
    <bouton id='eva_mentions_admin' parent='configuration'>
        <icone>img_pack/install.png</icone>
        <titre>Mentions legales</titre>
    </bouton>
    
</plugin>
