<plugin>
	<nom>Gestion des mentions l&#233;gales</nom>
	<slogan>G&#233;rer la page de mentions l&#233;gales avec eva-web 4.0</slogan>
	<auteur>Samuel Bocharel, Olivier Gautier, &#233;quipe de d&#233;veloppement Eva-WEB</auteur>
	<lien>http://eva-web.edres74.net</lien>
	<licence>GNU/GPL</licence>
	<version>1.1.0</version>
	<version_base>0.1</version_base>
	<etat>stable</etat>
	<description>
Permet de g&#233;rer les informations li&#233;es &#224; la page de mentions l&#233;gales avec les squelettes eva-web 4.0
	</description>
	<prefix>evamentions</prefix>
	<necessite id="cfg" version="[1.0.12;]" />
	<necessite id="spip" version="[2.0.0;2.1.99]" /> 
    	<bouton id="eva_mentions_admin" parent="configuration">
        	<icone>img_pack/install.png</icone>
        	<titre>Mentions legales</titre>
	</bouton>
	<categorie>squelette</categorie>
	<bouton id="eva_mentions_bando" parent="bando_squelette">
		<icone>img_pack/install_24.png</icone>
		<titre>Mentions legales</titre>
		<url>eva_mentions_admin</url>
	</bouton>    
</plugin>
