@import "css/variables.less";
@import "css/carousel.less";

body { padding-top: 50px; }

// Typographie
@font-face {
  font-family: 'SansationRegular';
  src: url('fonts/Sansation_Regular-webfont.eot');
  src: url('fonts/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/Sansation_Regular-webfont.woff') format('woff'),
  url('fonts/Sansation_Regular-webfont.ttf') format('truetype'),
  url('fonts/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Titre et slogan
h1 small {color: @grayLighter}

// Menus
.navbar {
  font-family: @sansFontFamily;
  font-size: 130%;
  background-color: @bleuclair;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  background-color:@bleuextraclair;
  color:@extrawhite;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}
.menu_visiteur li.accueil span { visibility:hidden; }
.menu_visiteur li.accueil a { background-image: url(img/bouton_spip_off-32.png); background-position:center; background-repeat: no-repeat}
.menu_visiteur li.accueil a:hover { background-image: url(img/bouton_spip_on-32.png); background-position:center; background-repeat: no-repeat}

// Footer "etapes"
.menu_etapes .titre {}
.menu_etapes .done {color:@jauneclair}
.menu_etapes li {margin:auto 1em;}
.menu_etapes li:after {content:"  >"}
.menu_etapes li:last-child:after {content:none}

// Fil d'Ariane
.fil_ariane.hierarchie.breadcrumb {background-color: transparent;}

// Centrage des blocs ul portant la class "center"
.center.navbar .nav,
.center.navbar .nav > li {float:none;display:inline-block;*display:inline; /* ie7 fix */*zoom:1; /* hasLayout ie7 trigger */vertical-align: top;}
.center .navbar-inner { text-align:center; }

// Les onglets bootstrap-tabs
.nav-tabs .active a { color: @white;}
