<plugin>
	<nom>Squelette JQuery Vittori's</nom>
	<slogan>
		<multi>
		[fr] Squelette Vittori's pour SPIP.
		[en] Vittori's skeleton for SPIP.
		</multi>
	</slogan>
	<auteur>
		[Mary Lou->http://tympanus.net/codrops/2011/04/21/restaurant-template/],
		[Grégory Pascal->https://contrib.spip.net/ngombe]
	</auteur>
	<version>0.0.2</version>
	<licence>GNU/GPL</licence>
	<etat>test</etat>
	<description>
		<multi>
		[fr]Ce plugin active ou d&eacute;sactive le squelette Vittori's.
		[en]This plugin activate Vittori's skeleton.
		</multi>
	</description>
	<icon>images/vittory-64.png</icon>
	<lien>https://contrib.spip.net/Vittory-s</lien>
	<prefix>vittory</prefix>
	<bouton id="vittory" parent="configuration">
		<icone>images/vittory-24.png</icone>
		<titre>vittory:cfg_titre_boite</titre>
		<url>cfg</url>
		<args>cfg=vittory_accueil</args>
	</bouton>
	<bouton id='vittory2' parent='bando_squelette'>
		<icone>images/vittory-16.png</icone>
		<titre>vittory:cfg_titre_boite</titre>
		<url>cfg</url>
		<args>cfg=vittory_accueil</args>
	</bouton>
	<fonctions>vittory_fonctions.php</fonctions>
	<options>vittory_options.php</options>
	<pipeline>
		<nom>insert_head</nom>
		<inclure>vittory_pipelines.php</inclure>
	</pipeline>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version='[2.0.0;3.0.99]' />
	<necessite id='cfg' version='[1.0.4;]' />
	<utilise id="palette" />
	<utilise id="mediatheque" />
</plugin>