/* list */
#navigation ul li { display: inline !important; text-transform: uppercase; font-size: 9px; letter-spacing: 2px; padding: 0 0 0 10px; background: url(img/slash.png) 0 0 no-repeat; }
#navigation ul li:first-child { background: none }

/* pagination */
.navigation { float: left; margin: 0 20px 30px -2px; width: 100%; text-align: center; }
.pagination .sep { display: none; }
.pagination .lien_pagination,
.pagination .on { -moz-border-radius: 8px; -webkit-border-radius: 8px; border-radius: 8px; padding: 4px 10px 6px 10px; margin: 2px; width: 10px; background-color: #fff; }
.pagination .lien_pagination { background-color: #3cb5c7; color: #000; }
.pagination a:hover { background-color: #80c3cd }

/* comments */
.comments { margin: 0 0 30px 0; }
.comments h2 { margin: 50px 0 20px 0 }
.comments p { margin: 0 0 5px 0 }
.comments-list { padding: 0 90px 0 90px }
.comments-list li { margin: 0 0 30px 0 }
.comment-meta { text-transform: uppercase; font-size: 80%; letter-spacing: 2px; text-align: center; }
.comment .date { text-align: center; color: #999; }
.comment .boutons { opacity: .3; text-align: center; }
.comment .boutons:hover { opacity: 1; }

/* portfolio */
#documents_portfolio { text-align: center; }
#documents_portfolio li { display: inline; }
#documents_portfolio .spip_logos { float: none; border: 5px solid #fff; }

/* pied */
.col1 { float: left; margin: 0 20px 0 0; width: 200px; }
.col1 .content { float: left; width: 100%; background-color: #fff; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; text-align: left; }
.col1 .content .text { padding: 14px 15px 14px 15px; }
.col1 .content .nuage { text-align: center; }
.col1 .content ul { list-style: inside; color: #999; }
#credits { font-size: 80%; font-style: italic; line-height: 15px; padding: 0; margin: 30px 0 55px; text-align: center; }

/* contenu */
.cartouche { margin: 0 0 40px 0 }
.cartouche p { margin: 0; }
.entry img { max-width: 100%; height: auto; width: auto\9; /* ie8 */ }
.standard { font-size: 24px }
::-moz-selection { background: #bedfe1; color: #333; }
::selection { background: #bedfe1; color: #333; }

/* 2-line.css + 2-line_mobile.css */

#parallax-01,
#parallax-02,
#parallax-03,
#parallax-04,
#parallax-05,
#parallax-06,
#parallax-07 { position: fixed }
#balloons-01,
#balloons-02,
#balloons-03,
#balloons-04,
#balloons-05,
#balloons-06,
#balloons-07 { position: absolute }
#parallax-01 { z-index: 1 }
#balloons-01 { top: 204px; left: 124px; }
#parallax-02 { z-index: 2 }
#balloons-02 { top: 256px; left: 516px; }
#parallax-03 { z-index: 3 }
#balloons-03 { top: 158px; left: 532px; }
#parallax-04 { z-index: 1 }
#balloons-04 { top: 110px; left: 45px; }
#parallax-05 { z-index: 2 }
#balloons-05 { top: 219px; left: -72px; }
#parallax-06 { z-index: 3 }
#balloons-06 { top: 199px; left: 206px; }
#parallax-07 { z-index: 5 }
#balloons-07 { top: 2000px; left: 451px; }

/*
MAX-WIDTH 800px
*/
@media screen and (max-width: 800px) { 
    body { background: #eee url(img/balloons-00.png) no-repeat center 140px }
    #header { margin: 0 0 280px 0 }
}
/*
MAX-WIDTH 640px
*/
@media screen and (max-width: 640px) { 
    body { background: #eee url(img/balloons-06.png) no-repeat center -98px }
    #header { margin: 243px 0 30px 0 }
}