@font-face {
    font-family: 'Rosario';
    src: url('../polices/Rosario-Regular-webfont.woff2') format('woff2'),
         url('../polices/Rosario-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Rosario';
    src: url('../polices/Rosario-Italic-webfont.woff2') format('woff2'),
         url('../polices/Rosario-Italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'Sue Ellen Francisco';
    src: url('../polices/sueellenfrancisco-webfont.woff2') format('woff2'),
         url('../polices/sueellenfrancisco-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

html { font-size: 100.01%; }
body { color: #333; font-size: 1em; font-family: 'Rosario', 'Verdana', sans-serif; line-height: 1.5em; }

a:link,
a:active,
a:visited { -webkit-transition: color 0.25s ease-out; -moz-transition: color 0.25s ease-out; -o-transition: color 0.25s ease-out; transition: color 0.25s ease-out; outline: none; color: #3cb5c7; text-decoration: none; }
a:hover { color: #80c3cd }
h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Sue Ellen Francisco', 'Calibri', 'Times New Roman', cursive; font-weight: normal; text-align: center; }
h1 { font-size: 48px; line-height: 60px; text-transform: uppercase; margin: 0 0 15px 0; }
h2 { font-size: 30px; line-height: 35px; text-transform: none; margin: 0 0 10px 0; }
h3 { font-size: 25px; line-height: 30px; text-transform: none; margin: 0 0 10px 0; }
h4,
h5,
h6 { font-size: 16px; line-height: 20px; text-transform: none; margin: 0 0 5px 0; }
p { margin: 0 0 20px 0 }
blockquote { margin: 0; color: #b0b0b0; font-style: italic; }
.meta { text-align: center; font-style: italic; }
h3.spip { margin-bottom: 24px; }
abbr { border: 0; }
ul,
ol { margin: 0; padding: 0; }
ul { list-style-type: none }