/* --------------------------------------------------

   font.css
   Gestion des webfonts
  
  
 ----------------------------------------------------- */

/* Appelez vos webfonts ici */


/* http://www.fontsquirrel.com/fonts/alfa-slab */
/* font licence SIL : http://www.gnu.org/licenses/license-list.fr.html#SILOFL */
@font-face {
    font-family: 'chunkfiveroman';
    src: url('../font/chunkfive-webfont.eot');
    src: url('../font/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/chunkfive-webfont.woff2') format('woff2'),
         url('../font/chunkfive-webfont.woff') format('woff'),
         url('../font/chunkfive-webfont.ttf') format('truetype'),
         url('../font/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}