<plugin>
	<nom>Squelette Escal</nom>
	<auteur>
		[Jean-Christophe Villeneuve->http://www.spip-contrib.net/Escal] - &#169; 2007-2009 - Licence GNU/GPL   
	</auteur>
	<version>2.0.9</version>
	<etat>stable</etat>
	<description>
	  <multi>
		Activer ce {plugin} pour s&#233;lectionner le squelette {{Escal}} pour votre site.
	[en]
		Activate this plugin to enable {{Escal}} as the default template of your site.
	  </multi>
	</description>
	<lien>
		[Documentation : spip-contrib->http://www.spip-contrib.net/Escal]
	</lien>
	<prefix>escal</prefix>
	<chemin dir='' />
	<options>escal_options.php</options>
	<fonctions>escal_fonctions.php</fonctions>
	<necessite id='SPIP' version='[2.0.0;]' />
</plugin>