/**********************************

   theme.css
   Theme pour le squelette Bazar
   2015 - theme bazar - chankalan

 **********************************/

/**********************************
 * typo
 **********************************/
/* http://www.fontsquirrel.com/fonts/alfa-slab */
/* font licence SIL : http://www.gnu.org/licenses/license-list.fr.html#SILOFL */
@font-face {
    font-family: 'chunkfiveroman';
    src: url('../font/chunkfive-webfont.eot');
    src: url('../font/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/chunkfive-webfont.woff2') format('woff2'),
         url('../font/chunkfive-webfont.woff') format('woff'),
         url('../font/chunkfive-webfont.ttf') format('truetype'),
         url('../font/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-family:'chunkfiveroman',serif; font-weight:400; }



/**********************************
 * Entete et barre de navigation
 **********************************/
header.entete {  background:#B7B3AC; color:#000; }
.header { float:left; margin:0.35em 1em 0; padding:0; z-index:3; position:relative; }
.header .spip_logo { float: none; margin-bottom: 0; vertical-align: baseline; }
.header .spip_logo_site { display: block; margin: 0; line-height: 1; }
.header .spip_logo_site,
.header .spip_logo_site a,
.header .spip_logo_site a:hover { background: transparent; text-decoration:none; color:#222; }
.header .spip_logo_site a:hover  {color:#c85000;}
.header .spip_logo_site a:hover img {opacity:0.7;}
.header .spip_logo {margin-bottom:0;}
.header #slogan { margin: 0; display:none; position:absolute; bottom:-1em; background:#B7B3AC; }
.header:hover #slogan { display:block; }

.formulaire_menu_lang { position: absolute; right: 0; top: .9em; display: block; width: 30%; }

.nav { text-align:right; position:relative; }
.nav ul { margin:0; }
.nav li {display:inline;}
.nav li a { display: inline-block; padding:0.25em 0.5em; margin:0 0 0 0.25em; text-decoration: none; line-height:36px; background: transparent; color: #222; }
.nav li.on a { background:#c85000;color:#fff;  font-weight: normal; }
.nav li a:focus,
.nav li a:hover,
.nav li a:active, .btn-nav:hover, .btn-nav:active, .btn-nav:focus { background: #222; color:#fff; }
.btn-nav { position:absolute; top:0; left:-9999px; width:50px; height:50px; border-radius:5px; border:none; background:#c85000; font-size:0.7em; font-family:tahoma, arial, sans-serif; color:#B7B3AC; }
.ham { border-bottom:3px solid #b7b3ac; border-top:3px solid #b7b3ac; display:block; padding:3px 0 0; margin:3px 0 0; }
.btn-nav .ham:last-of-type { border-bottom:none; }



/**********************************
 * contenu 
 **********************************/
.arbo { font-size:70%; padding:0 16px; margin:0 0 1em; }
.arbo a, .arbo { color:#93908B; text-decoration:none; }
.arbo a:hover { color:#666; }

.cartouche { margin-bottom: 2em; }
p.info-publi, p.traductions { font-size:80%; }
p.info-publi { margin:0; }


/**********************************
 * page sommaire 
 **********************************/
.page_sommaire .main, .page_sommaire .main .wrapper, .page_sommaire .aside { width:100%; float:none; max-width:100%; margin:0; }
.page_sommaire .main { padding:0; }
.page_sommaire .content, .page_sommaire .aside {  padding:0; }
.page_sommaire .aside { /*padding-top:2em; border-top:2px solid #93908B;*/ }
.row { 
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-wrap: nowrap; /* Safari */
	flex-wrap:         nowrap;
	-webkit-justify-content: space-around; /* Safari */
	justify-content:         space-around;
}
.tile {
	min-height:260px;
	text-align:right;
	-webkit-flex-grow: 1; /* Safari */
	flex-grow:         1;
	background-size:cover;
	background-position:center;
	text-decoration:none;
/* 	margin:3px; */
/* 	border:1px solid #fff; */
}
.aside.row { 
	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap:         wrap;
}
.tile section { padding:1em; }
.tile:hover .h1, .row .tile:hover .introduction { opacity:.7; }
.tile .h1 { line-height:1.2em; }
.tile .img_article { width:100%; /*max-width:auto !important;*/  }
.tile .introduction { text-align:left; min-width:100px; max-width:700px; }
.tile .introduction p { margin-bottom:0.5em; }

.aside .tile { text-align:left; }
.aside .tile .formulaire_recherche  { border:none; margin:0; padding-top:1.5em; }

.nb_tile_1 .tile { text-align:center; }
.nb_tile_1 .tile .introduction { float:none; margin:0 auto; }
.nb_tile_2 .tile { max-width:50%; }
.nb_tile_3 .tile { max-width:33.36%; }
.nb_tile_4 .tile { max-width:25%; }
.nb_tile_5 .tile { max-width:20%; }

.aside .tile { min-height:0; }


/**********************************
 * page rubrique/article 
 **********************************/
.img_rubrique { text-align:center; }
.img_rubrique img { float:none; /*width:100%;*/ margin:0; }


/**********************************
 * aside + menu
 **********************************/
.aside .menu ul { list-style:none; margin:0; }
.aside .menu ul ul { margin:.1em 0 .4em; }
.aside .menu h2, .aside .menu h3 { margin:0 0 0.2em; }

.aside .menu li { margin:0 0 2px; line-height:1.2; }
.menu li a { padding:0.16em 0.5em; background:#B7B3AC; text-decoration:none; }
.aside .menu li a { display:block;  }
.menu li a.on, .menu li a:hover, .menu li a:active, .menu li a:focus { color:#c85000; }
.menu .spip_logo { margin:-0.2em -0.5em 10px 10px; }

.menu_articles .enclosures { line-height:1.8em; }

/* formulaire recherche */
.formulaire_recherche.formulaire_spip label { display:inline; }
.formulaire_recherche input.submit { background:#C9C5BF; border:0; color:#666; }
.formulaire_recherche input.submit:hover { color:#000; }
.formulaire_recherche input.text, .formulaire_recherche textarea { padding:0 0.2em; border-color:#C9C5BF; }
.formulaire_recherche .search.text { width: 40%; }

.formulaire_spip { margin-top:4em; padding-top:1em; border-top:1px solid #C9C5BF; font-size: 80%; color:#C9C5BF; }
.formulaire_spip:hover { color:#666; }
.formulaire_spip input.submit, .formulaire_spip .boutons input { border:1px solid #847C6F; border-radius:4px; padding:4px 8px; background:#CECAC4; color:#fff; }
.formulaire_spip:hover input.submit, .formulaire_spip:focus input.submit, .formulaire_spip:hover .boutons input { background:#847C6F; }
.formulaire_spip label { display:block; }
.formulaire_spip .choix label, .formulaire_spip .choix_mots label { display:inline; }
.formulaire_spip textarea { width:100%; }

.formulaire_spip.formulaire_recherche input.submit { border:none; padding:0; border-radius:0; }


/**********************************
 * petits et grands ecrans
 **********************************/
@media (max-width:1300px) {
	.row.nb_tile_5 { 
		-webkit-flex-wrap: wrap; /* Safari */
		flex-wrap:         wrap;
	}
	.row.nb_tile_5 .tile { max-width:25%; }
	.row.nb_tile_5 .tile:first-child { max-width:100%; }

}
@media (max-width:1023px) {
	.row.nb_tile_4, .row.nb_tile_5 { 
		-webkit-flex-wrap: wrap; /* Safari */
		flex-wrap:         wrap;
	}
	.row.nb_tile_4 .tile, .row.nb_tile_5 .tile { max-width:50%; }
}
@media (max-width:767px) {
	.row.nb_tile_3 { 
		-webkit-flex-wrap: wrap; /* Safari */
		flex-wrap:         wrap;
	}
	.row.nb_tile_3 .tile { max-width:100%; min-height:0; -webkit-align-self: auto; /* Safari */  align-self:auto; }
	.header { margin-right:68px; }
	.nav { padding-right:50px; min-height:66px; }
	.btn-nav { top:8px; left:auto; right:8px; }
	.nav ul { margin:0; position:absolute; right:-100%; top:66px; width:100%; height:0; text-align:left; z-index:2;
		-webkit-transition:  right 0.4s; /* Chrome, Safari, Opera */
		transition: right 0.4s;
	}
	.nav li { display:block; }
	.nav li a { display:block; background:#b7b3ac; margin:0; }/* animation du menu sous 768px de largeur ecran, cf js/script.js */
	.nav ul.ouvert { height:auto; right:0; }
}
@media (max-width:479px) {
	.row.nb_tile_2 { 
		-webkit-flex-wrap: wrap; /* Safari */
		flex-wrap:         wrap;
	}
	.row.nb_tile_2 .tile,
	.row.nb_tile_4 .tile,
	.row.nb_tile_5 .tile { max-width:100%; }
	.tile { min-height:0; -webkit-align-self: auto; /* Safari */  align-self:auto; }
	.footer .colophon { width: 50%; }
}

