<plugin>
	<nom>Squelette Sarka-SPIP 3</nom>
	<auteur>
		SarkAFeeK (Toufik), SarkALeoN (Sylvain), SarkARchimeD (Xavier), SarkASmeL (Eric), SarkANosS (Pascal)<br />
		&copy; 2007-2008 - Distribu&eacute; sous licence GPL
	</auteur>
	<version>3.0.0 beta2</version>
	<etat>dev</etat>
	<icon>images/sarka-icone.png</icon>
    
	<description>
{{Ce plugin active ou d&eacute;sactive le squelette Sarka-SPIP }} :<br />
Il vous suffit de cocher ou d&eacute;cocher la case ci-contre.<br />
Consulter la rubrique [Sarka-Zone->http://www.sarka-spip.com/spip.php?rubrique156] pour apprendre &agrave; installer le squelette et la rubrique 
[Sarka-Doc->http://www.sarka-spip.com/spip.php?rubrique136] pour apprendre &agrave; le configurer et &agrave; l'utiliser.<br /><br />
Cette version est compatible avec SPIP 2. Pour les versions 1.9.2 de SPIP utiliser Sarka-SPIP 2.
	</description>

	<lien>[Site Sarka-SPIP->http://www.sarka-spip.com]</lien>
	<prefix>SarkaSpip</prefix>
	<fonctions>sarkaspip_fonctions.php</fonctions>
	<options>sarkaspip_options.php</options>
	<bouton id='Sarka_Accueil_config' parent='configuration'>
	<icone>images/sarka-icone.png</icone>
		<titre>Configurer Sarka-Spip</titre>
		<url>cfg</url>
		<args>cfg=sarkaspip_accueil</args>
	</bouton>
	
	<necessite id="SPIP" version="[1.9.3;)" />
	<necessite id="cfg" version="[1.7.6;)" />
	<utilise id="agenda" />
	<utilise id="rainette" />
</plugin>
