/* 
	Codes couleurs GESHI 
	utilisés dans un bloc de couleur de fond #003E4B 
	avec un contraste minimum de 4.5
*/

.spip .imp {font-weight: bold; color: #FF8282;}
.spip .coMULTI {color: #AF9C9C; font-style: italic;}
.spip .es0 {color: #A8B7E0; font-weight: bold;}
.spip .re0 {color: #F97E32;}
.spip .re1 {color: #FFAB00;} /* #BALISE */
.spip .re2 {color: #72A9FB;}
.spip .re4 {color: #FF82B7;} /* crochets et parenthèses */
.spip .re10 {color: #72A9FB;}
.spip .re11 {color: #72A9FB;} /* <BOUCLE_ */
.spip .re12 {color: #7ED9FF;} /* (TABLES) */
.spip .re13 {color: #BFAFFF;}
.spip .re15 {color: #72A9FB;}
.spip .re20 {color: #6CA0FB;}
.spip .re21 {color: #EDE199}
.spip .re22 {color: #BB9B75;}
.spip .re23 {color: #EDE199;}
.spip .re30 {color: #DEFF00}
.spip .re31 {color: #DEFF00}
.spip .re40 {color: #DEFF00;} /* {argument} */
.spip .re41 {color: #DEFF00;}
.spip .re50 {color: #FE7A3A;} /* |filtre */
.spip .re102 {color:#FF7968; font-weight:bold;}
.spip span.xtra { display:block; }

.php .imp {font-weight: bold; color: #FF8282;}
.php .de1 {color: #FFFFFF;} /* textes */
.php .kw1 {color: #4BBAFF;} /* return if else for */
.php .kw2 {color: #4BBAFF;} /* function true false */
.php .kw3 {color: #EDE199;} /* array isset define */
.php .co1 {color: #AEAEAE;} /* // commentaire */
.php .co2 {color: #AEAEAE;}
.php .co3 {color: #FFC10E;} /* <<<EOF */
.php .co4 {color: #00bbdd;}
.php .coMULTI {color: #AF9C9C; font-style: italic;}
.php .es_h {color: #00bbdd; font-weight: bold;}
.php .br0 {color: #EDE199;} /* () {} */
.php .sy0 {color: #EDE199;} /* , ! = ->  & */
.php .st0 {color: #FFC10E;} /* "chaine" */
.php .st_h {color: #FFC10E;} /* 'chaine' */
.php .nu0 {color: #DF7BE1;} /* 109 */
.php .nu8 {color: #1DB3A7;}
.php .nu12 {color: #1DB3A7;}
.php .nu19 {color:#DF7BE1;} /* 0 */
.php .me1 {color: #FE7A3A;} /* cle : $tab->cle */
.php .me2 {color: #FE7A3A;}
.php .re0 {color: #FE7A3A;} /* $param : function f($param) */
.php span.xtra { display:block; }

.xml .imp {font-weight: bold; color: #FF8282;}
.xml .es_h {color: #A8B7E0; font-weight: bold;}
.xml .br0 {color: #66cc66;}
.xml .sy0 {color: #66cc66;}
.xml .st0 {color: #C9CA37;} /* <x y='valeur' /> */
.xml .sc-1 {color: #aaaaaa; font-style: italic;}
.xml .sc0 {color: #00bbdd;}
.xml .sc1 {color: #EDE199;} /* entités &machin; */
.xml .sc2 {color: #58ADB5;}
.xml .sc3 {color: #aaaaaa;} /* = (attr='valeur') */
.xml .re0 {color: #7BCA2A;} /* <x attribut='z' /> */
.xml .re1 {color: #7EBAFF;} /* <balise */
.xml .re2 {color: #7EBAFF;} /* /> */
.xml span.xtra { display:block; }

.css .imp {font-weight: bold; color: #FF8282;}
.css .kw1 {color: #EDE199; font-weight: bold;}
.css .kw2 {color: #F87B70;}
.css .co1 {color: #a1a100;}
.css .co2 {color: #FE7A3A; font-style: italic;}
.css .coMULTI {color: #aaaaaa; font-style: italic;}
.css .es_h {color: #A8B7E0; font-weight: bold;}
.css .br0 {color: #7BCA2A;}
.css .sy0 {color: #7BCA2A;}
.css .st0 {color: #C9CA37;}
.css .nu0 {color: #cc66cc;}
.css .re0 {color: #FFC10E;}
.css .re1 {color: #AF9C9C;}
.css .re2 {color: #7EBAFF;}
.css .re3 {color: #E78E09;}
.css span.xtra { display:block; }

.bash .imp {font-weight: bold; color: #FF8282;}
.bash .kw1 {color: #EDE199; font-weight: bold;}
.bash .kw2 {color: #F87B70; font-weight: bold;}
.bash .kw3 {color: #a1a100; font-weight: bold;}
.bash .co0 {color: #7EBAFF; font-style: italic;}
.bash .co1 {color: #cc66cc;}
.bash .co2 {color: #C9CA37; font-style: italic;}
.bash .es_h {color: #A8B7E0; font-weight: bold;}
.bash .br0 {color: #cc66cc; font-weight: bold;}
.bash .sy0 {color: #EDE199; font-weight: bold;}
.bash .st0 {color: #FFC10E;}
.bash .nu0 {color: #EDE199;}
.bash .re0 {color: #7BCA2A;}
.bash .re1 {color: #7BCA2A;}
.bash .re2 {color: #7BCA2A;}
.bash .re4 {color: #7BCA2A;}
.bash .re5 {color: #7BCA2A;}
.bash span.xtra { display:block; }

.html5 .imp {font-weight: bold; color: #FF8282;}
.html5 .sc2 {color: #58ADB5;} /* <balise ... > */
.html5 .kw1 {color: #7EBAFF;} /* balise */
.html5 .kw3 {color: #7BCA2A;} /* <x attribut='z' /> */
.html5 .sy0 {color: #aaaaaa;} /* = (attr='valeur'), et / */
.html5 .st0 {color: #C9CA37;} /* <x y='valeur' /> */
.html5 .sc1 {color: #EDE199;} /* entités &machin; */
.html5 .sc0 {color: #58ADB5;} /* Doctype */
.html5 .sc-1 {color: #aaaaaa; font-style: italic;} /* <-- ... --> */
.html5 .sc-2 {color: #aaaaaa; } /* <[[CDATA[ ... ]]> */
.html5 span.xtra { display:block; }

.html4strict .imp {font-weight: bold; color: #FF8282;}
.html4strict .sc2 {color: #58ADB5;} /* <balise ... > */
.html4strict .kw1 {color: #7EBAFF;} /* balise */
.html4strict .kw3 {color: #7BCA2A;} /* <x attribut='z' /> */
.html4strict .sy0 {color: #aaaaaa;} /* = (attr='valeur'), et / */
.html4strict .st0 {color: #C9CA37;} /* <x y='valeur' /> */
.html4strict .sc1 {color: #EDE199;} /* entités &machin; */
.html4strict .sc0 {color: #58ADB5;} /* Doctype */
.html4strict .sc-1 {color: #aaaaaa; font-style: italic;} /* <-- ... --> */
.html4strict .sc-2 {color: #aaaaaa; } /* <[[CDATA[ ... ]]> */
.html4strict span.xtra { display:block; }

.javascript .de0 {color: #58ADB5;} /* <script> ici </script> */
.javascript .de1 {color: #58ADB5;} /* <script> ici </script> */
.javascript .br0 {color: #EDE199;} /* ( ) { } */
.javascript .st0 {color: #C9CA37;} /* "valeur" */
.javascript .sy0 {color: #aaaaaa;} /* : */
.javascript .me1 {color: #FE7A3A;} /* .truc() */
.javascript .kw1 {color: #EDE199;} /* break, case, ... */
.javascript .kw2 {color: #4BBAFF;} /* false, true, false */
.javascript .kw3 {color: #7BCA2A;} /* __proto__, ... */
.javascript .kw4 {color: #7BCA2A;} /* Object, Function, ... */
.javascript .kw5 {color: #7BCA2A;} /* abstract, boolean, byte, ... */
.javascript .co1 {color: #aaaaaa; font-style: italic;} /* // */
.javascript .coMULTI {color: #AF9C9C; font-style: italic;} /* commentaires multiples */

.jquery .de0 {color: #58ADB5;} /* <script> ici </script> */
.jquery .de1 {color: #58ADB5;} /* <script> ici </script> */
.jquery .kw1 {color: #EDE199; font-weight: bold; } /* as, break, case, ...*/
.jquery .kw2 {color: #EDE199; font-weight: bold; } /* class, const, default, ... */
.jquery .kw3 {color: #EDE199;} /* alert, back, close, ... */
.jquery .kw4 {color: #4BBAFF;} /* jquery, each, size, ... */
.jquery .kw5 {color: #4BBAFF;} /* attr, removeAttr, ... */
.jquery .kw6 {color: #4BBAFF;} /* filter, not, slice, ... */
.jquery .kw7 {color: #4BBAFF;} /* append, appendTo, ... */
.jquery .kw8 {color: #4BBAFF;} /* css, offset, ... */
.jquery .kw9 {color: #4BBAFF;} /* ready, bind, ... */
.jquery .kw10 {color: #4BBAFF;} /* show, hide, ... */
.jquery .kw11 {color: #4BBAFF;} /* ajax, load, get, ... */
.jquery .kw12 {color: #4BBAFF;} /* support, browser, ... */
.jquery .me1 {color: #FE7A3A;} /* .truc() */
.jquery .br0 {color: #EDE199;} /* ( ) { } */
.jquery .st0 {color: #C9CA37;} /* "valeur" */
.jquery .sy0 {color: #aaaaaa;} /* : */
.jquery .co1 {color: #aaaaaa; font-style: italic;} /* // */
.jquery .co2 {color: #aaaaaa; font-style: italic;} /* commentaire */
.jquery .coMULTI {color: #AF9C9C; font-style: italic;} /* commentaires multiples */

.sql .kw1 { color: #4BBAFF; font-weight: bold; } /* SELECT, ... */
.sql .sy0 {color: #F87B70; font-weight: bold;} /* . , +  */
.sql .nu0 {color: #DF7BE1;} /* 109 */
.sql .br0 {color: #EDE199;} /* ( ) { } */
.sql .st0 {color: #C9CA37;} /* 'valeur' */
.sql .co1 {color: #aaaaaa; font-style: italic;} /* commentaire */
.sql .coMULTI {color: #AF9C9C; font-style: italic;} /* commentaires multiples */
