.page {
  margin: 0 auto;
  width: 960px;
}
.content {
  float: left;
  width: 760px;
}
.aside {
  float: right;
  width: 200px;
}
.extra {
  float: right;
  clear: right;
  width: 200px;
}
.footer {
  clear: both;
  width: 100%;
}
