.wrapper {
  float: left;
  width: 100%;
  margin-left: -200px;
}
.content {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 200px;
  margin-right: 0;
}
.aside {
  float: right;
  width: 200px;
}
.extra {
  clear: right;
  float: right;
  width: 200px;
}
.footer {
  clear: both;
  width: 100%;
}
