.page {
  margin: 0 auto;
  width: 960px;
}
.wrapper {
  float: left;
  width: 100%;
}
.content {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 300px;
  margin-right: 0;
}
.aside {
  float: left;
  width: 150px;
  margin-left: -960px;
}
.extra {
  float: left;
  width: 150px;
  margin-left: -810px;
}
.footer {
  clear: left;
  width: 100%;
}
