.wrapper {
  float: right;
  width: 100%;
  margin-left: -33%;
}
.content {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 33%;
  margin-right: 0;
}
.aside {
  float: left;
  width: 32.9%;
}
.extra {
  clear: left;
  float: left;
  width: 32.9%;
}
.footer {
  clear: both;
  width: 100%;
}
