/* -------------------------------------  GENERAL ------------------------------------- */

body
{
	/*background-image: url('../../IMG/background_inv.gif'); */
	background-repeat: repeat;
	/* background-attachment: fixed; */
	background-color: #EBEFBA;	
}

tr,td,th,table,body,p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	color: #484747;
	}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	margin-top: 25px;
}


h2 	{
	font-size: 15px;
	color: #7B173D;
	font-weight: bold;
}

h1 {
	font-size: 16px;
	color: #7B173D;
	font-weight: bold;
}


a,a:link,a:visited { 
text-transform: none;
color: #7B173D;
text-decoration: none;
}

a:hover {
text-transform: none;
color: #7B173D;
/*background-color: #FFFFFF;*/
text-decoration: none;}

/* ------------------------------------- SPIP ------------------------------------- */

.spip_logos {border: none;}

table.spip tr.row_first {
	background-color: #FCF4D0;
}

table.spip tr.row_odd {
	background-color: #C0C0C0;
}

table.spip tr.row_even {
	background-color: #F0F0F0;
}

table.spip td {
	padding: 1px;
	text-align: left;
	vertical-align: center;
}

hr.spip {
	margin: 30px 0px 30px 0px;
}

h3.spip {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	margin-top: 35px;
}

.image_logo {
	width: 5px;
	height: 5px;	
}

.formrecherche { text-align: left; width: 150; ; background-color: #FFFFFF; }
.formrecherche2 { text-align: left; width: 130; ; background-color: #FFFFFF; }

#spip, #spip_out, #spip_in #spip-admin {
	font-size: 11px;
	color: #484747;
	text-align: justify;
}

.spip, .spip_out, .spip_in .spip-admin {
	font-size: 11px;
	color: #484747;
	text-align: justify;
}

#div_left {
	text-align: left;
}

#div_right {
	text-align: right;
}

.formrecherche { 
	text-align: left; 
	vertical-align: top;
	width: 150; 
	background-color: #FFFFFF; 
}

.formrecherche2 { 
	text-align: left;
	width: 130;
	background-color: #FFFFFF; 
}

/* ------------------------------------- RESEAU ------------------------------------- */

#Principale_reseau {
	width:990px;
	float: left;
	border: 0px solid #000000;
	}
	
#Colonne_1_reseau {
	float: left;
	width: 670px;
	border: 0px solid #000000;
	}

#Colonne_2_reseau {
	margin-left: 700px;
	width: 280px;
	padding: 1em;
	border: 0px solid #000000;
	}

#Articles_reseau {
	width:92%;
	}
	
#Articles_reseau_normal {
	width:96%;
	}

#Edito_reseau {
	width:95%;
	padding:0px 15px 0px 20px;
	}
	
#Edito_reseau2 {
	width:40%;
	}	

#Articles_img_reseau 
{
	float: left;
	width: 100px;
	padding:0px 0px 0px 20px;
}

#Articles1_reseau {
	margin-left: 120px;
	}

#Article_normal_img_reseau {
	float: left;
	width: 90px;
	padding:0px 0px 0px 3px;
	}
	
#Article_normal_reseau {
	margin-left: 90px;
	}

#Articles2_reseau {
		margin-left: 150px;
		width: 450px;

	}
	
#Articles_normals_reseau {
	width:646px;
	}
		
#Bordure {
	background-image: url(../IMG_v2/trait_gris_horiz.gif);
	width: 100%;
	height: 8px;
	}
	
#Recherche_img_reseau {
	float: left;
	width: 80px;
	}
	
#Recherche_reseau {
	margin-left: 90px;	
	}
	
#Web_reseau {
	background-color:#FFEACB;
	border-width:1pt; 
	border-style:solid; 
	border-color:#9FA827; 
	padding:20pt; 
	text-align:justify;
	}
	
#Bloc_une {
	/*background-image: url(../../IMG/AMR_logo(3)_150_transp.jpg);*/
	background-repeat: repeat;
	background-color:#FFEACB;
	border-width:1pt; 
	border-style:solid; 
	border-color:#9FA827; 
	padding:20pt; 
	text-align:justify;
	}
	
#Agenda_reseau {
	border-width:0pt; 
	border-style:solid;
	border-color:#9FA827; 
	}
	
.spacer {
  clear: both;
}


.bloc_droite
{
float: right;
align: right;
}

/* -------------------------------------  CADRES ------------------------------------- */

#cadre1 {
	background-color:#FFEACB;
	border-width:1pt; 
	border-style:solid; 
	border-color:#9FA827; 
	padding: 10pt 10pt 10pt 20pt;
	text-align:justify;
}

#cadre2 {
	background-color:#FFEACB;
	border-width:1pt;
	border-style:solid;
	border-color:#9FA827;
	padding:20pt; 
	text-align:justify;
}

#cadre_ss_rubriques {
	background-color:#FFFFFF;
	border-width:1pt; 
	border-style:solid; 
	border-color:#9FA827; 
	padding:20pt; 
	text-align:justify;
}

#cadre_album {
	background-color:#FFFFFF;
	border-width:1pt;
	border-style:solid;
	border-color:#9FA827;
	padding:10pt;
	text-align:center;
}

#cadre3 {
	background-color:#FFFFFF;
	border-width:1pt; 
	border-style:solid; 
	border-color:#9FA827; 
	padding: 15px;
	text-align:justify;
}

/*edito*/
#cadre3_solid {
	background-color:#FFFFFF;
	border-width:1pt; 
	border-style:solid; 
	border-color:#9FA827; 
	padding: 30px;
	text-align:justify;
}

#cadre_edito {
	padding: 5px; 
	background-color: #9FA827; 
}

/*fin edito*/

#cadre3_solid2 {
	background-color:#FFEACB;
	border-width:1pt; 
	border-style:solid; 
	border-color:#9FA827; 
	padding: 20px 20px 20px 20px;
	text-align:justify;
}

#cadre_forum {
	background-color:#FFFFFF;
	border-width:1pt; 
	border-style:solid; 
	border-color:#9FA827; 
	padding: 20px;
	text-align:justify;
}

#cadre_gris {
	padding: 5px;
	background-color: #9FA827;
	text-align: left;
	color: black;
}

#cadre_transp {
	background-color:none;
	padding:5pt;
}

#cadre1_transp
{
	background-color:#FFEACB;
	border-width:0pt;
	text-align:left;
}

#cadre1_transp2 {
	background-color:#FFFFFF;
	border-width:0pt; 
	padding: 20px 20px 20px 20px;
	text-align:justify;
}


/* ------------------------------------- TITRES ET FONTS ------------------------------------- */

#titre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

#titre6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	text-decoration: none;
	color: #7B173D;
}

#titre_edito {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	text-decoration: none;
	color: #7B173D;
	background-color: #FFEACB; 
	width: 100%;
}

#titre5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #7B173D;
}

#petit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
	color: #484747;
}

#ttpetit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 3px;
	text-decoration: none;
	color: #484747;
}

#tpetit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	text-decoration: none;
	color: #484747;
	}

#plan {
	font-size: 11px;
}



/* ------------------------------------- LIENS ------------------------------------- */

a.liens0,a:link.liens0 { 
color: #7B173D;
text-decoration: none;
text-transform: none;
}

a:hover.liens0 {
color: #7B173D;
background-color: #FFEACB;
text-decoration: none;
text-transform: none;
}

a.liens1,a:link.liens1 { 
text-transform: none;
color: #7B173D;
text-decoration: none;
background-color: #FFFFFF;
}

a:hover.liens1 {
text-transform: none;
color: #7B173D;
text-decoration: none;
background-color: #FFFFFF;
}


a.liens2,a.liens2:link { 
color: #7B173D;
text-decoration: none;
}

a.liens2:hover {
text-transform: none;
color: #7B173D;
background-color: #FFFFFF;
text-decoration: none;
}

a.liens3,a.liens3:link { 
text-transform: none;
color: #FFFFFF;	
text-decoration: none;}

a.liens3:hover {
text-transform: none;
color: #FFFFFF;
text-decoration: underline;}

a:hover.cadre2_transp {
	text-transform: none;
	color: #7B173D;
	background-color: #FFEACB;
	text-decoration: none;
}

a:hover.spip_out, a:hover.spip_in {
text-transform: none;
color:#7B173D;
background-color:#FFEACB;
text-decoration: underline;
}

a.spip_out, a:link.spip_out, a.spip_in, a:link.spip_in { 
text-transform: none;
color:#7B173D;
text-decoration: underline;
}

/* ------------------------------------- AGENDA ------------------------------------------ */


table.agenda
{
width: 100%;
color: #484747;
background-color:#FFFFFF;
-moz-border-radius:15px;
border-width:1pt;
border-style:solid; 
text-align:center;
border-color:#9FA827 !important;
padding:8px !important;
border-color:#9FA827;
padding: 0px;
}

table.agenda, table.agenda tr, table.agenda th, table.agenda td 
{
	font-size: 11px;
	vertical-align : middle;
}

table.agenda td
 { 
	color: #333333;
	padding: 1px;
	margin: 1px;
	height: 25px;
 } 
 
table.agenda tr { 
	color: #000000;
 	height: 25px;
} 
  
table.agenda th
 { 
	padding-top: 5px;
	padding-bottom: 5px;
	height: 25px;	
 	background-color: #FFEACB;
	color: #7B173D;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  padding: 5px;
} 

table.agenda th a
{
	color: #9FA827;
	text-decoration: none;
}

table.agenda th a:hover
{
	color: #7B173D;
	text-decoration: none;
}

table.agenda th a:link { 
	color: #9FA827;
	text-decoration: none;
 }

.en-tete-agenda
 {
 	background-color: #FFEACB;
	color: #7B173D;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
 }

 
.agendaNav
	{
	background-color: #FFFFFF; 
	}

.agendaHead
{
text-align: center;
background-color: #9FA827; 
align: auto;
font-size: 10px;
}


.agendaThisDay
{
 border: #484747 2px dashed;
}

.agendaThisMonth
{
}

.agendaNotThisMonth
{
}

#agendaEvenement
{
 background-color : #FFAA2C; 
}

#dhtmltooltip{
position: absolute;
width: 150px;
border: 2px solid black;
padding: 2px;
background-color: #F0F0FA;
font-size : 120%;
font-weight : none;
visibility: hidden;
z-index: 10000;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}



/* ------------------------------------- ENTETE (temp) ------------------------------------- */
#entete {
	color: #999999;
	position: absolute;
	left: 14px;
	top: 105px;
	}

#entete1 {
	color: #999999;
	position: absolute;
	left: 14px;
	top: 10px;
	}


a.entete,a.entete:link {
	font-family: Verdana;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: #999999;
 	text-decoration: none;
}

a.entete:hover {
	font-family: Verdana;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: #cccccc;
	text-transform: none;
	text-decoration: none;
}

a.titre1,a.titre1:link {
	font-family: Verdana;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: #999999;
 	text-decoration: none;
}

a.titre1:hover {
	font-family: Verdana;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: #999999;
	text-transform: none;
	text-decoration: none;
}

a.titre2,a.titre2:link {
	font-family: Verdana;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: #999999;
 	text-decoration: none;
}

a.titre2:hover {
	font-family: Verdana;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	color: #999999;
	text-transform: none;
	text-decoration: none;
}
