<plugin>
	<nom>ZPIP-vide</nom>
	<slogan>Squelette Z vide de contenu &#224; remplir avec des noisettes</slogan>
	<auteur>[Joseph->https://contrib.spip.net/Joseph]</auteur>
	<icon>img/zvide-128.png</icon>
	<licence>GNU/GPL</licence>
	<version>1.2.3</version>
	<etat>stable</etat>
	<description>Un squelette Z dont l'ensemble des contenus sont g&#233;r&#233;s sous forme de noisettes configurables avec le noiZetier. Ce squelette s'utilise donc en conjonction avec le noiZetier et une collection de noisettes.</description>
	<lien>https://contrib.spip.net/?article3700</lien>
	<prefix>zvide</prefix>
	<pipeline>
		<nom>recuperer_fond</nom>
		<inclure>zvide_pipelines.php</inclure>
	</pipeline>
		<bouton id='zvide' parent='configuration'>
		<icone>img/zvide-24.png</icone>
		<titre>zvide:zvide</titre>
		<url>configurer_zvide</url>
	</bouton>
	<bouton id='zvide21' parent='bando_squelette'>
		<icone>img/zvide-16.png</icone>
		<titre>zvide:zvide</titre>
		<url>configurer_zvide</url>
	</bouton>
	<pipeline>
		<nom>ieconfig_metas</nom>
		<inclure>zvide_ieconfig_metas.php</inclure>
	</pipeline>
	<options>zvide_options.php</options>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.10;2.1.99]" />
	<necessite id="Z" version="[1.0;2.0)" />
	<utilise id="noizetier" version="[0.8.1;]" />
	<utilise id="menus" version="[0.8.2;]" />
	<utilise id="agenda" />
	<utilise id="rssconfig" version="[1.4.0;]" />
</plugin>
