<plugin>
	<nom>Aveline</nom>
	<slogan>Collection de noisettes compatibles Z</slogan>
	<auteur>[Joseph->https://contrib.spip.net/Joseph]</auteur>
	<icon>img/aveline-128.png</icon>
	<licence>GNU/GPL</licence>
	<version>1.9.4</version>
	<version_base>0.3.9</version_base>
	<etat>stable</etat>
	<description>Collection de noisettes hautement param&#233;trables et compatibles avec les th&#232;mes Z.</description>
	<lien>https://contrib.spip.net/?article3466</lien>
	<prefix>aveline</prefix>
	<fonctions>aveline_fonctions.php</fonctions>
	<pipeline>
		<nom>noizetier_config_export</nom>
		<inclure>aveline_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>noizetier_config_import</nom>
		<inclure>aveline_pipelines.php</inclure>
	</pipeline>
	<install>base/aveline_installation.php</install>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.1.0;2.1.99]" />
	<necessite id="spip_bonux" version="[2.3.0;]" />
	<necessite id="noizetier" version="[0.13.0;]" />
	<necessite id="saisies" version="[1.42.11;]" />
	<utilise id="agenda" version="[2.2.0;]" />
	<utilise id="suivant_precedent" version="[1.3.0;]" />
	<utilise id="Z" version="[1.0.0;2.0.0)" />
	<utilise id="anythingslider" version="[1.1.0;1.9.9]" />
	<traduire module="aveline" gestionnaire="salvatore" reference="fr" />
	<traduire module="avelinepublic" gestionnaire="salvatore" reference="fr" />
</plugin>
