/*
 * Fichier Agenda
 * Les couleurs a personnaliser sont marques PERSO
 */


/*
 * L'agenda
 */
.agenda { border: 1px solid ; }

table.agenda, table.agenda tr, table.agenda th, table.agenda td {
	font-family: verdana, arial, helvetica, sans-serif;
	color: #000000;
	font-size: 10px;
}

table.agenda a, table.agenda a:link, table.agenda a:visited, table.agenda a:active {
	color: #000000;
	background-color: none;
	font-weight: bold;
	text-decoration: underline;
}

table.agenda a:hover {
	color: #ff3300;
	font-weight: bold;
	text-decoration: underline;
}

th.agendaNav {
	background-color: #cc4f4f; /* PERSO */
	font-size: 14px;
}

th.agendaNav a, th.agendaNav a:link, th.agendaNav a:visited, th.agendaNav a:active {
	color: #ffffff;
	background-color: none;
	font-weight: bold;
	text-decoration: none;
}

th.agendaNav a:hover {
	color: #000000;
	background-color: none;
	font-weight: bold;
	text-decoration: none;
}

.agendaHead {
	color: #ffffff;
	background-color: #cc4f4f; /* PERSO */
}

.agendaThisDay {
	background-color: #ffffb0; /* PERSO */
	border: 2px solid #bab707; /* PERSO */
}

.agendaThisMonth {
	background-color: #ffffe0;
}

.agendaNotThisMonth { background: #ffeaea; }

ul.agendaThemes {
	list-style: none;	
	margin: 0 0 0 20;
	padding: 0;
}

ul.agendaThemes ul.agendaThemes {
	list-style: none;	
	margin: 5px 0px 0px 15px;
	padding: 0px;
}
