#div footer > a {color: #FF9900;}
#div article chapo .p {font-style:bold;}
a.spip_out { color: #88B1CF; }
a:visited .spip_out { color: #0045c3; text-decoration:underline;}
a:visited .spip_in {   color: #990000;}

div.wrapper h3{margin-top: 20px;}

.cs_sommaire_corps>ul>li>a { color: #bb740b; }
