/**
 * Layout général
 *
 * Placement des blocs principaux
 */

html, body {
	width: 100%;
	height: 100%;
}

body {
	overflow-x: hidden; // pour les éléments en full-width
}

#content {
	position: relative;
}

/* Coller le footer en bas */
#page {
	display: flex;
	flex-flow: column;
	min-height: 100%;
}
#content {
	flex: 1 0 auto;
}

/**
 * Les container et leurs variantes
 * Pour chacun on fait des mixins car on ne peut pas étendre dans des @media
 *
 * .container
 * .container_fluid
 * .container_text
 */
 @mixin container() {
	max-width: setting(container-base);
	margin-left: auto;
	margin-right: auto;
	padding-left: setting(gutter);
	padding-right: setting(gutter);
}
.container {
	@include container();
}

/* Pleine largeur */
@mixin container_fluid {
	@include container();
	max-width: 100%;
}
.container_fluid {
	@include container_fluid();
}

/* Largeur limitée à 80 caractères */
@mixin container_text {
	@include container();
	max-width: setting(container-text);
}
.container_text {
	@include container_text();
}

/* Annuler un container */
@mixin container_none() {
	max-width: initial;
	margin-left: initial;
	margin-right: initial;
	padding-left: initial;
	padding-right: initial;
}
.container_none {
	@include container_none();
}
