/**
 * Mixins ubër génériques
 *
 * Mixins simples et génériques qui ne portent aucun styles en eux-même.
 * Voir dans modules/_mixins.scss pour les autres mixins
 */

//
// Link Bock Wrapper
//
// Liens qui couvrent tout leur conteneur.
// Permet de rendre un bloc entier cliquable.
//
// $pseudo - {string} 'before' Type de pseudo-élément pour couvrir le parent : before | after
//
// Styleguide Mixins.Link-block-wrapper
@mixin link-block-wrapper($pseudo: after) {
	position: relative;

	a {
		position: inherit;

		&:#{$pseudo} {
			content: "";
			z-index: 1;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
	}
}
.link-block-wrapper {
	@include link-block-wrapper;
}

//
// Forcer le ratio d'un block
//
// $x - {number} ''
// $y - {number} ''
//
// Styleguide Mixins.Aspect-ratio
@mixin aspect-ratio($x, $y) {
	
	&:before {
		content: "";
		width: 1px;
		margin-left: -1px;
		float: left;
		height: 0;
		padding-top: ($x*1px) / ($y*1px) * 100%;
	}
	/* to clear float */
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}