@import "css/variables.less";
@import "css/mixins.less";

@media (max-width:1200px){
    #header{
        header{
            h1#logo_site_spip{
                #slogan_site_spip{
                    margin-top:2px;
                    letter-spacing: 1px;
                }
            }
        }
    }
    #nav{
        .nav{
            margin:0 auto;
            float:none;
            width:960px;
        }
    }
    .carousel {
        .item {
            article{
                strong a{
                    font-size: 1.3em !important;
                    span.surtitre{font-size: 1em;}
                }
            }
        }
    }
    #content{
        .formulaire_recherche{
        }
    }
}
@media (min-width:979px) {
    #nom_site_spip{
        display: block;
        max-width: 520px;
    }
}
@media (min-width:767px) {
    #nav{
        .dropdown-menu{
            ul{
                margin-left: 1em;
                a{padding-left: 1em;}
            }
        }
    }
}
@media (min-width:767px) and (max-width:1200px) {
    #header{
        header{
            h1#logo_site_spip{
                margin:.5em 0 .5em 0;
                font-size:2.2em;
                .spip_logos{
                    margin:0 25px 0 10px;
                }
                #nom_site_spip,#nom_site_spip_ar{padding-left:25px}
                #slogan_site_spip{
                    padding:10px 0 0 25px;
                }
            }
        }
    }
    .carousel .spip_logos {max-width: 50%;}
}
@media (min-width:1200px) {
    #nom_site_spip{
        max-width: 800px;
    }
    .row-fluid [class*="span"]:last-child {
      margin-left:2.56410256%;*margin-left:2.51091107%;
      float: left;
    }
}
@media (min-width:767px) and (max-width:979px){
    #nav{
        .home{
            .icon-home{display:inherit;margin-top:3px;padding-top:5px;}
            span{display:none;}
            &:hover .icon-home,&.active:hover .icon-home{background-image:url("img/@{iconWhiteSpritePath}");}
            &.active .icon-home{background-image:url("img/@{iconSpritePath}");}
        }
    }
    #header{
        .form-search{position: relative;top:inherit;bottom: inherit;right: inherit;left: inherit;}
    }
}
@media (max-width:979px){
    #header{
        header{
            h1#logo_site_spip{
                font-size:2em;
                #slogan_site_spip{
                    font-size:70%;
                }
            }
        }
        .form-search{
            right: 0;
        }
        #logos-partenaires{
            #logo-ecole-numerique{
                bottom:40px;
                right:0;
            }
        }
    }
    #nav{
        .nav{
            margin:0;
            float:left;
            width:auto;
        }
    }
    .carousel {
        .item {
            article{
                strong a{
                    font-size: 1em !important;
                    span.surtitre{font-size:1em;}
                }
                img{max-width: 25%;}
                .introduction{padding-right: 50px !important;}
            }
        }
    }
}
@media (min-width:767px){
    .page_sommaire {
        #content{
            .liste.long.evenements {
                .liste-items{
                    .evenement {
                        padding-left: 6em;
                        .banner{margin: 0 0 0 -6.5em;}
                    }
                }
            }
        }
        .row.agenda-sommaire{
            header {
                background-image: url(img/lise.png);background-position: top;
                h2 {display: table;background-color:@white ;padding: 0 .2em; }
            }
            .liste-items{
                .item{
                    clear:none;
                    width:30%;
                    float:right;
                    border:none;
                    padding:0.2em 1em;
                    .h3-like{padding-top:1.5em;}
                    .introduction,.location{display:none;}
                    .evenement{
                        padding-right:7.5em;
                        padding-left:0;
                        .banner {
                            float:right;
                            margin-right:-7.5em;
                            margin-left:0;
                        }
                    }
                    &:first-child{
                        width:60%;
                        float:left;
                        padding:1em;
                        .h3-like{padding-top:0;}
                        .introduction,.location{display:inherit;}
                        .evenement{
                            padding-left:7.5em;
                            padding-right:0;
                            .banner {
                                float:left;
                                margin-left:-7.5em;
                                margin-right:0;
                            }
                        }
                    }
                    &:hover .banner .label{background-color:darken(@color2,15%);}
                }
            }
        }
    }
}
@media (max-width:767px){
    #header{
        #logo-institution {
            padding: 0;
            margin: 0;
        }
        header{
            h1#logo_site_spip{
                letter-spacing: inherit;
                .spip_logos{margin-left: 0;}
            }
        }
        #logos-partenaires{
            min-height:inherit;
            #logo-ecole-numerique{
                bottom:10px;
                right:0;
            }
        }
        .form-search{
            bottom: 10px;
            right:5%;
        }
    }
    .aside{
        padding-top:0;
    }
    .page_sommaire {
        .row.selection{
            .spip_logos{display: none;}
        }
        .row.dossiers{
            .container{
                #bulles{
                    .item{
                        a{
                            min-height: 185px;
                            background-position:-92px 0;
                            &:hover{
                                background-position:-46px 30px;
                            }
                        }
                        &:last-child{margin-bottom:1em;}
                    }
                }
            }
        }
    }
    #aside .liste{
        &.sites .spip_logos{float: left;margin-right: 11px;}
    }
    .carousel .spip_logos {max-width: 50%;}
    .row-fluid [class*="span"]:last-child {
        margin-left:0;*margin-left:0;
        float: none;
    }
}
@media (max-width:640px){
    #header{
        header h1#logo_site_spip{
            padding-left:.5em;
            #slogan_site_spip{
                font-size: 80%;
            }
        }
    }
}
@media (max-width:480px){
    .carousel .spip_logos {display: none;}
}
@media print{
    page-break-inside:avoid;
    body{padding:0 2em 4em 2em;}
    #nav,.aside,#footer, .breadcrumb,#header blockquote,.authors,.socialtags,#slogan_site_spip,.noprint{display:none;}
    #header{
        display:block;
        padding-top:10px;
    }
    #content{
        width:auto;
        font-size:.8em;
        .surtitre{margin-bottom:0;}
        .main{clear:right;padding:0 0 20px 0;}
    }
}
