
/**
 * Tout premier menu, accessibilité et accès rapides
 */
#access {

	display: none;

	.menu-items {
		@extend .list_none;
		margin: 0;
	}
	.item {
		float: none;
	}

	@include g-state( tablet ) {
		.item {
			display: inline-block;
			margin-right: 2em;

			&.right {
				float: right;
				margin-left: 2em;
				margin-right: 0;
			}
		}
	}

}
