
/* Chemin de navigation hiérarchique */
.breadcrumb {

	padding: spacing() 0;

	&__items {
		@extend .list_none;
		margin: 0;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		font-size: 0.7em;
		font-family:setting(font-family-headings);
	}

	&__item {
		line-height: 1;

		// Item à la racine
		&_racine {}
		// Item parent direct de celui actif
		&_parent {}
		// Item actif
		&_expose {}
	}

	&__divider {
		padding: 0 spacing(1/4);
	}

	a:not(:hover):not(:focus) {
		color: inherit;
	}

}
