/**
 * Section : footer
 */
.footer {

	padding: spacing(2);
	background-color: setting(color-dark);
	color: setting(color-text-lightest);

	a:not(:focus):not(:hover) {
		color: inherit;
	}

	// Conteneur interne
	&__inner {
		font-size: 0.8em;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.footer__item {
		flex: 0 1 auto;

		// Identité
		&_identite {}
		.organization {
			&__nom {
				color: white;
				font-family: setting(font-family-headings);
				margin-bottom: spacing(1/2);
			}
			.item__sub {
				display: block;
			}
			&__adresse {
				[class^=icon] {
					display: none;
				}
			}
		}

		// Social
		&_social {
			text-align: right;
			a {
				font-size: 2em;
			}
		}

		// Copyright
		&_copyright {
			display: none;
			// flex: 1 0 100%;
			// padding-top: spacing();
			// text-align: center;
		}

	}

}