/******************/
/*  mise en page  */
/******************/
div#contenu {
	width: 710px;
	padding: 0px 20px 0px 20px;
	background: url(../images/coinvert.gif) no-repeat;
}
div#navigation {
	margin-left: 0;
}
div#extra {
	margin-left: 0;
}
#espace {
	height: 70px;
}
.identification {
	float: right;
}
#titrepage {
	display: none;
}

/***********/
/* onglets */
/***********/
ul.onglets li a {
	background-color: #9ACCA4;
}
ul.onglets li a:hover {
	color: white;
}
ul.onglets li a.active {
	background-color: #349949;
}
.laune {
	background-color: #349949;
}
.laune ul.anchors li a {
	width: 220px;
	background: #9ACCA4;
}
.laune ul.anchors li a:hover {
	background: #2A7A3A;
}
#cadre-plan {
	background-color: #349949;
}
#cadre-plan a:link, #cadre-plan a:visited {
	color: white;
}

/***************************/
/* cadres sous les onglets */
/***************************/
.cadre-onglet {
	background-color: #349949;
	padding: 5px;
	text-align: left;
	color: white;
}
.cadre-onglet a {
	color: white;
	text-decoration: underline;
}
.cadre-onglet a:link, .cadre-onglet a:visited {
	color: white;
}

/*********/
/* liens */
/*********/
a:link, a:visited {
	color: #56AA67;
}
a:hover {
	color: #2368A3;
}

/****************/
/* divers verts */
/****************/
div.cadre-vert h1.cadre {
	background-color: #349949;
}
div.cadre-vert .texte {
	border-color: #349949;
}
#cadre-rubrique, #cadre-titre-article {
	background-color: #349949;
}
.cadre-articles-rubrique, .cadre-sous-rubrique {
	border-color: #349949;
}

/*****************/
/* menu vertical */
/*****************/
#menuV {
	padding: 10px 0 20px 0;
	background-color: #349949;
	margin-bottom: 20px;
}
#menuV ul {
	line-height: 18px;
	font-size: 12px;
	text-align: left;
}
#menuV ul li a {
	color: #ffffff;
}
#menuV ul ul {
	margin-left: -15px;
	padding: 0 0 0 5px;
}
#menuV ul.rubriques li, #menuV ul.rubriques li.on, #menuV ul.articles li, #menuV ul.articles li.on {
	background: none;
}
#menuV li.on>a {
	font-weight: bold;
}