@import "css/variables.less";
@import "css/mixins.less";

/* structure de la page */
#header .container{
	min-height : 110px;
	position  : relative;
	#nom_site_spip {
		margin-bottom : 10px;
		padding-top: 10px;
	}
	.spip_logos { margin-bottom : 0px; }
	.bandeau_complet{
		.spip_logos {margin: 11px 19px 11px 0;}
	}
	.logo-institution{
		position:absolute;
		right:10px;
		top:5px;
	}
	.infos {
		margin-bottom : 5px;
	}
}
#nav {
	z-index: 200;
	.container {
		max-width: 1170px;
		.navbar-inner {
			padding-left : 0px;
			.spip_logo{margin-right: 10px;}
		}
	}
}
#aside {
	margin-left : 20px;
	.well.rubriques{
		margin: 0 0 2em 0;
		padding: 1em .5em 1em 1em;
		list-style: none;
		li{
			margin: 0;
			padding: 0;
		}
		ul{
			margin: 0 0 .5em .5em;
			padding:0 0 0 1.3em;
			list-style: none;
			border-left:1px solid @grayLight;
			width: auto;
		}
		h4{
			margin-bottom: .4em;
			a.toggle{
				display: inline-block;
				vertical-align: middle;
				width: 20px;
				height: 1em;
				background: url('../img/deplierbas.png') no-repeat left bottom;
				&.collapsed{
					background: url('../img/deplierhaut.png') no-repeat left bottom;
				}
				&.on{
					background: url('../img/deplierbas.png') no-repeat left bottom;
					&.collapsed{background: url('../img/deplierhaut.png') no-repeat left bottom;}
				}
			}
			a.branche{
				display: inline-block;
				max-width: 200px;
				vertical-align: middle;
			}
		}
		h4.feuille {
			a{
				padding-left: 20px;
				background: url('../img/deplierbas.png') no-repeat left center;
			}
		}
	}
	.sites {
		ul {
			margin : 0px;
			li {
				display : inline; 
				list-style:none;
				img { margin : 5px 10px; }
			}
		}
	}
}
#footer {
	.colophon{ 
		display: inline-block;
		vertical-align: top;
		padding: 0 4%;
		p{margin: .3em 0;}
		width: 70%;
	}
	.generator {
		display: inline-block;
		text-align: right;
		vertical-align: top;
		position: relative;
		top: inherit;
		right: inherit;
		max-width: inherit;
		img{margin:0 1em 1em 0;display: inline-block;}
		width: 20%;
	}
}
.page_sommaire {
	#content{
		.inner-content{
			padding-left: 0;
		}
		.tweets {
			margin-top : 20px;
		}
	}
	#video p {
		text-align : center;
	}
}
.page_breve,.page_article{
    #content{
        .hyperlien{
            background-color:@grayLighter;
			padding:.5em 1em;
			margin: 1em 0 0 5%;
			display: inline-block;
        }
    }
}
.page_article,.page_evenement{
    #content{
		.evenement{
			.h3-like{font-size: 1.4em;}
			.banner{display: none;}
		}
		span.authors{display: block;}
    }
}
.page_plan{
    #content{
        .main ul.plan{
            list-style:none;
            font-size: 1.2em;
            li{
                a{
                    display: block;
                    &:hover{background-color: @grayLighter;}
                }
            }
            ul{
                list-style:none;
                font-size: 90%;
            }
        }
    }
}
.article .publication{
	display : block;
}
.cartouche {
	h1 .titre { 
		display : block;
	}
	.spip_logos{
		float : left; 
		margin-left : 0px; 
		margin-right : 20px;
	}
}
.chapo {
	font-weight: normal;
	font-size: 1.1em;
}
hr {
	height : 2px;
	background-color : #aaa;
}
#content{
	.inner-content{
		padding-left: 2em;
		.span4.offset,.span6,.span9{margin-left: 0;}
	}
	.comment{
		padding-bottom: 0;
		.comment-meta {
			padding-left: 50px;
			background: none;
			.item{display: none;}
			.permalink{
				right: 10px;
				&.diese{top:30px;}
				&.in-reply-to{top:35px;right: 25px;bottom: inherit;}
			}
		}
		.comment-reply {
			visibility : visible;
			margin :5px 10px 10px 10px;
		}
	}
    .spip_out{
        padding-right:20px;
        background-image:url(img/spip_out.gif);
        background-repeat:no-repeat;
        background-position:right;
    }
}

/* carousel (page d'accueil ou de rubrique) */
.carousel {
	font-size: 1.25em;
	padding: 25px 70px 45px 80px;
	margin-bottom: 2.28571em;
	line-height: 1.42857em;
	background-color: #DDD;
	.border-radius(6px);
	position: relative;
	.carousel-inner {
		height : 230px;
		.spip_logos{
			float : right; 
			margin-left : 10px; 
			margin-bottom : 10px;
		}
	}
	.carousel-stop {
		float : left;
		margin-left:0;
		li{
			display : inline; 
			list-style:none;
			font-size:1.7em;
			color: #999;
			&:hover{
				color: #333;
				cursor: pointer;
			}
		}
	}
	.carousel-indicators { 
		top: inherit;
        bottom:8px;
		right: inherit;
        left: 45%;
		float: none;
		li { 
			background-color : transparent !important;
			color: #999;
			height: auto;
			width: auto;
			display: inline-block;
			margin: 0 5px;
			padding: 0;
			float: none;
			text-indent: inherit;
			cursor: pointer;
			font-size: 40px;
			font-family: helvetica,arial,sans-serif;
			&.active{
				color : #333;
				cursor: default;
			}
			&:hover {
				color : #333;
			}
		}
	}
	.carousel-control {
		font-size : 25px;
		margin-top: 0px;
		width:35px;
		height: 38px;
		padding-top: 2px;
		&.right {
			padding-left: 5px;
		}
		&.left {
			padding-right: 5px;
		}
	}
}

/* Formulaire de recherche*/
.form-search .input-append .search-query,.form-search .input-prepend .btn {
	.border-radius(4px 0 0 4px);
}
.form-search .input-append .btn,.form-search .input-prepend .search-query{
	.border-radius(0 4px 4px 0);
}
.spip_documents {
	&.oembed{
		margin-top : 0.3em;
		margin-bottom : 0;
		.oe-play-button{
			button {
				background-color : rgba(22,22,22,0.6);
				.border-radius(3px);
				&:before{border-width : 1px;.border-radius(3px);}
			}
			&:hover button {
				background-color : rgba(22,22,22,0.6);
			}
		}
		.oembed {
			background-color : transparent;
			border : none;
		}
	}
}

/* Bouton retour haut de page*/
#backtotop{
    cursor:pointer;
    background-color: @grayDark;
    .opacity(50);
    &:hover{.opacity(100);}
    color : #FFF;
    text-align : center;
    z-index : 200;
    display: none;
    position: fixed;
    font-family:helvetica,arial,sans-serif;
    width: 45px;
    height: 37px;
    font-size : 30px;
    padding-top : 8px;
    border : 2px solid white;
    .border-radius(25px);
    bottom: 20px;
    right: 20px;
}
/* Divers */
.spip_flash_link,.invisible{
    display : none;
}
.selection {
	overflow : hidden; 
	margin-bottom : 40px;
	}
#calendar {
	padding : 10px; 
	padding-top :0px;
	h2 {
		display :none;
	}
}
.liste{
	&.syndics{
		a {
			.spip_logo{margin: 5px 10px 5px 5px;}
			h3{padding: 5px;}
		}
	}
	&.evenements {
		.liste-items.evenements {
			.item {
				.entry-content {
					max-height: inherit;
				}
			}
		}
	}
}
.menu.rubriques{
	.menu-liste{ 
		font-size : 1.5em;
		line-height : 1.8em;
		.menu-liste{
			font-size : .8em;
			margin-left: 20px;
			li{
				border: none;
			}
		}
	}
}
.liste-items .item , .secondary .liste-items .item{padding : 5px;}
.weel {padding : 12px;}

.comment-reply {
	visibility : visible;
	margin :0 1em 1em 1em;
}

/* Ajout fonctions responsive*/
@media (max-width: 767px){
	body #aside { 
		margin-left:0px;
	}
	.well {
		background-color : transparent; 
		border : none;
	}
	#nav {
		background-color : transparent; 
		background-image : none; 
		border : none;
		.nav-collapse{margin:0 1em 0 2em;}
	}
	#header {
		border-bottom:3px solid #94C11F;
		min-height : 70px;
		.logo-institution img {
			width : 50%; 
			height : 50%;
		}
	} 
}

@media (min-width: 768px) and (max-width: 979px){ 
	body #aside { margin-left:10px;}
	#nav .container {width : 724px;}
	#header {
		min-height : 80px;
		.logo-institution img {width : 75%; height : 75%;}
	} 
	
}
@media (min-width: 980px) and (max-width: 1199px) {
	body #aside { margin-left:10px;}
	#nav .container {width : 940px;}	
}
@media (min-width: 1200px) { 
	body #aside {margin-left:20px;}
}
