/* --------------------------------------------------------------

   layout.css
   Disposition des blocs principaux

-------------------------------------------------------------- */

/* ------------------------------------------
/* Disposition a l'ecran des blocs principaux
/* ------------------------------------------ */

.page { position: relative; width: 980px;margin: 0em auto;}
.logo-institution{position : absolute;  right : 10px;  top : 10px; }
.footer { clear: both; width: 100%; margin: 0 0 0 0; padding: 0 0; text-align: center; overflow : hidden; }
body .header {padding:0;}
.header .accueil {width : 100%;  padding: O;height:80px;}
.container { clear: both; overflow: hidden;}
.hornav {border : 0px;height:32px; }

.gauche { float: left; width: 65%; overflow: hidden; clear: both;padding-top:.5em; }
.droite { float: right; width: 30%; overflow: hidden; }
.bas{ clear : both;float: left; width: 100%; overflow: hidden; }
.page_rubrique .gauche { width: 55%; }
.page_rubrique .droite { width: 40%;padding-top:.5em; }

#ours_container {margin : 0 auto 2em auto;}

#menuhorizontal{position:relative;}
#recherche{position:absolute;right:.3em;top:2px;}

/* end */