/* structure de la page */
.invisible {display : none;}
.page {margin-top : 10px;}
#nav {z-index: 200;}
.centre { float : right;}
.gauche { margin-left : 0px;float : right;}
#aside .sites ul {margin : 0px;}
#aside .sites ul li{display : inline; list-style:none;}
#aside .sites ul li img{margin : 5px;}
.article .publication{display : block;}
.footer .generator {max-width : 210px;}
.cartouche .spip_logos{float : left; margin-left : 0px; margin-right : 20px;}

/* structure de la page d'acceuil*/
.selection {overflow : hidden; margin-bottom : 40px;}
#calendar {padding : 10px;}
#calendar  {padding-top :0px;}
#calendar h2 {display :none;}
.tweets {margin-top : 20px;}
#carousel {
	font-size: 1.25em;
	padding: 40px 70px;
	margin-bottom: 2.28571em;
	line-height: 1.42857em;
	background-color: #EEE;
	border-radius: 6px;
	}
body .carousel-stop {float : left; }
body .carousel-stop li{display : inline; list-style:none;}
.carousel-indicators { float : left; margin-left : 40px;margin-top : -10px;   position: relative;}
.carousel-indicators .active { background-color : #333;}
.carousel-indicators li { background-color : #999;}
.carousel-control {font-size : 30px;}
.carousel-inner {height : 230px;}
.carousel-inner .spip_logos{float : right; margin-left : 10px; margin-bottom : 10px;}
.carousel-control{line-height: 40px;}
#video p {text-align : center;}
.liste-items .item , .secondary .liste-items .item{padding : 5px;}
.weel {padding : 12px;}
/* bandeau */
.logo-institution{position:absolute;right:10px;top:5px;}
body .header .spip_logos {margin-bottom : 0px;}
#header {margin-bottom : 10px;}
#header .container{position  : relative ;}


 a.spip_out{ color : #900;}
.bandeau .infos {float : left;}

.go_top{
    background-color: #AAA;
    border : 2px solid white;
    opacity : 0.7;
    color : #FFF;
    padding-top : 10px;
    text-align : center;
    font-size : 20px;
    z-index : 200;
    display: none;
    position: fixed;
    width: 45px;            /* A régler selon votre image */
    height: 35px;            /* A régler selon votre image */
    bottom: 20px;                /* A régler selon votre image */
    right: 20px;                /* A régler selon votre image */
    -webkit-border-radius: 24px;
  	-moz-border-radius: 24px;
  	border-radius: 24px;

}