/* -----------------------------------------------------------         */
/* Feuilles de styles des squelettes par du site d'établissement pour SPIP 2.0 */
/* Cette feuille de style surcharge celles du squelette par défaut       */
/* -----------------------------------------------------------         */

/* ------------------------------------------
/* Disposition a l'ecran des blocs principaux
/* on surcharge quelques proprietes de layout.css de Z
/* ------------------------------------------ */

html body{}
body .page { position:relative;width:980px;margin:0 auto;padding:0;border:none;}
body .header {padding:0;overflow:hidden;border:none;}
body .container {width:980px;margin:0 auto;padding-top:1em;}
body .content{float:right;width:74%;padding:.5em .5em .5em 1.5em;}
body .extra1,body .extra2{clear:left ;float:left;width:22%;padding:.5em 0 0 .5em;margin-bottom:0;}
body .footer {border:none;}

/* bandeau */
.logo-institution{position:absolute;right:10px;top:10px;}
body .header .accueil {width:980px;padding:O;position:relative;margin:0 auto;min-height:80px;}
body .hornav {border:none;height:32px;}
#menuhorizontal{position:relative;margin:0 auto;width:980px;}
#recherche{position:absolute;right:.3em;top:1px;}
body .header .accueil .bandeau{margin:0.5em 0 0 0.4em;}
body .header .accueil .bandeau .spip_logos{margin:.3em;float:left;}
body .header .accueil .bandeau .infos{float:left;padding:.5em 0 1em 1em;width:600px;}
#nom_site_spip,#slogan_site_spip{margin:0;}
body .header .accueil #nom_site_spip {font-size: 2.5em;line-height:1.1em;}
#nom_site_spip a{text-decoration: none;}
body .hornav .item a{font-weight:normal;padding:0.5em 0.75em;}
body .hornav .item a.spip_out{padding-right:15px;}
body .hornav{height:auto;}

/* formulaire de recherche */
body .formulaire_recherche input.text{width:150px;}
body .formulaire_recherche input.submit,body .formulaire_recherche label{display:none;}

/* pied de page */
#ours_container {margin:0 auto 2em auto;}

/* blocs des pages accueil et rubriques */
.gauche { float:left;width:65%;overflow:hidden;clear:both;padding-top:.5em;}
.droite { float:right;width:30%;overflow:hidden;}
.page_rubrique .gauche { width:55%;}
.page_rubrique .droite { width:40%;padding-top:.5em;}

/* Page d'accueil */
#mozaique{width:200px;margin:0 auto;}
#mozaique td{padding:0px;}
#video p{margin-bottom:.2em;}
.page_sommaire .liste.syndics{float:left;width:46%;padding:0.5em 0;display:table-cell;}
.page_sommaire .liste.syndics:nth-child(2n-1){margin-right:6%;}
.page_sommaire h2.syndics{clear:both;}

/* Pages de rubriques */
.page_rubrique .gauche .menu ul{margin-left:1em;}
.page_rubrique .gauche .menu ul li h4{font-size:0.9em;}
.page_rubrique .gauche .menu ul li{font-size:1.1em;}
.page_rubrique .gauche .menu ul li ul li{font-size:0.9em;}

/* Mise en page des breves */
.breves h3.h3{cursor:pointer;}
.breves .h3 a.ouvrable{padding-right:30px;padding-bottom:5px;background-image:url(img/deplierhaut.png);background-position:right 0;background-repeat:no-repeat;}
.breves .h3 a.ouvert{padding-right:30px;padding-bottom:5px;background-image:url(img/deplierbas.png);background-position:right 0 ;background-repeat:no-repeat;}
.page_breve #site_menu{display:none;}

/* Page des sites */
.page_sites .liste.syndics{clear:right;margin-left:2em;width:80%;padding:.5em 1em;}
.page_sites .liste.syndics ul{margin-left:4em;}
.page_sites .liste.syndics .spip_logos{float:right;}

/* Page plan */
.page_plan h3.h3{display:none;}

/* Menu vertical des rubriques et bloc de liens de sites */
body .extra1 .menu{padding-top:0.5em;overflow:hidden;}
body .extra1 #site_menu ul li{float:left;margin:.5em 1em 0 0;}
body .extra1 #site_menu .spip_logos{float:none;margin:0 1em 0 0;}
body .extra1 .menu,#site_menu,body .extra2 .liste{margin:0 0 1em 0;}
body .extra1 .menu .menu-items li.item{list-style-type:none;margin-left:0px;}
body .extra1 .menu ul{margin-left:0px;padding-left:0px;}
body .extra1 .menu .menu-items.ss-rubrique li.item{margin-left:1.7em;}
.bouton_sommaire:hover{cursor:pointer;}

/* Listes du bloc extra */
body .extra2 .liste-items .item{font-size:0.9em;}

/* Mini Calendrier, listes d'evenements et page agenda */
#calendar,.evenements{padding:0.5em 0.5em 1em 0.5em;margin-bottom:1.3em;}
#calendar{text-align:center;}
#calendar th,#calendar td,#calendar caption{padding:0 ;border:1px inset transparent;}
#calendar th{font-size:80%;}
#calendar td{font-size:85%;}
#calendar td a{display:block;height:100%;width:100%;padding:.2em;}
#calendar table{margin-bottom:0;}
#calendar>span{display:none;}
.today{font-weight:bold;}
.evenements p.date{font-size:.8em;}
.page_agenda .liste-items.evenements {padding:1em 0;}
.page_agenda .liste-items.evenements .item{padding:1em 2em;}
.date abbr[title],.info-publi abbr,.page_sommaire .forums abbr{border-bottom:none;}
body tbody tr:nth-child(even) td,body tbody tr.even td {background:#eee;}

/* Typo, Intertitres */
.droite h2,#edito h2.h2,.extra2 h2{text-align:center;}
body h1,body .h1{font-size:2.5em;}
body h2,body .h2,body .droite #calendar h2{font-size:1.5em;line-height:1.1em;}
body .extra1 h2,body .extra2 h2,body .extra2 .h2,body .droite h2{font-size:1.5em;margin:.2em 0 .5em 0 ;}
body h3,body .h3{font-size:1.4em;}
body h4,body .h4{font-size:1.2em;}
body h1,body .h1,body h2,body .h2,body h3,body .h3,body h4,body .h4,body .header .accueil #nom_site_spip{font-family:"Luxi sans","Lucida Grande",Lucida,"Lucida Sans Unicode",sans-serif;}

/* Listes d'articles des rubriques et page accueil */
body .liste-items .item{padding-left:0.2em;padding-bottom:0.2em;padding-top:0.2em;}
body .liste-items .item p{margin-bottom:0.2em;}
body .liste-items .item .info-publi{clear:right;float:right;text-align:right;font-size:80%;max-width:25%;background:transparent;margin-right: 1em;}
body .liste-items h3.h3{font-size:1em;line-height:1.6em;}
body .liste.articles .spip_logos{float:right;clear:right;margin-top:0.8em;margin-right:0pt;margin-bottom:4px;margin-top:1px;}

/* Listes et tableaux */
table.spip{clear:both;}
table.spip caption{background:none;}
table.spip tbody tr th,table.spip tr td{background:none;}
table.spip tbody tr.odd th,table.spip tr.odd td{background:transparent;}

/* menuder.css menu déroulant d'après Menu deroulant */
body .menuder .home{width:30px;vertical-align:middle;margin:0 10px;}
body .menuder .home a{width:30px;padding:0;}
body .menuder .home img{padding:5px 5px 1px 5px;}
body .menuder,
body .menuder ul{ }
body .menuder a{display:block;}
body .menuder a.daddy,body .menuder a.daddy:hover{background-image:url(img/menuder.gif);background-position:14.5em center;background-repeat:no-repeat;}
body .menuder li{ }
body .menuder li ul{z-index:2;position:absolute;left:-999em;height:auto;width:14.4em;w\idth:13.9em;margin:0;}
body .menuder li li{width:15em;padding-right:1em;}
body .hornav .menuder li ul a{width:15em;w\idth:14em;padding-right:1.25em;}
body .menuder li ul ul{margin:-2.5em 0 0 16em;}
body .menuder li:hover ul ul,
body .menuder li:hover ul ul ul,
body .menuder li:hover ul ul ul ul,
body .menuder li.hover ul ul,
body .menuder li.hover ul ul ul,
body .menuder li.hover ul ul ul ul{left:-999em;}
body .menuder li:hover ul,
body .menuder li li:hover ul,
body .menuder li li li:hover ul,
body .menuder li li li li:hover ul{left:auto;}
body .menuder li.hover ul,
body .menuder li li.hover ul,
body .menuder li li li.hover ul,
body .menuder li li li li.hover ul{left:auto;}
body .menuder li:hover{}
body .menuder li a:hover{}

/* ------------------------------------------
/* Couleurs par defaut de scolaspip
/* si la configuration couleurs de scolaspip n'est pas activee : ces regles sont appliquees
/* sinon, ces regles sont surchargees par couleurs.html (sauf la première partie)
/* ------------------------------------------ */

/* fonds et bordures neutres, non surchargees */
body .page{background:#fff url(img/bg-body.png) ;}
table.spip tbody tr.even th,body table.spip tr.even td{background-color:#EED;}
#calendar,.evenements{border:1px solid #DDD;}
table.spip tfoot{border-top:1px solid #333;}
#calendar td.occupe:hover,#calendar td.today{border:1px inset #999;}
body .liste-items .item .info-publi{border:1px solid #eee;}
body a.spip_out{background-image:url(img/spip_out.gif);}

/* backgrounds  */
html body{background-color:#ddd;}
#header{background-color:#4B4B4B}
#nav,.hornav .menuder,.menuder li,body #footer,table.spip thead th{background-color:#c4c4c4;}
body .hornav .item a:hover{background-color:#ddd;}
#extra1 .menu,#site_menu{background-color:#F2E19D;}
#calendar,.evenements{background-color:#edd6b5;}
body .liste-items .item:hover,.page_sites .liste.syndics:hover,#calendar td:hover{background-color:#efefef;}

/* Couleurs des bordures */
body #header{border-bottom:3px solid #ffcc00;}
body #footer{border-top:3px solid #ffcc00;}

/* Couleurs des liens */
body a,body a.spip_out{color:#cc6600;}
body a:focus,body a:hover,body a:active {color:#A85503;}
body #extra1 a {color :#A85503;}
body #extra1 a:hover,body #extra1 a:focus,body #extra1 a:active {color :#666;}
body .hornav .item a,body #footer a {color:#333333;}
body .hornav .item a:hover,body #footer a:hover {color:#000;}

/* couleurs des titres  */
#nom_site_spip a, #slogan_site_spip{color:#fff;}
body h1,body .h1,body h2, body .h2,body h3, body h3.spip{color:#333;}

/* cartouches des forums */
ul .comment-meta {background-color:#DDDDDD;}
ul .comment-item .comment-meta {background-color:#EEEEEE;}
ul .comment-item.comment-item .comment-meta {background-color:#F4F4F4;}
ul .comment-item.comment-item.comment-item .comment-meta {background-color:#DDDDDD;}
ul .comment-item.comment-item.comment-item .comment-meta {background-color:#EEEEEE;}


/* Fin de scolaspip.css */
