
/* Les commentaires sous une photo */
.comments{
	.comments-items{
		list-style:none;
		margin-left:0;
	}
	.comment{
		.actions{
			opacity:0.25;
		}
		&:hover{
			.actions, .permalink{
				opacity:1;
			}
		}
	}
	.comment-meta{
		margin:0;
	}
	.permalink{
		float:right;
		font-size:3em;
		margin-top:-0.5em;
		opacity:0.25;
		text-decoration:none;
	}
	abbr{
		border:0;
	}
	.item{
		display:none;
	}
	
	@include media($bp-medium-plus-up){
		.permalink{
			float:left;
			margin-left:-0.666em;
		}
	}
}
