
.photos-rows{
	padding:0.5em;
	
	.pagination{
		margin:0.5em 0;
		
		.sep{
			display:none;
		}
		.prev, .next{
			background-color:#222;
			color:white;
			display:block;
			float:left;
			line-height:3em;
			text-align:center;
			width:50%;
			
			a{
				display:block;
				text-decoration:none;
				
				&:hover, &:focus{
					background-color:#000 !important;
				}
			}
		}
		.next{
			float:right;
		}
		.disabled{
			color:#444;
		}
	}
	
	@include media($bp-medium-up){
		.pagination{
			.prev, .next{
				font-size:1.5em;
			}
		}
	}
}
