<plugin>
	<nom>Squelette SoyezCreateurs pour SPIP 2.1 avec Zpip</nom>
	<auteur>
	[Jacques->https://contrib.spip.net/_Jacques-PYRAT_] 
_ &#169; 2003-2010 - Distribu&#233; sous licence GPL (m&ecirc;me num&eacute;ro que celle de SPIP)
	</auteur>
	<lien>[Documentation->https://contrib.spip.net/SoyezCreateurs,1237?tri_articles=titre]</lien>
	
	<version>4.0.1-dev</version>
	<version_base>3.0.8</version_base>
	
	<etat>dev</etat>
	<description>
	Ce plugin active ou d&eacute;sactive le squelette {{SoyezCreateurs}}.
	
	[Exemple d'utilisation et documentation->http://www.pyrat.net/].
	</description>
	<icon>img_pack/soyezcreateurs_48.png</icon>

 	<prefix>zoyezcreateurs</prefix>

	<install>base/soyezcreateurs_install.php</install>
	
	<bouton id='soyezcreateur_config' parent='configuration'>
		<icone>img_pack/soyezcreateurs.png</icone>
		<titre>soyezcreateurs:configurersc</titre>
		<url>cfg</url>
		<args>cfg=soyezcreateurs</args>
	</bouton>
	<bouton id='soyezcreateur_aide' parent='aide_index'>
		<icone>img_pack/soyezcreateurs_help-24.png</icone>
		<titre>soyezcreateurs:aidesc</titre>
		<url>sc_aide</url>
	</bouton>
	<bouton id='soyezcreateur_config21' parent='bando_configuration'>
		<icone>images/soyezcreateurs-16.png</icone>
		<titre>soyezcreateurs:configurersc</titre>
		<url>cfg</url>
		<args>cfg=soyezcreateurs</args>
	</bouton>
	<bouton id='sc_aide' parent="bando_squelette">
		<icone>images/soyezcreateurs_help-16.png</icone>
		<titre>soyezcreateurs:aidesc</titre>
		<url>sc_aide</url>
	</bouton>
	
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>soyezcreateurs_pipelines.php</inclure>
	</pipeline>


	<!-- Integrer les noiZettes -->
	<pipeline>
		<nom>recuperer_fond</nom>
		<inclure>soyezcreateurs_pipelines.php</inclure>
	</pipeline>
	
	<!-- Declarer les pre_ pour l'insertion de noiZettes -->
	<pipeline>
		<nom>noizetier_blocs_defaut</nom>
		<inclure>soyezcreateurs_pipelines.php</inclure>
	</pipeline>

	
	<options>soyezcreateurs_options.php</options>
	<fonctions>soyezcreateurs_fonctions.php</fonctions>
	<categorie>squelette</categorie>
	<necessite id='SPIP' version="[2.1.0;2.1.99]" />
	<necessite id="cfg" version="[1.15.0;]" />
	<necessite id="couteau_suisse" version="[1.8.17.00;]" />
	<necessite id="saisies" version="[1.42.11;]" />
	<necessite id="Fonctions_images" version="[0.4.0;]" />
	<necessite id="spip_bonux" version="[1.9.3;]" />
	<necessite id="z" version="[2.0.0-dev;]" />
	<necessite id="noizetier" version="[0.4.0;]" />
	<necessite id="YAML" version="[1.5.2;]" />

	<utilise id="bando" version="[1.0.1;]" />
	<utilise id="slogan" version="[2.0.2;]" />
	<utilise id="acronymes" version="[0.11;]" />
	<utilise id="Agenda" version="[2.0.13;]" />
	<utilise id="AccesRestreint" version="[0.3.0;]" />
	<utilise id="Accessibilite" version="[0.3.0;]" />
	<utilise id="article_pdf" version="[0.2.0;]" />
	<utilise id="Autorite" version="[0.9.2;]" />
	<utilise id="boutonstexte" version="[0.3.1;]" />
	<utilise id="clevermail" version="[2.5.0;]" />
	<utilise id="crayons" version="[1.6.0;]" />
	<utilise id="forms" version="[0.305.0;]" />
	<utilise id="Fulltext" version="[0.3.0;]" />
	<utilise id="medias" version="[1.5.0;]" />
	<utilise id="savecfg" version="[2.6.0;]" />
	<utilise id="sedna" version="[1.1.0;]" />
	<utilise id="typoenluminee" version="[3.1.2;]" />
	<utilise id="gis" version="[0.2.0;]" />
	<utilise id="geomap" version="[0.2.0;]" />
	<utilise id="ppp" version="[1.0.2;]" />
	<utilise id="mll" version="[0.9.0;]" />
	<utilise id="noie" version="[1.1.0;]" />
	<utilise id="critere_mots" version="[1.2.0;]" />
	<utilise id="rainette" version="[1.3.0;]" />
	<utilise id="gravatar" version="[1.0.2;]" />
	<utilise id="nuage" version="[1.5.0;]" />
	<utilise id="splickr" version="[0.4.0;]" />
	<utilise id="comments" version="[2.1.0;]" />
	
	<chemin dir='' />
</plugin>
