<plugin>
	<nom>
		<multi>
			[fr]MediaSPIP Configuration
			[en]MediaSPIP Setup
		</multi>
	</nom>
	<auteur>[kent1->http://www.kent1.info]</auteur>
	<licence>GNU/GPL v3</licence>
	<slogan>
		<multi>
			[fr] Configurer son MediaSPIP
			[en] Setup our MediaSPIP
		</multi>
	</slogan>
	<icon>images/mediaspip.png</icon>
	<version>0.4.8</version>
	<version_base>0.0.1</version_base>
	<etat>stable</etat>
    <description>
    	<multi>
    		[fr]Squelette de configuration pour les plateformes MediaSPIP.
_ Permet d'avoir une partie de configuration publique.
			[en]Setup skeleton for the MediaSPIP websites.
_ Allow to configure the website in the public area.
		</multi>
	</description>
	<prefix>mediaspip_config</prefix>
	<install>base/mediaspip_config_upgrade.php</install>
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/mediaspip_config.php</inclure>
	</pipeline>
	<pipeline>
		<nom>zengarden_activer_theme</nom>
		<inclure>mediaspip_config_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>post_edition</nom>
		<inclure>mediaspip_config_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>editer_contenu_objet</nom>
		<inclure>mediaspip_config_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>formulaire_charger</nom>
		<inclure>mediaspip_config_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>formulaire_verifier</nom>
		<inclure>mediaspip_config_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>formulaire_traiter</nom>
		<inclure>mediaspip_config_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>objets_extensibles</nom>
		<inclure>mediaspip_config_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>menus_lister_disponibles</nom>
		<inclure>mediaspip_config_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>formulaire_admin</nom>
		<inclure>mediaspip_config_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>recuperer_fond</nom>
		<inclure>mediaspip_config_pipelines.php</inclure>
	</pipeline>
	<necessite id="SPIP" version="[2.1.2;2.1.99]" />
	<necessite id="saisies" version="[1.42.11;]" />
	<necessite id="cfg" version="[1.14.1;]" />
	<necessite id="spip_bonux" version="[1.9.1;]" />
	<necessite id="Ajaxforms" version="[0.2.2;]" />
	<necessite id="SelecteurGenerique" version="[0.7.0;]" />
	<necessite id="menus" version="[0.8.8;]" />
	<utilise id="porte_plume" />
	<utilise id="mediabox" />
	<utilise id="notation" />
	<utilise id="facteur" />
	<utilise id="zengarden" />
	<utilise id="cextras" />
	<utilise id="iextras" />
	<utilise id="menus" />
	<utilise id="saveauto" />
	<utilise id="Fulltext" />
	<categorie>maintenance</categorie>
</plugin>
