<plugin>
	<nom>Squelette Brominerary</nom>
	<slogan>Pour les sites de type blog</slogan>
	<version>1.0.1</version>
	<etat>stable</etat>
  	<auteur>[Anthony Mathieu (OpenStudio)->http://www.openstudio.fr/]), [d'apr&#233;s le th&#232;me Brominerary->http://www.paddsolutions.com/wordpress-theme-brominerary/], [chez Padd Solutions->http://www.paddsolutions.com/]</auteur>
  	<licence>GNU/GPL</licence>
  	<description>
	Un squelette 3 colonnes, noir et bleu. Con&#231;u pour fonctionner avec le th&#232;me du m&#234;me nom.
  	</description>
	<lien>https://contrib.spip.net/4143</lien>
  	<icon>vignette.png</icon>
	<prefix>squelette_brominerary</prefix>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<necessite id="Z" version="[1.2.0;]" />
	<utilise id="menus" />
	<pipeline>
  		<nom>insert_head</nom>
  		<action>insertion_in_head</action>
  		<inclure>squelette_brominerary_pipelines.php</inclure>
 	</pipeline>
</plugin>



