/*
    CSS pour les éléments
    specifiques de config
    de Mélusine dans les
    squelettes


*/

/*On cache les truc d'admin par défaut */
.module_melusine.admin_melusine .formulaire_deplacer_module {
    display: none;
}
.button.config_melusine {
    display: none;
}
.zbloc .nom_zbloc {
    display: none;
}



/*
    Quand la classe existe on entoure le zbloc
    et on affiche le titre et les boutons
*/
.zbloc.admin_melusine {
    border: 4px dotted red;
}
.zbloc.admin_melusine .nom_zbloc {
    display: block;
    background: red;
    position: absolute;
    top: -24px;
    left: 0px;
    -webkit-opacity: 0.5;
	-moz-opacity: 0.5;
    opacity: 0.5;
	filter:alpha(opacity=50);
	color:white;
	width: 12em;
	font-weight: bold;
	
}

/* Quand la classe existe on affiche les boutons */
.zbloc.admin_melusine .button.config_melusine {
    display: inline;
}

/*  Pour le formulaire de déplacement
    des modules
*/
.zbloc.admin_melusine .module_melusine.admin_melusine {
    border: 1px dotted lightgrey;
}
.zbloc.admin_melusine .formulaire_deplacer_module {
    position: absolute;
    bottom: 24px;
    border-bottom: 1px dotted lightgrey;
    background: #EEE;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}
.zbloc.admin_melusine .formulaire_deplacer_module form p.nom_module {
    display: inline;
    font-size: 10px;
}
.zbloc.admin_melusine .formulaire_deplacer_module form ul.editer_position {
    display: inline;
    padding: 0px;
}
.zbloc.admin_melusine .formulaire_deplacer_module form input.module_melusine {
    border: 0px none;
    color: transparent;
    height:20px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}
.zbloc.admin_melusine .formulaire_deplacer_module form input.module_melusine.bas {
    background: url("../images/bas.jpg") no-repeat scroll 0% 0% transparent;
}
.zbloc.admin_melusine .formulaire_deplacer_module form input.module_melusine.haut {
	background: url("../images/haut.jpg") no-repeat scroll 0% 0% transparent;
}
.zbloc.admin_melusine .formulaire_deplacer_module form input.module_melusine.sup {
	background: url("../images/croix.gif") no-repeat scroll 0% 0% transparent;
}

.zbloc.admin_melusine .formulaire_deplacer_module ul.boutons.editer_position li {
    display: inline;
}