/*CSS pour les éléments spécifiques de config de Mélusine dans les squelettes */


/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/
/* --- MISE EN FORME PAR DEFAUT --------------------------------------------- */
/* ---------------------------------------------------------------------------*/
/* ---------------------------------------------------------------------------*/


/* ------------------------------------*/
/* MISE EN FORME DES BOUTONS DES BLOCS */
/* ------------------------------------*/
/* Ajouter un module, uniformiser,...  */
/* ------------------------------------*/
.button.config_melusine 
{
    display: inline-block;
    color: /*red;*/	#C0392B;
}

/* -------------------------------------*/
/*-- MISE EN FORME DES NOMS DES BLOCS --*/
/* -------------------------------------*/
/* Nom en blanc dans cadre à fond rouge */
/* -------------------------------------*/
.zbloc .nom_zbloc 
{
    display: block;
/*    background: #c0392b;*/
    position: relative;
    /*top: -24px;*/
    z-index:0;
    color:white;
    /*width: 12em;*/
    font-weight: bold;
    height:24px;;
}

/* ---------------------------*/
/*-- ENCADREMENTS ------------*/
/* ---------------------------*/
/* zones encadrées de blanc --*/
/* ---------------------------*/
.voir_blocs .zbloc 
{
    border: 2px dotted white;
    /*AVANT, on jouait avec la transparence des blocs non survolés*/
    /*-webkit-opacity: 0.3;
    -moz-opacity: 0.3;
    opacity: 0.3;
    filter:alpha(opacity=30);*/ /* For IE8 and earlier */
}

/* modules encadrés de gris --*/
/* ---------------------------*/
.zbloc .module_melusine.admin_melusine {
    border: 1px solid #C0C0C0;
}


/* ---------------------------------------*/
/* -- MISE EN FORME DU MENU DES MODULES --*/
/* ---------------------------------------*/
/* Nom du module */
/* ------------- */
.zbloc .formulaire_deplacer_module form p.nom_module{
    display: block;
	font-family: trebuchet_ms, arial, verdana, sans-serif;
    font-size: 70%;
	margin-top: -5px;
/*	vertical-align: top;*/
	overflow:hidden;
	line-height: 1;
}
/* Position */
/* -------- */
.zbloc .formulaire_deplacer_module form ul.editer_position {
    display: inline;
    padding: 0px;
}
/* Module mélusine */
/* --------------- */
.zbloc .formulaire_deplacer_module form input.module_melusine {
    border: 0px none;
    color: transparent;
    height:20px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}
/* Flèche vers le bas */
/* ------------------ */
.zbloc .formulaire_deplacer_module form input.module_melusine.bas 
{
    background: url("../images/bas.jpg") no-repeat scroll 0% 0% transparent;
}
/* Flèche vers le haut */
/* ------------------- */
.zbloc .formulaire_deplacer_module form input.module_melusine.haut 
{
    background: url("../images/haut.jpg") no-repeat scroll 0% 0% transparent;
}
/* Bouton supprimer */
/* ---------------- */
.zbloc .formulaire_deplacer_module form input.module_melusine.sup
{
    background: url("../images/croix.gif") no-repeat scroll 0% 0% transparent;
}
/* Boutons */
/* ------- */
.zbloc .formulaire_deplacer_module ul.boutons.editer_position li 
{
    display: inline;
}

/* Menu des modules */
/* ---------------- */
.zbloc .formulaire_deplacer_module
{
position:relative;
z-index:0;
top:0px;
height:50px;
width:100%;
/*background-color:#ecf0f1;*/
background-color:#DDDDDD; /*gris clair moyen*/
left:0px;
}
.admin_zbloc.top {
/*	color:#c0392b;*/
	background-image: linear-gradient(180deg, #c0392b, #f0f0f0);
}
.admin_zbloc .nom_zbloc {
    background:  #c0392b;
	z-index: 0;
/*	opacity: 0.9;*/
}
.row { padding-top:0px }
 
/* bulle bleues d'information quand un module n'est pas configuré */
.admin_melusine .info {
	margin-bottom:0px;
}


/* */
.module_melusine.admin_melusine  {
	margin-bottom:15px;
}

.module_melusine .admin_melusine {
	margin-top:20px;
	margin-bottom:0px;
}




/* --------------------------------*/
/* --------------------------------*/
/* --- MISE EN FORME AU SURVOL --- */
/* --------------------------------*/
/* --------------------------------*/


/* ------------------------------------------------*/
/* --- Changements opérés au survol ---------------*/
/* ------------------------------------------------*/

/* Encadrement de la zone avec des pointillés verts*/
/*-------------------------------------------------*/
.zbloc.admin_melusine {
    /*background-color: rgba(255,255,255,1);*/
    border: 2px dotted green /*#27AE60*/;
    /* Avant, on enlevait la transparence par défaut*/
    /*-webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter:alpha(opacity=100);*/
}

/* Le nom des zones devient sur fond vert ---------*/
/*-------------------------------------------------*/
.zbloc.admin_melusine .nom_zbloc {
    display: block;
    background: green /*#27AE60*/;
    position: relative;
    /*top: -24px;*/
    z-index:200;
    color:white;
    /*width: 12em;*/
    font-weight: bold;
    height:24px;;
}

.zbloc.admin_melusine .top {
	background-image: linear-gradient(180deg, green, #f0f0f0);
    z-index:200;
}

/* Les actions: uniformiser, etc... passent au vert */
/*-------------------------------------------------*/
.zbloc.admin_melusine .button.config_melusine {
    display: inline-block;
    color: green /*#27AE60*/;
}




/* Quand la classe existe on affiche les boutons */
/*.zbloc.admin_melusine .button.config_melusine {
    display: inline;
}*/

/*  Pour le formulaire de déplacement
    des modules
*/
/*.zbloc.admin_melusine .module_melusine.admin_melusine {
    border: 1px dotted lightgrey;
}*/
/*.zbloc.admin_melusine .formulaire_deplacer_module {
    position: absolute;
    bottom: 24px;
    border-bottom: 1px dotted lightgrey;
    background: #EEE;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}*/

/*.zbloc{*/
    /*min-height:50px;*/
    /*display:block;
}
.admin_zbloc{
    display:block;
    width:100%;
    clear:both;
}*/

/*.admin_melusine{
    clear:both;
}*/

/*body.admin_melusine_body
{
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
/*}*/


/*
    Quand la classe existe on entoure le zbloc
    et on affiche le titre et les boutons
*/
    /*transition: border 500ms ease, background-color 500ms ease;
     border: 4px dotted green; 
   
    z-index:200;
    background-color: rgba(255,255,255,1);*/
    /*-webkit-opacity: 0.1;
    -moz-opacity: 0.1;
    opacity: 0.1;*/

/* petite marge avant les bloc-modules dans les conteneurs 
.boutons.admin_zbloc.top{
	margin-bottom:10px;
}*/

/* décalage nécessaire en vue admin sous le menu-horizontal (lorsqu'il y a par exemple un fil d'ariane)*/
.module_melusine.admin_melusine.melusine-modules_menu_horizontal {
	/* padding-bottom: 50px; */
}

.formulaire_deplacer_module p.nom_module{
	font-size:200%;
	line-height: 1.0;
}