/*
    CSS pour les éléments
    specifiques de config
    de Mélusine dans les
    squelettes


*/



/*  Pour le formulaire de déplacement
    des modules
*/
.module_melusine.admin_melusine {
    border: 1px dotted lightgrey;
}
.formulaire_deplacer_module {
    border-bottom: 1px dotted lightgrey;
    margin-bottom: 5px;
    padding: 5px;
    background: #EEE;
}
.formulaire_deplacer_module form p.nom_module {
    display: inline;
    font-size: 10px;
}
.formulaire_deplacer_module form ul.editer_position {
    display: inline;
    padding: 0px;
}
.formulaire_deplacer_module form input.module_melusine {
    border: 0px none;
    color: transparent;
    height:20px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}
.formulaire_deplacer_module form input.module_melusine.bas {
    background: url("../images/bas.jpg") no-repeat scroll 0% 0% transparent;
}
.formulaire_deplacer_module form input.module_melusine.haut {
	background: url("../images/haut.jpg") no-repeat scroll 0% 0% transparent;
}
.formulaire_deplacer_module form input.module_melusine.sup {
	background: url("../images/croix.gif") no-repeat scroll 0% 0% transparent;
}

.formulaire_deplacer_module ul.boutons.editer_position li {
    display: inline;
}