html {
    width: 440px;
}
h1 {
    text-align:center;
    font-size: 120%;
    border-bottom: 1px solid grey;
    padding-bottom: 0.5em;
}
p, ul, ol {
    margin-left: 0.3em;
    margin-right: 0.3em;
}
ul.ajouter_module, ul.uniformiser_bloc {
    padding-left: 0px;
}
ul.ajouter_module>li, ul.uniformiser_bloc>li {
    list-style: none;
    border-top: 1px solid dimgray;
}
div.haut_module, div.choix {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    background-color: lightgray;
    margin: 0px;
}
div.haut_module.checked, div.choix.checked {
    background-color: lightgreen;
}
span.nom_module {
    font-weight: bold;
}
span.pages_du_gabarit {
    font-size: 80%
}
div.description_module {
    display: none;
    margin-left: 1em;
    font-size: 90%;
}
span.deplier>a {
    font-size: 60%;
    padding-left: 1.5em;
    color: blue;
    cursor: pointer;
}
span.deplier>a:hover {
    font-size: 60%;
    padding-left: 1.5em;
    color: blue;
    text-decoration: underline;
}
img.icone_module {
    vertical-align:middle;
}
div.config_bloc {
    border: 1px solid #DCDCDC;
    font-size: 80%;
}
div.config_bloc>p {
    margin: 0px;
    background-color: #DCDCDC;
    padding: 1em;
}
div.config_bloc>ol {
    float: left;
    width: 20%;
}
div.config_bloc>ol.colonne2,div.config_bloc>ol.colonne3 {
    border-left: 1px solid #DCDCDC;
}
hr.clean {
    clear: both;
    border: none;
}