/*Patch pour rendre mediabox
compatible avec bootstrap

Issu de https://contrib.spip.net/MediaBox#forum470766

*/

#colorbox, #colorbox * {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}

#colorbox img { height: inherit; }

#colorbox {overflow: visible;}