/*******************************************/
/* STRUCTURE GLOBALE DE LA PAGE ET Z-BLOCS */
/*******************************************/

/*#ecf0f1*/
/*.zbloc-content, .zbloc-aside, .zbloc-extra,.zbloc-pre_content, .zbloc-footer{background-color:#ecf0f1!important;}*/
.row{
	padding-top:10px;
	padding-bottom:10px;
}

.zbloc-header{background-color:#FFF}
.zbloc-breadcrumb {
	padding-top:0px;
}
.zbloc-nav {
	background-color:#95a5a6;
	padding-top:0px;
	padding-bottom:0px;
}
.zbloc-nav .row{
	padding:0px;
}
.zbloc-footer{
padding-bottom:0px;
}
.zbloc-footer2{

padding-top:0px;
padding-bottom:0px;

}

.container,.container-fluid{
	background-color:#ecf0f1;
	-moz-box-shadow: 1px 1px 20px 1px #cfcfcf;
	-webkit-box-shadow: 1px 1px 20px 1px #cfcfcf;
	-o-box-shadow: 1px 1px 20px 1px #cfcfcf;
	box-shadow: 1px 1px 20px 1px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=20);
}

.menu{ margin-bottom:10px; }

.spip_logos{ float:inherit; }

/* Menu de navigation horizontal*/
.nav { background-color:#27ae60; }
.nav a { color:#FFF; font-size:1.3rem; }
.nav-pills>li>a {
border-radius: 0px;
}
.nav li.on{ background-color:#3498db; }
ul.menu-horizontal{ width:100%; }
ul.menu-horizontal li a.home{
	padding:0px!important;
	padding-right:20px!important;
	padding-left:20px!important;
	padding-top:8px!important;
	padding-bottom:0px!important;

}

/*Carousel */
.diapo_legende{
	background-color:#FFF!important;
	position:absolute;
	opacity:0.7;
	z-index:80;
	top:0px;
	width:40%;
	right:0px;
	height:100%;
	display:block;
}

.texte_diapo_legende{
	color:#000;
	opacity:1;
	padding:5px;
	z-index:100;
}

.carousel{ overflow:hidden; }

.carousel img{ width:100%; }

.texte_diapo_legende h2{ margin-bottom:10px; }

.lire_la_suite { text-align:right; }


.melusine-footer {
	clear:none;
	margin:20px;
	float:left;
}

.melusine-footer .titre_section_services{
	position:absolute;
	top:-10px;
	width:100%;
	left:0px;
	text-align:left;
}


#info_rech_contact ul li{
	float: left;
	width: 4.6em;
	text-align: center;
	font-size: 100%;
	color: #18417f;
	margin: 5px 0px;
	background: none;
	padding: 0px;
}
#info_rech_contact ul li a {
	font-size: 73%;
	color: #18417f;
	text-decoration: none;
}
#info_rech_contact ul li a span {
	display: block;
}
#info_rech_contact{
	clear:both;
}

a.ong1{
	border:0px solid!important;
	text-align: center;
}

/***************************/
/* ORGANISATION DU CONTENU */
/***************************/

.module_content {
 	padding:5px;
	overflow:hidden;
}

.module_melusine {
	margin-top:10px;
	margin-bottom:10px;
}

/*petit bandeau de boutons d'edition noisettes */
.module_melusine.bas,
.module_melusine.haut,
.module_melusine.sup,
.module_melusine .nom_module {
	margin-top:0px;
	margin-bottom:0px;
}

/*.nav
.header
.breadcrumb
.pre_content
.content
.aside
.extra
.footer
.footer2
.module_melusine{
	margin-top:0px!important;
	margin-bottom:0px!important;
}*/


/***********************************************************/
/* SPECIFICITES DE PRESENTATION PROPRES A CERTAINS MODULES */
/***********************************************************/

.melusine-modules_article_mots a { display: inline-flex; }

.multibloc .item,
.multibloc .item123,
.bloc_visible,
/*.melusine-modules_articles_freres .module_content,*/
.melusine-modules_article .module_content,
/*.melusine-modules_article_mots .module_content,*/
/*.melusine-modules_docs_joints .module_content,*/
.melusine-modules_breves,
.melusine-modules_mot,
.melusine-modules_bouton_mail,
.melusine-modules_bouton_mail2,
.melusine-modules_mentions_legales2,
.melusine-modules_titre_rubrique,
.bord_bouton,
/*.melusine-modules_fil_twitter,*/
.melusine-modules_sites_academiques .breves,
.melusine-modules_tableau_image,
#pre_content-col2 .melusine-modules_bouton {
/*	margin-bottom:20px; cela ajoute des marges dans les div de module_content :( */
	background-color:#fff;
	-moz-box-shadow: 1px 1px 4px 1px #cfcfcf;
	-webkit-box-shadow: 1px 1px 4px 1px #cfcfcf;
	-o-box-shadow: 1px 1px 4px 1px #cfcfcf;
	box-shadow: 1px 1px 4px 1px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=4);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/*.module_melusine .info {margin-bottom:15px;}*/

.multibloc .item{
	padding:5px;
}
.module_content.multibloc .item{
	margin-bottom:10px;
}

/* pour les logos académiques en multibloc */
.bouton.item.multibloc {
	width: auto;
	height: auto;
	display: inline-block !important;
}

.melusine-modules_plan .item.multibloc {
	margin:5px;
}
.melusine-modules_plan  .module_content .plan_rubrique {
	padding: 0px;
	margin-bottom:5px;
}
.melusine-modules_plan  .module_content .plan_rubrique ul {
 	padding-left:5px;
}


.multibloc .item .fa{
	color:#ECF0F1;
	margin-left:-6px;
	font-size:130%;

}

/*.melusine-modules_titre_rubrique{
	display:inline-block;
}*/

.melusine-modules_titre_rubrique img{
	margin-left:5px;
}

#pre_content-col2 .melusine-modules_bouton{
	margin-bottom:20px;
 }

.melusine-modules_focus_dan .row{
	margin-bottom:20px;
	margin-left:3px;
	padding:5px;
	background-color:#fff;
-moz-box-shadow: 1px 1px 4px 1px #cfcfcf;
-webkit-box-shadow: 1px 1px 4px 1px #cfcfcf;
-o-box-shadow: 1px 1px 4px 1px #cfcfcf;
box-shadow: 1px 1px 4px 1px #cfcfcf;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=4);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.melusine-modules_diapo_focus{
	overflow: hidden;
}
#info_rech_contact h2{
	text-align:center;
	
	padding-bottom:20px;
	padding-top:20px;
	font-size:1rem;
	border-bottom:1px solid #CCC;
}

.melusine-modules_tableau_image ul{
	display:table;
	}
.melusine-modules_tableau_image {
	padding:10px;
	}
.melusine-modules_tableau_image ul li{
	float: left;
	/*width: 4.6em;*/
	text-align: center;
	font-size: 100%;
	color: #18417f;
	margin: 5px 0px;
	background: none;
	padding: 0px;
	}
.melusine-modules_tableau_image ul li a {
	padding:20px;
	font-size: 73%;
	color: #18417f;
	text-decoration: none;
}
.melusine-modules_tableau_image ul li a span {
	display: block;
}
.melusine-modules_tableau_image {
	clear:both;
}
.melusine-modules_tableau_image img{

}

.bord_bouton {
	font-size:80%;
	text-align:center;
	padding:5px;
	background-color:#fff;
	-moz-box-shadow: 1px 1px 4px 1px #cfcfcf;
	-webkit-box-shadow: 1px 1px 4px 1px #cfcfcf;
	-o-box-shadow: 1px 1px 4px 1px #cfcfcf;
	box-shadow: 1px 1px 4px 1px #cfcfcf;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=4);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px ;
}

/*nouveaux blocs (breves, sites_acad,....)*/
.bloc_visible h2, .multibloc h2, .bloc_invisible h2, .melusine-modules_docs_joints h2, .melusine-modules_breves h2, .melusine-modules_fil_twitter h2,.melusine-modules_sites_academiques .breves .en-tete{
text-align:center;
	padding-bottom:20px;
	padding-top:20px;
	font-size:1rem;
	border-bottom:1px solid #CCC;

}
.melusine-modules_info_educ_nat .bloc_visible .item,
.melusine-modules_info_educ_nat .multibloc .item{
	padding-left:0px;
	margin-left:0px;
	padding-right:0px;
	margin-right:0px;
}

.melusine-modules_info_educ_nat .multibloc .item {
	height:auto!important;
	min-width:30px;
	padding:5px;
	margin-left:0px;
	margin-right:0px;

}
.melusine-modules_info_educ_nat .multibloc .col-md-4{
	height:auto!important;
	min-width:30px;
	padding-left:5px;
	padding-right:5px;
	margin-left:0px!important;
	margin-right:0px!important;

}
.melusine-modules_info_educ_nat span{
font-size:60%;
display:block;
text-align:center;
}


/*#aside*/ .melusine-modules_docs_joints .spip_logos{
	float: inherit;
	width: inherit !important; /*garde les icones à taille normale*/
	text-align: center;
}

.melusine-modules_docs_joints .item {
	text-align: center;
	overflow:auto;
}



.melusine-modules_sites_academiques .breves .contenu{padding-bottom:5px;font-size:100%;width:100%}
.melusine-modules_sites_academiques .breves .contenu .nom-breve{display:block;font-size:140%;font-weight:700;text-align:center}
.melusine-modules_sites_academiques .breves .contenu .date{font-size:90%;margin-left:40%;text-align:center;padding:1px}
.melusine-modules_sites_academiques .breves .contenu .texte{padding-left:5px;font-size:125%;line-height:110%;margin:0}
.melusine-modules_sites_academiques .breves .img{text-align:center}
.melusine-modules_sites_academiques .breves p{text-align:left}
.melusine-modules_sites_academiques .breves ul ul{margin-left:40px;}

/*.melusine-modules_fil_twitter ul li{
float: left;
width: 4.6em;
text-align: center;
font-size: 100%;
color: #18417f;
margin: 5px 0px;
background: none;
padding: 0px;
}*/

.melusine-modules_fil_twitter ul li{
	margin-left:5px;
	margin-right:5px;
	font-size:85%;
}

.melusine-modules_bouton_mail i.fa-envelope,
.melusine-modules_bouton_mail2 i.fa-envelope,
.melusine-modules_agenda i.fa-calendar,
.melusine-modules_agenda i.fa-newspaper-o,
.melusine-modules_breves i.fa-newspaper-o,
.melusine-modules_fil_twitter i.fa-twitter{
	color:#3498db;
}

.melusine-modules_fil_twitter .date{
	margin-bottom:0px;
}

.melusine-modules_fil_twitter .twitt{
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
 
 
/*melusine-modules_formulaire_recherche,
.melusine-modules_formulaire_recherche_a*/
.melusine-modules_formulaire_recherche .row button ,
.melusine-modules_recherche_a .row button{
	margin-left: -37px !important;
	z-index: 10;
	padding-bottom: 7px;
}

.melusine-modules_menu_horizontal{
	margin-left:-15px;
	margin-right:-15px;
	margin-top:0px!important; 
	margin-bottom:0px!important;
}

.rubrique{
	height:auto;
 	clear:both;
}

 .melusine-modules_plan ul li{
 	font-size:80%;
}

 #footer{
  	padding-top:10px;
  	background:#FFF;
 }
 

/* Footer 2 : à TESTER dans differentes configurations */
#footer2,
#footer2-col2,
#footer2-col3 {
	margin-top:0px;
	background-color:#27ae60;
}
/*#footer2 a,
#footer2-col2 a,
#footer2-col3 a{
  	color:#FFF;
 }*/
#footer2 .row,
#footer2-col2 .row,
#footer2-col3 .row{
  	padding:0px;
 }
/* #footer2 .module_melusine{
	padding:0px;
	display:inline-block;
	padding-left:20px;
	margin-top:5px;
}*/



.item .spip_logos{
	width:100%;
	height:auto;
}



.multibloc .col1 .item{
height:200px;
overflow:hidden;
}

.melusine-modules_bouton {text-align:center}
.melusine-modules_bouton .bloc_visible{padding:5px;}


/* module sites académiques */
.melusine-modules_sites_academiques ul.liens ul{
	margin-left: 10px!important;
}
/* module educ_nat_info */
.melusine-modules_info_educ_nat .col1 div{
	margin-right:-8px;
}
.melusine-modules_info_educ_nat .item {
	height:72px;
}
.melusine-modules_info_educ_nat .item img{
	margin:0 auto;
}

/* page_article */
.melusine-modules_page_article  h2{
font-size: 200%;
font-weight: bold;
font-family: arial;
text-align: left;
border-bottom: 0px;
margin-bottom: 0px;
padding-bottom: 10px;
}

#documents_joints h2{
	font-size: 120%;
	font-weight: bold;
	font-family: arial;
	text-align: left;
	border-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}


/*.melusine-modules_page_article*/ .detail{
padding-bottom: 10px;
color: #95a5a6;
font-weight: bold;
font-family: arial;
font-size: 80%;
}

.logo_article{
	margin-bottom:15px;
}
.vignette{
	float: left;
	margin-right: 15px;
}

/* modele social tags */
.social span{
	padding:5px;
}
.social{
	text-align:right;	
}


/* page_rubrique */
.bloc_rub3 h2{
	font-size: 150%;
	font-weight: bold;

	text-align: left;
	border-bottom: 0px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	color:#000;
}

.bloc_rub3 h2 a{
	color:#000;
}

.alignecentre { text-align: center;}
.alignegauche { text-align: left;}
.alignedroite { text-align: right;}

.module_melusine .info { margin-bottom:0px; }

.pasdextra { display: none; }


/*----------------------------------------------------------------------------*/
/* ITEM123 pour le module LISTE DE BOUTONS -----------------------------------*/
/*----------------------------------------------------------------------------*/

.row .item123 {
    min-width: 100px;
/*    padding-left: 5px !important;
	padding-right: 5px !important;*/
    text-align: center;
}	
<<<<<<< .mine
.row .item123-logo {height:100px;min-width:100px;vertical-align:middle;margin:0px;}
=======
.row .item123-logo {
	height:100px;
	min-width:100px;
	vertical-align:middle;
	margin:0px;
}


>>>>>>> .r87370
.multibloc .item123{padding:0px;}
.module_content.multibloc .item123 {margin-bottom:0px;}
.module_content.multibloc .item123-logo {margin-bottom:0px;vertical-align:middle; }


.en_ligne{float:right;padding:0px;display:table;}
.en_lignedroite{float:right;padding:0px;display:table;}
.en_lignegauche{float:left;padding:0px;display:table;}

.en_ligne .item{display:table-cell;vertical-align: middle;height:100%;margin:0px;}
.en_lignedroite .item123{display:table-cell;vertical-align: middle;height:100%;margin:0px;}
.en_lignegauche .item123{display:table-cell;vertical-align: middle;height:100%;margin:0px;}

.en_ligne .item:hover{background-color:#CCC;}
.en_lignedroite .item123:hover{background-color:#CCC;}
.en_lignegauche .item123:hover{background-color:#CCC;}

.en_ligne .item a { color:#FFF;}
#nav .bloc_invisible .en_lignedroite .item123 a{ color:#FFF;} /*seulement sur le nav et le footer2 (fond coloré)*/
#nav .bloc_invisible .en_lignegauche .item123 a{ color:#FFF;} /*seulement sur le nav et le footer2 (fond coloré)*/
#footer2 .bloc_invisible .en_lignedroite .item123 a{ color:#FFF;} /*seulement sur le nav et le footer2 (fond coloré)*/
#footer2 .bloc_invisible .en_lignegauche .item123 a{ color:#FFF;} /*seulement sur le nav et le footer2 (fond coloré)*/
#nav .module_melusine { margin:0px;}
#footer2 .module_melusine { margin:0px;}



.en_ligne .item a,
.en_lignedroite .item123 a,
.en_lignegauche .item123 a {
	padding-left:10px;
	padding-right:10px;
	font-variant: small-caps;
	/*margin-left:10px;*/
	
	text-align:center;
	height:31px;
	font-size:18px;
	text-decoration:none
}

.en_ligne .item-logo a img{ height:90%; }
/*.en_lignedroite .item-logo a img{ height:90%; }*/
/*.en_lignegauche .item-logo a img{ height:90%; }*/

.en_ligne .item-logo:hover { background-color:transparent!important; }

.en_lignedroite .item123-logo:hover { background-color:transparent!important;}
.en_lignegauche .item123-logo:hover { background-color:transparent!important;}




/*la row avec -15 de marge mangeait les miniblocs boutons*/
.en_lignedroite .row {margin:0px;}
.en_lignegauche .row {margin:0px;} /* line-height:100%; vertical-align:middle; display:table;} ne centre pas les images verticalement :(*/
.en_lignegauche {margin: 0px 0px 0px 5px;} /*display: table-cell; vertical-align:middle; } ne centre pas les images verticalement :( */
.en_lignedroite {margin: 0px 0px 5px 0px;}
