<plugin>
    <nom>Publication d'un article sous forme d'album photo</nom>
    <auteur>Equipe de développement d'Eva</auteur>
    <version>0.1</version>
    <etat>test</etat>
    <description>
    {{{Publication d'un article sous forme d'album photo}}}
    
    <u>Intéret de ce plugin</u><br />
    - Publier une série de photographies dans un article <br />
    - Permettre le passage d'une photographie à une autre par un simple clic de souris<br />
    - Afficher les miniatures des photographies à afficher<br />
    - Afficher chaque photographie en plein écran par un simple clic<br />

    <u>Mise en place de ce plugin</u><br />
    - Activer le plugin en cochant la case ci-contre, puis valider<br />
    - Suivre la procédure de mise en place de l'album photo décritre dans l'aide d'Eva<br />
    </description>
    <prefix>article_album_photo</prefix>
</plugin>