<plugin>
	<nom>Squelette Median</nom>
	<slogan>Un squelette g&#233;n&#233;raliste, valide XHTML, et configurable</slogan>
	<auteur>M&#233;lanie Martin - cy_altern </auteur>
	<licence>&#169; 2009 - GPL</licence>
	<lien>https://contrib.spip.net/?article3071</lien>
	<icon>median-64.png</icon>
	<version>1.1.1</version>
	<etat>stable</etat>
  <description>
Ce plugin active ou d&#233;sactive le squelette {{Median}}. Le squelette median est un squelette qui permet de g&#233;rer de fa&#231;on relativement pr&#233;cise les contenus &#224; afficher dans les diff&#233;rents types de pages via une interface de configuration CFG et un ensemble de mots-cl&#233;s "techniques".

Le squelette median gagnera en fonctionnalit&#233;s avec les plugins (fortement conseill&#233;s) suivants :

-* le plugin nuage pour le nuage de mots cles
-* le plugin mediabox (ou autre gestionnaire automatique d'images des port-folios tel Nyroceros).
-* les plugins inscription2 et spipliste pour g&#233;rer les inscriptions et les newsletters
-* le plugin experimental top_bando pour gerer plus finement l affichage du logo et d un bandeau du site

Ce squelette dispose de fichiers de langue fran&#231;ais, anglais, roumain et espagnol. La traduction espagnole est utilisable mais reste cependant &#224; am&#233;liorer : il manque de nombreux accents. Ce squelette &#224; &#233;t&#233; cr&#233;&#233; initialement pour un site anglophone d'o&#249; le mixage de mauvais anglais avec du fran&#231;ais dans le nommage des mots cl&#233;s techniques...
	</description>
	<prefix>squelette_median</prefix>
   <options>squelette_median_options.php</options>
   <fonctions>squelette_median_fonctions.php</fonctions>
	<necessite id="SPIP" version="[2.0.6;2.1.99]" />
	<necessite id="cfg" version="[1.10.2;]" />
	<necessite id="spip_bonux" version="[1.8;]" />
	<utilise id="palette" version="[1.0;]" />
	<chemin dir='' />
	<install>base/squelette_median_install.php</install>
	<categorie>squelette</categorie>
</plugin>
