/**
 * Module : adresse
 */
.address {
	display: flex;
	flex-flow: row wrap;
	font-style: normal;
	margin-bottom: initial;

	&__item {
		flex: 1 0 100%;

		&_title {
			font-weight: bold;
		}
		&_postal-code,
		&_locality {
			flex: 0 1 auto;
		}
		&_postal-code {
			margin-right: 0.5em;
		}
	}
}