/**
 * Module : cartouche
 */

.cartouche {
	display: flex;
	flex-flow: column;
	margin-top: spacing(2);
	margin-bottom: spacing(2);

	// Logo
	&__media {
		order: 2;
		margin-top: spacing(2);

		img {
			width: 100%; // Tant pis pour les timbres postes
		}
	}

	// Corps
	&__body {
		order: 1;
		text-align: center;
	}

	// Titre et sous-titre
	&__titre {
		flex: 0 0 100%;
		font-weight: normal;
		// text-align: center;

		&:only-child {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&__soustitre {
		font-family: setting(font-family-text);
		font-size: 0.5em; // par rapport à <h1>
	}

	// Postmeta : voir aussi dans base/_typo.scss
	&__postmeta {}

	// Social : voir aussi dans _social.scss
	&__social {
		margin-bottom: spacing();
		display: flex;

		&:before {
			content: '•';
			padding: 0 0.5em;
		}
	}


	// ==========
	// Responsive
	// ==========
	@include g-state( tablet ) {
		margin-top: spacing(4);
		margin-bottom: spacing(4);

		&__titre {
			font-size: 3em;
		}
	}

}