/**
 * Module : feature
 */

.feature {

	@extend .link-block-wrapper;

	// Centrons tout
	display: flex;
	flex-flow: column;
	align-items: center;

	// Image : si format svg, il est embarqué dans le html
	&__media {
		transition: all 0.2s;
	}
	svg {
		path {
			fill: setting(color-primary);
			transition: all 0.2s;
		}
	}
	img {
		border-radius: 99em;
	}

	&__title {
		font-family: setting(font-family-headings);
		font-weight: bold;
		font-size: font-size-heading(4);
		text-align: center;
		max-width: 10em;
	}

	&__content {
		font-family: setting(font-family-alt);
		font-style: italic;
	}

	a {
		text-decoration-thickness: 0.1rem;

		&:not(:hover):not(:focus) {
			color: inherit;
		}
	}

	// Hover
	&:hover,
	&:focus {
		svg {
			path {
				fill: setting(color-link-hover);
			}
		}
	}

}