<plugin>
        <nom> <!-- Nom du plugin -->
          <multi>
					[fr]Durzy
					[en]Durzy
					</multi>
        </nom>
        <auteur>        <!-- Auteur du plugin -->
          <multi>
					[fr]Distribu&#233; sous licence GNU/LGPL
					[en]distributed under GNU/GPL licence
		</multi>
        </auteur>
        <version>
          0.1
        </version>
        <etat>
          dev
        </etat>
        <description>
        <multi>
		[fr]Plugin de configuration du squelette Durzy 
        [en]Configuration plugin for Durzy skeleton 
        </multi>
        </description>
		    <lien>
              [Documentation sur ->http://www.lyceedurzy.com/],
		      et si vous avez cfg: [Configuration->.?exec=cfg&amp;cfg=durzy]
		    </lien>
        <icon>plugin-24.gif</icon>
        <prefix>
          durzy
        </prefix>
        <pipeline>
        		<nom>ajouter_boutons</nom>
            <inclure>durzy_pipelines.php</inclure>
        </pipeline>	
				<necessite id="cfg" version="[1.0.0;]" />
				<chemin dir='' />
</plugin>
