<plugin>
	<nom>jayceeWeb Th&egrave;me 2007 JCEF</nom>
	<auteur>[St&eacute;phane GAUTREAU - F&eacute;d&eacute;ration Poitou-Charentes ->http://www.jce-poitoucharentes.org/Votre-site-web-JCE-avec-SPIP-rub36.html]
_ 2007-2008 Licence GNU/GPL.
	</auteur>
	<version>0.1</version> <!-- version du plugin, pas de SPIP -->
	<etat>stable</etat>

	<description>
	<multi>
	Charte graphique pour jayceeWeb 
		[fr]
	Charte graphique pour jayceeWeb 
		[en]
	Theme for jayceeWeb
	</multi>
	</description>
	<lien>http://www.jce-poitoucharentes.org/Votre-site-web-JCE-avec-SPIP-rub36.html</lien> <!-- URI de documentation -->
	<prefix>jayceeWebTheme_2007jcef</prefix>
 	<necessite id="jayceeWeb" version="[2.0;2.1)" />

</plugin>
