<plugin>
	<nom><multi>[fr]Squelette egt[nl]Sjabloon egt[es]Esqueleto egt</multi></nom>
	<slogan>
		<multi>
		[fr]Un squelette &#171; classique 3 colonnes &#187; qui peut convenir &#224; plusieurs types de contenus
		[nl]Een klassieke 3 delen sjablon, gebruikbaar voor een aantal inhoudstypes
		</multi>
	</slogan>
	<icon>img_pack/egt.png</icon>
	<auteur>[sBa->http://egt.bardourel.com], [damazone->http://www.genrespluriels.be]</auteur>
	<licence>GPL &#169; 2006-2009</licence>
	<version>0.6.0</version>
	<etat>test</etat>
	<description>
		<multi>
		[fr]Ce plugin installe les fichiers n&#233;cessaires pour mettre en place le squelette egt.
Pour supprimer ce squelette, d&#233;sactiver simplement ce plugin et &#233;ventuellement supprimez-le du r&#233;pertoire plugins.

Ce squelette ne cr&#233;e pas de nouvelles tables dans la base de donn&#233;es. Il se personnalise &#224; l&#8217;aide de mots cl&#233;s.

{{Une page dans le menu de configuration permet de cr&#233;er automatiquement tous les mots cl&#233;s.}}

Attention, il faut valider ce plugin avant de l&#8217;utiliser.

Vider le cache avant de voir le r&#233;sultat.
	
		[nl]Deze plugin installeert de nodige bestanden om het sjabloon egt te implementeren.
Om deze sjabloon te verwijderen maak gewoon deze plugin inactief en nadien verwijder deze eventueel volledig uit de folder plugins.

Deze skelet genereert geen enkel tabel in de gegevensdatabank. Het gebruik van sleutelwoorden laat toe deze sjabloon te configureren.

{{Een pagina in het configuratiemenu van het private deel laat toe automatisch sleutelwoorden te cree&#235;ren.}}

Opgelet, vooraleer deze plugin te gebruiken moet u deze valideren.

Maak vooraf de cache leeg om het resultaat te zien. 
		</multi>

	</description>
	<lien>https://contrib.spip.net/EGT-squelette-plugin-pour-SPIP-2</lien>
	<fonctions>egt_fonctions.php</fonctions>
	<prefix>egt</prefix>
	<pipeline>
	       <nom>ajouter_boutons</nom>
	       <action>ajouterBoutons</action>
	       <inclure>inc-egt.php</inclure>
	</pipeline>
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
</plugin>
