<noisette>
	<nom><:aveline:nom_menu:></nom>
	<description><:aveline:description_menu:></description>
	<icon>images/menus-24.png</icon>
	<parametre nom="identifiant" label="aveline:label_identifiant_menu" saisie="menu" obligatoire="oui" />
	<parametre nom="afficher_titre_menu" label="aveline:label_afficher_titre_menu" saisie="oui_non" defaut="on" />
	<necessite id="menus" />
</noisette>