
/* -------------------------------------------------------
   STYLE ALTERNATIF - 1
   Semi-fluide :
   	- largeur du bandeau et colonne centrale s'etirent avec la fenetre
   	- mais la largeur totale est maintenue au minimum de 700px (sauf dans IE/WIN)
   	- la largeur des menus reste fixe
   Menu general en haut a droite
   Bandeau : sur 2 colonnes 
 ------------------------------------------------------- */

#page
{
	width: 90%;
	min-width: 700px;
	max-width: 960px;
}
