<plugin>
	<nom>Squelette Sarka-SPIP 3</nom>
	<auteur>
Xavier, Eric Lupinacci, Franck (pour les nouveaux logos)
_ Toufik, Sylvain, Pascal pour les versions pr&#233;c&#233;dentes 
	</auteur>
	<licence>
		GPL v3 - &copy; 2005-2011
	</licence>
	<version>3.1.4</version>
	<etat>stable</etat>
	<icon>prive/themes/spip/images/sarka-spip.png</icon>
	<slogan>Squelette g&#233;n&#233;raliste et hautement configurable</slogan>
	<description>
Sarka-SPIP est un squelette g&#233;n&#233;raliste qui offre toute la panoplie des fonctions de base permettant de visualiser les objets &#233;ditoriaux
de SPIP mais aussi quelques extras comme l'agenda, la galerie, l'accès restreint (via le plugin du m&#234;me nom), les sites favoris... Il est compatible
avec beaucoup de plugins qu'il int&#232;gre souvent nativement.

Cette nouvelle branche du squelette supporte en plus les forums type phpBB.

Destin&#233; &#224; tout public, il est simple d'installation et d'utilisation. Pour les webmestres même d&#233;butants, il reste facile &#224; personnaliser
au travers de son interface int&#233;gr&#233;e &#224; l'espace priv&#233; de SPIP (layout, noisettes, couleurs, format des pages...).

Consulter la rubrique [Zone de d&#233;veloppement->http://www.sarka-spip.net/spip.php?rubrique156] pour conna&#238;tre les nouveaut&#233;s et corrections
et la rubrique [Documentation->http://www.sarka-spip.net/spip.php?rubrique136] pour apprendre &#224; installer, configurer et utiliser le squelette.
	</description>
	<lien>http://www.sarka-spip.net</lien>

	<prefix>SarkaSpip</prefix>
	<fonctions>sarkaspip_fonctions.php</fonctions>
	<options>sarkaspip_options.php</options>
	
	<pipeline>
    <nom>insert_head</nom>
    <inclure>sarkaspip_pipelines.php</inclure>
    </pipeline>
	<pipeline>
    <nom>mes_fichiers_a_sauver</nom>
    <inclure>sarkaspip_pipelines.php</inclure>
    </pipeline>
	<pipeline>
    <nom>mes_fichiers_a_sauver</nom>
    <inclure>sarkaspip_pipelines.php</inclure>
    </pipeline>
	<pipeline>
    <nom>zengarden_activer_theme</nom>
    <inclure>sarkaspip_pipelines.php</inclure>
    </pipeline>

	<bouton id="sarkaspip_cfg" parent="configuration">
		<icone>prive/themes/spip/images/sarka-spip-24.png</icone>
		<titre>sarkaspip:bouton_configurer</titre>
		<url>cfg</url>
		<args>cfg=sarkaspip_accueil</args>
	</bouton>
	<bouton id='sarkaspip_cfg21' parent='bando_squelette'>
		<icone>images/sarka-spip-16.png</icone>
		<titre>sarkaspip:bouton_configurer</titre>
		<url>cfg</url>
		<args>cfg=sarkaspip_accueil</args>
	</bouton>
	
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;2.1.99]" />
	<necessite id="cfg" version="[1.7.6;]" />
	<utilise id="rainette" />
</plugin>
