/* --------------------------------------------------------- */
/* Feuille de style des squelettes par defaut pour SPIP 2.0  */
/* --------------------------------------------------------- */

/* ------------------------------------------
/* Typographie generale (style transversaux)
/* ------------------------------------------ */

html { font-size: 100%; } /* Cf.: http://pompage.net/pompe/definir-des-tailles-de-polices-en-CSS/ */
/* correspondance par défaut pour les navigateurs: 1em = 16px 
  => ici définition initiale: font-size: 0.8125em = 13px 
  => pour la suite, 1em = 13px */
body { font-size: 0.77em; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color: #505050; line-height:1.3em; text-align:justify;}

/* Titraille / Intertitres */
h1,h2,h3,h4,h5,h6 { margin: 0; padding: 0; font-weight: normal; font-size: 1em; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; }
h1 { font-size: 2.20em; color: #C4D356; text-transform:uppercase; line-height:1em;}
h2 { font-size: 1.3em; font-weight: bold; }
h2, h2 a, h2 a:focus, h2 a:hover { color: #3278A2; }
h3 { font-size: 1.00em; font-weight: bold; }
h3.spip {} /* Cf.: spip_style.css */
hr.spip {} /* Cf.: spip_style.css */
/* le h1 de la page sommaire exclusivement */ 
.sommaire {padding-top:2em; padding-bottom: 1em;}

/* Autres enrichissements typo */
strong { font-weight: bold; }
em { font-style: italic; }
abbr, acronym { border-bottom: 1px dotted; cursor: help; }
small { font-size: 0.90em; color: #666; }
dfn { font-weight: bold; color: #666; }
del { text-decoration: line-through; }
ins { color: red !important; text-decoration: none; }
sup, sub { font-size: .8em; font-variant: normal; }

/* Listes */
ul.spip {} /* Cf.: spip_style.css */
ol.spip {} /* Cf.: spip_style.css */
dl {}
dt {}
dd {}

/* Citations, code et poesie */
cite {}
q {}
blockquote {}
blockquote.spip {} /* Cf.: spip_style.css */
blockquote.spip_poesie {} /* Cf.: spip_style.css */
.spip_code {} /* Cf.: spip_style.css */
.spip_cadre {} /* Cf.: spip_style.css */
address {}

/* Tableaux */
table.spip {} /* Cf.: spip_style.css */

/* Logos, documents et images */
img { margin: 0; padding: 0; border: 0; }
.spip_logos {} /* Cf.: spip_style.css */
.spip_documents {} /* Cf.: spip_style.css */
.spip_documents_center {} /* Cf.: spip_style.css */
.spip_documents_left {} /* Cf.: spip_style.css */
.spip_documents_right {} /* Cf.: spip_style.css */
.spip_doc_titre {} /* Cf.: spip_style.css */
.spip_doc_descriptif {} /* Cf.: spip_style.css */


/* ------------------------------------------
/* Disposition a l'ecran des blocs principaux
/* ------------------------------------------ */
/* largeur page: 930px-2*30px de padding => 870/13=66.9em  */
body { background: #FFF; margin: 0; padding: 0; text-align: center; }
#page { position: relative; width: 70em; margin: 0 auto; text-align: left; background: #FFF; padding: 0 2.3em;}

#entete { width: 67em; margin: 0; padding-top: 1.60em; }
#entete a.accueil { display: block; width: 73%; margin:10px;}
#entete a.accueil img.spip_logos { vertical-align: bottom; line-height: 1em; }
#entete a.accueil #nom_site_spip { /* vertical-align: bottom;*/ font-size: 2.2em; font-family: Georgia, Times, serif; font-weight: normal; }
#entete .formulaire_menu_lang { position: absolute; right: 0; top: 0.90em; display: block; width: 22%; } /*Cf.: spip_formulaires.css*/

#conteneur { clear: left; }
/*.page_sommaire #conteneur { float: left; width: 73%; overflow: hidden; } */
#contenu { padding: 0.30em 0em 0em 0em; }

/* largeur navigation: 200px => 220/13=16.923em  */
#navigation, #rechercher { float: right; width: 22%; margin-top: 1em; overflow: hidden; min-width: 195px; }
#extra, #coordonnees { float: right; clear: right; width: 22%; /*margin-top: 1em; margin-left: 3.08em;*/ overflow: hidden; }

#pied { /*background-color: #005c49;  #C4D356; color:#D2D3C8; padding: 0.40em 0 0.5em 1.7em;*/clear: both; width: 100%; margin: 0;  text-align: left; font-size: 0.90em; }
#pied a { color:#FFFFFF; font-weight:bold;}
#pied img { vertical-align: middle; }

/* Espaceur de blocs */
.nettoyeur { clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/* ------------------------------------------
/* Habillage des elements du contenu
/* ------------------------------------------ */

#hierarchie { clear: left; margin-bottom: 2em; font-size: 0.90em; }
#hierarchie, #hierarchie a { color: #666; }

.cartouche { margin-bottom: 2em; margin-top:2.5em;}
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 4px; }
.cartouche p { padding: 0; line-height:1.5em; text-align:justify;/*clear: left; margin: 0;*/ }
.surtitre, .soustitre { font-size: 1.10em;  color:#46829C; font-weight:bold;}
.cartouche .surtitre { margin-bottom: 0.30em; }
.cartouche .soustitre, p.soustitre { margin-top: 0.50em; margin-bottom: 0.30em; /*padding-right: 16.5em;*/ line-height: 1.5em; }
.cartouche .traductions { font-size: 0.90em; }

.chapo { margin-bottom: 1.50em; line-height: 1.40em; font-weight: bold; color: #669; }
.texte { line-height: 1.3em; text-align:justify; /*padding-right:18em;*/ }
/*p.soustitre{ padding-right:16.5em;}*/
.hyperlien { display: block; background: #eee; padding: 0.50em 1em; font-weight: bold; color: #8B6F92; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.8em; }

abbr.published { border: 0; }

/* Portfolio */
#documents_portfolio { margin: 2em auto; /* clear: both;text-align: center;*/ }
#documents_portfolio .spip_logos { margin: 6px 3px 0 3px; border: 4px solid #DDD; }
#documents_portfolio a.on .spip_logos { border-color: #F57900; }
#documents_portfolio a:focus .spip_logos,
#documents_portfolio a:hover .spip_logos { border-color: #8B6F92; }
#document_actif { margin: 1em auto; }
#document_actif img {}


/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 2.50em; margin-right: 1em; text-align: right; font-weight: bold; }

/* Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
.forum-fil { margin-top: 1.50em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; color: #333; }
.forum-texte { margin: 0; padding: 0.50em 1em; color: #333; }
.forum-texte .hyperlien {}
.forum-texte .repondre { margin: 0; padding: 0.10em 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */
ul .forum-chapo { border: 0; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }


/* Habillage des petitions
---------------------------------------------- */
#signatures { clear: both; margin: 0 0 2em 0; padding: 0; background: none; }
#signatures table { width: 100%; margin: 1em 0 0 0; }
#signatures thead { text-align: center; color: #555; }
#signatures td { padding: 0.50em; border: 2px solid #FEFEFE; vertical-align: top; }
#signatures td.signature-date { background: #E4F0F0; text-align: center; white-space: nowrap; }
#signatures td.signature-nom { background: #ECF4F4; text-align: center; }
#signatures td.signature-nom small { display: block; }
#signatures td.signature-message { background: #F4F8F8; }
#signatures .formulaire_recherche { margin: 1em 0; text-align: right; } /*Cf.: spip_formulaires.css*/
#signatures .formulaire_recherche input.text { width: 10em; text-align: left; } /*Cf.: spip_formulaires.css*/


/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Habillage general des menus de navigation */
.menu { clear: both; margin-bottom: 2em; text-align: left; }
.menu p { margin: 0.20em 0; padding: 0.20em 0.10em; }
.menu ul { margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #DDD; }
.menu ul li { margin: 0.20em 0; padding: 0.20em; border-top: 1px solid #DDD; }
.menu ul li ul { margin-left: 1em; border: 0; }
.menu ul li li { padding: 0; border: 0; }

/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.90em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

/* barre de navigation Rubriques */
.rubriques { background-color: #c7d156; float: right;}
.rubriques ul { border: 0; width:100%;}
.rubriques ul li { /*background: #EEE;*/ border: 0; }

.formulaire_recherche { /*margin-bottom: 2em;*/ } /*Cf.: spip_formulaires.css*/

/* Listes d'articles et extraits introductifs */
.articles ul li { clear: both; padding: 0.40em 0.20em; }
.articles ul li h3 { margin: 0.30em 0; }
.articles .spip_logos { float: right; clear: right; margin: 0 0 4px 16px; }
.articles ul li .enclosures { float: right; text-align: right; max-width: 60%; margin: 0; }
.articles ul li .introduction { margin-top: 0.30em; line-height: 1.40em; }


/* Couleurs des liens
---------------------------------------------- */
a { color: #3278A2; text-decoration:none; }
a:focus,a:hover,a:active { color: #1F4A64;}

