/* le nuage */
ul.nuage {
	margin:0;
	padding: 0;
	list-style: none;
  text-align: justify;
}
ul.nuage li {
	display: inline;
	line-height:1.6em;
  margin-right:0.6em;
}
ul.nuage li a { white-space: pre; }
ul.nuage li a:hover { background-color: #ddd; }

ul.nuage span.frequence {
	display: block;
	float: left;
	height: 0;
	overflow: auto;
	width: 0;
}

/* les mots */
/* defaut */
ul.nuage a.nuage   { font-size: 1.0em; }
/* variantes */
ul.nuage a.nuage   { font-size: 1.0em; }

/* variantes => utiliser les valeurs du plugin nuage puisqu'elles sont maintenant configurables
ul.nuage a.nuage0  { font-size: 0.7em; }
ul.nuage a.nuage1  { font-size: 0.8em; }
ul.nuage a.nuage2  { font-size: 0.8em; }
ul.nuage a.nuage3  { font-size: 0.9em; }
ul.nuage a.nuage4  { font-size: 0.9em; }
ul.nuage a.nuage5  { font-size: 1.0em; }
ul.nuage a.nuage6  { font-size: 1.0em; }
ul.nuage a.nuage7  { font-size: 1.1em; }
ul.nuage a.nuage8  { font-size: 1.1em; }
ul.nuage a.nuage9  { font-size: 1.1em; }
ul.nuage a.nuage10 { font-size: 1.2em; }
*/