<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin>
	<nom>Squelette Median</nom>
	<auteur>M&#233;lanie Martin - cy_altern 
_ &#169; 2009 - Distribu&#233; sous licence GPL
	</auteur>
	<lien>http://www.spip-contrib.net/?articles3071</lien>
	<icon>median-64.png</icon>
	<version>1.0.4</version>
	<etat>stable</etat>
  <description>
Ce plugin active ou d&#233;sactive le squelette {{Median}}
	
Ce squelette g&#232;re les crayons (si plugin activ&#233;).
	</description>
	<prefix>squelette_median</prefix>
  <options>squelette_median_options.php</options>
  <fonctions>squelette_median_fonctions.php</fonctions>
	<necessite id="SPIP" version="[2.0.6;]" />
	<necessite id="cfg" version="[1.10.2;]" />
	<necessite id="spip_bonux" version="[1.8;]" />
	<utilise id="palette" version="[1.0;]" />
	<chemin dir='' />
	<install>base/squelette_median_install.php</install>
	<categorie>squelette</categorie>
</plugin>
