/* Styles utiles pour le squelette rubrique */

.cadrerubrique {
	border: 1px solid #600051;
	-moz-border-radius: 4px;
	padding: 5px;
	width: 100%;
	background-color: #FFF;
}
.rubgris1 {
	border: 1px solid #AAA;
	-moz-border-radius: 4px;
}
.rubgris2 {
	border: 1px solid #e0e0e0;
	-moz-border-radius: 4px;
}
.rubgris3 {
	border: 1px solid #EEE;
	-moz-border-radius: 4px;
}
.rubingris1 {
	border-right: 1px solid #999;
	border-bottom:  1px solid #999;
	-moz-border-radius: 4px;
}
.rubingris2 {
	border-right: 1px solid #CCC;
	border-bottom:  1px solid #CCC;
	-moz-border-radius: 4px;
}
.absolu { position: relative; align: left;}
.onglet {
	width: 100%; 
	border: 1px solid #600051;
	background-color: #FFF;
	-moz-border-radius: 4px;
	-moz-opacity: 0.7;
	filter: alpha(opacity=70);
}
.onglet-ombre {
	width: 100%; 
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	-moz-border-radius: 4px;
	-moz-opacity: 0.7;
	filter: alpha(opacity=70);
}
.onglet-sous {
	padding : 3px;
	background-color: #EEE;
}
.titrerubrique {
	clear: both;
	text-align: center;
	font: bold large georgia,times,serif;
	font-variant: small-caps;
	color: #666;
}