/* Debut d'externalisation des styles de spip.net - juillet 2006 */

body { background: #FFF; color: #000; }
img, .spip_logos { border: none; }

.droit {
		font-family: verdana,helvetica,sans-serif;
		font-size: medium;
	}
.droitpetit {
		font-family: verdana,helvetica,sans-serif;
		font-size: small;
	}
.droitxpetit {
		font-family: verdana,helvetica,sans-serif;
		font-size: x-small;
	}
.formulaire {
		font-family: verdana,helvetica,sans-serif;
		font-size: x-small;
	}
.memerub {
		font-family: verdana,helvetica,sans-serif;
		font-size: x-small;
	}
.texte {
		font-family: georgia,times,serif;
		font-size: medium;
	}
.textepetit {
		font-family: georgia,times,serif;
		font-size: small;
	}
.grostitre {
		font-family: georgia,times,serif;
		font-size: xx-large;
		font-style: bold;
		color: #666666;
		text-align: center;
		font-variant: small-caps;
	}
.titrerubrique {
		font-family: georgia,times,serif;
		font-size: large;
		font-style: bold;
		color: #666666;
		font-variant: small-caps;
	}
.encadrer_gauche {
		text-align: center;
		border: 1px solid #aaaaaa;
		padding: 5px;
		width: 100%;
		background-color: #dddddd;
	}
.cadrerubrique {
		border: 1px solid #600051;
		padding: 5px;
		width: 100%;
		background-color: #ffffff;
	}
.encadrerdescriptif {
		border: 1px solid #aaaaaa;
		padding: 5px;
		background-color: #eeeeee;
	}
.encadrerblanc {
		border: 1px solid #aaaaaa;
		padding: 5px;
		background-color: #ffffff;
	}





/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a, a.spip_in { color: #600051; text-decoration: none; }
a.spip_out, a.spip_url, a.spip_glossaire { color: #600051; text-decoration: none; }
a:visited, .on { color: #5832B7; }
a:hover { color: #ff9900; text-decoration: none; }

a.voirsquel { color: #FFF; }
a.voirsquel:hover { color: #999; text-decoration: none; }