/* Debut d'externalisation des styles de spip.net - juillet 2006 */


body { margin: 0; padding: 0; background: #FFF; color: #000; }
img, .spip_logos { border: none; }


/* Titraille */
.grostitre {
	text-align: center;
	font: normal xx-large georgia,times,serif;
	font-variant: small-caps;
	color: #666;
}
.titrerubrique {
	clear: both;
	text-align: center;
	font: bold large georgia,times,serif;
	font-variant: small-caps;
	color: #666;
}


/*  ------------------------------------------ */


.droit { font: medium verdana,helvetica,sans-serif; }
.droitpetit { font: small verdana,helvetica,sans-serif; }
.droitxpetit { font: x-small verdana,helvetica,sans-serif; }

.formulaire { font: x-small verdana,helvetica,sans-serif; }

.memrub { font: x-small verdana,helvetica,sans-serif; }
.memrub .droitxpetit { font-weight: bold;  padding-bottom: 4px; }
.memrub ul, .memrub li {
	margin: 0; padding: 0; padding-bottom: 4px;
 	list-style: url(img_interface/carre-violet.gif) inside;
	}

.texte { font: medium georgia,times,serif; }
.textepetit { font: small georgia,times,serif; }

.encadrer_gauche {
		text-align: center;
		border: 1px solid #AAA;
		padding: 5px;
		width: 100%;
		background-color: #DDD;
	}
.cadrerubrique {
		border: 1px solid #600051;
		padding: 5px;
		width: 100%;
		background-color: #FFF;
	}
.encadrerdescriptif {
		border: 1px solid #AAA;
		padding: 5px;
		background-color: #EEE;
	}
.encadrerblanc {
		border: 1px solid #AAA;
		padding: 5px;
		background-color: #FFF;
	}



/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a, a.spip_in { color: #600051; text-decoration: none; }
a.spip_out, a.spip_url, a.spip_glossaire { color: #600051; text-decoration: none; }
a:visited, .on { color: #5832B7; }
a:hover { color: #F90; text-decoration: none; }

a.voirsquel { color: #FFF; }
a.voirsquel:hover { color: #999; text-decoration: none; }