/* Debut d'externalisation des styles de spip.net - juillet 2006 */

body { background: #FFF; color: #000; }








/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a, a.spip_in { color: #600051; text-decoration: none; }
a.spip_out, a.spip_url, a.spip_glossaire { color: #600051; text-decoration: none; }
a:visited, .on { color: #5832B7; }
a:hover { color: #ff9900; text-decoration: none; }

a.voirsquel { color: #FFF; }
a.voirsquel:hover { color: #999; text-decoration: none; }