/*  Logos, documents et images
reprise de spipnet2007 pour spipcontrib2007
---------------------------------------------- */
.spip_documents { text-align: center; }
/*.spip_documents img { background: #FFF; border: 4px solid #FFF; }*/

.spip_documents_center {
	clear: both;
	width: 100%;
	margin: auto;
	margin-bottom: 1.4em;
}

.spip_documents_left {
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}

.spip_documents_right {
	float: right;
	margin-left: 15px;
	margin-bottom: 5px;
}

.spip_doc_titre {
	font-weight: bold;
	font-size: 0.8em;
}

.spip_doc_descriptif {
	clear: both;
	font-size: 0.8em;
}

/* Images typographiques (via image_typo), URL a revoir... */
.format_png {
	behavior: url(../win_png.htc);
}

/*  Listes de documents joints (a un article ou une rubrique)
---------------------------------------------- */
#documents_joints {
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC;
}

#documents_joints h2 {
	margin-bottom: 0.4em;
	font-size: 0.88em;
	font-weight: bold;
}

#documents_joints li { margin-bottom: 0.4em; }
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}


/*  Portfolio
---------------------------------------------- */
#documents_portfolio {
	clear: both;
	margin-top: 1.4em;
	padding-top: 2px;
	border-top: 2px solid #CCC; }
#documents_portfolio h2 { margin-bottom: 0.4em; font-size: 0.88em; font-weight: bold; }

#document_actif { margin-top: 1em; }
