/* Retrato Marino, Guillermo Ulriksen
 * colores
 */

.bleu_fonce {
	background-color: #2a3956; // bleu fonce, pantalon
}
.bleu_moyen {
	background-color: #526a96; // bleu moyen, pantalon
}
.bleu_moyen2 {
	background-color: #57749e; // bleu moyen2, pantalon
}
.bleu_clair {
	background-color: #5e7a9f; // bleu clair, pantalon
}
.jaune_grise_fonce {
	background-color: #706e45; // jaune grise fonce, tshirt
}
.jaune_grise_moyen {
	background-color: #807b44; // jaune grise moyen, tshirt
}
.jaune_grise_clair {
	background-color: #c3bd81; // jaune grise clair, tshirt
}
.jaune_lumineux {
	background-color: #c2a434; // jaune lumineux, tshirt
}
.chair {
	background-color: #b17c5a; // chair
}
.marron_fonce {
	background-color: #3d2e2b; // marron fonce
}
.marron_lumineux {
	background-color: #6c3d33; // marron lumineux
}
.gris_clair {
	background-color: #c3b9b7; // gris clair
}
.gris_fonce {
	background-color: #a09da8; // gris fond
}
