<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin>
	<nom> <!-- Nom du plugin -->
	MiniGriSpip
	</nom>
	<auteur>	<!-- Auteur du plugin -->
	Fredo Mkb
	</auteur>
	<version>1.4.2</version>
	<etat>stable</etat>
	<description>
	MiniGriSpip est un squelette simple et sobre fait par un d&eacute;butant pour les d&eacute;butants, bas&eacute; sur le squelette Minimal’SPIP, mais avec quelques modifications pour une adaptation &agrave; la version 1.9 de SPIP. Voir [le site officiel->http://fredomkb.free.fr/spip/] pour en savoir plus.
	</description>
	<prefix>minigrispip</prefix>
</plugin>
