body {font-family:'Verdana',Tahoma, Arial, Helvetica, sans-serif;font-size:12px;margin-left:2%;margin-right:2%;}

a:link {color:#336699 ;text-decoration: none;}
a:visited {color:#336699;text-decoration: none;}
a:hover {background:#DCE1E6;color:#336699;text-decoration: underline;}

.inverse a:link {color:#ffffff ;text-decoration: none;}
.inverse a:visited {color:#ffffff;text-decoration: none;}
.inverse a:hover {background:#ffffff;color:#336699;text-decoration: none;}

.caps ul{padding:2px;margin:0px;list-style-type:none;}
.caps li{padding-left:2px;padding-top:3px;padding-bottom:3px;list-style-type:none;}


.col1{width:49%;float:left;}
.col2{width:49%;float:right;}

.caps{border:1px solid #CCCCCC; margin:2px;padding:2px;display:block;}
.lui-meme{font-size:10px;border:1px solid #CCCCCC; margin:2px;padding:2px;}

.rech {clear:left; width:100%;margin-top:10px;}
.info {font-size:14px;color:red;margin-top:5px;}
.logo{float:right;}
.logo .sousrub{font-size:10px;color:#336699;font-weight:bold;}
img {border:0}


.bouton {font-size:10px;text-align :right;margin-bottom:5px;}
.bouton2 {font-size:10px;font-weight:bold;color:#ffffff;}
.navig {font-size:10px;text-align :left;margin-bottom:5px;float:left;}

#nav2 {width:100%;position:relative;clear:both;padding:2px;margin:2px;border-top:1px dotted #C377B5;}
#nav {width:100%;position:relative;clear:both;padding:0px;margin:0px;}

.page{font-size:10px;}
.page-inverse{float:right;}
.contenu {width:100%;border:1px dotted #C377B5;padding:2px;margin:2px;}
.contenu .titre {font-size:16px;font-weight:bold;color:#336699;	margin-bottom:5px;letter-spacing: 2px;} 
.contenu .texte {margin-bottom:2px;}

.rep {font-size:10px;font-style:italic;text-align:left;}
#erreur {margin-top:10%;text-align:center;}

/*---------------------- l'entete du site--------------------------- */
#entete {clear:left;width:100%;margin:0px;padding:0px;}

#entete .bande {height:60px;background:      url("images/bandeau.jpg") no-repeat left;}
#entete .recherche {float:right;height:30px;}

/*-----------------------le menu programmable------------------------*/
#menu-prog {width:100%;height: 20px;}

#menu-prog .bouton{background:#336699;width:13%;padding:1px;border:1px solid #ffffff;float:left;
text-align:center;font-size:12px;font-weight:bold;}

#menu-prog a:link {color:#ffffff;text-decoration:none;}
#menu-prog a:visited {color:#ffffff;text-decoration:none;} 
#menu-prog a:hover {background:#ffffff;color:#336699;text-decoration:none;border:1px solid #C377B5;}

#date {color:#000099;font-size:10px;text-align :right;font-style:italic;}

/*-----------------------le menu hierarchie--------------------------*/
#hierarchie {clear:left;width:100%;height:20px;margin:0px;padding:0px;}
#hierarchie .texte {font-size: 10px; font-style: italic;}

/*-----------------------le menu dynamique---------------------------*/
#menudyn {float:left;width:19%;}

#menudyn .rub {font-size:12px;font-weight:bold;background:     url("images/dossier.gif") no-repeat left;
	margin-top:5px;padding-left:25px;height:25px;vertical-align: bottom;}
#menudyn .descrip { width:95%;color: #000099;font-size:10px;text-decoration: none;padding:2px;margin-bottom:5px;}

#menudyn .titre-bloc {width:100%;background:#336699;color:#FFFFFF;text-align:center;font-size:14px;font-weight:bold;margin-top:4px;margin-bottom:4px;}

.secteuroff { font-weight: bold;font-size:12px; }
.rubriqueoff { font-weight: normal;font-size:10px; }
.secteuron, .rubriqueon { font-weight: bold;font-size:12px; }
.secteur, .rubrique { font-weight: bold; font-size:12px; }


/*---------------------------le-pied de Page-------------------------*/
#pied {clear:both;position:relative;width:100%;margin-top:5px;border-top:1px dotted #C377B5;}

#pied .titre {text-align:center;margin-top :5px;} 
  
/*======================  squelette sommaire  =======================*/

#sommaire {clear:both;position:relative;width:100%;}	


/*------------------------les contenus-------------------------------*/
.contenus {width:80%;float:left;}

/*-----------------------------edito---------------------------------*/
.edito {clear:both;position:relative;width:100%;padding:2px;margin:2px;}  
  
.edito .titre-bloc {width:100%;background:#336699;color:#FFFFFF;font-size:14px;font-weight:bold;} 
.edito .titre {color:#336699;font-size:16px;font-weight:bold;}
.edito .texte {font-size:12px;}
.edito .date {font-size:10px;}
.edito .auteurs {font-size:10px;font-style:italic;}

/*------------------------------agenda-------------------------------*/
.agenda {clear:both;position:relative;width:100%;padding:2px;margin:2px;}

.agenda .titre-bloc {width:100%;background:#336699;color:#FFFFFF;font-size:14px;font-weight:bold;} 

/*----------------------------evenements-----------------------------*/
.evenements {width:70%;float:left;}

.agenda .date {width:70%;font-size:10px;color: #000099;margin-top : 4px;margin-bottom : 1px;margin-right:15px;border-bottom:1px Solid #C377B5;}
.agenda .titre {font-size:14px;font-weight:bold;padding-left:25px;background:   url("images/even.png") no-repeat left ;
	margin-top:5px;height:25px;}

.evenements_jour {float:left;width:70%;}
.evenements_jour .titre {font-size:14px;font-weight:bold;padding-left:25px;background:   url("images/even.png") no-repeat left ;
	margin-top:5px;height:25px;}
.evenements_jour .date {width:70%;font-size:10px;color: #000099;margin-top : 4px;border-bottom:1px Solid #C377B5;}

.evenements_jour .texte {font-size:14px;}
.evenements_jour .bouton {font-size:10px;}
.evenements_jour .depl{text-align:right;}
.evenements_jour .auteurs {font-size:10px;font-weight:normal;font-style:italic;}

/*---------------------------calendrier-----------------------------*/
.calendrier {width:29%;float:right;}
.calendrier_som {width:100%;}

.calend_ligne {text-align:center;clear:left;}
.calend_mois { color:#000099;font-size:12px;font-weight:bold;text-align:center;padding:1px;}

.calend_titre {width:13%;height:20px;border: 1px solid #336699;color:#ffffff;font-weight: bold;text-align:center;
background-color: #336699;float:left;}
.calend_outday { background-color: #E6A4DD;width:13%; height:20px;color: #000000;border :1px solid #E6A4DD; float:left;}
.calend_today { width:13%; height:20px;font-size:10px;border :1px solid #E6A4DD;float:left; }
.calend_weekday  { width:13%; height:20px;font-size:10px;border :1px solid #E6A4DD;float:left; }
.calend_weekendday {background-color: #E6A4DD;font-size:10px;width:13%; height:20px;color : #000099;border :1px solid #E6A4DD;float:left;  }
.calend_activeday { width:13%; height:20px;font-size:12px;font-weight:bold; border :1px solid #E6A4DD;float:left; }
.calend_activeweekendday {background-color: #E6A4DD;width:13%; height:20px; border :1px dotted silver;float:left; }

/*----------------------articles / breves--------------------------*/
.articles-breves {clear:both;position:relative;width:100%;padding:2px;margin:2px;}

/*---------------------------articles------------------------------*/
.articles {clear:left;position:relative;width:100%;margin-bottom:5px;}

.articles .titre-bloc {width:100%;background:#336699;color:#FFFFFF;font-size:14px;font-weight:bold;} 
.articles .titre {font-size:14px;padding-left:25px;font-weight: bold;background: url("images/article.gif") no-repeat left ;
	margin-top:5px;height:25px; }
.articles .date{color: #000099;font-size:10px;text-decoration: none;}
.articles .chapo{color: #000099;font-size:12px;text-decoration: none;}

/*----------------------------breves-------------------------------*/
.breves {clear:left;position:relative;width:100%;margin-bottom:5px;}

.breves .titre-bloc {width:100%;background:#336699;color:#FFFFFF;font-size:14px;font-weight:bold;} 
.breves .titre {font-size:14px;	text-align: left;margin-top:5px;padding-left:25px;font-weight: bold;background:     url("images/breve.gif") no-repeat left ;
	height: 25px;}
.breves .texte {width:99%;font-size:10px;text-align: left;margin: 1px;}
.breves .date {width:70%;font-size:10px;color: #000099;margin-top : 4px;margin-bottom : 1px;border-bottom:1px Solid #C377B5;}


/*-----------------------sites references--------------------------*/
.sites {clear:both;position:relative;width:100%;padding:2px;margin:2px;}

.sites .titre-bloc {width:100%;background:#336699;color:#FFFFFF;font-size:14px;font-weight:bold;} 
.sites .titre {font-size:14px;text-align: left;margin: 1px;padding-left:25px;font-weight: bold;background:     url("images/site.gif") no-repeat left;
	height:25px;margin-top:5px;}
.sites .descrip {font-size:10px;margin-top:3px;font-style:italic;}
.sites .url {font-size:10px;margin-bottom:2px;}

/*---------------------------syndication---------------------------*/
.syndic {clear:both;position:relative;width:100%;padding:2px;margin:2px;}  
  
.syndic .titre-bloc {width:100%;background:#336699;color:#FFFFFF;font-size:14px;font-weight:bold;} 
.syndic .texte{font-size:12px;margin-top:2px;margin-bottom:2px;}
.syndic .date {width:70%;font-size:10px;color: #000099;margin-top:5px;padding:0px;margin-bottom:5px;margin-left:0px;border-bottom:1px Solid #C377B5;}
.syndic .auteurs {font-size:10px;font-style:italic;}
.syndic .site{font-weight:bold;}

/*---------------------------documents---------------------------*/
.doc-rub {clear:both;position:relative;width:100%;padding:2px;margin:2px;}  
.doc-rub .titre-bloc {width:100%;background:#336699;color:#FFFFFF;font-size:14px;font-weight:bold;} 

.doc-rub .ligne-doc{float:left;width:45%;}

.doc-rub .ligne-doc  .titre {font-size:12px;font-weight:bold;}
.doc-rub .ligne-doc  .descrip {font-size:10px;font-style:italic;}
.doc-rub .ligne-doc  .taille {font-size:10px;}


/*--------------------------messages-------------------------------*/
.messages {clear:both;position:relative;width:100%;padding:2px;margin:2px;}  
 
.messages .titre-bloc {width:100%;background:#336699;color:#FFFFFF;font-size:14px;font-weight:bold;} 

.messages .texte{font-size:12px;margin-top:2px;margin-bottom:2px;}
.messages .date {color: #000099;font-size:10px;text-decoration: none;}
.messages .auteurs {font-size:10px;font-style:italic;}

/*====================  squelette rubrique  =======================*/
#rubrique {clear:left;position:relative;width:100%;}

/*=======================  squelette kiosque  =====================*/
#kiosque {clear:both;position:relative;width:100%;padding:2px;margin-top:0px;}  
  
#kiosque .titre-bloc{width:100%;background:#336699;color:#FFFFFF;font-size:14px;font-weight:bold;}
#kiosque .titre {font-size:14px;} 
#kiosque .rub {font-size:16px;font-weight:bold;margin-left:10%;background:     url("images/dossier.gif") no-repeat left ;
	height: 25px;margin-top:5px;padding-left:25px;} 
#kiosque .texte{font-size:12px;margin-top:4px;margin-bottom:4px;}
#kiosque .date {width:70%;font-size:10px;color: #000099;margin-top:5px;padding:0px;margin-bottom:5px;margin-left:0px;border-bottom:1px Solid #C377B5;}
#kiosque .auteurs {font-size:10px;font-style:italic;}
#kiosque .site{font-weight:bold;} 
 
#kiosque .col1{width:50%;float:left;border-right:1px dotted #C377B5;}
#kiosque .col2{width:49%;float:right;}

#kiosque .col3{width:35%;float:left;border-right:1px dotted #C377B5;}
#kiosque .col4{width:64%;float:right;}


/*======================  squelette annuaire  =====================*/

#annuaire {clear:both;position:relative;width:100%;padding:2px;margin-top:0px;}  
  
#annuaire .titre-bloc{width:100%;background:#336699;color:#FFFFFF;font-size:14px;font-weight:bold;}
#annuaire .rub {font-size:16px;font-weight:bold;margin-left:10%;background:     url("images/dossier.gif") no-repeat left ;
	line-height: 25px;margin-top:5px;padding-left:25px;}
#annuaire .descrip_rub {font-size:10px;margin-top:3px;font-style:italic;margin-left:10%;}
#annuaire .titre {font-size:14px;text-align: left;margin: 1px;padding-left:25px;font-weight: bold;background:     url("images/site.gif") no-repeat left;
	height:25px;margin-top:5px;}
#annuaire .descrip {font-size:10px;margin-top:3px;font-style:italic;}
#annuaire .url {font-size:10px;margin-bottom:2px;}
 
#annuaire .col1{width:50%;float:left;border-right:1px dotted #C377B5;}
#annuaire .col2{width:49%;float:right;left:50%;}

/*================  squelette rubrique forums  ===================*/

#forums {width:100%;padding:2px;margin-top:0px;}  

.ligne-forum {clear:left;width:100%;padding-bottom:5px;text-align:center;margin-bottom:1px;height:7%;display:table}
.ligne-forum .titre-bloc{background-color:#336699;color:#FFFFFF;font-size:12px;font-weight:bold;}
 
.ligne-forum .forum{width:45%;float:left;height:100%;margin:1px;display:block;}
.ligne-forum .sujet{width:14%;float:left;height:100%;margin:1px;display:block;}
.ligne-forum .message{width:15%;float:left;height:100%;margin:1px;display:block;}
.ligne-forum .dernier{width:25%;float:left;height:100%;margin:1px;display:block;}

.ligne-forum .forum .titre{font-size:12px;font-weight:bold;color:#1517FF;}
.ligne-forum .forum .texte{font-size:10px;font-style:italic;}

.ligne-forum .sujet .nbrs{font-size:12px;}

.ligne-forum .message .nbrs{font-size:12px;}

.ligne-forum .dernier .date{font-size:10px;}
.ligne-forum .dernier .auteur{font-size:10px;}

/*=====================  squelette article  ======================*/
#article {width:100%;padding:2px;margin-top:0px;}

.titre-article {position:relative;width:100%;margin-top:0px;margin-bottom:5px;padding:4px;border-bottom:1px dotted #C377B5;border-top:1px dotted #C377B5;}  
  
.titre-article .logo{float:right;}
.titre-article .titre {color:#336699;font-size:18px;font-weight:bold;letter-spacing:2px;} 
.titre-article .descrip {color :#000099;font-size:12px;margin-top:5px;}
.titre-article .auteurs {font-size:10px;font-style:italic;}
.titre-article .date {font-size:10px;}
.titre-article .chapo {color :#000099;font-size:14px;font-weight:bold;margin-top:5px;}

.contenu-article {float:left;width:70%;margin-bottom:5px;padding:2px;}
.contenu-article .sommaire{font-size:12px;}
.contenu-article .texte{font-size:12px;  text-align: justify;  }
.contenu-article .ps{font-size:12px;font-style:italic;}
.contenu-article .note{font-size:10px;margin:2px;border:1px dotted silver;}

.imprim-article {width:100%;float:left;}
.imprim-article .sommaire{font-size:12px;}
.imprim-article .texte{font-size:12px;text-align: justify;}
.imprim-article .ps{font-size:12px;font-style:italic;}
.imprim-article .note{font-size:10px;}

.autres-articles {float:right;width:29%;border-left:1px dotted #C377B5;border-bottom:1px dotted #C377B5;padding:2px;}
.autres-articles .titre-bloc{width:100%;background:#336699;color:#FFFFFF;font-size:12px;font-weight:bold;margin-bottom:5px;padding:1px;}
.autres-articles .date {width:70%;font-size:10px;color: #000099;margin-top : 4px;border-bottom:1px Solid #C377B5;}
.autres-articles .titre {font-size:10px;background:   url(../puce.gif) no-repeat left;padding-left:10px;margin:2px;}

.lui-meme{font-size:10px;border:1px solid #CCCCCC; margin:2px;padding:2px;}

.doc-article {position:relative;clear:both;width:100%;}
.doc-article .titre-bloc{color:#336699;font-size:14px;font-weight:bold;text-decoration:underline;margin-top:5px;}

.doc-article .ligne-doc{float:left;width:45%;}

.doc-article .ligne-doc  .titre {font-size:12px;font-weight:bold;}
.doc-article .ligne-doc  .descrip {font-size:10px;font-style:italic;}
.doc-article .ligne-doc  .taille {font-size:10px;}

/* ----------------------  article forum  ----------------------*/
.ligne-sujet {clear:left;width:100%;padding-bottom:5px;text-align:center;margin-bottom:1px;height:7%;display:table;}
.ligne-sujet .titre-bloc{background:#336699;color:#FFFFFF;font-size:12px;font-weight:bold;}
 
.ligne-sujet .sujet{width:45%;float:left;height:100%;margin:1px;display:block;}
.ligne-sujet .reponse{width:14%;float:left;height:100%;margin:1px;display:block;}
.ligne-sujet .auteur{width:14%;float:left;height:100%;margin:1px;display:block;}
.ligne-sujet .dernier{width:25%;float:left;height:100%;margin:1px;display:block;}

.ligne-sujet .sujet .titre{font-size:12px;font-weight:bold;text-align:left;color:#1517FF;}
.ligne-sujet .sujet .texte{font-size:10px;font-style:italic;}

.ligne-sujet .reponse .nbrs{font-size:12px;font-weight:normal;}

.ligne-sujet .auteur .nom{font-size:12px;font-weight:normal;}

.ligne-sujet .dernier .date{font-size:10px;}
.ligne-sujet .dernier .auteur{font-size:10px;}

/* ----------------------  article album  ----------------------*/

.autres-articles .vignettes {text-align:center;margin-bottom:5px;}

.contenu-article .image {text-align:center;margin-bottom:5px;text-align:center;text-decoration:none;}
.contenu-article .image-texte{font-size:12px;padding-left:5px;margin-top:10px;}
.contenu-article .image-info{font-size:10px;width:80%;padding:5px;}
.contenu-article .image-titre{font-weight:bold;}

/*-----------------------article diaporama ----------------------*/

.diaporama {text-align:center;width:100%;}
.diaporama .image {margin:5px 0 5px 0;}
.diaporama .image-texte{font-size:12px;padding-left:5px;}
.diaporama .image-titre{font-weight:bold;}

/* -----------------------article commentaires ------------------*/

#comment {width:100%;padding:2px;margin-top:0px;}

#comment .titre-bloc{width:100%;background:#336699;color:#FFFFFF;font-size:12px;font-weight:bold;}

#comment .reduit {float:right;width:95%;}

.ligne-comment {clear:left;width:100%;padding-bottom:5px;text-align:center;}
.ligne-comment .titre-bloc{width:100%;background:#336699;color:#FFFFFF;font-size:12px;font-weight:bold;}
 
.ligne-comment .auteur{width:20%;float:left;display:inline-table;margin:1px;}
.ligne-comment .message{width:79%;float:left;display:inline-table;margin:1px;}

.ligne-comment .auteur .nom{font-size:12px; font-weight:bold;}
.ligne-comment .auteur .ip{font-size:10px;font-style:italic;}
.ligne-comment .auteur .site {font-size:10px; margin-top:5px;}

.ligne-comment .message .date{font-size:10px;font-weight:normal;text-align:left;}
.ligne-comment .message .titre{font-size:12px;font-weight:bold;padding-bottom:5px;text-align:left;}
.ligne-comment .message .texte{font-size:12px;padding:5px;margin-top:5px;text-align:left;border-bottom:1px dotted #336699;border-left:1px dotted #336699;}

/*====================  squelette breve  =======================*/
#breve {width:100%;padding:2px;margin-top:0px;}

.titre-breve {position:relative;width:100%;margin-top:0px;margin-bottom:5px;padding:4px;border-bottom:1px dotted #C377B5;border-top:1px dotted #C377B5;}  
  
.titre-breve .titre {color:#336699;font-size:18px;font-weight:bold;letter-spacing:2px; } 
.titre-breve .date {font-size:10px;}

.contenu-breve {width:70%;float:left;}
.contenu-breve .texte {font-size:12px;text-align: justify;}
.contenu-breve .lien {font-style:italic;margin-top:10px;}

.imprim-breve {width:100%;}
.imprim-breve .texte {font-size:12px;text-align: justify;}
.imprim-breve .lien {font-style:italic;margin-top:10px;}

.autres-breves {float:right;width:29%;border-left:1px dotted #C377B5;border-bottom:1px dotted #C377B5;padding:2px;}
.autres-breves .titre-bloc{width:100%;background:#336699;color:#FFFFFF;font-size:12px;font-weight:bold;margin-bottom:5px;padding:1px;}
.autres-breves .date {width:70%;font-size:10px;color: #000099;margin-top : 4px;border-bottom:1px Solid #C377B5;}
.autres-breves .titre {font-size:10px;background:   url(../puce.gif) no-repeat left;padding-left:10px;margin:2px;}

/*=====================  squelette sujet =======================*/
#sujet {width:100%;padding:2px;margin-top:0px;}

#sujet .titre-bloc{width:100%;background:#336699;color:#FFFFFF;font-size:12px;font-weight:bold;}

.ligne-message {clear:left;width:100%;padding-bottom:5px;text-align:center;height:7%;display:table;}
.ligne-message .titre-bloc{background:#336699;color:#FFFFFF;font-size:12px;font-weight:bold;}
 
.ligne-message .auteur{width:20%;float:left;display:block;margin:1px;height:100%;}
.ligne-message .message{width:79%;float:left;display:block;margin:1px;height:100%;}

.ligne-message .auteur .nom{font-size:12px; font-weight:bold;}
.ligne-message .auteur .ip{font-size:10px;font-style:italic;}
.ligne-message .auteur .site {font-size:10px; margin-top:5px;}

.ligne-message .message .date{font-size:10px;font-weight:normal;text-align:left;}
.ligne-message .message .titre{font-size:12px;font-weight:bold;padding-bottom:5px;text-align:left;border-bottom:1px dotted #336699; }
.ligne-message .message .texte{font-size:12px;padding:5px;margin-top:5px;text-align:left;}
 
/*===================== squelette recherche  ====================*/

.rech .titre-bloc{width:100%;background:#336699;color:#FFFFFF;font-size:12px;font-weight:bold;margin:1px;padding:1px;}
.rech .date{font-size:10px;font-style:italic;}

/*=========================les formulaires ======================*/
.forml { width: 100% ; background-color: #C377B5;}
.spip_encadrer { background-color: #EEEEEE;border:1px Solid #C377B5; }
.spip_bouton { background-color: #ffffff;border:1px Solid #C377B5;color:#336699;font-weight:bold;}
.formrecherche { width: 100% ; background-color: #FFDDAA;}
.spip_logos {border:0px;}
.spip_surligne{background:#DCE1E6}

.inscription {clear:both;margin:2% 0 2% 0;padding:10px 5px 0px 5px}