body { font-family: Arial,Helvetica,sans; font-size: 14px; line-height: 16px; color: black; background-color: white; }
h2 { font-size: 1.25em; }
h3,
h4 { font-size: 1em; }
a { color: blue; }
img { max-width: 100%; height: auto; }
i.title,
a.credit { white-space: nowrap; }
#content { width: 500px; margin: 3em auto; padding: 0; }
#content p,
#content h1,
#content ul { margin: 1em 0; }
#content ul { padding-left: 2em; }
#content li { margin: .5em 0; }
#content h1 { padding: 0; }
#content img { border-radius: 0.25em; }