/***************************
*  CSS SpipExhibit
*  
*  inspiré libre de la CSS Indexihit
***************************/


/* tags */
* {	margin: 0;	padding: 0;}
body {font-size: 11px;font-family: Arial, Helvetica, sans-serif;color: #000;background: #fff;}
body.section-1 { }
body.section-2 { }
body.section-3 { }

a {text-decoration:none;color: #777;}
a:hover {color:#ccc;}
a img { border: none; }

p {  margin: 0 0 1em 0;}
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 16px; }
h4 { font-size: 12px; }


/* layout */
#menu {
    width: 200px;
    overflow: auto;
    top: 0;
    bottom: 0;
	  left: 0;
    position: fixed;
    height: 100%;
	  background-color: #fff;
	  /*text-align:right;*/
}
#menu ul {list-style: none;}
#menu ul li.section-title { margin-top:1.4em; font-weight:bold;}
#menu ul li.active {/*background:#fafafa; */}

#content {
    height: 100%;
    margin: 0 0 0 210px;
    top: 0;
}

.container {   padding: 5px 5px 25px 5px;}

#footer {margin-top:2em;}
#footer p {margin:0;}

/* content */
#content p { width: 500px; margin-bottom: 9px; }
#img-container	  { margin: 0; padding: 0; }
#img-container p	{ width: 500px; margin: 0; padding: 0 0 12px 0; }
#img-container img	{margin:0 9px 9px 0;}
#once { clear: left; }