//
// Carousel
// --------------------------------------------------

@import "css/variables.less";

/* Carousel base class */
.carousel{
    position: relative;
    font-size:1.1em;
    line-height:1.5;
    margin:0 0 1em 0;
    padding:0 0 0 0;
    border: 1px solid @grayLighter;
    height:250px;
    background-color: @grayLighter;
    .carousel-inner {
        overflow: hidden;
        width: 100%;
        position: relative;    
        > .item {
            strong.h3-like{font-weight:normal;}
            overflow:auto;
            display: none;
            position: relative;
            .transition(.6s ease-in-out left);
            // Account for jankitude on images
            > img,
            > a > img {
                display: block;
            }
            article{
                width:100%;
                height:250px;
                overflow:hidden;
                margin-bottom:0;
                .introduction{padding:0 1em 1em 2em;}
                a{
                    display:block;
                    padding:0 0 0 1em ;
                    font-size:1.5em;
                    font-weight:bold;
                    line-height:1em;
                    &:hover{text-decoration:none;}
                    .spip_logos{margin:0;}
                    .titre{font-variant:small-caps;display: block;padding-top:.8em;}
                }
            }            
        }
        > .active,
        > .next,
        > .prev { display: block; }
        > .active {
            left: 0;
        }
        > .next,
        > .prev {
            position: absolute;
            top: 0;
            width: 100%;
        }
        > .next {
            left: 100%;
        }
        > .prev {
            left: -100%;
        }
        > .next.left,
        > .prev.right {
            left: 0;
        }
        > .active.left {
            left: -100%;
        }
        > .active.right {
            left: 100%;
        }
    }
    // Left/right controls for nav
    // ---------------------------
    .carousel-control {
        color: @white;
        background-color: @color2;
        &:hover,&:focus{background-color: darken(@color1,10%);}
        position: absolute;
        bottom: 5px;
        top:inherit;
        left: 5px;
        height:30px;
        width:30px;
        margin: 0;
        padding: 8px 12px 12px 8px;
        font-size:30px;
        font-family:helvetica,arial,sans-serif;
        font-weight: 100;
        line-height:1;
        text-align: center;
        border: 0;
        .border-radius(30px);
        .opacity(0);
        transition:opacity 0.3s ease-in-out  0.2s;
        // Reposition the right one
        &.right {
          left: auto;
          right: 5px;
          padding: 8px 8px 12px 12px;
        }
        // Hover/focus state
        &:hover,&:focus {
            text-decoration: none;
        }
    }
    .carousel-indicators,.carousel-stop{
        z-index: 5;
        margin: 0;
        list-style: none;
        li{
            color: lighten(@color2,5%);
            cursor: pointer;
            display: inline;
            text-indent: inherit;
            height: auto;
            width: auto;
            background-color: transparent !important;
            float: none;
            &:hover,&:active,&:focus{color: darken(@color1,20%);background: none;}
        }
    }
    .carousel-indicators{
        position: absolute;
        bottom:8px;
        left: 45%;
        line-height: 1em;
        li{
            font-size:2.5em;
            margin:0 5px 0 5px;
            padding: 0 0 0 0;
            display: inline-block;
            .border-radius(5px);
            &.active{color: lighten(@color1,10%);}
        }
    }
    .carousel-stop{
        position: absolute;
        bottom:4px;
        left:40%;
        margin-left: 0;
        margin-bottom: 0;
        font-family: helvetica,arial,sans-serif;
        li{
            font-size:1.7em;
        }
    }
    &:hover{
        .carousel-indicators,.carousel-stop{
            li{
                color: @color2;
                &.active,&.active:hover{color: @color1;}
                &:hover,&:active,&:focus{color: darken(@color1,10%);}
            }
        }
        .carousel-control {
            .opacity(70);
            transition: opacity 0.3s ease-in-out  0;
        }
    }
    
}
