
@greenDane:                 #94C11F;
@blueDane:                  #009FE3;
@purpleDane:                #85549E;
@redDane:                   #E30613;
@orangeDane:                #F8AE27;

@green:                     #26A12D;
@turquoise:                 #6BCDC0;
@blue:                      #0B0197;
@purple:                    #7A217F;
@pink:                      #E6007E;
@red:                       #EE0000;
@orange:                    #FF7632;
@yellow:                    #FFEB0E;
@gray:                      #E0E2E4;
@black:                     #000000;
@white:                     #ffffff;

//Couleurs dominantes du site (complémentaires de préférence)
@color1:                    @pink;
@color2:                    @purple;
@color3:                    @blueDane;