/*  ----------------------------------------------------------------- */
/*  Feuille de style pour les squelettes Lebanon 1.9.0 - juillet 2006 */
/*  ----------------------------------------------------------------- */

/*  Correction des styles HTML par defaut
/*  ------------------------------------------ */
body {
	background: #C6C78D;
	font-size: 1em; margin: 0; padding: 0; text-align: center;
	color: #333;
}

img, .spip_logos, table { margin: 0; padding: 0; border: 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-size: 1em; font-weight: normal; }

/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
#page { width: 800px; background: url(background-left.jpg) repeat-y; margin: 0 auto; text-align: left; }

#contenu { float: right; width: 530px; margin: 2em 0 5em 0; margin-right: 35px; display: inline; background-color: #FFF; }
#navigation { float: left; width: 188px; margin: 0 0 3em 0; }
.contre-encart { float: left; width: 63%; }
.encart { float: right; width: 33%; margin: 0; margin-bottom: 1em; }

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: 0; height: 0; line-height: 1px; font-size: 1px; overflow: hidden; }

/* Non visible a l'ecran */
.invisible { position: absolute; top: -3000em; height: 1%; }


/*  Typographie generale du site
/*  ------------------------------------------ */

/* Typo Verdana pour les menus et la navigation */
body, #navigation, .encart, #pied, .formulaire_spip {
	font-family: Verdana, "Bitstream Vera Sans", Tahoma, Arial, sans-serif; }

/* Typo Trebuchet pour le contenu */
#contenu, #entete {
	font-family: "Trebuchet MS", Helvetica, sans-serif; }

/* Typo serif pour les citations et extraits introductifs */
.chapo, .texte, blockquote, #navigation h2, .encart h2, #navigation .rubriques li, .forum-chapo {
	font-family: "Bitstream Vera Serif", Georgia, Times, serif; }


/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */

#navigation ul, #navigation ol, #navigation li,
.encart ul, .encart ol, .encart li { margin: 0; padding: 0; }
#navigation ul, .encart ul { list-style: none; }

/* Entete */
#entete { background: #333; margin: 0; padding: 0.5em 1em 0.2em 1em;
-moz-border-radius-bottomleft: 0.5em; -moz-border-radius-bottomright: 0.5em; }
#entete, #entete a { color: #C6C78D; text-decoration: none; }

#entete a#nom_site_spip, #entete a .spip_logos { display: block; float: left; font-weight: bold; font-size: 1.5em; font-variant: small-caps; margin-top: 0.5em; }
#entete p { margin: 0; padding: 0; font-size: 0.82em; clear: both; }

#entete #outils { float: right; }
#entete #outils * { display: inline; }
#entete #outils .formulaire_menu_lang { margin-right: 1em; }
#entete #outils .forml { text-align: left; width: 12em; background: #666; padding: 0 !important; color: #CCC; font-weight: bold; text-transform: none; }
#entete #outils label { display: none !important; }
#entete #outils option { display: block !important; }

/* Fil d'Ariane : on ne s'en sert pas */
#hierarchie { display: none; }

/* Habillage general des menus de navigation laterale */
#navigation, .encart { text-align: center; font-size: 0.71em; }
#navigation h2, .encart h2, #navigation .rubriques li {
text-transform: uppercase; text-align: left; margin-top: 3em; margin-bottom: 0.1em;
border-top: 1px solid #996; font-size: 1em; padding: 0; padding-left: 0.1em; }

#navigation p, .encart p { margin: 0; padding: 0.2em 0; text-align: left; }
#navigation ul, .encart ul { padding: 0.2em 0; text-align: left; }
#navigation li, .encart li { padding: 0 0.1em; }
#navigation .articles li { list-style-image: url(puce-carre.gif); list-style-position: inside; }

#navigation .rubriques { margin-top: 3em; }
#navigation .rubriques h2 { display: none; }
#navigation .rubriques ul { padding: 0; border-bottom: 1px solid #996; }
#navigation .rubriques ul ul { border: none; }
#navigation .rubriques li { margin: 0; padding: 0; }
#navigation .rubriques li a { display: block; padding-left: 0.1em; padding-right: 0.1em; }
#navigation .rubriques li li a { padding-left: 0.5em; }
#navigation .rubriques li.on, #navigation .rubriques li a:hover { text-decoration: none; background-color: #CC9; }
#navigation .rubriques li.on { font-weight: normal; }
#navigation .rubriques li a.on {}

#navigation p.plus { margin: 0; padding: 0; padding-left: 0.1em; }

/* Pied de page */
#pied { clear: both; padding: 2px; padding-right: 600px; font-size: 0.71em; }
#pied p { margin: 0; padding: 0; }
#pied small { font-size: 0.70em; }
#pied img { vertical-align: bottom; }

/*  Habillage du contenu
/*  ------------------------------------------ */

/* Cartouche et titraille */
.cartouche { margin-bottom: 2em; }

.cartouche .titre {
	font-size: 1.27em;
	font-weight: bold;
	color: #000; }
#contenu .surtitre, #contenu .soustitre { font-size: 0.82em; }

.cartouche .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px; }

.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche small { font-size: 0.71em; }

.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-left: 1em; }

/* Mise en forme des textes du contenu */
.chapo, .texte { color: #000; font-size: 0.9em; line-height: 1.4em; }
.chapo { font-weight: bold; }

h3.spip { color: #996; margin: 0; margin-top: 2em; font-weight: bold; font-size: 1.1em; }
#contenu h2 { clear: both; margin-top: 2.5em; font-weight: bold; }
#contenu h2, #contenu h2 a { color: #996; }

div.spip_poesie { 
	margin: 1em; 
	padding-left: 1em; 
	border-left: 1px solid;
	font-family: Garamond, Georgia, Times, serif; }
div.spip_poesie div { text-indent: -60px; margin-left: 60px; }

code, tt, pre, samp { font: 1.2em monospace; }
.spip_cadre { width: 524px; padding: 1px 2px; border: 1px inset #996; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

.ps, .notes { margin-top: 1.4em; }
.ps, .lien { font-size: 0.82em; }
.ps h2 { display: none; }
.notes { clear: both; font-size: 0.77em; }
.notes h2 { font-size: 1.2em; }

/* Tableaux */
table.spip { margin: 0.5em auto; border: 1px solid #CC6; border-collapse: collapse; }
table.spip th, table.spip td { padding: 3px; vertical-align: middle; border: 1px dotted #CC6; }

/*  Logos, documents et images
---------------------------------------------- */
.spip_documents { text-align: center; }
.spip_documents_center { clear: both; width: 100%; margin: auto; }
span.spip_documents_center { display: block; margin-top:1em; }
.spip_documents_left { float: left; margin-right: 15px; margin-bottom: 5px; }
.spip_documents_right { float: right; margin-left: 15px; margin-bottom: 5px; }
.spip_doc_titre { font-weight: bold; font-size: 0.8em; margin-left:auto; margin-right:auto;}
.spip_doc_descriptif { clear: both; font-size: 0.8em; margin-left:auto; margin-right:auto;
}

/* Portfolio */
#documents_portfolio { clear: both; margin-top: 1.4em; }
#documents_portfolio h2 { display: none; }
#document_actif { padding-top: 1em; text-align: left; }
#document_actif p { margin: 5px 0; padding: 0; }

/* Listes de documents joints */
#documents_joints { margin-top: 1.4em; padding-top: 2px; }
#documents_joints h2 { font-size: 0.88em; }
#documents_joints ul { margin: 0; padding: 0; list-style: none; }
#documents_joints li { margin: 0; padding: 0; }
#documents_joints li .spip_doc_titre {}
#documents_joints li .spip_doc_titre small { font-weight: normal; }
#documents_joints li .spip_doc_descriptif {}

/* Listes d'articles et extraits introductifs
----------------------------------------------- */
.liste-articles ul { margin: 0; padding: 0; list-style: none; }
.liste-articles li { margin: 0; padding: 0; margin-bottom: 1em; }

.liste-articles li .titre {
	font-size: 1.03em;
	font-weight: bold; }

.liste-articles li .spip_logos {
	float: right;
	margin-left: 16px;
	margin-bottom: 16px;
	clear: right; }

.liste-articles li p { margin: 0; padding: 0; }
.liste-articles li small { display: block; font-size: 0.71em; }

.liste-articles li .texte { margin-top: 5px; margin-bottom: 2em;
border: 1px solid #CCC; padding: 0.9em; font-size: 0.82em; }
.liste-articles li .texte .spip_logos { float: none; margin: 1px; }
.liste-articles li .texte a.suite { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #FFF; }
.liste-articles li .texte a:hover.suite { text-decoration: none; color: red; }

.pagination { font-size: 0.90em; }

/*  Habillage des formulaires
/*  ------------------------------------------ */
form, fieldset, legend, label, input, textarea, select, option { margin: 0; padding: 0; border: none; background: none; }

/* Styles des formulaires de Spip */
.formulaire_spip { font-size: 0.77em; }
.formulaire_spip p { margin: 0.5em 0; padding: 0; }

fieldset { display: block; }
legend { font-weight: bold; padding: 0; padding-bottom: 5px; color: #996; }

label {}
.forml {
	width: 99%; background: #FFF;
	padding: 1px 2px;
	border: 1px inset #996;
	font-family: inherit;
	font-size: inherit; }

.spip_bouton { text-align: right; }
.spip_bouton input {
	margin: 3px 0; padding: 1px 2px;
	background: #C6C78D; border: 1px outset #C6C78D;
	font-weight: bold; color: #FFF;
	float: right; }

/* Formulaires de forum, contact */
.formulaire_forum, .formulaire_ecrire_auteur { margin-top: 3em; }
.formulaire_forum, .formulaire_ecrire_auteur, .formulaire_login { background: transparent url(cedre_liban.gif) no-repeat; padding-left: 0; padding-right: 175px; min-height: 227px; }
.formulaire_forum, .formulaire_ecrire_auteur { background-position: right bottom; }
.formulaire_login { background-position: right top; }

table.spip_barre { display: none; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: red; }
fieldset.reponse_formulaire { padding: 1em; border: 1px dotted red; font-weight: normal; }
fieldset.reponse_formulaire legend { color: red; padding: 0 2px; }

/* Previsualisation du message */
fieldset.previsu { padding: 1em; border: 1px solid red; margin-bottom: 1em; }
fieldset.previsu legend { color: red; padding: 0 2px; }

/* Formulaires de login */
.formulaire_login legend, .formulaire_login h3.spip { font-size: 1em; }
.formulaire_login .forml, .formulaire_login_forum .forml { width: 12em; }
.formulaire_login .spip_logos, .formulaire_login_forum .spip_logos { float: right; padding-left: 10px; }

/*  Habillage des forums
/*  ------------------------------------------ */

h2.forum-repondre { font-size: 0.88em; }
h2.forum-decompte { display: none; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; margin-top: 3em; list-style: none; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-message { margin: 0; padding: 0; margin-bottom: 1em; font-size: 0.80em; }
.forum-chapo { border: 0; border-bottom: 1px dotted #B8B8B8; margin: 0;
background: #EEE url(comment.gif) 2px 2px no-repeat; padding: 2px 6px 1px 22px; }
.forum-texte { margin: 0; padding: 0.5em 0.7em 0 0.5em; color: #333; }

/*  Couleurs des liens
/*  ------------------------------------------ */
a, a.spip_out { text-decoration: none; color: #333; }
a:hover.spip_out { color: #339; }
.on { font-weight: bold; color: #663; }
a:hover { text-decoration: underline; }