/*  Logos, documents et images
---------------------------------------------- */
.spip_documents { text-align: center; line-height: normal; }
/*.spip_documents img { background: #FFF; border: 4px solid #FFF; }*/

.spip_documents_center {
	clear: both;
	display: block;
	width: 100%;
	margin: 1.4em auto;
}

.spip_documents_left {
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}

.spip_documents_right {
	float: right;
	margin-left: 15px;
	margin-bottom: 5px;
}

.spip_doc_titre {
	font-weight: bold;
	font-size: 0.8em;
	margin: auto;
}

.spip_doc_descriptif {
	clear: both;
	font-size: 0.8em;
	margin: auto;
}

/*  Modeles par defaut
---------------------------------------------- */
.spip_modele { float: right; display: block; border: 1px dotted #666; width: 180px; }

/*  Images typographiques (via image_typo), URL a revoir...
---------------------------------------------- */
.format_png {
	behavior: url(../win_png.htc);
}