/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */

/* Correction des styles HTML par defaut */
.formulaire_spip form, .formulaire_spip fieldset, .formulaire_spip legend, .formulaire_spip label, .formulaire_spip input, .formulaire_spip textarea, .formulaire_spip select, .formulaire_spip option { margin: 0; padding: 0; border: 0; background: none; }

/* Styles des formulaires de Spip */
.formulaire_spip { text-align: left; font-size: 0.77em; }

.formulaire_spip p { margin: 0.5em 0; padding: 0; }

.formulaire_spip fieldset {
display: block;
margin: 0.77em 0;
padding: 0.77em;
border: 1px dotted; }
.formulaire_spip legend { 
font-weight: bold; 
padding: 3px;
background: #FFF; /* Sinon, superposition dans MSIE */
}

.formulaire_spip label {}
.formulaire_spip .forml {
width: 99%;
padding: 1px;
border: 1px inset;
font-family: inherit;
font-size: inherit; }

.spip_bouton { text-align: right; }
.spip_bouton input {
margin: 3px 0;
padding: 1px 2px;
border: 2px outset;
font-weight: bold;
float: right; }

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #a4000; }
fieldset.reponse_formulaire { border: 1px dotted; font-weight: normal; }

/* Previsualisation du message */
fieldset.previsu {
padding: 1em;
border: 1px solid; }

/* Surlignement des resultats de recherche */
.spip_surligne { background: #FF6; }

/* Petition "des sites sous SPIP"
----------------------------------------------- */

.formulaire_signature { font-size: 0.77em; }

#signatures { clear: both; }

#signatures h2 {
	padding: 0.5em;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
}

#signatures li {
	clear: both;
	background: #eeeeec url(../site.gif) no-repeat;
	background-position: left top;
	/*background-position: 3px 0.8em;*/
	min-height: 90px;
	padding: 0.8em; padding-left: 30px;
	margin-top: 0.5em; margin-bottom: 0.5em;
	font-size: 0.77em;
	border: 2px solid #babdb6;
	-moz-border-radius: 1em;
}
#signatures li h3 { font-weight: bold; }
#signatures li p { margin: 0; padding: 0; }
#signatures li .spip_logos { display: block; float: right; margin-left: 1em; }

#signatures .pagination { margin: 0; padding: 0; text-align: center; font-size: 0.77em; }