/*  Disposition a l'ecran des blocs principaux
---------------------------------------------- */
body {
background: #eeeeec;
margin: 0; padding: 0;
text-align: center;
}

#page {
	width: 54em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

#conteneur {
	width: 100%;
	background: #FFF;
	padding-bottom: 2em;
}

#conteneur #contenu {
	float: left;
	width: 35em;
	margin-left: 3em;
	display: inline;
}

#conteneur #navigation {
	float: right;
	width: 12em;
	text-align: center;
}

/* Blocs du contenu (c-a-d. la colonne principale) */
#contenu .contre-encart {
	float: left;
	width: 21em;
}

#contenu .encart {
	float: right;
	width: 11em;
	margin: 0;
	margin-bottom: 1em;
}

/* Entete */
#entete {
	width: 100%;
	background: #FFF;
	/*-moz-border-radius-topleft: 1em;
	-moz-border-radius-topright: 1em;*/
}

#entete a .spip_logos {
	float: left;
	margin-top: 1em;
	margin-left: 1em;
	display: inline;
}

#entete a { text-decoration: none; }

#entete p.langues {
	clear: both;
	line-height: 3.2em;
	margin: 0; padding: 0 1em;
	font-size: 0.71em;
}
#entete p.langues img { vertical-align: text-bottom; }
#entete p.langues .on, #entete p.langues .on a { font-size: 1.2em; color: #75507b; }

#topnav {
	padding: 4px;
	font-size: 12px;
	color: #75507b;
	background: #75507b url(../topnav.jpg) repeat-x bottom;
	border-bottom: 1px solid #5c3566;
}

#topnav a {
	padding: 4px 10px 5px 10px;
	font-weight: bold;
	color: #FFF;
}
/*#topnav a:active, #topnav a:hover, #topnav a.on { background-color: #5c3566; }*/

#topnav * { display: inline; }
#topnav ul { display: block; float: left; }
#topnav .formulaire_recherche {
	height: 14px;
	background: none; padding: 0; border: none;
	display: block; float: right;
}

#topnav .formulaire_recherche label, #topnav .formulaire_recherche a { display: none; }

#topnav .formulaire_recherche input.forml {
	background: #FFF;
	margin-right: 10px;
	padding: 1px 2px;
	border: 1px inset #68D055;
	font-size: 10px;
	color: #75507b;
	width: 130px;
}

/* Fil d'Ariane */
#hierarchie { clear: both; background: #FFF; padding: 0.1em 1em 2em 1em; font-size: 0.71em; }
#hierarchie, #hierarchie a { color: #666; }

/* Pied de page */
#pied { clear: both; width: 100%; border-top: 1px dotted #CCC; text-align: center; font-size: 0.77em; }
#pied small { display: block; padding: 2px; }
#pied, #pied a { color: #666; text-decoration: none; }
#pied a:hover { color: #000; }

/* Espaceur de blocs */
.nettoyeur { clear: both; margin: 0; padding: 0; border: 0; height: 0; line-height: 1px; font-size: 1px; overflow: hidden; }

/* Non visible a l'ecran */
.invisible {
	position: absolute;
	top: -3000em;
	height: 1%;
}