/*  Typographie generale du site
---------------------------------------------- */
body { font-size: 1em; color: #333; }

/* Typo pour les menus et la navigation */
body, #navigation, .formulaire_spip { font-family: Verdana, Tahoma, Arial, sans-serif; }

/* Typo pour le contenu */
#contenu, .encart { font-family: "Trebuchet MS", Helvetica, sans-serif; }

/* Taille typo : correspondance em / pixels
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

/* Titraille */
h1 { font-size: 1.27em; font-weight: bold; }
h1, h1 * { color: #3465a4 !important; }

h2.spip, h3 { font-family: Georgia, Times, serif; font-weight: bold; }

h2.spip, .ps h2, .notes h2 {
	margin: 2em 0 1em 0;
	font-size: 1.1em;
	border-bottom: 1px solid #3465a4;
	color: #3465a4;
}

/*  Cartouche
---------------------------------------------- */
.cartouche { margin: 2em 0; }
#contenu .surtitre, #contenu .soustitre { font-size: 0.82em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 16px; }
.cartouche p { margin: 0; padding: 0; clear: left; }
.cartouche small { font-size: 0.71em; color: #666; }
.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions * { display: inline; }
.cartouche .traductions li { padding-right: 1em; }
.cartouche .traductions, .cartouche .traductions a { color: #666; }
.cartouche .traductions a:hover, .cartouche .traductions .on { color: #000; }

/* Citations, code et poesie */
blockquote, blockquote.spip, .spip_serif { font-family: Georgia, Times, serif; }

blockquote, blockquote.spip {
	margin: 1em 0;
	padding-left: 1em;
	padding-right: 1em;
	border: none;
	border-left: 4px solid #A0C0E0;
	color: #333;
}

tt, .spip_code, .spip_cadre {
	font-family: monospace;
	font-style: normal;
	font-size: 1.2em;
}

.spip_code { color: #729fcf; }
tt { color: #333; }

.spip_cadre {
	width: 98%;
	padding: 1px; padding-top: 0.5em;
	background: #eee;
	color: #3465a4;
	border: 1px inset #eee;
	border-left: 4px solid #3465a4;
}

/* Mise en forme des textes du contenu */
.chapo {
	margin-bottom: 1.5em;
	font-weight: bold;
	font-size: 0.82em;
	line-height: 1.4em;
}

.texte {
	color: #000;
	font-size: 0.82em;
	line-height: 1.4em;
}

/* Notes de bas de page */
.ps, .notes { margin-top: 1.4em; }
.ps { font-size: 0.82em; }
.notes { clear: both; font-size: 0.77em; }

/* Divers autres */
abbr, acronym { border-bottom: 1px dotted; cursor: help; }

hr { height: 1px; border: none; color: #3465a4; background: #3465a4;
width: 70%; margin: 1.4em auto; }

b, strong { font-weight: bold; }
i, em { font-style: italic; }

/* Paragraphes */
p, blockquote, .spip_cadre, hr { margin-bottom: 1.4em; }