body {
	font-family:sans-serif;
	font-size:100%;
	text-align:center;
}
h5 {margin:0px;}
.instrument{
	float:left;
	width:290px;
	padding:5px;
	border: #000 solid 1px;
	margin:5px;
	text-align:left;
}
.clear {
	clear:both;
	color:transparent;
	visibility:hidden;
}

.indice_deg{
	font-size:20px;
}
.indice{
	font-size:14px;
}

.conteneur{
	float:center;
	height:40px;
	width:270px;
	border-style:solid;
	border-width:3px;
	margin:1px;
	letter-spacing:11px;
	font-size:30px;
	text-align:center;
	padding-top:1px;
	padding-left:10px;
}
a:visited{
	color:#3D3D3D;
}
a:hover{
	text-decoration:none;
}
