<plugin>
	<nom>ZKTX Compositions Catalogue</nom>
	<slogan><multi>[fr]Un "catalogue produits" pr&ecirc;t &agrave; l'emploi pour ZKTX[en]A "ready to go" products catalogu for ZKTX skeleton.</multi></slogan>
	<auteur>Loiseau2nuit</auteur>
	<icon>img/zktx-128.png</icon>
	<licence>GNU/GPL</licence>
	<version>1.0.0-dev</version>
	<etat>experimental</etat>
	<description>
		<multi>
			[fr]Utiliser une rubrique pour cr&eacute;er un catalogue produit avec des compositions articles, rubrique, groupes de mot et mot cl&eacute;s, des champs extars et des noisettes d&eacute;di&eacute;es.
		</multi>
	</description>
	<lien>http://nutzme5.loiseau2nuit.net/</lien>
	<prefix>zcatalog</prefix>
	<!-- options>zktx_options.php</options -->
	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[3.0.0;3.2.99]" />
	<necessite id="Zcore" version="[2.0.0;]" />
	<necessite id="noizetier" version="[2.0.0;]" />
	<necessite id="saisies" version="[1.42.11;]" />
	<!-- utilise paypal -->
	<!-- utilise commandes -->
	<!-- utilise facture -->
	<!-- necessite compositions -->
	<!-- necessite noizetier --> <!-- necessite aussi saisies, du coup ! -->
</plugin>
