/* screen stylesheet */
/*
	CREDITS
	- global resetting : http://clagnut.com/blog/1287/

	SIZES
	browser default : 16px
	body : 75% = 12px
	10px = 83% of 12 px
*/

/* --------------------------------------------------- */
/* generic declarations */
* { margin:0; padding:0 }
body {
	font-size:75%; font-family:arial, helvetica, sans-serif; color:#000000;
	background:#ffffff;
}

ul,ol,blockquote {
    padding-left:20px;
    margin-left:0;
}
h1, h2, h3, h4, h5, h6, p, blockquote,
 form, label, ul, ol, dl, fieldset, address {
    margin-bottom: 1em;
}
/* h1: you may have several per page : one for brand name, one for main content title */
h1 {
	font-family:'Trebuchet MS',arial, helvetica, sans-serif; font-size:160%;
}
h2 {
	font-family:'Trebuchet MS',arial, helvetica, sans-serif; font-size:130%;
}
h3 {
	font-family:'Trebuchet MS',arial, helvetica, sans-serif; font-size:100%;
}
h4 {
	font-family:arial, helvetica, sans-serif; font-size:100%;
}
a:link {
	text-decoration:underline; color:#005AFF;
}
a:visited {
	text-decoration:underline; color:#002D80;
}
a:hover, a:active, a:focus {
	background-color:#E5EEFF; text-decoration:underline;
}

.fr a:link, .fr a:visited, #navbar .fr a:link, #navbar .fr a:visited, , #disclaimer .fr a:link, #disclaimer .fr a:visited {
	color:#FFAA00;
}
.en a:link, .en a:visited, #navbar .en a:link, #navbar .en a:visited , #disclaimer .en a:link, #disclaimer .en a:visited {
	color:#51AC4C;
}
blockquote {
	color:#555555; font-style:italic;
}
blockquote em { text-transform:normal; }
q { font-style:italic; color:#555555; }


fieldset {
	padding:1em; border:1px solid #B5B5B5;
}
legend { padding:0 1em; color:#000000; }

/* end generic declarations */

/* --------------------------------------------------- */
/* layout : top-down */

div#header_access {
	background:#000000; color:#B9B9B9; padding:2px;
}
div#header_access a:link, div#header_access a:visited {
	color:#B9B9B9;
}
div#header_access a:hover, div#header_access a:active, div#header_access a:focus {
	color:#ffffff; background-color:#551111;
}

div#header {
	background:#790102; color:#ffffff;
	padding-bottom:1em;margin:0; padding:0; text-align:right;
}
div#header a:link, div#header a:visited, div#header a:hover, div#header a:active, div#header a:focus {
	background:transparent;
	color:#ffffff;
	display:block; text-align:right;
}

div.disclaimer { color:#7b7b7b; padding:0 5%; font-family:verdana, arial, helvetica, sans-serif; font-size:90%; font-weight:bold; }
div.disclaimer p.fr { width:45%; float:left; text-align:right; padding-right:10%;}
div.disclamier p.en { }

div#container {
  width:100%;
  float: left;
  margin-right: -220px;
}
div#content {
  font:100%/160% arial,helvetica,sans-serif;
  margin-right: 220px;
  margin-left:170px;
}

div#content span.spip_documents { padding:0; display:block;
    text-indent:0; position:relative;
}
div#content span.spip_documents_left { margin-right:5px }
div#content span.spip_documents img {
	display:block;
    border:1px solid #666666 !important;
}
div#content span.spip_documents span {
	display:block; padding:1px;
	color:#ffffff; font-weight:bold;
    background:url(/v4/img/doc-trans.png) transparent left top repeat;
    font:75% verdana, arial, helvetica, sans-serif;
    position:absolute; bottom:0; width:100%;
}

a:link.rss, a:visited.rss, a:hover.rss, a:active.rss, a:focus.rss {
	text-decoration:none; color:#ffffff;
	background:#ff6600 !important;
	border-top:1px solid #FF9136; border-left:1px solid #FF9136;
	border-bottom:1px solid #9E0000; border-right:1px solid #9E0000;
	font-size:60%; font-family:verdana,arial,helvetica, sans-serif; padding:0 3px;
}

body.article div#forums {
    clear:both; border-top:1px solid silver;
}
div#forums h3 a:link.forum, div#forums h3 a:visited.forum { color:#000000; text-decoration:none; }
div#forums h3 a:hover.forum, div#forums h3 a:active.forum, div#forums h3 a:focus.forum  { color:#000000; text-decoration:underline; }


div#navbar { float:left; width:150px; margin-left:10px; }
div#navbar h3 { margin-top:1em; margin-bottom:0; }
div#navbar ul {
	list-style:none; margin:0; padding:0;
}

div#sidebar {
  width: 200px;
  float: right;
}
div#sidebar ul {
	font-size:83%; font-family:verdana, 'bitstream vera sans', sans-serif;
}
/* end layout */



/* --------------------------------------------------- */
/* home */

body.sommaire div#container {
  margin-right: -320px;
}
body.sommaire div#content {
  margin-right: 320px;
}
body.sommaire div#content h1 { display:none; }
body.sommaire div#content .fr h2 a:link, body.sommaire div#content .fr h2 a:visited {
	color:#FFAA00; text-decoration:none;
}
body.sommaire div#content .en h2 a:link, body.sommaire div#content .en h2 a:visited {
	color:#51AC4C; text-decoration:none;
}
body.sommaire div#content .premiere h2 {
	font-size:160%;
}
body.sommaire div#content .premiere h3 {
	font-size:130%;
}
body.sommaire div#content .autres_news h2 {
	font-size:120%;
}

body.sommaire ul.metainfo a:link, body.sommaire ul.metainfo a:visited, body.sommaire ul.metainfo a:hover, body.sommaire ul.metainfo a:active, body.sommaire ul.metainfo a:focus {
	text-decoration:none; color:#7b7b7b; font-weight:bold; background:transparent;
}
body.sommaire div#sidebar {
  width: 300px;
}
body.sommaire div#sidebar h1 { display:none; }
body.sommaire div#sidebar h2 {
	font-family:arial, helvetica, sans-serif; font-size:120%;
}
body.sommaire div#sidebar h3 {
	font-family:arial, helvetica, sans-serif; font-size:100%; margin:0.5em 0 0 0;
}
body.sommaire div#sidebar ul.blinks-details { list-style:none; padding:0; margin:0; }
body.sommaire div#sidebar ul.blinks-details p { margin:0; }
body.sommaire div#sidebar ul.blinks-details p+p { text-indent:0.8em; }
body.sommaire div#sidebar h3 a:link, body.sommaire div#sidebar h3 a:visited {
	color:#0040b6; text-decoration:none;
}
body.sommaire div#sidebar li.date { font-weight:bold; }


body.sommaire div.links { width:140px; margin-right:10px; float:left; }

/* end home */

div#footer p {
	clear:both; color:#7B7B7B; margin:1em 10px 1em 115px; font-size:85%; font-family:arial, helvetica, sans-serif; text-align:right;
}
div#footer p a {
	color:#7B7B7B; text-decoration:underline; background:transparent;
}

