/* screen stylesheet */

/* --------------------------------------------------- */
/* home */

body.sommaire div#header {
    background:url(/v4/img/header_bg_home.jpg) #790102 top left no-repeat; color:#ffffff;
    margin:0; padding:0; height:166px;
}
body.sommaire div#header span {
    background:url(/v4/img/nb_logo_home-trans.png) transparent right 50% no-repeat;
    color:#ffffff;
    display:block; height:166px;
    font-size:1px; text-indent:-9000px;
}

body.sommaire div#container {
  margin-right: -320px;
}
body.sommaire div#content {
  margin-right: 320px;
}

body.sommaire div#content h1, body.sommaire div#sidebar h1 {
    text-transform:uppercase; color:#7B7B7B; font-size:65%;
    font-family:verdana,arial,helvetica,sans-serif;
    letter-spacing:1em;
}
body.sommaire div#sidebar h1 {
    display:none;
}
body.sommaire div#content div.premiere h2 {
    font-family:'Trebuchet MS',arial, helvetica, sans-serif; font-size:160%;
    text-align:center; margin:0 50px 1em 50px;
}

body.sommaire div#content div.premiere p {
    font-size:120%;
}

body.sommaire div#content .fr h2 a:link, body.sommaire div#content .fr h2 a:visited {
    /* color:#51AC4C; text-decoration:none; */
    color:#000000; text-decoration:none;
}
body.sommaire div#content .en h2 a:link, body.sommaire div#content .en h2 a:visited {
    /* color:#FFAA00; text-decoration:none; */
    color:#000000; text-decoration:none;
}

body.sommaire div#content h3 {
    font-family:arial, helvetica, sans-serif; font-size:130%;
    color:#7B7B7B; font-variant:small-caps; letter-spacing:0.1em; margin-left:-20px;
}

body.sommaire ul.metainfo {
    list-style:none; margin:0 0 0 20px; padding:3px 0; font-size:85%; font-family:verdana,arial,helvetica,sans-serif; height:1.5em;
}
body.sommaire ul.metainfo li {
    float:left;
}
body.sommaire ul.metainfo a:link, body.sommaire ul.metainfo a:visited, body.sommaire ul.metainfo a:hover, body.sommaire ul.metainfo a:active, body.sommaire ul.metainfo a:focus {
    padding:5px 12px 5px 17px; text-decoration:none; color:#7b7b7b; font-weight:bold; background:transparent;
}
body.sommaire ul.metainfo a:hover, body.sommaire ul.metainfo a:active, body.sommaire ul.metainfo a:focus {
	text-decoration:underline;
}

body.sommaire div.autres_news h2, body.sommaire div.autres_news p {
    margin-bottom:0;
}
body.sommaire div.autres_news.fr h2 {
    margin-top:1em; font-size:100%; border-top:2px solid #d6fbd4;
}
body.sommaire div.autres_news.en h2 {
    margin-top:1em; font-size:100%; border-top:2px solid #ffeeb6;
}
body.sommaire div.autres_news p {
    margin-left:20px;
}
.en li.metainfo_permalien {
    background:url(/v4/img/icon_doc_en.png) transparent left 50% no-repeat;
}
.en li.metainfo_rubrique {
    background:url(/v4/img/icon_rub_en.png) transparent left 50% no-repeat;
}
.en li.metainfo_comments {
    background:url(/v4/img/icon_comment_en-trans.png) transparent left 50% no-repeat;
}
.fr li.metainfo_permalien {
    background:url(/v4/img/icon_doc_fr.png) transparent left 50% no-repeat;
}
.fr li.metainfo_rubrique {
    background:url(/v4/img/icon_rub_fr.png) transparent left 50% no-repeat;
}
.fr li.metainfo_comments {
    background:url(/v4/img/icon_comment_fr-trans.png) transparent left 50% no-repeat;
}

body.sommaire div#sidebar {
    background:url(/v4/img/sidebar_bg_home.jpg) transparent left top no-repeat;
    width: 307px; min-height:477px;
}
body.sommaire div#sidebar>* {
    margin:0;
}
body.sommaire div.links { width:130px; padding:0 10px; float:left; }
body.sommaire div.links * { margin:0; }
body.sommaire div#sidebar blockquote { padding-left:0 !important; }
body.sommaire div#sidebar h2 {
    font-family:arial, helvetica, sans-serif; font-size:120%;
}
body.sommaire div#sidebar h3 {
    font-family:arial, helvetica, sans-serif; font-size:100%; margin:0.5em 0 0 0;
}
body.sommaire div#sidebar ul.blinks-details { list-style:none; padding:0; margin:0; }
body.sommaire div#sidebar ul.blinks-details p { margin:0; }
body.sommaire div#sidebar ul.blinks-details p+p { text-indent:0.8em; }
body.sommaire div#sidebar h3 a:link, body.sommaire div#sidebar h3 a:visited {
    color:#0040b6; text-decoration:none;
}
body.sommaire div#sidebar li.date { font-weight:bold; }
body.sommaire div#sidebar li.blink-comments { text-align:right; }
body.sommaire div#links-fr li.blink-comments a {
    color:#51AC4C; text-decoration:none;
}
body.sommaire div#links-en li.blink-comments a {
    color:#FFAA00; text-decoration:none;
}


/* end home */
