body { margin: 1em; font-size:150%; font-family:arial, helvetica, sans-serif; color:#F0EB7A;
	background:#723200;
}

a:link { color:#40BDE8; }
a:visited { color:#0099C3; }
a:hover, a:active, a:focus { color:#40BDE8; text-decoration:none; }

div#header, div#container, div#sidebar, div#footer { border:1px solid #D2CD5D; padding:0.5em; margin:1em; background:#561A00; }
div#content { border-top:1px solid #D2CD5D; }

div#navbar ul, ul.metainfo {list-style:none; }
div#navbar ul li, ul.metainfo li { display:inline; }
ul.metainfo li { padding:0 0.5em; }
