/*  ---------------------------------------------------------------- */
/*  Feuilles de styles des squelettes par defaut pour SPIP 1.9 beta  */
/*  ---------------------------------------------------------------- */

/* Imported Styles
----------------------------------------------- */
@import url("formulaires.css");

/* Correction des styles HTML par defaut
----------------------------------------------- */
body { 
	background: #FFF; 
	margin: 10px; 
	font: 1em "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif; 
	color: #666; }
	
ul, ol, li, img { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	list-style: none; }
	
h1,h2,h3,h4 { 
	margin: 0; 
	padding: 0; 
	font-size: 1em; 
	font-weight: normal; }

/*  ------------------------------------------
/*  Disposition a l'ecran des blocs principaux
/*  ------------------------------------------ */
#page { 
	position: absolute; 
	top: 0; 
	width: 90%; 
	margin: 3%; 
	padding: 0; }
	
#contenu { 
	float: right; 
	width: 70%; 
	margin: 0; 
	padding: 0; 
	background: #FFF; }
	
#navigation { 
	float: left; 
	width: 25%; 
	margin: 0; 
	padding: 0; 
	text-align: center; }

.encart { 
	float: right; 
	width: 34%; 
	margin: 0 0 1em 1em; }

/* Entete et pied de page
----------------------------------------------- */
#top { 
	padding-bottom: 4px; 
	margin-bottom: 2px; 
	background: #FFF; }
	
#top #nom_site_spip { font-weight: bold; font-size: 1.5em; }

#top a { text-decoration: none; }

#top #barnav { 
	font-size: 0.8em;
	text-transform: uppercase; 
	color: #FFF; 
	padding: 1px 0 17px 0;
	border-bottom: 2px solid #666; }
	
#top #barnav ul, #barnav li { display: inline; }

#top #barnav a {
	float: left;
	line-height: 12px;
	margin: 0 16px 0 0; }

#top #barnav a.on, #barnav a:hover {
	border-bottom: 4px solid #666;
	padding-bottom: 1px;
	background: transparent;
	color: #000;
	font-weight: normal; }

#top #barnav a:hover { color: #000; }

/* * Fil d'Ariane */
#hierarchie { 
	margin-bottom: 16px; 
	font-size: 11px; }

/* * Pied de page */
#pied { 
	clear: both; 
	float: right; 
	width: 70%; 
	margin-top: 130px; 
	border-top: 1px dotted #CCC; 
	padding: 2px; 
	text-align: center; }
	
#pied, #pied small { font-size: 9px; }
#pied, #pied a { color: #666; }

/*  ------------------------------------------
/*  Habillage des menus et de la navigation
/*  ------------------------------------------ */
.rubriques, .breves, .syndic, .forums, .divers { 
	font-size: 11px; 
	text-align: left; 
	border: 1px solid #CCC; 
	margin-bottom: 16px; }
	
.rubriques .titre, .breves .titre, .syndic .titre, .forums .titre, .divers .titre { 
	padding: 3px 4px 2px 4px; 
	border-bottom: 1px dashed #CCC; 
	text-align: center; 
	text-transform: uppercase; }
	
.rubriques ul, .breves ul, .syndic ul, .forums ul, .divers ul { 
	display: block; 
	padding-bottom: 4px; }
	
.rubriques li, .breves li, .syndic li, .forums li, .divers li { 
	list-style: none; 
	padding: 1px 4px 1px 4px; }

/* Des couleurs specifiques selon les types de menus */

.rubriques { background: #eaffea; }
.rubriques .titre { background: #f2fff2; }

.breves { background: #ffeaea; }
.breves .titre { background: #fff2f2; }

.syndic { background: #e8f8f8; }
.syndic .titre { background: #f0fcfc; }

.forums { background: #eaeaff; }
.forums .titre { background: #f2f2ff; }
.forums p { text-align: center; margin: 2px 0; }

.divers { background: #f8f8e8; }
.divers .titre { background: #fcfcf0; }


/*  ------------------------------------------
/*  Habillage du contenu (c-a-d. la colonne principale)
/*  ------------------------------------------ */

/* * Titraille et cartouche */
.cartouche { margin-bottom: 2em; }
.cartouche small { font-size: 0.7em; }

.cartouche .titre { 
	font-size: 1.6em; 
	font-weight: bold; 
	color: #000; }

.cartouche .spip_logos {
	margin: 0 0 5px 5px; /*marges pour des logos alignes a droite*/
	border: 0; } 

#contenu .surtitre, #contenu .soustitre { 
	font-size: 0.8em; 
	font-variant: small-caps; 
	font-family: Georgia, Garamond, Times, serif; }
	
h2.spip, h3.spip { 
	clear: both; 
	text-align: center; 
	margin-top: 2em; 
	margin-bottom: 1.4em; 
	font-size: 1.1em; 
	font-weight: bold; }

/*  Mise en forme des textes
---------------------------------------------- */
.chapo { 
	margin-bottom: 1.5em; 
	font-size: 1.05em; 
	font-weight: bold; 
	text-align: justify; 
	line-height: 1.4em; }

.lien {
	background: #FAFAFA;
	margin: 1em;
	margin-bottom: 1.5em;
	padding: 8px;
	border: 1px solid #CCC;
	font-size: 0.9em;
	font-weight: bold; }
	
.texte, .texte p.spip { 
	font-family: Georgia, Garamond, Times, serif; 
	text-align: justify; color: #000; }
	
.ps { 
	margin-top: 0.6em; 
	padding: 0.6em 0; 
	border-top: 1px dotted #666; 
	border-bottom: 1px dotted #666; 
	font-size: 0.85em; 
	font-family: Georgia, Garamond, Times, serif; }
	
.notes { 
	margin-top: 0.6em; 
	padding: 1.5em; 
	font-size: 0.8em; 
	font-family: Georgia, Garamond, Times, serif; 
	text-align: justify; }

/* Spip Styles
----------------------------------------------- */
.spip_puce { list-style-position: inside; border: 0; }

blockquote.spip { 
	margin: 40px 0 10px 40px; 
	padding: 1em; 
	border: 1px dotted #CCC; 
	font-style: italic; }
	
.spip_serif { font-family: Georgia, Garamond, Times New Roman, serif; }
.spip_code { font-family: monospace; font-style: normal; }

div.spip_poesie { 
	margin-bottom: 5px; 
	margin-left: 10px; 
	padding-left: 10px; 
	border-left: 1px solid #999; }
	
div.spip_poesie div { text-indent: -60px; margin-left: 60px; }

/* *  Images typographiques (via image_typo), URL a revoir... */
.format_png { behavior: url(spip.php?page=win_png); }

/*  Documents
---------------------------------------------- */
.spip_documents { font: 11px Verdana, Arial, Helvetica, sans-serif; }
.spip_documents_center { margin: auto; text-align: center; width: 80%; }
.spip_documents_left { float: left; margin-right: 15px; text-align: center; }
.spip_documents_right { float: right; margin-left: 15px; text-align: center; }
.spip_doc_titre { clear: both; font-weight: bold; }
.spip_doc_descriptif { clear: both; }

/*  Portfolio
---------------------------------------------- */
#portfolio {}

/*  Tableaux
---------------------------------------------- */
table.spip { 
	margin: 0 auto; 
	border: 1px solid #666; 
	border-collapse: collapse; 
	font: 0.75em Verdana, Arial, Helvetica, sans-serif; }
	
table.spip caption { 
	caption-side: top; /* bottom pas pris en compte par IE */
	margin: 0 auto; 
	padding: 3px; 
	text-align: center; 
	font-weight: bold; }
	
table.spip tr.row_first { background-color: #FCF4D0; text-align: center; }
table.spip tr.row_odd { background-color: #F0F0F0; }
table.spip tr.row_even { background-color: #FAFAFA; }
table.spip td { padding: 3px; text-align: left; vertical-align: middle; }

/* Listes d'articles et extraits
----------------------------------------------- */
.extrait { margin-bottom: 16px; }

.extrait .titre a { 
	font-size: 0.9em; 
	font-weight: bold; 
	text-decoration: none; }
	
.extrait .spip_logos { 
	margin: 0 0 5px 5px; /*marges pour des logos alignes a droite*/
	border: 0; 
	clear: right; }
	
.extrait .enclosures { 
	max-width: 60%; 
	margin: 0 16px; }
	
.extrait small { 
	display: block; 
	font-size: 0.7em; }
	
.extrait small, .extrait .texte { 
	display: block; 
	margin: 2px 16px 0 16px; }
	
.extrait .texte { 
	margin-bottom: 2em; 
	border: 1px solid #CCC; 
	padding: 0.9em; 
	font-size: 0.8em; 
	line-height: 1.4em; }

/* Habillage du plan du site
----------------------------------------------- */
#plan { font-size: 0.9em; }

#plan h2 { 
	background: #e0ffe0; 
	border: 1px solid #CCC; 
	padding: 8px; 
	margin-bottom: 4px; 
	font-weight: bold; 
	text-align: center; }
	
#plan ul { 
	display: block; 
	clear: left; 
	margin-left: 16px; 
	margin-bottom: 16px; }
	
#plan li { list-style: square; }
#plan .encart ul, #plan .encart li { margin: 0; list-style: none; }

/*  ------------------------------------------
/*  Divers
/*  ------------------------------------------ */
.important { color: #F00; }
.structure { display: none; }

.spacer { 
	clear: both; 
	line-height: 0; }

/* Couleurs des liens */
a { text-decoration: none; color: #333; }
a.on { font-weight: bold; }
a:hover { text-decoration: underline; color: #000; }
a.spip_in { color: #a02020; }
a.spip_out, a.spip_url { color: #2020a0; }
a.spip_glossaire { color: #20a020; }