
/*
 * Feuille de style specifique a l'impression
 */
 
/* Elements generiques
   cf. http://www.alistapart.com/articles/alaprintstyles */

body {
	font: 10pt Verdana, sans-serif;
	line-height: 12pt;
	color: #000;
	background: #FFF; }

form,
#entete,
#pied,
#navigation,
.encart,
.forum-repondre,
.forum-repondre-message,
.spip-admin-float {
	display: none !important; }

body,
#page,
#conteneur,
#contenu {
	float: none !important;
	width: auto !important;
	margin: 0 !important;
	padding: 0 !important; }

html body pre,
html body code {
	vertical-align: baseline;}

.spip_logos {
	width:0;
	height:0;
	display:none; }


/* Pour les liens, on desactive les couleurs
   et on affiche l'URL cible a la suite du lien (!) */

a { 
	color: #333;
	text-decoration: underline; }
	
a[href]:after {
	display: inline;
	font-size: 80%;
	content: " (" attr(href) ")";}

a[href^="#"]:after,
.hierarchie a:after,
.cartouche a:after {
	content:''; }

/*
 * Un peu de coquetterie
 */

.chapo {
	line-height: 1.4em;
	margin-top: 1em;}

.ps {
	padding-top: 0.6em;
	margin-top: 0.6em;
	border-top: 1px dashed #666666;}

.notes {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	border-top: 1px solid #707070;}

#contenu .titre,
#contenu .surtitre {
	margin: 0;}

.extrait {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 2em;
	margin-right: 0;
	line-height: 1.4em;}

#hierarchie { border:0; }

/*
 * Disposition : on choisit un affichage de base pour le principal
 */

#page { margin: 10px; }

.cartouche {
	margin-top: 0.5em;
	padding-top: 1em;
	margin-bottom: 1em;}

.cartouche .spip_logos {
	margin-left: 0;
	padding-left: 0;
	margin-right: 0.8em;}

/*
 * Tableaux : il faut les relooker pour impression
 */

thead {
	display: table-header-group;
	border-bottom: 1px solid; }
