
/*
 * Feuille de style specifique a l'impression
 */
 
/* Pour les liens, on desactive les couleurs
   et on affiche l'URL cible a la suite du lien (!) */

a, a:visited, a.spip_in, a.spip_out { 
	color: #000; 
	text-decoration: underline; }
	
a:after {
	display: inline;
	border: 1px solid dotted;
	content: " [" attr(href) "]";}

/*
 * Un peu de coquetterie
 */

.chapo {
	line-height: 1.4em;
	margin-top: 1em;}

.ps {
	padding-top: 0.6em;
	margin-top: 0.6em;
	border-top: 1px dashed #666;}

.notes {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	border-top: 1px solid #707070;}

.structure { display: none; }

.spip-admin { display: none; }

#contenu { margin: 10px; }

#contenu .titre {
	margin-top: 0;
	margin-bottom: 0;}

#contenu .surtitre {
	margin-top: 0;
	margin-bottom: 0;}

.extrait {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 2em;
	margin-right: 0;
	line-height: 1.4em;}


/*
 * Disposition : on elimine les elements de navigation (display: none)
 * et on choisit un affichage de base pour le principal
 */

#page { margin: 10px; }

#navigation { display: none; }

.encart { display: none; }

.cartouche {
	margin-top: 0.5em;
	padding-top: 1em;
	margin-bottom: 1em;}

.cartouche .spip_logos {
	margin-left: 0;
	padding-left: 0;
	margin-right: 0.8em;}


/*
 * Forums
 */

.forum-repondre { display: none; }

.forum-repondre-message { display: none; }


/*
 * Boutons admin
 */
 
.spip-admin-float { display: none; }
