/*  ------------------------------------------ */
/*  Styles par defaut pour les types internes a SPIP
/*  ------------------------------------------ */

/* Couleurs des liens de Spip */
a.spip_in { color: #A02020; } /* liens internes */
a.spip_out { color: #2020A0; } /* liens sortants */
a.spip_url { color: #2020A0; } /* liens url sortants */
a.spip_glossaire { color: #20A020; } /* liens vers encyclopedie */

/* Spip Styles : intertitre, citations, cadre, etc...
----------------------------------------------- */
b.spip {}
i.spip {}
hr.spip {}

h3.spip {
    clear: both;
	text-align: center; 
	margin-top: 2em; 
	margin-bottom: 1.4em; 
	font-size: 1.15em; 
	font-weight: bold; }

p.spip {}
p.spip_note {} /* inutile : a supprimer */

.spip_puce { list-style-position: outside; border: 0; }
li.spip { margin-left: 0.8em; list-style: square; list-style-position: outside; } 

q, blockquote { font-family: Georgia, Garamond, Times, serif; }
blockquote.spip { 
	margin: 10px 20px; 
	padding: 0em 1em; 
	border: 1px dotted #CCCCCC; }

.spip_poesie { 
	margin-bottom: 5px; 
	margin: 10px 20px; 
	padding-left: 10px; 
	border-left: 1px solid #CCCCCC;
	font-family: Georgia, Garamond, Times, serif; }
.spip_poesie div { text-indent: -60px; margin-left: 60px; }
	
.spip_serif { font-family: Georgia, Garamond, Times, serif; }

.spip_code, .spip_cadre { font-family: monospace; font-style: normal; font-size: 1.1em; }
.spip_cadre {}

/*  Tableaux
---------------------------------------------- */
table.spip { 
	margin: 0 auto; 
	width: 100%;
	border: 1px solid #333333; 
	border-collapse: collapse; 
	font: 0.88em Verdana, Arial, Helvetica, sans-serif; }
	
table.spip caption { 
	caption-side: top; /* bottom pas pris en compte par IE */
	margin: 0 auto; 
	padding: 3px; 
	text-align: center; 
	font-weight: bold; }
	
table.spip tr.row_first { background-color: #F8F8E8; text-align: center; font-size: 1em; }
table.spip tr.row_odd { background-color: #F0F0F0; font-size: 1em; }
table.spip tr.row_even { background-color: #FAFAFA; font-size: 1em; }
table.spip td { padding: 3px; text-align: left; vertical-align: middle; }

/*  Logos et documents
---------------------------------------------- */

.spip_logos { margin: 0; padding: 0; border: 0; }

.spip_documents { font-family: Verdana, Arial, Helvetica, sans-serif; }
.spip_documents_center { margin: auto; text-align: center; width: 80%; }
.spip_documents_left { float: left; margin-right: 15px; text-align: left; }
.spip_documents_right { float: right; margin-left: 15px; text-align: right; }
.spip_doc_titre { font-weight: bold; text-align: center; font-size: 0.88em; }
.spip_doc_descriptif { clear: both; font-size: 0.82em; }

/* *  Images typographiques (via image_typo), URL a revoir... */
.format_png { behavior: url([(#CHEMIN{win_width.htc}|url_absolue)]); }

/*  ------------------------------------------ */
/*  Habillage des formulaires 
/*  ------------------------------------------ */

/* Correction des styles HTML par defaut
----------------------------------------------- */
form, fieldset, legend, label, input, textarea, select, option {
	margin: 0; padding: 0; border: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif; }

/* Styles de Spip
----------------------------------------------- */
.formulaire_spip {}
	
#contenu .spip_encadrer, #contenu input.spip_bouton{
    font-size: 0.77em; }	

.spip_encadrer {
    display: block;
	background: #FAFAFA;
	margin: 8px 0;
	padding: 8px;
	border: 1px solid #CCCCCC; }

.spip_sanscadre { border: 0; } /* inutile : a supprimer */

.forml {
	width: 99%;
	background: #FCFCF0;
	padding: 1px;
	border: 1px solid #666666;
	color: #000000;
    font-size: 1em; }

input.spip_bouton {
	width: auto;
	background: #666666;
	margin: 3px 0;
	padding: 1px 2px;
	border: 2px outset #666666;
	font-weight: bold;
	color: #FFFFFF;
	float: right; }

.reponse_formulaire {
	font-weight: bold;
	color: #FF0000; }

/* * Barre de raccourcis */
a.spip_barre img {
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #AA9966;
	border-bottom: 1px solid #AA9966;
	padding: 3px;
	background: #FFDDAA; }

a.spip_barre:hover img {
	border: 1px solid #808080;
	padding: 3px;
	background: #F8F8F4; }

/* * Choix des mots-clefs */
div.choix_mots { width: 47%; float:left} 
div.choix_mots label { display: inline; }

/* Formulaire de recherche
----------------------------------------------- */
input#formulaire_recherche {
	float: right;
	text-align: left;
	width: 12em;
	background: #FCFCF0;
	padding: 1px;
	border: 1px solid #666666;
	color: #000000; }

.spip_surligne { background: #FFFF66; }

/*  ------------------------------------------
/*  Habillage des forums
/*  ------------------------------------------ */

#contenu .repondre {
	clear: both;
	margin-top: 2.5em;
	padding-top: 2px;
	border-top: 2px solid #CCCCCC;
	font-size: 0.88em;
	font-weight: bold; }

/* * Habillage des forums */

ul.forum { display: block; clear: both; margin: 0; padding: 0; }
.forum-fil { margin-top: 1.5em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a:hover { display: block; margin: 0; padding: 0; font-weight: bold; text-decoration: none; color: #333333; }
.forum-chapo small {}
.forum-texte { margin: 0; padding: 0.5em 1em 0 1em; color: #333333; font-size: 0.82em; }
.forum-texte .forum-lien {}
.forum-texte .forum-repondre-message { margin: 0; padding: 1px 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords */

ul .message { border: 1px solid #666666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .message { border: 1px solid #A4A4A4; }
ul ul ul .message { border: 1px solid #B8B8B8; }
ul ul ul ul .message { border: 1px solid #CCCCCC; }
ul ul ul ul ul .message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .message { border: 1px dashed #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum */

ul .forum-chapo { border: 0; border-bottom: 1px dashed #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; font-size: 0.88em; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; }
ul ul ul ul ul .forum-chapo { background: #FFFFFF; }

/*  ------------------------------------------
/*  Habillage des petitions
/*  ------------------------------------------ */

#signatures { clear: both; font-size: 0.77em; }

#signatures h3 {
	padding: 0.5em;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold; }

#signatures table { width: 100%; margin: 1em 0; }
#signatures thead { display: none; } /* On n'affiche pas les titres du tableau */
#signatures td { -moz-border-radius: 0.4em; } /* tres joli mais non-valide */

#signatures td.signature-date {
	background: #E4F0F0;
	padding: 0.5em;
	white-space: nowrap; }

#signatures td.signature-nom {
	background: #ECF4F4;
	padding: 0.2em;
	text-align: center;
	font-weight: bold; }

#signatures td.signature-message {
	background: #F4F8F8;
	padding: 0.4em;
	font-size: 0.96em; }