<plugin>
	<nom>SVP Squelettes</nom>
	<auteur>Eric Lupinacci</auteur>
	<licence>GNU/GPL</licence>
	<version>0.1.1</version>
	<icon>svpskel-64.png</icon>
	<etat>test</etat>
    <slogan>Jeu de squelettes Z pour SVP</slogan>
    <description>
Ce plugin est un module optionnel de SVP. 
_ Il fournit un jeu de squelettes Z simple mais complet pour afficher l'ensemble des objets SVP.
Son but est avant tout de permettre une v&eacute;rification ais&eacute;e de toutes les informations collect&eacute;es par SVP sur les objets d&eacute;p&ocirc;t, plugin et paquet.	
	</description>
	<lien></lien>
	<prefix>svpskel</prefix>

	<pipeline>
		<nom>insert_head_css</nom>
		<inclure>svpskel_pipelines.php</inclure>
	</pipeline>

	<necessite id="SPIP" version='[3.0.0-dev;)' />
	<necessite id="svp" version='[0.9.0;)' />
	<necessite id="Zpip" version='[2.0.0-dev;)' />
	<utilise id="svpstats" version='[0.1.1;)' />

	<categorie>squelette</categorie>
</plugin>
