<plugin>
	<nom>Rubrique calendrier pour EVA</nom>
	<slogan>Affichage d&#8217;une rubrique sous forme de calendrier</slogan>
	<auteur>Olivier Gautier, &#233;quipe de d&#233;veloppement Eva-WEB.</auteur>
	<licence>[CC-BY->http://creativecommons.org/licenses/by/2.0/fr/]</licence>
	<version>1.0.0</version>
	<etat>stable</etat>
	<description>
	Affichage d&#8217;une rubrique sous forme de calendrier mensuel avec syst&#232;me de navigation vers les mois pr&#233;c&#233;dents et suivants.

	La rubrique s&#8217;affiche sous forme de calendrier d&#233;s lors qu&#8217;on lui joint le mot cl&#233; {{calendrier}}.

	Les articles sont inscrits dans le calendrier en leurs attribuant une date de r&#233;daction ant&#233;rieure correspondant &#224; la date de l&#8217;&#233;v&#232;nement concern&#233;.
	</description>
	<prefix>eva_calendrier</prefix>
	<categorie>squelette</categorie>
	<necessite id="spip" version="[1.9.2;2.0.99]" />
</plugin>

