<plugin>
	<nom> <!-- Nom du plugin -->
	Rubrique calendrier pour EVA
	</nom>
	<auteur>
    Olivier Gautier, &eacute;quipe de d&eacute;veloppement Eva-WEB.
    <br/>Cette <a href="http://purl.org/dc/dcmitype/InteractiveResource" rel="dc:type">cr&eacute;ation</a> est mise &agrave; disposition sous un <a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/">contrat Creative Commons</a>.
    <br />&nbsp;<br /><div style="text-align:center;"><a rel="license" href="http://creativecommons.org/licenses/by/2.0/fr/"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/2.0/fr/88x31.png"/></a></div>
	</auteur>
	<version>
	1.0
	</version>
	<etat>
	stable
	</etat>
    <description>
    Comptatible SPIP 1.9.2 et 1.9.3.<br />
    Affichage d'une rubrique sous forme de calendrier mensuel avec syst&egrave;me de navigation vers les mois pr&eacute;c&eacute;dents et suivants.<br />
    La rubrique s'affiche sous forme de calendrier d&eacute;s lors qu'on lui joint le mot cl&eacute; <strong>calendrier</strong>.<br />
    Les articles sont inscrits dans le calendrier en leurs attribuant une date de r&eacute;daction ant&eacute;rieure correspondant &agrave; la date de l'&eacute;v&egrave;nement concern&eacute;.
    </description>
    <prefix>
    eva_calendrier
    </prefix>
</plugin>
