/* Document Css pour FNSF.COM - creer par Ghijselinck S*/


/* ==================================================================================== */
/* ==================================================================================== */
/* ELEMENT PRINCIPALE :
/* ==================================================================================== */
/* ==================================================================================== */
body{
	margin: 0;
	padding:0;
	text-align:center;
	background-color:#f5f5f5;
}

/*  ------------------------------------------
/*  Couleurs des liens
/*  ------------------------------------------ */
a {
text-decoration: none;
color: Blue;
}
a:hover {
text-decoration: underline;
color: Blue;
}

/* décoration des lignes*/
.linedeco{
border-bottom:1px dotted #CCCCCC;	
}





/* ==================================================================================== */
/* ==================================================================================== */
/* ELEMENT DE LA STRUCTURE :
/* ==================================================================================== */
/* ==================================================================================== */
/* Container..............................
/* ===================================== */
/* ===================================== */
#container{
	 width: 776px; /*min 762px, possible de mettre en fluide avec les pourcentage ;) */
	 margin: 0 auto;padding:0;
	 background-color:#fff;
	 border: 1px solid #ccc;
}


/* Header01................................
/* ===================================== */
/* ===================================== */
#header01{
 height: 50px;
 background: transparent url("img/headerRighta.jpg") left top repeat-x;
}
/* ==> PARTIE GAUCHE DU HEADER */

ul#headerLeft{
	 list-style-type:none;
	 float: left;
	 width: 270px;
	 height: 50px;
	 background: red url(img/headerLeft.jpg) left top no-repeat;
	 color:#fff;
	 margin:0;padding:0;
}


ul#headerLeft li{float: left;margin:0;padding:0;}
ul#headerLeft li a {	
	 display: block;	
	 height: 50px;
	 color: #fff;
	 font-size: 14px;
	 line-height: 50px;
	 font-weight: bold;
	 font-family: arial, serif;
	 text-decoration: none;
}

a#menu1{width: 60px;}
a#menu2{width: 60px;}
a#menu3{width: 75px;}
a#menu4{width: 75px;}

ul#headerLeft li a#menu1:hover {
 background: transparent url(img/headerLeft.jpg)  0  -50px no-repeat;
}
ul#headerLeft li a#menu2:hover {
 background: transparent url(img/headerLeft.jpg) -60px -50px no-repeat;
}
ul#headerLeft li a#menu3:hover {
 background: transparent url(img/headerLeft.jpg) -120px -50px no-repeat;
}
ul#headerLeft li a#menu4:hover {
 background: transparent url(img/headerLeft.jpg) -195px -50px no-repeat;
}

/* ==> PARTIE DROITE DU HEADER */
ul#headerRight{
 list-style-type:none;
 float: right;
 width: 490px;
 height: 50px;
 margin:0;padding:0;
 font-family: Arial,Verdana,sans-Serif;
 font-size: 10pt;
}

ul#headerRight li {
 float: left;
 margin:0;padding:0;
 border-left: 1px solid #606060;
}

ul#headerRight li a{
 color: #000;
 font-weight: bolder;
 text-decoration: none;
 line-height: 50px;
 height: 50px;
 width: 97px;
 display:block;
 background: transparent url("img/headerRighta.jpg") left top repeat-x;
}

ul#headerRight li a:hover{
 color:#f00;
 background: transparent url("img/headerRightaH.jpg") left top repeat-x;
}



/* Header02................................
/* ===================================== */
/* ===================================== */
#header02{
 height: 190px;
 background-color: #069;
 color: White;
 font-weight: bolder;
}

/* ==> PARTIE GAUCHE DU HEADER 02..le BANDEAU DECORATIF FNSF */
#header02 h1{
 float: left;
 height: 150px;
 width: 526px;
 background: #069 url("img/FNSF_feuille.jpg") top left no-repeat;
 text-indent: -999999px;
 margin: 0;
 padding: 0;
}
/* ==> PARTIE DROITE DU HEADER 03..lA PUB */
/*#header02 {
 float: right;
 height: 150px;
 width: 150px;
 background: #069 url("img/pub_250_150.gif") top right no-repeat;
 text-indent: -999999px;
 margin: 0;
 padding: 0;
}
*/

/*#header02 ul {
 float: right;
 list-style-type:none;
 margin:0;padding:0;
 width: 250px;
}

#header02 li{
 text-align:right;
 font-size: 1.5em;
}
#header02 li a{
 margin: 0;padding: 0 60px 0 0;
 color:#fff;
 height: 50px;
 line-height: 50px;
 display: block;
 text-decoration:none;
}
#header02 li a:hover{
 font-weight: bolder;
}

#header02 li a#JSF:hover {
 background: transparent url(img/ulHeader02.jpg)  0 -150px no-repeat;
}

#header02 li a#CFSS:hover {
 background: transparent url(img/ulHeader02.jpg) 0 -200px no-repeat;
}
#header02 li a#ETSF:hover {
 background: transparent url(img/ulHeader02.jpg) 0 -250px no-repeat;
}
*/

/* ==> PARTIE BAS DU HEADER02 .. les infos a gauche et le search a droite*/
#infoNavAndSearch{
 clear:both;
 margin:0;padding:0;
 height:40px;
}
p#info{
 width: 487px;
 color: #666;
 margin:0;padding:0 10px;
 float:left;
 font-size: 8pt;
 line-height: 40px;
 background:transparent url("img/infoP.jpg") top left no-repeat;
}
form#search{
 width: 250px;
 height: 40px;
 float: right;
 display: inline;
 margin:0;padding:0;
 background:transparent url("img/frmSearch.jpg") top left no-repeat;
}
form#search input{
 display: inline;
 float:right;
 margin:8px 10px 0 0;padding:0;
}



/* Le Menu Deroulant..(alsacreationS)...
/* ===================================== */
/* ===================================== */

#menu {
width: 100%; /* correction pour Opera */
background: transparent url("img/h-nav.jpg");
background-repeat: repeat-x;
height: 25px;
font-family: Verdana,Arial,sans-Serif;
}

#menu dl, #menu dt, #menu dd, #menu ul, #menu li {
margin: 0;
padding: 0;
list-style-type: none;
}

#menu dl {
float: left;
width: 125px;
border-right: 1px solid #ccc;
}

#menu dt {
text-align: center;
font-weight: bold;
font-size: 10pt;
height: 25px;
line-height: 25px;
}

#menu dd {
display: none;
}
#menu ul{
position:absolute;
z-index: 100;
margin-left: 0 !important;
margin-left: -62px;
}

#menu li {
text-align: center;
background: #fff;
font-size: 8pt;
height: 25px;
width: 129px;
line-height:25px;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
background: transparent url("img/h-nav.jpg") top left repeat-x;

}

#menu li a, #menu dt a {
color: #000;
text-decoration: none;
display: block;
height: 100%;
border:none;
}
#menu li a:hover, #menu li a:focus{
color:#000;
background: transparent url("img/h-nav-hoverOrange.jpg") top left repeat-x;
}
#menu dt a:hover{
background: transparent url("img/h-nav-hover.jpg") top left repeat-x;
}






/* Le Contenu...
/* ===================================== */
/* ===================================== */
#content{  
	width: 720px;  
	margin: 20px auto;
	padding:0;  
	border: 1px dotted #ccc;  
	text-align: left;	  
}  

#fond_article{
	text-align: center;
	background: url(img/h-nav.jpg) repeat-x; 
	height: 23px;
	border-bottom: 1px solid #BBBBBB;
}

#Article{
	width: 720px;
	margin: 20px;
	padding:0;
	border: 1px dotted #ccc;
	text-align: left;
	border: 1px solid #BBBBBB;

}

#conteur_Article
{
	padding: 10px;
}

#Article h1{
 margin: 0;
 padding: 0;
 font-size: 1.5em;
 font-family: Arial,Verdana,sans-Serif;
 text-align: center;
}

#Article p{
 margin: 0;padding: 0;
 font-size: 0.8em;
 font-family: Verdana,Arial,sans-Serif;
}

/* Les Infos 
/* ===================================== */
/* ===================================== */

#button_pub{
	margin: 20px auto;	
}





/* Les Infos 
/* ===================================== */
/* ===================================== */
#fond_infos
{
	text-align: center;
	background: #f2f3f5 url(img/h-nav.jpg) repeat-x bottom left; 
}

#infos
{
	width: 350px;
	margin: 20px;
	padding:0;
	margin-left: 30px;
	border: 1px dotted #ccc;
	text-align: left;
	float: left;
	border: 1px solid #BBBBBB;
}

#conteneur_infos
{
	padding: 5px 5px 5px 5px;
}

#infos h1
{
	 margin: 0;padding: 0;
	 font-size: 1.5em;
	 font-family: Arial,Verdana,sans-Serif;
}

#infos h1
{
	 margin: 0;padding: 0;
	 font-size: 1.5em;
	 font-family: Arial,Verdana,sans-Serif;
}
 
#infos p
{
	 margin: 0;padding: 0;
	 font-size: 0.8em;
	 font-family: Verdana,Arial,sans-Serif;
}


/* Les SONDAGES ou LA PUB
/* ===================================== */
/* ===================================== */

#pub{
	width: 330px;
	margin: 20px auto;
	padding:0;
	border: 1px dotted #ccc;
	text-align: left;
	float: left;
	margin-left: 15px;
	border: 1px solid #BBBBBB;
}

#fond_pub{
	text-align: left;
	padding-left: 10px;
	margin: 0px;
	background: #f2f3f5 url(img/h-nav.jpg) repeat-x bottom left; 
}

#conteneur_pub
{
	padding: 5px 5px 5px 5px;
}


#pub h1{
	 margin: 0;padding: 0;
	 font-size: 1.5em;
	 font-family: Arial,Verdana,sans-Serif;

}
#pub p{
	 margin: 0;padding: 0;
	 font-size: 0.8em;
	 font-family: Verdana,Arial,sans-Serif;
}
/* Le Pied..
/* ===================================== */
/* ===================================== */
#pied{
	clear:both;
	height: 10px;
	margin: 0;padding:0;
	background: transparent url("img/bckd_footer.jpg") top left repeat-x;
	text-align: center;

}




/* LES ONGLETS TYPE YAHOO..
/* ===================================== */
/* ===================================== */


#Tabview{
	
	/* HACK CSS POUR IE */
	width: 720px;
	margin-left: 0px;
	text-align: left;
	background: #fff;
	
}

#conteneur_tab
{
	margin-top: 24px;
}


#Titre_tab
{
	width: 718px;
	position: absolute;
	background-image: url(img/h-nav.jpg);
	background-repeat: x-repeat;
	border: 1px solid #BBBBBB;
}


#bouton_tab
{
	float: left;
	display: block;
	width: auto;
	padding: 0 10px 0 10px;
	height: 23px;
	background-image: url(img/h-nav.jpg);
	background-repeat: x-repeat;
	text-align: center;
	color: #000000;
	font-family: Arial;
	border-right: 1px solid #BBBBBB;
}

#bouton_tab:hover
{
	background-image: url(img/h-nav-hoverOrange.jpg);
}


#panneau_1{
	display: block; 
	border: 1px solid #CCC;
	text-align: center;
	padding: 5px;
}
#panneau_2{display: none; border: 1px solid #CCC;}
#panneau_3{display: none; border: 1px solid #CCC;}

.lienTab
{
	text-decoration: none;
	color: #000000;
	font-size: 18px;
	font-family: Arial;
}

.lienTab:hover
{
	text-decoration: none;
	color: #000000;
}


#Titre_tab li{
	float:left; 
	font-family:verdana; 
	display:inline; 
	padding-bottom:6px;
}
#Titre_tab li a{float:left; display:block; text-decoration:none; color:#003DB8 ; }
#Titre_tab li a:visited{color:#003DB8 ; }
#Titre_tab li a:hover{text-decoration:underline; }
#Titre_tab li em{float:left; display:block; padding:0 4px; font:10px verdana; margin:8px 0 0 0; font-style:normal; color:#003399 ; border-right:1px solid #666; cursor:pointer; }
#Titre_tab li.on{background:url(images/ptr.gif) bottom center no-repeat; padding-top:1px;}
#Titre_tab li.on a{color:#fff; background:#a5b1bd url(images/tab_left.gif) no-repeat; padding-left:3px; }
#Titre_tab li.on a:visited{color:#fff; }
#Titre_tab li.on a:hover{text-decoration:none; }
#Titre_tab li.on em{background:#a5b1bd url(images/tab_right.gif) no-repeat top right; margin:0; padding:8px 7px 5px 4px; border:none; font-weight:bold; color:#fff; }
#Titre_tab li.last em{border:none; }


/* Les Infos en mobile
/* ===================================== */
/* ===================================== */


#infos_mobile
{
	text-align: left;
	
}