<plugin>
<nom>SPIP reset</nom>
<version>2.0</version>
<etat>stable</etat>
<icon>img_pack/spip_reset_48.png</icon>
<description>Squelettes pour ne rien publier. Ce plugin annule tous les squelettes par d&eacute;faut de SPIP, ce qui permet d'&eacute;viter la fuite involontaire d'informations d'un site.</description>
<auteur>[Jacques->http://www.spip-contrib.net/_Jacques-PYRAT_] &mdash; &copy; 2010-2011 Licence GPL</auteur>
<lien>http://www.spip-contrib.net/?rubrique1327</lien>
<prefix>spip_reset</prefix>
<categorie>squelette</categorie>
<chemin dir='' />
</plugin>