<plugin>
	<nom>Bibliotype</nom>
	<slogan>Gabarit de ebook</slogan>
	<auteur>
	Craig Mod http://craigmod.com
	</auteur>
	<license>MIT</license>
	<version>0.1</version>
	<etat>
	dev
	</etat>
	<description>
	Gabarit de ebook
	</description>
	<prefix>
	Bibliotype
	</prefix>
	<icon>images/ipad_icon.png</icon>
	<lien>https://www.alistapart.com/articles/a-simpler-page/</lien>
	<categorie>squelette</categorie>
	<chemin dir='' />
</plugin>
