
/* Menu principal */
.firstnav{
	background:#000;
	@include background(linear-gradient(center top , rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)));
	border:1px solid #000;
	border-width:1px 0;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset;
	clear:both;
	display:none;
	margin-top:-2.5em;
	position:absolute;
	text-shadow:1px 1px 2px #000;
	width:100%;
	z-index:30;
	
	.menu-items{	
		@extend .list-none;
		margin:0;
	}
	a{
		color:white;
		display:block;
		padding:0.5em 1em;
		text-decoration:none;
		
		&:hover{
			background:#000;
			background:rgba(0,0,0,75);
			text-decoration:underline;
		}
		&:focus{
			background:#000 !important;
			background:rgba(0,0,0,75) !important;
			text-decoration:underline;
		}
	}
	.active a{
		background:#000;
		background:rgba(0,0,0,0.75);
	}
	
	@include media($bp-medium-plus-up){
		display:block;
		.menu-items{
			.item{
				@include inline-block;
			}
		}
	}
}
