
.header{
	background:black;
	color:white;
	max-height:180px;
	overflow:hidden;
	text-shadow:1px 1px 2px black;
	position:relative;
	
	.cover{
		width:100%;
		
		.adapt-img-wrapper{
			width:100%;
		}
	}
	header{
		left:1em;
		position:absolute;
		top:0.5em;
		z-index:10;
	}
	h1{
		font-size:1.4em;
		margin:0;
	}
	.slogan{
		display:none;
	}
	
	@include media($bp-medium-up){
		.slogan{
			display:block;
		}
	}
	@include media($bp-medium-plus-up){
		header{
			top:30%;
		}
	}
	@include media($bp-normal-up){
		header{
			top:35%;
		}
		h1{
			font-size:2em;
		}
	}
}
