
/* Habillage des forums
---------------------------------------------- */

/* * Habillage des forums */
.comments-items { }

/* comments list */
.comments-items {border-bottom: 1px solid #eee;}
.comments-items .comments-items {margin-left: /*@text-indent*/50px/*/@*/;border-bottom: 0;}
.comments-items .comments-items .comments-items .comments-items {margin-left: /*@demi-text-indent*/25px/*/@*/;border-bottom: 0;}

.comments-items .item {border-top: 1px solid #eee;}
.comments-items .item .item {border-top: 0;}

.comment-message {margin-bottom:/*@margin-bottom*/1.5em/*/@*/; overflow:hidden}
.comment-meta {background: #eee;padding: /*@demi-margin-bottom*/0.75em/*/@*/;padding-right: /*@margin-bottom*/1.5em/*/@*/;position: relative;}
.item .item .comment-meta {background : #f4f4f4;}
.comment-meta .spip_logos {margin-bottom:0;}
.comment-meta .permalink { position: absolute;right: 0;font-size: 3em;color:#ccc;}
.comment-meta .forum-titre {display: block;}
.comment-content {background: transparent;padding: /*@demi-margin-bottom*/0.75em/*/@*/;max-height:60em;overflow:auto;overflow-x:none;}
.comment-content .repondre { clear: both; text-align: right; font-weight: bold; margin-bottom:0;}