
/* Habillage des forums
---------------------------------------------- */
.repondre { clear: both; margin-top: 0em; margin-right: 1em; text-align: right; font-weight: bold; }

/* * Habillage des forums */
ul.forum { display: block; clear: both; margin: 0; padding: 0; }
ul.forum, ul.forum ul { list-style: none; }
/*
.forum-fil { margin-top: 1.50em; }
.forum-fil ul { display: block; margin: 0; padding: 0; margin-left: 1em; }
.forum-chapo .forum-titre, .forum-chapo .forum-titre a { display: block; margin: 0; padding: 0; font-weight: bold; color: #333; }
.forum-texte { margin: 0; padding: 0.50em 1em; color: #333; }
.forum-texte .hyperlien {}
.forum-texte .repondre { margin: 0; padding: 0.10em 0; text-align: right; }

/* Boite d'un forum : eclaircissement progressif des bords * /
ul .forum-message { border: 1px solid #666; margin: 0; padding: 0; margin-bottom: 1em; }
ul ul .forum-message { border: 1px solid #A4A4A4; }
ul ul ul .forum-message { border: 1px solid #B8B8B8; }
ul ul ul ul .forum-message { border: 1px solid #CCC; }
ul ul ul ul ul .forum-message { border: 1px solid #E0E0E0; }
ul ul ul ul ul ul .forum-message { border: 1px dotted #E0E0E0; }

/* Boite de titre d'un forum : mise en couleur selon la profondeur du forum * /
ul .forum-chapo { border: 0; border-bottom: 1px dotted #B8B8B8; margin: 0; padding: 3px 6px 2px 6px; background: #C4E0E0; }
ul ul .forum-chapo { background: #D4E8E8; }
ul ul ul .forum-chapo { background: #E4F0F0; }
ul ul ul ul .forum-chapo { background: #F4F8F8; border-bottom: 1px dotted #E0E0E0; }
ul ul ul ul ul .forum-chapo { background: #FFF; }
*/


/* comments list */
ul.forum,ul.forum ul {
	margin: 12px 10px;
	padding: 0;
	border-style: solid;
	border-color: #F0F0F0;
	border-width: 1px 1px 0 1px;
}
ul.forum ul { margin:0; }
.forum li {
	margin: 0;
	padding: 10px;
	list-style: none;
	border-bottom: 1px solid #F0F0F0;
}
.forum li cite {
	display: block;
	font-style: normal;
	font-weight: bold;
	padding: 7px;
}
.forum li cite img {
	float: left;
	margin-right: 10px;
}
.forum li cite .forum-chapo {
	font-size: .8em;
	font-weight: normal;
}
.forum li .forum-texte {
	clear: both;
	margin: 0; padding: 0;
}
.forum li.alt {
	background: #f8f8f8
}