<plugin>
	<nom> <!-- Nom du plugin -->
	ScolaSpip
	</nom>
	<auteur> <!-- Auteur du plugin -->
	CRDP de l'acad&eacute;mie de Versailles
	</auteur>
	<version>
	0.7
	</version>
	<etat>
	test
	</etat>
	<description>
		<h3>Plugin-Squelette pour site d'&eacute;tablissement</h3>
		Le plugin ScolaSpip permet de configurer l'habillage de votre site et ses couleurs.
 		<h4>[Configuration de l'habillage->.?exec=cfg&amp;cfg=scolaspip_accueil]</h4>
 		<h4>[Configuration des couleurs->.?exec=cfg&amp;cfg=scolaspip_colorer]</h4>
	</description>

	<lien>[Page de ScolaSPIP->http://www.tice.ac-versailles.fr/Squelette-etablissement.html]</lien>
	<prefix>ScolaSpip</prefix>
	<fonctions>scolaspip_fonctions.php</fonctions>
	<options>scolaspip_options.php</options>
	<bouton id='Scola_Accueil_config' parent='configuration'>
		<icone>images/scolaspip.png</icone>
		<titre>Configurer Scola-Spip</titre>
		<url>cfg</url>
		<args>cfg=scolaspip_accueil</args>
	</bouton>

	<necessite id="SPIP" version="[2.0.0 dev;)" />
	<necessite id="agenda" version="[0.18;)" />
	<necessite id="pb_selection" version="[0.3.1;)" />
	<necessite id="cfg" version="[1.7.6;)" />
	<necessite id="evamentions" version="[1.0;)" />
	<utilise id="Player" version="[0.67;)" />
	<utilise id="Splickr" version="[0.3;)" />
	<utilise id="Thickbox1" version="[0.3;)" />
	<compatible id="Crayons" version="[1.1;)" />
</plugin>
