/*-------------------------------------------------------
SYSTEME DE BOITES - HABILLAGE
---------------------------------------------------------

Permet de définir les couleurs des textes, fonds et bords
des boites ooCSS.
---------------------------------------------------------
*/
/* Headers & footers skins for all box */
.bam {
  background: #46839B;
  color: #ffffff;
  font-size: 120%;
  padding: 5px 10px;
}
.bam h1,
.bam h2,
.bam h3,
.bam h4,
.bam h5,
.bam h6 {
  color: #ffffff;
  font-size: 100%;
  padding: 0;
}
.topper {
  background: #ffffff;
  border: 1px solid #eeeeee;
  color: #4d4d4d;
  font-size: 120%;
  padding: 5px 10px;
}
.topper h1,
.topper h2,
.topper h3,
.topper h4,
.topper h5,
.topper h6 {
  color: #4d4d4d;
  font-size: 100%;
  padding: 0;
}
.act {
  background-color: #e9e9e9;
}
/* box standard : simple */
.simple .inner {
  background-color: #fcfcfc;
  border: 1px solid #dddddd;
}
.simple .inner .hd {
  /* pas de style particulier */
}
.simple b {
  /* pas de style particulier */
}
/* box standard : note */
.note {
  border: 1px solid #c2c2c2;
}
.note .inner {
  background-color: #f0f0f0;
  border: 4px solid #ffffff;
}
.note .inner .hd {
  /* pas de style particulier */
}
/* box standard : basic */
.basic {
  overflow: hidden;
}
.basic .inner {
  margin-bottom: -1px;
  padding-bottom: 1px;
}
.basic .inner .hd {
  /* pas de style particulier */
}
.basic b {
  /* pas de style particulier */
}
/* box standard : important */
.important .inner {
  border: 3px solid #f0f0f0;
  border-bottom-width: 10px;
}
.important b {
  /* pas de style particulier */
}
/* box standard : highlight */
.highlight .inner {
  background-color: #e3e36f;
}
/* box standard : inverse */
.inverse .inner {
  background-color: #333333;
  color: #ffffff;
}
/* box alert */
.error,
.success,
.notice,
.info {
  padding: 0.8em;
}
.error .inner,
.success .inner,
.notice .inner,
.info .inner {
  background-position: 5px 5px;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 2px solid;
  font-weight: normal;
  min-height: 24px;
  padding-left: 40px;
}
.success .inner a,
.error .inner a,
.notice .inner a,
.info .inner a {
  border-bottom: 1px dotted;
  font-weight: bold;
  text-decoration: none;
}
.success .inner {
  background-color: #dff0d8;
  background-image: url("img/message_ok-24.png");
  border: 2px solid #d6e9c6;
  color: #3c763d;
}
.success .inner a:hover {
  background-color: #aad4ab;
}
.success .inner .act {
  background-color: #dff0d8;
}
.error .inner {
  background-color: #f2dede;
  background-image: url("img/message_erreur-24.png");
  border: 2px solid #ebccd1;
  color: #a94442;
}
.error .inner a:hover {
  background-color: #dda8a7;
}
.error .inner .act {
  background-color: #f2dede;
}
.notice .inner {
  background-color: #fcf8e3;
  background-image: url("img/message_notice-24.png");
  border: 2px solid #faebcc;
  color: #8a6d3b;
}
.notice .inner a:hover {
  background-color: #deceb3;
}
.notice .inner .act {
  background-color: #fcf8e3;
}
.info .inner {
  background-color: #d9edf7;
  background-image: url("img/message_info-24.png");
  border: 2px solid #bce8f1;
  color: #31708f;
}
.info .inner a:hover {
  background-color: #aad0e2;
}
.info .inner .act {
  background-color: #d9edf7;
}
.info .inner .hd {
  /* pas de style particulier */
}
.info b {
  /* pas de style particulier */
}
