/*-------------------------------------------------------
FIL D'ARIANE - STRUCTURE
---------------------------------------------------------

Structure uniquement. Les thèmes sont dans theme.less
---------------------------------------------------------
*/
.breadcrumb {
  margin: 0 0 1em;
  padding: 0.5em 1em;
  list-style: none;
}
.breadcrumb > li {
  display: inline-block;
}
