/*-------------------------------------------------------
THEME DU SQUELETTE
---------------------------------------------------------

Couleurs et autres styles des blocs du squelette
---------------------------------------------------------
*/
.page {
  text-align: left;
}
.aside {
  background: #b9caff;
}
.extra {
  background: #ff8539;
}
.extra p {
  margin-bottom: 0;
}
.footer {
  background: #6262a4;
  color: #eeeeee;
}
.footer p {
  margin: 0;
  padding: 5px 10px;
}
.header {
  background: #6262a4;
  color: #eeeeee;
}
.header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
}
.breadcrumb {
  background: #eeeeee;
  color: #808080;
}
.breadcrumb a {
  text-decoration: none;
}
.breadcrumb a:hover {
  background: #ddddef;
  color: #6262a4;
}
/* Barre de navigation horizontale */
#navbar {
  margin: 0;
}
#navbar .menu-items {
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  background: #ddddef;
  color: #6262a4;
}
#navbar .item {
  float: left;
  padding: 0;
  margin-left: 0;
  border-right: 1px solid #bbb;
}
#navbar .item:last-child {
  border-right: none;
}
#navbar .item.on {
  background: #6262a4;
  color: #eeeeee;
}
#navbar .item a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0.4em 1em;
}
#navbar .item a:hover {
  background: #6262a4;
  color: #eeeeee;
}
/* Bloc de bienvenue du sommaire */
