body {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	background-color: #CCC;
	margin: 0px;
	padding: 0px;
	background-image: url(../_imgs/FondBody.png);
	background-repeat: repeat-x;
	background-position: left top;
}

#Header {
	background-position: center top;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	height: 400px;
	background-color: #FFFFFF;
	background-image: url(../_imgs/header.jpg);
	background-repeat: no-repeat;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-left-color: #999999;
}

.menu {
	float: right;
	width: auto;
	margin-top: 30px;
	margin-right: 40px;
	font-size: 11px;
	line-height: 150%;
}

.menu input {
	padding: 1px;
	font-size: 12px;
}

.menu ul, .menu li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.lien-desactive {
	color: #FFFFFF;
	background-image: url(../_imgs/pictosSardineBlanc.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	text-indent: 22px;
}

.menu a:active, .menu a:link, .menu a:visited {
	color: #FF8000;
	text-decoration: none;
	background-image: url(../_imgs/pictosSardineOrange.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 22px;
}

.menu a:hover {
	color: #EEEEEE;
	text-decoration: none;
	background-image: url(../_imgs/pictosSardineBlanc.png);
	background-repeat: no-repeat;
}

a#tooCool {
	display: block;
	height: 80px;
	width: 80px;
	background: url(../_imgs/too_cool_french.png) no-repeat right bottom;
	text-indent: -999em;
	text-decoration: none;
	position: relative;
	z-index: auto;
	left: 690px;
	top: 291px;
}



#HeaderRubArt {
	background-position: center top;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	height: 200px;
	background-color: #FFFFFF;
	background-image: url(../_imgs/headerGeneric.jpg);
	background-repeat: no-repeat;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-left-color: #999999;
	padding-bottom: 20px;
}

.menuRubArt {
	float: right;
	width: auto;
	margin-top: 30px;
	margin-right: 40px;
	font-size: 11px;
	line-height: 150%;
}

.menuRubArt input {
	padding: 1px;
	font-size: 12px;
}

.menuRubArt ul, .menu li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.menuRubArt a:active, .menuRubArt a:link, .menuRubArt a:visited {
	color: #FF8000;
	text-decoration: none;
	background-image: url(../_imgs/pictosSardineOrange.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 22px;
}

.menuRubArt a:hover {
	color: #EEEEEE;
	text-decoration: none;
	background-image: url(../_imgs/pictosSardineBlanc.png);
	background-repeat: no-repeat;
}

a#tooCoolRubArt {
	display: block;
	height: 80px;
	width: 80px;
	background: url(../_imgs/too_cool_french.png) no-repeat right bottom;
	text-indent: -999em;
	text-decoration: none;
	position: relative;
	z-index: auto;
	left: 690px;
	top: 120px;
}




#Contenu {
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #999999;
	border-left-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
}


.menuRacine {
	float: left;
	width: 170px;
	margin-left: 50px;
}

.menuRacine ul {
	margin: 0px;
	padding: 0px;
}

.menuRacine li {
	list-style-type: none;
}

.menuRacine a:active, .menuRacine a:link, .menuRacine a:visited {
	color: #000099;
	text-decoration: none;
	font-size: 12px;
	font-weight: bolder;
	background-image: url(../_imgs/pictosSardineBleu.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 22px;
}

.menuRacine a:hover {
	color: #666666;
	text-decoration: none;
	background-image: url(../_imgs/pictosSardineGris.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}



.menuRub {
	width: 170px;
	padding-left: 50px;
}

.menuRub ul {
	margin: 0px;
	padding: 0px;
}

.menuRub li {
	list-style-type: none;
}

.menuRub a:active, .menuRub a:link, .menuRub a:visited {
	color: #000099;
	text-decoration: none;
	font-size: 12px;
	font-weight: bolder;
	background-image: url(../_imgs/pictosSardineBleu.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 22px;
}

.menuRub a:hover {
	color: #666666;
	text-decoration: none;
	background-image: url(../_imgs/pictosSardineGris.png);
	background-repeat: no-repeat;
	background-position: 0px 3px;
}

.TexteDescriptif {
	color: #000000;
	font-size: 12px;
	line-height: 160%;
	margin-right: 20px;
	margin-bottom: 30px;
	text-align: justify;
	font-family: Georgia, "Times New Roman", Times, serif;
}


.ZoneRubrique {
	padding-right: 10px;
	background-color: #FFFFFF;
}

.HeaderZoneRub {
	background-image: url(../_imgs/Bandeau780Rub.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 10px;
}

.Rubrique {
	background-image: url(../_imgs/TrameZoneRubrique.png);
	background-repeat: repeat;
	background-position: left top;
	padding-left: 20px;
}

.Rubrique h1 {
	font-size: 20px;
	color: #003399;
	margin: 0px;
	padding: 0px;
}

.Rubrique h2 {
	font-size: 18px;
	color: #003399;
	border-top-width: thin;
	border-top-style: dotted;
	border-top-color: #00CCFF;
	margin-top: 5px;
	padding-top: 5px;
	margin-right: 10px;
}

.Rubrique h3 {
	font-size: 13px;
	margin: 0px 0px 10px;
	padding: 0px;
	font-weight: normal;
	color: #666666;
}

.Rubrique td {
	font-size: 12px;
}

.Rubrique td a:active, .Rubrique td a:link, .Rubrique td a:visited {
	color: #003399;
	text-decoration: none;
	font-size: 12px;
	font-weight: bolder;
}

.Rubrique td a:hover {
	color: #666666;
	text-decoration: none;
}


.ColCentrale {
	background-image: url(../_imgs/FondOrangeFoncer.jpg);
	background-repeat: repeat;
	background-position: left top;
	width: 340px;
}

.TitreBreve {
	font-size: 11px;
	color: #CC9900;
	background-color: #FFFFFF;
	background-image: url(../_imgs/Bandeau340.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-weight: bolder;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 6px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.ColCentrale p {
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #000000;
}

.ColCentrale p img {
	margin-right: 5px;
	margin-bottom: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.ColCentrale a:active, .ColCentrale a:link, .ColCentrale a:visited {
	color: #CC9900;
	text-decoration: none;
	font-size: 12px;
	font-weight: bolder;
}

.ColCentrale a:hover {
	color: #666666;
	text-decoration: none;
}

.ColGauche {
	width: 200px;
	background-image: url(../_imgs/FondGrisClair.png);
	background-repeat: repeat;
	background-position: left top;
}

.TitreAssos {
	font-size: 11px;
	color: #666666;
	background-color: #FFFFFF;
	background-image: url(../_imgs/Bandeau340Assos.png);
	background-repeat: no-repeat;
	background-position: right top;
	font-weight: bolder;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 6px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.ColGauche p {
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #000000;
}

.ColGauche p img {
	margin-right: 5px;
	margin-bottom: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.ColGauche a:active, .ColGauche a:link, .ColGauche a:visited {
	color: #666666;
	text-decoration: none;
	font-size: 12px;
	font-weight: bolder;
}

.ColGauche a:hover {
	color: #CCCCCC;
	text-decoration: none;
}

.ColDroite {
	background-image: url(../_imgs/FondOrangeClair.jpg);
	background-repeat: repeat;
	background-position: left top;
	width: 200px;
}

.TitreActivite {
	font-size: 11px;
	color: #CC9966;
	background-color: #FFFFFF;
	background-image: url(../_imgs/Bandeau340Clair.png);
	background-repeat: no-repeat;
	background-position: left top;
	font-weight: bolder;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 6px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.ColDroite p {
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	color: #000000;
}

.ColDroite p img {
	margin-right: 5px;
	margin-bottom: 5px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.ColDroite a:active, .ColDroite a:link, .ColDroite a:visited {
	color: #CC9966;
	text-decoration: none;
	font-size: 12px;
	font-weight: bolder;
}

.ColDroite a:hover {
	color: #666666;
	text-decoration: none;
}

.Descriptif {
	font-size: 10px;
	color: #000000;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
}

div.TexteArticle {
	font-size: 12px;
	padding-bottom: 10px;
	margin-right: 10px;
}

div.Hierarchie {
	font-size: 12px;
}

.Mentions {
	font-size: 10px;
	color: #FFFFFF;
	background-color: #FFFFFF;
	background-image: url(../_imgs/TrameMention.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 10px;
	font-weight: bolder;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 760px;
	text-indent: 30px;
	margin-right: auto;
	margin-left: auto;
}

.Mentions a:active, .Mentions a:link, .Mentions a:visited {
	color: #99CC00;
	text-decoration: none;
	font-weight: bolder;
}

.Mentions a:hover {
	color: #EEEEEE;
	text-decoration: none;
}

.MentionsRub {
	font-size: 10px;
	color: #FFFFFF;
	background-color: #FFFFFF;
	background-image: url(../_imgs/TrameMention.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin-top: 10px;
	font-weight: bolder;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 760px;
	text-indent: 30px;
	margin-right: auto;
	margin-left: auto;
}

.MentionsRub a:active, .MentionsRub a:link, .MentionsRub a:visited {
	color: #99CC00;
	text-decoration: none;
	font-weight: bolder;
}

.MentionsRub a:hover {
	color: #EEEEEE;
	text-decoration: none;
}



#PieddePage {
	font-size: 10px;
	color: #666666;
	padding: 10px;
	width: 780px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}