/*  Typographie generale du site
reprise de spipnet2007 - adaptation pour spipcontrib2007
---------------------------------------------- */
/* Taille typo : correspondance em / pixels
 * Base				100%
 * -------------------------------------
 * 20px				1.27em
 * 19px				1.21em
 * 18px				1.15em
 * 17px				1.09em
 * 16px				1.03em
 * 15px				0.96em
 * 14px				0.88em
 * 13px				0.82em
 * 12px				0.77em
 * 11px				0.71em
 * 10px				0.65em
 *  9px				0.59em
 * Attention : en dessous de 0.71em le texte devient illisible en text smallest sur MSIE
 */

body { font-size: 1em; color: #333; }

/* Typo pour les menus et la navigation */
body, #navigation, .formulaire_spip { font-family: "Trebuchet MS", Verdana, Tahoma, Arial, sans-serif; }

/* Typo pour le contenu */
#contenu, .encart { font-family: "Trebuchet MS", Verdana, sans-serif; }


/* Titraille
---------------------------------------------- */
.liste-articles li .titre { font-family: Georgia, Times, serif; }
h2.spip, h3.titre { font-family: Georgia, Times, serif; font-weight: bold; }

h1 { font-size: 1.27em; font-weight: bold; }
h1, h1 * { color: #3465a4 !important; }

h2.spip {
	margin: 2em 0 1em 0;
	font-size: 1.1em;
	border-bottom: 1px solid #3465a4;
	color: #007F7F;
}

h3.spip, .ps h2, .notes h2 {
	text-align: left;
	margin: 2em 0 1em 0;
	padding-bottom: 3px;
	font-size: 1.27em;
	font-weight: bold;
	border-bottom: 1px solid #3465a4;
	color: #007F7F;
}

/*  Cartouche
---------------------------------------------- */
.cartouche { margin: 1em 0 0 0; font-family: Georgia, Times, serif;}
#contenu .surtitre, #contenu .soustitre { font-size: 0.82em; }
.cartouche .spip_logos { float: right; margin-left: 16px; margin-bottom: 16px; }
.cartouche p { margin: 0; padding: 0; clear: left; font-size: 0.82em;}
.cartouche small { font-size: 0.77em; }
.cartouche .titre { font-size: 1.45em; font-weight: bold; color: #007F7F; }
.cartouche .traductions { font-size: 0.71em; }
.cartouche .traductions p { float: left; }
.cartouche .traductions li { float: left; margin-left: 1em; }
.cartouche .traductions a:hover, .cartouche .traductions .on { color: #000; }

/* Paragraphe et listes
---------------------------------------------- */
blockquote, .spip_cadre, hr { margin-bottom: 1em; }
p.spip {margin : 0.7em 0 0.7em 0; padding: 0;}
img, table { margin: 0; padding: 0; border: 0; }
ul.spip { margin: 0 0.2em; list-style-type: square; }
ul ul.spip { margin: 0 2em; }
ol ol.spip { margin: 0 2em; }
li.spip { margin-bottom: 0.1em 0 0 0.2em;  }


/* Citations, code et poesie
---------------------------------------------- */
blockquote, blockquote.spip, .spip_serif { font-family: Georgia, Times, serif; }

blockquote, blockquote.spip {
	margin: 1em 0;
	padding : 4px 1em 4px 1em;
	border: 1px solid #CCC;
	border-left: 4px solid #A0C0E0;
	color: #333;
}

tt, .spip_code, .spip_cadre {
	font-family: monospace;
	font-style: normal;
	font-size: 1.1em;
}

.spip_code { color: #345DA4; }
tt { color: #333; }

.spip_cadre {
	width: 98%;
	padding: 4px; padding-top: 0.5em;
	background: #eee;
	color: #3465a4;
	border: 1px inset #eee;
	border-left: 4px solid #345DA4;
}


/* Tableaux
---------------------------------------------- */
table.spip {
	margin: auto;
	margin-bottom: 1em;
	border: 1px solid;
	border-collapse: collapse; 
}
table.spip caption {
	caption-side: top; /* bottom pas pris en compte par IE */
	text-align: center;
	margin: auto;
	padding: 3px;
	font-weight: bold; 
}
table.spip tr.row_first { background: #FFC; }
table.spip tr.row_odd { background: #DDD; }
table.spip tr.row_even { background: #EEE; }
table.spip th, table.spip td { padding: 3px; text-align: left; vertical-align: middle; }

/* Mise en forme des textes du contenu
---------------------------------------------- */
.chapo {
	margin-bottom: 1.5em;
	font-weight: bold;
	font-size: 0.82em;
	line-height: 1.2em;
}

.texte {
	color: #000;
	font-size: 0.82em;
	line-height: 1.2em;
}
.lien {
	background: #F8F8FF;
	margin:  0.5em;
	padding: 0.5em;
	border-left: 10px solid #B0E0E6;
	font-size: 0.82em;
	font-weight: bold;
	color: #007F7F;
 }
  .descriptif {margin:  0.5em 0 1em 0;
	font-weight: bold;
	font-size: 0.82em;
	line-height: 1.1em;
	color: #55686A;
 }

/* Notes de bas de page
---------------------------------------------- */
.ps, .notes { margin-top: 1.4em; }
.ps { font-size: 0.82em; }
.notes { clear: both; font-size: 0.77em; }

/* Divers autres
---------------------------------------------- */
abbr, acronym { border-bottom: 1px dotted; cursor: help; }

hr { height: 1px; border: none; color: #3465a4; background: #3465a4; width: 70%; margin: 1.4em auto; }
.separateur { height: 1px ; border: none; color:#CCC; background: #CCC; width: 100%; margin: 0; }

b, strong { font-weight: bold; }
i, em { font-style: italic; }


/* Fin
---------------------------------------------- */