
/* Tous les .container quelques soient les écrans */
.container{
	@include outer-container;
	padding:0 1em;
	
	@include media($bp-normal-up){
		padding:0 5%;
	}
	@include media($bp-huge-up){
		padding:0 1em;
	}
	
	.page_document &{
		max-width:45em;
	}
}

/* Configuration hashgridesque */
$default-column-count: 12;
$default-column-width: flex-grid(1);
$default-gutter-width: flex-gutter();
$default-vertical-rhythm: 24px;
$default-vertical-guide-color: rgba(white,0);

@include hashgrid{
	@include setgrid(1);
}

