
/* Mises aux couleurs du thème pour les éléments de base */
body{
	color:$couleur-texte;
	font-family:$typo-font-text;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6{
	font-family:$typo-font-heading;
	font-weight:lighter;
}

/*h1{
	text-transform:uppercase;
}*/

