
/* Palette de couleur */


/* Palette fonctionnelle */
$couleur-texte:#444;

$typo-line-height: 1.5;
$typo-margin-vertical: $typo-line-height*1em;
$typo-font-text:pt_sans, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif, sans;
$typo-font-heading:dosis, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif, sans;
