/* 
 _________________________________________________________
|                                                         |
|    DESIGN + http://fullahead.org                        |
|      DATE + 2005.05.12                                  |
| COPYRIGHT + free use if this notice is kept in place    | 
|_________________________________________________________|

*/



/* -- Main layout styles -- */

body {
  margin: 1em 1em 1em 1em;
  padding: 0px;
  font-family: verdana, sans-serif;
  font-size: 1.0em;
  background-color: #333;  
}

#siteBox {
  float: left;
  width: 100%;
  color: #FFF;
}

.bord_banner{
        /* background: #53A0FF; */
        background: #777;
        border: none ;
        margin-top: 17px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding: 3px;
        font-size: 90%;
        text-align: center;
}




/* -- Header layout/display styles -- */

#header {
  float: left;
  width: 100%;
  height: 4em;
  background: #25509F url(../images/hdr.jpg) no-repeat bottom left;
}

#header a {
  float: right;
  width: 8em;
  padding: 5px 10px 5px 10px;
  font-size: 0.6em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  background-color: #666;
  border-bottom: 2px solid #333;
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}

h3{
  font-size: 0.8em;
  border: 1px dotted;
}

#header a:hover, #header a.active {
  padding-top: 10px;
  background-color: #333;
}

#header a.lastMenuItem {
  background-image: url(../images/corner_tr.gif);
  background-repeat: no-repeat;
  background-position: top right;
  border-right: 0px;
}

a .desc {
  display: none;
  color: #FC0;  
}

a:hover .desc, .active .desc {
  display: block;
}




/* -- Header title and subTitle layout/display styles -- */


.title {
  float: left;
  padding: 1em 30px 0 2em;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  line-height: 0.75em;
  letter-spacing: -0.02em;
  color: Red;
}

.subTitle {
  display: block;
  font-size: 0.7em;
  line-height: 1.2em;
  color: Red;
  letter-spacing: 0.07em;
}




#ads{
 z-index:2;
}
#warning{
 position: absolute; 
 z-index:-1;
 clear:both;
}
/* -- Content layout/display styles -- */

#content {
  float: left;
  width: 100%;
  padding-top: 7px;
  background-color: #666;
}

#contentLeft {
  float: left;
  width: 21%;
  margin-bottom: 1em;
  margin-left: 1px;
  background: #777 url(../images/corner_sub_tr.gif) no-repeat top right;
  overflow: hidden;
}

#contentRight {
  float: right;
  width: 76%;
  padding: 10px;
  background: #777 url(../images/corner_sub_tl.gif) no-repeat top left;
}


#content p {  
  margin: 0.2em 0.2em 0.2em 0.2em;
  font-size: 0.8em;
  line-height: 1.4em;
}

#content a {  
  text-decoration: none;
  color: #FC0;
  border-bottom: 1px solid #AAA;
}

#content a:hover {
  color: #DDD;
  background-color: #888;
  border-bottom: 1px solid #EEEEEE;
}

.header, .subHeader {
  display: block;
  clear: both;  
  font-weight: bold;
  font-size: 0.8em;
  color: #FC0;
  border-bottom: 1px solid #AAA;    
}

.subHeader {
  border: 0px;
}





/* -- Content left site links (large plus icon) -- */

#content a.menuItem {
  display: block;  
  padding: 5px 0 5px 54px;
  background: url(../images/icn_plus.gif) no-repeat center left;
  border: 0px;
}

#content a:hover.menuItem { 
  color: #DDD;
  background: #888 url(../images/icn_plus_on.gif) no-repeat center left;
  border: 0px;
}
/* -- Content left site links (no plus icon) -- */

#content a.menunoItem {
  display: block;  
  border: 0px;
}

#content a:hover.menunoItem { 
  color: #DDD;
  border: 0px;
}




/* -- Footer layout/display styles -- */

#footer {
  float: left;
  width: 100%;
  height: 3em;
  font-size: 0.6em;
  line-height: 2.6em;
  color: #0AD;
  background: #25509F url(../images/hdr.jpg) repeat-y top left;
}

#footerLeft {
  float: left;
  width: 60%;
  height: 3em;
  text-align: left;
  background: url(../images/corner_bl.gif) no-repeat bottom left;
}

#footerRight {
  float: right;
  width: 35%;
  height: 3em;
  text-align: right;
  background: url(../images/corner_br.gif) no-repeat bottom right;
}

#footer a {
  color: #0AD;
}

#footer a:hover {
  color: #666666;
}




/* -- Display formatting styles -- */

.grey {
  font-size: 0.9em;
  color: #AAA;
}

.white {
  color: #FFF;
}
.Orange {
  color: Orange;
}

acronym {
  cursor: help;
  border-bottom: 1px dotted #AAA;
}






/* -- <ul> tag styles -- */

ul{
  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-image: url(../images/li_bullet.gif);
}

li {
  margin-left: 50px;
}






/* -- Image alignment classes -- */

.imgLeft, .imgRight {
  margin: 5px;
}

.imgLeft {
  float: left;
  margin-left: 0px;
}

.imgRight {
  float: right;
  margin-right: 0px;
}
.menu_gauche {
        border-top: 1px dashed #a0a0a0;
        border-bottom: 1px dashed #d0d0d0;
        margin: 1px;
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 80%;
}
.menu_gauche_s {
        border-top: 1px dashed #a0a0a0;
        margin: 1px;
        padding-left: 14px;
        padding-right: 7px;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 80%;
}






/* -- Utility classes to create the bottom rounded corners -- */

.bottomCorner {
  text-align: right;
}

.vBottom {
  vertical-align: bottom;
}

#edito {
  width: auto;
  font-family: verdana, sans-serif;
  font-size: 12px;
}


#cal {
        width: 130px;
}
#contentTopRight {
        margin: 1.1em 1.2em 0px 1.2em;
}

.adHeadline {font: bold 10pt Arial; text-decoration: underline; color: blue;}
.adText {font: normal 10pt Arial; text-decoration: none; color: black;}

/* Calendrier */
/* la case comportant le mois tout en haut */
.calendrier-mois {
        text-align: center;
/*      height: 12px; */
        font-size: 12px;
        font-weight: bold;
        margin-top: 1px;
}
/* les cases L M M J V S D */
.calendrier-semaine {
        color: white;
        font-size: 12px;
        text-align: center;
        padding-right: 1px;
}
/* la case d'aujourd'hui */
.today {
        background-color: #ddd;
        color: black;
        text-align: center;
        font-weight: bold;
        padding-right: 1px;
        font-size: 12px;
}
/* case d'un jour de la semaine */
.weekday {
        text-align: center;
        padding-right: 1px;
        font-size: 12px;
}

/* case de week-end */
.weekendday {
/*      background-color: #dbb; */
/*      color: black; */
        text-align: center;
        padding-right: 1px;
        font-size: 12px;
}
/* case active en semaine */
.activeday {
        background-color: #aaa;
        text-align: center;
        font-weight: bold;
        padding-right: 1px;
        font-size: 12px;
}
/* case active en week-end */
.activeweekendday {
        background-color: #aaa;
        text-align: center;
        font-weight: bold;
        padding-right: 1px;
        font-size: 12px;
}
/* case des jours des autres mois */
.outday {font-size: 12px;}
/* !Calendrier */


