<plugin>
	<nom>SPIP reset</nom>
	<slogan>Evitez les diffusions involontaires !</slogan>
	<version>2.0.0</version>
	<etat>stable</etat>
	<icon>img_pack/spip_reset_48.png</icon>
	<description>Squelettes pour ne rien publier. Ce plugin annule tous les squelettes par d&#233;faut de SPIP, ce qui permet d'&#233;viter la fuite involontaire d'informations d'un site.</description>
	<auteur>[Jacques->https://contrib.spip.net/_Jacques-PYRAT_]</auteur>
	<licence>(c) 2010-2011 - GPL</licence>
	<lien>https://contrib.spip.net/?article3873</lien>
	<prefix>spip_reset</prefix>
	<categorie>squelette</categorie>
	<necessite id='SPIP' version='[2.1.0;2.1.99]' />
	<chemin dir='' />
</plugin>