.pagination {
	text-align: center;

	.sep, .label {
		display: none;
	}

	.lien_pagination, .on, .tbc {
		display:         inline-block;
		padding:         0.2em 0.5em;
		text-decoration: none;
		line-height:     1;
	}

	.lien_pagination:hover,
	.lien_pagination:focus,
	.lien_pagination:active {
		color:            #FFF;
		background-color: $couleur-nav;
	}

	.pages .on {
		color:            #FFF;
		background-color: $couleur-nav-alt;
	}

	.next, .prev {
		font-weight: bold;
	}

	.disabled {
		display: inline-block;
		color:   $couleur-gris4;
	}

	@include media($bp-small) {
		.pages .lien_pagination,
		.pages .tbc {
			display: none;
		}
	}

}

.col .prev,
.col .next {
	display: none;
}