<plugin>
    <nom>Eva livre 2.0 pour EVA-web 4.0</nom>
    <auteur>Laurent JULLIEN Equipe de d&eacute;veloppement d'Eva</auteur>
	<licence>[GNU GPL->http://www.april.org/gnu/gpl_french.html]</licence>
    <version>0.1</version>
    <etat>dev</etat>
    <description>
    {{{Publication d'une s&eacute;rie d'articles sous forme de livre}}}
    
    {{Int&eacute;ret de ce plugin}}<br />
    - Publier les articles d'une rubrique sous forme de livre<br />
    - Permettre le passage d'un article à un autre par pagination <br />

    {{Mise en place de ce plugin}}<br />
    - Activer le plugin en cochant la case ci-contre, puis valider<br />
    - Suivre la proc&eacute;dure de mise en place du livre d&eacute;crite dans l'aide d'Eva<br />
    </description>
    <prefix>livre_2</prefix>
</plugin>