<plugin>
	<nom>Eva livre 2.0 pour EVA-web 4.1</nom>
	<slogan>Publication d&#8217;une s&#233;rie d&#8217;articles sous forme de livre</livre>
	<auteur>Laurent JULLIEN, Olivier Gautier, &#233;quipe de d&#233;veloppement d&#8217;Eva</auteur>
	<licence>GNU/GPL</licence>
	<version>0.1.0</version>
	<etat>stable</etat>
	<description>	
{{Int&#233;ret de ce plugin}}
- Publier les articles d&#8217;une rubrique sous forme de livre
- Permettre le passage d&#8217;un article à un autre par pagination

{{Mise en place de ce plugin}}
- Activer le plugin en cochant la case ci-contre, puis valider
- Suivre la proc&#233;dure de mise en place du livre d&#233;crite dans l&#8217;aide d&#8217;Eva
	</description>
	<prefix>livre_2</prefix>
	<categorie>squelette</categorie>
	<necessite id="spip" version="[2.0.0;2.1.99]" />
</plugin>
