@import "css/bootstrap-start";

.header {position: relative;margin-bottom: 2*$spacer;}
.header .accueil a {color: inherit;}
.header .spip_logo {float:left;margin: $padding-y-lg $padding-x-lg;margin-left: 0;margin-top:0;}
.header .accueil {margin-top: $spacer}
.header #slogan_site_spip {display: block;}
.header .formulaire_menu_lang {text-align: right;select {width: 100%}}

[class^="icon-"], [class*=" icon-"] {opacity: 0.5;}

.formulaire_recherche,.secondary .formulaire_recherche {padding-right: 42px+2*14px;} /* provisionner la largeur du bouton+padding sur le input.search */
.formulaire_recherche form .input-append {width:100%;}
.formulaire_recherche form input.search {width:100%;}

.jumbotron {
  h1, .entry-title {
    font-size: $h1-font-size;
  }
  padding: 2 * $spacer;
}

.content.primary {min-height: 320px;}
.primary {
  a {text-decoration: underline};
  .entry-title a,a.btn,.nav a {text-decoration: none};
}
.breadcrumb {
  a {text-decoration: none;}
  background-color: $gray-100;
}

.minicalendar > h2 {display: none;}
.categories.well {

}

.content {
  article,section {
    .cartouche,.main,footer,aside {
      @include clearfix();
    }
    .cartouche p {margin-bottom: 0}
  }
  .liste .publication {display: block;}
  .postmeta .tags {ul,li {display: inline;}}
  .main,footer {margin-bottom: $spacer;}
}
.page_auteur .liste.articles .info-publi .auteurs {display: none;}

.footer {
  padding-top: 2em;
  border-top:2px solid;
  padding-bottom: 2em;
  text-align: left;
  position:relative;
  .colophon {padding-right: 100px}
  .generator {position: absolute;top:2em;right:0;max-width: 100px;}
}


// home
.page_sommaire {
  .breadcrumb {display: none;}

  .liste.long.articles {
  h2 {display: none;}
  }
}

// rubrique
.page_rubrique {
}

// tag
.page_mot .content h1 {
  font-size: 1.5rem;
  line-height: 1;
  .label{
    font-size: 1em;
    line-height: 1;
    [class^="icon-"], [class*=" icon-"] {margin-top: 6px;}
  }
}

// plan
.page_plan,.page_archives {
  h4 {margin-bottom: 0}
  .liste-items {margin-bottom:$spacer}
  .liste-items.short.articles {
    .entry-title {font-weight: normal;}
    .authors {display: none;}
  }
}

.comment-item {
  .comment-meta {
    .item {display: none;}
  }
}
