@import "css/variables.less";
@import "css/spip.variables.less";
@import "css/mixins.less";

.header {position: relative;margin-bottom: 2*@emLineHeight;}
.header .accueil a {color: inherit;}
.header .spip_logos {float:left;margin: @paddingLarge;margin-left: 0;margin-top:0;}
.header .accueil {}
.header #slogan_site_spip {display: block;}
.header .formulaire_menu_lang {text-align: right;select {width: 100%}}

[class^="icon-"], [class*=" icon-"] {opacity: 0.5;filter: ~"alpha(opacity=50)";}

.formulaire_recherche,.secondary .formulaire_recherche {padding-right: 42px+2*14px;} /* provisionner la largeur du bouton+padding sur le input.search */
.formulaire_recherche form .input-append {width:100%;}
.formulaire_recherche form input.search {width:100%;}

.hero-unit h1 {font-size: @baseFontSize * 2.75;line-height: 2*@baseLineHeight;}
.hero-unit {
  p [class^="icon-"], p [class*=" icon-"] {margin-top: 4px;}
  padding: 2*@baseLineHeight;
}

.breadcrumb {
  background-color: @grayLighter;
}

.minicalendar > h2 {display: none;}
.categories.well {padding-left: 0;padding-right: 0;}

.content {
  article,section {
    .cartouche,.main,footer,aside {.clearfix}
    .cartouche p {margin-bottom: 0}
  }
  .liste .publication {display: block;}
  .postmeta .tags {ul,li {display: inline;}}
  .main,footer {margin-bottom: @emVertMargin;}
}
.page_auteur .liste.articles .info-publi .auteurs {display: none;}


// home
.page_sommaire {
  .breadcrumb {display: none;}

  .liste.long.articles {
  h2 {display: none;}
  }
}

// rubrique
.page_rubrique {
}

// tag
.page_mot .content h1 {
  font-size: @emLineHeight;
  line-height: 1;
  .label{
    font-size: 1em;
    line-height: 1;
    [class^="icon-"], [class*=" icon-"] {margin-top: 6px;}
  }
}

// plan
.page_plan,.page_archives {
  h4 {margin-bottom: 0}
  .liste-items {margin-bottom:@emVertMargin}
  .liste-items.short.articles {
    .entry-title {font-weight: normal;}
    .authors {display: none;}
  }
}

.comment-item {
  .comment-meta {
    .item {display: none;}
  }
}
