<plugin>
    <nom>EVA_NEWS : Bloc de news avec d&eacute;filement</nom>
    <auteur>Samuel "PoongalOO" [->sam@poongaloo.org]</auteur>
    <version>0.1</version>
    <etat>test</etat>
    <description>
    {{Articles sous forme de news avec d&eacute;filement automatique}}<br />
    - Publier une s&eacute;rie d'articles dans un bloc avec des effets<br />
    - Liste des effets possibles : sans effet, fade out/in, slide up/down, left/right<br />
    - Temporisation r&eacute;glable<br /><br />
	 
	 {{Utilisation :}}<br/>
	 Vous devez ins&eacute;rer la ligne <code><INCLURE {fond=articles_news}{ajax}></code> dans votre squelette &agrave; l'endroit où doit apparaître le bloc de news<br/>
    Bas&eacute; sur [EASYNEWS->http://www.ezjquery.com/cgi-bin/webapp.rb?r=access#] 
    </description>
    <lien>http://eva-web.edres74.net</lien>
    <prefix>evanews</prefix>
	
	<bouton id='eva_news' parent='configuration'>
      <icone>img_pack/evanews.png</icone>
      <titre>eva news</titre>
  </bouton>
    
	<pipeline>
		<nom>insert_head</nom>
		<inclure>head.php</inclure>
	</pipeline>
	  
</plugin>
