/**
 * Configuration de la grille utilisée
 *
 * http://gridle.org/
 *
 * Définition des breakpoints, des gouttières, etc.
 */

/**
 * Paramètres généraux de la grille
 */
@include g-setup( (
  context :       12,
  gutter-width :  $bs,
  gutter-height : 0,
  gutter-left :   $bs/2,
  gutter-right :  $bs/2,
  gutter-top :    0,
  gutter-bottom : 0,
  direction :     ltr,
  states-classes: false
) );

/**
 * States : définition des breakpoints en mobile first
 * Il est possible de surcharger tous les paramètres de la grille pour chaque state
 */
 @include g-register-state(tablet-up, (
  min-width : em(480)
));
@include g-register-state(desktop-up, (
  min-width : em(960)
));
@include g-register-state(large-up, (
  min-width : em(1200),
));