/**
 * Définition des variables du projet
 */

/**
 * Palette de couleurs
 * À ne pas utiliser directement, sert pour la map suivante
 */
$couleur-rouge:    hsl(  0, 55%, 50%);
$couleur-emeraude: hsl(160, 50%, 50%);
$couleur-bleu:     hsl(200, 50%, 50%);
$couleur-gris:     hsl( 30, 10%, 65%);
$couleur-sombre:   hsl( 30, 10%, 10%);
$couleur-claire:   hsl( 30, 10%, 90%);
$couleur-vert:     hsl( 85, 85%, 40%);
$couleur-jaune:    hsl( 45, 80%, 55%);

/**
 * Palette fonctionnelle
 * Utiliser ces couleurs au moyen de la mixin color(nom-de-lacouleur)
 */
$couleurs: (
  principale:  $couleur-emeraude,
  secondaire:  $couleur-rouge,
  texte:       $couleur-sombre,
  texte-clair: $couleur-gris,
  lien:        $couleur-emeraude,
  lien-clair:  lighten($couleur-emeraude, 10),
  lien-sombre: darken($couleur-emeraude, 10),
  bordure:     lighten($couleur-gris, 10),
  claire:      $couleur-claire,
  sombre:      $couleur-sombre,
  success:     $couleur-vert,
  error:       $couleur-rouge,
  warning:     $couleur-jaune,
  info:        $couleur-bleu,
);

/**
 * Typographie
 */
// Taille de police de base
$typo-font-size: em(16px);
// Taille de police proportionnelle à la largeur de l'écran
$typo-font-size-fluid: calc(#{$typo-font-size} + 0.25vw);
// Interlignes
$typo-line-height: 1.5;
// Base spacing = hauteur d'1 ligne
$bs: $typo-font-size * $typo-line-height / 1em * 1rem;

/**
 * Familles de polices
 */
// Texte principal
$typo-font-text: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Verdana", sans-serif, sans;
// Titres
$typo-font-heading: "Arial Black", "Arial Bold", "Gadget", sans-serif, sans;
// Textes alternatifs (par ex. chapos, sous-titre etc.)
$typo-font-alt: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Georgia", serif;
