/* -------------------------------------------------------
  Ces styles s'ajoutent ou modifient base.css
  These styles add or modify styles in base.css
------------------------------------------------------- */

body {
	background-color: #690606;
	background-image: none;
}

#page
{
	background-color: #F9EDD9;
	width: 75%;
	min-width: 780px;
	max-width: 1000px;
}


#entete       /* background banner */
{
	margin: 0px 0px 0px 0px;
	background-image: url("img/banner.jpg");
	border: 0px;
	height: 120px;
	overflow: hidden;
}

/*  second background image in the banner */
#entete a.nom-site,
#entete a.nom-site:link,
#entete a.nom-site:visited
{
	background-image: url("img/fluidright.jpg");
	background-position: right top;
	background-color: transparent;
	background-repeat: no-repeat;
}


/* we hide the site's name  */
#entete .nom-site span
{
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#menu-lang { top: 4px }

/* -------------------------------------------------------
  Changement de couleur de fond pour les blocs de navigation
------------------------------------------------------- */


/* COULEURS des menus et edito */
.menu ul li a,
.menu ul li b
{
	background-color: #A45F1C;
	border-style: none;
	background-image: none;
}

.edito h3 { background-color: #371f02; }

/* bleu fonce extrait de l'image du bandeau */
.menu ul li li a
{
	background-image: url("img/aab.jpg");
	background-color: white;
	background-repeat: repeat;
	color: black;
}

.menu li span
{
	background-color: #A45F1C;
	color: black;
}



/* -------------------------------------------------------
   MENU PRINCIPAL HORIZONTAL au dessus du bandeau
   Horizontal menu over banner
 ------------------------------------------------------- */


#bloc-contenu
{
	color: black;
	background-color: #F9EDD9;
	border: 1px solid #630;
}

#encart, #menu-rubriques { top: 128px; }

/* -------------------------------------------------------
   Changement de couleur de fond pour les menus de navigation
 ------------------------------------------------------- */


/* COULEURS des menus et edito */
.menu-item,
.menu-titre-special, 
.menu-titre,
.menu ul li a, 
.menu ul li b,
.edito h3 { background-color: #A45F1C; }

/* bleu fonce extrait de l'image du bandeau */
.menu ul li { border-top: 1px solid #F9EDD9; }

#menu-principal.menu ul li a,
#menu-principal.menu ul li a:visited
{
	background-color: #e6741c;
	font-weight: bold;
	text-transform: uppercase;
}
#menu-principal.menu ul li a:hover { background-color: #F9EDD9;}
#menu-principal.menu ul li { border-top: 1px solid #690606; }

/* separateur : meme couleur que fond de BODY */
.menu ul li a, 
.menu ul li b,
.edito h3,
.signatures td { background-image: none; }

/* background */
.menu ul li li a, 
.menu ul li li a:visited,

li.annonce { color: #211; background-color: white; }

.menu ul li a:hover,
.menu ul li li a:hover,
.menu ul li li a.article:hover { background-color: #EDFBFF; }
.menu ul li li a.lienon, .menu li span { background-color: #FEE7C5; }
.menu ul li li a.article { background-color: #FFFFED; }



/* -------------------------------------------------------
   Autres changement de couleur et typo
 ------------------------------------------------------- */


.chapo,
.extrait,
.edito .chapo
{
	background-color: #F9EDD9;
	color: #211;
}
