.page_sommaire img.spip_logos {
    border: 0 none;
    float: none;
    margin: 5px auto;
    padding: 0;

}

body.page_article .box-related {
	margin: 0 0 20px;
	padding: 0;
}
body.page_article .box-related .title h2 {margin: 0;font: bold 24px/28px Vollkorn,serif;color: #4A9BAC;display: block;}
body.page_article .box-related .title p {color: #666666;margin: 0; font: italic 14px/18px Vollkorn,serif;display: block;padding: 0;}
body.page_article .box-related .title { background: none repeat scroll 0 0 transparent; border-bottom: 1px dashed; border-bottom-color: #EAEAEA; border-top: 0 none; padding: 5px 0;margin: 0 0 10px 0;}
body.page_article .box-related a:hover{text-decoration: underline;}
body.page_article .box-related ol {display: block;list-style-type: none; margin: 0;padding: 0;width: 680px;float: left;}
body.page_article .box-related li {display: block;float: left; margin: 0 15px 0 0;padding: 0;width: 136px;list-style-type: none;}
    
    
    
body.page_article .box-related img.spip_logos {
    border: none;
    float: none;
    margin: 0;
    padding: 0;
}


div#formulaire_recherche input.submit { 
    background: url("img/button-search.png") no-repeat scroll left top transparent;
    color: #4A4A4A;
    text-shadow: 1px 1px #FFFFFF;
    border: 0 none;
    float: left;
    height: 34px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 70px;
}